.medium-title {
    color: #000;
    /* color: #FFF; with blue background*/
    /* color: #0B24F5; on previous to last section column title*/
    font-family: Montserrat;
    /* font-family: Hind; 2nd section*/
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}