.maintitle {
    color: var(--primary);
    font-family: var(--heading-font);
}

.subtitle {
    color: var(--text);
    font-family: var(--heading-font);
}

.normaltext {
    color: var(--text);
    font-family: var(--paragraph-font);
}

.tag-text {
    font-family: var(--heading-font);
    font-size: 16px;
    color: white;
}

.tag-text {
    font-family: var(--heading-font);
    font-size: 16px;
    color: white;
}

.tag-background {
    background-color: var(--text);
    padding: 2px 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
}