.maintitle {
    color: var(--primary);
    font-family: var(--heading-font);
}

.subtitle {
    color: var(--text);
    font-family: var(--heading-font);
}

.normaltext {
    color: var(--text);
    font-family: var(--paragraph-font);
}