.main-title {
  color: blue;
  font-family: Montserrat;
}

.normal {
  font-family: Arial, Helvetica, sans-serif;
}

.tag-text {
  color: #fff;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.tag-background {
  background-color: black;
  padding: 2px 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
}
