body {
  margin: 0;
  background-color: rgb(216, 189, 189);
  color: black;
  display: flex;
  place-items: center;
  font-family: 'Modern-sans';
}
#root {
  width: 100vw;
  height: 100vh;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
}

h1 {
  font-family: 'Beluno';
  font-size: 3.2em;
  line-height: 1.1;
}

.loading {
  width: 90%;
  height: 100vh;
  max-height: 100vh;
  margin: 0 auto;
  text-align: center;
}

.loading h1 {
  padding-top: 5em;
  font-size: 60px;
}

a {
  font-weight: 500;
  color: black;
  text-decoration: inherit;
}
a:hover {
  color: var(--pink);
}
a:hover::after {
  color: black;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: var(--pink);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/*Save this in case I want to add footer*/
.footer {
  background-color: black;
  color: white;
  padding: 3em 0;
  white-space: nowrap;
}

@media screen and (min-width: 768px) {
  .loading h1 {
    padding-top: 3em;
    font-size: 120px;
  }
}

@media screen and (min-width: 1024px) {
  .loading h1 {
    font-size: 160px;
    padding-top: 2.2em;
  }
}
