:root {
	--main-color: #0B24F5;
	--secondary-color: #FF4575;
	--text-color: #000;
	--text-color-bright: #fff;
	--bg-color-bright: #fff;
	--bg-color-dark: #0B24F5;
	--code--bg-color: #eb5577;
	--toolbox--bg-color: #2483e0;
	/*had to change the color of the design for this element (upcoming header) in order to pass the accessibility test (contrast in original design was not good enough)*/
	--upcoming--bg-color: #4d9867;
	--more--bg-color: #f2c94c;
}



html,
body {
	margin: 0;
	padding: 0;
	background-color: var(--bg-color-bright);
}


body {
	color: var(--text-color);
	font-family: hind-regular, sans-serif;
	margin: 0 auto;
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: montserrat, sans-serif;
	color: var(--main-color);
}

p {
	font-family: "Hind", sans-serif;
}
