*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  max-width: 100%;
  margin: 0 auto;
}

body {
  font-family: 'Montserrat', 'Hind', Arial, Helvetica, sans-serif;
  background-color: #e1e9e3;
}
main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
h2 {
  font-family: Montserrat;
}
