@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,600;1,600&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Hind&display=swap");

/*General styling*/
:root {
  --color-1: #fea837;
  --color-2: #de741c;
  --color-3: #b85b56;
  --color-4: #84495f; /*title and background, main color*/
  --color-5: #593e67;
  --color-6: #ffffff;
  --color-7: #e6cfdc;
  --color-8: #fff7e6;
  --color-9: #fff3e6;

  /* --contact-icon-grey: #d0d0d0;
  --link-btn-grey: #f1eeee; */
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: var(--color-9);
  color: var(--color-5);
  width: 100%;
  font-family: Hind;
  font-size: 18px;
}

p {
  font-family: Hind;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  background: none;
  border: none;
}
