@import url('https://fonts.googleapis.com/css2?family=Hind:wght@400;600&family=Montserrat:wght@600;700&display=swap');

main{
  display: block;
  margin: auto;
  /* width: 375px;
  border:  1px solid var(--firstly-color); */
}

@media (min-width: 667px) and (max-width: 1024px){
  /* main{
    width: 616px;
  } */
}

@media (min-width: 1025px){
  /* main{
    width: 839px;
  } */
}