:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  width: 100%;
  color-scheme: light dark;
  background-color: #ff4575;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

/* INTRO SECTION */

.intro-element {
  width: 100%;
  height: 100vh;
  background-color: white;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.intro-element button {
  position: absolute;
  bottom: 5%;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  border: none;
  background: none;
  :hover {
    cursor: pointer;
  }
}

.intro-container {
  display: grid;
  justify-content: space-evenly;
}

.intro-main-header {
  font-size: 32px;
  font-weight: 600;
}

.intro-second-header {
  font-size: 80px;
  font-weight: 700;
  color: #484fd9;
}

.intro-paragraph {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.intro-container,
.intro-paragraph {
  max-width: 750px;
  margin-left: auto;
  margin-right: auto;
}

.intro-image {
  border-radius: 50%;
  width: 160px;
  height: 160px;
}

.intro-text {
  width: 75%;
  margin: auto;
  font-size: 14px;
}

/* TECH SECTION */

.tech-element {
  position: relative;
  display: flex;
  align-items: center;
  background-color: #484fd9;
  width: 100%;
  height: 100vh;
  color: white;
}
.tech-container {
  display: flex;
  align-items: center;
  margin: 50px;
  width: 100%;
  height: 100%;
}

.tech-text {
  padding: 0 86px;
  text-align: center;
  font-size: 32px;
  font-weight: 600;
}

.tech-header {
  font-weight: 800;
  font-size: 80px;
}

.wave-separator {
  background: url("/wave.svg") repeat-x;
  width: 100%;
  height: 20px;
  position: absolute;
  bottom: -14px;
}

/* PROJECTS SECTION */

.project-page {
  background: #ffecea;
}
.project-main-title {
  color: #0b24f5;
  font-size: 80px;
  margin-top: 0;
  font-weight: 700;
}

.project-page-content {
  max-width: 900px;
  margin: auto;
  padding: 60px 0;
}

.projects-element {
  color: black;
  display: flex;
  flex-direction: column;
  margin: 60px 0;
}

.projects-main {
  align-self: center;
}

.flex-box {
  display: flex;
}

.projects-info {
  flex-direction: column;
  margin-left: 12px;
}

.projects-image {
  border-bottom: 12px solid #484fd9;
  border-left: 12px solid #484fd9;
  width: 408px;
  height: 280px;
}

.projects-title {
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  margin-top: 0px;
}
.projects-text {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  margin-top: 0px;
}

.project-demo-link:hover {
  background-color: #0b24f5;
  color: white;
  img {
    filter: invert(10) brightness(10);
  }
}

.projects-links {
  margin-top: auto;
}

.project-link {
  display: flex;
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
  margin-right: 32px;
  height: 48px;
  border-radius: 24px;
  padding-right: 16px;
  background-color: #f5f5f5;
  color: #333333;
  :hover {
    cursor: pointer;
  }
}

.project-git-link:hover {
  background-color: #ff4575;
  color: white;
  img {
    filter: invert(10) brightness(10);
  }
}

.project-link img {
  height: 48px;
}

.technology {
  background: black;
  color: white;
  padding: 2px;
  margin: 2px;
  border-radius: 2px;
  font-weight: 600;
  padding: 0 8px;
}

.project-link-text {
  line-height: 1;
  align-self: center;
}

/* INFO SECTION */

.info-element {
  width: 100%;
  height: 100vh;
  background-color: white;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.info-container {
}

.info-header {
  font-size: 80px;
  font-weight: 700;
  color: #484fd9;
  display: flex;
  justify-content: center;
}

.info-paragrah {
  display: grid;
  justify-content: center;
}
.info-image {
  border-radius: 50%;
  width: 160px;
  height: 160px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.info-text {
  display: grid;
  justify-content: center;
  font-size: 32px;
  font-weight: 600;
  text-align: center;
  margin-top: 50px;
}

/* SKILL SECTION */
.skill-page-title {
  color: white;
  font-size: 80px;
  text-align: center;
  font-weight: 700;
  margin: 0px;
}

.skill-page {
  background-color: #484fd9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  padding: 128px 0;
}

.skill-title {
  width: fit-content;
  padding: 0 5px;
}

.skill {
  flex-direction: column;
  margin: 0 25px;
}

.skill-page-lists {
  margin: auto;
}

.skill-items {
  list-style-type: none;
  margin-block-start: 0px;
  padding-inline-start: 5px;
}

.skill-item {
  margin-bottom: 2px;
}

/* FOOTER SECTION */

.footer-text {
  display: flex;
  justify-content: center;
  background-color: #ff4575;
  color: white;
  font-size: 26.04px;
  font-weight: 600;
  width: 100%;
  height: 114px;
  text-align: center;
}

.footer-text p {
  margin: auto;
}

/* DESKTOP */
@media (min-width: 746px) and (max-width: 1281px) {
}

/* TABLET */
@media (min-width: 377px) and (max-width: 745px) {
  .tech-container {
    flex-direction: column;
  }
}

/* MOBILE */
@media (max-width: 376px) {
  .intro-element {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  .intro-main-header {
    font-size: 18px;
  }

  .intro-second-header {
    font-size: 32px;
  }

  .intro-image {
    position: absolute;
    top: 30px;
  }

  .intro-text {
    font-size: 18px;
    width: 100%;
  }

  .intro-container {
    margin-top: 64px;
    justify-content: left;
  }

  .intro-paragraph {
    margin-top: 32px;
  }

  .intro-container,
  .intro-paragraph {
    width: 100%;
    padding: 0 16px;
  }

  .tech-container {
    flex-direction: column;
    margin: 0px;
  }

  .tech-text {
    padding: 0px;
    font-size: 24px;
    text-align: left;
    margin: 0 16px;
  }

  .projects-main {
    flex-direction: column;
  }

  .projects-image {
    width: 90%;
    height: auto;
  }

  .skill-page {
    padding: 70px 0;
  }
  .skill-page-lists {
    flex-direction: column;
  }
}
