@import url("https://fonts.googleapis.com/css2?family=Hind&family=Montserrat:wght@600&display=swap");
* {
  margin: 0;
  padding: 0;
}

:root {
  h1,
  h2,
  h3,
  h4,
  h5 {
    font-family: "Montserrat", sans-serif;
  }
}

.container {
  /* height: 100vh; */
  /* border: 5px solid grey; */
  width: 375px;
  margin: 0 auto;
}
