:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
  background: white;
}


p {
font-family: Hind;
font-size: 22px;
font-weight: 400;
line-height: 35px;
letter-spacing: 0em;
text-align: left;
color: black;
}


h2 {
  font-family: Montserrat;
  font-size: 80px;
  font-weight: 700;
  line-height: 98px;
  letter-spacing: 0em;
  text-align: center;
  color: #0B24F5;
}

h3 {
  font-family: Hind;
font-size: 22px;
font-weight: 400;
line-height: 35px;
letter-spacing: 0em;
text-align: left;
color: #000000;
}

.btn live-demo-link {
/* Live-Demo-Button */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px 16px 0px 0px;
gap: 7px;

position: absolute;
width: 179px;
height: 48px;
left: 338px;
top: 106px;

background: #F5F5F5;
border-radius: 40px;


/* Live Demo */

width: 48px;
height: 48px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* globe */

position: absolute;
left: 18.75%;
right: 16.69%;
top: 18.75%;
bottom: 16.69%;

background: #333333;


/* Live demo */

width: 108px;
height: 24px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 24px;

color: #333333;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;
}

.presentation {
  Width: 1280px;
  Height: 980px;
}

.tech-skills {
width: 1280px;
height: 980px;
top: 982px;
padding: 0px, 128px, 0px, 230px;
}

.tech-skills {
  background-color: blue;
  /* Other styles for .tech-skills class */
}

.tech-skills-heading {
  color: white;
  /* Other styles for .tech-skills-heading class */
}

.tech-skills-paragraph {
  color: white;
  /* Other styles for .tech-skills-paragraph class */
}