footer {
    background: #072bce;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 200px;
}

.footer-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-text p {
    margin: 5px 0;
}