body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.header-img {
    background-image: url("https://images.unsplash.com/photo-1470219556762-1771e7f9427d?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1789&q=80");
    height: 500px;
    padding: 40px 36px 0 36px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
}

.icon-box {
    display: flex;
    justify-content: space-between;
    width: 115px;
}

.icon {
    border: 3px solid #000;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-image {
    width: 19px;
}

.icon:hover {
    transform: scale(1.1);
}


.header-text {
    align-self: flex-start;
}

.header-text p {
    margin-bottom: 30px;
}

.header-text h1 {
    margin-top: -25px;
}

.profile-pic {
    border: 2px solid #fff;
    border-radius: 50%;
    display: flex;
    margin-bottom: -40px;
}

.profile {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

@media (min-width:668px) and (max-width:1023px) {
    .header-img {
        padding: 100px 100px 0 100px;
    }

    .header-text {
        padding: 50px;
    }
    .profile {
        width: 250px;
        height: 250px;
        border-radius: 50%;
    }
    
}


@media (min-width:1024px) and (max-width:1279px) {
    .header-img {
        padding: 100px 300px 0 300px;
    }
    
    .profile {
        width: 250px;
        height: 250px;
        border-radius: 50%;
    }
    
}

@media (min-width:1280px) {
    .header-img {
        padding: 100px 400px 0 400px; ;
    }

    .profile {
        width: 250px;
        height: 250px;
        border-radius: 50%;
    }
}
