.more-section{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 250px;
}

.more-box {
    display: flex;
    justify-content: space-between;
    width: 200px;
}

.more {
    border: 3px solid #000;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.more-image {
    width: 20px;
}

.more:hover {
    transform: scale(1.3);
}