.project-section {
    background: #fafafa;
    height: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.projcet-box {
    border: 2px solid #fa382f;
    background: #fa382f;
    height: 20px;
    width: 180px;
    margin: 50px;
}

.projcet-box p {
    margin: 0;
    color: #fff;
    font-weight: 900;
}

.projects{
    text-decoration: none;
    color: #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 30px;
}

.projects img {
    width: 327px;
    height: 212px;
}

.projects h4 {
    color: #fa383f;
    align-self: flex-start;
    margin-bottom: 0px;
}

.projects p {
    align-self: flex-start;
    margin-top: 1px;
}