.project-section {
    background: #fafafa;
    height: 1300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.projects{
    text-decoration: none;
    color: #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 30px;
}

.projects img {
    width: 327px;
    height: 212px;
}

.projects h4 {
    color: #fa383f;
    align-self: flex-start;
    margin-bottom: 0px;
}

.projects p {
    align-self: flex-start;
    margin-top: 1px;
}

.small-boxes {
    display: flex;
    align-self: flex-start;
}

.small-boxes p {
    border: 2px black;
    display: flex;
    justify-content: center;
    margin-right: 5px;
    background: #fddfe7;
    font-size: 10px;
    
}

.other-boxes {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.other p {
    color: #fa382f;
    font-weight: 800;
    margin: 50px 0 40px 0;
}

.other-projects {
    text-decoration: none;
    color: #000;
    display: flex;
    flex-direction: column;
    padding: 0 30px;
    align-self: flex-start;
}

.other-projects h4 {
    margin: 0;
    color: #fa382f;
}

.other-projects p {
    margin-top: 5px;
}

@media (min-width:668px) and (max-width:1023px) {
    .project-section {
        height: 900px;
    }

    .project-boxes {
        display: flex;
        padding: 0 150px;
    }
}

@media (min-width:1024px) and (max-width:1279px) {
    .project-section {
        height: 850px;
    }
    
    .project-boxes {
        display: flex;
        padding: 0 150px;
    }
}

@media (min-width:1280px) {
    .project-section {
        height: 850px;
    }

    .project-boxes {
        display: flex;
        padding: 0 200px;
    }
}



