*{
    box-sizing: border-box ;
    margin: 0px;
}

/* mobile first*/

body{
    margin: 0px; 
}
section{
    display: inline-block;
}
/* Stämmer detta gällande storlek?*/
p {
    font-size: 22px;
    line-height: normal;
    font-family:  'EB Garamond', serif;
}

h1, h2, h3, h4, h5{
    font-family: 'Montserrat', sans-serif
}

a{
    text-decoration: none;
}

.logo{
    display: none;
  
   
}

.maininformation{
    display: flex;
    flex-direction: column;
align-content: center;
background-color: #F5F5F5;
    
}
/*why is this centered*/
.maininformation h5{
    color: #0b24f4;
    font-size: 28px;
    }

.maininformation h2{
    color: black;
    font-size: 32px;
    }

    .maininformation h3{
        color: #EB5577;
        font-size: 50px;
       margin-top: 40px;
        margin-bottom: 30px;
        text-align: center;
    }
.maininformation p{
    margin: 40px;
}
.informationpicture{
  display:flex;
    justify-content: center;
   
    flex-direction: column;
    padding-top: 40px;
   padding-left:40px ;
   padding-right: 10px;
}

.informationpicture img{
    border-radius: 50%;
    width: 160px;
    height: 170px;
 place-self: center;
  margin-bottom: 20px;
 
}

.infoaboutIru p{
width: 327px;

left: 24px;
top: 401px;
font-style: normal;
font-weight: 400px;
font-size: 22px;
line-height: 29px;

}

.infoaboutIru{
    display: flex;
justify-content: center;
}

.icons{
    display: flex;
    flex-direction: row;
    justify-content: center;
 
    margin:20px;
}
.iconsgithub{
    width: 32px;
    width: 32px;
    order: 1;
}
.iconsgithub img{
width: 23.25px;
height: 22.7px;
}

.iconslinkedin{
    width: 32px;
    width: 32px;
    order: 2;
  
}
.iconslinkedin img{
    width: 23.25px;
    height: 22.7px;
}

.scroll{
    display: flex;
    justify-content: center;
 
    margin: 50px auto 50px auto;
    flex-direction: column;
    align-items: center;
}


.techskills{
    display: grid;
    grid-template-columns: 1fr;
    background-color: #EDFFFF;
    width: 100%;
  

}
.techskills h2{
    color: #0B24F5;
    font-size: 80px;
    width: 100%;
    height: 108px;
 
    padding-top: 60px;
   
}
.techtitle{
    justify-self: center;
}

.techchild{
   padding-top: 20px;
    justify-self: center;
    text-align: center;
   margin: 40px;


}
/*behöver lösa gap*/
.techchild p{
   
    font-size: 22px;
   
}
.js{
    background-color: #0B24F4;
}
.tech{
    color: white;
    padding: 0 2px;
}

.react{
    background-color: #e65f76;
}
.mob{
    background-color: #12af2c;
}


.projects{
   display: flex;
   flex-direction: column;
    justify-content: center;
    padding-left: 20px;
    background-color: white;
}

.projects h2{
    color: #0B24F5;
    font-size: 55px;
    margin-top: 20px;
    margin-bottom: 20px;
  
}

.projects h3{
    font-size: 32px;
    
}

.tags{
    display: flex;
  
}

.tags p{
    color: white;
    background-color: #000000;
    margin: 4px;
    padding: 2px 6px;
}
.featuredContainers{
display: flex;
flex-direction: column;
justify-content: flex-start;
}

.featuredContainers img{
    width: 320px;
    height: 320px;
}

.linksproject{

display: flex;
margin-bottom: 10px;
align-content: center;

}
.gitbtn{
display: flex;
align-items: center;
background: #F5F5F5;
    color: black;
    border-radius: 40px;
    width: 150px;
    height: 48px;
    border: none;
    margin-right: 7px; 

}

.gitbtn img{
    margin-right: 10px;
    width: 32px;
    height: 32px;
}
.gitbtn span{
    display: inline-block;
}
.livebtn{
    display: flex;
    align-items: center;
   
    background-color: #F5F5F5;
    color: black;
    border-radius: 40px;
    width: 164px;
    height: 48px; 
    border: none;
   
}
.livebtn p{
    font-size: 20px;
}
.livebtn img {
    margin-right: 10px;
    width: 32px;
    height: 32px;
}
.livebtn span{
    display: inline-block;
}
a {
    text-decoration: none;
}

.skills{
display: flex;
flex-direction: column;
background-color: #FDF2E4;
justify-content: center;
padding-left: 20px;
}

.skills h3{
padding-top: 50px;
    color: #0B24F5;
    font-weight: bold;
    font-size: 80px;
    text-align: center;
    padding-bottom: 30px;
   
}
.code{
    padding-bottom: 30px;
    text-align: center;
}
.code dt{
    background-color: #EB5577;
   
}
.toolbox{
    text-align: center;
    padding-bottom: 30px;
}
.toolbox dt{
   background-color: #2483E0; 
 
}
.morelist{
    text-align: center;
    padding-bottom: 30px;
}
.more{
    background-color: #0B24F5;
   
}

.upcomming{
    text-align: center;
    padding-bottom: 50px;
   
}
.upcomming dt{
    background-color: #6DB486;
}
dt{
    display: inline-block;
    font-size: 24px;
    margin: 0 0 15px 0;
    color: white ;
    padding: 2px 6px;
}

.contact-container{
display: flex;
flex-direction: column;
background-color: white;
justify-content: center;
padding-left: 20px;

}

.contact-container h3{
    color: #EB5577;
    font-size: 55px;
    padding-top: 40px;
}

.profileimg-container img{
    border-radius: 50%;
    width: 160px;
    height: 170px;
 place-self: center;
  margin-bottom: 20px;
  margin-top: 10px;
   
}

.name-container h1{
    color: #0B24F4;
    font-size: 28px;
    font-weight: 700px;
    line-height: 38px;
}

.name-container h2{
    color: black;
    font-size: 32px;
    font-weight: 900px;
    line-height: 43px;
}

.contactinfo p{
   font-size: 22px ;
   font-weight: bold;
   margin-top: 15px;
   
}

.info-container {
    display: flex;
    align-items: center;
  }
  
  .email {
    display: flex;
    align-items: center;
  }
  
  .email svg {
    margin-right: 10px;
  }
.email p{
    color: black;


}


@media(min-width: 768px) and (max-width: 1024px){
   
    .maininformation{
    display: flex;
    flex-direction: column;
    align-content: flex-start;
       
          
        }
    .logo{
      display: inline-block;
 
      background-color: #FCEDEA;
    }
    .cover-img{
        width: 100%;
    }
   

.maininformation p{
   padding: 40px;
    font-size: 22px;
   }
    
   
   .informationpicture{
    display: flex;
    flex-direction: row;
     padding-top: 100px;
 }   
.informationpicture img{
    width: 160px;
    height: 170px;
      }
      
.iru{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 40px;
}
    .iru h1{
        color: #0b24f4;
        font-size: 28px;
        }
    
    .iru h2{
        color: black;
        font-size: 32px;
        }
    

.techskills{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 90px;
    padding-top: 90px;
}
.techtitle{
    text-align: center;
    padding-bottom: 20px;
}
        /*Featured projects*/
.projects{
 grid-column: 1/2;
 display: flex;
 flex-direction: column;
 align-items: flex-start;
 padding-top: 50px;
 padding-bottom: 50px;

}

.projects h2{
    grid-column: 1/2;
}

.featuredContainers{
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
margin: 0 5px 70px 5px;
padding-bottom: 5px;

}

.featuredContainers{
    width: 100%;
    height: 280px; 
}

.featured-text{
  margin: 10px 25px;;
}

.linksproject{
    display: flex;
    flex-direction: row;
    margin: 10px 0;

}
.skills h3{
    text-align: center;
    grid-column: 1/3;
}

.skills{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.scroll{
    grid-column: 1/3;
}

.contact-container{
    display: grid;
    grid-template-columns: 1fr;
   

   }

   .contact-container h3{
    color: #EB5577;
    font-size: 100px;

   }
   .profileimg-container{
    display: flex;
        flex-direction: row;
         padding-top: 30px;
         justify-content: center;
      }

.profileimg-container img{
 
    width: 160px;
        height: 170px;
        
      }

.name-container{
    display: grid;
 grid-column: 1/2;
   align-content: center;
   padding-left: 10px;
}

    
.info-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 22px;
  font-weight: bold;
  padding-top: 10px;
}

}
   
@media(min-width: 1025px) {
   
.maininformation{
   
display: flex;
flex-direction: row;

}

.logo{
display: flex;
order: 1;
}

.logo img{
    display: block;
    width: 100%;
    height: 1000px;
    object-fit: cover;

}
.desktop-container{
    width: 100%;
    padding-top: 40px;
}

.informationpicture{
   display: flex;
   flex-direction: row;
    padding-top: 100px;
}
.iru{
     display: grid;
 grid-column: 1/2;
   align-content: center;
   padding-left: 10px;
}


.techskills{
 
    padding-left: 400px;
    padding-right: 400px;
    display: flex;
    flex-direction: row; 

}

.projects{
    display: flex;
    align-items: center;

}

.featuredContainers{
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: 1fr 1fr;

}

.skills{
    display: flex;
    flex-direction: row;

    padding-top: 70px;
    padding-bottom: 40px;
    justify-content: space-around;
}
.skills h3{
    padding-top: 0;
}

.contact-container h3{
    text-align: center;

}
}


