@import url('satoshi.css');

/*
font-family: 'Satoshi-Variable';
font-family: 'Satoshi-VariableItalic';
font-family: 'Satoshi-Light';
font-family: 'Satoshi-LightItalic';
font-family: 'Satoshi-Regular';
font-family: 'Satoshi-Italic';
font-family: 'Satoshi-Medium';
font-family: 'Satoshi-MediumItalic';
font-family: 'Satoshi-Bold';
font-family: 'Satoshi-BoldItalic';
font-family: 'Satoshi-Black';
font-family: 'Satoshi-BlackItalic';

*/



* {
    box-sizing: border-box;

}

body {
    margin: 0;

}

/***************responsive design for mobile************/
.toplogo-Img {
    display: none;
}

.introduction{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    background-color: #F5F5F5;
    padding-bottom: 71px;

}
.scroll,
.tech,
.featured-projects,
.myWordSection,
.skills,
.time-to-talk {
    width: 100%;
    height: auto;
    padding-left: 24px;
    padding-right: 24px;
    display: flex;
    flex-direction: column;
}
.introbox{
    padding-left: 24px;
    padding-right: 24px;

}

.scroll {

    background-color: #F5F5F5;
    padding-bottom: 101px;
}

.intro-detail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 55px;
    align-self: center;
}

.intro-detail img {
    align-self: center;
    width: 164px;
    height: 164px;
    border-radius: 50%;
}

.intro-detail-title {
    display: flex;
    flex-direction: column;
    width: 303px;
    height: 113px;
    text-align: left;
    margin-top: 29px;

}

.intro-detail-title h3 {
    color: #0B24F5;
    font-size: 28px;
    line-height: 37.8px;
    font-weight: 700;
    font-family: 'Satoshi-Bold';

}

.intro-detail-title h2 {
    color: #000000;
    font-size: 32px;
    line-height: 43.2px;
    font-weight: 900;
    font-family: 'Satoshi-Black';

}

.intro-detail-title h4 {
    color: #565656;
    font-size: 24px;
    line-height: 32.4px;
    font-weight: 500;
    font-family: 'Satoshi-Medium';
}

.summarybox {
    display: flex;
    margin-top: 40px;
}

.summarybox p {
    color: #000000;
    font-size: 22px;
    line-height: 28.71px;
    font-weight: 400;
    font-family: 'EB Garamond';
}

.top-media-links ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 48px;
}
.top-media-links svg:hover{
    fill: #000000;
   
}

.scroll-icons {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.scroll-icons i {
    margin-top: 20px;
    text-align: center;

}

.scroll-icons a {
    margin-top: 27px;
    text-align: center;
    text-decoration: none;
    color: #0B24F5;
    font-size: 16px;
    line-height: 21.6px;
    font-weight: 900;
    font-family: 'Satoshi-Black';
}

/*Tech and featured-projects section start*/
.tech {
    background-color: #EDFFFF;
    padding-bottom: 120px;

}

.tech h2 {
    text-align: center;
    padding-top: 80px;
    color: #0B24F5;
    font-size: 80px;
    Line-height: 108px;
    font-weight: 700;
    font-family: 'Satoshi-Bold';
}

.tech-text {
    display: flex;
    margin-top: 62px;
}

.tech-text p {
    color: #000000;
    font-size: 22px;
    line-height: 32px;
    font-weight: 400;
    font-family: "EB Garamond";
}

.spanJs {
    background-color: #EB5577;
    color: #ffffff;
}

.spanRe {
    background-color: #0B24F5;
    color: #ffffff;
}

.spanPp {
    background-color: #2483E0;
    color: #ffffff;
}

.featured-projects {
    display: flex;
    flex-direction: column;
    padding-bottom: 85px;
}

.featured-projects>:first-child {
    padding-top: 64px;
    text-align: center;
    color: #0B24F5;
    font-size: 72px;
    line-height: 80px;
    font-weight: 700px;
    font-family: 'Satoshi-Bold';

}

.projectImg img {
    margin-top: 64px;
    width: 100%;
    height: auto;
    object-fit: cover;

}

.project-details h2 {
    margin-top: 24px;
    color: #000000;
    font-size: 32px;
    line-height: 43.2px;
    font-weight: 900;
    font-family: 'Satoshi-Black';
}

.project-details p {
    margin-top: 18px;
    color: #000000;
    font-size: 22px;
    line-height: 28.71px;
    font-weight: 400;
    font-family: "EB Garamond";

}

.javascriptBtn {
    margin-top: 18px;

}

.javascriptBtn span {
    background-color: #000000;
    color: #ffffff;
    font-size: 16px;
    line-height: 21.6px;
    font-weight: 500px;
    font-family: 'Satoshi-Medium';
    padding: 2px 6px 2px 6px;
}

.BtnBox {
    margin-bottom: 16px;

}

.viewCodeBtn {
    width: 200px;
    height: 48px;
    margin-top: 24px;
    border-radius: 40px;
    background-color: #F5F5F5;
    border: none;
    display: block;
    padding: 0px;

}

.viewCodeBtn:hover {
    background-color: #EB5577;
}

/* .viewCodeBtn svg:hover{
        fill: red;

    } */
.viewCodeBtn a:hover {
    color: #ffffff;
}

.viewCodeBtn svg {
    width: 32px;
    height: 32px;
    fill: #333333;
    align-items: center;
    margin: 8px 15px 8px 8px;
}

.viewCodeBtn a {
    display: block;
    float: right;
    width: 129px;
    height: 27px;
    color: #333333;
    font-size: 20px;
    line-height: 27px;
    font-family: 500;
    font-family: 'Satoshi-Medium';
    text-decoration: none;
    margin: 10.5px 16px 10.5px 0px;
}

.liveDemoBtn {
    width: 164px;
    height: 48px;
    margin-top: 24px;
    border-radius: 40px;
    border: none;
    display: block;
    padding: 0px;
}

.liveDemoBtn:hover {
    background-color: #0B24F5;
}

.liveDemoBtn svg:hover {
    color: #ffffff;

}

.liveDemoBtn a:hover {
    color: #ffffff;
}


.liveDemoBtn svg {
    width: 30.99px;
    height: 30.99px;
    color: #333333;
    align-items: center;
    margin: 9px 15.01px 9px 9px;
}

.liveDemoBtn a {
    display: block;
    float: right;
    width: 93px;
    height: 27px;
    color: #333333;
    font-size: 20px;
    line-height: 27px;
    font-family: 500;
    font-family: 'Satoshi-Medium';
    text-decoration: none;
    margin: 10.5px 16px 10.5px 0px;

}

/*My words section start*/
.myWordSection {
    display: flex;
    flex-direction: column;
    background-color: #FCEDEA;
    padding-bottom: 93px;
}

.myWordSection>:first-child {
    margin-top: 64px;
    color: #EB5577;
    font-size: 72px;
    line-height: 97.2px;
    font-weight: 700;
    font-family: 'Satoshi-Bold';
    text-align: center;
}

.mywordsImgDiv img {
    margin-top: 64px;
    width: 100%;
    height: auto;
    object-fit: cover;
}

.myWords h4 {
    margin-top: 40px;
    color: #EB5577;
    font-size: 20px;
    line-height: 27px;
    font-weight: 900;
    font-family: 'Satoshi-Black';
}

.myWords h2 {
    margin-top: 4px;
    color: #000000;
    font-size: 32px;
    line-height: 43.2px;
    font-weight: 900;
    font-family: 'Satoshi-Black';
}

.myWords p {
    margin-top: 24px;
    color: #000000;
    font-size: 22px;
    line-height: 28.71px;
    font-weight: 400;
    font-family: "EB Garamond";
}

.myWords button {
    width: 178px;
    height: 48px;
    margin-top: 24px;
    background-color: #ffffff;
    border-radius: 40px;
    border: none;
    display: block;
    padding: 0px;

}

.myWords button:hover {
    background-color: #FFD338;
}

.myWords button a:hover {
    color: #000000;
}

/* .myWords button svg{
    fill:#000000;
} */

.myWords button a {
    display: block;
    float: right;
    width: 107px;
    height: 27px;
    color: #333333;
    font-size: 20px;
    line-height: 27px;
    font-weight: 500;
    font-family: 'Satoshi-Medium';
    text-decoration: none;
    margin: 10.5px 16px 10.5px 0px;

}

.myWords button svg {
    width: 20px;
    height: 26px;
    color: #333333;
    align-items: center;
    margin: 11px 21px 11px 14px;
}


/*skills section start*/
.skills {
    background-color: #FDF2E4;
    padding-bottom: 137px;
}

.my-skills {
    display: flex;
    flex-direction: column;
}

.skills h2 {
    padding-top: 64px;
    text-align: center;
    color: #0B24F5;
    font-size: 80px;
    font-weight: 700;
    Line-height: 108px;
    font-family: 'Satoshi-Bold';
}

.code-skill-box {
    margin-top: 66px;
    text-align: center;
}

.tool-skill-box,
.other-skill-box,
.upcomming-skill-box {
    margin-top: 68px;
    text-align: center;
}

.code-skill-box,
.tool-skill-box,
.other-skill-box,
.upcomming-skill-box,
h5 {
    color: #ffffff;
    font-size: 24px;
    line-height: 32.4px;
    font-weight: 700;
    font-family: 'Satoshi-Bold';

}

.my-skills ul {
    margin-top: 18px;
    color: #000000;
    font-size: 22px;
    line-height: 32px;
    font-weight: 400;
    font-family: "EB Garamond";

}

/*time-to-talk section starts*/
.time-to-talk {
    background-color: #F5F5F5;
    padding-bottom: 97px;
}

.time-to-talk h1 {
    margin-top: 64px;
    text-align: center;
    color: #EB5577;
    font-size: "Satoshi";
    font-weight: 900;
    font-size: 58px;
    line-height: 78.3px;

}


.contactInfo {
    margin-top: 56px;
    text-align: center;
}

.contactInfo h3 {
    color: #000000;
    font-size: 24px;
    line-height: 32.4px;
    font-weight: 900;
    font-family: 'Satoshi-Black';
    margin-bottom: 11px;

}

.bottom-media-links ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 92px;
}



/***************responsive design for tablet************/
@media screen and (max-width: 1024px) and (min-width: 668px) {
    .toplogo-Img {
        display: flex;
    }

    .toplogo-Img img {
        width: 100%;
        height: auto;
        object-fit: cover;

    }

    .introbox {
        display: flex;
        flex-direction: column;
    }

    .intro-detail {
        display: flex;
        flex-direction: row;
        margin-top: 81px;
    }

    .intro-detail-title {
        display: flex;
        flex-direction: column;
        width: 303px;
        height: 113px;
        margin-left: 29px;

    }

    .summarybox {
        margin-top: 57px;
        margin-right: 78px;
        margin-left: 78px;

    }

    .top-media-links ul {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-left: 78px;
        margin-right: 319px;

    }
    .tech{
        justify-content: center;
        align-items: center;
    }

    .tech h2 {
        margin-top: 254px;
    }

    .tech-text {
        margin: 62px 100px 280px 100px;
    }


    .skills h2 {
        margin-top: 121px;
    }

    .my-skills {
        margin-top: 81px;
        margin-bottom: 155px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 5px 5px;
        grid-auto-flow: row;
    }

    .contactInfo {
        margin-top: 120px;
        margin-bottom: 180px;
    }

    .bottom-media-links ul {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-top: 92px;
        margin-left: 233px;
        margin-right: 233px;

    }

    .project {
        display: flex;
        flex-direction: row;
    }

    .projectImg {
        margin-right: 24px;
        display: flex;

    }

    /*project img can not fit div height*/
    .projectImg img {
        width: 100%;
        height: auto;
        object-fit: cover;
    }

    .BtnBox {
        display: flex;
        flex-direction: row;
    }

    .viewCodeBtn {
        margin-right: 24px;
    }
}

/***************responsive design for destop normal************/
@media only screen and (min-device-width: 1025px) { 

    .wraptop {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
    }

    .toplogo-Img {
        display: flex;
        width: 50%;
    }

    .toplogo-Img img {
        width: 100%;
        height: auto;
        object-fit: cover;
    }


    .introbox {
        display: flex;
        flex-direction: column;
        width: 50%;
        align-items: center;
        justify-content: center;
        margin: 252px 45px 300px 55px;
    }

    .intro-detail {
        display: flex;
        flex-direction: row;
        margin-top: 81px;
    }

    .intro-detail-title {
        display: flex;
        flex-direction: column;
        width: 303px;
        height: 113px;
        margin-left: 29px;

    }
/* 
    .summarybox {
        margin-top: 57px;
        margin-left: 85px;
        margin-right: 55px;

    } */

    .top-media-links ul {
        display: flex;
        flex-direction: row;

    }

    .top-media-links ul li {
        padding: 20px;
    }

    .bottom-media-links ul {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-top: 92px;
        margin-left: 233px;
        margin-right: 233px;

    }

    .tech {
        display: flex;
        flex-direction: row;
        padding-top: 350px;
        padding-bottom: 350px;
        justify-content: center;
        align-items: center;
    }

    .tech h2 {
        margin-left: 230px;

    }
    .tech-text{
        margin-left: 143px;
        margin-right: 230px;
    }

    .featured-projects>:first-child {
        padding-top: 120px;
        text-align:start;
        margin-left: 230px;
    }
    .project {
        display: flex;
        flex-direction: row;
        margin-right: 230px;
        margin-left: 230px;
    }

    .projectImg {
    
        margin-right: 24px;
        display: flex;

    }

    /*project img can not fit div height*/
    .projectImg img {
        width: 100%;
        height: auto;
        object-fit: cover;
    }

    .BtnBox {
        display: flex;
        flex-direction: row;
    }

    .viewCodeBtn {
        margin-right: 24px;
    }
    
    .myWordSection>:first-child {
        margin-top: 120px;
        text-align: start;
        margin-left: 84px;
    }

    .wrapMyWords{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 32px 32px;
        grid-auto-flow: row;
        margin-left: 86px;
        margin-right: 86px;

    }
    .my-skills h2{
        margin-top: 120px;
    }
    .my-skills {
        display: grid;
        flex-direction: row;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 33px 33px 33px 33px;
        grid-auto-flow: row;
        margin: 81px 230px 218px 230px;
    }
   
    .time-to-talk h1{
        margin-top: 191px;
    }
    .bottom-media-links ul{
        margin-bottom: 175px;
    }

}

/***************responsive design for destop large************/


@media only screen and (min-device-width: 1281px) {
    .introbox{
        margin: 252px 157px 300px 103px;
    }
    
    .tech-text {
        margin: 0px 346px 0px 346px;
    }
    .featured-projects>:first-child {
      
        margin-left: 346px;
    }
    .project {
        
        margin-right: 346px;
        margin-left: 346px;
    }
    .myWordSection>:first-child {
      
        margin-left: 143px;
    }

    .wrapMyWords{
    
        margin-left: 143px;
        margin-right: 143px;

    }
    .my-skills h2{
        margin-top: 120px;
    }
    .my-skills {
        margin: 81px 346px 218px 346px;
    }
   
} 