@import url('satoshi.css');


.myWords1 img{
    width: 327px;
    height: 280px ;

}
.myWords2 img{
    width: 327px;
    height: 280px ;

}
.myWords3 img{
    width: 327px;
    height: 280px ;

}
.myWords4 img{
    width: 327px;
    height: 280px ;

}