*{
    box-sizing: border-box ;
}

/* mobile first*/

body{
    margin: 0px;
    font-family: satoshi;
    
}

.maininformation{
    display: grid;
    grid-template-columns: 1fr;
    grid-column: 1/2;
    border: solid aqua;
    /*position:relative*/
    justify-content: center;
   
    background-color: #F5F5F5;

}
.title h1{
color: #0b24f4;
font-size: 28px;
}
.title h2{
color: black;
font-size: 32px;
}
.infoaboutIru p{

}
.mypicture{
    justify-self: center;
}
.mypicture img{
    /*choose what position to use and where*/
border-radius: 50%;
    width: 200px;
    height: 200px;
    /*position: absolute;*/
  
}

.techskills{
    display: grid;
    grid-template-columns: 1fr;
    border: solid black;
  
    background-color: #EDFFFF;

}

.techchild{
    grid-column: 1/2;
    justify-self: center;
    text-align: center;

}
.techchild h2{
    color: #0B24F5;
    font-size: 80px;
}
.techsister p{
    grid-column: 1/2;
    text-align: center;
    font-size: 22px;
}

.projects{
    display: grid;
    grid-template-columns: 1fr;


    /*position:relative*/
    justify-content: center;
  
    grid-column: 1/2;
    border: solid red;

}

.projects h2{
    justify-self: center;
    color: #0B24F5;
    font-size: 72px;
    font-weight: bold;
}
.newssite{
    justify-self: center;
    grid-column: 1/2;
}

.bot{
    grid-column: 1/2;
    justify-self: center;
}

.guess{
    grid-column: 1/2;
    justify-self: center;
}

.weather{
    grid-column: 1/2;
    justify-self: center;
}

.mywords{
    display: grid;
    grid-template-columns: 1fr;
    border: solid violet;
    justify-items: center;
   
    background-color: #FCEDEA;
}
.mywords h3{
    font-size: 72px;
    font-weight: bold;
}

.bottom{
display: grid;
grid-template-columns: 1fr;
border: solid teal;

justify-items: center;
background-color: #FDF2E4;
}

.skills h3{
    color: #0B24F5;
    font-weight: bold;
    font-size: 80px;
}

.timetotalk{
display: grid;
grid-template-columns: 1fr;

justify-items: center;
border: solid pink;
}

.contactinfo{
    grid-column: 1/2;
   
}
.contactinfo h3{
    color: #EB5577;
    font-size: 58px;
}


@media(min-width: 768px) and (max-width: 1024px){

.logo{
    background-color: #FCEDEA;

}

.aboutIru{
    border: solid violet;
    margin: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
  
}
/*Text and picture needs to get closer and change fonts*/
.mypicture{
    grid-column: 1/2;
    justify-self: start;
}
.title{
    grid-column: 2/3;
}
.title h1{
    font-size: 32px ;
}

.title p{
    font-size: 22px;
}
.infoaboutIru{
    grid-column: 1/3;

}




}