@import url('satoshi.css');

* {
    box-sizing: border-box;
    font-family: 'Satoshi-Variable';

}

body {
    margin: 0;

}


/***************responsive design for mobile************/
@media (min-width: 1px) and (max-width: 667px) {

    .toplogo-Img {
        width: 100%;
        height: auto;
        display: none;
    }
    
   
    .intro-detail {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 55px 24px 0px 24px;
    }

    .intro-detail img {
        align-self: center;
        width: 164px;
        height: 164px;
        border-radius: 50%;
    }

    .intro-detail-title {
        display: flex;
        flex-direction: column;
        width: 303px;
        height: 113px;
        text-align: left;

    }

    .intro-detail-title h3 {
        color: #0B24F5;
        Font-size: 28px;
        font-weight: 700;
        line-height: 37.8px;

    }

    .intro-detail-title h2 {
        color: #000000;
        font-size: 32px;
        font-weight: 900;
        line-height: 43.2px;

    }

    .intro-detail-title h4 {
        color: #565656;
        font-size: 24px;
        font-style: medium;
        font-weight: 500;
        line-height: 32.4px;
    }

    .summarybox {
        display: flex;
        margin: 40px 24px 0px 24px;

    }

    .summarybox p {
        font: EB Garamond;
        font-style: normal;
        font-weight: 400;
        color: #000000;
        font-size: 22px;

    }

    .top-media-links ul {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 48px 24px 0px 24px;
    }

    .scroll-icons {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0px 24px 0px 24px;

    }

    .scroll-icons i {
        margin-top: 20px;


    }

    .scroll-icons p {

        color: #0B24F5;
        margin-top: 27px;

    }

    .tech {
        background-color: #EDFFFF;
    }

    .tech h2 {
        text-align: center;
        padding-top: 80px;
        color: #0B24F5;
        font-size: 80px;
        font-weight: 700;
        Line-height: 108px;
    }
    .tech-text{
        
       
        display: flex;
        margin: 62px 24px 120px 24px;
       


    }
    .tech-text p{
        font-size: 22px;
        font-weight: 400;
        line-height: 32px;
        font: EB Garamond;
    }
















}










/***************responsive design for tablet************/
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {}

/***************responsive design for destop************/
@media only screen and (min-device-width: 1025px) {}