.tech-section {
    background: #fff;
    height: 300px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.red-box {
    border: 2px solid #fa382f;
    background: #fa382f;
    height: 20px;
    margin: 50px;
}

.red-box p {
    margin: 0;
    color: #fff;
    font-weight: 900;
}

.tech-names {
    margin: 0 40px ;
}

@media (min-width:668px) and (max-width:1023px) {
    .tech-names {
        margin: 0 100px 60px;
    }
}

@media (min-width:1024px) and (max-width:1279px) {
    .tech-names {
        margin: 0 250px;
    }
}

@media (min-width:1280px) {
    .tech-names {
        margin: 0 350px;
    }
    
}