@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300&family=Roboto:ital,wght@1,100;1,300;1,400;1,900&display=swap');


.image_profile {
  width: 164px;
  height: 164px;
  border-radius: 164px;
  margin: 0 2em 0 2em;
  background: url(https://res.cloudinary.com/stenli-suryadinata/image/upload/v1554368724/download.png), lightgray 50% / cover no-repeat;
}

.image_text {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 60%;
}


.title {
    margin-top: 0;
    color: #0B24F5;
    font-family: 'Montserrat', sans-serif; 
    font-size: 5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: left;
  }

  .header_text {
    margin-top: 21rem;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
  }

  .header_myname {
    color: #000;
    font-family: 'Montserrat', sans-serif; 
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }

  .header_text_description {
    color: #000;
    font-family: Hind;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .header_arrow {
    text-align: center;
    margin-top: 12rem;
    margin-bottom: 4rem;
  }

  .tech_text {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4rem;
    margin-bottom: 4rem;
  }

  .tech_text {
    background: #0B24F5;
    display: inline-flex;
    height: 61rem;
    padding: 0rem 15rem 0rem 22rem;
    justify-content: flex-end;
    align-items: center;
    gap: 8rem;
    flex-shrink: 0;
  }

  .tech_myname {
    color: #FFF;
    font-family: 'Montserrat', sans-serif; 
    font-size: 5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    
  }

  .tech_desc {
    color: #FFF;
    font-family: Hind;
    font-size: 2rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }

  .featured_myname {
    color: #0B24F5;
    text-align: center;
    font-family: 'Montserrat', sans-serif; 
    font-size: 80px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  .project-image {
    width: 280px;
    height: 280px;
    flex-shrink: 0;
    border-bottom: 20px solid #0B24F5;
    border-left: 20px solid #0B24F5;
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
  }

  .repo-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
  }

  .repo-item-detail {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .repo-item-name {
    margin-top: 0;
    color: #000;
    font-family: 'Montserrat', sans-serif; 
    font-size: 2rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }

  .repo-item-desc {
    color: #000;
    font-family: Hind;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .project-links {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    



  }

  .tag-name {
    background-color: black;
    color: #FFF;
    font-family: 'Montserrat', sans-serif; 
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }

  
  


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
