.link-button img {
  width: 32px;
  height: 32px;
  padding: 8px;
}

.link-button {
  font-family: "Montserrat";
  font-weight: 600;
  height: 48px;
  margin: 10px;
  background-color: lightblue;
  color: white;
  border-radius: 48px;
  padding: 0 10px;
}

.button-interior {
  display: flex;
}

.purple {
    background-color: rebeccapurple;
    color: white;
}

.grey {
    background-color: lightgrey;
}
