.link-button img {
  width: 20px;
  height: 20px;
  margin: 0 5px 0 0;
}

.link-button {
  margin: 5px;
  background-color: lightblue;
  color: white;
  border-radius: 5px;
  padding: 0px 15px;
}

.button-interior {
  display: flex;
  place-items: center;
}
