.intro-page{
  
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;

}

.content{
  padding: 232px 234px 63px 234px;
}
.profilePhoto{
  width: fixed 164px;
  height: fixed 164px;
  border-radius: 50%;

}

.dev-name{
  color: var(--color-3);
font-family: Montserrat;
font-size: 32px;
font-style: normal;
font-weight: 600;
line-height: normal;
text-align: left;
}

.dev-title{
  color: #0B24F5;
font-family: Montserrat;
font-size: 80px;
font-style: normal;
font-weight: 700;
line-height: normal;
text-align: left;
}

.imageAndIntro{
  display: flex;
align-items: center;
gap: 22px;
align-self: stretch;
}

.dev-intro{
  width: 100% 858px;
  text-align: left;
}

.arrow-contaner{
  height: fixed 68px;
  padding-bottom: 68px;
}

.arrow{
  animation: move 2s linear infinite;
}

@keyframes move {
  0%, 100% {
    transform: translateY(0);}
  25%, 75% {
    transform: translateY(-10px);
  }
}
