

.project-wrapper {
    display: flex; 
    flex-direction: column;
    padding: 128px 16px; 
}

.project-card {
    margin-bottom: 64px;
}

.project-card-info {
    display: flex;
    flex-direction: column;
    gap: 16px; 
}

.project-card-tags {
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    gap: 4px; 
}

.project-card-buttons {
    display: flex; 
    flex-direction: column;
    align-items: start;
    gap: 16px; 
    margin-top: 8px; 

 }

.project-card:last-child {
    margin-bottom: 0; 
}


@media (max-width: 1279px) and (min-width: 744px) {

    .project-wrapper {
        padding: 128px 32px; 
    }

    .project-card {
        display: flex; 
        gap: 20px; 
    }

    .project-card-buttons {
        flex-direction: row;
    }
   
}

@media (min-width: 1280px) {

    .project-wrapper {
        padding: 128px 230px; 
    }

    .project-card {
        display: flex; 
        gap: 20px; 
    }

    .project-card-buttons {
        flex-direction: row;
    }
}