.footerHeader {
    color: white;
    font-size: 26.04px;
    display: inline-block;
    animation: ticker 13s linear infinite;
    white-space: nowrap;
    padding-left: 100%;
    list-style: 37.87px;
    font-weight: 600;
}

.wrapper_footer {
    background-color: #EB5577;
    max-height: 114px;
    max-width: 1512px;
}

.ticker {
    overflow: hidden;
    white-space: nowrap;
}


@keyframes ticker {
    0% {
        transform: translateX(-33.33%);

    }

    100% {
        transform: translateX(-66.66%);

    }
}

/* (-33.33%)I think this makes the animation start with the text partially off-screen to the left. */
/*(-66.66%); then scrolls to the left, making the next part of the text visible, creating a loop. */