.presentation-wrapper {
  width: 100vw;
  gap: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 0;
}

.presentation {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.presentation-content {  
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.presentation-titles-container h1 {
  margin: 0;
  color: blue;
  text-align: center;
  font-size: 29px;
}

.presentation-titles-container h3 {
  margin: 0;
  text-align: center;
  justify-content: center;
  font-size: 18px;
}

.profile-image {
  width: 164px;
  height: 164px;
  border-radius: 50%;
  object-fit: cover;
  margin-top: 100px;
  margin-bottom: 50px;
}

.presentation-text {
  color: #000;
  font-family: Hind;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  word-wrap: break-word;
  width:300px;
  font-size: 14px;
  box-sizing: border-box;
}

.presentation-text p {
  text-align: center;
}

@keyframes float {
  0% {
      transform: translateY(0px);
  }
  50% {
      transform: translateY(-30px);
  }
  100% {
      transform: translateY(0px);
  }
}

img[src*='Arrow'] {
  display: block;
  margin: 0 auto;
  height: auto;
  width: auto; 
  margin-top: 80px;
  margin-bottom: 100px;
  animation: float 2s ease-in-out infinite;
}



/* Medium devices (tablets, 601px - 900px) */
@media (min-width: 601px) and (max-width: 900px) {
  .presentation-wrapper {
    width: 100%;
    padding-top: 150px;
  }

  .presentation {
    justify-content: center;
    align-items: center;
  }
  .presentation-content {
    flex-direction: row;
    align-items: center;
  }
  
  .profile-image {
    margin-top: 0;
    margin-bottom: 0;
  }

  .presentation-text {
    margin-left: 50px;
    font-size: 16px;
    width: 420px;
  }

  .presentation-titles-container h3 {
    text-align: left;
    padding-left: 5px;
  }
  .presentation-titles-container h1 {
    font-size: 60px;
    text-align: left;
  }
}

/* Large devices (desktops, 901px - 1200px) */
@media (min-width: 901px) and (max-width: 1200px) {
  .presentation-wrapper {
    width: 100%;
    padding-top: 150px;
  }

  .presentation {
    justify-content: center;
    align-items: center;
  }
  .presentation-content {
    flex-direction: row;
    align-items: center;
  }
  
  .profile-image {
    margin-top: 0;
    margin-bottom: 0;
  }

  .presentation-text {
    margin-left: 50px;
    font-size: 16px;
    width: 330px;
  }

  .presentation-titles-container h3 {
    text-align: left;
    padding-left: 5px;
    font-size: 25px;
  }
  .presentation-titles-container h1 {
    font-size: 80px;
    text-align: left;
  }

  .presentation-content {
    width: 830px;
  }

  .presentation-text {
    width: 700px;
  }
}

/* Extra large devices (large desktops, 1201px and up) */
@media (min-width: 1201px) {
  .presentation-wrapper {
    width: 100%;
    padding-top: 150px;
  }

  .presentation {
    justify-content: center;
    align-items: center;
  }
  .presentation-content {
    flex-direction: row;
    align-items: center;
  }
  
  .profile-image {
    margin-top: 0;
    margin-bottom: 0;
  }

  .presentation-text {
    margin-left: 50px;
    font-size: 16px;
    width: 330px;
  }

  .presentation-titles-container h3 {
    text-align: left;
    font-size: 25px;
    padding-left: 5px;
  }
  .presentation-titles-container h1 {
    font-size: 80px;
    text-align: left;
  }

  .presentation-content {
    width: 830px;
  }

  .presentation-text {
    width: 700px;
  }
}
