.presentation-container {
  display: flex;
  flex-direction: column;
  align-items: left;
  gap: 0.5em;
  padding: 1rem 1rem;
  font-size: 1.2em;
  margin-bottom: 2em;
  margin-top: 2em;
}

.presentation-container h3,
.presentation-container h1,
.description-container .description {
  text-align: left;
  margin: 0;
  padding: 0;
}

/* .subheadline-container {
  font-size: 7px;
  background-color: bisque;
} */

.presentation-container h1 {
  color: #0b24f5;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 1em;
}

.presentation-container h3 {
  color: #000;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.description-container .description {
  color: #000;
  font-family: Hind;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 1em;
}

.avatar-container .avatar {
  width: 164px;
  height: 164px;
  border-radius: 164px;
  object-fit: cover;
  margin-bottom: 1em;
}

@media (min-width: 744px) {
  .presentation-container {
    flex-direction: column;
    align-items: flex-start;
  }

  .avatar-container {
    order: 3;
    margin-right: 2rem;
  }

  .headline-container {
    order: 1;
  }

  /* .subheadline-container {
    order: 2;
  } */

  .description-container {
    order: 4;
    display: flex;
    align-items: center;
  }
}
