.presentation-wrapper {
  width:100vw;
  display: grid;
  place-items: center; /* centers everything both horizontally and vertically */
  gap: 10px; 
  grid-template-columns: repeat(8,1fr);

}


.presentation {
  grid-column: 2/8;
  display: grid;
    gap: 16px; /* adjust the spacing between items as needed */
    place-items: center;

  }

  

  .presentation-titles-container h1 {
  margin: 0;
    color: blue;
    text-align: center;
  }

  .presentation-titles-container h3 {
margin: 0;
    text-align: center;
  }
  
  .profile-image {
    width: 164px; /* Adjust to desired width */
    height: 164px;
    border-radius: 50%; /* Makes the image round */
    object-fit: cover;
    margin: 0 auto;
    margin-top: 100px;
  }
  
  .presentation-text {
    color: #000;
    font-family: Hind;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    word-wrap: break-word;
    width:100%;
  }

  img[src*='Arrow'] {
    display: block;
    margin: 0 auto;
    height: auto;
    width: auto; 
    margin-top: 80px;
    margin-bottom: 100px;
}
@media (max-width: 550px) {

.presentation {
  display: grid;
grid-template-columns: 2/8;
}

.presentation-text {
  height: auto;

}

 
}


  @media (min-width: 768px) and (max-width: 1023px){  /* adjust this breakpoint as needed */
   
    .presentation-wrapper {
      display: grid;
      gap: 20px;
      place-items: center; /* added this line to ensure centering */
  }


   .presentation {
    display: grid;
grid-template-columns: 3/6;
        grid-template-areas:
            "image"
            "titles"
            "text"
            "arrow";
    }
    
    .profile-image {
      grid-area: image; /* places image at the top */
    }
    
    .presentation-text {
     grid-area: text; 
    }
  
    .presentation-titles-container {
      grid-area: titles; /* places titles below the image */
    }
    .presentation-text {
      grid-area: text; /* places text below the titles */
  }

  img[src*='Arrow'] {
      grid-area: arrow; /* places arrow at the bottom */
  }
  
  
  @media (min-width: 1024px) and (max-width: 1439px){  /* typical desktop breakpoint */
    .presentation {
      grid-template-columns: 4/5;
    }
       
       
}

@media (min-width: 1440px) {  /* breakpoint for large screens */
  
  .presentation {
    grid-template-columns: 4/5;
}

}
