.head {
  background-color: red;
  display: grid; 
  grid-template-columns: 1fr;
  align-items: center;
}

.test {
  display: flex;
  justify-content: center;

}

.test-head {
  width: 50%;
}

.test-head p{
  text-align: center;
}

