.project-text {
	display: flex;
	flex-direction: column;
	text-align: left;
	text-wrap: pretty;
}

.project-text > h3 {
	margin: 24px 0 0 0;
	font-family: "Montserrat", sans-serif;
	font-size: 24px;
	font-weight: 600;
}

.project-text > p {
	margin: 16px 0;
	font-size: 18px;
	font-weight: 400;
	font-family: "Hind", sans-serif;
}

@media screen and (min-width: 745px) {
	.project-text > h3 {
		margin-top: 0;
	}

	.project-text > p {
		min-height: 120px;
	}
}

@media screen and (min-width: 1281px) {
	.project-text > h3 {
		margin-top: 0;
		font-size: 32px;
	}

	.project-text > p {
		min-height: 120px;
		width: auto;
		align-self: stretch;
	}
}
