.project-text {
	display: flex;
	flex-direction: column;
	text-align: left;
}

.project-text > p {
	margin: 0;
}

@media screen and (min-width: 667px) {
	.project-text > h3 {
		margin-top: 0;
	}

	.project-text > p {
		min-height: 120px;
	}
}
