article {
	display: flex;
	flex-direction: column;
	height: auto;
	width: 100%;
}

.project-element-container {
	width: 100%;
	height: auto;
}

@media screen and (min-width: 745px) {
	article {
		height: 280px;
		width: 680px;
		margin-top: 64px;
		flex-direction: row;
	}

	.project-element-container {
		width: 430px;
		margin: 0 0 0 16px;
	}
}

@media screen and (min-width: 1281px) {
	article {
		width: calc(100vw - 322px);
		margin-top: 128px;
	}

	.project-element-container {
		width: calc(100vw - 322px);
	}
}
