.project-image {
	display: flex;
	width: 280px;
	border-radius: 0;
	border-left: 7px solid var(--main-color);
	border-bottom: 7px solid var(--main-color);
	margin-top: 48px;
	text-align: left;
	object-fit: cover;
}

@media screen and (min-width: 667px) {
	.project-image {
		width: 30dvw;
		height: 280px;
		margin: 0;
	}
}

@media screen and (min-width: 1025px) {
	.project-image {
		width: 300px;
	}
}
