.project-image {
	display: flex;
	width: 98%;
	height: 200px;
	border-radius: 0;
	border-left: 7px solid var(--main-color);
	border-bottom: 7px solid var(--main-color);
	margin-top: 64px;
	text-align: left;
	object-fit: cover;
}

@media screen and (min-width: 745px) {
	.project-image {
		width: 200px;
		height: 280px;
		margin: 0;
	}
}

@media screen and (min-width: 1281px) {
	.project-image {
		width: 408px;
		height: 280px;
	}
}
