@media screen and (min-width: 667px) {
	article {
		display: flex;
		height: 300px;
		width: auto;
		margin-bottom: 20px;
	}

	.project-element-container {
		width: 80%;
		margin: 0 0 0 16px;
	}
}

@media screen and (min-width: 1025px) {
	article {
		margin: 24px 150px;
	}

	.project-container {
		padding: 0;
	}
}
