* {
  margin: 0;
}

.introduction-container .introduction {
  display: flex;
  width: 375px;
  padding: 64px 16px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.introduction-heading {
  color: #000;
  font-family: "Montserrat";
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  align-self: stretch;
  margin-top: 32px;
}

.introduction-subheading {
  font-family: "Montserrat";
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: #A367B1;
  align-self: stretch;
  margin-bottom: 32px;
}

.introduction-text {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 32px;
}

.profile-pic {
  width: 164px;
  height: 164px;
}

.arrow-container {
  padding: 0 16px 64px 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 0;
  animation: arrowJump 1.5s infinite
}

.arrow {
  width: 27px;
  height: 68px;
}

@keyframes arrowJump {
  from {top: 0px;}
  to {top: 35px;}
}
