* {
  margin: 0;
  box-sizing: border-box;
}

.introduction-container {
  display: flex;
  width: 100%;
  padding: 64px 16px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.introduction {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}

.introduction-heading {
  color: #000;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-top: 32px;
}

.introduction-subheading {
  font-family: "Montserrat", sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: #a367b1;
  margin-bottom: 32px;
}

.introduction-text {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-family: "Hind";
  width: 100%;
}

.profile-pic {
  width: 164px;
  height: 164px;
}

.arrow-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 0;
  animation: arrowJump 1.5s infinite;
}

.arrow {
  width: 27px;
  height: 68px;
}

@keyframes arrowJump {
  from {
    top: 0px;
  }
  to {
    top: 35px;
  }
}

@media (max-width: 374px) {
  .profile-pic {
    width: 164px;
    height: 164px;
    margin: 0 auto; /* Add this line */
  }
}

@media (min-width: 374px) {
  .introduction {
    width: 100%;
  }

  .introduction-container {
    width: 100%;
  }

  .introduction-subheading {
    font-size: 32px;
  }

  .introduction-text {
    width: 343px;
  }

}


@media (min-width: 667px) and (max-width: 1024px) {
  .introduction-container {
    display: flex;
    width: 90%;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
    margin: 0 auto;
  }

  .introduction {
    width: 680px;
    flex-direction: column;
    align-items: flex-start;
  }

  .introduction-heading {
    font-size: 24px;
  }

  .introduction-subheading {
    font-size: 56px;
    margin-bottom: 32px;
  }

  .introduction-text {
    width: auto;
  }
}

@media (min-width: 1025px) {
  .introduction-container {
    display: flex;
    width: 100%;
    max-width: 1044px;
    height: auto;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
    margin: 0 auto;
  }

  .introduction {
    width: 958px;
    flex-direction: column;
    align-items: flex-start;
  }

  .introduction-heading {
    font-size: 32px;
  }

  .introduction-subheading {
    font-size: 80px;
    margin-bottom: 32px;
  }
  
  .introduction-text {
    width: auto;
  }
}
