* {
  margin: 0;
  box-sizing: border-box;
}

.introduction-container {
  display: flex;
  width: 375px;
  padding: 64px 16px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.introduction {
  display: flex;
  width: 343px;
  flex-direction: column;
  align-items: center;
}

.introduction-heading {
  color: #000;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  align-self: stretch;
  margin-top: 32px;
}

.introduction-subheading {
  font-family: "Montserrat", sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: #a367b1;
  align-self: stretch;
  margin-bottom: 32px;
}

.introduction-text {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 32px;
}

.profile-pic {
  width: 164px;
  height: 164px;
}

.arrow-container {
  padding: 0 16px 64px 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 0;
  animation: arrowJump 1.5s infinite;
}

.arrow {
  width: 27px;
  height: 68px;
}

@keyframes arrowJump {
  from {
    top: 0px;
  }
  to {
    top: 35px;
  }
}

@media (min-width: 667px) and (max-width: 1024px) {
  .introduction-container {
    display: flex;
    width: 680px;
    flex-direction: column;
    align-items: center;
    margin-left: 50px;
  }

  .introduction {
    width: 680px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .introduction-heading {
    font-size: 24px;
  }

  .introduction-subheading {
    font-size: 56px;
    margin-bottom: 32px;
  }
}

@media (min-width: 1025px) {
  .introduction-container {
    display: flex;
    width: 958px;
    flex-direction: column;
    gap: 16px;
    margin-left: 180px;
  }

  .introduction {
    width: 958px;
    flex-direction: column;
    justify-content: center;
  }

  .introduction-heading {
    font-size: 32px;
  }

  .introduction-subheading {
    font-size: 80px;
    margin-bottom: 32px;
  }
}
