.project-container {
  padding: 128px 16px;
  display: flex;
  flex-direction: column;
  gap: 64px;
  justify-content: center;
  align-items: center;
}

.project-list {
  display: flex;
  flex-direction: column;
  gap: 64px;
  width: 100%;
  align-items: center; 
}

.feature-project-title {
  font-family: "Montserrat", sans-serif;
  font-size: 70px;
  font-weight: 700;
  color: #0b24f5;
  margin-bottom: 50px;
}
.project-card {
  width: 60%;
}
