.skill-category {
  padding: 0 1.5rem;
  text-align: center;
}

.skill-category ul {
  list-style: none;
}

.skill-category:not(:first-child) {
  border-left: 0.125rem solid var(--color-primary);
  /* Orange linje */
}