@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Hind:wght@400;600&display=swap');


.project-container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding: 0 16px;
    background-color: white;
}

.project-title {
    color: #0B24F5;
    text-align: center;
    /* Keeps the text centered */
    margin-left: 20px;
    /* Optional: Adds a slight shift to the left */
    font-family: Montserrat;
    font-size: 50px;
    font-weight: 700;
    line-height: normal;
}