.project-card-container {
    overflow-x: hidden;
    display: flex;
    font-family: 'Poppins', sans-serif;
    justify-content: center;
    align-items: center;
    gap: 16px;
    background-color: #fff;
    padding: 16px; overflow-x: hidden;
    margin-bottom: 40px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15);
    border-radius: 16px;
}

.project-card-image {
    width: 300px;
    height: 300px;
    border-radius: 16px;
    object-fit: cover;
}

.project-card-content {
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-width: 600px;
}

.project-card-tags {
    display: flex;
    gap: 8px;
}

.project-card-tag {
    background-color: transparent;
    border: 2px solid black;
    border-radius: 12px;
    padding: 4px 12px;
    font-size: 16px;
    font-weight: 500;
    flex: 1;
    text-align: center;
}

.project-card-title {
    color: black;
    font-size: 28px;
    font-weight: 600;
}

.project-card-description {
    color: black;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    margin-top: 8px;
}

.project-card-links {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.project-card-button {
    display: flex;
    align-items: center;
    gap: 12px;
    background-color: black;
    color: white;
    padding: 6px 8px;
    border-radius: 24px;
    text-decoration: none;
    font-size: 16px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.project-card-button:hover {
    transform: translateY(-4px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.icon {
    width: 24px;
    height: 24px;
}

/* Media Queries */
@media (max-width: 1200px) {
    .project-card-container {
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
    }

    .project-card-image {
        width: 100%;
        height: auto;
    }

    .project-card-content {
        max-width: 100%; overflow-x: hidden;
    }
}
