.header {
  background-color: black;
  color: white;
  width: 100%;

}

.header-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  padding: 64px 16px;
  text-align: center;
}

.header-section h3 {
  max-width: 782px;
}

@media (min-width: 481px) {
  .header-section {
  padding: 64px 24px;
  }
}

@media (min-width: 1024px) {
  .header-section {
    padding: 128px 24px;
    }
}


  