.header-container {
  width: 100%;
  margin: 0;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-section {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  margin: 64px 16px;
  align-self: stretch;
  text-align: center;
}

.header-section .intro {
  /* font-size: 18px !important;
  line-height: 0;
  margin: 0;
  padding: 0; */
}

.name {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
}

.header-section .info {
  font-size: 20px;
  line-height: 1.4;
  max-width: 100%;
  /* Prevents overflowing */
  margin: 0;
}