.link-linkedin:hover {
  content: url("/assets/icons/linkedin_black.svg");
}

.link-github:hover {
  content: url("/assets/icons/github_black.svg");
}

.link-instagram:hover {
  content: url("/assets/icons/instagram_black.svg");
}
