.bio-image {
    position: relative;
    width: 29.96456rem;
    height: 34.16569rem;
    border: 6px solid #FD6F00;
    border-radius: 27.061rem;
}

.bio.image img {
    position: absolute;
    top: 0;
    width: 100%;
    height: auto;
}

.image-down {
    z-index: 1;
}

.image-up {
    z-index: 2;
}