
.butterfly {
      height: 200px;
      align-self: stretch;
      object-fit: cover;
      border-bottom: 10px solid #ad7be9;
      border-left: 10px solid #ad7be9;
}


/* ---- Media queries ------ */

@media (min-width: 667px) and (max-width: 1024px) {
  .butterfly {
      height: 340px;
      width: -webkit-fill-available;
  }
}

@media (min-width: 1025px) {
  .butterfly {
    width: 100%;
    height: 340px;
  }
}
