.profile-img {
    width: 164px;
    height: 164px;
    overflow: hidden;
    border-radius: 50%;
  }
  
  .circle-img {
    width: 100%;
    height: auto;
  }
  
 /* .project-img img {
    width: 100%;
    object-fit: cover;
    border-bottom: 10px solid var(--primary);
    border-left: 10px solid var(--primary);
    margin-bottom: 24px;
  }
  
  .article-img img {
    width: 100%;
    object-fit: cover;
    border-bottom: 10px solid var(--secondary);
    border-left: 10px solid var(--secondary);
  }
  */

