.butterfly {
  height: 200px;
  align-self: stretch;
  border-bottom: 20px solid #ad7be9;
  border-left: 20px solid #ad7be9;
}

@media (min-width: 667px) and (max-width: 1025px) {
  .butterfly {
    width: 800px;
    height: 400px;
  }
}

@media (min-width: 1025px) {
  .butterfly {
    width: 460px;
    height: 340px;
  }
}
