.profilePic {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  object-fit: cover;
  border: 8px solid var(--green);
}

@media screen and (min-width: 768px) {
  .profilePic {
    width: 200px;
    height: 200px;
  }
}