.images img {
  cursor: pointer;
  object-fit: cover;
  width: 343px;
  height: 200px;
  border-bottom: 10px solid #9da993;
  border-left: 10px solid #9da993;
  transition: transform 0.3s ease;
}
.images img.flipped {
  transform: scaleX(-1);
  border: none;
  object-fit: scale-down;
  object-position: center;
}
@media (min-width: 669px) and (max-width: 1022px) {
  .images img {
    width: 200px;
    height: 320px;
    flex-shrink: 0;
  }
}
@media (min-width: 1024px) {
  .images img {
    width: 408px;
    height: 280px;
  }
}
