.images img {
  cursor: pointer;
  object-fit: cover;
  width: 343px;
  height: 200px;
  border-bottom: 10px solid #9da993;
  border-left: 10px solid #9da993;
  transition: transform 0.3s ease;
}
.images img.flipped {
  transform: scaleX(-1);
  border: none;
  object-fit: scale-down;
  object-position: center;
}
