.intro-section {
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.job-title {
  color: #6f1ab6;
  font-family: Montserrat;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 0;
}

.profile-pic {
  width: 164px;
  height: 164px;
  border-radius: 164px;
  background: lightgray 50% / cover no-repeat;
}

.info-wrapper {
  display: flex;
  width: 343px;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

.my-name {
  color: #000;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding: 0;
  margin: 0;
}

.name-headline-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  width: 100%;
  height: auto;
}

.introText {
  color: #000;
  font-family: Hind;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

img.vert-move {
  -webkit-animation: mover 1s infinite alternate;
  animation: mover 1s infinite alternate;
}
img.vert-move {
  -webkit-animation: mover 1s infinite alternate;
  animation: mover 1s infinite alternate;
}
@-webkit-keyframes mover {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);
  }
}
@keyframes mover {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);
  }
}

/* ---- Media queries ------ */

@media (min-width: 667px) {
  .intro-section {
    padding: 100px 0px 128px 0px;
    gap: 10px;
  }

  .info-wrapper {
    display: grid;
    grid-template-rows: auto; /* Define four rows */
    grid-template-columns: 1fr 430px;
    align-items: center;
    justify-content: center;
  }

  .my-name {
    grid-row: 1;
    grid-column: 1 / span 2;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }

  .name-headline-wrapper {
    grid-row: 1;
    grid-column: 1 / span 2;
  }

  .profile-pic {
    grid-row: 2;
  }

  .introText {
    grid-row: 2;
    grid-column: 2;
  }

  .arrow {
    grid-row: 4;
  }

  .job-title {
    font-family: Montserrat;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
}

/* ------------------------------- */
