:root {
  --darkblue: #200e3a;
  --midblue: #38419d;
  --lightblue: #3887be;
  --green: #52d3d8;
}

.tech-section {
  background-color: var(--midblue);
  color: #ffffff;
}

.tech-box {
  padding: 128px 16px;
  display: flex;
  flex-direction: column;
}

.tech-title {
  align-self: center;
  padding-bottom: 64px;
  font-family: "Montserrat", sans-serif;
  font-size: 56px;
  font-weight: 700;
}

.tech-description {
  font-family: "Hind", sans-serif;
  font-size: 24px;
  font-weight: 600;
}
