#articles {
  background-color: var(--yellow);
  position: relative;
}

.wavy-line-wrapper {
  height: 11px;
  position: absolute;
  width: 100%;
  top: -6px;
  background: url(/public/wavyline-divider.svg) center/auto 100%;
}

.article-image-border {
  border-bottom: 20px solid var(--pink);
  border-left: 20px solid var(--pink);
  object-fit: cover;
}

.articles-container {
  display: flex;
  flex-direction: column;
  row-gap: 4rem;
}

.article-item {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.article-heading {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

/* For medium devices */
@media (min-width: 744px) {
  .article-item {
    gap: 2rem;
  }
}

/* For medium devices */
@media (min-width: 1024px) {
  .articles-container {
    flex-direction: row;
    column-gap: 6rem;
  }
}
