@import url('https://fonts.googleapis.com/css2?family=Hind:wght@400;600&family=Montserrat:wght@600;700&display=swap');

/* ------------ OVERALL ------------ */
:root {
    /* General settings */
    font-family: var(--paragraph-font);
    font-weight: 400;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

/* ------------ TYPOGRAPHY ------------ */

h1,
h2,
h3,
h4 {
    font-family: var(--heading-font);
}

h1 {
    font-size: 56px;
}

h2 {
    font-size: 32px;
}

h1,
h2 {
    font-weight: 700;
}

h3 {
    font-size: 24px;
    font-weight: 600;
}

h4 {
    font-size: 18px;
    font-weight: 600;
}

p {
    font-size: 18px;
}

/* ------------ MEDIA QUERIES ------------ */
/* ------------ Tablet and up ------------ */
@media (min-width: 744px) {

    h1,
    h2 {
        font-size: 56px;
    }

    h3 {
        font-size: 32px;
    }

    h4 {
        font-size: 32px;
    }

}

/* ------------ Tablet only ------------ */
@media (max-width: 1279px) and (min-width: 744px) {

    h3 {
        font-size: 24px;
    }

    h4 {
        font-size: 32px;
    }

}

/* ------------ Desktop only ------------ */
@media (min-width: 1280px) {

    h1,
    h2 {
        font-size: 80px;
    }

    h3 {
        font-size: 32px;
    }

}

@keyframes jump {
  
    0%,
    100% {
      transform: translateY(0);
    }
  
    50% {
      transform: translateY(20px);
    }
  }