.project-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-top: 128px;
    margin-bottom: 128px;
    width: 820px;
    background-color: #FFF;
}

.project-image img {
    width: 280px;
    height: 280px;
    object-fit: cover;
    border-left: 20px solid #0B24F5;
    border-bottom: 20px solid #0B24F5;
    margin-right: 40px;
}

.project-container>.project-info {
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    height: 280px;
    gap: 16px;
    word-wrap: break-word;
    text-align: justify;
}

.button-container button {
    padding: 0;
    margin-right: 10px;
    background-color: #FFF;
    border: none;
}

/* Hover effects */

.button-container .github-btn,
.button-container .livedemo-btn {
    display: block;
}

.button-container .github-btn-hover,
.button-container .livedemo-btn-hover {
    display: none;
}

.button-container button:hover .github-btn,
.button-container button:hover .livedemo-btn {
    display: none;
}

.button-container button:hover .github-btn-hover,
.button-container button:hover .livedemo-btn-hover {
    display: block;
}