/* header */
.header-portfolio {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.header-pf-flex {
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-self: stretch;
    gap: 2rem;
}

/* intro text header */
.section-header-info {
    width: 580px;
    text-align: left;
}

.small-text-header {
    font-size: 1.2rem;
    color: #333;
}

.h1-header {
    font-size: 3rem;
    font-weight: bold;
    color: #000;
    margin: 0;
}

.long-text-header {
    font-size: 1rem;
    color: #666;
    margin-top: 2rem;
}

/* profile image */
.section-header-image {
    border: 3px solid var(--orange);
    border-radius: 50%;
    padding: 5px;
    overflow: hidden;
    width: 400px;
    height: auto;
}

.section-header-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

@media screen and (max-width: 776px) {
    .header-pf-flex {
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
}