.section-skills {
    display: flex;
    padding: 64px 0px;
    flex-direction: column;
    align-items: center;
    gap: 44px;
    align-self: stretch;
}

.skills-container {
    display: flex;
    /* flex-wrap: wrap; */
}

.skills-flex-boxes {
    min-width: 170px;
    text-align: center;
}

.skills-ul, ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.skill-li {
    font-size: 1rem;
    color: #333;
    margin: 0.3rem 0;
    text-align: center;
}

/* För att lägga till linjer mellan kolumnerna */
.skills-flex-boxes:not(:last-child) {
    border-right: 2px solid var(--orange);
    padding: 0 1rem;
}

@media screen and (max-width: 776px) {
    .skills-container {
        flex-wrap: wrap;
        flex-direction: column;
    }
    .skills-flex-boxes:not(:last-child) {
        border-bottom: 2px solid var(--orange);
        padding-bottom: 1rem;
        border-right: none;
    }
}
