.show-more-button {
  border-radius: var(--corner-radius);
  background-color: var(--btn-gray);
  color: var(--btn-text);
  font-family: var(--heading-font);
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  display: flex;
  align-items: center;
  gap: 7px;
  border: none;
  transition: background-color 0.3s;
  cursor: pointer;
  padding-right: 12px;
}

.show-more-button:hover {
  color: white;
  background-color: var(--primary);
}

.netlifyButton .show-more-button:hover {
  background-color: var(--hover-pink);
  color: white;
}

.show-more-button:hover img {
  filter: invert(100%) brightness(150%);
  /* Invert the color to white and set brightness to 100% on hover */
}
