.common-button {
    border-radius: var(--corner-radius);
    background-color: var(--btn-gray);
    color: var(--btn-text);
    font-family: var(--heading-font);
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    display: flex;
    align-items: center;
    gap: 7px;
    border: none;
    transition: background-color 0.3s;
    cursor: pointer;
    padding-right: 16px;
}

.show-more-button {
    border-radius: var(--corner-radius);
    background-color: var(--btn-gray);
    color: var(--btn-text);
    font-family: var(--heading-font);
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    display: flex;
    align-items: center;
    gap: 7px;
    border: none;
    transition: background-color 0.3s;
    cursor: pointer;
    padding: 12px;
}

.show-more-button:hover {
    color: white;
    background-color: var(--primary);
}







/* 
.netlifyButton p,
.githubButton p {
    padding-right: 16px;
}

.netlifyButton a,
.githubButton a {
    text-decoration: none;

} */


/* .netlifyButton button svg,
.githubButton button svg {
    fill: #333333;
}

.netlifyButton button:hover {
    background: #0B24F5;
    color: white;
    transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
}

.netlifyButton button:hover p {
    color: white;
    transition: color 0.3s ease-in-out;
}

.githubButton button:hover {
    background: #0B24F5;
    color: white;
    transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
}

.githubButton button:hover p {
    color: white;
    transition: color 0.3s ease-in-out;
} */