@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Hind:wght@400;600&display=swap');


*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --blue: #0B24F5;
    --lightblue: #3887be;
    --green: #52d3d8;
    --font-color: #333;
    --button-bg: #d1cbcb;
    --button-font-color: #333;
}

html,
body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

.project-tags {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.project-tag {
    background-color: #000000;

    padding: 2px 2px;
    margin-bottom: 16px;

    color: #FFF;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.featured-title {
    color: #0B24F5;
    text-align: center;
    font-family: Montserrat;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 66px;
    padding-top: 50px;
}

.project-body {
    color: #000;
    font-family: Hind;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    margin-top: 10px;
}



.projects-container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 0 16px;
}

.project-card {
    overflow: hidden;
    display: flex;
    flex-direction: column;

    background-color: #fff;
    max-width: 100%;
    margin-bottom: 45px;
}

.project-image {
    width: 100%;
    margin-bottom: 12px;
    border-bottom: var(--blue) solid 10px;
    border-left: var(--blue) solid 10px;
}

.project-content {
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.project-title {
    font-size: 24px;
    color: var(--font-color);
    margin: 0;
}

.project-buttons {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.project-button {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    padding: 2px;
    border-radius: 40px;
    border: none;
    background: #F5F5F5;
    color: #000;
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none;
}


.project-button:hover {
    background-color: #e0e0e0;
}

.project-button a {
    /* color: var(--button-font-color); */
    text-decoration: none;
    /* display: flex; */
    align-items: center;

    color: #333;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding: 10px;
}

@media (min-width: 768px) and (max-width: 1024px) {
    .projects-container {
        display: flex;
        flex-direction: column;
        gap: 32px;
        padding: 32px 16px;

    }

    .project-card {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 16px;
        gap: 24px;
        margin: 0;

    }

    .featured-title {

        text-align: left;
        padding-left: 18px;

    }

    .project-image {
        width: 200px;
        height: 280px;
        flex-shrink: 0;
        border-bottom: var(--blue) solid 8px;
        border-left: var(--blue) solid 8px;
    }

    .project-content {
        display: flex;
        flex-direction: column;
        gap: 16px;
        width: 100%;
    }

    .project-title {
        color: #000;
        font-family: Montserrat;
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }

    .project-body {
        color: #000;
        font-family: Hind;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    .project-buttons {
        display: flex;
        flex-direction: row;
        gap: 16px;

    }

    .project-button {

        font-size: 16px;
        font-weight: 500;
        transition: background-color 0.3s ease;
    }

    .project-button:hover {
        background-color: #d0d0d0;

    }
}

@media (min-width: 1024px) {
    .projects-container {
        max-width: 1200px;
        padding: 40px;
    }

    .project-card {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 16px;
        gap: 24px;
        margin: 0;
    }

    .project-image {
        width: 35%;
    }

    .project-content {
        width: 65%;
    }

    .project-title {
        font-size: 24px;
    }

    .featured-title {

        text-align: left;
        padding-left: 18px;

    }

    .project-body {
        font-size: 16px;
    }

    .project-buttons {
        margin-top: 20px;
        display: flex;
        flex-direction: row;

    }
}

@media (max-width: 767px) {
    .project-button {
        max-width: 200px;
    }

    .project-buttons {
        align-items: flex-start;
    }
}