/* breakpoints -- https://getbootstrap.com/docs/5.0/layout/breakpoints/ */
/* Tablet */
@media (min-width:768px) and (max-width:991px) {
  .cover-image-container .cover-image {
    display: flex;
  }

  .cover-image-container {
    height: 412px;
    margin: 0;
  }

  .cover-image {
    width: 100%;
    height: inherit;
    object-fit: cover;
  }

  .intro-section {
    margin: auto 102px;
  }

  .profile-and-image {
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .socialbtns ul {
    justify-content: space-evenly;
    align-items: flex-start;
  }

  .tech-section h2 {
    margin-top: 254px;
  }

  .tech-section p {
    margin: auto 122px 287px 122px;
  }

  .project {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;
  }

  .project-image {
    width: 184px;
    height: 280px;
  }

  .project-buttons {
    flex-direction: row-reverse;
    justify-content: flex-end;
    gap: 24px;
  }

  .blogpost-container {
    margin: auto 89px;
  }

  .skills-list-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 5px 5px;
    grid-auto-flow: row;
    margin: auto 150px;

  }

  .skills-list {
    align-self: flex-start;
  }

  .time-to-talk {
    font-size: 120px;
    line-height: 162px;
    margin-bottom: 0;
  }

  .contact-info h3 {
    text-align: center;
    font-weight: 900;
    font-size: 32px;
    line-height: 43px;
  }
}

/* Desktop normal */
@media (min-width:992px) and (max-width: 1199.98px) {
  .profile-container {
    display: flex;
    flex-direction: row-reverse;
  }

  .cover-image-container .cover-image {
    display: flex;
  }

  .cover-image-container {
    display: flex;
    width: 50%;

  }

  .cover-image {
    object-fit: cover;
    height: 980px;
    overflow: hidden;
  }

  .profile-and-image {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: auto 55px;
  }

  .summary {
    margin: auto 55px;

  }

  .scroll{
    position:relative;
    left:25vw;
  }

  .tech-section {
    height: 800px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

  }

  .tech-section h2 {
    margin-left: 150px;
  }

  .tech-section p {
    margin: 0 150px 0 80px;
  }

  .featured-projects-section h2 {
    margin-left: 150px;
  }

  .projects-container {
    margin: auto 150px;
  }

  .project {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;
  }

  .project-image {
    width: 280px;
    height: 280px;
  }

  .project-buttons {
    flex-direction: row-reverse;
    justify-content: flex-end;
    gap: 24px;
  }

  .my-words-section h1 {
    text-align: left;
    margin-left: 60px;
  }

  .blogpost-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 88px 32px;
    grid-auto-flow: row;
    margin: auto 60px;
  }

  .article-image {
    width: 100%;
    height: 340px;
  }

  .skills-list-container {
    flex-direction: row;
    justify-content: center;
    padding-bottom: 218px;
  }

  .skills-list {
    align-self: flex-start;
  }

  .contact-info h3 {
    text-align: center;
    font-weight: 900;
    font-size: 32px;
    line-height: 43px;
  }

  .socialbtns ul {
    justify-content: center;
    gap: 30px;
  }

}

/* Desktop Large */
@media (min-width:1200px){
  .profile-container {
    display: flex;
    flex-direction: row-reverse;
  }

  .cover-image-container .cover-image {
    display: flex;
  }

  .cover-image-container {
    display: flex;
    width: 50%;

  }

  .cover-image {
    object-fit: cover;
    height: 980px;
    overflow: hidden;
  }

  .profile-and-image {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: auto 55px;
  }

  .summary {
    margin: auto 55px;

  }

  .scroll{
    position:relative;
    left:25vw;
  }
  
  .tech-section {
    height: 800px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

  }

  .tech-section h2 {
    margin-left: 300px;
  }

  .tech-section p {
    margin: 0 300px 0 100px;
  }

  
  .featured-projects-section h2 {
    margin-left: 300px;
  }

  .projects-container {
    margin: auto 300px;
  }

  .project {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;
  }

  .project-image {
    width: 280px;
    height: 280px;
  }

  .project-buttons {
    flex-direction: row-reverse;
    justify-content: flex-end;
    gap: 24px;
  }

  .my-words-section h1 {
    text-align: left;
    margin-left: 143px;
  }

  .blogpost-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 88px 98px;
    grid-auto-flow: row;
    margin: auto 143px;
  }

  .article-image {
    width: 100%;
    height: 340px;
  }

  .skills-list-container {
    flex-direction: row;
    justify-content: center;
    padding-bottom: 218px;
  }

  .skills-list {
    align-self: flex-start;
  }

  .contact-info h3 {
    text-align: center;
    font-weight: 900;
    font-size: 32px;
    line-height: 43px;
  }

  .socialbtns ul {
    justify-content: center;
    gap: 30px;
  }

  
}
  