@media only screen and (min-width: 744px) {
  /* tablet */

  /*splash & hero section */
  .splash-title-section {
    padding-bottom: 0px;
  }

  .splash-hero-picture {
    display: flex;
    height: 412px;
    margin: 0;
  }

  .splash-hero-picture img {
    object-fit: cover;
    width: 100%;
  }
  .splash-title-card {
    display: flex;
    flex-direction: row;
    align-content: center;
    gap: 29px;
    padding-left: 102px;
  }

  .splash-title-card-picture {
    align-items: center;
    padding: 0px;
  }

  .splash-title-card-titles {
    justify-content: center;
  }

  .splash-text-container {
    padding-left: 142px;
  }

  .splash-section .link-icons {
    padding-left: 40px;
    padding-right: 212px;
  }

  .splash-scroll {
    padding: 30px;
  }

  .splash-scroll-text {
    padding-top: 10px;
  }

  .splash .link-icons {
    padding-left: 142px;
    padding-right: 212px;
    justify-content: center;
    gap: 60px;
  }

  /* tech section */
  .tech-section {
    padding-top: 254px;
    padding-bottom: 287px;
    width: 100%;
  }

  .tech-text {
    margin: 0 122px;
  }

  /* projects section */

  .projects-section {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .projects-section h1 {
    padding-bottom: 24px;
  }

  .projects-featured-projects {
    gap: 80px;
  }

  .projects-project {
    flex-direction: row;
    height: 280px;
  }

  .projects-project-text {
    justify-content: space-between;
  }

  .projects-project-image img {
    width: 184px;
    height: 100%;
    object-fit: cover;
  }

  .projects-project-link-buttons {
    flex-direction: row;
  }

  /* words section */

  .words-section {
    padding-top: 120px;
    padding-bottom: 120px;
    width: 100%;
  }

  .words-section h1 {
    margin: 0 89px;
  }

  .words-articles {
    margin: 0 89px;
  }

  .words-articles-article-image img {
    width: 100%;
    height: 340px;
    object-fit: cover;
  }

  /* skills section */

  .skills-categories {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 5px 5px;
    margin: auto 150px;
  }

  /* contact section */

  .contact-section {
    justify-content: center;
  }

  .contact-section h1 {
    font-family: "Satoshi";
    font-style: normal;
    font-weight: 900;
    font-size: 120px;
    line-height: 162px;
    text-align: center;
    color: #eb5577;
  }

  .contact-information-elements {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .contact-title-card {
    display: flex;
    flex-direction: row;
    align-content: center;
    gap: 29px;
    padding-bottom: 120px;
    padding-top: 75px;
  }

  .contact-title-card-picture {
    align-items: center;
    padding: 0px;
  }

  .contact-title-card-titles {
    justify-content: center;
  }

  .contact-information {
    justify-content: center;
    font-family: "Satoshi";
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 43px;
    color: #000000;
  }
  .contact-section .link-icons {
    gap: 64px;
  }
}

@media only screen and (min-width: 1280px) {
  /* desktop normal */

  /* splash and hero section */
  .splash {
    display: flex;
    flex-direction: row-reverse;
    height: 980px;
  }

  .splash-hero-picture {
    display: flex;
    height: 980px;
    margin: 0;
    width: 50%;
  }

  .splash-title-section {
    padding-top: 252px;
    width: 50%;
  }

  .splash-scroll {
    /* https://stackoverflow.com/questions/7558642/left50-element-not-appearing-in-middle-of-page */
    position: absolute;
    left: 50%;
    margin-left: -69px;
    background-color: white;
  }

  /* tech section */

  .tech-section {
    height: 800px;
  }

  .tech-section h1 {
    padding: 0px;
  }

  .tech-container {
    flex-direction: row;
    margin: 0 230px;
    gap: 143px;
    align-content: center;
  }

  .tech-text {
    margin: 0;
    width: 500px;
  }

  /* projects section */

  .projects-section h1 {
    margin: auto 230px;
    padding-bottom: 40px;
  }

  .projects-featured-projects {
    margin: auto 230px;
  }

  .projects-project-image img {
    width: 280px;
    height: 280px;
  }

  /* words section */
  .words-articles {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 32px;
  }

  /* skills section */

  .skills-section {
    height: 802px;
  }

  .skills-section h1 {
    padding-top: 121px;
  }

  .skills-categories {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 66px;
  }
}

@media only screen and (min-width: 1512px) {
  /* desktop large */

  /* projects section */
  .projects-section h1 {
    margin: auto 346px;
  }

  .projects-featured-projects {
    margin: auto 346px;
  }

  /* words section */
  .words-section h1 {
    margin: 0 143px;
  }

  .words-articles {
    margin: 0 143px;
  }

  /* contact section */

  .contact-section {
    height: 1178px;
    padding-bottom: 0px;
  }
}
