@media screen and (max-width: 667px) {

    /*Mobile*/
    .headerImg {
        display: none;
    }

    .infoBox {
        width: 100%;
        padding-bottom: 30px;
    }

    .infoText {
        align-items: center;
        display: flex;
        width: 100%;
        justify-content: center;
    }

    .infoText p {
        margin: 25px;
    }

    .portraitAndName {
        display: flex;
        width: 100%;
        margin-top: 70px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0;
    }

    .portrait {
        width: 70%;
        justify-content: center;
        display: flex;
    }

    .name {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        align-items: flex-start;
        margin-left: 30px;
        margin-right: 30px;
        margin-top: 15px;
    }

    .name h2 {
        margin-left: 25px;
    }

    .name h3 {
        margin-left: 25px;
    }

    .socialMediaLinks {
        justify-content: space-around;
    }

    .techBox {
        display: flex;
        width: 100%;
        background: lightblue;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 23px;
        padding-bottom: 30px;
    }

    .techText {
        font-weight: 700;
        font-size: 80px;
        line-height: 108px;
        display: flex;
    }

    .techInfo {
        width: 90%;
    }

    .techText h2 {
        display: flex;
        align-items: center;
        font-size: 65px;
    }

    .projectsRow1, .projectsRow2 {
        flex-direction: column;
        align-items: center;
    }

    .project1, .project2, .project3, .project4 {
        flex-direction: column;
        align-items: center;
    }

    .projects h2 {
       font-size: 65px;
       text-align: center;
    }
    .myWords h2 {
        font-weight: 700;
        font-size: 65px;
        line-height: 97px;
        text-align: center;
    }

    .skills h2 {
        font-size: 65px;
    }

    .skillsBox {
        flex-direction: column;
    }

    .skillInfo {
        align-items: center;
        padding-bottom: 60px;
    }
    .contact h2:nth-child(1) {
        text-align: center;
        font-size: 50px;
    }

    .footerPortraitAndName {
        flex-direction: column;
    }

    .phoneNumber h6 {
        font-weight: 900;
        font-size: 20px;
        line-height: 43px;
      }

      .email h6 {
        font-weight: 900;
        font-size: 20px;
        line-height: 43px;
        margin-bottom: 15px;
      }

      .footerName h3 {
        font-size: 23px;
      }

      .footerName h2 {
        font-size: 28px;
      }

      .footerPortraitAndName {
        margin-right: 0;
      }

      .footerPortrait {
        width: 100%;
        justify-content: center;
      }

      .footerPortraitImg {
        padding: 25px;
      }
}


@media screen and (min-width: 668px) and (max-width: 1023px) {
    /*Tablet*/

    header {
        flex-direction: column-reverse;
    }

    .headerImg {
        width: 100%;
        height: 270px;

    }

    .infoBox {
        width: 100%;
        padding-bottom: 30px;
        display: flex;
        flex-direction: column;
        gap: 40px;   

      }

      .infoText p {
        margin-left: 100px;
        margin-right: 100px;
        font-weight: 400;
        font-size: 22px;
        line-height: 29px;
    }

    .portraitAndName {
        display: flex;
        width: 94%;
        margin-top: 70px;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }

    .portrait {
        justify-content: right;
        display: flex;
        width: 50%;
      }

.techBox {
    flex-direction: column;
    align-items: center;
    height: 800px;
    justify-content: center;
}

      .techText {
        display: flex;
        align-items: center;
        margin-bottom: 70px;

      }
}