



h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 3em;
    margin-top: 0px;
    font-weight: 700;
    /* color: white; */
}

.thoughts-4 h2 {
    color: var(--main);
    font-size: 2em;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

.skills-5 h2 {
    font-size: 1em;
    color: var(--main);
}



h3 {
    font-family: 'Roboto', sans-serif;
    color: var(--main);
    font-size: 2em;
    font-weight: 900;
    margin-bottom: 0px;
    text-align: center;
}

h4 {
    font-family: 'Roboto', sans-serif;
    color: var(--main);
    font-size: 1.3em;
    font-weight: 900;
    margin-bottom: 0px;
}

p {
    padding: 30px;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
    text-align: left;
    line-height: 1.9;
    font-size: 1.5em;
}

.thoughts-4 h3 {
    text-align: left;
    font-size: 1.5em;
}

.thoughts-4 h4 {
    font-family: 'Roboto', sans-serif;
    color: black;
    font-size: 2em;
}



.skills-5 h3 {
    color:black;
}


.more-6 .fa-github, .fa-stack-overflow, .fa-linkedin-in{
    color:red;
    size: 5px;
}


.contact-7 h1 {
    text-align: center;
}

.contact-7 p {
    text-align: center;
}

.p-bold {
    margin: 0px;
    padding: 10px;
    font-family: 'Roboto', sans-serif;
    text-align: left;
    font-weight: 900;
    line-height: none;
}

.header-1 p {
    font-family: 'Roboto', sans-serif;    
}








/* För att få en bild att "flyta ner" så skall bilden vara positioned absolute medan föräldern är positioned relatve */


.main-section h1{
    text-align: center;
}

/* Dessa inställningar skall gälla för alla P:n */
/* .green {
    padding: 30px;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
    text-align: left;
    line-height: 1.9;
} */

.tech-2 {
    text-align: center;
}

.featured-projects-3 {

}



.thoughts-4 {
    padding: 30px;
}
.skills-5 {
    padding: 30px;
}
.more-6 {}

.contact-7 p {
    color: white;
}




/* 
Mobil -  */
@media (min-width: 0px) and (max-width: 767px) { }

/* Paddda -  */
@media (min-width: 768px) and (max-width: 991px) {
    .green {
        /* background-color: #E6EFE5; */
    }
    :root {
        --main: #73A347;
        --secondary: #E6EFE5;
    }
    
}

/* Liten Dator -  */
@media (min-width: 992px) {
    /* .green {
        background-color: #E6EFE5;
    } */
    :root {
        --main: #73A347;
        --secondary: #E6EFE5;
    }
}

/* Stor Dator -  */
@media (min-width: 1200px) {
    /* .green {
        background-color: #E6EFE5;
    } */
    :root {
        --main: #73A347;
        --secondary: #E6EFE5;
    }
}


