@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto:wght@400;700&display=swap');

:root {
  --ff-secondary: 'Roboto', sans-serif;
  --fw-bold: 700;
  --clr-primary: #f38d49;
  --clr-secondary: #fff;
}

body {
  margin: 0;
  text-align: center;
  font-size: 17px;
  font-family: 'Montserrat', sans-serif;
}

ul {
  list-style: none;
}

h2 {
  background-color: var(--clr-primary);
  color: var(--clr-secondary);
  height: 26px;
  font-size: 22px;
  padding: 1px 4px;
}

h3 {
  color: var(--clr-primary);
}

.inline-text {
  display: inline;
}

.flex {
  display: flex;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.text-left {
  text-align: left;
}

strong {
  color: var(--clr-primary);
}

.white-text {
  color: var(--clr-secondary);
}

.orange-text {
  color: var(--clr-primary);
}

.hide {
  display: none;
}

.container {
  width: 375px;
  margin: 0 auto;
}

.container-top {
  margin-top: 40px;
}

.section {
  padding: 41px 0 40px 0;
}

.section:nth-child(odd) {
  background-color: #F4F4F4;
}

.introduction__line {
  border: 1px solid #ff6905;
  width: 40px;
  display: inline-block;
  margin-bottom: 4px;
  margin-right: -5px;
}

.introduction__dot {
  height: 10px;
  width: 10px;
  background-color: #ff6905;
  border-radius: 50%;
  display: inline-block;
  margin-right: 5px;
}

time {
  display: block;
  color: var(--clr-primary);
}