@import url('css/satoshi.css');

@font-face {
    font-family: SatoshiRegular;
    font-weight: bold;
    src: url('./Code/Fonts/OTF/Satoshi-Regular.otf');
  }
@font-face {
    font-family: SatoshiBold;
    font-weight: bold;
    src: url('./Code/Fonts/OTF/Satoshi-Bold.otf');
  }

  @font-face {
    font-family: SatoshiBlack;
    font-weight: bolder;
    src: url('./Code/Fonts/OTF/Satoshi-Black.otf');
  }

/*general sections*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

/* .outer-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inner-wrapper {
    width: 75%;
    min-width: 170px;
    margin: 0;
} */

/* //////////new section - header/////////// */


.header-section {
    min-width: 320px;
    min-height: 960px;
}

.header-image {
    width: 100%;
    height: auto;
    display: none;
}

.profile-picture {
    display: flex;
    justify-content: center;
}

.profile-picture img {
    width: 164px;
    height: 164px;
    /* max-width: 100%;
    height: auto; */
    border-radius: 50%;
    margin: 55px 105.5px 29px 105.5px;
    /* check the dimensions here */
    overflow: hidden;
 }

.header-text {
    margin-left: 24px;
}

h1 { /*name*/
    font-family: SatoshiBold;
    color: blue;
    font-size: 28px;
    line-height: 37.8px;
}

.scroll-arrow {
    position: absolute;
    left: calc(50% - 9.5px);
    width: 19px;
    height: 30px;
    margin-top: 23px;
}

.scroll-text {
    position: absolute;
    left: calc(50% - 39px);
    width: 78px;
    height: 22px;
    margin-top: 73px;
}

h2 { /*Frontend Developer*/
    font-family: satoshiBold;
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 43px;
}

.introduction {
    margin-left: 24px;
    margin-right: 24px;
    margin-bottom: 54.3px;
    padding: 0;
}


p {
    font-family: 'EB Garamond', serif;
    font-size: 22px;
    line-height: 40px;
}

.socialmedia-icons {
    display: flex;
    justify-content: space-evenly;
    padding-top: 20px;
    padding-bottom: 60px;
}

.icon {
    display: flex;
    justify-content: space-evenly;
    font-size: 32px;
}


.visually-hidden {
    position: absolute;
    overflow: hidden;
    clip: rect(0,0,0,0);
    width: 1px;
    height: 1px;
    white-space: nowrap;
  }
  

/*///////// new section - tech /////////////*/


.second-page-tech-section {
    display: flex;
    flex-direction: column;
    background-color: #EDFFFF;
    width: 100%;
    min-width: 375px;
    height: 530px;
}


.title-tech {
    display: flex;
    justify-content: center;
    /* margin-left: 99px; */
}

.title-tech h3 {
    font-family: SatoshiBold;
    color: blue;
    font-size: 80px;
    line-height: 108px;
    margin-top: 80px;
}

.tech-info {
    margin-left: 24px;
    margin-right: 24px;
    margin-top: 60px;
    padding: 0;
}

.tech-info p {
    font-size: 22px;
    line-height: 32px;
}

/* ////////////new section - featured projects /////////////*/

.card-container {
   display: flex;
   flex-direction: column;
   justify-content: center; /*aligning contents vertically as direction is column*/
   padding: 0;
   margin-right: 24px;
   margin-left: 24px;
}




.card-container img {
    /* max-width: 90%; */
}

.card-content {
    /* width: 100%;
    box-sizing: border-box; */
}

.title-featured-projects {
    margin: 64px 24px;
    color: #0B24F5;

}

.title-featured-projects h3 {
    font-family: SatoshiBold;
    font-size: 72px;
    line-height: 80px;
    margin-top: 64px;
}

.project-image {
    width: 327px;
    height: 280px;
    margin-bottom: 40px;
}

/*need to add space under image*/


.project-text h3 { /*Name of project*/
    font-family: SatoshiBold; /* fix the font*/
    font-size: 32px;
    line-height: 43px;
    color: #000000;
}

.project-text p{
    font-family: 'EB Garamond';
    font-size: 22px;
    line-height: 29px;

}

.tag-wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 4px;
}

.tag-wrapper p {
    font-family: SatoshiRegular;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
    background: #000000;
    padding: 2px 6px;
    margin-top: 20px;
}

.link-github {
    display: flex;
    margin-top: 24px;
    text-decoration: none;
    font-family: SatoshiRegular;
    font-size: 20px;
    line-height: 27px;
    background-color: #F5F5F5;
    width: 200px; height: 48px;
    border-radius: 40px;
}

.link-github p {
    padding: 10.5px 16px 10.5px 7px;
    font-family: SatoshiRegular;
    font-size: 20px;
    line-height: 27px;
    color: #000000;
}

.link-netlify {
    display: flex;
    margin-top: 24px;
    margin-bottom: 80px;
    /* padding: 10.5px 16px 10.5px 55px; */
    text-decoration: none;
    font-family: SatoshiRegular;
    font-size: 20px;
    line-height: 27px;
    background-color: #F5F5F5;
    width: 200px; height: 48px;
    border-radius: 40px;
    /* width: 164px;
    height: 48px; */
    /* border-radius: 40px; */
}

.link-netlify p {
    padding: 10.5px 16px 10.5px 7px;
    font-family: SatoshiRegular;
    font-size: 20px;
    line-height: 27px;
    color: #000000;
}

/* //////////new section - my words//////////*/

.fourth-page-my-words {
    background-color: #FCEDEA;
    padding-bottom: 20px;
    min-width: 375px;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 64px;
    /* display: flex; */
}

.title-my-words h3 {
    color: #EB5577;
    font-family: satoshiBold;
    font-size: 72px;
    line-height: 97px;
    margin-bottom: 64px;
}

.article img {
    margin-left: 24px;
}

.link-border {
    margin-bottom: 98px; /*THIS CAUSES A WHITE BOX*/
}


/* button {
    margin-bottom: 93px;
} */

.article-date {
    font-family: satoshiBold;
    font-size: 20px;
    line-height: 27px;
    color: #EB5577;
    margin-top: 40px;
    margin-bottom: 4px;
}

.article-title {
    font-family: satoshiBold;
    font-size: 32px;
    line-height: 43px;
    color: #000000;
    margin-bottom: 24px;

}

.link-doc {
    display: flex;
    text-decoration: none;
    margin-top: 34.5px;
    background-color: #FFFFFF;
    width: 178px;
    height: 48px;
    border-radius: 40px;

}
.link-doc p {
    font-family: SatoshiRegular;
    font-size: 20px;
    line-height: 27px;
    color:#000000;
    margin-top: 10px;
    /* padding: 10.5px 16px 10.5px 7px; */

}

/* new section -skills*/

.fifth-page-my-skills { 
    background-color: #FDF2E4;
    padding-bottom: 137px;
    min-width: 375px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title-skills h3 {
    font-family: satoshiBold;
    font-size: 72px;
    line-height: 97.2px;
    color: blue;
    /* margin-left: 94px; */
    padding-top: 64px;
}


h4 { /*Code, tech etc*/
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 2px;
    gap: 8px;
    font-family: satoshiRegular;
    font-size: 24px;
    line-height: 32px;
    margin-top: 66px;
    margin-bottom: 16px;
}

ul {
    font-family: 'EB Garamond';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 32px;
    text-align: center;

}

/* //////////new section -time to talk*/

.final-section {
    background-color: white;
}

.title-time-to-talk h3 {
    display: flex;
    justify-content: center;
    font-family: satoshiBold;
    font-size: 58px;
    line-height: 78px;
    margin-left: 24px;
    margin-top: 64px;
    color: #EB5577;
}

.profile-picture-again img {
    min-width: 164px;
    height: auto;
    border-radius: 50%;
    margin: 55px 105.5px 29px 24px;
    overflow: hidden;
 }

.name-occupation-text {
    margin-left: 24px;
}

.email-address h2 {
    font-size: 24px;
    line-height: 32px;
    color: #000000;
    margin-top: 99px;
    margin-bottom: 99px;
    margin-left: 24px;;
}

.socialmedia-icons-again {
    display: flex;
    justify-content: space-evenly;
    padding-top: 20px;
    padding-bottom: 60px;
}

/*MEDIA QUERIES */

@media (min-width: 667px) and (max-width: 1024px) {

/*new section - header*/

  
    .header-image-container {
        display: flex;
        
    }

    .header-image { /*need to fix this */
        display: flex; 
        height: 400px;
    } 

    .profile-picture img {
        min-width: 164px;
        height: auto;
        /* max-width: 100%;
        height: auto; */
        border-radius: 50%;
        margin-top: 81px;
        margin-left: 102px;
        margin-bottom: 32px;
        margin-right: unset;
        /* check the dimensions here */
        overflow: hidden;
     }

     .header-container {
        display: flex;
        flex-direction: row;
     }

     .header-text {
        margin-top: 106.5px;
        margin-left: 29px;
    }

    .socialmedia-icons {
        padding-bottom: 50px;
    }

/*new section - tech*/


   .tech-info {
        margin-left: 122px;
        margin-right: 122px;
   }

   /*new section - featured projects*/

    .title-featured-projects h3 {
        margin-top: 64px;
        font-size: 80px;
        line-height: 108px;
        margin-left: 24px;
    }


    .project-image {
        width: 184px;
        min-height: 280px;
        object-fit: cover;
        object-position: center center;
        margin-left: 24px;
        margin-right: 24px;
    }

    .card-content { /*Name/info/tags*/
        display: flex;
        flex-direction: row;
    }

    .project-links {
        display: flex;
        flex-direction: row;
        margin-top: 40px;

    }

    .link-netlify {
        margin-left: 24px;
    }

    /*My words section*/

    .title-my-words {
        margin-left: 25px; /*come back to this later*/
        padding-top: 64px;
    }

    .article-image {
        width: 584px;
        height: 340px;
        object-fit: cover;
    }

    article {
        margin-left: 25px; /*come back to this later*/
        margin-right: auto;
    }

/*new section - skills */

    .my-skills {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .skills-list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 66px;
    }

/* new section - time to talk */

    .profile-picture-again img {
        min-width: 164px;
        height: auto;
        border-radius: 50%;
        margin-top: 81px;
        margin-bottom: 32px;
        margin-right: unset;
        overflow: hidden;
    }

    .picture-info-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .name-occupation-text {
        margin-top: 106.5px;
        margin-left: 29px;
    }

    .title-time-to-talk {
        margin-top: 196px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .email-address {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    }



@media (min-width: 1025px) {

    /*new section - header*/

    header {
        /* display: grid;
        grid-template-columns: 1fr 1fr; */
        display: flex;
        flex-direction: row-reverse;
        height: 980px;
      
    }

    .header-image {
        display: flex;
        object-fit: cover;
        flex-basis: 50%;
        height: 980px;
        margin: 0;
    }

      .profile-picture img {
        min-width: 164px;
        height: auto;
        /* max-width: 100%;
        height: auto; */
        border-radius: 50%;
        margin-top: 81px;
        margin-left: 102px;
        margin-bottom: 32px;
        margin-right: unset;
        /* check the dimensions here */
        overflow: hidden;
     }

     .header-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-basis: 50%;
        margin: 0;
     }

     .header-text {
        margin-top: 106.5px;
        margin-left: 29px;
        margin-right: 29px;
    }




     /*new section - Tech */

    .second-page-tech-section {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        gap: 0px;
       
    }


    .tech-info {
        display: flex;
        align-self: center;      
        margin-right: 90px;
        }


    /*new section - My words*/

    .articles {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }


    /*new section - skills */

    .my-skills {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .skills-list {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 66px;
    }

    /*new section - time to talk */

    .profile-picture-again img {
        min-width: 164px;
        height: auto;
        border-radius: 50%;
        margin-top: 81px;
        margin-bottom: 32px;
        margin-right: unset;
        overflow: hidden;
    }

    .picture-info-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .name-occupation-text {
        margin-top: 106.5px;
        margin-left: 29px;
    }

    .title-time-to-talk {
        margin-top: 196px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .email-address {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    }
