* {
    font-family: 'IBM Plex Mono', monospace;
}


.dropdown-toggle[aria-expanded="true"] .caret {
    border-bottom: 4px dashed;
    border-top: none;
}

.dropdown-toggle[aria-expanded="true"] + .dropdown-menu {
    display: block;
}