.header-img{
    position: absolute;
    width: 375px;
    height: 520px;
    left: 0px;
    top: 0px; 
}

.header-content{
    position: absolute;
    width: 220px;
    height: 202px;
    left: 24px;
    top: 121px;
    border: 2px solid black;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
    /* or 138% */
    letter-spacing: 0.04em;
    color: red;
}

.account-icons{
    position: absolute
}
