:root {
  --primary:#E6D9C8;
  --secondary:#E5C2A6;
  --third: #684853;
  --fourth:#A8AEC4;
  --fifth: #EDE3DA;
  --sixth: #FAEFE6;
}

body,html {
  margin: 0;
  background-color: var(--fifth);
  font-family: 'Montserrat', sans-serif;
  background-color: var(--sixth)
}

/*** HEADINGS ***/

h1 {
  font-size: 25px;
}

h2 {
  font-size: 22px;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: bold;
}

.heading-self {
  color: var(--third);
}

h2:last-child {
  color: var(--fifth);
}

h5 {
  margin-bottom: 0px;
  text-transform: uppercase;
  color: var(--third);
  font-weight: 700;
  font-style: normal;
  font-family: 'roboto';
  font-size: 17px;
  line-height: 28px;
}

mark {
  background-color: var(--third);
  color: var(--fifth);
  padding: 0 5px;
}

p {
  font-family: 'roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 28px;
  margin:5px 0px 5px 0px;
} 
/*** HERO-PART ***/

.hero {
  /* position: relative; */
  height: 45vh;
  /* display: flex;
  justify-content: center; */
}

.hero-image {
  width: 100vw;
  height: 45vh;
  object-fit: cover;
  position: relative;
}

.hero-selfpic {
  width: 80px;
  height: 100px;
  z-index:1;
  border-radius: 50%;
  border: var(--fifth) solid 2px;
  position: absolute;
  top:240px;
  bottom: 0;
  left: 20px;
  right: 0;
}

.hero-info {
  position: absolute;
  top: 170px;
  left: 120px;
  bottom: 0px;
  right: 0px;
  border: white solid;
  padding: 10px;
  text-align: left;
  display: table;
  color: var(--fifth);
  font-family: 'Roboto', sans-serif;
}

.icons-top {
  position: absolute;
  top: 30px;
  bottom: 0;
  left: 280px;
  right: 0;
  border: solid black;
  display: table;
  justify-content: center;
  align-items: center;
}


.icon {
  margin: 0px 2px;
  display: inline-block;
  font-size: 15px;
  transition: 1s; 
  height: 25px;
  width: 25px;
}

.icon:hover {
  transition: 1s;
  color: var(--third);
} 

/* .icon:hover {
color: var(--third);
/* border: solid 2px var(--third);  */
/* transition: 1s; */




/*** INFO-PART ***/

.info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.summary-box {
  width: 100vw;
  display: flex;
  justify-content: center;
  background-color: var(--primary);
}

.summary {
  width: 310px;
  text-align: left;
  padding: 2px;
  border: solid black;
  margin-top: 10px;
  font-family: 'montserrat';
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 28px;
}

.textwrap {
  float: left;
  margin:15px 5px 5px 5px;
  width: 35px;
}

.tech-box {
  background-color: var(--sixth);
  width: 100vw;
  display: flex;
  justify-content: center;
}
.tech {
  width: 310px;
  text-align: center;
  padding: 0px;
  border: solid turquoise;
  font-family: 'montserrat';
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 28px;
}

/*** PROJECTS PART ***/

.projects-container {
  text-align: center;
  background-color: var(--primary);
}

.projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: solid black;
  align-items: center;
}

.top-project {
  text-align: left;
  align-content: center;
  border: solid turquoise;
  width: 310px;
  padding: 0px;
  margin: 20px 0px 20px 0px;
}

.top-project img {
  width: 310px;
  height:180px;
}

.top-project p {
  margin: 5px 0px 5px 0px;
}
a {
  text-decoration: none;
  color: black;
}

.other-projects-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--primary);
}

.other-projects {
  width: 310px;
  text-align: left;
  padding: 0px;
  border: solid turquoise;
}

/*** THOUGTS & SKILLS***/

.my-thoughts-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--sixth);
  padding-bottom: 20px;
}

.my-thoughts {
  text-align: left;
  padding: 0px;
  border: solid black; 
  width: 310px;
  margin:0;
}

.my-thoughts img {
  width: 310px;  
}

.more-thoughts-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--sixth);
  padding-bottom: 20px;
}
.more-thoughts-box {
 border: solid turquoise;
 width: 310px;
 padding: 0px;
 align-items: center;
}

.more-thoughts {
  text-align: left;
  border: solid 1px black;
  margin:10px 0px 10px 0px;
  width: 310px;
}

.skills-container {
text-align: center;
display: flex;
flex-direction: column;
align-items: center;
background-color: var(--primary);
padding-bottom: 20px;
}

.skills {
  text-align: center;
  width: 310px;
  padding: 0px;
  border: solid turquoise;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: space-evenly;
}

ul {
  list-style-type:none;
  padding: 0;
 
}

.skill-list {
  text-align: center;
  width: 120px;
  border: solid white;
  margin-top: 10px;
  font-family:'roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 28px;
}

.more {
  text-align: center;
  border: solid black;
  background-color: var(--sixth);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-content: space-around;
  padding-bottom: 10px;
}

.more-icons {
  padding: 0px;
  height: 100px;
  
}

.more-icons img {
  height: 55px;
  width: 55px;
  padding: 8px;
}

.more-icons img:hover {
color: var(--secondary);
transition:1s;
}

.icon-bottom-text {
  padding:0;
  color: var(--third);
  font-weight: 300px;
  font-family: 'roboto';
}

.icon-bottom-text-seperat {
  padding: 5px;
}

/*** FOOTER ***/

footer {
  display: flex;
  flex-direction: column;
  justify-content: center; 
  text-align: center;
  background-color: var(--third);
  color: var(--fourth);
}

footer a {
  color: var(--fourth);
}

.contact-list {
  padding: 10px;
}

/*** MEDIA QUERIES TABLETT ***/

@media (min-width: 667px) {
 
  .icons-top {
    left: 550px;
    top: 30px;
  }

  .icon {
    height: 40px;
    width: 40px;
  }

  .hero-selfpic {
    width: 100px;
    height: 120px;
    top:150px;
    left: 60px;
  }

  .hero-info {
    top: 110px;
    left: 240px;
  }

  .summary-box {
    padding-top: 30px;
    padding-bottom: 20px;
  }
  .summary {
   padding: 0;
   width: 500px;
  }

  .tech {
    padding:0;
    width: 500px;
  }

  .top-project {
    width: 500px;
    margin: 20px 0px 20x 0px;
    padding: 0px;
  }

  .top-project img {
    width: 500px;
    height: 350px;
  }

  .other-projects-container {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center; 
  }
  
  .other-projects {
    width: 500px;
    text-align: left;
    padding: 0px;
    border: solid white;
    margin-bottom: 20px;
  }

  .my-thoughts-container {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .my-thoughts {
    width: 500px;
    padding: 0px;
  }

  .my-thoughts img {
    width: 500px;
    height: 350px;
  }

  .more-thoughts-container {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .more-thoughts-box {
    width: 500px;
    padding: 0px;
   }

  .more-thoughts {
    text-align: left;
    width: 500px;
    height: 70px;
  }

  .skills {
    text-align: center;
    display: flex;
    flex-direction:row;
    width: 500px;
    padding: 0px;
    margin-bottom: 20px;
  }

  .skill-list {
    text-align: center;
    width: 150px;
    margin: 2px;
  }

  .more-icons img {
    height: 50px;
    width: 50px;
    padding: 5px;
  }
}

/*** DESKTOP MEDIA QUERIES ***/

@media (min-width:1024px){

  .icons-top {
    left: 800px;
    top: 10px;
  }

  .icon {
    height: 55px;
    width: 55px;
  }

  .hero-selfpic {
    width: 130px;
    height: 150px;
    top:110px;
    left: 120px;
  }

  .hero-info {
    top: 90px;
    left: 350px;
    width: 300px;
    height: 100px;
  }

  h1 {
    font-size: 35px;
    line-height:30px;
  }

  .summary {
    padding: 0;
    width: 800px;
   }

   .textwrap {
    width: 40px;
  }
 
   .tech {
     padding:0;
     width: 800px;
   }

   .projects-container {
     display: flex;
     flex-direction:column;
     justify-content: center;
     align-items: center;
   }

   .projects {
     width: 800px;
     flex-direction: row;
     flex-wrap: wrap;
     padding: 0px;
   }

  .top-project {
    width: 350px;
    margin: 20px;
    padding: 0;
  }

  .top-project img {
    width: 350px;
    height: 240px;
  }
  .other-projects {
    width: 800px;
  }

  .my-thoughts {
    width: 500px;
  }

  .my-thoughts img {
    width: 500px;
    height: 350px;
  }
  
  .more-thoughts-box {
    width: 800px;
    padding: 0px;
   }

  .more-thoughts {
    width: 800px;
    height: 65px;
  }

  .skills {
    width: 800px;
    padding: 0px;
    margin-bottom: 20px;
  }

  .skill-list {
    width: 250px;
    margin: 2px;
  }

  .more-icons img {
    height: 70px;
    width: 70px;
    padding: 5px;
  }
  


}