/* Mobile menu */

body {
  background-color: black;
  font-family: "IBM Plex Sans KR", sans-serif;
  font-weight: bold;
  display: grid;
  grid-template-columns: 1fr;
  margin: 0;
}

/* header section */

.header {
  background-image: url(https://i.ibb.co/wY0sPt0/egor-myznik-ZZ1-Zr-HKWASY-unsplash.jpg);
  background-size: cover;
  height: 500px;
  background-position: center;
  margin-bottom: 50px;
}

.portfolioName {
  color: whitesmoke;
  margin-left: 200px;
  margin-top: 150px;
}

.role1 {
  color: whitesmoke;
  margin-left: 200px;
  margin-top: -20px;
  margin-bottom: -30px;
  font-size: 1.5cm;
}

.role2 {
  color: whitesmoke;
  margin-left: 200px;
  font-size: 0.7cm;
}

/* presentation section */

.myPresentation {
  color: whitesmoke;
  text-align: center;
}

/* tech and projects section */

.headerSection {
  color: white;
  text-align: center;
}
