body {
  font-family: 'Roboto', sans-serif;
  margin: auto;
  padding: 0;
}

.hover-shadow {
  font-size: 14px;
}

.hover-shadow:hover {
  box-shadow: 0 0 14px darkslateblue;
  cursor: pointer;
}

/*******************HEADER*******************/
.header-section {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr 2fr 1fr;
  grid-gap: 1em;
  height: 520px;
  background-image: url(./images/sky-background.jpg);
  background-size: cover;
  color: white;
}

.nav-icons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column: 2;
  align-content: center;
  position: relative;
  right: 5%;
  max-width: 150px;
}

.icon-container {
  border: 1px solid white;
  width: 30px;
  height: 30px;
  padding: 10px 2px 2px 10px;
  margin: 3px;
  border-radius: 50%;
  opacity: 0.8;
}

.icon-container:hover {
  background-color: rgba(200, 78, 164, 0.8);
}


.icon {
  width: 20px;
  height: 20px;
}

.header-text {
  grid-row: 2;
  grid-column: 1/3;
  letter-spacing: 0.08em;
  margin: 0 0 0 2em;
}

.profile-pic {
  border-radius: 50%;
  grid-column: 2;
  grid-row: 3;
  position: relative;
  top: 20px;
  right: 10px;
  border: 3px solid white;
  width: 140px;
  height: 140px;
}

/*******************MAIN********************/
.main-content section:nth-child(odd) {
  background-color: whitesmoke;
}

.presentation,
.tech,
.featured-projects,
.other-projects,
.my-thoughts,
.my-skills,
.for-more
{
  padding: 3em 3em;
  text-align: center;
}



.line {
  display: inline-block;
  width: 50px;
  height: 1px;
  background-color: darkslateblue;
  margin-bottom: 8px;
}

.circle {
  display: inline-block;
  background-color: darkslateblue;
  width: 13px;
  height: 15px;
  border-radius: 50%;
  margin-left: -10px;
  margin-top: -2px;
}

.presentation {
  text-align: left;
}

/*******************PROJECTS***********/

.projects a {
  text-decoration: none;
  color: inherit;
}

.project-articles-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 4em;
}

.project-article:hover {
  box-shadow: 0 0 14px darkslateblue;
}

.articles-desktop {
  display: none;
}

.image-wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  max-width: 800px;
}

.project-article {
  max-width: 800px;
}

.project-article img {
  width: 100%;
  height: auto;
  position: relative;
  z-index: 1;
  opacity: 0.8;
  grid-column: 1/4;
  grid-row: 1/4;
  margin: 2em 0em 3em 0em;
}

.overlay-header {
  z-index: 2;
  background-color: rgb(209, 209, 251, 0.6);
  padding: 15px 0;
  margin: 0;
  text-align: center;
  grid-column: 1/4;
  grid-row: 2;
  align-self: flex-start;
}

/****************THOUGHTS**************/
.my-thoughts {
  display: grid;
  justify-content: center;
}

.thought-cards {
  display: grid;
  grid-template-columns: 1fr;
  max-width: 100%;
}

.thought-article {
  max-width: 800px;
}

.thought-article:hover {
  box-shadow: 0 0 14px darkslateblue;
  cursor: pointer;
}

.thought-cards img {
  width: 100%;
  margin: 2em 0em 3em 0em;
}

.thought-cards-desktop {
  display: none;
}

/****************SKILLS*****************/

.my-skills {
  justify-content: center;
  display: grid;
  gap: 2em;
}

.skills-list-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

/****************FOR MORE**************/

.for-more {
  display: grid;
  justify-content: center;
}

.bottom-icons-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 20px;
}

.for-more a {
  text-decoration: none;
  color: inherit;
  font-size: 11px;
}

.for-more a:hover {
  text-decoration: underline;
}

.bottom-icons-container-1 {
  grid-column: 1;
}

.bottom-icons-container-2 {
  grid-column: 2;
}

.bottom-icons-container-3 {
  grid-column: 3;
}

.bottom-icons {
  width: 40px;
  height: 40px;
}

/*******************FOOTER*******************/
.contact {
  background-color: darkslateblue;
  color: white;
  text-align: center;
  font-family: 'Montserrat';
  font-size: 17px;
  font-weight: 700;
  font-style: normal;
  line-height: 25px;
  padding: 60px 0 60px 0;
}

/*************HEADERS & P STYLING**********/
 
h2,
h3,
h4 {
  color: darkslateblue;
  font-family: 'Montserrat', sans-serif;
} 


h1 {
  font-size: 40px;
  font-style: normal;
}

h2 {
 
  text-align: center;
  font-weight: 700;
  font-size: 22px;
}

h2 span {
  background-color: darkslateblue;
  color: white;
  padding: 0 6px;
}

h3 {
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 0.01em;
}

h4 {
  font-weight: bold;
  margin: 0;
}

.sub-title-header {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 21px;
}

.sub-title-header span {
  font-weight: normal;
}

p {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 15px;
  margin-top: 5px;
}

p span {
  color: darkslateblue;
  font-weight: bold;
  padding: 4px 6px;
  margin: 2px;
}

.project-specification-tags span {
  background-color: rgb(209, 209, 251);
  font-weight: normal;
  color: black;
}

.desktop-thoughts-header {
  display: none;
}

.contact-header {
  color: white;
}

/*******************MEDIA*******************/

/*******************TABLET*****************/

@media (min-width: 768px) {

/*******************HEADER*******************/  
  
  .header-section {
    height: 650px;
  }

  .header-text {
    margin: 0 0 0 8em;
  }

  .profile-pic {
    width: 200px;
    height: 200px;
  }

  .nav-icons {
    justify-self: center;
    padding: 0 15px 0 0;
  }


/**************HEADERS & P STYLING**********/
   h1 {
    font-size: 62px;
  }

  h2 {
    font-size: 38px;
  }

  h3 {
    font-size: 28px;
  }

  h4 {
    font-size: 26px;
  }
 
   .sub-title-header {
    font-size: 32px;
  }

  p {
    font-size: 24px;
  }

  .for-more a {
    font-size: 18px;
    line-height: 30px;
  }

  .contact {
    line-height: 30px;
  }

}

/*******************DESKTOP*****************/
@media (min-width: 992px) {

/*******************HEADER*******************/  
  
  .header-section {
    height: 800px;
  }

  .header-text {
    margin: 0 0 0 14em;
  }

  .profile-pic {
    width: 250px;
    height: 250px;
  }

  .presentation {
    text-align: center;
   padding: 2em 6em;
  }

  .icon-container {
    border: 2px solid white;
    width: 40px;
    height: 40px;
    padding: 12px 4px 4px 12px;
    margin: 4px;
  }

  .icon {
    width: 30px;
    height: 30px;
  }


  /**************HEADERS & P STYLING**********/
    h1 {
      font-size: 82px;
    }

    h2 {
      font-size: 48px;
    }

    h3 {
      font-size: 34px;
    }
  
    .sub-title-header {
      font-size: 38px;
    }

    p {
      font-size: 26px;
    }

    .mobile-thoughts-header {
      display: none;
    }

    .desktop-thoughts-header {
      display: block;
    }


  /***********GRID, CONTAINERS************/
  
  body {
    max-width: 2000px;
    margin: auto;
  }

  .project-articles-container {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2;
    justify-items: center;
    gap: 4em;
  }

  .project-article img {
    height: auto;
  }

  .articles-desktop {
    display: inline;
  }

  .thought-cards-desktop {
    display: inline;
  }

  .contact {
    line-height: 41px;
    
  }

  .contact-header {
   display: block;
  }

}
