/* GLOBAL STYLES */
* {
    font-family: 'IBM Plex Mono', monospace;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    margin: 30px;
}

main {
    height: 78vh;
    display: flex;
}

.main-index {
    align-items: flex-end;
}

.content-pages {
    margin-top: 30%;
    flex-direction: column;
}

h1 {
    font-size: 2.8em;
    margin-bottom: 20px;
}

h2 {
    margin-bottom: 5px;
}

h3 {
    font-size: 1.2
}

main p {
    font-size: 1.8em;
}

.body-text {
    margin-bottom: 20px;
    font-size: 1.3em;
}

.content-section {
    margin: 0 0 40px;
}

.content-section ul li {
    list-style: none;
    margin: 0 0 20px 0;
}

.content-section ul li p {
    font-size: 1.3em;
}

/* NAVBAR STYLING */

.nav-parent {
    display: flex;
    flex-direction: row;
    width: auto;
    display: absolute;
}

.nav-child {
    flex: auto;
}

nav ul {
    text-align: right;
    list-style: none;
    margin: 10px 0 0 0;
    padding: 0;
    font-size: 1.2em;
}

nav .home {
    text-decoration: none;
    font-weight: 600;
    margin: 0;
    padding: 0;
    font-size: 2.8em;
    color: #000;
}

li a {
    color: #000;
    text-decoration: none;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    body {
        margin: 20px;
    }

    main {
        height: 78vh;
    }

    h1 {
        font-size: 2em;
        margin-bottom: 15px;
    }

    main p {
        font-size: 1.5em;
    }

    nav .home {
        font-size: 2em;
    }

    nav ul {
        font-size: 1em;
    }

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    body {
        margin: 40px;
    }

    main {
        height: 73vh;
    }

    h1 {
        font-size: 2.3em;
        margin-bottom: 15px;
    }

    main p {
        font-size: 1.8em;
        width: 75%;
    }

    nav .home {
        font-size: 2.3em;
    }

    nav ul {
        font-size: 1.2em;
    }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    main p {
        width: 50%;
    }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    main {
        height: 75vh;
    }

    .content-pages {
        margin-top: 15%;
    }
}

/* .dropdown-toggle[aria-expanded="true"] .caret {
    border-bottom: 4px dashed;
    border-top: none;
}

.dropdown-toggle[aria-expanded="true"] + .dropdown-menu {
    display: block;
} */