* {
    font-family: 'IBM Plex Mono', monospace;
}

main {
    margin: 30px;
}

main p {
    font-size: 2em;
}

nav {
    display: flex;
    flex-direction: row;
}

nav ul {
    text-align: right;
    list-style: none
}

.dropdown-toggle[aria-expanded="true"] .caret {
    border-bottom: 4px dashed;
    border-top: none;
}

.dropdown-toggle[aria-expanded="true"] + .dropdown-menu {
    display: block;
}