:root {
  --primary-background: #fff;
  --secondary-background: rgb(205, 213, 224, 0.3);
  --tertiary-background: #6f6e73;

  --primary-font-family: "Montserrat", sans-serif;
  --secondary-font-family: "Roboto", sans-serif;

  --primary-font-color: #fff;
  --secondary-font-color: #6f6e73;
  --tertiary-font-color: #000;

  --primary-span-color: #9797a6;
  --secondary-span-color: #c1cbd9;
}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
}

.page-wrapper {
  position: relative;
  max-width: 1500px;
}

/*HEADER*/

.header-image {
  position: relative;
  display: block;
  width: 100%;
  height: 520px;
  left: 0;
  right: 0;
  top: 0;
  object-fit: cover;
}

.social-media-links {
  display: flex;
  position: absolute;
  justify-content: center;
  width: 160px;
  height: 60px;
  top: 30px;
  right: 24px;
}

.social-media-links a {
  text-decoration: none;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: 2px solid white;
  display: flex;
  justify-content: center;
  margin-right: 10px;
  align-self: center;
}

.social-media-links a i {
  font-size: 25px;
  color: white;
  text-decoration: none;
  align-self: center;
}

.social-media-links a:hover {
  transform: scale(1.2);
}

.name-and-titles {
  position: absolute;
  width: 220px;
  height: 202px;
  left: 24px;
  top: 121px;
}

.profile-image {
  position: absolute;
  width: 180px;
  height: 180px;
  right: 24px;
  top: 356px;
  border: 3px solid var(--primary-background);
  border-radius: 50%;
  object-fit: cover;
}

/*Header typography*/

.name-and-titles span:nth-of-type(1) {
  font-weight: 700;
}

.name-and-titles span:nth-of-type(2) {
  font-family: var(--primary-font-family);
  font-size: 30px;
  font-weight: 400;
  font-style: normal;
  line-height: 50px;
  color: var(--primary-font-color);
}

.name-and-titles-h1 {
  font-family: var(--secondary-font-family);
  font-size: 13px;
  font-weight: 400;
  font-style: normal;
  line-height: 18px;
  color: var(--primary-font-color);
}

.name-and-titles-p2 {
  font-family: var(--primary-font-family);
  font-size: 40px;
  font-weight: 700;
  font-style: normal;
  line-height: 49px;
  color: var(--primary-font-color);
}

.name-and-titles-p3 {
  font-family: var(--primary-font-family);
  font-size: 24px;
  font-weight: 700;
  font-style: normal;
  line-height: 40px;
  color: var(--primary-font-color);
}

/*INTRO SECTION*/

.intro-section {
  width: 100%;
  padding: 48px 24px;
  background: var(--secondary-background);
}

.start-figure-line {
  position: relative;
  float: left;
  width: 55px;
  height: 2px;
  margin-top: 13px;
  margin-right: 10px;
  background: var(--tertiary-background);
}

.start-figure-circle {
  position: absolute;
  display: inline-block;
  vertical-align: middle;
  width: 12px;
  height: 12px;
  top: -5px;
  left: 90%;
  margin-left: -5px;
  border-radius: 50%;
  background: var(--tertiary-background);
}

/*Intro section typography*/

.intro-section-p {
  font-family: var(--primary-font-family);
  font-weight: 400;
  font-style: normal;
  font-size: 17px;
  line-height: 29px;
  width: 100%;
}

.butterfly-icon {
  transform: rotate(15deg);
}

/*TECH SECTION*/

.tech-section {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-top: 48px;
  padding-bottom: 48px;
  width: 100%;
  background: var(--primary-background);
}

/*Tech section typography*/

.headline {
  font-family: var(--primary-font-family);
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  font-style: normal;
  margin-bottom: 24px;
  text-align: center;
  color: var(--primary-background);
}

.tech-section-p {
  font-family: var(--primary-font-family);
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 29px;
  width: 100%;
}

.headline span {
  padding: 4px;
  background: var(--primary-span-color);
}

/*FEATURED PROJECTS SECTION*/

.featured-projects-section {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
  padding: 48px 24px;
  width: 100%;
  background-color: var(--secondary-background);
}

.project-image-card {
  position: relative;
  margin-top: 40px;
  padding: 14px;
  background-color: var(--primary-background);
}

.project-image-card:first-of-type {
  margin-top: 10px;
}

.project-image-container {
  position: relative;
}

.project-image-card img {
  filter: brightness(75%);
  width: 100%;
  height: 50vw;
}

/*Featured projects typography*/

.project-name {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: var(--primary-font-family);
  font-style: normal;
  font-size: 28px;
  font-weight: 700;
  line-height: 34, 13px;
  text-decoration: none;
  color: var(--primary-font-color);
}

.featured-projects-h3 {
  font-family: var(--secondary-font-family);
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 29px;
  letter-spacing: 0.01em;
  color: var(--secondary-font-color);
  margin-top: 24px;
  text-align: start;
  text-decoration: none;
}

.featured-projects-section a:link {
  text-decoration: none;
}

.featured-projects-section a:hover {
  text-decoration: underline;
}

.featured-projects-p {
  font-family: var(--secondary-font-family);
  color: var(--tertiary-font-color);
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 29px;
  margin-bottom: 9px;
  text-align: start;
}

/*TECH SECTION*/

.tech-section {
  padding: 48px 24px;
}

/*Tech section typography*/

.tech-p-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.tech-p {
  font-family: var(--secondary-font-family);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 11px;
  letter-spacing: 0.01em;
  text-align: start;
  background: var(--secondary-span-color);
  padding: 6px 8px;
  margin-right: 7px;
  margin-bottom: 7px;
}

/*OTHER PROJECTS*/

.other-projects-container {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.other-projects-h3 {
  font-family: var(--primary-font-family);
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 25px;
  text-align: center;
  margin-top: 60px;
  margin-bottom: 25px;
  color: var(--secondary-font-color);
}

.other-projects-inner-container {
  padding: 12px 12px 20px 12px;
  margin-bottom: 12px;
  background-color: var(--primary-background);
}

.other-projects-h4 {
  font-family: var(--secondary-font-family);
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 29px;
  text-align: start;
  color: var(--secondary-font-color);
}

.other-projects-p {
  font-family: var(--secondary-font-family);
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 29px;
  text-align: start;
  margin-bottom: 16px;
  color: var(--tertiary-font-color);
}

.other-projects-container .tech-p {
  margin-bottom: 0;
}

/*MY THOUGHTS SECTION*/

.my-thoughts-section {
  padding: 48px 24px;
}

.my-thoughts-image-container {
  display: flex;
  justify-content: center;
}

.my-thoughts-image img {
  width: 100%;
  height: auto;
}

/*My thoughts typography*/

.my-thoughts-h3 {
  font-family: var(--secondary-font-family);
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 30px;
  color: var(--tertiary-font-color);
}

.my-thoughts-p2 {
  text-align: start;
  font-family: var(--secondary-font-family);
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 32px;
  color: var(--tertiary-font-color);
}

.my-thoughts-p1 {
  text-align: start;
  font-family: var(--secondary-font-family);
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 32px;
  margin-top: 22px;
  color: var(--secondary-font-color);
}

.my-thoughts-section a:link {
  text-decoration: none;
}

.my-thoughts-section a:hover {
  text-decoration: underline;
}

/*SKILLS SECTION*/

.skills-section {
  width: 100%;
  height: auto;
  padding: 48px 24px;
  background: var(--secondary-background);
}

.skills-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.skills {
  text-align: center;
  width: 50%;
  min-width: 200px;
  margin-right: 10px;
  margin-bottom: 20px;
  padding: 16px;
  background-color: var(--primary-background);
  border: 5px double var(--primary-span-color);
}

.skills-h4 {
  font-family: var(--secondary-font-family);
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 29px;
  color: var(--tertiary-font-color);
}

.skills span {
  font-size: 22px;
  font-weight: 700;
  color: var(--primary-span-color);
}

.skills-p {
  font-family: var(--secondary-font-family);
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 29px;
  color: var(--tertiary-font-color);
}

.resume-link {
  color: var(--tertiary-font-color);
  text-decoration: none;
}

.resume-link p:hover {
  color: var(--secondary-font-color);
}

/*FOR MORE SECTION*/

.for-more-section {
  padding: 48px 24px;
  background: var(--primary-background);
}

/*For more typography*/

.for-more-p {
  font-family: var(--secondary-font-family);
  font-style: normal;
  font-weight: 700;
  font-size: 11px;
  line-height: 13px;
  color: var(--secondary-font-color);
}

.for-more-links {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 30px;
}

.single-icon-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-right: 15px;
}

.single-icon-container:last-child {
  margin-right: 0;
}

.single-icon-container a {
  display: flex;
  justify-content: center;
  text-decoration: none;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: 3px solid var(--secondary-font-color);
}

.single-icon-container a i {
  align-self: center;
  font-size: 25px;
  text-decoration: none;
  color: var(--secondary-font-color);
}

.single-icon-container:hover {
  transform: scale(1.2);
}

/*FOOTER*/

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  width: 100%;
  height: 302px;
  padding-right: 24px;
  padding-left: 24px;
  background: var(--tertiary-background);
}

/*Footer typography*/

footer {
  width: 100%;
}

.footer-h3 {
  font-family: var(--primary-font-family);
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 47px;
  color: var(--primary-font-color);
}

.footer-p {
  font-family: var(--primary-font-family);
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: var(--primary-font-color);
}

@media screen and (min-width: 968px) {
  .header-image {
    height: 420px;
  }

  .name-and-titles {
    height: 339px;
    width: 607px;
    left: 240px;
    top: 120px;
  }

  .name-and-titles-h1 {
    font-size: 20px;
    line-height: 27px;
  }

  .name-and-titles span:nth-of-type(2) {
    font-size: 45px;
    line-height: 75px;
  }

  .name-and-titles-p2 {
    font-size: 60px;
    line-height: 75px;
  }

  .name-and-titles-p3 {
    font-size: 36px;
    line-height: 60px;
  }

  .social-media-links {
    right: 240px;
  }

  .profile-image {
    width: 200px;
    height: 200px;
    top: 240px;
    right: 240px;
  }

  .intro-section {
    top: 791px;
    padding: 60px 250px;
  }

  .headline {
    font-size: 28px;
    line-height: 58px;
  }

  .tech-section {
    padding: 60px 240px;
  }

  .project-image-card img {
    width: 100%;
    height: 17vw;
    object-fit: cover;
  }

  .project-image-card {
    width: 45%;
    margin-top: 0;
    margin-bottom: 60px;
  }

  .project-image-card:first-of-type {
    margin-top: 0;
  }

  .featured-projects-section {
    padding-top: 60px;
  }

  .featured-projects-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 30px 240px;
  }

  .project-name {
    font-size: 24px;
  }

  .other-projects-container {
    padding: 0 240px;
  }

  .other-projects-h3 {
    font-size: 28px;
    margin-top: 0;
    margin-bottom: 30px;
  }

  .my-thoughts-section {
    padding: 60px 240px;
  }

  .my-thoughts-image {
    width: 45%;
  }

  .skills-section {
    padding: 60px 240px;
  }

  .skills-container {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .skills {
    width: 25%;
    min-height: 270px;
    min-width: 220px;
  }

  .skills span {
    line-height: 41px;
  }

  .for-more-section {
    padding: 60px 240px;
  }

  .single-icon-container a {
    width: 70px;
    height: 70px;
  }

  .single-icon-container a i {
    font-size: 30px;
  }
}
