body {
background: #FFFFFF;
height: 4502px;
width: 375px;
left: 4330px;
top: 0px;
border-radius: 0px;

}

header {
    display: flex;
    height:max-content;
    background-image: url(./Pictures/ImageByGerdAltmann-pixabay.small.jpg);

}

.about_me {
    display: flex;
}

@media 
body {
position: relative;
width: 1920px;
height: 7310px;
}