/*Mobile*/

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}
/***Header***/
.header-section {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.header-image {
  width: 100%;
  height: 450px;
  background-size: cover;
  background-image: url("./assets/images/rhondak-native-florida-folk-artist-_Yc7OtfFn-0-unsplash.jpg");
  background-position: center center;
}

.icon-section {
  justify-content: flex-end;
  display: flex;
  margin-top: 50px;
}

.icon-section .circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border: 2px solid #fff;
  border-radius: 50%;
  margin: 5px;
}

.icon {
  width: 30px;
}

.icon-section .circle :hover {
transform:scale(1.1);
}

.header-text-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: white;
  margin-left: 40px;
  margin-top: 40px;
}

.portfolio-text {
  font-size: 16px;
}

.profession-text {
  font-size: 40px;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.picture-of-me {
  position: relative;
  top: 30px;
  left: 50%;
  width: 140px;
  border-radius: 50%;
  border: 2px solid white;
}

/***MAIN***/

/***Section 1 About me***/

.about-me-container {
  width: 100vw;
  height: auto;
  background-color: rgb(215, 238, 238);
}

.about-me-icon {
  width: 40px;
  float: left; 
  padding-right: 3px;
}

.text-about-me {
  font-size: 20px;
  padding: 20px 30px;
}

/***Section 2 Tech***/

.tech-container {
  width: 100vw;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.h2-header {
  color: white;
  display: inline;
  padding-top: 30px;
  font-size: 24px;
}

.marker {
  padding: 5px 10px;
  border-radius: 0.8em 0.3em;
  background: transparent;
  background-image: linear-gradient(
    to right,
    rgba(51, 0, 40, 0.1),
    rgba(212, 0, 255, 0.7) 4%,
    rgba(255, 0, 149, 0.3)
  );
}

.tech-text {
  font-size: 20px;
  padding: 0 30px 30px;
  text-align: center;
}

/***Section 3 Featured Projects***/

.featured-projects-container {
  width: 100vw;
  height: auto;
  background-color: rgb(215, 238, 238);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.project-container {
  position: relative;
}

.link-cards {
  display: flex;
  flex-direction: column;
  padding: 15px; 
   margin: 20px;
}

.project-picture {
  width: 250px;
  filter: brightness(60%);
  align-self: flex-start;
}

.h3-header {
  position: absolute; 
  top: 50px;
  left:30px;
}

.project-container h4 {
  color: rgba(212, 0, 255, 0.7);
  align-self: flex-start;
  margin-bottom: 8px;
}

.link-container:link {
  text-decoration: none;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 
  font-size: 20px;
}
.link-container:active {
  color: white;
}

.link-container:visited {
  color: white;
}

.featured-project-text {
  width: 280px;
  color: black;
}

.technique-container {
  justify-content: space-evenly;
  align-self: flex-start;
  margin: 10px 0 30px 0;
}

.technique-container span {
  font-size: 14px;
  color: white;
  padding: 0px 2px;
  background-color: rgba(212, 0, 255, 0.7);
}

/***Section 4 Other projects***/
.other-projects-container{
  width: 100vw;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.link-cards-2 {
  display:flex;
  flex-direction: column;
  margin: 20px 65px;
}

.link-container-2 {
  display: flex;
  flex-direction: row;
}

.link-container-2:link {
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 20px;
 
}
.link-container-2:active {
  color: black;
}

.link-container-2:visited {
  color:black;
}
.link-container-2 b {
  color: rgba(212, 0, 255, 0.7);
}

/***Section 5 Skills***/

.skills-container {
  width: 100vw;
  height: auto;
  background-color: rgb(215, 238, 238);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.skills-inner-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  font-size: 20px;
}

.skills {
  display: inline-flex;
  text-align:center;
  font-size: 18px;
  margin-bottom: 30px;
}

.unordered-list {
  list-style-type: none;
  margin: 0 5px;
  padding: 0;
}

.list-header {
  color: rgba(212, 0, 255, 0.7);
}

ul li {
  padding: 5px;
}

/*** Section 6 For more***/
.for-more-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}

.for-more-links-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
  text-align: center;
}

.github-black,
.linkedin-black,
.stack-black {
  width: 30px;
}

.for-more-links-container .circle-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border: 3px solid black;
  border-radius: 50%;
  margin-bottom: 10px;
}

.clickable-link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 12px;
  text-decoration: none;
}

.clickable-link:active {
  text-decoration: none;
  color: black;
}

.clickable-link:visited {
  text-decoration: none;
  color: black;
}
.for-more-text {
  font-size: small;
}

/***Footer***/

.footer-container {
  width: 100vw;
  border-top: 2px solid black;
  background-color: rgb(219, 219, 219);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.tribute {
  margin-top: 10px;
  font-size: 5px;
}

/***Tablet***/
@media (min-width: 768px) {
 
  /***Header***/
  .icon-section {
    margin-right: 70px;
  }
  .icon {
    width: 35px;
  }
  .icon-section .circle {
    width: 50px;
    height: 50px;
  }

  .header-text-container {
    margin-left: 100px;
  }
  .picture-of-me {
    position: relative;
    top: 5px;
    left: 70%;
    width: 170px;
  }

  /***section 1 About me***/
  .text-about-me {
    padding: 40px 150px;
  }

  /***Section 2 Tech***/
  .tech-text {
    padding: 40px 150px;
    line-height: 30px;
  }

  /***Section 3 Featured Projects***/
  .featured-project-text {
    width: auto;
    color: black;
  }

  .link-cards {
    width: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .project-container {
    margin: 20px 45px;
  } 

  .project-picture {
    width: 300px;
    height: 220px;
  }

  .h3-header {
    top: 60px;
    left: 50px;
  }

  /***Section 5 skills***/
  .skills {
    padding: 0px 40px;
  } 

 /*** Section 6 For more***/
  .clickable-link {
    padding: 50px;
  }

  /***Footer***/
  .tribute {
    font-size: 10px;
  }
}

/***Desktop***/

@media (min-width: 992px) {

  /***Header***/
  .header-image {
    height: 600px;
  }

  .icon-section {
    margin-right: 300px;
  }

  .icon {
    width: 40px;
  }

  .icon-section .circle {
    width: 60px;
    height: 60px;
  }

  .header-text-container {
    margin-left: 250px;
  }

  .portfolio-text {
    font-size: 20px;
  }

  .profession-text {
    font-size: 60px;
  }

  .picture-of-me {
    top: -50px;
    left: 60%;
    width: 300px;
  }

  /***section 1 About me***/
  .about-me-container {
    display: flex;
    justify-content: center;
  }

  .text-about-me {
    width: 50vw;
  }

  /***Section 2 Tech***/
  .tech-text {
    width: 50vw;
    padding-top: 0;
  }

  /***Section 3 Featured Projects***/
  .link-cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .link-container {
    justify-items: center; 
    align-items: center;
  }

  .project-picture {
    width: 300px;
    height: 220px;
  }
    
  .h3-header {
    top: 60px;
    left: 50px;
  }

  .featured-project-text {
    width: 300px;
  } 

  /***Section 6 For more***/
  .clickable-link {
    justify-content: center;
    align-items: center;
    padding: 50px;
  }

  /***Footer***/
  .footer-list-container {
    margin: 50px 0;
  }
  .tribute {
    font-size: 15px;
  }
}

