@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');

:root {
    --main-beige: rgb(247, 236, 222);
    --main-pastel-beige: rgb(233, 218, 193);
    --main-peach: rgb(250, 112, 112);
}

* {
    margin: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    text-decoration: none;
    font-family: 'Cabin', sans-serif;
}

section:nth-child(2n) {
    background-color: var(--main-pastel-beige);
    padding-top: 40px;
    padding-bottom: 40px;
}

section:nth-child(2n+1) {
    background-color: var(--main-beige);
    padding-top: 40px;
    padding-bottom: 40px;
}

.container {
    width: 327px;
    margin: 0 auto;
}

h2 {
    font-family: 'Cabin', sans-serif;
    font-weight: 700;
    font-size: 21px;
    line-height: 27px;
    text-align: center;
    letter-spacing: 1px;
    margin-bottom: 40px;
}

h2 span {
    background-color: var(--main-peach);
    padding: 0 0.2em;
    border-radius: 5px;
}

/*.heading-text {
    display: inline;
    text-align: center;
    background-color: var(--main-purple);
    padding: 5px;
    border-radius: 5px;
    font-size: 20px;
    margin-bottom: 40px;
}*/

a:link {
    color: black;
    text-decoration-line: none;
}

a:visited {
    color: black;
    text-decoration-line: none;
}

a:hover {
    font-weight: bold;
}

.sr-only {
    position:absolute;
    left:-10000px;
    top: auto;
    width:1px;
    height:1px;
    overflow:hidden;
}

/* Header Section */
.header {
    background-image: url(./image/yellow-flowers.jpg);
    height: 520px;
    position: relative;
    background-size: cover;
}

.header .container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header-icons {
    position: absolute;
    right: 24px;
    top: 48px;
}

.header-icons .fab{
    padding-top: 8px;
    padding-left: 9px;
    font-size: 20px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid white;
    color: white;
}

.header-icons .media-icons:hover {
    color: black;
    border: 1px solid black;
    transition: all 200ms ease-in;
}

.header-text-group {
    position: absolute;
    color:  #FFFFFF;
    font-family: 'Cabin', sans-serif;
    letter-spacing: 0.04em;
    line-height: 50px;
}

.portfolio {
    font-weight: lighter;
    display: inline;
}

.name {
    display: inline;
    font-weight: 600;
    /*font-size: 40px;
    position: absolute;
    top: -150px;
    right: 700px;*/
    color: black;
    text-shadow: 0 0 3px white;
}

.career {
    color: black;
    text-shadow: 0 0 3px white;
}

.ex-career {
    color: black;
    text-shadow: 0 0 3px white;  
}

.header-text-group span{
    font-weight: 500;
}

.header-text-group h1{
    font-size: 40px;
    font-weight: bolder;
    margin-right: 131px;
    line-height: 50px;
}

.header-text-group p {
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0.08em;
}

.profile-img {
    /*width: 180px;
    height: 180px;
    border-radius: 50%;
    border: 2px solid white;
    position: absolute;
    right: 24px;
    bottom: -16px;*/
    position: absolute;
    right: 230px;
    bottom: -16px;
    width: 180px;
    height: 180px;
    border-radius: 50%;
    object-fit: cover;
}

/*Introduction Section*/

.tech-abt {
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 29px;
    color: black;
    text-align: center;
    margin-top: -16px;
}

.intro-text {
    display: inline;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 29px;
    color: black;
}

/*Featured Project Section*/

.article-hide {
    display: none;
}

.article-project {
 margin-top: 40px;
}

.project-img-group {
    position: relative;
}

.project-img {
    width: 100%;
    display: inherit;
    transition: 0.5s ease;
}

.overlay:hover .project-img-text-overlay {
    color: transparent;
}

.overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    /*background: rgba(100, 100, 55, 0.7);*/
    background: rgba(124, 91, 91, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s ease;
}

.overlay:hover {
    background-color: transparent;
}

.project-img-text-overlay {
    color: black;
    font-style: normal;
    font-weight: bold;
    font-size: 23px;
    margin-bottom: 0px;
}

.project-text-group {
    font-weight: bold;
    font-size: 17px;
    line-height: 29px;
    align-items: center;
    letter-spacing: 0.01em;
    padding-top: 24px;
}

.project-heading {
    display: inline; 
    color: var(--main-peach);
}

.project-tags-container {
    display: flex;
    flex-wrap: wrap;
}

.project-tags {
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-size: 12px;;
    line-height: 12px;
    background-color: #FDDFE7;

    padding: 4px;
    margin-right: 3px;
    border-radius: 5px;
    letter-spacing: 0.02em;
    color: #000000;
} 

.subheading {
    font-size: 21px;
    font-weight: bolder;
    font-style: normal;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 10px;
}

.black-underline {
    text-decoration-line: underline;
}

.display-inline {
    display: inline;
}

.bold-highlight {
    color: var(--main-peach);
    font-size: 15px;
    display: inline;
}

.red-other-projects {
    display: block;
}

.black-other-projects {
    display: inline;
}

/* Skills Section */
.all-skills-group {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    grid-row-gap: 2em;
    font-family: Roboto;
    font-weight: 700;
    font-size: 17px;
    line-height: 29px;
}

.skills-subheading {
    color:#FA382F;
}

/* For More Section */
.end-icons-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
}

.icon-element{
    justify-self: center;
    text-align: center;
    font-size: 11px;
}

.icon-element p{
    line-height: 50px;
    font-weight: bold;
    color:var(--main-peach);
}

.end-icons-wrapper .media-icons:hover {
    color: black;
    border: 1px solid black;
    transition: all 200ms ease-in;
  }

/* Footer */
footer {
    background-color: var(--main-peach);
    padding-top: 84px;
    padding-bottom: 84px;
}

.contact-container {
    display:grid;
    grid-template-columns: 1fr;
    justify-content: center;
    text-align: center;
    align-items: center;
    color: black;
    font-style: normal;
    font-weight: bold;
    font-size: 21px;
    line-height: 47px;
}

.contact-container p {
    font-weight: normal;
    font-size: 17px;
    line-height: 25px;
}

/*Media Queries*/

@media (min-width: 768px){
    
    .container {
        width: 440px;
        margin: 0 auto;
    }
}

@media (min-width: 1024px){
    
    .container {
        width: 60vw;
        margin: 0 auto;
        position:relative;
    }

    .header {
        height: 380px;
        background-size: cover;
    }

    .header-icons {
        right: 0px;
    }

    .profile-img {
        right: 0px;
    }

    .header-text-group {
        line-height: 60px;
    }

    .header-text-group p {
        font-size: 30px;
        font-weight: 600;
        letter-spacing: 0.08em;
    }
    
    .header-text-group h1 {
        font-size: 50px;
        font-weight: 700;
        letter-spacing: 0.08em;
        line-height: 60px;
    }

    .article-desktop {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        column-gap: 30px;
    }

    .article-hide {
        display: block;
    }

    .project-text-group {
        font-size: 16px;
    }

    .project-img-text-overlay {
        font-size: 25px;
    }
}
