body, html {
    background-color: #F7E9D7;
    margin: 0%;
}

/* Header img & icons */
.header-image {
    width: 100%;
    height: 450px;
    margin: 0%;
}

.profile-image {
    position: absolute;
    width: 180px;
    right: 10%;
    top: 300px;
    border: 3px solid white;
    border-radius: 50%;
}

.icons {
    width: 160px;
    right: 10%;
    top: 50px;
    justify-content: space-between;
    flex-direction: row;
    position: absolute;
}

.icons img {
    width: 50px;
}

/* Header text*/
.hero-text {
    width: 220px;
    height: 202px;
    top: 121px;
    left: 10%;
    text-align: left;
    position: absolute;
    color: rgb(255, 255, 255);
}

.name {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    letter-spacing: 0.04em;
    width: 400px;

}

.frontend {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-size: 40px;
    line-height: 49px;
    font-weight: 700;
    margin: 0;
}

.designer {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-size: 19px;
    line-height: 40px;
    font-weight: 700;
    margin: 0;
}

/* Summary section */
.intro-section {
    display: flex;
    flex-direction: column;
    height: 300px;
    text-align: left;
    align-items: center;
    justify-content: center;
    background-color:#FFF6EA;
}


/* summary text & tech text*/
p {
    width: 80%;
    font-family: "Montserrat", sans-serif;
    font-style: 400;
    font-weight: normal;
    font-size: 17px;
    line-height: 29px;
    margin: 0;
    word-wrap: break-word;
    padding-bottom: 20px;
    text-align: center;
}

.line {
    border: 1px solid #99A799;
    width: 30px;
    display: inline-block;
    margin-bottom: 4px;
  }
  
  .dot {
    height: 10px;
    width: 10px;
    background-color: #99A799;
    border-radius: 50%;
    display: inline-block;
  }


/* All titles: Tech, Featured projects, My thoughts  */
.title {
    background-color: #99A799;
    border-radius: 5px;
    padding: 3px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    color: #FFFFFF;
    justify-content: center;
    margin: 4%;
}


/* Tech section */
.tech {
    display: flex;
    flex-direction: column;
    height: 200px;
    justify-content: center;
    align-items: center;
}

.text-container p {

    width: 80%;
    font-family: "Montserrat", sans-serif;
    font-style: 400;
    font-weight: normal;
    font-size: 17px;
    line-height: 29px;
    word-wrap: break-word;
    text-align: center;
    margin-left: 10%;
}


/* featured projects section */
.featured-projects {
    width: 100%;
    margin: 0%;
    display: flex;
    flex-direction: column;
    height: 1300px;
    text-align: center;
    align-items: center;
    margin-top: 30px;
    background-color:#FFF6EA;
}

/* size of each box */
.my-projects,
.more-projects {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 100px;
    align-items: center;
    text-align: center;
}

.project img {
    width: 500px;
    border: 7px solid #99A799;
    border-radius: 5px;
    margin: 10px;
}

a:link {
    color: #99A799;
    text-decoration: none;
  }

/* title before project-explanation */
h3 {
    display: column;
    color: #99A799;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 19px;
    text-align: center;
    align-items: center;
    justify-content: center;
}

/* Explanation of project*/
.project-explanation {
    display: flex;
    width: auto;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 25px;
    text-align: center;
}

/* boxes under projecta programs HTML, CSS3, JavaScript.. */
.my-programs {
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.programs {
    display: flex;
    width: auto;
    background-color: #D3E4CD;
    border-radius: 5px;
    padding: 3px;
    margin: 10px;
}


/* Other project-section */
.other-projects {
    display: flex;
    flex-direction: column;
    height: 600px;
    text-align: center;
    align-items: center;
    background-color:#FFF6EA;
}

.second-title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 25px;
    color: #99A799;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
}

/* mythoughts-section */
.my-thoughts {
    display: flex;
    width: 100%;
    flex-direction: column;
    height: 300px;
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
}

.big-articles {
    background-color: #D3E4CD;
    display: flex;
    flex-direction: column;
    width: 330px;
    height: 200px;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
}

.article-text {
    display: flex;
    width: auto;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 25px;
    text-align: center;
}

/* mythoughts-section */
.more-thoughts {
    display: flex;
    width: 100%;
    flex-direction: column;
    height: 380px;
    text-align: center;
    align-items: center;
    margin: 20px;
}

.more-articles {
    display: flex;
    flex-direction: column;
    width: 500px;
    margin-top: 30px;
    text-align: center;
    align-items: center;
}


/* Skills section */
.skills {
    padding-top: 20px;
    width: 100%;
    height: 440px;
    text-align: center;
    background-color:#FFF6EA;
}

.my-skills {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-evenly;
    text-align: center;
    height: 200px;
    width: 80%;
    margin-left: 15%;
    padding: 20px;
}


.skills-title {
    color: #99A799;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-size: 20px;
    line-height: 49px;
    font-weight: 600;
    margin: 0;
}

/* For more */
.formore {
    padding-top: 20px;
    width: 100%;
    height: 200px;
    text-align: center;
}

.big-links {
    display: flex;
    justify-content: center;
}


.big-icons {
    display: flex;
    flex-direction: row;
    margin: 45px;
}

.contact {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color:#99A799;
    height: 300px;
}

.contact-title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    color: #FFFFFF;
    padding: 20px;
    text-align: center;
}

.contact-information {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 8px;
    color: #FFFFFF;
    text-align: center;
}


/* Ipad */
@media (min-width: 667px) and (max-width: 1024px) {


    }

/* Big Screen */
@media (max-width: 1024px) {
    

}

