/*@import url("satoshi.css"); I could not get this font to work, all places where Verdana is used should be Satoshi. Size etc is according to instructions
for Satoshi.*/

/*There are no accessibility aspects included as I never got that far. Media queries will be placed as soon as I understand why flex
does not want to be applied anywhere, which means that I can not place items where I want them yet. For that reason, everything is to the right.*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

body {
    margin: 0px;
    display: flex;
    flex-direction: column;
}

.top-container {
    display: flex;
    flex-direction: row;
}

header {
    background-color: #99c1b9;
    /* margin: 0px; */
    padding: 0px;
    width: 50%
}

.quote {
    color:#b27092;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    font-size: 35px;
    text-align: left;
    padding-top: 100px;
    padding-bottom: 10px;
    padding-left: 15px;
}

.pooh {
    color:#b27092;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    font-size: 25px;
    text-align: center;
    padding-bottom: 20px;
}

.introduction {
    width: 50%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-left: 20px;
}

a {
    text-decoration: none;
    display: inline-block;
    justify-content: space-between;
}

.personal-img {
    justify-self: center;
    clip-path: circle();
    margin-top: 20px;
    margin-bottom: 20px;
    max-height: 300px;
    max-width: 300px;
}

.name {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 28px;
    line-height: 38px;
    color:#893168;
}

.title {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 32px;
    line-height: 43px;
    color: #1c3144;
    margin: 0px 0px 0px 0px;
}

.extra {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 24px;
    line-height: 33px;
    margin-top: 0px;
    color:#1c3144
}

.about {
    font-family: 'EB Garamond', serif;
    font-weight: 400px;
    font-style: normal;
    font-size: 22px;
    line-height: 29px;
    color: #1c3144;
}

.icons-top {
    padding-top: 40px;
    padding-bottom: 60px;
    margin-left: 10px;
}

.tech {
    width: 100%;
    max-height: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #d5ecd4;
    color:#1c3144;
    padding: 80px 0px 80px 20px;
}

.tech-headline {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 108px;
    margin-top: 0px;
}

h1 {
    font-family: 'EB Garamond', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 32px;
}

.highlight1 {
    background-color: #e78f8e;
    color: white;
}

.highlight2 {
    background-color: #457b9d;
    color: white;
}

.highlight3 {
    background-color: #386150;
    color: white;
}

.featured-projects {
    width: 100%;
    color:#1c3144;
    padding: 80px 0px 80px 20px;
}

.projects-headline {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 80px;
    margin-top: 0px;
}

.project-container1 {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.weather-box {
    flex-direction: column;
    width: 50%;
}

.guesswho-box {
    flex-direction: column;
    width: 50%;
}

.project-container2 {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.chatbot-box {
    flex-direction: column;
    width: 50%;
}

.article-box {
    flex-direction: column;
    width: 50%;
}

.projects-img {
    justify-content: center;
    display: block;
    width: 100%;
    height: 400px;
    padding-top: 30px;
}

.project-title {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 43px;
}

p {
    font-family: 'EB Garamond', serif;
    font-weight: 400px;
    font-style: normal;
    font-size: 22px;
    line-height: 29px;
    color: #1c3144;
}

.emphasized-code {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 8px;
    padding-top: 20px;
}

.included {
    background-color:#457b9d;
    color: white;
    flex-direction: row;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
}

.live-demo {
    padding-top: 15px;
    padding-bottom: 20px;
}

.live {
    width: 170px;
    height: 50px;
}

.view-code {
    padding-bottom: 20px;
    align-items: flex-end;
}

.view {
    width: 200px;
    height: 50px;
}

.my-words {
    background-color: #ceb5b7;
    width: 100%;
    padding: 80px 0px 80px 20px;
    /* padding-top: 80px;
    padding-bottom: 80px;
    padding-left: 20px; */
}

.article-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.first-article {
    flex-direction: column;
    width: 50%;
}

.second-article {
    flex-direction: column;
    width: 50%;
}

.words-headline {
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 97px;
    color:#1c3144;
    padding-top: 0px;
}

.articles-img {
    justify-content: center;
    display: block;
    width: 100%;
    height: 400px;
    padding-top: 30px;
}

.calendardate {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 27px;
    color:#457b9d;
}

.words-title {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 43px;
}

.readbutton-1 {
    padding-bottom: 70px;
}

.read {
    width: 180px;
    height: 50px;
}

.skills {
    width: 1000px; /*I have just placed this width to make it easier to look at for the reviewer, since I can not make flex work anywhere*/
    background-color: #ffe6e8;
    padding: 80px 0px 80px 20px;
    color:#1c3144
}

.skills-headline {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 80px;
    line-height: 108px;
}

ul {
    list-style-type: none;
    font-family: 'EB Garamond', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 32px;
}

h3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color:white;
}

.highlight4 {
    background-color: #d81e5b;
}

.highlight5 {
    background-color:#457b9d;
}

.highlight6 {
    background-color: #68a691;
}

.highlight7 {
    background-color: #23b5d3;
}

.timeToTalk {
    width: 1000px; /*I have just placed this width to make it easier to look at for the reviewer, since I can not make flex work anywhere*/
    padding: 80px 0px 80px 20px;
}

.talk-headline {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 58px;
    line-height: 78px;
    color: #d81e5b;
}

.phone {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    margin-top: 40px;
    color:#1c3144
}
 
.email {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    color:#1c3144
}

.finishing-icons {
    padding-top: 50px;
}







