body {
    font-family: "Montserrat", sans-serif;
    margin: auto;
    background-color: rgb(234, 234, 250);
    color: navy;
    max-width: 1300px;
}

/********** HERO-IMAGE  ************/
.hero {
    position: relative;
}
  
.hero-image {
    width:100%;
    height: 100%;
    object-fit: cover;
}
  
.hero-title {
    position: absolute;
    top: 40px;
    left: 20px;
    font-size: 12px;
    color: rgb(78, 4, 195);
}
  
.hero-title span {
    font-weight:500; 
}

.hero-subtitle1 {
    position: absolute;
    top: 50px;
    left: 20px;
    font-size: 30px;
    font-weight: 900;
    color: rgb(78, 9, 206);
}

.hero-subtitle2 {
    position: absolute;
    top: 90px;
    left: 20px;
    font-weight: 900;
    font-size: 30px;
    color: rgb(128, 5, 211);
}

.logos {
    position: absolute;
    top: 3%;
    left: 65%;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: auto auto auto;
}

.logos img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    box-shadow: 1px 2px 1px 1px rgba(17, 75, 98, 0.4);
}

a:link {
    text-decoration: none;
}

.my-photo {
    position: absolute;
    top: 70%;
    left: 65%;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    box-shadow: 1px 2px 1px 1px rgba(17, 75, 98, 0.4);
}

.pin {
    position: absolute;
    top: 20px;
    width: 20px;
}

.introduction {
    display: flex;
    background-color: rgb(234, 234, 250);
    padding: 20px;
    margin-top: 15px;
}

.skills-summary {
    display: flex;
    flex-direction: column;
    background-color: rgb(247, 247, 251);
    align-items: center;
    padding: 20px;
}
  
p.skills {
    text-align: center;
}

h3 {
    text-align: center;
    margin-top: 10px;
    margin-bottom:5px;
}

h3 span {
    color: white;
    background-color: red;
    padding: 5px;
}

h4 {
    color: rgb(208 27 27);
    text-align: left;
    padding: 0px;
    margin: 0px;
}

h5 {
    font-size: 18px;
    color: rgb(208 27 27);
    text-align: center;
    margin-bottom: 5px;
    margin-top: 0px;
}  
  
p {
    text-align: justify;
    text-decoration: none;
    color: navy;
    padding: 0px;
    margin-top: 10px;
}

.line {
    display: inline-block;
    width: 50px;
    height: 3px;
    background-color: rgb(250, 10, 10);
    margin-bottom: 6px;
}

.circle {
    display: inline-block;
    background-color: rgb(250, 10, 10);
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-left: -5px;
}
/*************** FEATURED PROJECTS *************/
.featured-projects-container {
    display: grid;
    grid-gap: 5px;
    grid-template-rows: 1fr;
    justify-content: center;
    align-content: center;
    background-color: rgb(234, 234, 250);
    padding: 5px 20px 5px 20px;
}

.featured-projects-container img {
    width: 100%;
    padding-top: 10px;
}

.pic-container {
    display: flex;
    position: relative;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.project-img-title {
    position: absolute;
    top: 40%;
    font-family: "Roboto"; 
    font-size: 20px;
    font-weight: bold;
    color: rgb(33, 5, 78);
    background-color: rgba(253, 253, 253, 0.342);
    padding: 5px;
}

.skills-elements {
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
}

.elem {
    color: black;
    background-color: rgb(248, 169, 202);
    font-size: 12px;
    font-weight: 600;
    margin: 2px;
    padding: 6px;
}

/******************** OTHER PROJECTS ****************/
.other-projects {
    display: flex;
    flex-direction: column;
    background-color: rgb(234, 234, 250);
    padding: 20px;
}

.other {
    margin-left: 0px;
    padding-left: 0px;
    font-family: "Roboto";
    color: navy;
    text-decoration: underline;
    margin-bottom: 0px;
    margin-top: 10px;
}
.other span {
    color: rgb(208 27 27);
    font-weight: bolder;
    text-decoration: underline rgb(208 27 27);
}

/*************** MY THOUGHTS ************************/
.my-thoughts {
    display: flex;
    flex-direction: column;
    background-color: rgb(247, 247, 251);
    padding: 5px 20px 5px 20px;
}

/*************** MORE THOUGHTS ********************/
.more-thoughts {
    display: flex;
    flex-direction: column;
    background-color: rgb(247, 247, 251);
    padding: 5px 20px 5px 20px;
}

/****************** SKILLS ***********************/
.all-skills {
    display: grid;
    background-color: rgb(234, 234, 250);
    padding: 20px;
    margin-top: 10px;
}

ul {
    list-style-type: none;
    text-align: center;
    padding-inline-start: 0px;
}

p.description-skills {
    text-align: center;
}

.all-skills-grid-wrapper {
    display: grid;
    padding: 10px;  
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
}

/***************** FOR MORE *****************/
.logos-more {
    padding: 25px;
    display: grid;
    grid-gap: 30px;
    grid-template-columns: auto auto auto;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.logos-more h6 {
    color: blue;
    font-size: 8px;
}

.logos-more img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    box-shadow: 1px 2px 1px 1px rgba(7, 74, 100, 0.4);
}

/************** CONTACT*********************/
.contact {
    display: flex;
    background-color: rgb(97, 97, 245);
    flex-direction: column;
    align-items: center;
    font-family: "Montserrat";
    font-size: 20px;
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
}

.contact h5 {
    color: white;
    font-family: "Roboto";
    padding: 20px;
}

.contact h6 {
    margin: 5px;
    font-weight: lighter;
    color: white;
}

  /*********** MEDIA QUERIES  *************/
@media(min-width: 768px) {
    .hero-image {
        height: 40%;
    }

    .logos {
        top: 3%;
        left: 75%;
    }
    .hero-title {
        position: absolute;
        top: 50px;
        left: 50px;
        font-size: 30px;
    }
      
    .hero-subtitle1 {
        position: absolute;
        top: 100px;
        left: 50px;
        font-size: 60px;
    }
    
    .hero-subtitle2 {
        position: absolute;
        top: 170px;
        left: 50px;
        font-size: 60px;
    }

    .my-photo {
        position: absolute;
        top: 78%;
        left: 65%;
        width: 170px;
        height: 170px;
        border-radius: 50%;
        box-shadow: 1px 2px 1px 1px rgba(17, 75, 98, 0.4);
    }
    
    .featured-projects-container {
        display: grid;
        grid-gap: 15px;
        grid-template-columns: 1fr 1fr;
        justify-content: center;
        align-content: center;
        background-color: rgb(234, 234, 250);
        padding: 5px 20px 5px 20px;
    }
    
    .skills-summary {
        display: flex;
        flex-direction: column;
        background-color: rgb(247, 247, 251);
        align-items: center;
        padding: 30px;
    }

    .all-skills-grid-wrapper {
        display: grid;
        padding: 10px;  
        grid-gap: 50px;
        grid-template-columns: 1fr 1fr 1fr;
    }
}    

@media(min-width: 1200px) {
    .hero-image {
        height: 40%;
        
    }

    .hero-title {
        position: absolute;
        top: 60px;
        left: 30px;
        font-size: 40px;
        color: rgb(78, 4, 195);
    }
      
    .hero-title span {
        font-weight:500; 
    }
    
    .hero-subtitle1 {
        position: absolute;
        top: 120px;
        left: 20px;
        font-size: 70px;
        font-weight: 900;
        color: rgb(78, 9, 206);
    }
    
    .hero-subtitle2 {
        position: absolute;
        top: 190px;
        left: 20px;
        font-weight: 900;
        font-size: 70px;
        color: rgb(152, 9, 248);
    }
    
    .logos {
        position: absolute;
        top: 5%;
        left: 80%;
        display: grid;
        grid-gap: 10px;
        grid-template-columns: auto auto auto;
    }
    
    .logos img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        box-shadow: 1px 2px 1px 1px rgba(17, 75, 98, 0.4);
    }
    
    .my-photo {
        position: absolute;
        top: 85%;
        left: 70%;
        width: 200px;
        height: 200px;
    }
    .introduction {
        
        margin-top: 40px;
    }
    
    .logos-more img {
        width: 80px;
        height: 80px;
    }
}    
