:root {
  --primary:#A8AEC4;
  --secondary:#E5C2A6;
  --third: #684853;
  --fourth:#A8AEC4;
}

body,html {
  margin: 0;
  background-color: var(--primary);
}

.hero {
  position: relative;
  height: 45vh;
}

.hero-image {
  width: 100vw;
  height: 45vh;
  object-fit: cover;
  
}

.hero-selfpic {
  width: 100px;
  height: 120px;
  z-index:1;
  border-radius: 50%;
  border: var(--secondary) solid 2px;
  position: absolute;
  top:40%;
  bottom: 10%;
  left: 10%;
  right: 0;
}

.summary {
  text-align: center;
  padding: 10px;
  border: solid black;
}

.tech {
  text-align: center;
  padding: 20px;
  border: solid white;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  border: solid black;
}

.top-project {
  border: solid white;
  width: 40%;

}

.other-projects {
  text-align: center;
  border: solid white;
}

.my-thoughts {
  text-align: center;
  border: solid black;
}

.skills {
  text-align: center;
  border: solid white;
}

.more {
  text-align: center;
  border: solid black;
}

footer {
  display: flex;
  justify-content: center;
  background-color: var(--third);
  color: var(--fourth);
}

