body {
    font-family: 'Roboto', sans-serif;
}

/* .outer-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inner-wrapper {
    width: 90%;
    margin: 0 auto;
} */

.header {
    background-image: url(images/header-picture.jpg);
    position: relative;
    width: 100%;
    height: 520px;

}

.name-frontend-background {
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    width: 220px;
    height: 202px;
    color: #F1EFDC;
    padding-left: 24px;
    padding-top: 121px;
}

.portfolio-name {
    display: flex;
}

.portfolio {
    font-size: 13px;
    line-height: 18px;
    margin-right: 3px;
}

.name {
    font-size: 13px;
    font-weight: bold;
    line-height: 18px;
}

.front-end {
    font-weight: 500;
    font-size: 40px;
    line-height: 40px;
    letter-spacing: 2px;
}

.background {
    font-weight: 500;
    font-size: 30px;
    line-height: 40px;
}

.profile-picture {
    position: absolute;
    right: 24px;
    bottom: -5%;
}

/* .content {
    padding-top: 20px;
    padding-bottom: 30px;
} */

.presentation {
    padding-left: 24px;
    padding-right: 24px;
    background-color: #F1EFDC;
    /* display: flex; */
    /* align-items: baseline; */
    /* width: 327px; */
    font-family: 'Montserrat', sans-serif;
    /* flex-grow: 1; */
    line-height: 29px;
    padding-top: 49px;
    padding-bottom: 30px;
}

.presentation-text {
    display: inline;
}

.tech {
    background-color: white;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    font-weight: 700;
    background-color: #42032C;
    color: #F1EFDC;
    display: inline;
    padding: 4px;
}

.tech-knowledge {
    font-family: 'Montserrat', sans-serif;
    padding-top: 20px;
    margin-left: 24px;
    margin-right: 24px;
    line-height: 29px;
}

.projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    padding-left: 24px;
    padding-right: 24px;
    background-color: #F1EFDC;
}

.projects h2 {
    margin-top: 50px;
    margin-bottom: 30px;
}

.first-and-second-project {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
}

.projects-heading {
    font-weight: 700;
    color: #42032C;
    font-size: 17px;
    line-height: 29px;
    letter-spacing: 1%;
}

.projects-paragraph {
    font-weight: 400;
    font-size: 17px;
    line-height: 29px;
    letter-spacing: 1%;
}

.tag-wrapper {
    display: flex;
    flex-wrap: wrap;
}

.tag-wrapper p {
    font-family: "Roboto", sans-serif;
    color: #2b2e34;
    font-weight: bold;
    background-color: #db9aab;
    display: inline;
    text-decoration: none;
    font-size: 12px;
    line-height: 12px;
    padding: 4px;
    margin: 3px;
    border-radius: 5px;

}

.projects img {
    margin-top: 30px;
    margin-bottom: 30px;
}

.other-projects {
    padding-top: 20px;
    padding-bottom: 20px;
}

.thoughts {
    display: flex;
    flex-direction: column;
    background-color: white;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.thoughts img {
    width: 100%;
    height: auto;
    padding-left: 24px;
    padding-right: 24px;
    margin-top: 30px;
    margin-bottom: 30px;
    box-sizing: border-box;
}

.first-thought {
    /* font-family: "Roboto", sans-serif; */
    display: flex;
    flex-direction: column;
    padding-left: 24px;
    padding-right: 24px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.second-thought {
    /* font-family: "Roboto", sans-serif; */
    display: flex;
    flex-direction: column;
    padding-left: 24px;
    padding-right: 24px;
}

.second-thought img {
    display: none;
}

.second-thought p {
    display: none;
}

.thoughts-date {
    font-size: 17px;
    color: #42032C;
}

.thoughts-heading {
    font-size: 21px;
    font-weight: 700;
    line-height: 30px;
}

.thoughts-paragraph {
    font-size: 17px;
    line-height: 30px;
}

.skills {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 42px;
    text-align: center;
    font-size: 17px;
    line-height: 29px;
    padding-left: 24px;
    padding-right: 24px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.skills h6 {
    color: #42032C;

}

footer {
    display: flex;
    flex-direction: column;
    color: #F1EFDC;
    background-color: #D36B00;
    font-family: 'Montserrat', sans-serif;
    align-items: center;
    justify-content: center;
    height: 302px;
}

.contact {
    font-size: 21px;
    font-weight: bold;
    padding-bottom: 20px;
}

.contact-information {
    font-size: 17px;
    text-align: center;
    line-height: 25px;
}

a {
    color: #F1EFDC;
    text-decoration: none;
}

a:visited {
    color: #F1EFDC;
}


.other-projects img {
    display: none;
}