* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: rgb(224, 168, 230);
}

/*Top section*/
.header-container {
  background: rgb(238,174,202);
  background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(177,114,229,1) 100%);
  color: white;
  display: flex;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
}

.header-text {
  margin: 0 30px;
  font-size: 13px;
}

.first-title {
  margin: 0px;
  font-size: 13px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  line-height: 32px;
}

.portfolio {
  font-weight: 280;
  font-size: 13px;
}

.title {
  font-size: 40px;
  margin: 0;
  line-height: 40px;
  width: 300px;
}

.extra-title {
  font-size: 17px;
  margin: 10px 0;
  font-weight: 400;
}

.profile-image {
  width: 96%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-top: 20px;
  margin-bottom: -2%;
}

.profile-image img {
  border-radius: 50%;
  border: 4px solid white;
  width: 200px;
  height: 200px;
  margin-right: 20px;
  margin-bottom: -30px;  
}

.icons {
  text-align: right;
  margin: 10px 40px 10px 0;
}

li {
  display: inline-block;
  border: 1px solid white;
  border-radius: 50%;
  width: 60px;
  height: 60px;
}

li a {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  height: 60px;
  width: 60px;
}

/*Summery section*/
.line {
  display: inline-block;
  width: 50px;
  height: 2px;
  background-color: rgb(234, 0, 255);
  margin-bottom: 6px;
}

.circle {
  display: inline-block;
  background-color: rgb(234, 0, 255);
  width: 14px;
  height: 14px;
  border-radius: 50%;
  margin-left: -12px;
}

.about-me {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color:rgb(238, 224, 238);
  padding: 50px 0 40px;
}

.info-text {
  margin: 60px 100px 20px 100px;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.2px;
  line-height: 29px;
  margin-bottom: 0;
  margin: 0 30px;
}

/*Tech section*/
.tech-section {
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 40px;
}

.tech-title {
  color: white;
  padding: 0 10px;
  margin-top: 60px;
  text-align: center;
  align-self: center;
  background-color: rgb(234, 0, 255);
  font-size: 22px;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
}

.tech-text {
  margin: 60px 100px 20px 100px;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.2px;
  line-height: 29px;
  margin-bottom: 0;
  margin: 0 30px;  
}

/*Project section*/
.project-section {
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-color:rgb(238, 224, 238)
}

.projects-title {
  color: white;
  padding: 0 10px;
  margin-top: 50px;
  margin-bottom: 30px;
  text-align: center;
  align-self: center;
  background-color: rgb(234, 0, 255);
  font-size: 22px;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
}

.project-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.article-card {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 30px;
  margin: 0 30px;
  position: relative;
}

.card-link1 {
  margin-bottom: 40px;
  text-decoration: none;
}

.card-link1:focus {
  border: 3px solid #000;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #000;
}

.image-container:hover {
  background-color: #000;
}

.image-container:hover .arcticle-img {
  opacity: 0.5;
}

.article-img {
  width: 100%;
  object-fit: cover;
  opacity: 0.8;
}

.project-name {
  position: absolute;
  margin: 0;
  font-size: 26px;
  font-family: Montserrat;
  color: white;
}

.article-name {
  font-family: "Montserrat", "sans-serif";
  font-size: 18px;
  color: rgb(234, 0, 255);
  margin-bottom: 5px;
  display: flex;
  flex-wrap: wrap;
}

.article-info {
  margin-bottom: 5px;
  font-size: 16px;
  font-family: "Montserrat", "sans-serif";
  color: black;
  text-align: left;
}

.tech-tags {
  display: flex;
  flex-wrap: wrap;
}

.tag {
  background-color: pink;
  color: black;
  font-family: "Roboto";
  margin: 0 5px 10px 0;
  text-decoration: none;
  font-size: 12px;
  line-height: 12px;
  padding: 6px;
}

/*Other project section*/
.other-projects-section {
  width: 100%;
  padding-bottom: 40px;
}

.other-title {
  color: rgb(234, 0, 255);
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
}

.other-article-card {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 10px;
  padding: 5px 30px;
  font-size: 16px;
  text-align: left;
}

.card-link2 {
  text-decoration: none;
}

.other-project-name {
  font-family: "Montserrat", "sans-serif";
  font-size: 18px;
  color: rgb(234, 0, 255);
  margin-bottom: 5px;
  display: flex;
  flex-wrap: wrap;
}

/*My thoughts section*/
.thoughts-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px 10px;
}

.thoughts-title {
  color: white;
  padding: 0 10px;
  margin-top: 50px;
  margin-bottom: 30px;
  text-align: center;
  align-self: center;
  background-color: rgb(234, 0, 255);
  font-size: 22px;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
}

.thoughts-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.thoughts-name {
  font-family: "Montserrat", "sans-serif";
  font-size: 18px;
  color: rgb(234, 0, 255);
  margin-bottom: 5px;
  display: flex;
  flex-wrap: wrap;
}

/*Skills section*/
.skills-section {
  font-family: Roboto;
  display:flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
  align-items: center;
  background-color:rgb(238, 224, 238)
}

.skills-title {
  color: white;
  padding: 0 10px;
  margin-top: 60px;
  text-align: center;
  align-self: center;
  background-color: rgb(234, 0, 255);
  font-size: 22px;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
}

.skill-container {
  display: flex;
  flex-flow: row wrap;
  margin: 0 0 40px 0;
}

.skills {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 50%;
}

.skills h4 {
  color:  rgb(234, 0, 255);
  font-size: 18px;
  letter-spacing: 0px;
}

.skills p {
  font-size: 17px;
  font-weight: bold;
  line-height: 0;
}

/*For more section*/
.icons-section {
  text-align: center;
  font-family: Montserrat;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

.for-more-title {
  color: white;
  padding: 0 10px;
  margin-top: 60px;
  text-align: center;
  align-self: center;
  background-color: rgb(234, 0, 255);
  font-size: 22px;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
}

.more-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 40px;
}

/*Footer section*/
footer {
  display: flex;
  flex-direction: column-reverse;
}

.contact-info {
  display: flex;
  flex-direction: column;
  font-family: Montserrat;
  font-size: 14px;
  align-items: center;
  justify-content: center;
  display: flex;
  background-color: rgb(122, 54, 122);
  padding: 0 0 40px 0px;
}

/*Responsive design*/
@media (min-width: 768px) {

  .header-text {
    margin-left: 100px;
  }

  .first-title,
  .portfolio {
    font-size: 18px;
    line-height: 50px;
  }

  .title {
    font-size: 55px;
    font-weight: 600;
    line-height: 50px;
  }

  .extra-title {
    font-size: 20px;
    line-height: 30px;
  }

  .profile-image {
    padding-top: 5%;
    margin-bottom: -2%;
  }
  
  .profile-image img {
    width: 170px;
    height: 170px;
  }

  .info-text,
  .tech-text,
  .project-wrapper,
  .other-projects-section,
  .thoughts-wrapper {
    margin: 0 auto;
    max-width: 570px;
    font-size: 18px;
  }
  
  .project-wrapper {
    flex-wrap: wrap;
  }

  .article-card {
    width: 45%;
    margin: 0;
  }

  .skills {
    width: 33%;
  }

  .skill-container {
    flex-direction: row;
    width: 500px;
  }
}
  

@media (min-width: 1024px) {

  .header-text {
    margin-left: 150px;
  }

  .first-title,
  .portfolio {
    font-size: 21px;
    line-height: 50px;
  }

  .title {
    font-size: 65px;
    line-height: 55px;
  }

  .extra-title {
    font-size: 23px;
    line-height: 30px;
  }

  .profile-image {
    padding-top: 5%;
    margin-bottom: -2%;
  }
  
  .profile-image img {
    width: 190px;
    height: 190px;
  }

  .info-text,
  .tech-text,
  .project-wrapper,
  .other-projects-section,
  .thoughts-wrapper {
    max-width: 720px;
  }

  .thoughts-name {
    font-size: 19px;
  }

  .article-name {
    font-size: 19px;
  }

  .article-info {
    font-size: 18px;
  }

  .article-card {
    width: 45%;
    margin: 0;
  }

  .skills h4 {
    font-size: 19px;  
  }

  .skills p {
    font-size: 18px;
  } 
}