* {
    outline: 1px solid red;
  } /* CSS debugging tool */

body {
    font-family: Montserrat;
    font-weight: 700;
    background: #e6e0d4;
    margin: 0px;
}

header {   
  
    display: flex;
    height: 520px;
    left: 0px;
    top: 0px;
    background-repeat: no-repeat;
    color: #3b362a;
    background-image: url(./Pictures/backgroundPic.PNG);
    justify-content: center;
    flex-direction: column;
}

footer {    
        display: flex;
        text-align: center;
        background-color: #779a96;
        flex-direction: column;
        flex-wrap: wrap;
        margin-top:15px;
        padding-bottom: 15px;;
}

.headerTitle {
    padding:10px;
    font-size: 20px;
}

.myPicture {
    position: absolute;
    top: 450px;
    left: 200px;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 2px solid whitesmoke;
}

.icons_header {
    position: absolute;
    font-size: 40px;
    top: 30px;
    right: 30px;
    padding:3px;
    
}

.icons_header a {
    display: flex;
    text-decoration: none;
    border: solid #3b362ad6;
    color: #3b362ad6;
    color: 3b362ad6;
    border-radius: 40%;
    padding: 10px;
    margin: 5px;
}

.icons {
    font-size:40px;
    display: flex;
    justify-content: space-evenly;
}

.icons a {
    border:#779a96;
}

.about_me {
    margin-top: 90px;
    padding: 20px;  
    
}
    
.techWrapper {
    padding: 20px;
}
  .tech h1, .projects h1, .myThoughts h1, .skills h1, .for_more h1  {
    background-color: #779a96;
    text-align: center;

 }

 .projects img {
    padding-top: 10px;
    width: 100%;
    
 }

 .projects a {
    text-decoration: none;
    color:black
 }

 .projects p {
    font-size: 16px;
 }

 .projects span {
    font-weight: bold;
    font-size: 20px;
    color:#465a58;
 }


 .tags {
    display:flex;
    padding-bottom: 5px;
  }
  
  .tags p {
      font-family: "Roboto", sans-serif;
      font-weight: bold;
      background-color: #7b9f9b;
      text-decoration: none;
  
       /* Matching line-height and font-size here gives full control 
       over the size of our tags to the padding*/
      font-size: 12px; 
      line-height: 12px;
  
      /* Control the size of the tags */
      padding: 4px;
  
      /* Control the spacing of our tags */
      margin: 3px;
  
      /* Some rounded borders */
      border-radius: 5px;
  }

  .code, .toolbox, .more {
    display:inline-block;
 }

  .code ul, .toolbox ul, .More ul{
    display: flex;
    flex-direction: column;
  }



  @media screen and (min-width: 1024px) {
    .grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: ;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
    }

    article {
        display: flex;
        flex-direction: column;
        width: 80%;
        padding: 20px;
    }
    .projects img {
        width:100%;
    }

    .projects span {
     display: table;
     margin:auto;
    }
    .projects p {
        font-size: 18px;
    }

    .tech h1, .projects h1, .myThoughts h1, .skills h1, .for_more {
        font-size: 30px;
    }
   h3 {
    font-size: 25px;
   }

   .icons_header{
    display: flex;
    flex-direction: row;
    font-size:45px;
}

   .icons_header a {
    margin-left:15px;
   }
   .icons_header i {
    font-size: 60px;
   }

   .myPicture {
    left: 750px;
    width: 200px;
    height: 200px;
    top: 400px;
   }
   }
    
  