/*Mobile*/

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

.header-section {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.header-image {
  width: 100%;
  height: 450px;
  background-size: cover;
  background-image: url("./assets/images/rhondak-native-florida-folk-artist-_Yc7OtfFn-0-unsplash.jpg");
  background-position: center center;
}

.icon-section {
  justify-content: flex-end;
  display: flex;

  margin-top: 50px;
}

.icon-section .circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border: 2px solid #fff;
  border-radius: 50%;
  margin: 5px;
}

.icon {
  width: 30px;
}

.header-text-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: white;
  margin-left: 40px;
  margin-top: 40px;
}

.portfolio-text {
  font-size: 16px;
}

.profession-text {
  font-size: 40px;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.picture-of-me {
  position: relative;
  top: 30px;
  left: 50%;
  width: 140px;
  border-radius: 50%;
  border: 2px solid white;
}

/***MAIN***/

/***Section 1 About me***/

.about-me-container {
  width: 100vw;
  height: auto;
  background-color: rgb(215, 238, 238);
}

.text-about-me {
  font-size: 20px;
  padding: 20px 30px;
}

/***Section 2 Tech***/

.tech-container {
  width: 100vw;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.h2-header {
  color: white;
  display: inline;
}

.marker {
  padding: 5px 10px;
  border-radius: 0.8em 0.3em;
  background: transparent;
  background-image: linear-gradient(
    to right,
    rgba(51, 0, 40, 0.1),
    rgba(212, 0, 255, 0.7) 4%,
    rgba(255, 0, 149, 0.3)
  );
}

.tech-text {
  font-size: 20px;
  padding: 0 30px 30px;
}

/***Section 3 Featured Projects***/

.featured-projects-container {
  width: 100vw;
  height: auto;
  background-color: rgb(215, 238, 238);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.project-container {
  position: relative;
}

.link-cards {
  display: flex;
  flex-direction: column;
  padding: 15px;
  margin: 20px;
}

.project-picture {
  width: 250px;
}

.h3-header {
  position: absolute;
}

.link-container:link {
  text-decoration: none;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}
.link-container:active {
  color: white;
}

.link-container:visited {
  color: white;
}

.featured-project-text {
  color: black;
}

/***Section 4 My thoughts***/

.my-thoughts-container {
  width: 100vw;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.my-thoughts-text {
  padding: 20px 30px;
  font-size: 20px;
}

/***Section 5 Skills***/

.skills-container {
  width: 100vw;
  height: auto;
  background-color: rgb(215, 238, 238);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.skills-inner-container {
  width: 100vw;
  flex-direction: row;
  flex-wrap: wrap;

  font-size: 20px;
}

.skills {
  display: inline-flex;
  padding: 10px;
}

.unordered-list {
  list-style-type: none;
  margin: 0 5px;
  padding: 0;
}

.list-header {
  color: rgba(212, 0, 255, 0.7);
}

ul li {
  padding: 5px;
}

/*** Section 6 For more***/
.for-more-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.for-more-links-container {
  display: flex;
  flex-direction: row;
}

.github-black,
.linkedin-black,
.stack-black {
  width: 30px;
}

.for-more-links-container .circle-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border: 3px solid black;
  border-radius: 50%;
  margin-bottom: 10px;
}

.clickable-link {
  display: flex;
  flex-direction: column;
  padding: 12px;
  text-decoration: none;
}

.clickable-link:active {
  text-decoration: none;
  color: black;
}

.clickable-link:visited {
  text-decoration: none;
  color: black;
}
.for-more-text {
  font-size: small;
}

/***Footer***/

.footer-container {
  width: 100vw;
  border-top: 2px solid black;
  background-color: rgb(219, 219, 219);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tribute {
  margin-top: 10px;
  font-size: 5px;
}

/***Tablet***/
@media (min-width: 768px) {
  /***Header***/
  .icon-section {
    margin-right: 70px;
  }
  .icon {
    width: 35px;
  }
  .icon-section .circle {
    width: 50px;
    height: 50px;
  }

  .header-text-container {
    margin-left: 100px;
  }
  .picture-of-me {
    position: relative;
    top: 5px;
    left: 70%;
    width: 170px;
  }

  /***section 1 About me***/
  .text-about-me {
    padding: 40px 150px;
  }

  /***Section 2 Tech***/

  .tech-text {
    padding: 40px 150px;
    line-height: 30px;
  }

  /***Section 3 Featured Projects***/

  .link-cards {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .project-container {
    margin: 20px 45px;
  }

  /***Section 4 My thoughts***/

  .my-thoughts-text {
    padding: 40px 150px;
  }

  /***Section 5 skills***/

  .skills {
    padding: 40px 120px;
  }
  .clickable-link {
    justify-content: center;
    align-items: center;
    padding: 50px;
  }
  .tribute {
    font-size: 10px;
  }
}

/***Desktop***/

@media (min-width: 992px) {
  /***Header***/
  .icon-section {
    margin-right: 225px;
  }
  .icon {
    width: 40px;
  }
  .icon-section .circle {
    width: 60px;
    height: 60px;
  }

  .header-text-container {
    margin-left: 300px;
  }
  .picture-of-me {
    top: 2px;
    left: 65%;
    width: 180px;
  }

  /***section 1 About me***/

  .text-about-me {
    padding: 40px 150px;
  }

  /***Section 2 Tech***/
  .tech-text {
    padding: 40px 150px;
    line-height: 30px;
  }

  /***Section 3 Featured Projects***/

  .link-cards {
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
  }

  /***Section 4 My thoughts***/
  .my-thoughts-text {
    padding: 40px 150px;
  }

  /***Section 5 Skills***/
  .skills {
    display: inline-flex;
    padding: 40px 80px;
  }
  .clickable-link {
    justify-content: center;
    align-items: center;
    padding: 50px;
  }

  /***Footer***/
  .footer-list-container {
    margin: 50px 0;
  }
  .tribute {
    font-size: 15px;
  }
}
