
/* DOCUMENT FONTS & SIZES */

body {
    font-family: 'Montserrat', sans-serif; 
    font-size: 14px; 
    max-width: 1636px;
}

section {
    padding-top: 1em;
    padding-bottom: 1em;
}

h1 {
    font-size: 2.2em;
}

h2 {
    font-size: 1.2em;
    margin: 0px
}
h3 {
    color: white;
    text-align: center;
    font-size: 1.6em;
    font-weight: bold;
    text-transform: uppercase;
}

h4 {
    color: tomato;
    text-align: center;
    font-size: 1.6em;
    font-weight: bold;
    text-transform: uppercase;
    margin: 15px 0px;
}

h5 {
    color: white;
    text-align:center;
    font-size: 2em;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif; 
}

h6 {
    color: tomato;
    font-size: 1em;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    margin-bottom: .5em;
}

mark {
    background-color: tomato;
    padding: .4em .4em .4em .4em;
}

a mark {
    background-color: pink;
}

a, p {
    text-decoration: none;
    margin: .5em 0em;
}

img{
    max-width: 100%;
}

/* GRID */

.grid {
    display: grid;
    grid-template-columns: repeat(8, auto);
    grid-template-rows: repeat(8, auto);
}



/* HEADER SECTION */

.header * {
    font-family: 'Roboto', sans-serif;
}

.header-image {
    grid-column: 1 / 9;  
    grid-row: 1 / 9;
}

.header-role {
    grid-column: 2 / 6;  
    grid-row: 4 / 7; 
}

.header-role p {
    text-transform: uppercase;
    font-size: 1em;
}

.header-profile-image {
    grid-column: 6 / 8;  
    grid-row: 6 / 9; 
    margin: auto;
    margin-bottom: -15px;
}
.header-profile-image img {
    border-radius: 50%;
}


/* INTRODUCTION SECTION */

.intro {
    background: #F4F4F4;   
}

.intro p {
    margin: 40px;
}

/* DESIGN BORROWED FROM SLACK / CODEPEN */
.line {
    display: inline-block;
    width: 3em;
    height: 2.5px;
    background-color: black;
    margin-bottom: 5px;
}
  
  .circle {
    display: inline-block;
    background-color: black;
    width: 0.8em;
    height: 0.8em;
    border-radius: 50%;
    margin-left: -10px; /*so there is no margin between the line and the dot*/
}   



/* TECH SECTION */

.tech p {
    min-width: 327px;
    margin: 40px 20px;
    text-align: center;
}



/* PROJECTS SECTION */

.projects {
    background: #F4F4F4;
}

.projects h5 {
    grid-column: 2 / 8;  
    grid-row: 2 / 4; 
}



/* FEATURED PROJECTS*/

.featured-projects {
    padding-bottom: 20px;   
}

.featured-image {
    grid-column: 2 / 8;  
    grid-row: 1 / 4;
    margin: auto;
}

.featured-articles {
    grid-column: 2 / 8;  
    grid-row: 4 / 9;
    margin: auto;
    margin-bottom: 15px;
}



/* OTHER PROJECTS */

.other-projects :nth-child(1){
    grid-column: 2 / 8;  
    grid-row: 1 / 4;
}
.other-projects :nth-child(2){
    grid-column: 2 / 8;  
    grid-row: 5 / 9;
}
.other-projects h6 {
    margin: 15px 0px 0px 0px;
}



/* MY THOUGHTS SECTION */

.thoughts {
    margin-bottom: 1em;
}

.thought-one {
    grid-column: 2 / 8;  
    grid-row: 1 / 4;
    max-width: 521px;
    margin: auto;
}

.thought-two {
    grid-column: 2 / 8;  
    grid-row: 5 / 9;
    max-width: 521px;
    margin: auto;
}



/* SKILLS SECTION */

.skills {
    background: #F4F4F4;   
}

.code-skills {
    grid-column: 2 / 4;  
    grid-row: 1 / 6;
    margin: auto
    
}
.toolbox-skills {
    grid-column: 4 / 6;  
    grid-row: 1 / 6;
    margin: auto
    
}

.more-skills {
    grid-column: 6 / 8;  
    grid-row: 1 / 6;
    margin: auto
    
}

.upcoming-skills {
    grid-column: 2 / 4;  
    grid-row: 6 / 9;
    margin: auto;
}

ul {
    padding: 10px
}

li {
    list-style-type: none;  
}



/* MORE SOCIAL LINKS SECTION */

.linkedin {
    grid-column: 3;  
    grid-row: 1; 
    text-align: center;
    margin: auto
}

.github {
    grid-column: 5;  
    grid-row: 1; 
    text-align: center;
    margin: auto
}

.stackoverflow {
    grid-column: 8;  
    grid-row: 1; 
    text-align: center;
    margin: auto
}



/* FOOTER SECTION */

.contact {
    background: #072BCE;
    text-align: center;
}
.contact-details {
    padding: 20px 20px 20px 20px;
}
.contact-details p {
    color: white;
}
.contact-details p:nth-child(1) {
    font-weight: bold;
    padding: 10px;
    text-transform: uppercase;
}



/* MEDIA QUERIES  */

@media screen and (min-width: 376px) {
    body {
      font-size: 16px;
    }
}

  @media screen and (min-width: 769px) {
    body {
      font-size: 18px;
    }

    .thought-one {
        grid-column: 2 / 5;  
        grid-row: 1 / 4;
        padding-right: 10px;
    }
    
    .thought-two {
        grid-column: 5 / 8;  
        grid-row: 1 / 4;
        padding-left: 10px;
    }
  }


  @media screen and (min-width: 1025px) {
    body {
      font-size: 24px;
    }
 
    .thought-one {
        grid-column: 2 / 5;  
        grid-row: 1 / 4;
        padding-right: 10px;
    }
    
    .thought-two {
        grid-column: 5 / 8;  
        grid-row: 1 / 4;
        padding-left: 10px;
    }
}