*{
    box-sizing: border-box ;
}

/* mobile first*/

body{
    margin: 10px;

    font-family: satoshi;
    
}

.maininformation{
    display: grid;
    grid-template-columns: 1fr;
    grid-column: 1/2;
    border: solid aqua;
    /*position:relative*/
    justify-content: center;
    margin: 10px;

}
.mypicture{
    justify-self: center;
}
.mypicture img{
    /*choose what position to use and where*/
border-radius: 50%;
    width: 200px;
    height: 200px;
    /*position: absolute;*/
  
}

.vadfan{
    display: grid;
    grid-template-columns: 1fr;
   
    border: solid black;
    margin: 10px;

}

.vafanchild{
    grid-column: 1/2;
    justify-self: center;
    text-align: center;

}
.tech{
    grid-column: 1/2;
    text-align: center;
}

.projects{
    grid-column: 1/2;
    border: solid red;
}

.mywords{
    grid-column: 1/2;
    border: solid violet;
}

.skills{
    grid-column: 1/2;
    border: solid teal;
    
}

.contactinfo{
    grid-column: 1/2;
    border: solid pink;
}