body {
    margin: 0;
    box-sizing: border-box;

}

.header-section {
    /*background-position Property*/
    background-image: url(./image1.png);
    background-size: cover; 
    padding: 20px;
    height: 300px;
    background-position: center top;
    position: relative;
    flex: wrap;
    
}

.social-icon {
  padding: 10px;
    font-size: 30px;
    width: 30px;
    margin: 5px 2px;
    float: right;
    display: flex;
    
}

.header-image {
  width: 200px;
  display: fl;
  border-radius: 50%;
  float: right;
  margin-top: 150px;
  margin-right: 350px;
  border: 2px solid white;
  
}


