.post-image {
  height: 340px;
  max-width: 100%;
  border-bottom: 10px solid #ff4575;
  border-left: 15px solid #ff4575;
}

.article-card {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: calc(50% - 16px);
  margin-bottom: 32px;
  font-family: "Montserrat", sans-serif;
}

.article-text {
  text-align: left;
  width: 80%;
}

.date {
  background-color: black;
  color: white;
  margin-top: 32px;
}

.article-text h2 {
  font-weight: 600;
  font-size: 32px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.article-text p {
  font-weight: 400;
  font-family: "Hind", sans-serif;
}

@media screen and (max-width: 576px) {
  .my-words-title {
    text-align: center;
  }

  .articles-container {
    align-items: center;
    justify-content: center;
    padding: 0 10px;
    width: 100%;
  }

  .article-card {
    width: 100%;
  }

  .article-list-wrapper {
    padding: 100px 10px;
    width: 100%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .post-image {
    height: 340px;
    width: 600px;
  }
  .article-card {
    width: 100%;
  }

  .article-list-wrapper {
    padding: 100px 10px;
    width: 100%;
  }
}
