.contact-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.contact{
    color: #0B24F5;
text-align: center;
font-family: Montserrat;
font-size: 80px;
font-style: normal;
font-weight: 700;
line-height: normal;
padding: 128px 234px;
}

.name,
.phone,
.email{
    color: #000;
font-family: Montserrat;
font-size: 32px;
font-style: normal;
font-weight: 600;
line-height: normal;
}

.icon-btn{
    width: 32px;
    height: 32px;
    color: #D0D0D0;
}

.icon-btn:hover svg path{

fill: #000000;
}

.profilePhoto2{
    width: 150px;
    height:200px;
    align-self: center;
}

.picInfo{
    display: flex;
width: 1044px;
flex-direction: column;
align-self: center;
gap: 64px;
}

.info{
    display: flex;
flex-direction: column;
align-items: center;
gap: 8px;
}