.scrollDownContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.scrollDown {
  height: 200px;
  cursor: pointer;
}

.scrollUpContainer {
  display: flex;
  justify-content: right;
  margin-right: 1.5rem;
}

.scrollUp {
  height: 50px;
  cursor: pointer;
}
