@use "../../../styles/variables.scss" as *;
@use "../../../styles/mixins.scss" as *;

.hero_section {
  padding-top: 64px;
  padding-bottom: 64px;

  @include sm {
    padding-top: 128px;
  }

  @include md {
    padding-top: 322px;
    padding-bottom: 64px;
  }
}

.inner_hero {
  padding-left: 8px;
  padding-right: 8px;
  display: grid;
  margin: 0 auto;
  min-width: 343px;
  max-width: 450px;
  grid-template-columns: 100%;
  grid-template-rows: auto;
  grid-template-areas:
    "image"
    "heading"
    "text"
    "arrow";
  gap: $gap-md;

  @include sm {
    min-width: 616px;
    max-width: 616px;
    grid-template-columns: 184px minmax(430px, 1fr);
    grid-template-rows: auto;
    grid-template-areas:
      "heading heading"
      "image text"
      "arrow arrow";
    column-gap: 22px;
    row-gap: $gap-md;
  }

  @include md {
    grid-template-columns: 184px 1fr;
    min-width: 840px;
    max-width: 860px;
    row-gap: $gap-sm;
  }
}

// heading and h1
.heading_box {
  grid-area: heading;
}

h1 {
  font-family: $font-display;
  font-size: $font-size-md;
  font-weight: 600;

  @include sm {
    font-size: $font-size-xlg;
  }

  @include md {
    font-size: 32px;
  }
}

.text {
  font-family: $font-text;
  font-size: $font-size-md;
  grid-area: text;

  @include md {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.my_image {
  width: 164px;
  height: 164px;
  border-radius: 50%;
  grid-area: image;
  margin: 0 auto;
}

// arrow icon
.arrow {
  cursor: pointer;
  grid-area: arrow;
  margin: 0 auto 30px;
  transition: $transition;
  @include sm {
    grid-row: 3;
    margin-top: 106px;
  }
  @include md {
    margin-top: 183px;
  }

  &:hover {
    transform: translateY(10px);
  }

  &:focus-visible {
    outline: $color-primary 3px solid;
  }
}
