.skills-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--maroon);
    padding-top: 20px;
    padding-bottom: 50px; 
}

.skills-boxes {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

#skills-title {
    font-size: 20px;
    padding: 5px 10px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 8px;
}

.code-title {
    background-color: var(--olive);
    color: white;
}

.toolbox-title {
    background-color: var(--daffodil);
    color: var(--maroon);
}

.upcoming-title {
    background-color: var(--wine);
    color: white;
}

.more-title {
    background-color: var(--seafoam);
    color: var(--maroon);
}

@media (min-width: 500px) AND (max-width: 800px) {
.skills-boxes {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#skills-title {
    font-size: 20px;
    padding: 5px 10px;
    border-radius: 8px;
    margin-left: auto;
    margin-right: auto;
}
}

@media (min-width: 800px) AND (max-width: 1200px) {
.skills-boxes {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#skills-title {
    font-size: 20px;
    padding: 5px 10px;
    border-radius: 8px;
    margin-left: auto;
    margin-right: auto;
}
}

@media (min-width: 1200px) {
.skills-boxes {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#skills-title {
    font-size: 20px;
    padding: 5px 10px;
    border-radius: 8px;
    margin-left: auto;
    margin-right: auto;
}
}