@use "../../../styles/variables.scss" as *;

.footer {
  background-color: $color-secondary;
  padding-top: 41px;
  padding-bottom: 35px;
  overflow: hidden;
}

.text {
  color: #fff;
  font-family: Montserrat;
  font-size: 26.038px;
  font-style: normal;
  font-weight: 600;
  line-height: 37.874px;
  text-wrap: nowrap;
  width: max-content;
}

.bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
