

.pink:hover {
    background-color: #eb5578; 
    color: white; 
}

.blue:hover {
    background-color: #0a25f5; 
    color: white; 
}

.yellow:hover {
    background-color: #FFD338;
    color: white; 
}

/*How to turn button image white? */
/* .button:hover img {
   filter: grayscale(100%)
} */