.social-icons {
  display: flex;
  justify-content: center;
}

.social-media-wrapper {
  display: flex;
  gap: 32px;
}

.social-media-wrapper a img {
  height: 40px;
  width: 40px;
}

.linkedin-icon:hover {
  content: url("/btn-sociallinks-linkedin-hover.svg");
}

.github-icon:hover {
  content: url("/btn-sociallink-github-hover.svg");
}
