.footer-container {
  width: 668px;
  height: 114px;
  background: #81689d;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  color: #fff;
  font-family: "Montserrat";
  font-size: 26px;
  font-weight: 600;
  line-height: 37px;
}

.ticker-tape {
  white-space: nowrap;
  animation: tickerTape 150s linear infinite;
}

@keyframes tickerTape {
  0% {
    transform: translateX(40%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@media (min-width: 667px) and (max-width: 1024px) {
  .footer-container {
    width: 1512px;
    height: 114px;
  }
}

@media (min-width: 1025px) {
  .footer-container {
    width: 1512px;
    height: 114px;
  }
}
