.footer-container {
  width: 1512px;
  height: 114px;
  background: #81689D;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  color: #FFF;
  font-family: "Montserrat";
  font-size: 26.038px;
  font-weight: 600;
  line-height: 37.874px;
  }

  .ticker-tape {
    white-space: nowrap;
    animation: tickerTape 160s linear infinite;
  }

  @keyframes tickerTape {
    0% {
      transform: translateX(40%);
    }
    100% {
      transform: translateX(-100%);
    }
  }