.contact-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 128px;
}

.contact-info h1 {
    margin-bottom: 128px;
}

.contact-info li {
    color: black;
    list-style: none;
    text-align: center;
}

.contact-info button {
    background-color: #FFFFFF;
    border: none;
    margin-bottom: 128px;
}

/* hover effects */

.contact-info .btn-github,
.contact-info .btn-linkedin {
    display: block;
}

.contact-info .btn-github-hover,
.contact-info .btn-linkedin-hover {
    display: none;
}

.contact-info button:hover .btn-github,
.contact-info button:hover .btn-linkedin {
    display: none;
}

.contact-info button:hover .btn-github-hover,
.contact-info button:hover .btn-linkedin-hover {
    display: block;
}

nav {
    background-color: #FF4575;
    color: #FFFFFF;
    height: 114px;
    overflow: hidden;
}

.scroll-text {
    transform: translateX(100%);
    animation: my-animation 20s linear infinite;
}

@keyframes my-animation {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(-100%);
    }
}

nav p {
    color: #FFF;
    font-family: Montserrat;
    font-size: 26.038px;
    font-style: normal;
    font-weight: 600;
    line-height: 37.874px;
    display: inline-block;
}