.footer-name-banner {
    height: 114px;
    width: 100%;
    background-color: var(--secondary);
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
}

.footer-name-banner h3 {
    color: white;
    padding: 41px 0 35px 0;
    overflow: hidden;
}