.button {
    display: inline-block;
  }
  
  .button a {
    display: inline-block;
    background-color: #dbe2c7;
    color: #333;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    padding-right: 12px;
    text-decoration: none;
    border-radius: 25px;
  }
  
  .button img {
    height: 40px;
  }
  
  .button-content-wrapper {
    display: flex;
    align-items: center;
  
  }

  .btn-wrapper-projects {
    display: flex;
    gap: 10px;
  }

  .button a:hover {
    background-color: var(--hover);
  }