.social-media-wrapper {
    display: flex;
    gap: 32px; 
  }

.linkedin-icon:hover {
    content: url("/src/assets/social/linkedin.svg");
}

.github-icon:hover {
    content: url("/src/assets/social/github.svg");
}

.instagram-icon:hover {
    content: url("/src/assets/social/instagram.svg")
}
