:root {
    --primary-color: #ff5a5f;
    --text-color: #333;
    --bg-color: #f9f9f9;
    --button-color: #333;
    --button-bg-color: #fff;
}

.article-body {
    color: #000;
    font-family: Hind;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.articles-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
    background-color: #FFECEA;
}

.section-title {
    font-size: 24px;
    color: var(--primary-color);
    text-align: center;
    margin-bottom: 16px;
}

.article-card {
    background-color: #FFECEA;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    padding: 16px;
}

.article-image {
    width: 100%;
    border-bottom: 10px solid #FF4575;
    border-left: 10px solid #FF4575;
}

.article-title {
    font-size: 18px;
    font-weight: bold;
    color: var(--text-color);
}

.article-tag {
    font-size: 12px;
    color: var(--primary-color);
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 8px;
    background-color: #333;
    color: #ffffff;
    padding: 4px 8px;
    border-radius: 4px;
    font-size: 12px;
}

/* .article-body {
    font-size: 14px;
    color: var(--text-color);
    margin: 0 0 12px 0;
} */

/* Buttons */
.article-buttons {
    max-width: 200px;
    flex-direction: column;
    gap: 8px;
}

.article-button {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    /* Mellanrum mellan ikonen och texten */
    padding: 8px 16px;
    border-radius: 30px;
    border: none;
    background-color: white;
    /* Ljus bakgrundsfärg */
    color: black;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none;
    /* Ingen understrykning */
}

.article-link {
    color: black;

}

/* Tablet View */
@media (min-width: 768px) {
    .articles-container {
        padding: 32px;
    }

    .section-title {
        font-size: 28px;
    }

    .article-card {
        max-width: 700px;
        padding: 24px;
    }

    .article-title {
        font-size: 20px;
    }

    .article-body {
        font-size: 16px;
    }

    .article-button {
        font-size: 16px;
    }
}

/* Desktop View */
@media (min-width: 1024px) {
    .articles-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 32px;
        padding: 40px;
        max-width: 1200px;
        margin: 0 auto;
    }

    .section-title {
        font-size: 32px;
        grid-column: span 2;
        margin-bottom: 32px;
    }

    .article-card {
        max-width: none;
        flex-direction: column;
    }
}


@media (max-width: 767px) {
    .article-button {
        max-width: 200px;
        /* Begränsar bredden på mobil */
    }

    .article-buttons {
        align-items: flex-start;
        /* Vänsterjusterar knapparna i sin container */
    }
}