@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap');



:root {
  --primary-color: #ff5a5f;
  --text-color: #333;
  --bg-color: #f9f9f9;
  --button-bg-color: #fff;
}


.articles-section {

  stroke-width: 6px;
  stroke: #FF4575;
  background-color: #FFECEA;
  width: 100%;
}

.article-body {
  color: #000;
  font-family: Hind;
  font-size: 1.125rem;
  font-weight: 400;
}

.article-title {
  color: #000;
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 700;
  line-height: 2.125rem;
  text-align: left;
}

h2.my-words-title {
  color: #f50b74;
  font-family: Montserrat;
  font-size: 60px;
  font-weight: 700;
  text-align: left;
  padding: 90px 0px 0px 29px;
}

.articles-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
  background-color: #FFECEA;
  padding-bottom: 64px;
}

.article-card {
  background-color: #FFECEA;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: 16px;
}

.article-image {
  width: 100%;
  border-bottom: 20px solid #FF4575;
  border-left: 20px solid #FF4575;
  margin-bottom: 24px;

}

.article-tag {
  font-size: 12px;
  color: #fff;
  background-color: #000000;
  font-weight: bold;
  text-transform: uppercase;
  padding: 4px 8px;
  border-radius: 4px;
  margin-top: 8px;

}

.article-button {
  color: #333;
  font-family: Montserrat;
  align-items: center;
  gap: 7px;
  padding: 8px 16px;
  border-radius: 40px;
  background: var(--button-bg-color);
  color: black;
  font-size: 20px;
  font-weight: 500;
  line-height: normal;
  cursor: pointer;
  font-style: normal;
  transition: background-color 0.3s ease;
  text-decoration: none;

}

.article-button:hover {
  background-color: var(--primary-color);
  color: white;
}

.article-link {
  color: black;
}

@media (min-width: 768px) {
  .articles-container {

    gap: 24px;
    padding: 16px;
    padding-bottom: 80px;
  }

}

.article-card {
  /* padding: 24px; */
}

.article-title {
  font-size: 20px;
}

.article-body {
  font-size: 16px;
}


@media (min-width: 1024px) {
  .articles-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
    padding: 32px;
    max-width: 1200px;
    margin: 0 auto;
    background-color: #FFECEA;

  }

  .articles-section {

    stroke-width: 6px;
    stroke: #FF4575;
    background-color: #FFECEA;
    width: 100%;
  }

  .article-card {
    max-width: 1200px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 16px;

  }

  .article-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-bottom: 16px;
  }

  .article-title {
    font-size: 18px;
    font-weight: 600;
    color: #000;
    margin-bottom: 8px;
  }

  .article-body {
    font-size: 14px;
    color: #333;
    line-height: 1.5;
    margin-bottom: 16px;

  }

  .article-button {
    font-size: 14px;
    padding: 8px 16px;
    border-radius: 20px;
    background: var(--button-bg-color);
    color: var(--text-color);
    text-align: center;
    border: 1px solid #ccc;
    transition: background-color 0.3s ease;
  }

  .article-button:hover {
    background-color: var(--primary-color);
    color: #fff;
  }
}

.article-body {
  font-size: 14px;
  line-height: 1.5;


}

.article-tag {
  margin-top: 4px;
}

h2.my-words-title {
  color: #f50b74;
  font-family: Montserrat;
  font-size: 55px;
  font-weight: 700;
  text-align: left;
  padding-left: 230px;
}

@media (min-width: 768px) and (max-width: 1023px) {
  h2.my-words-title {
    font-size: 50px;
    text-align: left;
    padding-left: 30px;
    padding-top: 40px;
  }
}