:root {
  --darkblue: #200e3a;
  --midblue: #38419d;
  --lightblue: #3887be;
  --green: #52d3d8;
}

.banner-wrapper {
  width: 100%;
  background-color: var(--darkblue);
  color: #ffffff;
}

.banner {
  height: 114px;
  overflow: hidden;
}

.banneritem {
  font-family: "Montserrat", sans-serif;
  font-size: 26px;
  font-weight: 600;
  padding: 44px;
}

.dot {
  font-size: 20px;
}

.banner-span {
  padding: 0 20px;
}
