@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Hind:wght@400;600&display=swap');



:root {
  --blue: #0B24F5;
  --midblue: #38419d;
  --lightblue: #3887be;
  --green: #52d3d8;
}

.tech-section {
  display: flex;
  /* width: 375px; */
  padding: 128px 16px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: var(--blue);
}

.tech-title {
  margin: 0;
  color: white;
  padding-bottom: 33px;
  text-align: center;
  font-family: Montserrat;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 66px;
  /* 117.857% */
}

.tech-description {
  color: #FFF;
  font-family: Hind;
  font-size: 24px;
  font-style: normal;
  font-weight: 550;
  line-height: normal;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .tech-section {
    display: flex;
    flex-direction: column;
    /* Lägg elementen i en kolumn */
    justify-content: center;
    align-items: center;
    padding: 128px 147px;
    /* Anpassa padding */
    background-color: var(--blue);
    /* Behåll den blåa bakgrunden */
  }

  .tech-title {
    font-family: Montserrat, sans-serif;
    font-size: 36px;
    /* Minska fontstorleken */
    font-weight: 700;
    text-align: center;
    margin-bottom: 14px;
    /* Ge lite mellanrum till texten nedan */
    color: #fff;
    /* Behåll vit text */
  }

  .tech-description {
    font-family: Hind, sans-serif;
    font-size: 20px;
    /* Anpassad storlek för surfplatta */
    line-height: 1.6;
    /* Öka radavståndet lite */
    text-align: center;
    /* Centrerad text */
    max-width: 680px;
    /* Begränsa textens bredd */
    margin: 0 auto;
    /* Centrerar innehållet */
    color: #fff;
    /* Vit text */
  }
}