:root {
    --darkblue: #200e3a;
    --midblue: #38419d;
    --lightblue: #3887be;
    --green: #52d3d8;
}

.tech-section {
    background-color: var(--midblue);
    color: #ffffff;
    padding: 128px 16px;
    text-align: center;
}

.tech-title {
    font-family: "Montserrat", sans-serif;
    font-size: 56px;
    font-weight: 700;
    margin-bottom: 64px;
}

.tech-description {
    font-family: "Hind", sans-serif;
    font-size: 24px;
    font-weight: 600;
    max-width: 800px;
    margin: 0 auto;
}

@media (min-width: 768px) {
    .tech-section {
        padding: 256px 32px;
    }

    .tech-title {
        font-size: 64px;
    }

    .tech-description {
        font-size: 28px;
    }
}

@media (min-width: 1200px) {
    .tech-section {
        padding: 256px 161px;
    }

    .tech-title {
        font-size: 72px;
    }

    .tech-description {
        font-size: 32px;
    }
}