@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind:wght@400&display=swap');


:root {
    --blue: #0B24F5;
    --midblue: #38419d;
    --lightblue: #3887be;
    --green: #52d3d8;
}



.tech-section {
    display: flex;
    padding: 2rem 1rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    background-color: var(--blue);
}

.tech-title {
    color: #FFF;
    text-align: center;
    font-family: Montserrat;
    font-size: 3.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.tech-description {
    color: #FFF;
    font-family: Hind;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

@media (min-width: 768px) {
    .tech-section {
        color: #FFF;
        text-align: center;
        font-family: Montserrat;
        font-size: 3.5rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;

    }

    .tech-title {
        color: #FFF;
        text-align: center;
        font-family: Montserrat;
        font-size: 3.5rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    .tech-description {
        color: #FFF;
        text-align: center;
        font-family: Hind;
        font-size: 1.5rem;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        padding: 0rem 16rem 0rem;
    }
}

/* @media (min-width: 1200px) {
    .tech-section {
        flex-direction: row;
        text-align: left;
        align-items: center;
        justify-content: center;
        max-width: 1200px;
        margin: 120px auto 0 auto;
    }

    .tech-title {
        color: #FFF;
        font-family: Montserrat;
        font-size: 5rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        flex: 1;
        text-align: left;

    }

    .tech-description {

        color: #FFF;
        font-family: Hind;
        font-size: 2rem;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        flex: 1;
        text-align: right;
        margin-left: 32px;

    }
} */