.article-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 64px;
  align-self: stretch;
}

.article-photo-wrapper img {
  height: 200px;
  width: 100%;
  align-self: stretch;
  object-fit: cover;
  border-bottom: 20px solid #ff4575;
  border-left: 20px solid #ff4575;
  background: lightgray 50% / cover no-repeat;
}

.article-month-wrapper {
  display: flex;
  align-items: flex-start;
  margin: 24px 0 8px 0;
}

.article-month {
  font-family: "Montserrat";
  font-size: 16px;
  color: #fff;
  background: #000;
  padding: 2px 6px;
}

.article-text-wrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

@media (min-width: 744px) and (max-width: 1279px) {
  .article-card {
    gap: 32px;
    min-width: 680px;
  }

  .article-photo-wrapper img {
    height: 340px;
  }
}

@media (min-width: 1280px) and (max-width: 1511px) {
  .article-photo-wrapper img {
    height: 340px;
    width: 460px;
  }
}

@media (min-width: 1512px) {
  .article-photo-wrapper img {
    width: 564px;
    height: 340px;
  }
}
