* {
  background-color: #000;
}

#root {
  margin: 0 auto;
  padding: 0;
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-family: "poppins";
}