:root {
    font-family: "Poppins", sans-serif;

    margin: 0 auto;
    /* Colors */
    --primary-color: #000000;
    --secondary-color: #FFFFFF;
 
}

body {
    margin: 0 auto;
}

img {
    max-width: 100%;
    max-height: 100%;
}