:root {
  --header-font: Montserrat;
  --text-font: Hind;
  --primary-color: #27672a;
  --accent-color: #b33305;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 18px;
}

/* ----------------- Headers and Text --------------- */

.intro-title {
  color: var(--primary-color);
  font-family: var(--header-font);
  font-size: 27px;
  font-weight: 700;
}

.tech-title,
.skills-title,
.project-list-title,
.contact-title {
  text-align: center;
  font-family: var(--header-font);
  font-size: 56px;
  font-weight: 700;
}

.project-list-title,
.contact-title {
  color: var(--primary-color);
  line-height: 66px;
}

.name-title {
  font-family: var(--header-font);
  font-weight: 600;
}

h2 {
  font-family: var(--header-font);
  font-size: 24px;
  font-weight: 600;
}

.tech-container p {
  font-family: var(--text-font);
  font-size: 24px;
  font-weight: 600;
}

p,
li {
  font-family: var(--text-font);
  font-weight: 400;
}

.skills-text-box li,
.skills-container h2 {
  text-align: center;
}

.skills-text-box h2 {
  background-color: var(--accent-color);
  padding: 1px 15px;
}

.tags-box p {
  color: #fff;
  background-color: #000;
  font-family: var(--header-font);
  font-size: 16px;
  font-weight: 600;
  padding: 2px 6px;
}

.contact-text {
  font-family: var(--header-font);
  font-size: 20px;
  font-weight: 600;
}

footer p {
  color: #fff;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 37.874px;
}
/* ----- Featured project and skills lists styling ----- */

ul {
  list-style-type: none;
}

/* ------- Containers for the different sections ------- */

.intro-container {
  display: flex;
  padding: 64px 16px;
  flex-direction: column;
  gap: 32px;
}

.tech-container,
.skills-container {
  background-color: var(--primary-color);
  color: #fff;
}

.tech-container,
.skills-container,
.featured-projects-container,
.contact-container {
  display: flex;
  padding: 128px 16px;
  flex-direction: column;
  align-items: center;
  gap: 64px;
}

.skill-boxes {
  display: flex;
  flex-direction: column;
  gap: 64px;
}

.intro-header-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.intro-text-box {
  gap: 22px;
}

.project-list {
  display: flex;
  flex-direction: column;
  gap: 64px;
}

.project-card {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.projectcard-textbox,
.button-container,
.skills-text-box {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.arrow-box {
  display: flex;
  justify-content: center;
  height: 10px;
  margin-top: 50px;
}

.tags-box {
  display: flex;
  gap: 4px;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-bottom: 24px;
}

.contact-text-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.platform-icons-container {
  display: flex;
  gap: 32px;
}

footer {
  display: flex;
  background-color: var(--primary-color);
  color: #fff;
  height: 114px;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

/* --------------- Images and icons --------------- */

.profile-img {
  width: 164px;
  height: 164px;
  border-radius: 164px;
  align-self: center;
}

.arrow-icon {
  color: #70180a;
  width: 27px;
  height: 68px;
  align-self: center;
  animation: 2s bounce infinite;
}

.repo-image {
  height: 200px;
  width: 100%;
  border-bottom: 10px solid var(--primary-color);
  border-left: 10px solid var(--primary-color);
}

.wavy-border {
  background: url("src/assets/icons/wavy-line.svg");
  background-repeat: repeat;
  background-size: 174px 11px;
  position: relative;
  top: 5px;
  height: 11px;
  width: 100%;
}

/* --------------- Buttons and a-tags --------------- */

.github-button,
.live-button {
  display: flex;
  padding-right: 16px;
  align-items: center;
  gap: 7px;
  border-radius: 40px;
  border: none;
  background: #f5f5f5;
  cursor: pointer;
  font-family: var(--text-font);
}

a {
  display: flex;
  text-decoration: none;
  cursor: default;
}

.live-button:hover {
  background-color: var(--accent-color);
  color: #fff;
}

.live-button:hover img {
  filter: invert(100%) brightness(2);
}

.github-button:hover {
  background-color: var(--primary-color);
  color: #fff;
}

.github-button:hover img {
  filter: invert(100%) brightness(2);
}

.platform-icons-container a:hover {
  cursor: pointer;
  filter: invert(100%);
}

.text-slide {
  white-space: nowrap;
  animation: 10s slide infinite linear;
}

/* --------------- animations -------------- */

/* footer text slide  */
@keyframes slide {
  from {
    transform: translateX(25%);
  }
  to {
    transform: translateX(-25%);
  }
}

/* bouncing key in the intro section */
@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-10px);
  }
}

/* --------------- Responsive design --------------- */

@media (min-width: 575px) {
  .intro-container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 0.3fr 1fr 0.3fr;
    gap: 22px;
    grid-template-areas:
      "title title"
      "profile-image intro-text"
      "arrow arrow";
    align-items: center;
    padding-bottom: 15px;
  }

  .intro-header-box {
    grid-area: title;
  }

  .profile-img {
    grid-area: profile-image;
  }

  .intro-title {
    font-size: 52px;
  }

  .name-title {
    font-size: 24px;
  }

  .arrow-box {
    grid-area: arrow;
    justify-self: center;
    align-self: center;
    margin-top: 150px;
  }

  .tech-container {
    padding-top: 256px;
    padding-bottom: 256px;
  }

  .tech-container p {
    text-align: center;
    width: 575px;
  }

  .repo-image {
    width: 200px;
    height: 280px;
  }

  .project-card {
    flex-direction: row;
  }

  .project-card-desktop {
    display: flex;
    flex-direction: column;
  }

  .projectcard-textbox {
    gap: 10px;
  }

  .button-container {
    flex-direction: row;
  }

  .skill-boxes {
    flex-direction: row;
  }
}

@media (min-width: 750px) {
  .intro-container {
    grid-template-columns: 0.5fr 3fr;
  }
}

@media (min-width: 1280px) {
  .intro-container {
    padding: 331px 161px 55px 161px;
  }

  .arrow-box {
    margin-top: 250px;
    margin-bottom: 0;
  }

  .tech-container {
    flex-direction: row;
    padding: 390px 161px;
    gap: 124px;
  }

  .featured-projects-container {
    padding: 128px 161px;
    gap: 128px;
  }

  .tech-title,
  .skills-title,
  .contact-title,
  .intro-title {
    font-size: 80px;
  }

  .tech-container p,
  .contact-container p {
    font-size: 32px;
  }

  .repo-image {
    width: 408px;
    height: 280px;
  }
}

@media (min-width: 1500px) {
  .intro-container {
    padding: 331px 234px;
  }
  .intro-title {
    font-size: 80px;
  }

  .skills-container,
  .contact-container {
    padding: 128px 161px;
  }

  .project-list {
    gap: 128px;
  }

  .skills-text-box h2,
  .contact-text {
    font-size: 32px;
  }
}
