:root {
  --header-font: Montserrat;
  --text-font: Hind;
  --primary-color: #ad360b;
  --secondary-color: #8b3d2d;
  --accent-color: #328636;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 18px;
}

.intro-title {
  color: var(--primary-color);
  font-family: var(--header-font);
  font-size: 27px;
  font-weight: 700;
}

.title {
  text-align: center;
  font-family: var(--header-font);
  font-size: 56px;
  font-weight: 700;
}

.name-title {
  font-family: var(--header-font);
  font-weight: 600;
}

.project-list-title {
  color: var(--primary-color);
  text-align: center;
  font-family: var(--header-font);
  font-size: 56px;
  font-weight: 700;
  line-height: 66px;
}

p {
  font-family: var(--text-font);
  font-weight: 400;
}

ul {
  list-style-type: none;
}

.intro-container {
  display: flex;
  padding: 64px 16px;
  flex-direction: column;
  gap: 32px;
}

.profile-img {
  width: 164px;
  height: 164px;
  border-radius: 164px;
  align-self: center;
}

.intro-header-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.intro-text-box {
  gap: 22px;
}

.arrow-icon {
  color: #70180a;
  width: 27px;
  height: 68px;
  align-self: center;
}

.tech-container {
  display: flex;
  background-color: var(--primary-color);
  color: #fff;
  padding: 128px 16px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 64px;
}

.tech-container p {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: var(--text-font);
  font-size: 24px;
  font-weight: 600;
}

.featured-projects-container {
  display: flex;
  padding: 128px 16px;
  flex-direction: column;
  align-items: center;
  gap: 64px;
}

.repo-image {
  height: 200px;
  width: 100%;
  border-bottom: 10px solid var(--primary-color);
  border-left: 10px solid var(--primary-color);
}

.project-card {
  display: flex;
  flex-direction: column;
  gap: 64px;
}

.projectcard-textbox {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.tags-box {
  display: flex;
  gap: 4px;
  align-items: flex-start;
  flex-wrap: wrap;
}

.tags-box p {
  color: #fff;
  background-color: #000;
  font-family: var(--header-font);
  font-size: 16px;
  font-weight: 600;
  padding: 2px 6px;
}

.github-button,
.live-button {
  display: flex;
  padding-right: 16px;
  align-items: center;
  gap: 7px;
  border-radius: 40px;
  border: none;
  background: #f5f5f5;
  cursor: pointer;
}

a {
  display: flex;
  text-decoration: none;
  cursor: default;
}

.live-button:hover {
  background-color: var(--accent-color);
  color: #fff;
}

.live-button:hover img {
  filter: invert(100%) brightness(2);
}

.github-button:hover {
  background-color: var(--primary-color);
  color: #fff;
}

.github-button:hover img {
  filter: invert(100%) brightness(2);
}
