:root {
  --header-font: Montserrat;
  --text-font: Hind;
  --primary-color: #27672a;
  --accent-color: #b33305;
  --font-size-16: 16px;
  --font-size-18: 18px;
  --font-size-20: 20px;
  --font-size-24: 24px;
  --font-size-32: 32px;
  --font-size-56: 56px;
  --font-size-80: 80px;
  --font-weight-600: 600;
  --font-weight-700: 700;
  --font-weight-400: 400;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 18px;
}

.outer-container {
  display: flex;
  flex-direction: column;

  overflow: hidden;
}

ul {
  list-style-type: none;
}

a {
  display: flex;
  text-decoration: none;
  cursor: default;
}

/* @media (min-width: 575px) {
  .intro-container {
  
   
    padding-bottom: 15px;
  }

  .intro-header-box {
    grid-area: title;
  }

  .profile-img {
    grid-area: profile-image;
  }

  .intro-title {
    font-size: 52px;
  }

  .name-title {
    font-size: 24px;
  }

  .arrow-box {
    grid-area: arrow;
    justify-self: center;
    align-self: center;
    margin-top: 150px;
  }
}

@media (min-width: 750px) {
  .intro-container {
    grid-template-columns: 0.5fr 3fr;
  }
}

@media (min-width: 1280px) {
  .intro-container {
    padding: 331px 161px 55px 161px;
  }

  .arrow-box {
    margin-top: 250px;
    margin-bottom: 0;
  }
}

@media (min-width: 1500px) {
  .intro-container {
    padding: 331px 234px;
  }
  .intro-title {
    font-size: 80px;
  }
} */
