.projects-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--seafoam);
    padding-top: 20px;
    padding-bottom: 30px; 
}

.projects {
    display: grid;
    grid-template-columns: 1fr;
    margin-left: auto;
    margin-right: auto;
    gap: 30px;
    color: var(--maroon);
}

#screenshot {
    border: solid;
    border-width: 0px 00px 20px 20px;
    border-color: var(--wine);
    margin-left: 30px;
    margin-right: 30px;
}

.tools {
    display: flex;
    flex-direction: row;
}

.tool {
    background-color: var(--olive);
    padding: 5px 10px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 8px;
    color: white;
}

button {
    background-color: var(--seafoam);
}

