.featureProjects {
  background-color: #ffefe8;
}

.featureProjectsTitle {
  text-align: center;
  color: #5f5d9c;
  font-family: Montserrat;
  margin-top: 0;
  padding: 100px 0 50px 0;
}

.project {
  padding: 15px 15px 50px 15px;
  display: grid;
  grid-template-columns: 1fr;
}

.project h2 {
  margin-bottom: 0;
}

/*** ***/
@media (min-width: 400px) {
  .project {
    padding: 0 30px 50px 30px;
  }
}

@media (min-width: 600px) {
  .project {
    padding: 0 70px 50px 70px;
  }
}

/*** Tablet ***/

@media (min-width: 745px) {
  .featureProjects {
    padding-bottom: 100px;
  }
  .featureProjectsTitle {
    text-align: left;
    margin-left: 30px;
  }

  .project {
    padding: 0 30px 50px 30px;
    grid-template-columns: repeat(3, 1fr);
  }

  .projectContainer {
    margin-left: 30px;
    grid-column: 2 / 4;
  }
}

/*** Desktop ***/

@media (min-width: 1024px) {
  .featureProjectsTitle {
    padding: 150px 0 100px 100px;
  }
  .project {
    margin: 0 100px 100px 100px;
  }
}

/*** Desktop L ***/

@media (min-width: 1500px) {
  .featureProjectsTitle {
    margin-left: 200px;
  }
  .project {
    margin: 0 200px 100px 200px;
  }
}
