.featureProjectsTitle {
  text-align: center;
  color: #0a25f5;
  font-family: Montserrat;
  margin: 80px 0 50px 0;
}

.project {
  margin: 0 15px 40px 15px;
  display: flex;
  flex-direction: column;
  font-family: Montserrat;
}

.project h2 {
  margin-bottom: 0;
}

.projectImage {
  display: block;
  margin: 0 auto;
}
