.featureProjects {
  background-color: #ffefe8;
  padding: 128px 16px;
}

.featureProjectsTitle {
  text-align: center;
  color: #5f5d9c;
  margin: 0;
  padding-bottom: 64px;
  font-size: 56px;
  font-weight: 700;
  line-height: 66px;
}

.project {
  display: grid;
  grid-template-columns: 1fr;
  margin-bottom: 64px;
}

.projectTitle {
  margin: 24px 0 16px 0;
  font-weight: 600;
}

.projectDescription {
  font-family: hind;
  font-size: 18px;
  margin-bottom: 16px;
}

/*** Tablet ***/

@media (min-width: 745px) {
  .featureProjects {
    padding: 128px 32px;
  }

  .featureProjectsTitle {
    text-align: left;
  }

  .projectContainer {
    height: 305px;
    margin-left: 30px;
    grid-column: 2 / 4;
  }

  .projectTitle {
    margin: 0;
  }

  .projectDescription {
    margin: 16px 0 16px 0;
  }
}

/*** Desktop ***/

@media (min-width: 1024px) {
  .featureProjects {
    padding: 128px 161px;
  }

  .featureProjectsTitle {
    font-size: 80px;
    line-height: normal;
    padding-bottom: 128px;
  }
}

/*** Desktop L ***/

@media (min-width: 1500px) {
  .featureProjects {
    padding: 128px 234px;
  }
}
