.projectImage {
  width: 97%;
  height: 300px;
  object-fit: cover;
  border-bottom: 10px solid #6196a6;
  border-left: 5px solid #6196a6;
}

/*** Tablet ***/

@media (min-width: 745px) {
  .projectImage {
    height: 350px;
    width: 100%;
  }
}
