.projectButtons {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
}

.netlifyButton {
  display: inline-block;
  margin: 0 0 16px 0;
}

/*** Tablet ***/
@media (min-width: 745px) {
  .projectButtons {
    flex-direction: row;
    margin-top: 16px;
  }

  .netlifyButton {
    margin-right: 32px;
  }
}
