.projectButtons {
  margin-top: 30px;
}

.netlifyButton {
  display: inline-block;
  margin: 0 15px 10px 10px;
}

.gitHubButton {
  margin-left: 10px;
}

/*** Tablet ***/

@media (min-width: 745px) {
  .netlifyButton {
    margin-right: 0;
  }
}
