.image-wrapper {
  height: 200px;
  width: 100%;
  align-self: stretch;
  border-bottom: 10px solid #0b24f5;
  border-left: 10px solid #0b24f5;
  overflow: hidden;
}

.project-image {
  width: 343px;
  height: auto;
  max-width: 100%;
}
