/* .image-wrapper {
  width: 343px;
  height: 200px;
} */

.image-wrapper {
  height: 200px;
  align-self: stretch;
  border-bottom: 10px solid #0b24f5;
  border-left: 10px solid #0b24f5;
  background: url(<path-to-image>) lightgray 50% / cover no-repeat;
}

.project-image {
  width: 343px;
  height: 200px;
}
