/* src/components/ProfilePicture.css */

.profile-picture {
  width: 164px; /* Set a fixed width */
  height: 164px; /* Set a fixed height */
  border-radius: 50%; /* Make it circular */
  overflow: hidden; /* Hide any overflowing content */
  margin: auto; /* Center the image */
  background: lightgray 50% / cover no-repeat; /* Is this in case the image doesnt load? */
}

.profile-image {
  width: 100%; /* Make the image fill the container */
  height: 100%; /* Make the image fill the container */
  object-fit: cover; /* Ensure the image covers the container */
}

/* src/App.css */
@media (max-width: 375px) {
  .profile-picture {
    display: none;
  }
}
