.profile-picture {
  width: 164px;
  height: 164px;
  border-radius: 50%;
  overflow: hidden; /* Hide any overflowing content */
  margin: auto; /* Center the image */
  background: lightgray 50% / cover no-repeat;
}

.profile-image {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensure the image covers the container */
}
