.featured-projects-container {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  padding: 4rem 0;
}

.featured-projects-container h2 {
  text-align: center;
}

.project-container {
  display: flex;
  flex-direction: row;
  gap: 4rem;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  /* Snap card when scrolling */
}

.project-container::-webkit-scrollbar {
  height: 5px;
  /* display: none; if I want to remove the scrollbar*/
}

.project-container::-webkit-scrollbar-thumb {
  /* background-color: rgba(253, 111, 0, 0.3); if I want it to be orange instead*/
  background-color: rgb(32, 32, 32, 0.3);
  border-radius: 2px;
}

/* For mobile phones and tablets*/
@media (max-width: 1024px) {
  .project-container {
    padding-left: 1.5rem;
  }
}