.featured-projects-container {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  text-align: center;
  padding: 4rem 0;
}

.project-container {
  display: flex;
  flex-direction: row;
  gap: 4rem;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  /* Snappar till varje kort när du scrollar */
}