@use "../../../styles/variables.scss" as *;

.blog_section {
  background-color: $color-secondary-light;
  padding-top: 128px;
  padding-bottom: 128px;
  position: relative;
  z-index: -1;
}

.blog_inner {
  margin: 0 auto;
  display: grid;
  gap: 64px;
  width: 343px;

  @media (min-width: 744px) {
    width: 680px;
  }
  @media (min-width: 1260px) {
    width: 1018px;
    gap: 128px;
  }
  @media (min-width: 1512px) {
    width: 1226px;
  }
}

.wave_box {
  background-image: url("/images/line.png");
  transform: translateY(5px);
  height: 11px;
  width: 100%;
  content: "";
  z-index: 1000;
}

.blogs_wrapper {
  display: grid;
  gap: 64px;

  @media (min-width: 1260px) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.post {
  &_card {
    min-width: 343px;
    max-width: 343px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    align-self: stretch;

    @media (min-width: 744px) {
      max-width: 680px;
      gap: 32px;
    }

    @media (min-width: 1260px) {
      max-width: 460px;
      gap: 32px;
    }
    @media (min-width: 1512px) {
      max-width: 564px;
      gap: 32px;
    }
  }

  &_text {
    color: #000;
    font-family: Hind;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}
