.my-words-container {
  padding: 128px 16px;
  background: #ffecea;
  display: flex;
  justify-content: center;
}

.my-words-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 64px;
}

@media (min-width: 744px) and (max-width: 880px) {
  .my-words-container {
    padding: 128px 32px;
  }
}

@media (min-width: 880px) and (max-width: 1280px) {
  .my-words-container {
    padding: 128px 64px;
  }
}

@media (min-width: 1280px) and (max-width: 1512px) {
  .my-words-container {
    padding: 128px 131px;
  }

  .my-words-wrapper {
    gap: 128px;
  }
}

@media (min-width: 1512px) {
  .my-words-container {
    padding: 128px 143px;
  }

  .my-words-wrapper {
    gap: 128px;
  }
}
