.contact-container {
  padding: 128px 32px 128px 33px;
}

.contact-wrapper {
  max-width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 64px;
}

.footer-heading {
  color: var(--primary);
}

.contact-info {
  text-align: center;
}

.contact-info a {
  color: var(--text);
  text-decoration: none;
}

.contact-info a:hover {
  color: var(--primary);
}

.contact-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

.contact-icons .icons {
  transition: opacity 0.2s ease-in-out;
}

.contact-icons .icons:hover {
  filter: invert(100%) brightness(100%);
}
