/* body {
    display: flex;
    width: 375px;
    padding: 64px 16px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
} */



/* header { */
/* margin: 64px 16px 32px 16px;
    display: flex;
    flex-direction: column;
    /* gap: 32px; */
/* background: #FFF;
    width: 375px;
    height: 720px;
    padding: 64px, 16px, 64px, 16px;
    background: #FFF; */

/* } */


/* section { */
/* margin: 64px 16px 32px 16px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    background: #FFF; */
/* width: Fixed (343px);
    height: Hug (592px);
    top: 64px;
    left: 16px;
    gap: 32px;
} */

/* header h1,
header h3 {
    line-height: normal;
} */

/* .main-title {
    width: 343px;
    height: 39px;
    font-family: Montserrat;
    font-size: 32px;
    font-weight: 700;
    line-height: 39px;
    letter-spacing: 0em;
    text-align: left;
    color: blue;

}

.circle-image {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 164px;
    background: url("https://static.wixstatic.com/media/1346f5_f16c48c1a1c94989a3e420b44159c0c8~mv2.jpg/v1/fill/w_664,h_810,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/evelyn_polaroid_2500_webb.jpg"), lightgray 50% / cover no-repeat;
}

.normal-text {
    color: #000;
    font-family: Hind;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 343px;
    height: 203px;
    align-self: stretch;

}

/* TABLET */
/* @media (max-width: 1279px) and (min-width: 744px) {}

@media (min-width: 1280px) {} */