body {
background-color: white;
font-family: "Montserrat", "Roboto";
}


/* HEADER */

/* HEADER COVER */

.hero-image { 
    width: 100 vw;
    height: 65vh;
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  } 
  
  .hero-image video {
    width: 100%;
    height: 65vh;
    object-fit: cover;
    position: relative; 
  }

  /* PROFILE IMAGE AND SOCIAL MEDIA ICONS */

.profile-image {
    width: 150px; 
    right: 10%; 
    bottom: -10%;
    border-radius: 50%;
    border: 2px solid white;
    position: absolute;
}

.icon1 {
    width: 3em;
    right: 50px; 
    display: column;
    top: 7%;
    position: absolute;
}

.icon2 {
    width: 3em;
    right: 105px; 
    display: column;
    top: 7%;
    position: absolute;
}

.icon3 {
    width: 3em;
    right: 160px; 
    display: column;
    top: 7%;
    position: absolute;
}

 /* TEXT */

.hero-text {
    font-family: "Roboto";
    position: absolute;
    color: white;
    top: 25%;
    left: 10%;
    width: 80%; 
}

 /* TEXT SIZE / DIFFERENT HEADINGS  */

.main-heading {
    font-family: "Montserrat";
    font-size: 42px;
    font-weight: bolder;
    padding: 5px;
}

.second-heading {
        font-family: "Montserrat";
        font-size: 30px;
}

.container-heading {
    display: flex;
    font-weight: bolder;
    background-color:  #c85c3b;
    text-align: center;
    color: #fff;
    padding: 10px;
    font-size: 16px;
    margin: 25px 0 0 0;  
   }

   .small-heading {
    text-align: center;
    padding: 7px;
    border-radius: 5px;
    font-size: 22px;
    margin: 20px 0 0 0; 
    color: #ba4622;
    font-weight: bold;
}

p {
    padding: 0 0 10px 0; 
}

b {
    font-weight: bolder;
}

a { 
text-decoration: none;  
}
 /* 1ST CONTAINER: PRESENTATION */

.presentation-container {
    background-color: #f6f5f0;
    width: 100 vw;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;   
}

.arrow {
    width: 3em
}
.presentation-text {
    line-height: 30px; 
    font-size: 16px;
    text-align: center;
    margin: 45px 10px 20px 10px;
}

 /* 2ND CONTAINER: TECH-SKILLS */

.tech-container {
    height: auto;
    width: 100 vw;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}

   .tech-text {
    display: flex;
      line-height: 30px; 
    font-size: 16px;
    text-align: center;
    margin: 10px 10px 20px 10px;
}

 /* 3RD CONTAINER: PROJECTS */

.projects-container {
    width: 100 vw;
    height: auto;
    background-color: #f6f5f0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.grid-projects {
    height: auto; 
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project {
    margin: 10px; 
    width: 300px; 
    height: auto;
}


 /* 3RD CONTAINER: PROJECTS - IMAGE AND IMAGE-TEXT */

.project-image {
    position: relative;
    background-position: center;
    background-size: cover;
   height: auto;
   margin: 20px 0 0 0;
}

.image {
   width: 300px;
   height: 300px;
   border-radius: 8px;
   text-align: center;
}

.title {
font-family: "Roboto";
font-weight: bold;
font-size: 15px;
text-align: center;
position: absolute;
 top: 55%;
left: 50%;
color: white;
padding: 15px;
background:  #c4b991;
transform: translate(-50%, -50%);
}


.project:hover {
    transform: scale(1.1);
    transition: transform 0.5s;
}


/* 3RD CONTAINER: PROJECTS - DESCRIPTION */

.describing-title {
    font-weight: bold;
    font-family: "Montserrat";
    color: #ba4622;
    line-height: 20px; 
    margin: 10px 0 0 10px; 
}
    
.describing-text {
    line-height: 25px;  
    color: black;
    font-family: "Montserrat";
}
    
    
.describing-text b {
    color:#ba4622;
 }
    
.describing p {
        display: block;
}

/* 3RD CONTAINER: PROJECTS -  CARD & BUTTON */

 .code-card {
    margin: 10px 0px 20px 10px; 
}

span {
    font-size: 12px;
    line-height: 11px;
    letter-spacing: 0.01em;
    color: #fff;
    background:#ba4622;
    padding: 5px;
    border-radius: 5px;
}

button {
    border:#ba4622; /* need this to remove border from button*/
    background:  #c4b991;
    color: white;
    align-items: center;
    padding: 9px;
    border-radius: 5px;
    margin: 0px 0px 20px 10px; 
}
.button-text {
    color: rgb(255, 255, 255);
    padding: 0px;
    }
  
  button:hover {
    /* border: 1px solid grey; */
    background:  #ba4622;
    color: white;
}

 /* 4TH CONTAINER: OTHER PROJECTS */


.other-projects-container {
    display: flex;
    flex-direction: column;
    align-items: center;
 
    background-color: #f6f5f0;
    padding: 0 0 25px 0; 
}

.other-projects-container  .project{
    width: 100%;
    text-align: center;
}

a{ 
    color: black;
}

/* 5th  CONTAINER: THOOUGHTS */

.thoughts-container {
    background-color: white;
    width: 100 vw;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* 6TH CONTAINER: SKILLS */

.skills-container {
    background-color: #f6f5f0;
    width: 100 vw;
    width: 100 vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;  
}

.skills {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
     align-items: center;
    margin:0px 15px 30px 15px; 
    gap: 5px; 
}

.skills .describing-title {
margin: 0px;
}

/* 7TH CONTAINER: FOR MORE / MEDIA */

.more-container {
    background-color: rgb(132, 172, 180);
    width: 100 vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}

.socialmedia-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
   text-align: center;
    margin:25px 0px 0px 0px;  
}

.social-media {
    display: flex;
    flex-direction: column;
    align-items: center;
}

 .social-media a {
    text-align: center;
    font-size: 15px;
    margin: 10px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;   
}

.social-media button {
    align-items: center;
    background-color: transparent;
}

.social-media button:hover p {
    color: white;
    transform: scale(1.1);
    transition: transform 0.5s;
}

.icon {
    margin: 7px; 
    width: 4em;
    right: 10%; /* 채ndra till 15% i desktop */
    top: 7%;
}

/* FOOTER: CONTACT */

.contact .small-heading {
    color: white;
}

.contact-container {
background-color: rgb(132, 172, 180);;
text-align: center;
flex-direction: column;
align-items: center;
color: white;
width: 100 vw;
height: auto;
margin: -30px 0 0 0; 
}

/* MEDIA < 668 PX */

@media (min-width: 668px) {

/* CONTAINER: PROJECTS */

.grid-projects {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px; 
    align-items: center;
    height: auto;
}


.other-projects-container .project {
    width: auto;
    margin: 0px; 
    transform: none;
}

/* CONTAINER:THOUGHTS */

.thoughts-container {
    padding: 30px; 
}

/* CONTAINER: SKILLS */

.skills {
display: grid;
grid-template-columns: repeat(2, 1fr);
}

}

/* CONTAINER: FOR MORE */

.social-media p {
    margin: -10px;
}
.social-media p {
    margin: 0px;
}

/* TABLET */

@media (min-width: 668px) and (max-width: 1024px) {

/* HEADER */

.hero-image {
    height: 50vh;
}

.hero-image video {
        height: 50vh;
 }

.profile-image {
     width: 175px;  
    right: 10%; 
}    

.icons {
    right: 10%; /* 채ndra till 15% i desktop */
    top: 15%; 
    width: 12em;
}
        
.hero-text {
    top: 30%; /* 채ndra till 30% i desktop */
    width: 50%;  /* 채ndra till 40% i desktop */
    left: 15%;
}

.hero-text p {
    font-size: 25px;
 }

 .hero-text .second-heading {
    font-size: 30px;
 }

/* TEXT SIZE / DIFFERENT HEADINGS  */
        
.main-heading {
font-size: 55px;   
 }
  

/* CONTAINER: PRESENTATION  */
        
.presentation-text {
width: 75%; 
margin: 75px; 
font-size: 20px;
}

/* CONTAINER: TECH */
.tech-text {
    font-size: 20px;
    width: 65%; 
    margin: 20px 0px 50px 0px; 
}


/* CONTAINER: PROJECTS */

.project {
    width: 280px; 
}
    
.project-image {
        height: 100%; 
}

.image {
        width: 280px;
        height: 280px;
        margin:0; 
}

.title {
font-size: 15px;
padding: 20px;
    }

.describing-text {
    font-size: 15px;
}
}

/* DESKTOP */

@media (min-width: 1024px) {

/* HEADER */

.hero-image {
    height: 65vh;
}

.profile-image {
    width: auto;
    right: 15%;
}    

.icons {
    right: 15%; 
    top: 15%; 
    width: 10em;
}
            
.hero-text {
    top: 30%; 
    width: 40%;  
    left: 20%;
}
.hero-text .second-heading {
    font-size: 40px;
 }

 .hero-text p {
    font-size: 25px;
 }

/* TEXT SIZE AND HEADINGS */

.main-heading {
    font-size: 66px;   
}

/* CONTAINER: PRESENTATION */

.presentation-text {
    width: 50%; 
    margin: 50px; 
}

.presentation-text {  
    font-size: 20px;
} 

/* CONTAINER: TECH */

.tech-text {
    font-size: 20px;
    width: 50%; 
    margin: 20px 0px 50px 0px; 
 }
   
/* CONTAINER: PROJECTS */

.project {
    width: 300px; 

}

.image {
    width: 300px;
    height: 300px;
 }

.describing-title {
    padding: 0px; 
    width: 100%;
    flex-direction: row;
}

span, button {
    font-size: 12px;
}

 /* CONTAINER: THOUGTS (NOT USING YET) */

.thougts-grid {
    flex-direction: row;
 } 


.thougts-grid .describing {
    width: 200px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 20px 0 0;
    margin-bottom: 20px;  
 }

 .primary-thought 
 
 {
    width: 70%; 
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
 }

.span, .button, .describing-text, .skills-container, .contact-container {
    font-size: 16px;
    padding: 10px; 
}
}