body {
    margin: 0;
    font-family: 'Roboto', sans-serif; 
}

.skip { 
    position: absolute; 
    top: -1000px; 
    left: -1000px; 
    height: 1px; 
    width: 1px; 
    text-align: left; 
    overflow: hidden; 
} 

    a.skip:active, 
    a.skip:focus, 
    a.skip:hover { 
    left: 0; 
    top: 0; 
    width: auto; 
    height: auto; 
    overflow: visible; 
}


/* ///// HEADINGS /////////////////////////////////////// */

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    font-weight: 700;
    color: #ffffff;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 21px;
    line-height: 25px;
    font-weight: 700;
    color: #005E5E;
    text-transform: uppercase;

}

h3 {
    font-family: Roboto;
    font-weight: bold;
    font-size: 17px;
    line-height: 29px;
    color: #005E5E;
    text-transform: uppercase;
}

h4 {
    font-family: Roboto;
    font-weight: bold;
    font-size: 17px;
    line-height: 29px;
    text-transform: uppercase;
    color: #005E5E;

}

/* ///// HEADER /////////////////////////////////////// */

.hero {
    background-image: url(./images/smoke.jpg);
    height: 520px;
    background-position: 15%;
    position: relative;
    background-size: cover;
  }


.top-nav {
    position: absolute;
    width: 130px;
    height: 40px;
    top: 8%;
    right: 6%;

}

.top-nav img {
    width: 30%;


}
.hero-header-container {
    position: absolute;
    width: 220px;
    height: 202px;
    left: 5%;
    top: 30%;
    padding: 5% 0;
}

.header-uppercase {
    text-transform: uppercase;
    font-size: 13px;
    line-height: 18px;
    color: #ffffff;
    margin: 0;
}

.header-big {
    font-family: Montserrat;
    font-weight: bold;
    font-size: 40px;
    color: #ffffff;
    line-height: 49px;
    margin: 0;
}

.header-smaller {
    font-family: Montserrat;
    font-weight: bold;
    font-size: 24px;
    line-height: 40px;
    color: #ffffff;
    margin: 0;
}

.profile-picture {
    border-radius: 50%;
    border: 2px solid whitesmoke;
    width: 180px;
    height: 180px;
    overflow: hidden;
    position: absolute;
    right: 10%;
    bottom: -3%;
}


/* //// PRESENTATION /////////////////////////////////////// */
.presentation-textbox{
    font-family: Montserrat;
    font-size: 17px;
    line-height: 29px;
}

.line {
    border: 1px solid #005E5E;
    width: 40px;
    display: inline-block;
    margin-bottom: 4px;
}

.dot {
    height: 10px;
    width: 10px;
    background-color: #005E5E;
    border-radius: 50%;
    display: inline-block;
    margin-left: -5px;
    margin-right: 5px;
}


/* ///// TECH /////////////////////////////////////////// */
.tech-textbox {
    font-family: Montserrat;
    font-size: 17px;
    line-height: 29px;
    text-align: center;
}

/* ///// PORTFOLIO SECTION GENERAL /////////////////////////////////////// */
.portfolio-section:nth-child(2n-1) {
    background-color: #f4f4f4;
}

.container {
    width: 325px;
    margin: 0 auto;
    padding-top: 5%;
    padding-bottom: 5%;
}

.portfolio-header-container {
    display: flex; 
    justify-content: center;
}

.portfolio-header {
    background-color: #005E5E;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    padding: 3px;
}


/* ///// PROJECTS  /////////////////////////////////////// */
.image-container {
    position:relative;
    height: 212px;
}

.image {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.project-image-overlay {
    position: absolute; 
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
  
  /* This is a semi-transparent overlay on the image */
    background-color: rgba(0, 0, 0, 0.3);

  /* This will cause the overlay to fade */
    transition: 0.5s ease;
}

.project-image:hover {
    /* This causes the text to fade, color is the text color */
    color: transparent;
}
  
.project-image-overlay:hover {
    /* This causes the original background color (.5 opacity) to become transparent */
    background-color: transparent;
}

.portfolio-header-smaller {
    text-align: center;
}

.project-textbox,
.other-projects-textbox {
    margin-top: 5%;
    margin-bottom: 10%;
}

.project-textbox h3,
.other-projects-textbox h3 {
    margin: 1%;
}

.project-textbox p,
.project-gridbox-desktop p,
.other-projects-textbox p {
    margin: 1%;
    font-size: 17px;
    line-height: 29px;
    color: #000;
}

.project-gridbox-desktop {
    display: none;
 
}
 
 .project-gridbox a,
 .project-gridbox-desktop a {
     text-decoration: none;
}

.desktop-only{
    display: none;
}


/* //// TAGS /////////////////////////////////////// */
.tags-wrap {
  display: flex;
}

.tags-wrap span {
  font-family: "Roboto", sans-serif;
  color: #000;
  background-color: #EBC3E0;
  text-decoration: none;

  /* Matching line-height and font-size here gives full control 
     over the size of our tags to the padding*/
  font-size: 9px; 
  line-height: 11px;

  /* Control the size of the tags */
  padding: 4px;

  /* Control the spacing of our tags */
  margin: 3px;

  /* Some rounded borders */
  border-radius: 5px;
}


/* ///// MY THOUGHTS /////////////////////////////////////// */
.date {
    font-family: Roboto;
    font-size: 17px;
    line-height: 30px;
    text-transform: uppercase;
    margin-bottom: 0;
    color: #005E5E;
    text-decoration: none;

}

.my-thoughts-textbox {
    margin-top: 25px;
}

.my-thoughts-textbox p {
    font-size: 17px;
    line-height: 32px;
    margin: 0;
}


.my-thoughts-textbox a{
    font-family: Roboto;
    font-size: 17px;
    line-height: 32px;
    margin-bottom: 0;
    color: #005E5E;
    text-decoration: none;
}

.my-thoughts-textbox h4 {
    font-size: 21px;
    line-height: 30px;
    color: #000;
    margin: 0;
    text-transform: none;
}

.more-thoughts {
    margin: 25px 0;
}

.more-thoughts a {
    font-family: Roboto;
    font-size: 17px;
    line-height: 29px;
    color: #005E5E;
}

.more-thoughts a:hover {
    color: #EBC3E0;
}

.more-thoughts a:visited {
    color: #005E5E;
}

.more-thoughts-black {
    font-weight: bold;
    color: #000000;
}


/* ///// SKILLS /////////////////////////////////////// */
.skills-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 10px;
    font-weight: normal;
    font-size: 17px;
    line-height: 29px;
}
  
.skills-list {
    color: black;
    list-style-type: none;
    text-align: center;
    padding: 0;
}

.skills-list-desktop {
    display: none;
}


/* ///// FOR MORE //////////////////////////////////////// */
.for-more-socials {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 5%;
  }
  .for-more-socials img {
    filter: invert(29%) sepia(11%) saturate(6119%) hue-rotate(143deg) brightness(30%) contrast(101%);
    margin-bottom: 5px;
  }
  
.for-more-socials a {
    color: #005E5E;
    font-size: 11px;
    line-height: 13px;
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
  }

.for-more-socials a:hover {
    color: #EBC3E0;
}

/* ///// FOOTER /////////////////////////////////////// */
footer {
    height: 300px;
    width: 100%;
    background-color: #DAEBEB;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .footer-container h2 {
    font-family: Montserrat;
    font-style: normal;
    color: #000;
    margin-top: 0;
    margin-bottom: 40px;
    font-size: 21px;
    line-height: 25px;
    text-transform: uppercase;
    text-align: center;
  }
  
  .footer-container a,
  .footer-container p {
    font-family: Montserrat;
    font-size: 17px;
    line-height: 25px;
    color: #000;
    margin: 0;
    text-align: center;
    text-decoration: none;
  }


/* Responsiveness TABLET /////////////////////////////////////// */
@media (min-width: 768px) {
    .container {
        width: 600px;
        margin: 0 auto;    
}

/* ///// header ///// */
.top-nav {
    right: 13%;
}

.hero-header-container { 
    width: 550px;
    height: 300px;
    left: 13%;
}

.header-uppercase {
    font-size: 20px;
    line-height: 30px;
}

.header-big {
    font-size: 70px;
    line-height: 90px;
}

.header-smaller {
    font-size: 40px;
    line-height: 70px;
}

}

/* Responsiveness SCREEN /////////////////////////////////////// */
@media (min-width: 1100px){

/* ///// HEADINGS ///// */
h1 {
    font-size: 48px;
    line-height: 59px;
}
h1 .desktop-only{
    display: contents;
}

h2 {
    font-size: 38px;
    line-height: 47px;
    
}
h3 {
    font-size: 25px;
    line-height: 41px;
}

h4 {
    font-size: 25px;
    line-height: 41px;
}

/* ///// general ///// */
.container {
    width: 1100px;
    margin: 0 auto;
}

/* ///// header ///// */
.top-nav {
    position: absolute;
    width: 260px;
    height: 80px;
    top: 8%;
    right: 20%;
}

.top-nav img {
    margin: 1%;  
}

.hero {
    height: 690px;
    background-size: cover;   
}
    
.hero-header-container { 
    width: 607px;
    height: 339px;
    left: 15%;
    top: 20%;
}

.header-uppercase {
    font-size: 28px;
    line-height: 37px;
}

.header-big {
    font-size: 82px;
    line-height: 100px;
}

.header-smaller {
    font-size: 50px;
    line-height: 78px;
}

.profile-picture {
    width: 333px;
    height: 333px;
    right: 20%;
    bottom: -5%;
    filter: grayscale(30%);
}

/* ///// presentation ///// */
.presentation-textbox {
    font-size: 30px;
    line-height: 50px;
}

/* ///// tech ///// */
.tech-textbox {
    font-size: 30px;
    line-height: 50px;
}

.tech-textbox span{
    color: #005E5E;
}

/* ///// projects ///// */
.project-grid-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5%;
    justify-content: center;
}

.project-gridbox {
    grid-column: span 1;
}

.project-gridbox-desktop {
    display: grid;
    grid-column: span 1;
}

.project-textbox p,
.other-projects-textbox p {
    font-size: 25px;
    line-height: 41px;
}

.image-container {
    position:relative;
    width: 525px;
    height: 305px;
}

.tags-wrap span {
    font-size: 16px; 
    line-height: 21px;
  }

/* ///// thoughts ///// */
.date {
    font-size: 25px;
    line-height: 41px;
    color: #005E5E;
}

.my-thoughts-textbox p {
    font-size: 25px;
    line-height: 41px;
}

.my-thoughts-textbox a{
    font-size: 25px;
    line-height: 41px;
}

.my-thoughts-textbox h4 {
    font-size: 25px;
    line-height: 41px; 
}

.more-thoughts {
    margin: 25px 0;
}

.more-thoughts a {
    font-style: bold;
    font-size: 25px;
    line-height: 33px;
    color: #005E5E;
}

.more-thoughts a:hover {
    color: #EBC3E0;
}

.more-thoughts a:visited {
    color: #005E5E;
}

.more-thoughts-black {
    font-weight: bold;
    color: #000000;
}

/* ///// skills ///// */
.skills-container {
    font-size: 25px;
    line-height: 41px;
}

.skills-list-desktop {
    display: block;
    color: black;
    list-style-type: none;
    text-align: center;
    padding: 0;
}

/* ///// for more ///// */
.for-more-socials img {
    margin-bottom: 10px;
}

.for-more-socials a {
    font-size: 25px;
}

/* ///// footer ///// */
footer {
    height: 500px;
}


.footer-container h2 {
    font-size: 38px;
    line-height: 47px
}
  
.footer-container a,
.footer-container p {
    font-size: 30px;
    line-height: 50px;

}

}


