body{
    background-color: white;
    margin: 0;
}

/* HEADLINES & PARAGRAPH */
h1{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 50px;
    line-height: 50px;
    margin: 5px 0;
}

h2{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    font-size: 25px;
    color: white;
    margin-top: 80px; 
}

h2 span{
    background-color: #E8415E;
    padding: 2px 10px;
}

h3{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    font-size: 20px;
    color: #E8415E;
    padding-top: 20px;
}

p{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    text-align: center;
    font-size: 15px;
    line-height: 25px;
    margin: 0 auto;
    padding: 25px 50px 80px 50px;
    max-width: 600px;
}

/* HEADER */
header{
    position: relative;
    background-image: url('./images/header-image.jpg');
    background-position: bottom center;
    background-size: 100% auto;
    height: 400px;
    text-align: left;
}

.headings{
    position: absolute;
    bottom: 80px;
    margin-left: 200px;
    color: white;
}

    .headingName{
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        text-transform: uppercase;
        font-size: 18px;
        line-height: 30px;
    }

    .headingTitle2{
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        font-size: 20px;
        line-height: 30px;
    }

    .soMeIcons{
        position: absolute;
        right: 10%;
        top: 48px;
    }

        .soMeIcons img {
            width: 60px;
            height: 60px;
        }

.profileImage{
    position: absolute;
    width: 180px;
    height: 180px;
    right: 25%;
    bottom: -7%;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid white;
    float: right;
    margin-top: 80px;
}

/* SUMMARY */
.summary{
    background-color: #F3EFE7;
}

.summary__container{
    padding-top: 50px; 
}

.symbol{
    background-color: #E8415E;
    -webkit-mask: url('../images/line-dot.svg') no-repeat center;
    mask: url('../images/line-dot.svg') no-repeat center;
}

/* TECH */
.tech{
    display: block;
    background-color: white;
    padding: 5px;
}

/* FEATURED PROJECTS */
.featuredProjects {
    background-color: #F3EFE7;
    padding: 5px 0 100px 0;
}

    .project__grid {
        display: grid;
        grid-template-columns: 1fr 1fr; 
        justify-content: center;
        align-content: center;
        gap: 30px;
        margin: 50px 250px;
    }

    .project__card {
        width: 350px;
        margin: auto;
    }

    .project__grid a {
        text-decoration: none;
        color: black;
    }

        .item1, .item2, .item3, .item4{
            width: 350px;
            margin: auto;
        }
        
            .imageContainer{
                position: relative;
            }
            
            .project__image img{
                display: flex;
                width: 350px;
                height: auto;
            }

            .imageContainer .after {
                position: absolute;
                display: flex;
                justify-content: center;
                align-items: center;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: #60183575;
            }

            .imageContainer:hover .after {
                display: block;
                display: none;
                color: #FFF;
            }

            .after{
                color: white;
                font-family: 'Montserrat', sans-serif;
                font-weight: 700;
                font-size: 15px;
                text-transform: uppercase;
                text-align: center;
            }

                .project__title{
                    font-family: 'Roboto', sans-serif;
                    font-weight: 700;
                    text-transform: uppercase;
                    text-align: left;
                    font-size: 15px;
                    color: #E8415E;
                    padding-top: 20px;
                }
                
                .project__description{
                    font-family: 'Roboto', sans-serif;
                    font-weight: 400;
                    text-align: left;
                    font-size: 15px;
                    line-height: 25px;
                    padding: 10px 0;
                }

                .tag-wrapper {
                    display: flex;
                  }
                  
                  .tag-wrapper p {
                    font-family: "Roboto", sans-serif;
                    font-weight: 400;
                    background-color: #f6d0e4;
                    text-decoration: none;
                    font-size: 12px; 
                    line-height: 12px;
                    padding: 3px 10px;
                    margin: 3px 6px 10px 0;
                  }

            .button {
            background-color: #E8415E;
            font-family: "Roboto", sans-serif;
            font-size: 14px;
            border-color: #E8415E;
            padding: 5px 10px;
            border-style: none;
            }

            .button:hover {
            background-color: #a02531;
            }

/* OTHER PROJECTS */
.otherProjects{
    background-color: #F3EFE7;
}

    .otherProjects__container{
        margin: 20px 350px;
        max-width: 600px;
        margin: 0 auto;
        padding: 30px 50px 10px 50px; 
    }

    .otherProjects__link{
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        text-align: left;
        font-size: 15px;
        padding: 30px 0 10px;
    }

    .otherProjects__item a{
        text-decoration: none;
        color: black;
    }
    
    .otherProjects__link span{
        text-decoration: underline;
        color: #E8415E;
        font-weight: 700;
    }

/* MY THOUGHTS */
.myThoughts{
    display: block;
    background-color: white;
    padding: 5px 0 100px 0;
}

.thoughts__grid{
    display: grid;
    grid-template-columns: 1fr 1fr; 
    justify-content: center;
    align-content: center;
    gap: 30px;
    margin: 50px 250px;
}

.thoughts__grid a{
    text-decoration: none;
    color: black;
}

    .thought__item1, .thought__item2{
        width: 350px;
        margin: auto;
    }
    
        .thought__image img{
            width: 350px;
            height: auto;
        }

        .thought__date{
            font-family: 'Roboto', sans-serif;
            font-weight: 400;
            text-transform: uppercase;
            text-align: left;
            font-size: 15px;
            color: #E8415E;
            padding-top: 20px;
        }

        .thought__title{
            font-family: 'Roboto', sans-serif;
            font-weight: 700;
            text-align: left;
            font-size: 20px;
            color: black;
            padding-top: 5px;
        }
        
        .thought__description{
            font-family: 'Roboto', sans-serif;
            font-weight: 400;
            text-align: left;
            font-size: 15px;
            line-height: 25px;
            padding-top: 5px;
        }

/* SKILLS */
.skills{
    background-color: #F3EFE7;
    padding: 5px;
    width: 100%;
}

.row {
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 50px auto;
    max-width: 768px;
}

    .column1, .column2, .column3 {
        flex: 33.33%;
        height: 250px;
        text-align: center;
        min-width: 120px;
    }
 
            .column__headline{
                font-family: 'Roboto', sans-serif;
                font-weight: 700;
                text-transform: uppercase;
                text-align: center;
                font-size: 15px;
                color: #E8415E;
                padding-bottom: 5px;
            }

            .column__skills{
                font-family: 'Roboto', sans-serif;
                font-weight: 400;
                text-align: center;
                font-size: 15px;
                line-height: 25px;
            }

/* FOOTER */
footer{
    display: block;
    background-color: #601835;
    padding: 5px 0 100px 0;
}

.footer__headline{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    font-size: 20px;
    color: white;
    padding-top: 75px;
}

.footer__contactDetails{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    text-align: center;
    font-size: 15px;
    line-height: 25px;
    color: white;
    padding:  40px 0 80px;
    margin: 0;
}


/* MEDIA QUERIES FOR MOBILES */
@media (max-width: 767.98px){

/* HEADER */
header{
    background-position: bottom left;
    background-size: cover;
    height: 500px;
}

.headings{
    position: absolute;
    top: 100px;
    margin-left: 20px;
    color: white;
}

.soMeIcons{
    position: absolute;
    right: 20px;
    top: 20px;
}

    .soMeIcons img {
        width: 40px;
        height: 40px;
    }

.profileImage{
    position: absolute;
    width: 180px;
    height: 180px;
    right: 5%;
    bottom: -7%;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid white;
    float: right;
    margin-top: 80px;
}

/* FEATURED PROJECTS */
    .project__grid{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
        align-content: center;
        gap: 30px;
        margin: 50px 50px 0 50px;
    }

        .item3, .item4{
            display: none;
        }

    /* OTHER PROJECTS */
    .otherProjects__container{
        margin: 20px 350px;
        max-width: 600px;
        margin: 0 auto;
        padding: 0 50px 10px 50px; 
    }

/* MY THOUGHTS */
.myThoughts{
    display: block;
    background-color: white;
    padding: 5px 0 10px 0;
}

.thoughts__grid{
    display: grid;
    grid-template-columns: repeat(1, 1fr); 
    justify-content: center;
    align-content: center;
    gap: 30px;
    margin: 50px 50px;
}
    .thought__item2{
        display: none;
    }

/* SKILLS */
.row {
    flex-wrap: wrap;
    margin: 50px;
}

.column1, .column2, .column3{
    height: 200px;
}

}