body {
  margin: 0;

  padding: 0;
}

.dots {
  margin: 50px auto;
  width: 540px;
  height: 400px;
  border-radius: 10px;
  box-shadow: 10px 0 20px 0 rgba(0, 0, 0, 0.2);
  /* background: #666; */
  background: white;
  position: relative;
}
.dot {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background: white;
  /* border: 1px solid #eee; */
  position: absolute;
}

.dot.pink {
  background: rosybrown;
  box-shadow: 5px 1px 4px 0 rgb(0 0 0 / 58%) inset;
}

.invisible {
  display: none;
}
