body {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}


header {
    height: 500px;
    background: url(https://images.unsplash.com/photo-1444703686981-a3abbc4d4fe3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80);
    background-size: cover;
}

.header-text-group {
    display: flex;
    flex-flow: column wrap;
    position: absolute;
    width: 0%;
    left: 30px;
    top: 200px;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 400;
}

.header-text {
    font-size: 0.8em;
    letter-spacing: 0.04em;
    font-weight: 400;
    color: #FFFF;
}

.bold {
    font-weight: 700;
}

.color {
    color:#66204a;
}

.title {
    font-weight: 700;
    font-size: 3em;
    letter-spacing: 0.04em;
    color: #FFFFFF;
}

.plus-title {
    font-weight: 400;
    font-size: 1.6em;
    letter-spacing: 0.04em;
    color: #FFFFFF;
}

.soMe-header {
    position: absolute;
    right: 14%;
    top: 10%;
    display: flex;
    gap: 5%;
    max-width: 200px;
}

.soMe-bar {
    width: 45px;
    filter: invert(1);
}

.soMe-bar:hover {
    opacity: 0.6
}

.profile-pic {
    position: absolute;
    right: 10px;
    top: 390px;
    height: 150px;
    width: 150px;
    border: 2px solid white;
    border-radius: 50%;
    object-fit: cover;
    filter: brightness(0.8);
}

.start-figure {
    filter: invert(1) sepia(0) saturate(5) hue-rotate(-143deg);
}

.intro-section {
    padding: 5%;
    background: #F4F4F4;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.intro-summary, .tech-summary {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 1.062em;
    line-height: 1.81em;
}

.tech-section, .for-more {
    display: flex;
    flex-direction: column;
    padding: 5%;
    height: 285px;
    text-align: center;
}

.other-projects, .more-thoughts {
    display: flex;
    flex-direction: column;
    padding: 5%;
    width: 90%;
}

.featured-projects, .my-thoughts, .skills  {
    background: #F4F4F4;
    padding: 5%;
    width: 90%;
}

.tech-heading, .featured-heading, .other-heading, .mythoughts-heading, .morethoughts-heading, .skills-heading, .formore-heading, .formore-heading {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 1.2em;
    color: #FFFFFF;
    background-color: #e58532c2;
    line-height: 1.68em;
    align-self: center;
    max-width: fit-content;
    padding: 0 1%;
}

.featured-h-container, .other-h-container, .morethoughts-h-container, .skills-h-container, .formore-h-container, .mythoughts-h-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.featured-projects-container, .other-projects-container,  .mythoughts-container {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
}

.morethoughts-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

a {
    text-decoration: none;
}

a[href^=tel] {
    color: inherit;
    text-decoration:inherit
}

.project-heads, .thoughts-heads {
    font-family: 'Roboto';
    line-height: 0.8em;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0.01em;
    color: #66204a;
    font-size: 1.1em;
}

.project-info, .thoughts-info {
    font-family: 'Roboto';
    line-height: 1.81em;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.01em;
    color: black;
    font-size: 1.1em;
}

.project-info:hover, .more-thoughts-card:hover, .thoughts-card:hover, .thoughts-info:hover {
    text-decoration: underline;
}

.project-card {
    width: 100%;
}

.tag-container {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 0;
}

.tag {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 1em;
    letter-spacing: 0.01em;
    color: #FFFFFF;
    background-color: #66204a;
    border-radius: 3px;
    padding: 1%;
    margin: 1%;
}

.overlay {
    position: relative;
}

.overlay-image {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    transition: 0.3s ease;
}

.thoughts-img {
    width: 100%;
    height: 100%;
}

.overlay-text {
    color: #FFFFFF;
    font-family: Montserrat;
    font-weight: 700;
    font-size: 1.2em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}   

.project-img {
    width: 100%;
    height: 60vw;
    object-fit: cover;
}

.overlay:hover {
    color: transparent;
}
  
.overlay-image:hover { 
    background-color: transparent;
}

.arrows {
    color:#66204a;
    font-weight: 700;
}

.hidden {
    display: none;
}

.date {
    font-family: Roboto;
    font-size: 1.2em;
    font-weight: 700;
    line-height: 1.2em;
    color: black;
}

.skills-group {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    font-family: 'Roboto';
    font-style: normal;
    line-height: 0.9em;
}

.skill {
    line-height: 1.1em;
}

.soMe-more {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2%;
}

.soMe-container {
    display: flex;
    flex-direction: column;
    width: 30%;
}

.soMe {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 1.2em;
    color: black;
}

.soMe-icons {
    width: 100px;
}


.soMe-icons:hover {
    opacity: 0.6
}

footer {
    background-color:#66204a;
    font-family: 'Montserrat';
    font-style: normal;
    text-align: center;
    padding: 5%;
}

.contact-info {
    font-weight: 700;
    font-size: 1.37em;
    color: #FFFFFF;
}

.contact-details {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contacts {
    font-weight: 400;
    font-size: 1.062em;
    line-height: 0;
    color: #FFFFFF;
    text-decoration: none;
}


    /** Media Queries **/ 

@media (min-width: 768px) and (max-width: 991px) {
 
    
    .soMe-header {
        right: 15%;
        top: 12%;
        gap: 8%;
    }


    .intro-section, .tech-section {
        padding: 20px 50px;
    }

    .intro-summary, .tech-summary {
        font-size: 1em;
        width: 80%;
        align-self: center;
    }

    .header-text-group {
        left: 100px;
    }

    .hidden {
        all: unset
    }

    .featured-projects-container, .other-projects-container, .mythoughts-container {
        align-items: baseline;
        grid-template-columns: 1fr 1fr;
        grid-gap: 2%;
        padding: 20px 50px;
        justify-items: center;
    }

    .overlay-image, .project-img {
        height: 30vw;
    }

    .skills-group {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        padding: 20px 50px;
    }
}

@media (min-width: 992px) {
 
    .header-text-group {
        display: flex;
        position: absolute;
        width: 0%;
        left: 15%;
        top: 100px;
    }

    .profile-pic {
        right: 100px;
    }

    .header-text {
        font-size: 1.4em;
    }

    .soMe-header {
        right: 15%;
        top: 12%;
        gap: 8%;
    }

    .intro-section, .tech-section {
        padding: 20px 50px;
    }

    .intro-summary, .tech-summary {
        font-size: 1em;
        width: 70%;
        align-self: center;
    }

    .hidden {
        all: unset
    }

    .featured-projects-container, .other-projects-container, .mythoughts-container {
        align-items: baseline;
        grid-template-columns: 1fr 1fr;
        grid-gap: 10px;
        padding: 20px 50px;
        justify-items: center;
    }

    .featured-projects, .my-thoughts, .skills {
        background: #F4F4F4;
        padding: 20px 125px;
    }

    .overlay-image, .project-img {
        height: 20vw;
    }  

    .soMe-more {
        padding: 2% 30% 0 30%;
    }
}