@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #222831;
  font-family: 'Montserrat', sans-serif;
}

.header {
  background-image: url("./assets/img/header4.jpg");
  filter: brightness(90%);
/* background:#222831; as default color contrast in the case image is not rendered in a browser */
  width: 100%;
  height: 70vh;
  object-fit: cover;
  color: #f5b825;  
  letter-spacing: 2px; 
  line-height: 200%;
  position: relative;
  display: flex;
  flex-direction: column;
}

.heading {
  line-height: 25px;
  position: absolute;
  top: 35%;
  left: 10%;
  display: flex;  
  flex-direction: column;
}

.profession {
  margin: 0;
  font-size: 40px;
  line-height: 40px;
}

.header .icons {
  margin-top: 40px;
  margin-right: 20%; 
  display: flex; 
  justify-content: flex-end; 
  padding: 5px;
}

.icon-10, .icon-13, .icon-8 {
  margin: 5px;
  width: 40px;
  height: 40px;
}

.caroline-image {
  position: absolute; 
  top: 78%;
  right: 20%;
  height: 150px;
  width: 150px; 
  border-radius: 50%;
  object-fit: cover;
  z-index: 1;
}

.former-job-title {
  padding: 0;
  font-size: 16px;
  font-weight: 800;
}

/* Main container */

.main-container {
  width: 80%;
  padding-left: 10%;
  color: whitesmoke; 
  letter-spacing: 2px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.summary {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 50px 0 20px 0;
}

.summary-text {
  margin: 15px; 
  font-size: 18px;
}

.tech {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center; 
  flex-direction: column;
  background-color: #393E46;
  margin: 20px;
  border-radius: 20px;
}

.header-tech {
  margin-top: 20px;
  display: inline-flex;
  background-color: #393E46; 
  color: #FFD369; 
}

.skills-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 5px;
  margin-bottom: 30px;
}

.skill {
  background-color: #222831; 
  color: whitesmoke;
  margin: 10px;
}

.featured-projects {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.header-featured-projects {
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
}

  .featured-projects-one {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center; 
  flex-direction: column;
} 

.image-container {
  width: 100%; 
  display:flex;
  justify-content: center;
  align-items: center; 
  /* position: relative; */
  overflow: hidden;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-style: none;
}

.featured-projects-two { 
  display: none;
}

p { 
  padding: 10px; 
}

.project-description {
  color: whitesmoke;
  padding: 0;
  font-family: 'Roboto', 'sans-serif';
}

.project-container {
  position: relative;
  width: 100%;
  color: #f5b825; 
}

.chatbot, .business-site, .weather-app, .guess-who-game {
  filter: brightness(50%);
}

.header-three {
  position: absolute;
  left: 15%;
  top: 8%;
  font-weight: 900; 
  font-family: 'Roboto', 'sans-serif';
  font-size: 30px;
  letter-spacing: 2px;
  width: fit-content;
}

.header-two { 
  margin-top: 20px;
  margin-bottom: 20px; 
  display: inline-flex;
  color: #FFD369;
  background-color: #393E46;
  justify-content: center;
}

.header-two-marked {
  color: #FFD369;
  background-color: #393E46;
  margin: 20px auto;
}

.header-two-desktop {
  margin-top: 20px; 
  margin-bottom: 20px;
  display: none;
}

.header-two-mobile {
  display: inline-flex;
  color: #FFD369;
  background-color: #393E46;
}

.header-four {
  display: inline-flex;
  color: #FFD369; 
  font-size: 20px;
  letter-spacing: 1px;
  font-weight: 900;
}

.project-techniques {
  margin-bottom: 30px;
}

.technique {
  background-color: #393E46; 
  color: #FFD369;
  font-size: 16px;
}

.other-projects {
  width: 100%;
  display: flex;
  justify-content: start;
  flex-direction: column;
  margin-bottom: 45px;
}

.other-projects p {
  color: whitesmoke;
}

.project-title {
  color: #FFD369;
  font-weight: 900;
}

.technologies {
  display: none;
}

.other-projects-header {
  display: inline-flex;
  color: #FFD369;
  justify-content: center;
}

.my-thoughts {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.more-thoughts {
  width: 100%;
  display: flex;
  justify-content: start;
  flex-direction: column;
  padding: 30px 0 30px 0;
}

.technical-skills {
  width: 100%; 
  display: flex;
  justify-content: center;
  flex-direction: row; 
  flex-wrap: wrap; 
}

.header-technical-skills {
  display: inline-flex;
  background-color: #393E46; 
  color: #FFD369; 
}

.technical-skills-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 25px;
}

.code-header {
  text-align: center;
  font-size: 18px;
  color: #e5493c;
}

.skills-and-toolbox {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.for-more {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  font-family: 'Roboto', sans-serif;
}

.for-more-icons {
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
  margin: 30px;
}

.icons-for-more {
  margin: 20px 30px;
  width: 60px;
  height: 60px;
}

.footer {
  width: 100%;
  height: 55vh;
  font-family: Montserrat;
  font-size: 21px;
  line-height: 25px;
  color: #f5b825;
  background-image: url("./assets/img/footer.jpg");
  filter: brightness(90%);
  object-fit: cover;
/* background:#222831; as default contrast color when image is not rendered */
}

.contact-information-container {
  width: 90%;
  padding-top: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.contact-information {
  font-weight: 900;
  font-size: 28px;
}

a, .footer {
  text-decoration: none;
  color: #f5b825; 
  line-height: 45px;
}

/* Media queries --------------> SET IT BACK TO 700px if I can find out a generic positioning for header-three that works for all sizes */
@media (min-width: 600px) {
  .heading {
    top: 35%; 
    left: 10%;
    line-height: 330%;
  }

  .profession {
    font-size: 48px;
    line-height: 45px;
  }

  .former-job-title {
    padding: 0;
    font-size: 18px;
    font-weight: 800;
  }

  .icon-10, .icon-13, .icon-8 {
    margin: 5px;
    width: 80px;
    height: 80px;
  }

  .bold-position {
    font-size: 20px;
  }

  .header-two-desktop {
    display: inline-flex;
    color: #FFD369;
    background-color: #393E46;
    margin-top: 20px; 
    margin-bottom: 20px;
  }

  .header-two-mobile{
    display: none;
  }

  .featured-projects-two { 
    display: none;
  }

  .featured-projects {
    font-family: Montserrat;
    font-size: 20px;
    line-height: 34px;
  }

  .image-container {
    width: 100%;
  }

  .header-three {
    position: absolute;
    left: 16%;
    top: 22%;
  }

  .project-container {
    position: relative;
    padding: 20px;
  }

  .chatbot, .business-site, .weather-app, .guess-who-game {
    width: 100%;
    filter: brightness(50%);
  }

  .red {
    color: #f05e51;
  }
  
  .technical-skills-container {
    padding: 45px;
  }

  .technologies {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .technologies .yellow {
    color: black;
    background: #FFD369;
    margin-right: 10px; 
    margin-left: 10px; 
  }

  .icons-for-more {
    margin: 20px 30px;
    width: 80px;
    height: 80px;
  }
}

/* Small desktop*/
@media (min-width: 992px) {

  .featured-projects {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }

  .featured-projects-one {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }

  .featured-projects-two {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }

  .chatbot, .business-site, .weather-app, .guess-who-game {
  filter: brightness(50%);
}

  .header-three {
  position: absolute;
  left: 13%;
  top: 18%;
  width: fit-content;
  }
}

/* Large desktop */
@media (min-width: 1200px) {
  .header-three {
    position: absolute;
    left: 20%;
    top: 25%;
    }

}