
body{
  font-family: Montserrat;
  margin: 0;
}
.header {
    background-image: url('./assets/books_mobile1.jpg');
    background-color: rgb(165, 163, 163);
    background-blend-mode: multiply;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 400px;
}

.media-icons{
    position: absolute;
    top: 30px;
    right: 24.5px;
}
.header-link{
  text-decoration: none;
}
.fab {
    font-size: 20px;
    border: 2px solid white;
    padding: 5px;
    width: 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.926);
    background:rgba(245, 245, 245, 0.44);
}

.fab:hover{
  opacity: 0.6;
}

.name-title{
    position: absolute;
    width: 75%;
    top: 100px;
    left: 24px;
    color: white;

}
.name-surname{
    font-family: Roboto;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    margin: 0;
}
.sub-title {
  font-size: 18px;
  margin: 0;
  line-height: 1.5em;
}
.bold {
    font-weight: 400;
}
.title {
    font-size: 30px;
    font-family: Montserrat;
    margin: 0;
}
.my-image{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 2px solid white;
    position: absolute;
    top: 270px;
    right: 24px;
}
.intro {
  width: 100%;
  background-color: #F4F4F4;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
}

.content-container{
  max-width: 1100px;
  padding: 20px;
  width: 100%; 
}

.fas {
  margin: 0;
  padding: 0;
  color: red;
}
.intro-text{
  display: inline;
  width: 100%;
}
.section {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 0;
  /* flex-wrap: wrap; */
}
.tech-section{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.section-header{
 color: #ffff;
 background-color: #FA382F;
 text-align: center;
 display: inline;
 text-transform: uppercase;
 text-align: center;
 padding: 2px;
 font-size: 22px;
}
.tech-text{
  text-align: center;
}

.featured {
  background-color: #F4F4F4;
}
.featured-projects{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 0;
  border: none;
}
.cards-wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* Project card */
.project-card{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  text-decoration: none;
  margin-bottom: 20px;
  align-content: flex-start;
}
.project-card:hover {
  opacity: 0.7;
}

.image-title-wrapper{
  position: relative;
  margin-bottom: 10px;
  width: 100%;
  margin-bottom: 20px;
  background-color: rgb(75, 76, 114);
}
.last {
  display: none;
}
.project-title{
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: 0;
  font-size: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  z-index: 2;
  font-family: Montserrat;
  font-weight: 600;
  text-transform: uppercase;
}
.image-container{
  position: relative;
  width: 100%;
  overflow: hidden;
  height: auto;
  max-height: 230px;
  z-index: 1;
} 

.project-image {
  width: 100%;
  filter: brightness(70%);
  opacity: 0.7;
  object-fit: cover;
}
.project-subtitle, .project-description, .project-tag{
  font-family: Roboto;
  font-size: 16px;
  letter-spacing: 1px;
  line-height: 1.5em;
  margin: 0;
} 
.project-subtitle{
  text-transform: uppercase;
  color: #FA382F;
}
.project-description, .project-tag {
  color: black;
}
.project-tag{
  margin-top: 10px;
  display: inline;
  font-size: 12px;
  margin-right: 5px;
  background-color: #FDDFE7;
  padding: 3px;
  font-weight: 300;
}

/* Other projects section */
.other-projects {
  flex-wrap: wrap;
  /* background-color: #F4F4F4; */
  margin-top: 0;
  border: none;
}
.other{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.red{
  color: #FA382F;
  background: none;
}
.other-subtitle{
  text-decoration: underline;
  margin-right: 5px;
}

.other-description:hover {
  text-decoration: underline red;
}
.arrow{
  color: #FA382F;
}
.tags-container{
  width: 100%;
  margin-top: 10px;
  padding: 0;
}

/* Thoughts section */

.thoughts-container{
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.thought-card{
  width: 100%;
  text-decoration: none;
  line-height: 1.5em;
  color: black;
  flex-direction: column;
}
.thought-image {
  width: 100%;
  height: 210px;
  margin-bottom: 30px;
  object-fit: cover;
}
.date, .thought-title {
  font-family: Roboto;
}
.date {
  font-size: 17px;
  color:#FA382F;
  font-weight: 400;
  margin: 0;
}
.thought-title {
  font-size: 21px;
  font-weight: 700;
  margin: 0;
}
.thought-description {
  font-size: 17px;
  margin: 0 0 20px 0;
}
.thought-description .arrow {
  font-weight: 700;
}
/* More thoughts */
.more-thoughts{
  display: none;
}
.more{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.more-cards{
  width: 100%;
  margin-bottom: 20px;
  font-size: 17px;
  text-decoration: underline;
  line-height: 1.5em;
  font-family: Roboto;
  color: black;
}
.date-more, .arrow-more{
  color: #FA382F;
  text-decoration: #FA382F underline;
}

/* Skills */
.withskills {
  text-align: center;
  padding-top: 40px;
}
.skills {
  flex-wrap: wrap;
  background-color: #F4F4F4;
}
.skill-container {
  max-width: 1100px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 30px;

}
.skill-wrapper {
  display: flex;
  flex-direction: column;
  width: 48%;
  align-items: center;
  font-size: 17px;
  margin-bottom: 20px;
}
.last-skill {
  display: none;
}
.skill-wrapper .red {
  width: 100%;
  font-size: 17px;
  margin: 0;
}
.skill-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
}
.list-line {
  line-height: 1.5em;
}

/* For more */
.withmore {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.icons-container {
  display: flex;
  justify-content: center;
  
}
.icon-link{
  text-decoration: none;
  margin: 30px 10px;
  color: #FA382F;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.icon-link .fab{
  color: #FA382F;
  margin-top: 30px;
  border: 2px solid  #FA382F;
  font-size: 30px;
  width: 30px;
  padding: 20px;

}
.icon-title {
  font-size: 10px;
  font-weight: 700;
  text-align: center;
}
.footer {
  height: 300px;
  background: #072BCE;
  text-align: center;
  color: #ffffff;
}

.contact-info-header {
  font-size: 21px;
  color: #ffffff;
  font-weight: 700;
  text-transform: uppercase;
  padding-top: 60px;
  margin-bottom: 40px;
}
.contact-info {
  font-size: 18px;
  line-height: 1.5em;
  margin:0;
}


/* Mobile devices (iPhoneX) */
@media(min-width: 350px) {
  .header{
    height: 450px;
  }
  .name-title{
      width: 70%;
      top: 120px;
  }
  .name-surname{
    font-size: 14px;
  }
  .title {
    font-size: 40px;
  }
  .sub-title {
    font-size: 20px;
  }
  .my-image{
      width: 180px;
      height: 180px;
      top: 290px;
  }
  .icon-link{
  width: 90px;
  }
  .icon-link .fab {
    width: 40px;
    font-size: 40px;
  } 
}

/* Mobile devices:large screen */

@media(min-width: 425px){
  .header{
    height: 470px;
  }
  .media-icons{
    right: 44.5px;
  }
  .my-image{
    width: 180px;
    height: 180px;
    top: 310px;
    right: 45px;
  }
  .name-title {
    max-width: 450px;
  }
  .name-surname{
    font-size: 16px;
  }
  .title {
    font-size: 45px;
  }
  .sub-title{
    font-size: 25px;
  }
  .thought-image{
    height: 330px;
  }
  .icon-link{
    width: 100px;
    }
}
@media (min-width: 550px){
  .image-container{
    height: auto;
    max-height: 280px
  }
}
/* Tablet  */
@media(min-width: 768px) {
  .header {
    background-image: url('./assets/books.jpg');
    height: 500px;
  }
  .media-icons{
    top: 50px;
    right: 60px;
  }
  .my-image{
    width: 200px;
    height: 200px;
    top: 320px;
    right: 60px;
  }
  .name-title{
    width: 50%;
    top: 150px;
    left: 80px;
    color: white;
  }
  .name-surname{
    font-size: 18px;
  }
  .title {
    font-size: 50px;
  }
  .sub-title{
    font-size: 30px;
  }
  .fab {
    font-size: 30px;
    padding: 7px;
    width: 30px;
  }
  .intro-text, .tech-text {
    font-size: 20px;
  }
  .content-container{
    padding: 30px
  }
  .section-header {
    font-size: 36px;
  }
  .image-container{
    height: 220px
  }
  .project-subtitle, .project-description{
    font-size: 20px;
  }
  .project-tag{
    font-size: 16px;
  }
  .project-card, .thought-card {
    width: 47%;
  }
  .last {
    display: block;
  }
  .thought-image {
    height: 250px;
  }
  .other-card {
    width: 100%;
  }
  .more-cards {
    font-size: 25px;
  }
  .skill-wrapper{
    font-size: 20px;
    width: 30%;
  }
  .last-skill{
    display: flex;
  }
  .skill-wrapper .red {
    font-size: 20px;
  }
  .icon-link {
    width: 150px;
  }
  .icon-title{
    font-size: 12px;
  }

}
/* iPadPro, small screen, laptop  */
@media(min-width: 1024px){
  .header{
    background-image: url('./assets/books_desktop.jpg');
    height: 600px;
  }
  .fab {
    font-size: 40px;
    padding: 7px;
    width: 40px;
    background:none;
    border: 3px solid white;
  }
  
  .name-surname{
    font-size: 24px;
  }
  .title {
    font-size: 70px;
  }
  .sub-title {
    font-size: 40px;
  }
  .my-image{
    width: 280px;
    height: 280px;
    top: 330px;
  }
  .intro {
    padding-top: 30px;
  }
  .intro-text, .tech-text {
    font-size: 22px;
  }
  .section-header {
    font-size: 48px;
  }
  .project-subtitle, .project-description{
    font-size: 25px;
  }
  .project-tag {
    font-size: 18px;
  }
  .thought-image {
    height: 310px;
  }
  .icons-container {
    justify-content: space-evenly;
  }
  .icon-link .fab{
    font-size: 80px;
    width: 80px;
    padding: 20px;
    border: 4px solid #FA382F
  }
  .icon-link {
    width: 200px;
  }
  .icon-title{
    font-size: 20px;
  }
}
/* iPadPro horizontaly */
@media (min-width: 1300px){
  
  .media-icons{
    top: 80px;
    right: 250px;
  }
  .name-title{
    width: 35%;
    top: 200px;
    left: 200px;
  }
  .my-image{
    width: 300px;
    height: 300px;
    top: 330px;
    right: 250px;
  }
  .intro-text, .tech-text {
    font-size: 30px;
  }
}

@media(min-width: 2000px){
  .header{
    height: 600px;
  }
  .media-icons{
    top: 80px;
    right: 410px;
  }
  .my-image{
    width: 300px;
    height: 300px;
    top: 330px;
    right: 410px;
  }
  .name-title{
    width: 35%;
    max-width: 710px;
    top: 200px;
    left: 426px;
  }
  .fab {
    font-size: 40px;
    padding: 7px;
    width: 40px;
    background:none;
    border: 3px solid white;
  }
  .icon-link .fab{
    font-size: 100px;
    width: 100px;
    padding: 40px;
  }
  .icon-link {
    margin: 30px;
    width: 250px;
  }
  .icon-title{
    font-size: 25px;
    font-weight: 700;
  }
}

