:root {
    --secondary: rgb(0, 128, 49);
}

body, html {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    /* height: 100%; */
}

.hero-text, .actual-main-section, .summary-section {
    margin: 15px;
}

.hero-text {
    display: inline-block;
    background: rgba(2, 2, 2, 0.6);
    margin-left: -5px;
    padding: 0 20px;
    border-radius: 1.5%;
}

.white-h1, .white-h2 {
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    text-align: left;
}

.white-h1 {
    font-size: 40px;
    font-weight: bold;
    letter-spacing: 2px;
    margin: 15px 0px;
}

.white-h2 {
    font-size: 26px;
    margin-top: 5px; 
}

.white-h3, .credit {
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
}

.credit {
    color: #fff;
    font-size: 10px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
    text-align: right;
}

.white-h3 span {
    font-weight: 600;
}

.top-section {
    background-image: url("/portfolio clone/portfolio/assets/pexels-adonyi-gábor-1400136.jpg");
    background-size: cover;
    position: relative;
    color:white;
    height: 50%;
}

.top-socials-section {
    display: flex;
    justify-content: flex-end;
    padding: 50px 20px;
}

.circle {
    display: flex;
    border: solid 2px #fff;
    border-radius: 100%;
    padding: 10px;
    margin: 5px;
    height: 100%;
    width: auto;
    justify-content: center;
    align-items: center;
}

.circle img {
    /* display: none; */
    height: 20px;
    width: auto;
}

.picture-of-me {
    display: flex;
    justify-content: flex-end;
    position: relative;
    right: 25px;
    top: 25px;
    margin-bottom: 70px;
}

.picture-of-me img {
    width: 40%;
    border: 3px solid #fff;
    border-radius: 100%;
}

.my-thoughts-section {
    flex-direction: column;
}

.skills-section div {
    text-align: center;
    flex-basis: 40%;
    padding: 15px;
    width: 30%;
}

.section-title, .sub-section-title {
    font-size: 22px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 15px;
}

.section-title {
    color: #fff;
}
.section-title .block { 
    display:inline-block;
    padding: 0px 4px 0px 4px;
    background: var(--secondary);
}

h2, h3 {
    color: rgb(0, 0, 0);
}

h3 {
    color: var(--secondary);
    font-size: 16px;
}

.contact-section {
    background: blue;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
}

.actual-main-section {
    display:flex;
    flex-direction: column;
    justify-content: center;
}

.actual-main-section img {
    margin: 10px 0 20px 0;
}

.main-section, .tech-section {
    display:  flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

.project {
    display:flex;
    flex-direction: column;
    justify-content: center;
}

.tags {
    display: flex;
    margin-top: -8px;
    
}

.tags div {
    font-size: 10px;
    margin: 0 10px 0 0;
    padding: 2px 5px;
    border-radius: 10%;
    display: inline-block;
    background: lightgrey;
}

.skills-section {
    display:  flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.upcoming-skills {
    justify-self: flex-start; /*DOESN'T WORK*/
}