* {
  font-family: 'Roboto', sans-serif;
  margin: 0;
}
:focus {
  outline: 3px solid blueviolet;   
}
header {
  position: relative;
  height: 400px;
  width: 100vw;
}
.top-section {
  height: 100%;
  background-image: linear-gradient(
    rgba(225, 225, 232, 0.5),
    rgba(133, 134, 139, 0.5)), 
    url(./images/testpic.jpg);
  background-color:#F4F4F4;  
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 46px 32px 0 32px;
}
.background-light {
  background: #F4F4F4;
}
.background-dark {
  background: #e6e6e6;
}
/* Text on header */
.header-text {
  display: flex;
  flex-direction: column;
  line-height: 35px; 
  letter-spacing: 0.04em;
  top: 15%;
  width: 250px;
  margin: 0;
  padding: 0;
  color: #ffffff;
}
.portfolio-plus-name {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
}
.portfolio {
  font-size: 15px;
  font-weight: 300;
}
.name {
  font-size:15px ;
}
.profession {
  font-size: 35px;
  padding: 10px;
  margin: 0;
  padding: 0;
  line-height: 40px;
}
.second-profession {
  font-size: 25px;
  font-weight: 300;
  padding: 0;
}
.profile-photo {
  border-radius: 50%;
  border: 2px solid #fff;
  width: 180px;
  height:180px;
  margin-bottom: -35px;
  align-self: flex-end;
  margin-bottom: -35px;
} 
.media-icons-top{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-self: flex-end;
  width: 170px;
  /* margin: 0;
  padding: 0; */
}
.top-icon {
  color: #ffffff;
}
.fa-linkedin.top-icon,
.fa-github.top-icon,
.fa-stack-overflow.top-icon {
  border-radius: 50px;
  box-shadow: 0px 0px 0px 2px #ffff;
  padding: 0.2em 0.3em;
  margin-left: 12px;
}
.fa {
  text-decoration: none;
  margin-bottom: 20px;
  padding: 5px; 
  box-sizing: border-box;
}
.fa:hover {
  opacity: 0.7;
}
.summary-icon {
  display: flex;
  align-items: center;
  float: left;
  padding: 5px;
}
.line {
  width: 50px;
  height: 3px;
  background: #0381bb;
}
.circle {
  width: 14px;
  height: 14px;
  background: #0381bb;
  border-radius: 50px;
  margin-left: -3px;
}
.summary {
  font-family: 'Montserrat', sans-serif;
  line-height: 29px;
  padding: 80px 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.summary-text {
  font-weight: 200;
}
.description-container {
  display: flex;
  flex-direction: column;
  justify-content: center; 
  text-align: center;
  line-height: 29px;
  font-family: 'Montserrat', sans-serif;
}
.h2 {
  padding: 20px;
  font-size: 22px;
  color: #0381bb;
  line-height: 29px;
}
.h4 {
  font-size: 17px;
  color: #0381bb;
}
.marker {
  background: #0381bb;
  color: #ffffff;
  padding: 3px;
}
.tag {
  background: #FDDFE7;
  padding: 4px;
  font-size: 13px;
}
.arrow {
  padding-left: 5px;
  color: #0381bb;
}
.tech-section {
  font-size: 17px;
}
.tech-content {
  font-weight: 200;
  padding: 20px;
}
.featured-projects {
  display: flex;
  flex-direction: column;
  justify-content: right
}
.text-decoration {
  text-decoration: none;
}
.project-card {
  width: 327px;
  height: 341px;
}
.project-card:hover{
  opacity: 0.7;
}
.project-text {
  font-size: 20px;
  font-weight: 400;
}
.image-container {
  position: relative;
  text-align: center;
}
.project-header {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%; 
  transform: translate(-50%, -50%);
  color: whitesmoke; 
}
.project-image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 100%;
  height: 210px;
  filter: brightness(85%);
  z-index: 1;
}
.link-area{
  display: flex;
  justify-content: center;
  text-decoration: none;
}
.other-projects {
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.other-projects-card {
  width: 327px;
  font-size: 20px;
}
.link-other {
  display: flex;
  flex-direction: column;
}
.my-thoughts-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  font-size: 20px;
}
.skills-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  font-size: 20px;
  padding: 20px;
}
.skills-header {
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}
.skills-section {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.for-more {
  padding: 30px;
  text-align: center;
}
.media-bottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
/* .media-icons-bottom{
  padding: 0;
  margin-bottom: 0;
} */
.bottom-icon {
  color: #0381bb;
  display: inline-block;
  border-radius: 60px;
  box-shadow: 0px 0px 0px 2px #0381bb;
  padding: 0.5em 0.6em;
  margin-left: 10px;
}
.address {
  display: flex;
  flex-direction: column;
}
.fa-phone {
  margin-bottom: 0; 
}
.footer {
  color: whitesmoke;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background:#0381bb;
  padding: 30px;
  line-height: 20px;
  font-size: 17px;
}

/*MEDIA QUERIES*/ 
/* tablet */
@media (min-width: 678px) {
  .profile-photo {
    width: 180px;
    height: 180px;
  } 
  .portfolio{
    font-size: 17px;
  }
  .name {
    font-size: 17px ;
  }
  .profession {
    font-size: 55px;
  }
  .second-profession {
    font-size: 24px;
  }
  .media-icons-top{
   font-size: 20px;
  }
  .media-icons-bottom {
    font-size: 20px;
  }
   .summary-text {
    font-size: 22px;
  }
  .summary {
    padding: 100px;
  }
  .tech-section {
    padding: 30px 100px;
  }
  .featured-projects {
    padding: 30px 0;
  }
  .skills-container {
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: nowrap;
  } 
  .other-projects-card {
    padding: 30px 0;
  }
  .my-thoughts-container {
    padding: 30px 100px;
  }
  .footer {
    font-size: 20px;
    line-height: 25px;
  }
  .fa-phone {
    padding-top: 7px; 
   }
} 
/* laptop */
@media (min-width: 1200px) { 
  .media-icons-top {
    font-size: 20px;
   }
  .my-thoughts-container {
   padding: 80px;
  }
} 