body {
    background-color: tomato;

}

.profile-top img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.header-img-wrapper {
    display: none;
}

.project-img img {
    width: 200px;
    height: 200px;
}

.article-img img {
    width: 200px;
    height: 200px;
}