:root {
  --ffMon: "Montserrat", sans-serif;
  --ffRob: "Roboto", sans-serif;
  --pink: rgb(198, 42, 136);
  --green: rgb(26, 248, 146, 0.1);
  --blue: rgb(42, 7, 237);
  --white: rgb(255, 255, 255);
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  width: 100%;
  font-family: var(--ffMon);
}

/* containers */
.header-container {
  width: 80%;
  padding: 2rem 0;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.header-description-container {
  padding: 2rem 0 1.5rem 0;
  width: 90%;
  margin: 0 auto;
}

.container {
  width: 95%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  margin: 2rem 0;
}

article,
section,
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2rem;
}

/* fonts */
h2 {
  font-family: var(--ffRob);
  margin: 1em 0;
  padding: 0 0.5rem;
  background-color: var(--blue);
  color: var(--white);
  text-transform: uppercase;
  line-height: 2rem;
}

h3,
h4 {
  text-transform: uppercase;
  padding-bottom: 0.5rem;
  line-height: 2rem;
  color: var(--blue);
}

p {
  line-height: 2rem;
}

.hero-image {
  background-image: url("images/mic-unsplash.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 520px;
  width: 100%;
}

.icon {
  display: flex;
  justify-content: flex-end;
}

.icon > * {
  padding: 0 0.5rem;
}

.icons-header {
  height: 40px;
  background-color: rgb(0, 0, 0, 0.7);
  border-radius: 50%;
  width: 40px;
}

.icons-main {
  height: 40px;
  width: 40px;
}

.icon-for-more {
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: space-evenly;
}

.icon-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0 0.5rem;
  justify-content: space-between;
  text-align: center;
}

.icon-wrapper > * {
  padding-bottom: 0.5rem;
  font-family: var(--ffRob);
}

.huerotate {
  filter: hue-rotate(250deg);
  -webkit-filter: hue-rotate(250deg);
}

.headertext {
  justify-content: flex-start;
}

.headertext h1 {
  width: fit-content;
}

.header-name,
.header-fname,
.header-job,
.header-subjob {
  color: var(--white);
}

.header-name {
  font-weight: normal;
  font-family: var(--ffRob);
  font-size: 1.2em;
  line-height: 18px;
  letter-spacing: 0.04em;
  background-color: rgb(0, 0, 0, 0.3);
}

.header-fname {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.1em;
  line-height: 1.2em;
  letter-spacing: 0.08em;
  background-color: rgb(0, 0, 0, 0.3);
}

.header-job {
  font-weight: bold;
  font-size: 2.7em;
  padding: 0.2em 0;
  line-height: 49px;
  letter-spacing: 0.2em;
  background-color: rgb(0, 0, 0, 0.3);
}

.header-subjob {
  font-weight: bold;
  font-size: 1.7em;
  line-height: 40px;
  background-color: rgb(0, 0, 0, 0.3);
}

.profile-pic-small {
  border-radius: 50%;
  overflow: hidden;
  width: 180px;
  height: 180px;
  top: 410px;
  right: 15%;
  position: absolute;
  object-fit: cover;
  border: 2px solid var(--white);
}

.line {
  border: 1px solid var(--pink);
  width: 40px;
  display: inline-block;
  margin-bottom: 4px;
}

.dot {
  height: 10px;
  width: 10px;
  background-color: var(--pink);
  border-radius: 50%;
  display: inline-block;
}

.tag-wrapper {
  display: flex;

  /* Added to help with multiple lines of tags */
  flex-wrap: wrap;
}

.tag-wrapper p {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  background-color: rgb(255 185 242);
  text-decoration: none;

  /* Matching line-height and font-size here gives full control 
     over the size of our tags to the padding*/
  font-size: 12px;
  line-height: 12px;

  /* Control the size of the tags */
  padding: 4px;

  /* Control the spacing of our tags */
  margin: 3px;

  /* Some rounded borders */
  border-radius: 5px;
}

section:nth-child(even) {
  background-color: var(--green);
}

.main-tech {
  text-align: center;
}

.main-skills {
  display: inline-grid;
  align-items: flex-start;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
}

.main-skills > * {
  padding: 0 0.5em 1rem 0.5rem;
}

.main-skills-extra {
  display: none;
}

.main-for-more {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}

.main-projects {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  justify-items: center;
  align-items: start;
  grid-gap: 2rem;
}

.projects-cards a {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 2rem;
}

.projects-cards a > p,
.projects-cards a > .tag-wrapper {
  pointer-events: none;
}

.projects-cards > *:focus {
  color: blueviolet;
}

.image-wrapper img {
  width: 21rem;
  height: 14rem;
  object-fit: cover;
  transition: 0.5s ease;
}

.project-image-overlay h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 14rem;
  color: var(--white);
}

.project-image-overlay {
  position: absolute;
  width: 21rem;
  height: 14rem;

  /* This is a semi-transparent overlay on the image */
  background-color: rgba(0, 0, 0, 0.5);

  /* This will cause the overlay to fade */
  transition: 0.5s ease;
}

.project-image:hover {
  /* This causes the text to fade, color is the text color */
  color: transparent;
}

.project-image-overlay:hover {
  /* This causes the original background color (.5 opacity) to become transparent */
  background-color: transparent;
  color: transparent;
}

.project-image-overlay h3:hover {
  /* This causes the original background color (.5 opacity) to become transparent */
  color: transparent;
}

.main-other-projects {
  display: flex;
  flex-direction: column;
}

.main-other-projects > * {
  padding: 0.5rem 0;
}

.main-other-projects a:hover,
.main-other-projects .highlight-other:hover {
  color: var(--pink);
}

.main-other-projects a:focus {
  color: var(--blue);
}

.highlight-other {
  color: var(--blue);
}

footer {
  background-color: var(--blue);
}

.footer-content {
  display: flex;
  flex-direction: column;
  padding: 2rem 0;
}

.footer-content > * {
  color: white;
}

/* ---------------   media queries ---------------------- */

@media (min-width: 768px) {
  .highlight {
    color: var(--blue);
  }

  .profile-pic-small {
    width: 250px;
    height: 250px;
    top: 330px;
  }

  .container {
    width: 65%;
  }

  .icon {
    width: 94% !important;
  }

  .main-skills {
    grid-template-columns: repeat(4, 1fr);
  }

  .main-skills-extra {
    display: block;
  }

  .header-description-container {
    width: 70%;
  }

  .main-projects {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .projects-cards-p {
    height: 7rem;
  }

  .main-other-projects a {
    text-decoration: underline;
  }
}

@media (min-width: 1200px) {
  body {
    font-size: 1.1em;
  }

  .image-wrapper img,
  .project-image-overlay {
    width: 27rem;
    height: 20rem;
  }

  .project-image-overlay h3 {
    height: 20rem;
  }
}
