@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}
body {
  background-color: white;
  font-family: "Montserrat", sans-serif;
}
.header-mainprofile {
  background-image: url("./Images/hero_image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 520px;
  width: 100%;
  position: relative;
  justify-content: safe;
}
.icon-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 48px;
  margin-right: 40px;
  font-size: 10px;
}
.icon-wrapper p {
  font-size: 15px;
  text-transform: capitalize;
}
.icon-container .fa-github,
.icon-container .fa-linkedin,
.icon-container .fa-stack-overflow {
  color: #ffff;
  border: 3px solid white;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  padding: 10px;
  margin: 5px;
  justify-items: center;
  font-size: 25px;
}
.header-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: safe;
}
.profile-pic {
  border: 2px solid white;
  border-radius: 50%;
  overflow: hidden;
  width: 180px;
  height: 180px;
  top: 356px;
  right: 50px;
  position: absolute;
  object-fit: cover;
}
.profile-text {
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  line-height: 20px;
  letter-spacing: 0.08em;
  margin-left: 24px;
  margin-top: 20px;
}
.portfolio {
  padding: 10px;
  font-size: 18px;
}
.line {
  border: 1px solid red;
  background-color: red;
  width: 40px;
  display: inline-block;
  margin-bottom: 4px;
}
.dot {
  background-color: red;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  display: inline-block;
  margin-right: 6px;
}
.description-container p {
  text-align: left;
}
.description-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  letter-spacing: 1px;
  height: 40vh;
  margin: 0 auto;
  text-align: center;
}

section:nth-child(2n) {
  background-color: rgb(210, 231, 231);
}
.tech-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  letter-spacing: 1px;
  height: 20vh;
  margin: 0 auto;
  text-align: center;
}
.tech-container p {
  text-align: center;
}

.tech h2 {
  margin: 20px;
  padding-top: 30px;
  text-align: center;
}
.colored {
  color: red;
}
.text-container {
  font-family: "Roboto", sans-serif;
}
.projects {
  height: 100%;
}
.projects h2 {
  margin: 20px;
  padding-top: 30px;
  text-align: center;
  margin-bottom: 50px;
}
.projects h3 {
  margin: 20px;
  padding-top: 30px;
  text-align: center;
  color: rgba(236, 5, 5, 0.616);
}
.featured-projects-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  margin: 0 auto;
}

.featured-projects-container img {
  border: 2px solid white;
  width: 327px;
  height: 205px;
  opacity: 60%;
  border-radius: 10px;
}
.featured-image p {
  padding: 10px;
  padding-bottom: 50px;
}
button {
  background-color: rgba(231, 165, 176, 0.712);
  font-family: "Roboto", sans-serif;
  font-weight: bolder;
  border: 1px solid white;
  padding: 3px;
  margin-top: 10px;
  border-radius: 5px;
}

.other-projects-container span {
  color: red;
}

.other-projects-container p {
  padding: 20px;
}
.other-projects-container {
  display: flex;
  flex-direction: column;
  padding-bottom: 30px;
}

.skills-container h3 {
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  color: red;
}
.skills-container {
  font-family: "Roboto", sans-serif;
  display: grid;
  grid-template-columns: repeat(2, 10rem);
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 80px;
  line-height: 30px;
  padding-bottom: 50px;
}
.skills-heading {
  display: flex;
  text-transform: uppercase;
  justify-content: center;
  padding-top: 50px;
}
h2 span {
  font-size: 20px;
  background-color: rgba(255, 0, 0, 0.349);
  letter-spacing: 2px;
  color: #ffffff;
  padding: 8px;
}

.more-container h2 {
  display: flex;
  text-transform: uppercase;
  color: #ffffff;
  justify-content: center;
  padding: 30px;
}
.icon-more-container {
  height: 30vh;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  margin: 0 auto;
  text-align: center;
  margin-top: 20px;
  line-height: 30px;
  align-items: center;
}
.icon-wrapper {
  color: rgba(236, 5, 5, 0.616);
  font-family: "Roboto", sans-serif;
  font-size: 20px;
}
a:hover {
  transform: scale(0.8);
}
.footer {
  background-color: rgb(1, 48, 48);
  height: 300px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: #ffffff;
  font-size: 21px;
  align-items: center;
}
.footer h3 {
  padding: 30px;
}
.caption {
  width: 375px;
}
.footer-class {
  text-align: center;
  height: 158px;
  width: 327px;
}
@media only screen and (min-width: 768px) {
  .icon-more-container {
    justify-content: space-evenly;
  }
  .icon-wrapper p {
    font-size: 25px;
    text-transform: capitalize;
  }
  .featured-projects-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .featured-projects-container img {
    width: 400px;
    height: 300px;
    margin: 0, auto;
  }
  .skills-container {
    grid-gap: 10rem;
  }
  .other-projects-container {
    margin-left: 60px;
    font-size: 20px;
  }
  .caption {
    width: 375px;
  }
}
