/*Styling for entire page*/
body {
    margin: 0px;
}

a {
    text-decoration: none;
    outline: none;
}

p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 29px; 
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}

.white-red-h2 {
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    color: white;
    background: #FF7777;
    align-self: center;
    justify-self: center;
    text-align: center;
    padding: 5px;
    margin-bottom: 5vh;
}

.red-h3 {
    font-family: 'Roboto';
    font-weight: bold;
    font-size: 17px;
    line-height: 29px;
    letter-spacing: 0.01em;
    color: #FF7777;
    padding: 2vh 0px 1px 0px; 
}

.outer-wrapper {
    width: 100%;
    display: flex;
    align-items:center;
    justify-content: center;
}
    .grey {
        background-color: #F4F4F4;
    }

    .white {
        background-color: white;
    }

.inner-wrapper {
    width: 80%;
    padding-top: 7vh;
    padding-bottom: 7vh;
}

/*Styling header*/
header {
    background-image: url("./pexels-madison-inouye-1831234.jpg");
    width: 100%;
    display: flex;
    align-items:center;
    justify-content: center;

}
    .header-inner-wrapper {
        padding: 7vh 6vw 6vh 6vw;
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-template-rows: 1fr 3fr;
        height: 55vh;
        position: relative;
    }
    
        .headline-container {
            color: white;
            grid-column: 1 / 2;
            grid-row: 2 / 3;
            width: 50vw;
        }

            .portfolio-headline {
                font-family: 'Roboto';
                font-style: normal;
                font-weight: 00;
                font-size: 13px;
                line-height: 24px;
                letter-spacing: 0.04em;
            }

            .frontend-headline {
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 700;
                font-size: 40px;
                line-height: 49px;
            }

            .background-headline {
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 700;
                font-size: 15px;
            }

        .social-media-header-container {
            grid-column: 2/3;
            align-self: center;
            padding-top: 7vh;
            display: flex;
        }

            .social-media-header-container img {
                width: 100%;
            }

        .profile-pic {
            width: 140px;
            border-radius: 50%;
            border: solid 2px white;
            position: absolute;
            right: 10vw;
            bottom: -5vh;
        }

/*Styling intro-section*/
    .line { 
        border: 1px solid #a394f5;
        width: 40px;
        display: inline-block;
        margin-bottom: 4px;
    }

    .dot {
        height: 10px;
        width: 10px;
        background-color: #a394f5;
        border-radius: 50%;
        display: inline-block;
    }

/*Styling tech-section*/
.tech {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*Styling feature-project-section*/
.featured-projects {
    display: grid;
    grid-template-columns: 1fr;
    background-color: #F4F4F4;
    position:relative;
    
}
    .featured-p-h2 {
        position: absolute;
        top: 4vh;
    }

    .project {
        display: grid;
        grid-template-columns: 1 fr;
        padding-top: 6vh;
    }

        .project-img-container {
            position: relative;
            transition: 0.5s ease;
        }

        .feature-img {
            display: block;
            width: 100%;
        }
        
        .project-img-overlay {
            position: absolute;
            background-color: rgba(0, 0, 0, 0.5);
            color: white;
            width: 100%;
            height: 100%;
            transition: .5s ease;
            opacity:0;
            text-align: center;
        }

            .project-img-overlay p {
                padding: 25%;
                font-weight: 700;
                font-size: 28px;
                line-height: 34px;
                letter-spacing: 0.01em;
            }

        .project-img-container:not(:hover) .project-img-overlay {
            opacity: 1;
          }

        .tags-div {
            display: flex;
            flex-direction: row;
            gap: 1vw;
            padding: 20px;
        }
        .tags {
            background-color:#FDDFE7;
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: 9px;
            line-height: 11px;
            padding: 6px; 
        }
   
/*Styling other-projects-section*/
.other-projects {
    display: flex;
    flex-direction: column;
}
    
    .small-project:hover {
        text-decoration: underline;
    }

        .forward-arrows {
            color: #FF7777;
            font-weight: 600;               
            }

/*Styling my-thoughts-section*/
.thoughts-about-code {
    display: flex; 
    flex-direction: column;
}

    .blogg-post {
        display: grid;
        grid-template-columns: 1fr;
    }

        .date {
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: 17px;
            line-height: 41px;
            color: #FF7777;
        }

        .blog-headline {
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 700;
            font-size: 21px;
            line-height: 30px;
        }

        .blog-p {
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: 17px;
            line-height: 32px;
        }

        .blog-p:hover {
            text-decoration: underline;
        }

/*Styling skills*/
.skills {
    display: flex;
    flex-direction: column;
}

    .skill-section {
        display: flex;
        flex-direction: column;
        row-gap: 6vh;
        height: 40vh;
        flex-wrap: wrap;
    }

        .skill-header {
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 700;
            font-size: 17px;
            line-height: 29px;
            color: #FF7777;
            text-align: center;
        }

    li {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 17px;
        line-height: 29px; 
        text-align: center;
    }

/*Styling For-more-section*/
.for-more {
    display: flex;
    flex-direction: column;
    align-items: center;

}
.social-media-container-for-more {
    display: flex;
    align-items: center;
}

    .social-media-container-for-more img {
        width: 100%
    }

/*Styling footer*/
footer {
    background: #B2A4FF;
    height: 40vh;
    display: flex;
    flex-direction: row; 
    justify-content: center;
    padding-top: 20vh; 
}
    .contact-container {
        color: white;
    }

        .contact-header {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 700;
            font-size: 21px;
            line-height: 25px;
            margin-bottom: 5vh;
        }

/*Media queries*/
@media (max-width: 1024px){ 
	.three {
	    display: none;
	}

    .four {
        display: none; 
    }
}

/*iPad*/
@media (min-width: 668px) and (max-width: 1024px) {
    .inner-wrapper {
        width: 60%;
    }
    
    .headline-container {
        color: #FFFFFF;
        grid-column: 1 / 2;
        padding-left: 10vw;
        }

    .portfolio-headline {
            font-size: 18px;
        }

        .frontend-headline {
            font-size: 50px;
            line-height: 60px;
        }

        .background-headline {
            font-size: 20px;
        }

    .profile-pic {
    width: 200px;
}    
    
}
/*Desktop*/
@media (min-width: 1025px){ 
.inner-wrapper {
    width: 60%;
}

.headline-container {
    color: #FFFFFF;
    grid-column: 1 / 2;
    padding-left: 10vw;
    }

        .portfolio-headline {
            font-size: 20px;
        }

        .frontend-headline {
            font-size: 60px;
            line-height: 60px;
        }

        .background-headline {
            font-size: 30px;
        }

    .profile-pic {
        width: 240px;
    }    

.featured-projects {
    grid-template-columns: 1fr 1fr;
    column-gap: 3vw;
}
    
    .one {
        grid-row: 2 / 3; 
    }

    .two {
        grid-row: 2 / 3;
    }

    .three {
        grid-row: 3 /4;
    }

    .four {
        grid-row: 3 / 4;
    }
}