/* fonts */
@font-face {
    font-family: "satoshi-black";
    src: url(./fonts/Satoshi-Black.otf);
}

@font-face {
    font-family: "satoshi-bold";
    src: url(./fonts/Satoshi-Bold.otf);
}

@font-face {
    font-family: "satoshi-medium";
    src: url(./fonts/Satoshi-Medium.otf);
}

@font-face {
    font-family: "satoshi-regular";
    src: url(./fonts/Satoshi-Regular.otf);
}


/* General */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

p, li {
    font-family: 'EB Garamond', serif;
    font-size: 22px;
}

h4 {
    font-family: "satoshi-bold", sans-serif;
    font-size: 80px;
    color: #0B24F5;
}

h5 {
    font-family: "satoshi-black", sans-serif;
    font-size: 32px;
} 

.skill-heading{
    font-family: "satoshi-bold", sans-serif;
    font-size: 24px; 
    margin-bottom: 20px;
}

.marked-red {
    background-color: #EB5577;
    color: #FFFFFF;
    padding: 2px;
}

.marked-lightblue {
    background-color: #2483E0;
    color: #FFFFFF;
    padding: 2px;
}

.marked-darkblue {
    background-color: #0B24F5;
    color: #FFFFFF;
    padding: 2px;
}

.marked-green {
    background-color: #6DB486;
    color: #FFFFFF;
    padding: 2px;
}


button {
    border: none;
    padding: 4px 15px 4px 8px;
    border-radius: 50px;
    margin: 15px auto auto 0;
    font-family: "satoshi-medium";
    font-size: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

@keyframes bounce {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(30px);
    }
  }


/* header-section */

header {
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    align-items: center;
    padding-bottom: 80px;
}

.profile-wrapper {
    min-width: 327px;
    max-width: 540px;
    margin: 55px auto 0px auto;

}

.profile-top {
    display: flex;
    flex-direction: column;
    min-width: 327px;
    max-width: 540px;
    margin: auto 16px auto 16px;
}

.profile-top img {
    width: 164px;
    height: 164px;
    border-radius: 50%;
    display: block;
    margin: 0 auto 30px auto;
}


header h1 {
    font-family: "satoshi-bold", sans-serif;
    font-size: 28px;
    color: #0B24F5;
}

header h2 {
    font-family: "satoshi-black", sans-serif;
    font-size: 32px;
    color: #000000;
}

header h3 {
    font-family: "satoshi-regular", sans-serif;
    font-size: 24px;
    color: #565656
}


.profile-summary {
    display: block;
    min-width: 327px;
    max-width: 500px;
    margin: 25px 16px 50px 16px;
    text-align: justify;
}

.profile-links {
    width: 327px;
    margin: 0 auto 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.profile-links img {
    height: 32px;
    width: 32px;
    margin-bottom: 25px;
    opacity: 30%;
    transition: 0.2s;
}

.profile-links img:hover {
    opacity: 100%;
    transition: 0.1s;
}

.header-img-wrapper {
    display: none;
}

.scroll-wrapper-mobile {
    height: 138px;
    width: 138px;
    animation: bounce 1s infinite alternate;
}

.scroll-wrapper {
    display: none;
    animation: bounce 1s infinite alternate;
}

/* tech-section */

.tech {
    background-color: #EDFFFF;
    display:flex;
    flex-direction: column;
    align-items: center;
    padding-top: 80px;
    padding-bottom: 80px;
}

.tech-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tech p {
    min-width: 327px;
    max-width: 500px;
    padding: 10px 16px 10px 16px;
    margin-top: 50px;
    text-align: justify;
}


/* featured projects-section */


.featured-projects {
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 80px;
    padding-bottom: 80px;
}

.projects-section {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    margin-right: 50px;
    max-width: 820px;
}

.project-wrapper {
    display: flex;
    flex-direction: column;
    margin: 80px 0 80px 0;
}

.project-img img {
    height: 280px;
    width: 100%;
    margin-bottom: 30px;
    object-fit: cover;
    object-position: top;
}

.project-wrapper p {
    margin: 20px 0 20px 0;
    max-width: 500px;
}

.marked-black {
    background-color: #000000;
    color: #FFFFFF;
    padding: 5px;
    font-family: "satoshi-medium", sans-serif;
    font-weight: 16px;
}

.project-buttons {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}


.live, .code {
    background-color: #F5F5F5;
    color: #333333;
}

.live:hover {
    background-color: #0B24F5;
    color: #FFFFFF;
    cursor: pointer;
}

.live:hover img {
    filter: brightness(800%);
}

.code:hover {
    background-color: #EB5577;
    color: #FFFFFF;
}

.code:hover img {
    filter: brightness(900%)
}

/* my words-section */

.words {
    background-color: #FCEDEA;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 80px;
    padding-bottom: 80px;
}

.article-section {
    margin: 80px 20px 20px 20px;
}

.article-section h4 {
    color: #EB5577;
}

.article-grid-wrapper {
    display: grid;
    grid-template-columns: 1fr;
}

.article-wrapper {
    /* grid-template-rows: 1; */
    min-width: 327px;
    max-width: 564px;
    margin-top: 80px;
}


.article-img img {
    height: 280px;
    width: 100%;
    margin-bottom: 30px;
    object-fit: cover;
}

.date {
    font-family: "satoshi-black", sans-serif;
    font-size: 20px;
    color: #EB5577;
    margin-bottom: 15px;
}

.read {
    background-color: #FFFFFF;
    margin-top: 20px;
}

.read:hover {
    background-color: #FFD338;
}

/* skills-section */

.skills {
    background-color: #FDF2E4;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 40px;
}

.skills h4 {
    margin: 80px auto 80px auto;
}

.skill-list-wrapper {
    display: flex;
    flex-direction: column;
}

.skill-list {
    margin-bottom: 65px;
    text-align: center;
    width: 188px;
}

ul {
    list-style: none;
}

/* contact-section - uses the same code as  */

.contact {
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.contact h4 {
    font-size: 58px;
    margin: 80px auto 65px auto;
    color: #EB5577;
}

.contact-wrapper {
    padding-left: 20px;
}

.contact-top {
    display: flex;
    flex-direction: column;
}

.contact-wrapper img {
    width: 164px;
    height: 164px;
    border-radius: 50%;
    display: block;
    margin: 0 auto 30px 0px;
}

.name {
    font-family: "satoshi-bold";
    font-size: 28px;
    color: #0B24F5;
}

.title {
    font-family: "satoshi-black", sans-serif;
    font-size: 32px;

}

.other {
    font-family: "satoshi-medium", sans-serif;
    font-size: 24px;
    margin-bottom: 65px;
}

.contact-info {
    font-family: "satoshi-black", sans-serif;
    font-size: 24px;
}

.contact-links {
    width: 327px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 100px auto 100px auto;
}

.contact-links img {
    height: 32px;
    width: 32px;
    opacity: 30%;
    transition: 0.2s;
}

.contact-links img:hover {
    opacity: 100%;
    transition: 0.1s;
}


/* media queries */

/* tablet */
@media (min-width: 668px) {
    .scroll-wrapper {
        display: block;
        height: 138px;
        width: 138px;
        margin-top: -350px;
        margin-bottom: 150px;
    }

    .scroll-wrapper-mobile {
        display: none;
    }

    header {
        flex-direction: column-reverse;
    }

    .header-img-wrapper {
        display: inline;
        height: 412px;
        width: 100%;
    }

    .header-img-wrapper img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    .profile-top,
    .contact-top {
        flex-direction: row;
    }

    .profile-title {
        margin-left: 15px;
        align-self: center;
    }

    .profile-links {
        margin-left: 5px;
    }

    .tech {
        padding-top: 270px;
        padding-bottom: 270px;
    }


    
    .project-wrapper {
        display: flex;
        flex-direction: row;
        height: 280px;
    }

    .project-img {
        height: 100%;
        width: 184px;
        margin-right: 15px;
    }

    .project-wrapper p {
        margin: 5px 0 20px 0;
    } 


    .project-buttons {
        flex-direction: row;
        align-items: start;
    }

    .skills {
        padding-top: 60px;
        padding-bottom: 160px;
    }

    .skill-list-wrapper {
        flex-direction: row;
        flex-wrap: wrap;
        width: 430px;
    }

    .skill-list {
        margin: 20px 12px;
        /* text-align: left; */
    }

    .contact-top {
        margin-bottom: 80px;
    }

    .contact-info {
        text-align: center;
        font-size: 32px;
    }

    .contact-title {
        margin-left: 25px;
        margin-top: 23px;
        align-self: center;
    }

    .contact h4 {
        font-size: 120px;
    }

}





/* desktop - small */
@media (min-width: 1024px) {
   
    header {
        flex-direction: row;
        padding-bottom: 0;
    }

    .header-img-wrapper {
        height: 100%;
        width: 50%;
    }

    .profile-wrapper {
        width: 50%;
        padding-left: 10px;
        padding-right: 10px;
    }

    .header-img-wrapper img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    .scroll-wrapper {
        margin-top: -500px;
        background-color: #0B24F5;
        border-radius: 40px;
    }

    .scroll-wrapper img {
        filter: brightness(5000%);
    }

    .tech-wrapper {
        flex-direction: row;
        align-items: end;
        margin-top: 225px;
    }
    
    .tech-wrapper p {
        margin-left: 120px;
    }


    .project-img {
        width: 280px;
   }

   .project-img img {
        width: 280px;
    } 
    /* (↑ For some reason, image nr. 2 wasn't 250px wide, so I gave the img a 
    width-property as well - even though I feel it shouldn't be necessary?) */


    .article-section {
        margin: 140px 80px 200px 80px;
    }

    .article-grid-wrapper {
        grid-template-columns: 1fr 1fr;
        column-gap: 30px;
    }

    .article-wrapper {
        min-width: 400px;
        max-width: 564px;
    }

    .skill-list-wrapper {
        width: 850px;
    }

    .skill-list {
        text-align: left;
    }



}
