* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
}

*:focus {
    outline: none;
}

section {
    padding: 25px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

/* Header */

.header-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    position: relative;
    grid-template-rows: repeat(13, 40px);
}

.header-image {
    display: grid;
    grid-column: span 12;
    width: 100%;
    object-fit: cover;
    height: 520px;
}

.headings-info {
    position: absolute;
    grid-row: 5;
    grid-column: 2;
}

.heading-1 {
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    letter-spacing: 0.04em;
    color: #FFFFFF;
}

.heading-2 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 49px;
    color: #FFFFFF;
}

.heading-2.tight {
    line-height: 28px;
}

.heading-3 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 55px;
    color: #FFFFFF;
}

.header-icons {
    grid-row: 1;
    grid-column: 10/12;
    position: absolute;
    margin-top: 20px;
}

/* Icons in header */

.header-icons a {
    font-size: 28px;
    color: #FFF;
    text-decoration: none;
}

.circle-icon {
    border: solid 2px;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 45px!important;
    transition: background-color .4s;
}

.header-icons .circle-icon:hover {
    background-color: #417f8b;
    color: #FFF;
}

.header-icons a {
    color: #ffffff;
    text-decoration: none;
}

.header-icons a:visited {
    color: #ffffff;
    text-decoration: none;
}

/* Round profile-image */

.profile-img {
    grid-row: 10;
    grid-column: 11;
    width: 180px;
    height: 180px;
    left: 171px;
    top: 356px;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid whitesmoke;
    overflow: hidden;
    z-index: 2;
}

/* Summary section */

.summary-section {
    background-color: white;
}

.summary-section p {
    grid-column: span 12;
    padding: 10px;
    font-family: Montserrat;
    font-weight: 400;
    font-size: 17px;
    line-height: 29px;
    color: #316B83;
}

.line {
    display: inline-block;
    width: 55px;
    height: 3px;
    background-color: #417f8b;
    margin-bottom: 4px;
}

.circle {
    display: inline-block;
    background-color: #417f8b;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    margin-left: -10px;
}

.section.section-blue {
    background-color: #316B83;
}

.section.section-blue p {
    color: #fff;
}

.section.centered p {
    text-align: center;
    font-family: Montserrat;
    font-weight: 400;
}
.section iframe{
    grid-column: span 12;
    padding: 0;
    margin: 0;
    width: 100%;
}

.heading-h2 {
    text-align: center;
    grid-column: span 12;
}

h2.heading.headingwhite {
    display: inline-block;
    padding: 2px 10px 2px 10px;
    font-family: Montserrat;
    font-weight: 700;
    font-size: 17px;
    line-height: 29px;
    text-align: center;
    color: #316B83;
    background-color: #fff;
}

.section p {
    grid-column: span 12;
    font-weight: 400;
    font-size: 17px;
    line-height: 29px;
    color: #316B83;
}

.section {
    grid-column: span 12;
    background: #fff;
    grid-gap: 20px;
}

h2.heading.headingblue {
    display: inline-block;
    padding: 2px 10px 2px 10px;
    font-family: Montserrat;
    font-weight: 700;
    font-size: 17px;
    line-height: 29px;
    text-align: center;
    color: #fff;
    background-color: #316B83;
}

h2.heading.solidblue {
    display: inline-block;
    padding: 2px 10px 2px 10px;
    font-family: Montserrat;
    font-weight: 700;
    font-size: 17px;
    line-height: 29px;
    text-align: center;
    color: #316B83;
}

/* Project section */

.project-card {
    grid-column: span 12;
    padding: 10px 0px 0px 0px;
    display: block;
}

.project-card-show-on-tablet {
    display: none;
}

.project-img-text {
    position: relative;
    background: black;
}

.projects-img {
    height: 100%;
    width: 100%;
    opacity: 0.6;
    margin-bottom: -5px;
}

.projectcard-img-header {
    width: 100%;
    height: 100%;
    top: 0;
    position: absolute;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.projectcard-img-header h3 {
    color: #fff;
    font-family: Montserrat;
    font-weight: 700;
    font-size: 27px;
}

h4.heading-card {
    padding-top: 10px;
    font-family: Roboto;
    font-weight: 700;
    font-size: 17px;
    line-height: 29px;
    letter-spacing: 0.01em;
}

a {
    text-decoration: none;
    color: #316B83;
}

a.montserrat {
    text-decoration: none;
    color: #316B83;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

/* Tags */

.tag-wrapper {
    padding-bottom: 5px;
    padding-top: 5px;
}

.tag-wrapper span {
    font-family: "Roboto", sans-serif;
    color: #fff;
    font-weight: 400;
    background-color: #316B83;
    text-decoration: none;
    letter-spacing: 0.01em;
    text-align: center;
    font-size: 10px;
    line-height: 11px;
    padding: 4px;
    margin: 2px;
}

.tag-github.tag-github {
    font-family: "Roboto", sans-serif;
    color: #fff;
    background-color: black;
    text-align: center;
    font-size: 10px;
    line-height: 11px;
    padding: 4px;
}

.arrow-other-prj {
    border: solid #316B83;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.skills {
    grid-column: span 6;
}

.skills ul {
    list-style: none;
    font-size: 14px;
}

.skills li {
    padding: 2px 0px 3px 0px;
}

.skills ul {
    list-style: none;
    font-size: 14px;
}

.skills h3 {
    font-size: 18px;
    color: #316B83;
}

h4.heading-thoughts {
    color: white;
}

.formore-icons {
    text-align: center;
    grid-column: inherit;
}

.formore-icons {
    padding: 10px;
    color: white;
    border-style: solid 2px;
    font-size: 28px;
}

.formore-icons .circle-icon:hover {
    background-color: #417f8b;
    color: #FFF;
}

.formore-icons a {
    color: #ffffff;
    text-decoration: none;
}

.formore-icons a:visited {
    color: #ffffff;
    text-decoration: none;
}

.section.section-contact {
    background-color: #417f8b;
    padding-bottom: 55px;
}

.section-contact p {
    color: #fff;
    line-height: 5px;
}

a.section-contact p {
    color: #fff;
    line-height: 5px;
}

a.mail {
    color: #fff;
    line-height: 5px;
    font-family: 'Montserrat', sans-serif;
}

.heading.headingwhite.contact {
    color: #417f8b;
}

.hidden-mobile {
    display: none;
}

/* tablet */

@media (min-width: 767px) {
    .header-icons {
        grid-row: 1;
        grid-column: 11;
        position: absolute;
        margin-top: 20px;
    }
    .headings-info {
        grid-row: 6;
    }
    .heading-1 {
        font-size: 20px;
        margin-bottom: 10px;
    }
    .heading-2 {
        font-size: 47px;
        line-height: 57px;
    }
    .heading-3 {
        font-size: 30px;
        line-height: 47px;
        margin-top: 7px;
    }
    .heading-3 {
        font-size: 30px;
        line-height: 47px;
        margin-top: 7px;
    }
    .profile-img {
        grid-row: 9;
        width: 270px;
        height: 270px;
    }
    .summary-section {
        padding: 70px 100px 70px 100px;
    }
    .summary-section p {
        padding-top: 35px;
        font-size: 20px;
    }
    .section.centered p {
        padding: 0px 100px 30px 100px;
    }
    .hidden-mobile {
        display: unset;
    }
    .project-card {
        grid-column: span 6;
    }
    .section.pad-tablet {
        margin-right: 10%;
        margin-left: 10%;
    }
    .featured-projects-section {
        margin-right: 10%;
        margin-left: 10%;
    }
    .project-card tablet and mobile {
        grid-row: 3;
    }
    .skills {
        grid-column: span 3;
        padding-bottom: 20px;
    }
    .section.section-contact p {
        line-height: 2px;
        padding-bottom: 0px;
    }

    .section iframe{
        grid-column: 4/10;
        padding: 0;
        margin: 0;
        width: 100%;
    }
}

/* desktop */

@media (min-width: 1024px) {
    .headings-info {
        grid-row: 4;
    }
    .heading-1 {
        font-size: 28px;
        line-height: 40px;
    }
    .heading-2 {
        font-size: 82px;
        line-height: 100px;
    }
    .heading-2.tight {
        line-height: 55px;
    }
    .heading-3 {
        font-size: 50px;
        line-height: 78px;
    }
    .heading-h2 {
        margin-top: 1%;
        margin-bottom: 1%;
    }
    .section.pad-tablet {
        padding-top: 45px;
    }
    .summary-section {
        font-size: 20px;
    }

    .summary-section p {
        grid-column: 3/11;
    }
    
    .section.centered p {
        font-size: 20px;
        grid-column: 3/11;
    }
    .project-card.desktop {
        grid-column: span 12;
    }
    
    .skills {
        padding-top: 20px;
    }
    .section.section-contact p {
        line-height: 1px;
        padding-bottom: 0px;
    }
    .section.pad-tablet {
        margin-right: 10%;
        margin-left: 10%;
    }
    .featured-projects-section {
        margin-left: 10%;
    }
    .tag-wrapper span {
        font-size: 15px;
    }
    .tag-github.tag-github {
        font-size: 15px;
    }
}