/* FOR MOBILE FIRST*/
a:link {
    text-decoration: none;
  }

body{
    font-family: "Montserrat", sans-serif;
    margin:0 auto;
   
}

header {
background-image: url(./images/Header_image.jpg);
background-position:20%;
width: 100%;
height: 520px;
margin-bottom: 0;
}

.icon-top{
    width: 25px;
    height: 25px;
}

.single-icon-container {
    background-color: rgb(41, 58, 79);
    width: 45px;
    height: 45px;
    padding: 5px;
    border: 2px solid white;
    border-radius: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.icons-top-container {
    position: absolute;
    right: 30px;
    top: 48px;
    width: 200px;
    height: 40px;
    display: flex;
    justify-content: space-evenly;
    position: absolute;

}

.heading{
    width: 260px;
    height: 202px;
    left: 24px;
    top: 121px;
    color: white;
    letter-spacing: 0.04em;
    position: absolute;
}

h1 {
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 4%;
    font-weight: 400;
    margin-bottom: 0;
}

.name{
    font-weight: 700;
}

h2 {
    font-size: 50px;
    font-weight: 700;
    line-height: 60px;
    margin-top: 0;
    margin-bottom: 0;
}

h3{
    font-size: 25px;
    font-weight: 700;
    margin-top: 0;
}

h4 {
    font-size: 22px;
    color: rgb(41, 58, 79);
    text-align: center;
    margin: 50px;

}

h5{
    font-weight: 700;
    font-size: 17px;
}

p {
    font-size: 17px;
    color: rgb(41, 58, 79);
}

.profile-image {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    border: 3px solid white;
    object-fit: cover;
    right: 30px;
    top: 380px;
    position: absolute;
}

/* ABOUT ME */
.intro-container {
    width: 100%;
    height: 400px;
    background: rgb(233, 226, 220);
    margin-top: 0;
    padding-top: 10px;
}

.presentation {
    width: 327px;
    height: 200px;
    font-size: 17px;
    line-height: 29px;
    padding: 30px;
    margin-top:60px;
}

/* TECH */
.tech-skills {
    width: 327px;
    height: 180px;
    text-align: center;
    margin: 5px auto;
    line-height: 30px;
    margin-bottom: 30px;
}

/* PROJECTS */
.projects-container {
    width: 100%;
    height: 1100px;
    background-color: rgb(218, 185, 168); 
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
}

.projects-heading{
    color: white;

}
.project{
    width: 327px;
    margin-bottom: 60px;
}

.project-name{
    font-size: 20px;
    font-weight: 700 ;
    margin: 12px 0px 0px 0px;
    color: rgb(41, 58, 79);
}

.project-image-container{
    background-color: rgb(41, 58, 79);
}

.project-image {
    width: 327px;
    height: 212px;
    left: 24px;
    top: 1222px;
    opacity: .5;
}

.img-text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
}

.project-image:hover {
    opacity: 1;
}


.tag-container{
    display: flex;
    flex-wrap: wrap;
}

.tag{
    background-color: rgb(41, 58, 79);
    margin: 0px 12px 8px 0px;
    padding: 5px;
    color: white;
}

/* THOUGHTS ABOUT CODING */
.thoughts-container {
    width: 100%;
    height: 200px;
}

/* SKILLS */
.skills-main{
width: 100%;
height: 470px;
left: 0px;
top: 3478px;
background: rgb(233, 226, 220);
display: flex;
flex-direction: column;

}

.skills-heading {
    color: rgb(41, 58, 79)
}

.skill-list-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;   
}

.skill-container {
width: 200px;
height: 325px;
font-size: 17px;
text-align: center;
}

/* SKILLS */
.more-container {
    background-color: rgb(41, 58, 80);
    width: 100%;
    height: 270px;
    padding-top:10px;
}

/* FOR MORE */
.more-heading{
    color: white;
}

.icon {
    width: 50px;
    height: 50px;
    padding: 20px;
}

.icon-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/* CONTACT */
.contact-container {
    height: 200px;
}

.contact-info {
    text-align: center;
    margin: 2px;
}


/* For tablet and desktop
@media (min-width:667px) and (max-width: 1024px)
@media (min-width:1024px)
*/

/* FOR DESKTOP*/
@media (min-width:1024px){
    .profile-image {
        width: 300px;
        height: 300px;
        right: 150px;
        top: 280px;
    }

    .icons-top-container {
        right: 170px;
        top: 48px;
    }

    .heading{
        width: 607px;
        height: 339px;
        left: 150px;
        top: 150px;
    }   


h1 {
    font-size: 28px;
    line-height: 37px;
}


h2 {
    font-size: 82px;
    line-height: 80px;
}

h3{
    font-size: 30px;
    line-height: 50px;
}

h4 {
    font-size: 48px;

}

h5 {
    font-size:25px;
}

p {
    font-size: 25px;
}

.intro-container{
    height: 432px;
    top: 668px;
}

.presentation {
    width: 1100px;
    height: 150px;
    font-size: 30px;
    line-height: 50px;
    padding: 30px;
    margin-left: 150px; 
}

.tech-skills {
width: 1000px;    
height: 200px;
font-size: 30px;
line-height: 50px;   
}

.featured-projects {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1100px;
}

.project{
    width: 523px;
}

.project-name{
    font-size: 25px;
}

.project-image-container{
    background-color: rgb(41, 58, 79);
    width: 523px;
    height: 306px;
}

.project-image {
    width: 523px;
    height: 306px;
}

.skills-main{
    width: 100%;
    height: 840px;
    left: 0px;
    top: 3478px;
    background: rgb(233, 226, 220);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.skill-list-container{
    height: 500px;
}
       
.more-container {
    height: 570px;
 }

.icon-bottom-container {
    margin: 50px;
}

 .icon {
    width: 100px;
    height: 100px;
}

.contact-container {
    height: 300px;
}

}



