.contact {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}

.contact-info {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 0 auto;
  align-items: center;
  padding-top: 30%;
}

.contact h3 {
  font-size: 26px;
  padding-bottom: 0.5em;
}

.email a {
  display: flex;
  flex-direction: row;
}

#email {
  width: 20px;
  padding: 0 0.5em 0.5em 0;
}

.to-top {
  display: flex;
  width: 100%;
  justify-content: end;
  padding: 0 1em 1em 0;
}

@media screen and (min-width: 768px) {
  .contac-info {
    width: 70%;
    padding-top: 10%;
  }
  .to-top {
    padding: 0 3em 2em 0;
  }
}

@media screen and (min-width: 1200px) {
  .contact-info {
    width: 50%;
    padding-top: 10%;
  }
  .to-top {
    padding: 0 5em 3em 0;
  }
}
