.contact {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 0 auto;
  align-items: center;
  padding: 3em 0;
}

.contact h3 {
  font-size: 26px;
  padding-bottom: 0.5em;
}

.email a {
  display: flex;
  flex-direction: row;
}

#email {
  width: 20px;
  padding: 0 0.5em 0.5em 0;
}

.to-top {
  display: flex;
  justify-content: end;
  padding: 0 1em 2em 0;
}

@media screen and (min-width: 768px) {
  .contact {
    width: 70%;
  }
  .to-top {
    padding: 0 3em 2em 0;
  }
}

@media screen and (min-width: 1200px) {
  .contact {
    width: 50%;
    padding: 10em 0 2em 0;
  }
  .to-top {
    padding: 0 5em 3em 0;
  }
}
