.intro-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: fit-content;
  min-height: 100vh;
}

.intro {
  width: 90%;
  margin: 0 auto;
  height: fit-content;
  padding: 0 5% 0 5%;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.intro h1 span{
  font-family: 'Modern-sans';
  font-size: 26px;
}

.intro h1 {
  font-size: 60px;
}

#portrait {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin-top: 3em;
  margin-bottom: 1em;
  opacity: 0.7;
}
.img-text {
  width: 250px;
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 1rem;
}

.img-text p {
  line-height: 1.3;
}

.intro a {
 align-self: center;
}

.intro a:hover {
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .intro h1 {
    word-spacing: 30px;
  }

  .intro h1 span {
    letter-spacing: 2px;
    line-height: 0.6;
  }

  #portrait {
    width: 200px;
    height: 200px;
    margin-bottom: 2em;
  }

  .img-text {
    width: 300px;
  }

  .img-text p {
    font-size: 26px;
    font-weight: 300;
    padding: 0;
  }

  .arrow-container {
    margin-top: 3em;
  }
}

@media screen and (min-width: 1024px) {
  .intro {
    text-align: left;
  }
  .intro h1 {
    font-size: 170px;
    word-spacing: 30px;
  }

  .intro h1 span {
    font-size: 50px;
    letter-spacing: 2px;
    word-spacing: 2px;
    line-height: 0.6;
  }

  .intro h2 {
    font-size: 60px;
    margin-top: 6em;
  }

  .img-text {
    position: absolute;
    right: 2em;
    top: 1em;
  }

  .img-text p {
    font-size: 20px;
  }

  #portrait {
    width: 200px;
    height: 200px;
    margin-bottom: 2em;
  }

}
@media screen and (min-width: 1200px) {
  .intro{
    margin-top: 10rem;
  }
  .intro h2 {
    font-size: 60px;
    margin-top: 1em;
  }
  .intro a {
    margin-top: 4rem;
   }
}
