.tech-section {
  width: 100%;
  height: 100vh;
  background-color: var(--green);
  color: var(--pink);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tech {
  width: 90%;
  height: 70%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.5fr 1fr 1fr 0.5 1fr;
  text-align: center;
  padding-top: 15%;
}

.tech h1 {
  line-height: 0.6;
  font-size: 3.5rem;
}

.tech p {
  font-size: 1.5rem;
  max-width: 500px;
  margin: 0 auto;
}

.second-arrow-container {
  margin-bottom: 15%;
}

.second-arrow-container:hover {
  cursor: pointer;
}

@media screen and (min-width: 1024px) {
  .tech h1 {
    font-size: 5rem;
  }

  .tech p {
    font-size: 3rem;
    max-width: 600px;
  }
}

@media screen and (min-width: 1200px) {
  .tech {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 0.5fr 1fr;
    padding-top: 10em;
  }

  .tech h1 {
    line-height: 0.6;
    font-size: 70px;
  }

  .tech p {
    font-size: 40px;
  }

  #title-tech {
    grid-area: 1 / 2 / 2 / 3;
  }

  #tech-description {
    grid-area: 1 / 3 / 2 / 6;
  }

  #plus {
    grid-area: 2/ 2 / 3 / 3;
  }

  #art-title {
    grid-area: 3 / 2 / 4 / 3;
  }

  #art-description {
    grid-area: 3 / 3 / 4 / 6;
  }

  .second-arrow-container {
    margin-top: 0;
  }
}
