.tech-section {
  width: 100%;
  min-height: 100vh;
  background-color: var(--green);
  color: var(--pink);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tech {
  width: 90%;
  height: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.5fr 1fr 0.5fr 0.5fr 1fr;
  text-align: center;
  padding-top: 2em;
}

.tech h1 {
  line-height: 0.6;
  font-size: 3.5rem;
}

.tech p {
  font-size: 1.5rem;
}

#plus {
  padding: 3em 0;
}

.second-arrow-container {
  margin-top: 1.5em;
}

.second-arrow-container:hover {
  cursor: pointer;
}

@media screen and (min-width: 1200px) {
  .tech {
    display: grid;
    height: 500px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  }

  .tech h1 {
    line-height: 0.6;
    font-size: 70px;
  }

  .tech p {
    font-size: 40px;
  }

  #title-tech {
    grid-area: 1 / 2 / 2 / 3;
    gap: 4em;
  }

  #tech-description {
    grid-area: 1 / 3 / 2 / 6;
  }

  #plus {
    grid-area: 2/ 2 / 3 / 3;
  }

  #art-title {
    grid-area: 3 / 2 / 4 / 3;
    gap: 4em;
  }

  #art-description {
    grid-area: 3 / 3 / 4 / 6;
  }
}
