.featured-projects-container {
  display: flex;
  flex-direction: column;
  padding: 128px 32px;
  align-items: center;
  margin: 0 auto;
}

.featured-projects {
  display: flex;
  flex-direction: column;
  /* align-items: flex-start; */
  gap: 64px;
}

.featured-projects-title {
  color: #0b24f5;

  /* margin: 0 auto; */
  font-family: "Montserrat";
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 66px;
}

@media (min-width: 745px) and (max-width: 1280px) {
  .featured-projects-title {
    font-size: 56px;
    line-height: 66px;
  }
  .featured-projects-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 90%;
  }

  .featured-projects {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 64px;
  }
}

@media screen and (min-width: 1281px) {
  .featured-projects-title {
    font-size: 80px;
    line-height: normal;
  }
  .featured-projects-container {
    display: inline-flex;
    padding: 128px 0px 124px 0px;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
  }

  .featured-projects {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 128px;

    /* min-width: 820px; */
  }
}
