.footer-section {
    color: var(--color-secondary);
    grid-column: span 4;
}

.footer-image-container {
    grid-column: span 4;
    display: flex;
    justify-content: center;
}

@media(min-width: 667px) {
    .footer-section {
        grid-column: span 8;
    }
}