.grid-section {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 64px 16px;
}

.white-background {
    background: var(--secondary-color);
}

.black-background {
    background: var(--primary-color);
}