.grid-section {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 64px 16px;
}

/* .pink-background {
    background: var(--color-primary);
}

.white-background {
    background: whitesmoke;
} */