.grid-section {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.white-background {
  background: var(--secondary-color);
  padding: 64px 16px;
}

.black-background {
  background: var(--primary-color);
  padding: 128px 24px;
}

/* Breakpoint for tablet */
@media (min-width: 480px) and (max-width: 768px) {
  .grid-section {
    grid-template-columns: repeat(8, 1fr);
  }
  .white-background {
    padding: 128px 24px;
  }
}
/* breakpoint for small desktop */
@media (min-width: 769px) and (max-width: 1024px) {
  .grid-section {
    grid-template-columns: repeat(12, 1fr);
  }
}

@media (min-width: 1025px) and (max-width: 1200px) {
  .grid-section { 
    grid-template-columns: repeat(12, 1fr);
  }
  .white-background {
    padding: 128px 64px;
  }
  .black-background {
    padding: 128px 128px;
  }
}
@media (min-width: 1200px) {
  .grid-section { 
    grid-template-columns: repeat(12, 1fr);
  }
  .white-background {
    padding: 128px 128px;
  }
  .black-background {
    padding: 128px 128px;
  }
}