.social-media-icon {
  color: black;
}

a.social-media-icon:hover {
  scale: 1.1;

  /* Changes icons to pink on hover */
  filter: brightness(0) saturate(100%) invert(29%) sepia(93%) saturate(2551%) hue-rotate(310deg) brightness(93%) contrast(106%);
}