.bio-card {
  background-color: #000;
}

.bio-card .bio-heading,
.bio-text {
  color: #FFF;
}

.bio-text {
  text-align: center;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}