.contact-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 128px 16px;
}

.contact-content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 64px;
}

.contact-text-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.contact-title {
  color: var(--primary-color);
  font-family: var(--header-font);
  font-size: var(--font-size-56);
  font-weight: var(--font-weight-700);
  text-align: center;
}

.contact-text-box p {
  font-family: var(--header-font);
  font-size: var(--font-size-24);
  font-weight: var(--font-weight-600);
}

/* contains social media icons */
.platform-icons-container {
  display: flex;
  align-items: flex-end;
  gap: 32px;
}

.platform-icons-container a:hover {
  cursor: pointer;
  filter: invert(100%);
}
