.contact-section {
  background-color: #FFF;
  border: solid pink;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  overflow: hidden;
  /* Prevent any overflow on smaller screens */
  width: 100vw;
  /* Full viewport width */
}

.contact-heading {
  color: #000;
  max-width: 74rem;
  padding-top: 8rem;
  flex-direction: column;
  text-align: center;
  gap: 8rem;
}

.profile {
  display: flex;
  flex-direction: column;
  /* Adjust if you want horizontal layout */
  align-items: center;
  margin-bottom: 2rem;
}

.profile-image {
  width: 150px;
  /* Adjust size as needed */
  height: 150px;
  /* Maintain aspect ratio */
  border-radius: 50%;
  /* Create ellipse shape */
  object-fit: cover;
  /* Ensure the image covers the shape */
  margin-bottom: 1rem;
  /* Space below image */
}

.contact-info,
.contact-name {
  text-align: center;
  font-size: 1.125rem;
  /* Keep your current font size */
  font-style: normal;
  font-weight: 400;
  /* line-height: 1.5; */
  display: block;
  margin-top: 10px;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.social-links {
  display: flex;
  justify-content: center;
  gap: 1rem;
  /* Space between icons */
}

.social-icon {
  width: 30px;
  /* Adjust size as needed */
  height: 30px;
  /* Maintain aspect ratio */
}