 .projects-section {
   background-color: #FFF;
   border: solid pink;
   width: 100%;
   align-items: center;
   display: flex;
   flex-direction: column;
   box-sizing: border-box;
   overflow: hidden;
   /* Prevent any overflow on smaller screens */
   width: 100vw;
   /* Full viewport width */
 }

 .projects-heading {
   color: #000;
   max-width: 74rem;
   padding: 8rem 0rem;
   flex-direction: column;
   text-align: center;
   gap: 8rem;
 }