footer {
  display: flex;
  background-color: var(--primary-color);
  color: #fff;
  width: 2000px;
  height: 114px;
  align-items: center;
  justify-content: center;
}

footer p {
  color: #fff;
  font-family: var(--header-font);
  font-size: 26.038px;
  font-weight: var(--font-weight-600);
  line-height: 37.874px;
}

/* footer text slide animation  */
.text-slide {
  white-space: nowrap;
  animation: 10s slide infinite linear;
}

@keyframes slide {
  from {
    transform: translateX(25%);
  }
  to {
    transform: translateX(-25%);
  }
}
