.header {
  display: flex;
  padding: 4rem 1.5rem;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1rem;
  background-color: #000;
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}

h1 {
  margin: 0;
}

.welcome {
  padding-top: 128px;
  font-size: 1.9rem;
  font-weight: 500;
  color: #FFF;
  margin: 0;
}

.name {
  font-size: 6.25rem;
  color: #FFF;
  font-weight: 700;
  margin: 0.5rem 0;
  line-height: normal;
}


.intro-text {
  font-size: 1.875rem;
  font-weight: 500;
  text-align: center;
  margin: 0;
  color: #FFF;
  display: block;
}

@media (max-width: 480px) {
  .name {
    font-size: 3.75rem;
    /* Adjust size for mobile */
  }
}