.gallery {
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* gap: 16px; */
  position: relative;
}


.project-1 {
  transform: rotate(-4.695deg);
  position: absolute;
  z-index: 1;
  top: 10px;
  left: 5px;
}

.project-2 {
  position: relative;
  z-index: 2;
  left: 80px;
}

.project-3 {
  transform: rotate(4.695deg);
  position: absolute;
  z-index: 1;
  top: 10px;
  left: 152px;
}






/* .projects-gallery .gallery {
  display: flex;
  justify-content: center;
  position: relative;
}

.project-1,
.project-2,
.project-3 {
  position: relative;
}

.project-1 {
  width: 357.97px;
  height: 381.335px;
  transform: rotate(-4.695deg);
  flex-shrink: 0;
  z-index: 1;
  /* Layer it behind project 2 */
/* }

.project-2 {
  width: 358px;
  height: 382px;
  flex-shrink: 0;
  z-index: 2;
  /* Bring this one to the front */
/* margin: 0 -40px;
  /* Adjust for overlap as needed */
/* } */

/* .project-3 {
  width: 357.97px;
  height: 381.335px;
  transform: rotate(4.695deg);
  flex-shrink: 0;
  flex-shrink: 0;
  z-index: 1;
  /* Layer it behind project 2 */
/* }  */