.projects-gallery .gallery {
  display: flex;
  gap: 1rem;
  /* Optional: Adds space between images */
  justify-content: center;
  /* Centers the images horizontally */
}

.project-1 {
  width: 357.97px;
  height: 381.335px;
  transform: rotate(-4.695deg);
  flex-shrink: 0;
}

.project-2 {
  width: 358px;
  height: 382px;
  flex-shrink: 0;

}

.project-3 {
  width: 357.97px;
  height: 381.335px;
  transform: rotate(4.695deg);
  flex-shrink: 0;
}