/* --------------- Containers and boxes ---------------- */

.skills-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 128px 16px 157px 16px;
  background-color: var(--primary-color);
  gap: 64px;
}

.skills-mobile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 64px;
}

.skills-desktop-container {
  display: none;
}

/* ------------------ Headers and text ------------------- */

.skills-title {
  font-family: var(--header-font);
  font-size: var(--font-size-56);
  font-weight: var(--font-weight-700);
  text-align: center;
  color: #fff;
}

/* a wavy border at the top of the skills section */
.wavy-border {
  background: url("../assets/wavy-line.svg") center/auto 100%;
  position: relative;
  top: 5px;
  height: 11px;
  width: 100%;
}

/* --------------- // RESPONSIVE DESIGN // ---------------- */

@media (min-width: 745px) {
  .skills-container {
    display: inline-flex;
    gap: 64px;
    padding: 128px 32px 148px 32px;
  }

  .skills-mobile-container {
    display: none;
  }

  .skills-desktop-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 64px;
    width: 680px;
  }

  .skills-desktop-box {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 64px;
    align-self: stretch;
  }
}

@media (min-width: 1281px) {
  .skills-container {
    padding: 128px 161px;
    gap: 128px;
  }

  .skills-desktop-container {
    display: none;
  }

  .skills-mobile-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    width: 958px;
  }

  .skills-title {
    font-size: var(--font-size-80);
  }
}

@media (min-width: 1513px) {
  .skills-container {
    padding: 128px 234px;
  }

  .skills-mobile-container {
    width: 1044px;
  }
}
