.tech-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 64px;
  padding: 128px 16px;
  background-color: var(--primary-color);
}

/* ----- text styling ----- */

.tech-title {
  color: #fff;
  font-family: var(--header-font);
  font-size: var(--font-size-56);
  font-weight: var(--font-weight-700);
  text-align: center;
}

.tech-container p {
  color: #fff;
  font-family: var(--text-font);
  font-size: var(--font-size-24);
  font-weight: var(--font-weight-600);
}
