

.project-wrapper {
    display: flex; 
    flex-direction: column;
    padding: 128px 16px; 
}

.project-card-info {
    display: flex;
    flex-direction: column;
    gap: 16px; 
}

.project-card-tags {
    display: flex;
    align-items: start;
    gap: 4px; 
}

.project-card-buttons {
    display: flex; 
    flex-direction: column;
    align-items: start;
    gap: 16px; 
    margin-top: 24px; 
    margin-bottom: 64px;
 }

.project-card:last-child .project-card-buttons {
    margin-bottom: 0; 
}
/*FOR DESKTOP AND TABLET*/
/* .project-wrapper {
    display: flex; 
    flex-direction: column;
}

.project-card {
    display: flex; 
}

 .project-card-img {
     width: 30%; 
    
 }
 .project-card-info {
     text-align: left;
 }
 .project-card-header{
     font-family: "Montserrat";
 }
 .project-card-tags {
     display: flex;
 }

 .project-card-buttons {
    display: flex; 
  
 } */