/* Default (Mobile) */
.skill-card {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

.skill-list {
  list-style-type: none;
}

/* Tablet */
@media (min-width: 768px) and (max-width: 1023px) {
  .skill-card {
    width: 25%;
  }

  .skill-list {
    text-align: center;
  }
}