.techBox {
    background: #0B24F5;
    display: inline-flex;
    height: 980px;
    padding: 0px 128px 0px 230px;
    justify-content: flex-end;
    align-items: center;
    gap: 124px;
    flex-shrink: 0;
}

h2.h2 {
    width: 600px;
    color: #FFF;
    font-family: Hind;
}