.readMoreButton {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  margin-top: 32px;
}

.readMoreButton button {
  background: #fff;
  color: #333333;
  border-radius: 40px;
  border: none;
  display: flex;
  align-items: center;
  gap: 7px;
}

.readMoreButton p {
  padding-right: 16px;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

.readMoreButton button svg {
  fill: #333333;
}

.readMoreButton button:hover {
  background: #ffd338;
  color: #000000;
  transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
}

.readMoreButton button:hover p {
  color: #000000;
  transition: color 0.3s ease-in-out;
}
