.article-pic {
    width: 100%;
    height: 20rem;
    object-fit: cover;
    border-left: 2rem solid var(--secondary-color);
    border-bottom: 2rem solid var(--secondary-color);
    margin-top: 6.4rem;
    margin-bottom: 2.4rem;
}

.article-text .button-container {
    position: relative;
}