body {
    max-width: 100%;
}


.MyWords-container {
    background-color: rgb(255, 236, 243);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
    width: 100%;

}

.myword-header-wrapper {
    width: 100%;
    background-color: rgb(255, 236, 243);
    color: rgb(255, 69, 117);
    display: flex;
}

.myword-header-wrapper h1 {
    padding-left: 30px;
}

.divider {
    height: 20px;
    margin: 0;
    margin-top: 200px;
    position: relative;
    background: linear-gradient(to bottom, transparent 50%, rgb(255, 236, 243) 50%);
}

.divider img {
    width: 100%;
}

.mywords-wrapper button {
    border: none;
    margin-bottom: 100px;
    position: relative;
    /* Make the button a positioning context for the pseudo-element */

}


.MyWords-img {
    border-left: 20px solid rgb(255, 69, 117);
    border-bottom: 20px solid rgb(255, 69, 117);
}


.MyWords-item {
    margin-bottom: 20px;
    width: 90%;

}

.mywords-tags span:nth-child(1),
.mywords-tags span:nth-child(2),
.mywords-tags span:nth-child(3),
.mywords-tags span:nth-child(4) {
    background-color: black;
    color: white;
    margin-right: 5px;
    width: auto;
    padding: 2px;
    font-size: 20px;

}

@media (min-width:1024px) {
    body {
        width: 100%;
    }

    .MyWords-container {
        display: grid;


    }

    .divider img {
        width: 100%;
    }

    .MyWords-item {
        width: 90%;
        margin: 20px;

    }

    .myword-header-wrapper {
        background-color: rgb(255, 236, 243);
        display: flex;

    }

    .myword-header-wrapper h1 {
        margin-left: 20px;
    }

    .myword-card-container {
        display: grid;
        grid-template-columns: 1fr 1fr;



    }
}

@media (max-width:667px) {
    body {
        width: 100%;
    }

    .MyWords-item {
        width: 80%;
        margin: 20px;
    }

    .MyWords-img {
        width: 250px;
        height: 220px;
    }

    .myword-header-wrapper h1 {
        font-size: 60px;
    }
}