.library-container {
  background-color: black;
  display: flex; /* Enable flexbox */
  justify-content: center;
}

.image-container {
  margin: 0px 16px;
  position: relative;
  min-height: 160px;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 280px;
  width: 100%;
}

.image-wrapper {
  position: relative; /* Needed for positioning the images */
  display: flex;
  justify-content: center;
  width: 100%;
}

.img1,
.img2,
.img3 {
  width: 130px;
  height: 140px;
  flex-shrink: 0;
  border-radius: 12px;
  position: absolute;
}

.img1 {
  transform: rotate(-4.695deg);
  position: absolute;
  z-index: 1;
  top: 10px;
  left: 5px;
}

.img2 {
  position: relative;
  z-index: 2;
}

.img3 {
  transform: rotate(4.695deg);
  position: absolute;
  z-index: 1;
  top: 10px;
  left: 145px;
}

@media (min-width: 375px) {
  .img1,
.img2,
.img3 {
  width: 158px;
  height: 168px;
}
.img1 {
  top: 10px;
  left: -30px;
}

.img3 {
  top: 10px;
  left: 155px;
}

}