.tech-container {
  padding: 128px 16px;
  background-color: var(--primary);
}

.tech-wrapper {
  display: flex;
  flex-direction: column;
  gap: 64px;
  align-items: center;
}

/* Media Queries  */
/* --- Tablet --- */
@media screen and (min-width: 745px) {
  .tech-container {
    padding: 256px 32px;
  }

  .tech-wrapper {
    text-align: center;
  }
}

@media (min-width: 1280px) {
  .tech-container {
    padding: 256px 161px;
    display: flex;
    justify-content: center;
  }

  .tech-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 124px;
    text-align: left;
  }
}

@media screen and (min-width: 1513px) {
  .tech-container {
    padding: 256px 234px;
  }
}
