.linkedIn-btn button,
.githubProfile-btn button {
    border: none;
    color: #D0D0D0;
    background: transparent;    
}

.linkedIn-btn button:hover,
.githubProfile-btn button:hover {
    color: black;
    transition: color 0.3s ease-in-out;
}