.article-card {
  display: flex;
  flex-direction: row;
  padding: 1rem;
  align-self: stretch;
  width: 74rem;
  gap: 7.8125rem;
  width: 100%;
  /* Allow full width */
  max-width: 74rem;
  /* Limit width for larger screens */
  box-sizing: border-box;
}

.article-image {
  width: 29.9375rem;
  height: auto;
  border-radius: 0.75rem;
}

.article-content {
  color: #FFF;
}

.article-button {
  border-radius: 0.75rem;
  background: #FFF;
  color: #000;
  display: flex;
  width: 18.9375rem;
  height: 3rem;
  padding: 0rem 1rem;
  align-items: center;
  gap: 1rem;
}

.button-icon {
  width: 32px;
  height: 32px;
  flex-shrink: 0;
  /* Prevent icon from shrinking */
}

.button:hover {
  background-color: #5ea7b6;
  cursor: pointer;
  transition: background-color .2s;
}

/* Ensure that links styled as buttons do not show underlines */
.article-card a {
  text-decoration: none; /* Remove underline from link */
}

.article-card a:hover {
  text-decoration: none; /* Ensure underline is removed on hover */
}

@media (max-width: 930px) {
  .article-card {
    width: 100%; /* Ensure the card takes up full width at smaller screen sizes */
    max-width: 100%;
    gap: 1.5rem; /* Slightly reduce the gap */
    flex-direction: column;
  }

  .article-image {
    width: 100%; /* Make the image responsive */
    height: auto;
    margin: 0;
    padding: 0;
  }
}

@media (max-width: 768px) {
  .article-card {
    flex-direction: column;
    /* Stack on smaller screens */
    align-items: center;
    /* Center align items */
    text-align: left;
    /* Left-align text */
    gap: 2rem;
    width: 100%; /* Ensure the card takes up the full width */
    max-width: 100%; /* Prevent overflow */
  }

  .article-image {
    width: 100%;
    /* Make the image responsive */
    height: auto;
    /* Maintain aspect ratio */
    margin: 0;
    /* Remove any default margin */
    padding: 0;
    /* Ensure padding is zero */
  }
}

@media (max-width: 480px) {

  .article-image {
    width: 100%;        /* Let width adjust based on height */
    height: 12.5rem;      /* Set a fixed height for a vertical look */
    align-self: stretch;
    aspect-ratio: 3/4; /* Makes the image vertically rectangular */
    display: block;
    margin: 0 0 1rem;
    object-fit: cover;  /* Ensure image covers the area without distortion */
  }
}