.button {
  border-radius: 0.75rem;
  background: #000;
  color: #FFF;
  display: flex;
  width: 18rem;
  height: 3rem;
  padding-left: 1rem;
  align-items: center;
  gap: 1rem;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding-top: 2rem;
  /* This will create space between buttons */
}

.white-button {
  background-color: white;
  color: black;
  margin-top: 2rem; 
}

/* Text styling for buttons */
.button span,
.white-button span {
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 500;
  font-family: "poppins";
}

.span {
  text-decoration: none; /* Ensure no underline on link */
}

/* See ArticleCard.css for hover styling and button icon size for all buttons.  */

