.heading2 {
  font-size: 5rem;
  font-weight: 700;
  line-height: normal;
  text-align: center;
  margin: 0;
}

.heading3, .article-title {
  font-size: 1.875rem;
  font-weight: 500;
  margin-bottom: 0.8rem;
}

@media (max-width: 768px) {
  .heading2 {
    font-size: 3.75rem;
  }

.heading3 {
  font-size: 1rem;
}
}