.project-card {
  display: flex;
  flex-direction: row;
  gap: 7.8125rem;
  align-self: stretch;
  width: 74rem;
  width: 100%; /* Allow full width */
  max-width: 74rem; /* Limit width for larger screens */
  box-sizing: border-box; /* Ensure padding is included in width */
  padding-left: 1.5rem;
}

.project-image {
  width: 29.9375rem;
  height: auto;
  border-radius: 0.75rem;
  gap: 2rem;
}

@media (max-width: 930px) {
  .project-card {
    flex-direction: column;
    padding: 0 1.5rem;
    gap: 4rem;
  }

  .project-image {
    width: 43.5rem;
    height: auto;
    border-radius: 0.75rem;
    gap: 2rem;
  }
}

@media (max-width: 768px) {
  .project-content {
    flex-direction: column;
    /* Stack on smaller screens */
    align-items: center;
    text-align: left;
    gap: 4rem;
  }

  .project-image {
    width: 100%;
    height: 29.9375rem;
  }
}

@media (max-width: 480px) {
  .project-card {
    flex-direction: column;
    /* Stack on smaller screens */
    align-items: center;
    text-align: left;
    gap: 1rem;
    padding: 0;
  }

  .project-image {
    width: 100%; /* Make the image responsive */
    height: auto; /* Maintain aspect ratio */
    margin: 0; /* Remove any default margin */
    padding: 0; /* Ensure padding is zero */
  }
}

/* Additional 480px rule for specific height and aspect ratio */
@media (max-width: 480px) {
  .project-image {
    width: auto; /* Let width adjust based on height */
    height: 29.9375rem; /* Set a fixed height for a vertical look */
    align-self: stretch;
    aspect-ratio: 3/4; /* Makes the image vertically rectangular */
    display: block;
    margin: 0 0 1rem;
    object-fit: cover; /* Ensure image covers the area
