.project-card {
  display: flex;
  flex-direction: row;
  gap: 7.8125rem;
  align-self: stretch;
  width: 74rem;
  width: 100%;
  /* Allow full width */
  max-width: 74rem;
  /* Limit width for larger screens */
  box-sizing: border-box;
  /* Ensure padding is included in width */
}

.project-image {
  width: 29.9375rem;
  height: auto;
  border-radius: 0.75rem;
  gap: 2rem;
}

@media (max-width: 768px) {
  .project-card {
    flex-direction: column;
    /* Stack on smaller screens */
    align-items: center;
    text-align: left;
    gap: 1rem;
  }

  .project-image {
    width: 100%;
    /* Make the image responsive */
    height: auto;
    /* Maintain aspect ratio */
    margin: 0;
    /* Remove any default margin */
    padding: 0;
    /* Ensure padding is zero */
  }

  .project-content {
    padding: 1rem;

    /* Adjust content padding as needed */
  }
}