.tags {
  display: flex;
  /* Use flexbox */
  flex-direction: row;
  /* Arrange items in a row */
  flex-wrap: wrap;
  /* Allow wrapping if needed */
  gap: 0.2rem;
  /* Space between tags */
  margin-bottom: 1rem;
  /* Optional margin below the tags */
}


.tag-button {
  border-radius: 0.25rem;
  border: 1px solid #000;
  background: #FFF;
  align-items: center;
  padding: 0.04rem 2rem 0.04rem 2rem;
  font-family: "poppins";
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  color: black;
}

.tag-button-date {
  border-radius: 0.25rem;
  border: 1px solid #FFF;
  background: #000000;
  align-items: center;
  padding: 0.125rem 0.375rem;
  font-family: "poppins";
  font-size: 16px;
  font-weight: 500;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  color: #FFF;
  margin-bottom: 1rem;

}