.tags {
  display: flex;
  /* Use flexbox */
  flex-direction: row;
  /* Arrange items in a row */
  flex-wrap: wrap;
  /* Allow wrapping if needed */
  gap: 0.2rem;
  /* Space between tags */
  margin-bottom: 1rem;
  /* Optional margin below the tags */
}


.tag-button {
  border-radius: 0.25rem;
  border: 1px solid #000;
  background: #FFF;
  align-items: center;
  padding: 0.04rem 2rem 0.04rem 2rem;
  /* max-width: 129px; */
  font-family: "poppins";
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
}