.projects-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 64px;
  padding: 128px 16px;
}

.projects-heading {
  color: var(--primary);
}

.project-text-section {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  justify-content: center;
}

.buttons-section {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
}
