.projects-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 64px;
  padding: 128px 16px;
}

.projects-heading {
  color: var(--primary);
}

.project-text-section {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  justify-content: center;
}

.buttons-section {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
}

@media screen and (min-width: 745px) {
  .projects-container {
    display: flex;
    gap: 64px;
    padding: 128px 32px;
  }

  .project-card {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto;
    gap: 37px;
  }
}
