.article-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--light-secondary);
    color: var(--text);
    padding: 128px 16px;
}

.article-wrapper {
    max-width: 90%;
    margin: 0 auto;
}

.article-img-container {
    max-width: 100%; /* Limit the container width to its parent */
    overflow: hidden; /* Hide any content that goes beyond the container */
  }

.article-list {
    display: grid;
    gap: 64px;
    max-width: 100%;
}

.article-heading {
    color: var(--secondary);
    padding-bottom: 64px;
}

.article-card .paragraph {
    margin: 32px 0;
}

.article-tag {
    margin: 32px 0 8px 0;
}

