/* Styling for the wavy line */
.wavy-line-wrapper {
    height: 15px;
    position: absolute;
    width: 100%; /* Set the width to cover the full width of the parent element */
    top: -6px;
    left: -2px;
    background: url(/icons/Wavyline-Divider.svg) center/auto 100%; /* Set the image */
  }

/* Styling for the articles section */
.articles-section {
    position: relative;
    z-index: 1;
    padding: 114px 16px;
    display: flex;
    flex-direction: column;
    gap: 64px;
    background-color: var(--light-secondary);
}

/* Styling for the articles section heading */
.articles-heading {
    text-align: center;
}

/* Styling for the subheading section */
.subheading-section {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

/* Styling for images within the article cards */
.image {
    margin-right: 20px;
    margin-bottom: 14px;
}

/* Styling for the article text section */
.article-text-section {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-bottom: 24px;
}

/* --- Tablet --- */
@media (max-width: 1279px) and (min-width: 744px) {
    .articles-section {
        display: flex;
        gap: 64px;
    }

    .article-card {
        display: flex;
        flex-direction: column;
        gap: 32px;
    }
}

/* --- Desktop --- */
@media (min-width: 1280px) {
    .articles-section {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 128px 143px;
    }

    .article-cards-section {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 98px;
        row-gap: 64px;
        max-width: 1226px;
    }
}