/* ------------ OVERALL ------------ */
.circle-img {
    width: 164px;
    height: 164px;
    border-radius: 50%;
    object-fit: cover;
}

.square-img {
    width: 100%;
    max-height: 200px;
    object-fit: cover;
    border-bottom: 10px solid var(--primary);
    border-left: 10px solid var(--primary);
}

.rectangle-img {
    width: 100%;
    max-height: 200px;
    object-fit: cover;
    border-bottom: 20px solid #FF4575;
    border-left: 20px solid #FF4575;
}

.arrow-divider {
    padding: 0 16px 64px 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* Animation to make the arrow move */
    position: relative;
    top: 0;
    /* Animation is animated here */
    animation: arrowMove 1.7s ease-in infinite;
}

.wave-divider {
    width: 100%;
    position: relative;
    z-index: 2;
    bottom: -31px;
    overflow: hidden;
}

/* ------------ MEDIA QUERIES ------------ */
/* ------------ Tablet only ------------ */
@media (max-width: 1279px) and (min-width: 744px) {
    .arrow-divider {
        padding: 128px 64px 64px 64px;
    }

    .square-img {
        max-width: 100%;
        height: 280px;
        flex: 1;
        /* Take up all available vertical space within the article */
    }

    .rectangle-img {
        width: 100%;
        max-height: 340px;
    }
}

/* ------------ Desktop only ------------ */
@media (min-width: 1280px) {
    .arrow-divider {
        padding: 199px 220px 64px 220px;
    }

    .square-img {
        max-width: 100%;
        height: 280px;
        background-color: red;
    }

    .rectangle-img {
        width: 100%;
        max-height: 340px;
    }
}

/* Keyframes för animation med namnet arrowMove som sedan används i .arrow-divider ovan för att animera */
@keyframes arrowMove {

    0%,
    100% {
        top: 0;
    }

    50% {
        top: 30px;
        /* Go down to 30px at 50% */
    }
}