.wavy {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 5vh;
    position: relative;
    z-index: 2;
    bottom: 129px;
    overflow: hidden;
}

.wavy::before {
    content: "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx";
    position: absolute;
    top: -62.5px;
    left: 0;
    font-size: 4em;
    color: transparent;
    text-decoration-style: wavy;
    text-decoration-color: var(--secondary);
    text-decoration-line: underline;
    text-decoration-thickness: 6px;
}

/*bottom: 129px;
top: -62.5px;*/

/* ------------ Tablet only ------------ */
@media (max-width: 1279px) and (min-width: 744px) {}

/* ------------ Desktop only ------------ */
@media (min-width: 1280px) {
    .wavy {
        bottom: -12px;
    }

    .wavy::before {
        top: -38px;
    }
}