.projectlist {
  background-color: white;
  color: black;
  /* display: grid;
  grid-template-columns: repeat(8, 1fr); */
  gap: 1rem;
  margin: 128px 16px;
}

.projectlist h2 {
  font-size: 80px;
  grid-column: 2 / -2;
  color: rebeccapurple;
  text-align: center;
}

.project-container h2{

    /* margin: 5rem 16px; */
}

.project-container {
  grid-column: 2 / -2;
}

/* Tablet */
@media only screen and (max-width: 1280px) {

}

/* Phone */
@media only screen and (max-width: 745px) {
 .projectlist h2 {
  font-size: 56px;
 }
}
