.projectlist {
  background-color: white;
  color: black;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 1rem;
}

.projectlist h2 {
  font-size: 80px;
  grid-column: 2 / -2;
  color: rebeccapurple;
}

.project-container {
  grid-column: 2 / -2;
}

/* Tablet */
@media only screen and (max-width: 1280px) {

}

/* Phone */
@media only screen and (max-width: 745px) {
 .projectlist h2 {
  font-size: 56px;
 }
}
