/* .rolling-text {
  background-color: aqua;
  width: 100%;
  white-space: nowrap;
  font-size: 1.5rem;
  position: absolute;
  transform: translateY(-50%);
  animation: roll 10s linear infinite;
}

@keyframes roll {
  0% {
    transform: translateX(100%) translateY(-50%);
  }
  100% {
    transform: translateX(-100%) translateY(-50%);
  }
} */
h3{
  background-color: var(--firstly-color);
  padding-top: 1rem;
  padding-bottom: 1rem;
  color: white;
}

/*  
.rolling-text {
overflow: hidden;
white-space: nowrap;
font-size: 1rem;
text-align: center;
width: 100%;
}

@keyframes ticker {
0% {
transform: translateX(calc(-100% - 35vw)) ;
}
100% {
transform: translateX(calc(100% + 35vw));
}
} */