/* .rolling-text {
  background-color: aqua;
  width: 100%;
  white-space: nowrap;
  font-size: 1.5rem;
  position: absolute;
  transform: translateY(-50%);
  animation: roll 10s linear infinite;
}

@keyframes roll {
  0% {
    transform: translateX(100%) translateY(-50%);
  }
  100% {
    transform: translateX(-100%) translateY(-50%);
  }
} */
h3{
  background-color: rebeccapurple;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

/* .rolling-text {
  width: 28ch;
  animation: typing 3s steps(30), blink .5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  font-family: monospace;
  font-size: 0,2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: inline-block;
  
}

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
} */