.wrapper_footer {
  color: white;
  font-size: 23px;
  display: block;
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
  list-style: 37.87px;
  font-weight: 600;
}

.ticker {
  position: relative;
  display: inline-block;
  animation: moving 50s infinite linear;
}

.wrapper_footer {
  background-color: #eb5577;
  padding: 1em 0;
}

.wrapper_footer h1 {
  color: black;
  font-family: "Montserrat", sans-serif;
  font-size: 80px;
  font-weight: 700;
}

@keyframes moving {
  from {
    left: 0;
  }
  to {
    left: -3000px;
  }
}
