/* Component 1 - Top Section */

.topsection-container {
  padding: 28% 10% 0 10%;
}

.topsection-container h1 {
  font-size: 30px;
  text-align: center;
}

.topsection-container h2 {
  font-size: 18px;
  text-align: center;
}

.topsection-container p {
  padding-bottom: 1em;
  font-size: 16px;
  text-align: center;
}

.topsection-container img {
  max-width: 164px;
  max-height: 164px;
  border-radius: 50%;
  text-align: center;
}

.red-arrow-section {
  display: flex;
  justify-content: center;
  margin: auto;
}

.stack-img:hover {
  content: url("/Assets/stackoverflow-hover.png");
}

.linkedin-img:hover {
  content: url("/Assets/linkedin-hover.png");
}

.github-img:hover {
  content: url("/Assets/github-hover.png");
}

.imageOnBottom {
  display: none;
}

.imageOnTop {
  margin: 0 auto;
  display: block;
}

.socialLinks {
  display: none;
}

/*media query for desktop - 2 rows */
@media (min-width: 1025px) {
  .imageOnTop {
    display: none;
    text-align: center;
  }

  .imageOnBottom {
    display: block;
    float: left;
  }

  .socialLinks {
    display: inline-block;
  }
}
