/* Component 1 - Top Section */

.topsection-container {
  padding-left: 20%;
  padding-right: 20%;
}

.topsection-container h1 h2 {
  padding-bottom: 0;
}

.profile-image {
  max-width: 164px;
  max-height: 164px;
  border-radius: 50%;
  float: left;
  padding-right: 1em;
}

.topsection-text {
  font-size: 14px;
}

.red-arrow-section {
  display: flex;
  justify-content: center;
  margin: auto;
}

.stack-img:hover {
  background: url("/assets/stackoverflow-hover.png");
}

.linkedin-img:hover {
  background: url("/assets/linkedin-hover.png");
}

.github-img:hover {
  background: url("/assets/github-hover.png");
}
