.button-wrapper {
    border: 2px solid red;
    flex-direction: column;
    align-items: center;
}

.button-wrapper button {
    margin: 1rem 0;
    border: none;
    border-radius: 40px;
    width: 209px;
    height: 48px;
    padding: 0 16px 0 0;
    gap: 7px;
    color: #000000;
    font-size: 20px
}

.button-wrapper button img {
    display: inline-block;
    vertical-align: middle;
    margin-right: 7px;
}

.button-wrapper button span {
    display: inline-block;
    vertical-align: middle;
}

.button-wrapper a {
    text-decoration: none;

}