.card-header-wrapper h2 {
    color: #0B24F5;
    text-align: center;
    font-family: Montserrat;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 66px;
    padding-top: 128px;

}