.projects-section {
    padding: 128px 16px;
    display: flex;
    flex-direction: column;
    gap: 64px;
}

.image {
    margin-right: 10px;
}

.tags {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
}