.project-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--primary);
    color: white;
}

.projects-wrapper {
    max-width: 90%;
    margin: 0 auto;
    padding: 128px 0;
}

.project-card {
    padding-top: 64px;
}

.projects-heading {
    color: var(--primary);
}

.project-card .paragraph {
    margin: 16px 0;
}
