.ticker {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  height: 114px;
  color: var(--color-1);
  overflow: hidden;
  font-family: Montserrat;
  background-image: linear-gradient(
    var(--color-2),
    var(--color-3),
    var(--color-4),
    var(--color-5)
  );
}

.ticker-wrap {
  text-align: center;
  font-family: Montserrat;
  font-size: 26.038px;
  font-weight: 600;
}
