.presentation-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  background-color: white;
  padding: 4rem 1rem;
  color: #000;
  font-family: Hind;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  gap: 2rem;
}

.presentation-image {
  margin-right: 20px;
  border-radius: 10.25rem;
  background: url(<path-to-image>), lightgray 50% / cover no-repeat;
  align-self: center;
}

.presentation-container h1 {
  color: #0B24F5;
  font-family: Montserrat;
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 0.5rem;
}

.presentation-container h3 {
  color: #000;
  font-family: Montserrat;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-top: 0.5rem;
}

h3 {
  font-family: 'Hind', Arial, Helvetica, sans-serif;
}

.avatar {
  border-radius: 50%;
  width: 10.25rem;
  height: 10.25rem;
  align-self: center;
}

.arrow {
  width: 1.6875rem;
  height: 4.25rem;
  align-self: center;
}
