.presentation-container {
  display: flex;
  flex-direction: column;
  align-items: left;
  gap: 16px;
  background-color:white;
  padding: 4rem 4rem;
  color: black;
}

.presentation-container h3,
.presentation-container h1,
.description-container .description {
  text-align: left;
  margin: 0;
  padding: 0;
}

.presentation-container h1 {
  color: #0B24F5;
}

.avatar-container .avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}

@media (min-width: 744px) {
  .presentation-container {
    flex-direction: column;
    align-items: flex-start;
  }

  .avatar-container {
    order: 3;
    margin-right: 2rem;
  }

  .headline-container {
    order: 1;
  }

  .subheadline-container {
    order: 2;
  }

  .description-container {
    order: 4;
    display: flex;
    align-items: center;
  }
}
