.presentation-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  background-color: white;
  padding: 4rem 1rem;
  color: #000;
  font-family: Hind;
  font-size: calc(0.8rem + 0.5vw);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  gap: 2rem;
}

.presentation-image {
  margin-right: 20px;
  border-radius: 10.25rem;
  align-self: center;
}

.presentation-container h1 {
  color: #0B24F5;
  font-family: Montserrat;
  font-size: calc(1.5rem + 1vw);
  margin-top: 0px;
}

.presentation-container h3 {
  color: #000;
  font-family: Montserrat;
  font-size: calc(1rem + 0.5vw);
  margin-bottom: 0px;
}

@media (max-width: 600px) {
  .presentation-container h1 {
    font-size: 1.8rem;
  }
  .presentation-container h3 {
    font-size: 1.2rem;
  }
}

.avatar {
  border-radius: 50%;
  width: 10.25rem;
  height: 10.25rem;
  align-self: center;
}

.arrow {
  width: 1.6875rem;
  height: 4.25rem;
  align-self: center;
}
