.presentation-wrapper {
  display: inline-flex;
padding: 332px 337px 64px 336px;
flex-direction: column;
justify-content: flex-end;
align-items: center;
gap: 199px;
}

.presentation {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  margin-bottom: 230px; /*needed to get the gap to blue page?*/
  }

  .presentation-titles-container {
    display: flex;
flex-direction: column;
align-items: flex-start;
  }

  .presentation-titles-container h1 {
    margin: 0;
    color: blue;
  }

  .presentation-titles-container h3 {
    margin: 0;
  }
  
  .profile-section {
    display: flex;
align-items: center;
gap: 22px;
  }
  
  .profile-image {
    width: 164px; /* Adjust to desired width */
    height: 164px;
    border-radius: 50%; /* Makes the image round */
    object-fit: cover;
  }
  
  .presentation-text {
    color: #000;
    font-family: Hind;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  