.outer_containerWrapper {
    max-width: 1512px;
    /*max-height: 980px;*/
    padding: 332px 300px 332px 300px;
    display: flex;
    justify-content: center;
}

.wrapper_projects {
    background-color: white;
    margin: auto;
    display: grid;
    grid-gap: 15px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    overflow: hidden;
    grid-template-areas:
        "SectionHeader SectionHeader"
        "PalaSurvey  PalaSurvey"
        "PalaSurveyGit PalaSurveyLive"
        "HappyThoughts  HappyThoughts"
        "HappyThoughtsGit HappyThoughtsLive"
        "WeatherApp WeatherApp "
        "WeatherAppGit WeatherAppLive"
        "GuessSong GuessSong"
        "GuessSongGit GuessSongLive"
        "MusicRelease MusicRelease"
        "MusicReleaseGit MusicReleaseLive"
}

h1.projectsHeader {
    color: blue;
    grid-area: SectionHeader;

}

/*  PROJECT HEADERS */

.HappyThoughts {
    grid-area: HappyThoughts;
    font-size: 50px;
}

.WeatherApp {
    grid-area: WeatherApp;
    font-size: 50px;
}

.GuessSong {
    grid-area: GuessSong;
    font-size: 50px;
}

.MusicRelease {
    grid-area: MusicRelease;
    font-size: 50px;
}

.PalaSurvey {
    grid-area: PalaSurvey;
    font-size: 50px;
}

/* GIT AND NETLIFY(wiev it live) BUTTONS */

/* Git */
.HappyThoughtsGit {
    grid-area: HappyThoughtsGit;
}

.WeatherAppGit {
    grid-area: WeatherAppGit;
}

.GuessSongGit {
    grid-area: GuessSongGit;
}

.MusicReleaseGit {
    grid-area: MusicReleaseGit;
}

.PalaSurveyGit {
    grid-area: PalaSurveyGit;
}

/* Netlify / Wiev it live */

.HappyThoughtsLive {
    grid-area: HappyThoughtsLive;
}

.WeatherAppLive {
    grid-area: WeatherAppLive;
}

.GuessSongLive {
    grid-area: GuessSongLive;
}

.MusicReleaseLive {
    grid-area: MusicReleaseLive;
}

.PalaSurveyLive {
    grid-area: PalaSurveyLive;
}