img {
	width: 300px;
	height: 300px;
	object-fit: cover;
}

.tags {
	display: flex;
}

.tag {
	background-color: black;
	color: white;
	padding: 5px 15px;
	margin: 5px;
	border-radius: 50px;
}

a{
	text-decoration: none;
}

.button {
	color: white;
	height: 10px;
	width: 10px;
}

.button img {
	height: 30px;
	width: 30px;
}
