.Card-box {
  display: flex;
  flex-direction: row;
  gap: 16px;
  border: 2px solid yellow;
  max-width: 1044px;
  height: 280px;
  margin: auto;
}

.project-img-wrapper {
  width: 408px;
  height: 280px;
  border: 2px solid orange;
}

.project-info-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.button-wrapper {
  display: flex;
  gap: 32px;
}
