.contact {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  margin: 128px auto 0 auto;
  text-align: center;
}


.contact h2 {
  font-size: 56px;
}

.contact h3 {
  color: var(--text-color);
   font-size: 24px;
  font-weight: 600;
  margin: 0;
}



.contact-info {
  width: 100vw;
  font-size: 24px;
  font-weight: 600;
}

.contact-info a {
  text-decoration: none;
  color: var(--text-color);
  font-weight: 600;
  font-family: Montserrat;

}



.contact .profile-image {
  border-radius: 50%;
  width: 164px;
  height:164px;
  align-self: center;
  margin: 64px 0;
}

@media (min-width: 745px) {

  .contact h3 {
    font-size: 32px;
  }

  .contact-info a {
    font-size: 32px;

  }


}


@media (min-width: 1280px) {

  .contact h2 {
    font-size: 80px;
  }


}