.featured-projects {
  padding: 128px 234px 124px 234px;
}

.featured-projects-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 128px;
  max-width: 1044px;
  margin: auto;
}
