.big-heading {
    color: white;
    text-align: center;
    font-family: Montserrat;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

#smaller-h1 {
    color: #0B24F5;
    font-size: 32px;
}

.blue-h1 {
    color: #0b24f5;
}

.pink-h1 {
    color: #FF4575;
}