.intro-text {
  grid-column: span 4;
  text-align: center;
  color: white;
  font-family: Poppins, sans-serif;
  font-weight: 500;
  word-wrap: break-word;
}

@media (min-width: 640px) {

  .intro-text {
    grid-column: span 8;
  }
}

@media (min-width: 1024px) {

  .intro-text {
    grid-column: span 12;
  }
}