.introduction {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border: 2px solid pink;
  height: 100vh;
}

.profile-box {
  max-width: 1044px;
  margin: auto;
}

.profile-wrapper {
  display: flex;
  align-items: center;
  gap: 22px;
}

.arrow {
  display: block;
  margin: auto;
  bottom: 63px;
}
