.introduction {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border: 2px solid pink;
  height: 100vh;
  padding: 332px 234px 63px 234px;
}

.introduction-box {
  max-width: 1044px;
  margin: auto;
}

.introduction-wrapper {
  display: flex;
  align-items: center;
  gap: 22px;
}

.arrow {
  animation: arrowJump 1.5s infinite alternate-reverse;
  display: block;
  margin: auto;
}

@keyframes arrowJump {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-30px);
  }
}

.introduction-wrapper img {
  width: 164px;
  height: 164px;
  border-radius: 82px;
  object-fit: cover;
  flex-shrink: 0;
}
