.medium-headline {
    color: #000;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.skill-sets-card h2 {
    color: white
}

#hind-h2 {
    font-family: 'Hind', sans-serif;
}

#smaller-h2 {
    font-size: 18px;
}

.techSkills-page-wrapper h2 {
    color: white
}

.code {
    background-color: #eb5577;
}

.toolbox {
    background-color: #2483e0;
}

.upcoming {
    background-color: #6db486;
}

.more {
    background-color: #ffde30;
    color: #0b24f5;
}