.bio-container {
  width: fit-content;
  height: 100%;
  padding: 32px 8px;
  /* Mindre padding för att spara plats */
  background: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  /* Minskad gap för att anpassa till mindre skärm */
}

.bio-title {
  align-self: stretch;
  text-align: center;
  color: white;
  font-size: 36px;
  /* Mindre fontstorlek för bättre anpassning */
  font-family: Poppins, sans-serif;
  font-weight: 700;
  word-wrap: break-word;
  line-height: 1.2;
  /* Justerad radavstånd för att undvika överlappning */
}

.bio-description {
  align-self: stretch;
  color: white;
  font-size: 14px;
  text-align: center;
  font-family: Poppins, sans-serif;
  font-weight: 400;
  word-wrap: break-word;
  line-height: 1.5;
  /* Tillräckligt med avstånd mellan rader */
}