.bio-title,
.bio-description {
  grid-column: span 4;
  text-align: center;
  color: white;
  padding: 0 20px;
}

@media (min-width: 640px) {

  .bio-title,
  .bio-description {
    grid-column: span 8;
  }
}

@media (min-width: 1024px) {

  .bio-title,
  .bio-description {
    grid-column: span 12;
  }
}