.photo-wrapper img {
  object-fit: cover;
}

.blue {
  border-bottom: 10px solid blue;
  border-left: 10px solid blue;
}

@media (min-width: 1025px) {
  .small {
    width: 408px;
    height: 280px;
  }
}

@media (min-width: 601px) and (max-width: 1024px) {
  .small {
    width: 200px;
    height: 280px;
  }
}

@media (max-width: 600px) {
  .small {
    width: 100%
  }
}
