.projects-container {
  text-align: center;
  padding: 50px 0;
}

.projects-container h1 {
  font-size: 4em;
  margin-bottom: 30px;
  color: #000;
}

.project {
  display: flex;
  align-items: center;
  justify-content: start;
  background-color: #fff;
  margin-bottom: 30px;
}

.image-container img {
  border-bottom: 10px solid blue;
  border-left: 10px solid blue;
  width: auto; 
  max-height: 200px; 
}

.project-content {
  text-align: left;
  margin-left: 20px;
}

.project h2 {
  font-size: 2em;
  color: #000;
  margin: 0;
}

.project p {
  font-size: 1em;
  color: #333;
  margin: 20px 0;
}

.tech-tags {
  margin-bottom: 20px;
  text-align: left;
}

.tech-tags span {
  background-color: #e7e7e7;
  padding: 5px 10px;
  margin-right: 10px;
  border-radius: 5px;
}

.project-actions {
  text-align: left;
}

.project-actions button {
  background-color: #0056b3;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 0 10px;
  cursor: pointer;
  border-radius: 5px;
}

.project-actions button:hover {
  background-color: #003d82;
}

