.info {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 32px;
  position: relative;
  max-width: 580px;
}

.info .div {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 16px;
  position: relative;
  width: 100%;
}

.info .tech-tags {
  align-items: flex-start;
  align-self: stretch;
  background-color: #ffffff;
  display: flex;
  flex: 0 0 auto;
  gap: 4px;
  position: relative;
  width: 100%;
}

.info .tag-instance {
  flex: 1 !important;
  flex-grow: 1 !important;
  width: unset !important;
}

.info .h {
  align-self: stretch;
  color: #000000;
  font-family: "Poppins-Medium", Helvetica;
  font-size: 30px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
}

.info .body {
  align-self: stretch;
  color: #000000;
  font-family: "Poppins-Regular", Helvetica;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
}

.info .btns {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 8px;
  position: relative;
  width: 100%;
}