/* Mobile-first styling (mobiler och tablets) */
.info {
  grid-column: span 4;
  width: 100%;
}

.project {
  display: flex;
  flex-direction: column;
  margin: 22px auto;
  gap: 20px;
}

/* Bildstil */
.project-image {
  width: 100%;
  height: auto;
  border-radius: 12px;
  margin: 16px 0;
}

/* Projektinformation */
.project-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  width: 100%;
  text-align: left;
}

.tech-tags,
.project-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  width: 100%;
}

/* Tablet-storlek */
@media (min-width: 640px) {
  .info {
    grid-column: span 8;
  }

  .project-image {
    height: 350px;
    object-fit: cover;
  }
}

/* Laptop-storlek */
@media (min-width: 1024px) {
  .info {
    grid-column: span 12;
  }

  .project-image {
    width: 35%;
  }

  .project {
    flex-direction: row;
    align-items: center;
  }

  .project:nth-child(even) .project-image {
    order: 2;
    /* För att få bilden på höger sida för varje jämnt projekt */
  }
}