.skills-container {
    background-color: #0056b3; 
    color: white;
    padding: 50px;
    text-align: center;
    margin-top: 50px;
  }
  
  .skills-container h2 {
    font-size: 4em; 
    margin-bottom: 30px;
    font-family: "Montserrat", sans-serif;
  }
  
  .skills-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 30px; 
    justify-items: start;
  }
  
  .skills-category h3 {
    font-size: 1.5em; 
    margin: 0 0 20px 0;
    font-family: "hind", sans-serif;
  }
  
  .category-title {
    padding: 5px 20px;
    border-radius: 20px; 
    color: #0056b3; 
    background: white; 
  }
  
  .code { background-color: #f28b82; } 
  .toolbox { background-color: #fbbc04; } 
  .upcoming { background-color: #34a853; } 
  .more { background-color: #4285f4; } 
  
  .skills-category ul {
    list-style: none;
    padding-left: 0; 
    text-align: left;
  }
  
  .skills-category li {
    font-size: 1em; 
    line-height: 1.5; 
    margin-bottom: 10px;
    font-family: "hind", sans-serif;
  }
  