.skills-section {
  padding: 128px 99px 157px 103px;
  align-items: center;
  background: #0b24f5;
}

.skills-container {
  align-items: center;
  width: 343px;
  gap: 64px;
}

.skills-wrapper {
  align-items: center;
  gap: 16px;
}

.skills-text {
  text-align: center;
}

.style {
  display: flex;
  padding: 2px;
  align-items: flex-start;
  gap: 8px;
}
#bkgr-pink {
  background: #eb5577;
}

#bkgr-blue {
  background: #2483e0;
}

#bkgr-green {
  background: #6db486;
}

#bkgr-yellow {
  background: #ffde30;
}
