.skills {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 128px 234px;
  background-color: #0b24f5;
  color: white;
}

.skills-box {
  display: flex;
  justify-content: space-between;
  width: 1044px;
  margin: auto;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 18px;
}

li {
  font-family: "Hind";
}

span {
  font-size: 32px;
  font-weight: 600;
  padding: 3px;
}

.skills-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.code-list {
  background-color: #eb5577;
}

.toolbox-list {
  background-color: #2483e0;
}

.upcoming-list {
  background-color: #6db486;
}

.more-list {
  background-color: #ffde30;
  color: #0b24f5;
}
