.black-tag {
    background-color:black;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    color: white;
}

.code {
    background-color: #eb5577;
}

.toolbox {
    background-color: #2483e0;
}

.upcoming {
    background-color: #6db486;
}

.more {
    background-color: #ffde30;
    color: #0b24f5;
}
