.tech-container {
  background-color: #034a33;
  color: white;
  display: flex;
  justify-content: center; 
  padding: 100px;
  box-sizing: border-box;
  margin-top: 100px;
}

.tech-title {
  font-size: 4em;
  margin-right: 50px;
}

.tech-list {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 1.5em;
  line-height: 1.5;
  text-align: left;
}

.tech-list li {
  margin-bottom: 10px;
}


  