.tech {
  display: flex;
  height: 100vh;
  border: 2px solid pink;
  padding: 0px 234px;
  background-color: #0b24f5;
  color: white;
}

.tech-box {
  display: flex;
  align-items: center;
  gap: 124px;
  max-width: 1044px;
  margin: auto;
}

.tech-box h1 {
  color: white;
}

.tech-box h2 {
  font-family: "Hind";
}

/* --- MEDIA QUERIES --- */

@media (max-width: 1024px) {
  .tech {
    padding: 256px 32px;
  }

  .tech-box {
    flex-direction: column;
    align-items: center;
    margin: 32px;
  }

  .tech-box h2 {
    padding: 0 100px;
    text-align: center;
  }
}

@media (max-width: 768px) {
  .tech-box h1 {
    font-size: 56px;
  }

  .tech-box h2 {
    font-size: 24px;
    padding: 0;
  }
}

@media (max-width: 480px) {
  .tech {
    padding: 128px 16px;
  }

  .tech-box h1 {
    font-size: 56px;
  }

  .tech-box h2 {
    font-size: 24px;
    padding: 0;
  }
}
