.tech {
  display: flex;
  height: 100vh;
  border: 2px solid pink;
  background-color: #0b24f5;
  color: white;
}

.tech-box {
  display: flex;
  align-items: center;
  gap: 124px;
  max-width: 1044px;
  margin: auto;
}
