.divider {
  width: 100%;
  display: block; 
  height: auto; 
  margin-bottom: -1px;
}

.words-container {
  background-color: #fff; 
  padding: 20px;
  text-align: left;
}

.words-container h1 {
  color: #000; 
  margin-left: 20px; 
  font-size: 4em;
}

.articles-container {
  display: flex;
  gap: 20px; 
}

.article {
  flex: 1; 
  padding: 10px;
  margin-top: 20px;
}

.article img {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
  border-bottom: 10px solid blue;
  border-left: 10px solid blue;
}

.article-date {
  font-weight: bold;
  margin-bottom: 5px;
}

.article h2 {
  margin-bottom: 10px;
}

.article p {
  margin-bottom: 20px;
}

.read-article-btn {
  background-color: #f00; 
  color: #fff; 
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.read-article-btn:hover {
  background-color: #c00; 
}