.words-container {
    background-color: #fff; 
    padding: 20px;
    text-align: left;
  }
  
  .wriggly-line {
    background-image: url('../assets/path.png'); 
    height: 20px; 
    background-repeat: repeat-x;
    background-position: top center;
    background-size: cover;
    margin-bottom: 20px;
  }
  
  .words-container h1 {
    color: #000; 
    margin-left: 20px; 
  }
  
  .articles-container {
    display: flex;
    gap: 20px; 
  }
  
  .article {
    flex: 1; 
    border: 3px solid #f00; 
    padding: 10px;
    margin-top: 20px;
  }
  
  .article img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
  }
  
  .article-date {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .article h2 {
    margin-bottom: 10px;
  }
  
  .article p {
    margin-bottom: 20px;
  }
  
  .read-article-btn {
    background-color: #f00; 
    color: #fff; 
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .read-article-btn:hover {
    background-color: #c00; 
  }
  