.article-button {

    display: flex;
    align-items: center;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 40px;
    color: #333;
    font-family: Montserrat;
    font-size: 18px;
    padding: 5px;
    background-color: white;
}

.article-button img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.article-button.hovered {
    border-radius: 40px;
    background: #FFD338;
    color: black;
}

.article-button span {
    font-size: 16px;
    font-weight: bold;
    margin-right: 7px;
}