.tech-section {
    background-color: #0041ff; /* Blue background */
    color: #ffffff; /* White text */
    padding: 40px;
    text-align: left;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px; /* Adjust as needed */
  }
  
  .tech-content {
    max-width: 800px;
  }
  
  .tech-title {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .tech-list {
    font-size: 1.2rem;
    line-height: 1.5;
  }
  