/* Default (Mobile Styles) */
h1,
h2 {
  font-size: 3.75rem;
  font-weight: 700;
  line-height: 5rem;
  text-align: center;
}

h3 {
  font-size: 1.5rem;
  font-weight: 500;
}

p {
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
}

/* Tablet Styles */
@media (min-width: 768px) {
  h1 {
    font-size: 5rem;
    line-height: 6.25rem;
  }

  h2 {
    font-size: 3.75rem;
    line-height: normal;
  }
}

/* Desktop Styles */
@media (min-width: 1024px) {
  h1 {
    font-size: 6.25rem;
    line-height: normal;
  }

  h2 {
    font-size: 5rem;
    line-height: normal;
  }

  h3 {
    font-size: 1.875rem;
    font-weight: 500;
  }

  p {
    font-size: 1.125rem;
  }
}