/*EB Garamond Font Face*/

@font-face {
    font-family: 'EBGaramond-Variable';
    src: url('../fonts/EBGaramond-VariableFont_wght.ttf') format('truetype');
         font-weight: 300 900;
         font-display: swap;
         font-style: normal;
  }
  
  @font-face {
    font-family: 'EBGaramond-Italic-VariableFont';
    src: url('../fonts/EBGaramond-Italic-VariableFont_wght.ttf') format('truetype');
         font-weight: 300 900;
         font-display: swap;
         font-style: italic;
  }
  
  
  @font-face {
    font-family: 'EBGaramond-Regular';
    src: url('../fonts/EBGaramond-Regular.ttf') format('truetype');
         font-weight: 400;
         font-display: swap;
         font-style: normal;
  }
  
  
  @font-face {
    font-family: 'EBGaramond-Italic';
    src: url('../fonts/EBGaramond-Italic.ttf') format('truetype');
         font-weight: 400;
         font-display: swap;
         font-style: italic;
  }
  
  
  @font-face {
    font-family: 'EBGaramond-Medium';
    src: url('../fonts/EBGaramond-Medium.ttf') format('truetype');
         font-weight: 500;
         font-display: swap;
         font-style: normal;
  }
  
  
  @font-face {
    font-family: 'EBGaramond-MediumItalic';
    src: url('../fonts/EBGaramond-MediumItalic.ttf') format('truetype');
         font-weight: 500;
         font-display: swap;
         font-style: italic;
  }
  
  
  @font-face {
    font-family: 'EBGaramond-Bold';
    src: url('../fonts/EBGaramond-Bold.ttf') format('truetype');
         font-weight: 700;
         font-display: swap;
         font-style: normal;
  }
  
  
  @font-face {
    font-family: 'EBGaramond-BoldItalic';
    src: url('../fonts/EBGaramond-BoldItalic.ttf') format('truetype');
         font-weight: 700;
         font-display: swap;
         font-style: italic;
  }
  
  
  @font-face {
    font-family: 'EBGaramond-ExtraBold';
    src: url('../fonts/EBGaramond-ExtraBold.ttf') format('truetype');
         font-weight: 900;
         font-display: swap;
         font-style: normal;
  }
  
  
  @font-face {
    font-family: 'EBGaramond-ExtraBoldItalic';
    src: url('../fonts/EBGaramond-ExtraBoldItalic.ttf') format('truetype');
         font-weight: 900;
         font-display: swap;
         font-style: italic;
  }


  @font-face {
    font-family: 'EBGaramond-SemiBold';
    src: url('../fonts/EBGaramond-SemiBold.ttf') format('truetype');
         font-weight: 900;
         font-display: swap;
         font-style: normal;
  }
  
  
  @font-face {
    font-family: 'EBGaramond-SemiBoldItalic';
    src: url('../fonts/EBGaramond-SemiBoldItalic.ttf') format('truetype');
         font-weight: 900;
         font-display: swap;
         font-style: italic;
  }