* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --dominantBlue: #707BFB;
    --dominantWhite: #fff;
    --accentBlue: #A9C9FF;
    --accentPink: #F3E0F0;
    --accentBlack: #333;
}

/************* GENERAL STYLING **************/

html {
    font-size: 62.5%;
}

img {
    width: 100%;
    height: auto;
}

body {
    font-family: "raleway", sans-serif;
    color: var(--accentBlack);
}

li {
    list-style: none;
}


h2 {
    font-size: 2.8rem;
    color: var(--accentBlack);
    padding: 0.6rem 0.2rem;
    display: inline-block;
    align-self: center;
    font-family: "Playfair Display", serif;
    margin-bottom: 4rem;
}


.hidden {
    display: none;
}


.display-flex {
    display: flex;
    flex-direction: column;
}

.title {
    font-size: 1.8rem;
}

.sub-title {
    font-size: 1.6rem;
    color: #555;
}

.text-styling {
    line-height: 2.9rem;
    letter-spacing: 0.01rem;
    line-height: 3rem;
}

.container {
    width: 375px;
    margin: 0 auto;
    padding: 40px 24px 50px 24px;
}

.link {
    text-decoration: none;
    cursor: pointer;
}

.section:first-of-type{
    border-top: solid 1px #eee;
}

section:nth-child(even) {
    background-color: var(--dominantWhite);

}

section:nth-child(odd) {
    background-color: #a9c9ff46;
    background-image: linear-gradient(180deg, #a9c9ff0b 0%, #ffbbec26 100%);   
}
