/****************** MEDIA QUERIES ******************/

@media (min-width: 768px) {

    html {
        font-size: 75%;
    }
    
    .container {
        width: 768px;
        padding: 80px 20px;

    }

    .hidden {
        display: flex;
        flex-direction: column;
    }

    .header {
        width: 768px;
        padding: 60px 20px 0 20px;
    }
}

@media (min-width: 1025px) {

    .container {
        width: 1025px;
    }


    h2 {
        line-height: 59px;
        letter-spacing: 0.01em;
        margin-bottom: 80px;
    }

    html {
        font-size: 100%;
    }

    
    /****************** HEADER SECTION ******************/
 
   
    .header {
        height: 668px;
        width: 1025px;
        position: relative;

    }
    .header-img {
        width: 333px;
        height: 333px;
    }
 
    /****************** BLOG SECTION ******************/
   
    
    .other-blogs,
    .other-project {
        margin-top: 120px;
    }
    
    /****************** FOR MORE ******************/

    .fav-icons:link {
        width: 60px;
        height: 60px;
    }

    .media-list li {
        width:250px;  
    }
    
    /****************** FOOTER ******************/
    footer {
        height: 570px;
    }
}



    


