@import url('https://fonts.googleapis.com/css2?family=EB+Garamond');

@font-face {
    font-family: 'Satoshi-Variable';
    src: url('../fonts/Satoshi-Variable.woff2') format('woff2'),
         url('../fonts/Satoshi-Variable.woff') format('woff'),
         url('../fonts/Satoshi-Variable.ttf') format('truetype');
         font-weight: 300 900;
         font-display: swap;
         font-style: normal;
}
h1 {
    font-family: 'Satoshi-Variable', sans-serif;
    font-weight: 900;
    font-size: 120px;
    line-height: 162px;
    text-align: center;
    color: #EA638C;
}
h2 {
    font-family: 'Satoshi-Variable', sans-serif;
    font-weight: 700;
    font-size: 80px;
    line-height: 108px;
    text-align: center;
    color: #89023E;
}
h3 {
    font-family: 'Satoshi-Variable', sans-serif;
    font-weight: 900;
    font-size: 32px;
    line-height: 43px;
    color: #1B2021;
}
h4 {
    font-family: 'Satoshi-Variable', sans-serif;
    font-weight: 700;
    font-size: 28px;
    line-height: 38px;
    color: #89023E;
}
h5 {
    font-family: 'Satoshi-Variable', sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    color: #565656;
    text-align: center;
}
h6 {
    font-family: 'Satoshi-Variable', sans-serif;
    font-weight: 900;
    font-size: 20px;
    line-height: 27px;
    color: #EA638C;
    margin-bottom: -20px;
}
p {
    font-family: 'EB Garamond', serif;
    font-weight: 400;
    font-size: 22px;
    line-height: 29px;
    color: #1B2021;
}
a:link {
    text-decoration: none;
}
a:visited {
    text-decoration: none;
}
ul {
    list-style-type: none;
    font-family: 'EB Garamond', serif;
    line-height: 30px;
    font-size: 21px;
    font-weight: 400;
}
.first-section {
    position: absolute;
    width: 1512px;
    height: 980px;
    left: 0px;
    top: 0px;
}
.first-left {
    position: absolute;
    width: 756px;
    height: 980px;
    left: 0px;
    top: 0px;
    background-color: #FFFFFF;
}
.first-left-main {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 29px;
    position: absolute;
    width: 650px;
    height: 164px;
    left: 103px;
    top: 252px;
}
.first-left-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    width: 303px;
    height: 113px;
    margin-left: 100px;
}
.profile-picture {
    width: 164px;
    height: 164px;
}
.first-left-intro {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: absolute;
    width: 500px;
    height: 145px;
    left: 143px;
    top: 448px;
}
.social-media {
    position: absolute;
    width: 288px;
    height: 32px;
    left: 143px;
    top: 651px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 32px;
}
.sm-btn {
    color: #000000;
}
.sm-btn:hover {
    color: #D0D0D0;
}
.big-img {
    position: absolute;
    width: 756px;
    height: 980px;
    left: calc(50% - 756px/2 + 378px);
    top: calc(50% - 980px/2);
    background: #FFD9DA;
}
.cred {
    color: #FFD9DA;
    position: absolute;
    top: 942px;
    left: 1250px;
    font-family: 'Satoshi-Variable', sans-serif;
    font-size: 16px;
}
.cred a {
    color: #FFD9DA;
    text-decoration: underline;
}
.scroll {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 138px;
    height: 138px;
    left: 687px;
    top: 802px;
}
.scroll-arrow {
    position: absolute;
    width: 19px;
    height: 30px;
    left: calc(50% - 20px/2);
    top: 67px;
}
.scroll-text {
    position: absolute;
    width: 100px;
    height: 22px;
    left: 30px;
    top: 94px;
    font-family: 'Satoshi-Variable', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 16px;
    line-height: 22px;
    text-decoration: underline;
    color: #EA638C;
    margin-top: 20px;
}
.tech-section {
    background-color: #FFD9DA;
    width: 1512px;
    height: 800px;
    position: absolute;
    width: 1512px;
    height: 800px;
    left: 0px;
    top: 982px;
}
.tech-header {
    position: absolute;
    width: 177px;
    height: 108px;
    left: 346px;
    top: calc(50% - 108px/2);    
}
.tech-text {
    position: absolute;
    width: 500px;
    height: 91px;
    top: 370px;
    left: 666px;
    line-height: 36px;
}
.js {
    width: 93px;
    height: 33px;
    background-color: #EA638C;
    color: #FFFFFF;
    padding: 2px;
}
.api {
    width: auto;
    height: 33px;
    padding: 2px;
    background-color: #89023E;
    color: #FFFFFF;
}
.mob {
    width: 171px;
    height: 33px;
    padding: 2px;
    background-color: #565656;
    color: #FFFFFF;
}
.projects-section {
    position: absolute;
    top: 1782px;
    display: grid;
    grid-template-columns: 820px;
    justify-content: center;
    width: 1512px;
    height: 3080px;
}
.projects-header {
    position: absolute;
    width: 700px;
    height: 108px;
    top: 120px;
    left: 346px;
    text-align: left;
    color: #EA638C
}
.projects-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 820px;
    height: 3080px;
    position: absolute;
    top: 260px;
    left: 346px;
    gap: 120px;
}
.projects-item {
    display: flex;
    flex-direction: row;
    height: 280px;
    width: 820px;
}
.projects-text {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 500px;
    height: 87px;
    left: 320px;
}
.projects-subheader {
    display: flex;
    width: 420px;
    height: 43px;
    left: 320px;
}
.projects-squares p {
    display: inline-block;
    background-color: #1B2021;
    color: #FFFFFF;
    font-family: 'Satoshi-Variable', sans-serif;
    font-size: 16px;
    line-height: 22px;
    padding: 2px;
    margin-top: 20px;
}
.demo-link {
    display: inline-block;
    background: #F5F5F5;
    color: #333333;
    border-radius: 40px;
    margin-top: 20px;
    width: 164px;
}
.demo-link:hover {
    background: #89023E;
    color: #FFFFFF;
}
.code-link {
    display: inline-block;
    background: #F5F5F5;
    color: #333333;
    border-radius: 40px;
    margin-top: 52px;
    margin-left: 24px;
    width: 200px;
}
.code-link:hover {
    background: #FFD9DA;
}
.words-section {
    display: grid;
    grid-template-columns: 564px 564px;
    grid-template-rows: 709px 709px;
    gap: 98px;
    background-color: #FCEDEA;
    width: 1512px;
    height: 2089px;
    position: absolute;
    top: 5222px;
}
.words-header {
    text-align: left;
    width: 361px;
    height: 108px;
    position: absolute;
    top: 120px;
    left: 143px;
}
.words-container {
    display: flex;
    width: 564px;
    height: 709px;
    margin-left: 143px;
    margin-top: 307px;
}
.words-items {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.read-link {
    background: #FFFFFF;
    color: #333333;
    border-radius: 40px;
    width: 178px;
}
.read-link:hover {
    background: #EA638C;
    color: #FFFFFF;
}
.skills-section {
    display: grid;
    grid-template-columns: 168px 168px 168px 168px;
    align-content: center;
    gap: 66px;
    width: 1512px;
    height: 762px;
    position: absolute;
    top: 7311px;
    background-color: #F5F5F5;
}
.skills-section h2 {
    text-align: center;
    color: #EA638C;
    position: absolute;
    top: 121px;
    left: 662px;
}
.skills-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    width: 851px;
    height: 276px;
    left: 346px;
    margin-top: 80px;
}
.skills-items {
    display: flex;
    flex-direction: column;
    align-content: space-evenly;
}
.skills-pink {
    display: inline-block;
    background-color: #EA638C;
    color: #FFFFFF;
    width: 66px;
    margin-bottom: 12px;
}
.skills-grey {
    display: inline-block;
    background-color: #565656;
    color: #FFFFFF;
    width: 92px;
    margin-bottom: 14px;
}
.skills-purple {
    display: inline-block;
    background-color: #89023E;
    color: #FFFFFF;
    width: 64px;
    margin-bottom: 14px;
}
.skills-light {
    display: inline-block;
    background-color: #D0D0D0;
    color: #FFFFFF;
    width: 120px;
    margin-bottom: 14px;
}
.contact-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    width: 1512px;
    height: 1478px;
    top: 8013px;
}
.contact-section h1 {
    position: absolute;
    width: 1040px;
    height: 162px;
    top: 196px;
    left: 236px;
}
.contact-container {
    display: flex;
    justify-content: center;
}
.contact-items {
    display: flex;
    flex-direction: column;
    gap: 120px;
}
.contact-profile {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 500px;
    height: 164px;
}
.contact-text {
    padding: 0px;
    width: 313px;
    height: 113px;
    margin-left: 30px;
}
.contact-text h5 {
    text-align: left;
}
.contact-details {
    display: flex;
    flex-direction: column;
    height: 86px;
    text-align: center;
}
.social-media-end {
    height: 32px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 32px;
    justify-content: center;
    margin-top: 40px;
}