@font-face {
    font-family: 'SatoshiRegular';
    font-weight: normal;
    src: url('./Satoshi_Complete/Fonts/WEB/fonts/Satoshi-Regular.ttf');
  }

  @font-face {
    font-family: 'SatoshiVariable';
    src: url('./Satoshi_Complete/Fonts/WEB/fonts/Satoshi-Variable.ttf') format('truetype');
  }


  :root {
    --primary-color: rgb(207, 204, 236);
    --secondary-color: rgb(250, 226, 243);
    --tertiary-color: rgb(207, 245, 216);
    --fourth-color: rgb(171, 196, 243);
    --standard-white-color: rgb(255, 255, 255);

    --heading-blue: #0B24F5;
    --heading-pink: #EB5577;

    --hover-pink: #EB5577;
    --hover-blue: #0B24F5;
    --hover-yellow: #FFD338;
    --hover-grey: #D0D0D0;

    --scroller-circle-color:  rgb(231, 236, 252, 1);
    --button-light-grey: #F5F5F5;
    --tag-blue: #2483E0;
    --tag-green: #6DB486;

    --side-margins-mobile: 30px;
    --side-margins-tablet: 50px;
    --side-margins-desktop: 65px;
}


body {
    display: grid;
    grid-template-columns: 1fr;
    margin: 0;
    padding: 0;
}




h2 {
    font-family:  'SatoshiVariable';
    margin: 0;
}

h3 {
    font-family:  'SatoshiVariable';
    margin: 0;
}

h4 {
    font-family:  'SatoshiVariable';
    margin: 0;
}



/*--  PRESENTATION INTRODUCTION  --*/


.introduction {
    min-height: 600px;
    width: 100%;
    position: relative;
}

.container {
    margin: 25px;
}

.container img {
    border-radius: 50%;
    max-width: 164px;
    max-height: 164px;
}

.presentation {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding-top: 30px;
}

.presentation-text {
    display: flex;
    flex-direction: column;
    margin: auto 0 auto 0;
}

.presentation-text h2 {
    color: var(--heading-blue);
    font-size: 28px;
    font-weight: 700;
    line-height: 38px;
}

.presentation-text h3 {
    font-size: 32px;
    font-weight: 900;
    line-height: 43px;
}

.presentation-text h4 {
    color: #565656;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
}


.container p {
    margin: 30px 0 30px 0;
}

.links {
    display: flex;
    margin: 26px;
    justify-content: space-between;
    flex: 1;
    
  }
  
  .icon {
    font-size: 21px;
    color: black;
    padding: 7px;
    margin: 0 20px 0 0;
    
  }
  
  .icon:hover {
    opacity: 0.3;
  }
  
  /* Side image, not visible in mobile view */

.introduction-side-image {
    display: none;
}

/* DESKTOP */

@media (min-width: 1025px) {

    body {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .introduction {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        min-height: 980px;
    }

    .introduction .container {
        margin: 150px var(--side-margins-desktop);
    }

    .introduction .container p {
        margin-left: 30px;
    }

    .introduction .container .links {
        margin-left: 30px;
    }

    .presentation {
        flex-direction: row;
    }

    .introduction-side-image {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
        width: 100%;
        height: 100%;
        background-image: url('./assets/images/photo-flower-unsplash.jfif');
        background-size: cover;
        background-position: 75%;
        display: inline;
    }
}