@import url(satoshi.css);


@font-face {
    font-family: 'SatoshiBold';
    font-weight: bold;
    src: url('../Fonts/Satoshi_Complete/Fonts/OTF/Satoshi-Bold.otf');
}

@font-face {
    font-family: 'SatoshiMedium';
    font-weight: medium;
    src: url('../Fonts/Satoshi_Complete/Fonts/OTF/Satoshi-Medium.otf');
}

@font-face {
    font-family: 'EBGaramondItalics';
    font-weight: normal;
    src: url('../Fonts/EB_Garamond/EBGaramond-VariableFont_wght.ttf')
}

/*mobile*/
html, body {
    overflow-x: hidden;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}

body {
    background: #f5f5f5;
    width: 100%;
    height: 100vh;
    
    
}
header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.summary-section {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #ffffff;
    justify-content: center;
}

.profile-pic img {
    width: 170px;
    height: 170px;
    border-radius: 50%;
    justify-content: center;
    object-fit: cover;
    place-self: center;
    object-position: 70% 0%;

}

.name-title {
    justify-self: center;
    font-family: 'SatoshiBold';


}
.name-title .h2 {
    font-weight: 500;
}



.about-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.summary-section h3 {
    text-align: center;
}

.summary-section p {
    text-align: center;
}


.social-media img {
    opacity: 30%;
   
}

.social-media img:hover {
    opacity: 100%;

}

.tech-section {
    background-color: #EDFFFF;
    text-align: justify;
}

.tech-section h3 {
    text-align: center;
}

.red {
    background-color: red;
    color: white;
}

.green {
    background-color: green;
    color: white;
}

.blue {
    background-color: blue;
    color: white;
}

.featured-projects {
    background-color: #ffffff;
    text-align: center;
}


.highlight-black {
    background: black;
    color: white
}

.project-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.color1-btn {
    display: flex;
    max-height: 50px;
    align-items: center;
    flex-direction: row;
    border-radius: 25px;
}

.my-words {
    text-align: center;
    background-color: #fcedea;
}

.skills {
   
    background-color: #FDF2E4;
    text-align: center;
}