
.circle {
    position: absolute;
    background: linear-gradient(120deg, #a9c9ff85 4%, #ffbbec58 100%);
    
    filter: blur(50px);
    width: 300px;
    height: 300px;
    border-radius: 50%;
    left: 0;
    top:0;
    z-index: 0;
}

.circle-2 {
    top: 900px;
    left: -10%;
    width: 300px;
    height: 300px;
}

/************* SOCIA MEDIA LINK STYLING **************/
.media-list {
    justify-content: flex-end;
    flex-direction: row;
}

.media-list li {
    flex-direction: column;
    align-items: center;
}


.fav-icons:link,
.fav-icons:visited {
     font-size: 3.2rem;
     text-align: center;
     color: var(--accentBlack);
     width: 60px;
     height: 60px;
     transition: all 0.4s ease;
 }

.media-link:link,
.media-link:visited {
     font-size: 1.1rem;
     line-height: 4.1rem;
     color: var(--accentBlack);
     position: relative;
     font-weight: 700;
     text-transform: uppercase;
     transition: all 0.4s ease;
 }


.fav-icons:hover,
.fav-icons:active,
.media-link:hover,
.media-link:active {
     color: var(--dominantBlue);
     transform: scale(1.2);
 }


.media-list li {
     width: 120px;
 }


/************* HEADER STYLING **************/
header {
    background: var(--dominantWhite);
    display: flex;
    justify-content: center;
    padding: 48px 24px 0 24px;
}

.header {
    height: 520px;
    width: 375px;
    position: relative;
}

.header-nav {
    width: 130.5px;
    position: absolute;
    right: 1rem;
    gap: 2rem;
    flex-direction: row;
}

.header-fav-icons:link,
.header-fav-icons:visited {
    color: var(--dominantBlue);
    font-size: 2rem;
    transition: all 0.4s ease;
}

.header-fav-icons:hover,
.header-fav-icons:active {
    color: var(--accentBlue);
}

.header-img {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    position: absolute;
    top: 356px;
    right: 0;
    z-index: 3;
}

.header-text {
    position: absolute;
    top: 121px;
    gap: 20px;
    margin-right: 131px;
}

.header-portfolio-owner {
    font-size: 1.3rem;
    font-weight: 700;
    text-transform: uppercase;
}

.header-portfolio-owner span {
    font-weight: 400;
}

.author-title {
    font-size: 4.8rem;
    font-weight: 700;
    line-height: 4.9rem;
    font-family: "Playfair Display", serif;
    letter-spacing: 0.1rem;
    font-weight: bold;
}

.author-title span {
    font-size: 2.4grem;
    line-height: 4rem;
    display: block;
    color: var(--dominantBlue);

}


/****************** INTRO SECTION ******************/

.intro-section p {
    position: relative;
    font-size: 1.8rem;
}

.intro-section .line-symbol {
    width: 40px;
    height: 2px;
    display: inline-block;
    margin-bottom: 4px;
    margin-right: 10px;
    background-color: var(--dominantBlue);
}

.intro-section .dot-symbol {
    width: 10px;
    height: 10px;
    border-radius: 100px;
    background: var(--dominantBlue);
    display: inline-block;
    margin-left: -20px;
}


/****************** TECH SECTION ******************/


.tech-skill p {
    text-align: center;
    font-size: 1.6rem;
    z-index: 5;
}

.highlight {
    color: var(--dominantBlue);
}


/****************** PROJECT SECTION ******************/

.projects-heading {
    text-align: center;
}

.projects {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(327px,1fr));
    gap: 50px;
    z-index: 2;
}

.project-img {
    transition: all 0.4s ease-in-out;
}

.projects-article {
    background-color: var(--dominantWhite);
    padding: 25px;
    border-radius: 6px;
    transition: all 0.4s ease-in-out;
    box-shadow: 1rem 1rem 1rem #f5f5f7;
}

.projects-article:hover {
    transform: translateY(-15px);
}

.project-img:hover {
    filter: brightness(75%);
}

.projects-text {
    margin-top: 9px;
    gap: 1rem;
}

.project-name:link, 
.project-name:visited {
    font-weight: 700;
    color: var(--accentBlack);
    text-decoration: none;
    transition: all 0.4s ease;
}


.project-description a:link, 
.project-description a:visited {
    color: var(--dominantBlue);
}

.project-description a:hover,
.project-description a:active {
    color: var(--accentBlue);
}

.project-link:hover,
.project-link:active {
    color: var(--dominantWhite);
}

.img-link:link,
.img-link:visited {
    transform: translateY(0);
    top: 30px;
}

.img-link:hover,
.img-link:active {
    transform: translateY(40);
}


.project-languages {
    list-style: none;
    flex-direction: row;
    gap: 10px;
}

.project-language-list{
    background-color: var(--accentPink);
    font-size: 1.2rem;
    padding: 6px;
    border-radius: 5px;
}

.other-project {
    gap: 21px;
    margin-top: 56px;
}

.other-project-heading {
    text-align: center;
    font-weight: bold;
    font-size: 2.1rem;
    line-height: 25px;
}

.other-project-list {
    gap: 40px;
}

.other-project-el{
    border-bottom: solid 1px var(--accentBlack);
    padding-bottom: 50px;
}

.other-project-el:last-child {
    border-bottom: none;

}


/****************** BLOGS SECTION ******************/


.main-blog {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 5.7rem;
}

.blog-date{
    line-height: 30px;
    font-size: 1.4rem;
}

.blog-title:link {
    border-bottom: none;
}

.blog-img {
    height: 205px;
    margin-bottom: 32px;
    object-fit: cover;
}

/****************** SKILLS SECTION ******************/


.skill-section h2 {
    align-self: center;
}

.skills {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(129px,1fr));
    gap: 42px;
    text-align: center;
}

.skill-title {
    color: var(--dominantBlue);
    margin-bottom: 10px;
    font-weight: 700;
}

.code-skills {
    margin-bottom: 28px;
}

.more {
    background-color: #eee;
}



/****************** FOR MORE ******************/

.for-more {
    padding: 40px 64px 59px 64px;
    align-items: center;

}


/****************** FOOTER ******************/
footer {
    height: 302px;
}


.contact-container {
    align-items: center;
    
}

.contact-name,
.contact-link:link,
.contatc-link:visited {
    font-style: normal;
    line-height: 2.5rem;
    display: block;
    text-align: center;
    text-decoration: none;

    color: var(--accentBlack);
}

.contact-link:hover,
.contact-link:active {
    color: var(--dominantBlue);
}

