@import url('satoshi.css');
@import url('eb-garamond.css');

/*Variables*/
:root {
    /*Colors:*/
    --primary-color: #FFFFFF;
    --secondary-color: #000000;

    --primary-headline-color: #0B24F5;
    --secondary-headline-color: #565656;

    --primary-container-color: #FCEDEA;
    --secondary-container-color: #EDFFFF;
    
    --button-color: #F5F5F5;

    --primary-button-hover-color: #EB5577;
    --secondary-button-hover-color: #0B24F5;
    --tertiary-button-hover-color: #FFD338; 
   
    --icon-color: #D0D0D0;
    
    --icon-hover-color: #000000;   

    /*fonts */
    --primary-font-family: 'Satoshi-Variable';
    --secondary-font-family: 'EB-Garamond'
}


/* GENERAL RULES */

*, html {
    scroll-behavior: smooth !important;
}

body, html {
    font-family: var(--primary-font-family);
    max-width: fit-content;
    block-size: fit-content;
    height: 100%;
    overflow-x: hidden;
}

h1 {
    font-weight: 700;
    font-size: 28px;
    line-height: 37.8px;
    color: var(--primary-headline-color);
}

h2 {
    font-weight: 900;
    font-size: 32px;
    line-height: 43.2px;
    color: var(--primary-text-color);
}

h3 {
    font-weight: 500;
    font-size: 24px;
    line-height: 32.4px;
    color: var(--secondary-headline-color);
}

h4 {
    font-weight: 700;
    font-size: 72px;
    line-height: 80px;
    color: var(--primary-headline-color)
}

h5 {
    font-weight: 900;
    font-size: 32px;
    line-height: 43.2px;
}

p {
    font-family: var(--secondary-font-family);
    font-weight: 400;
    font-size: 22px;
    line-height: 28.71px;
}

button {
    border-radius: 40px;
    border: none;
    font-weight: 500;
    font-size: 20px;
    line-height: 27px;
    padding: 10.5px 16px 10.5px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 14px;
    width: fit-content;
    cursor: pointer;
}

a {
    text-decoration: none;
}

.presentation-image img {
    width: 164px;
    height: 164px;
    border-radius:50%;
    object-fit: cover;
}

.presentation-titles {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    padding: 0px;
    box-sizing: border-box;
    width:100%;
    margin-bottom: 37px;
}

article {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 24px;
}

article img {
    width: 100%;
    object-fit: cover;
}


/* HEADER */

header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    padding: 58px 24px;
    padding-bottom: 0;
}

.header-left {
    display: contents;
}

.header-presentation {
    display: contents;
}

.presentation-container {
    display: contents;
}

.header-right {
    display: none;
}

.presentation-image {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    width:100%;
    margin-bottom: 29px;
}

header p {
    box-sizing: border-box;
    margin-bottom: 48px;
}

.social-media-icons {
    display: inline-flex;
    gap: 30px;
    width:100%;
    margin-bottom: 30px;
}

.social-media-icons i {
    color: var(--icon-color);
    font-size:30px;
}

.social-media-icons i:hover {
    color: var(--icon-hover-color)
}

.scroll {
    width: 138px;
    height: 138px;
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--primary-headline-color);
    background-color: transparent;
    padding: 0;
    margin:0;
    font-weight: 900;
    font-size: 16px;
    line-height: 2px;
    text-align:center;
}

.arrow {
    width: 19px;
    height:30px;
    margin-bottom: 15px;
}

.line {
    width: 76px;
    height: 3px;
}

header .scroll {
     margin-bottom: 50px;
}


/* TECH SECTION */

.tech-section {
    height:668px;;
    width: 100%;
    background-color: var(--secondary-container-color);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 62px;
}

.tech-languages p {
    line-height: 32px;
    word-break: normal;
    padding: 0 24px;
}

.tech-section h4 {
    font-size: 80px;
}

mark {
    padding-left: 2px;
    padding-right:0px;
    padding-bottom: 1px;
}

#javascript {
    background-color: #EB5577;
    color: var(--primary-color)
}

#react {
    background-color: var(--primary-headline-color);
    color: var(--primary-color);
}

#mob-programming {
    background-color: #2483E0;
    color: var(--primary-color);
}


/* FEATURED PROJECTS */

.featured-projects {
    padding: 64px 24px 93px 24px;
    position: relative;
}

.featured-projects h4 {
    margin-bottom: 64px;
}

.projects-contaier {
    display: flex;
    flex-direction: column;
    gap: 80px;
}

.article-container {
    display: contents;
}

.article-text {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.featured-projects ul {
    display:flex;
    flex-wrap: wrap;
    justify-content: row;
}

.featured-projects li {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 21.6px;
    padding: 2px 6px;
    display: inline-block;
    margin: 0 5px 5px 0;
}

.featured-buttons {
    display: contents;
}

article button {
    background-color: var(--button-color);
    color: #333333;
}

.button-github:hover {
    background-color: var(--primary-button-hover-color);
    color: var(--primary-color);
}

.button-live:hover {
    background-color: var(--secondary-button-hover-color);
    color: var(--primary-color);
}


/* MY WORDS SECTION */

.my-words {
    background-color: var(--primary-container-color); 
    padding: 64px 24px 93px 24px;
}

.my-words-conatiner {
    display: flex;
    flex-direction: column;
    gap: 98px;
}

.my-words h4 {
    line-height: 97.2px;
    color: var(--primary-button-hover-color);
    margin-bottom: 64px;
}

.my-words-article {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.my-words-article img{
    height: 340px;
    margin-bottom: 16px;
}

.my-words-article h5, .my-words-article p {
    margin: 0;
}

.my-words-article h6{
    font-weight: 900;
    font-size: 20px;
    line-height: 27px;
    color: var(--primary-button-hover-color);
    margin-bottom: 4px;
}

.button-read-article {
    background-color: var(--primary-color);
    color: #333333;
}

.button-read-article:hover {
    background-color: var(--tertiary-button-hover-color);
    color: var(--secondary-color);
}


/* SKILLS SECTION */

.skills {
    background-color: #FDF2E4;
    padding: 64px 93.5px 90px 93.5px;
}

.skills-container {
    display: flex;
    flex-direction: column;
    gap: 66px;
}

.skills-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.skills h4 {
    font-size: 80px;
    margin-bottom: 64px;
    line-height: 108px;
    text-align: center;
}

.skills h6 {
    font-weight: 700;
    font-size: 24px;
    line-height: 32.4px;
    width: fit-content;
    padding: 2px;
    color: var(--primary-color);
}

.skills li {
    font-family: var(--secondary-font-family);
    font-weight: 400;
    font-size: 22px;
    line-height: 32px;
    text-align: center;
}

.h6-code {
    background-color: var(--primary-button-hover-color);
}

.h6-toolbox {
    background-color: #2483E0;
}

.h6-more {
    background-color: #0B24F5;
}

.h6-upcoming {
    background-color: #6DB486;
}

.scroll.skills-scroll {
    margin: auto;
    margin-top: 66px;
} 


/* FOOTER */

footer {
    padding: 64px 22px 93px 22px;
    display: flex;
    flex-direction: column;
    gap: 56px;
    position: relative;
}

footer h4 {
    font-weight: 900;
    font-size: 58px;
    line-height: 78.3px;
    color: var(--primary-button-hover-color);
}

.presentation-container img{
    width: 164px;
    height: 164px;
    border-radius:50%;
    object-fit: cover;
}

footer .presentation-container {
    display: flex;
    flex-direction: column;
    gap: 29px;
}

footer .social-media-icons {
    margin-bottom: 0;
    margin-top: 43px;
}

address a {
    color: var(--secondary-color);
}

a {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 14px;
    width: fit-content;
}

.button-contact-me:hover {
    background-color: var(--tertiary-button-hover-color);
    color: var(--secondary-color);
}


.arrow.footer {
    transform: scaleY(-1);
}

.scroll.footer-scroll {
    align-self: center;
}




/* TABLET */

@media (min-width:744px) and (max-width:1280px) {
    
    
    /* HEADER */

    header {
        margin:0;
        padding:0;
        width: 100%;
        height: 1005px;
        gap: 0;
        justify-content: flex-start;
        position: relative;
    }

    .header-left {
        display: block;
        width: 120%;
        height: 60%;
        position: relative;
        background-color: var(--primary-color);
    }

    .header-presentation {
        width: 540px;
        height: 431px;
        position: absolute;
        left: calc(45% - 540px/2);
        top: calc(50% - 431px/2);
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .presentation-container {
        display: flex;
        justify-content: flex-start;
        width:100%;
        align-items: center;
        gap: 29px;
        width: 496px;
        align-self: flex-start;
        margin-bottom: 32px;
    }

    .presentation-image {
        display: contents;
    }

    .presentation-titles {
        margin: 0px;
        align-self: center;
    }

    .header-presentation p {
        width: 500px;
        align-self: flex-end;
    }

    .social-media-icons {
        width: 288px;
        margin-left:40px;
        margin-bottom: 58px;
    }

    .header-right {
        order: -1;
        display: flex;
        width: 100%;
        position: relative; 
        height:40%;
        background-color: var(--primary-container-color);
    }

    .header-side-image {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    header .scroll {
        margin: 0;
    }

    .scroll {
        position: absolute;
        left: calc(50% - 138px/2);
        top: calc(100% - 138px/2);
        z-index: 1;
    }


    /* TECH SECTION */

    .tech-section {
        height:800px;
        position: relative;
    }

    .tech-section p {
        width: 500px;
    }


    /* FEATURED PROJECTS */

    .featured-projects {
        padding: 120px 24px;
        position: relative;
    }

    .featured-projects h4 {
        font-size: 80px;
        line-height:108px;
        margin-bottom: 40px;
    }

    .project-article {
        flex-direction: row;
        gap: 24px;
        height: 280px;
        max-width: 100%;
    }

    .projects-contaier {
        gap: 80px;
    }

    .project-article img {
        max-width: 100%;
        height: 280px;
        width: 184px;
    }

    .article-container {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        max-width: 100%;
    }

    .article-text {
        display: contents;
    }

    .project-article h5 {
        margin-bottom: 12px;
    }

    .article-container p {
        margin-bottom: 24px;
    }

    .featured-buttons {
        display: flex;
        margin-top:30px;
        gap:24px;
    }


    /* MY WORDS SECTION */

    .my-words {
        padding: 120px 89px 149px 89px;
        position: relative;
    }

    .my-words h4 {
        font-size: 80px;
        line-height: 108px;
    }

    .my-words-article img{
    max-width: 100%;
    height: 340px;
    }


    /* SKILLS SECTION */

    .skills {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
        padding: 121px 170px 155px 170px;
        position: relative;
    }

    .skills-container {
        flex-flow: row wrap;
        justify-content: center;
        row-gap: 44px;
    }

    .skills h4 {
        text-align: center;
        margin-bottom: 79px;
    }

    .skills-section {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .skills li {
        text-align: left;
    }

    .scroll.skills-scroll {
        margin: 0;
    }

    /* FOOTER */

    footer {
        height: 120vh;
        padding: 0;
        align-items: center;
        justify-content: center;
        gap: 75px;
        position: relative;
    }

    footer h4 {
        font-size: 120px;
        line-height: 160px;
    }

    footer .presentation-container {
        flex-direction: row;
        align-self: center;
        margin-bottom: 0;
    }

    footer .social-media-icons {
        margin: 0px;
    }
}


/* DESKTOP */

@media (min-width:1280px) and (max-width:1512px) {

    /* GENERAL  */

    
    body, html {
        max-width: 100%;
    }


    /* HEADER */

    header {
        flex-direction: row;
        margin:0;
        padding:0;
        width: 100%;
        height:100vh;
        gap: 0;
        justify-content: flex-start;
        position: relative;
    }

    .header-left {
        display: block;
        width: 50%;
        height: 100%;
        position: relative;
        background-color: var(--primary-color);
    }

    .header-presentation {
        width: 540px;
        height: 431px;
        position: absolute;
        left: calc(50% - 540px/2);
        top: calc(50% - 431px/2);
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .presentation-container {
        display: flex;
        justify-content: flex-start;
        width:100%;
        align-items: center;
        gap: 29px;
        width: 496px;
        align-self: flex-start;
        margin-bottom: 32px;
    }

    .presentation-image {
        display: contents;
    }

    .presentation-titles {
        margin: 0px;
        align-self: center;
    }

    .header-presentation p {
        width: 500px;
        align-self: flex-end;
    }

    .social-media-icons {
        width: 288px;
        margin-left:40px;
        margin-bottom: 58px;
    }

    .header-right {
        display: block;
        width: 50%;
        position: relative; 
        height:100%;
        background-color: var(--primary-container-color);
    }

    .header-side-image {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

      header .scroll {
        margin: 0;
    } 

     .scroll {
        position: absolute;
        left: calc(50% - 138px/2);
        top: calc(90% - 138px/2);
        padding: 0;
    }

    .scroll.header-scroll {
        background-color: var(--secondary-container-color);
        border-radius: 50%;
    }

    .scroll.feature-scroll {
        top: calc(98% - 138px/2);
    }

    .scroll.my-words-scroll {
        top: calc(93% - 138px/2);
    }


    /* TECH SECTION */

    .tech-section {
        height:100vh;
        flex-direction: row;
        gap: 143px;
        position: relative;
    }

    .tech-languages {
        max-width: 500px;
    }

    .tech-section p {
        margin: 0;
        height: auto;
    }


    /* FEATURED PROJECTS */

    .featured-projects {
        padding: 120px 230px 200px 230px;
        position: relative;
    }

    .featured-projects h4 {
        font-size: 80px;
        line-height: 108px;
        margin-bottom: 40px;
    }

    .project-article {
        flex-direction: row;
        gap:40px;
        height: 280px;
    }

    .projects-contaier {
        gap: 120px;
    }

    .feature-image {
        max-width: 388px;
    }

    .feature-image.left {
        object-position: left top;
    }

    .feature-image.contain {
        object-fit: contain;
    }

    .article-container {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    .article-text {
        display: contents;
    }

    article h5 {
        margin-bottom: 12px;
    }

    article p {
        margin-bottom: 24px;
    }

    .article-container p {
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;       
        overflow: hidden;
        text-overflow: ellipsis;
        margin-bottom: 15px;
    }

    .featured-buttons {
        display: flex;
        margin-top: 15px;
        gap: 24px;
    }

    /* MY WORDS SECTION */

    .my-words {
        padding: 120px 400px 200px 400px;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .my-words h4 {
        margin-bottom: 79px;
        font-size: 80px;
        line-height: 108px;
    }

    .my-words-conatiner {
        width: 100%;
    }

    .my-words-article {
        height: 738px;
    }

    .my-words-article img{
        max-width: 100%;
    }

    .my-words-article p {
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    /* SKILLS SECTION */

    .skills {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        height: 100vh;
        padding: 0;
        padding-top: 50px;
        position: relative;
    }

    .skills-container {
        flex-direction: row;
        justify-content: center;
    }

    .skills h4 {
        margin-bottom: 79px;
    }

    .skills-section {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .skills li {
        text-align: left;
    }

    .scroll.skills-scroll {
        margin: 0;
    }


    /* FOOTER */

    footer {
        height: 100vh;
        padding: 0;
        align-items: center;
        justify-content: flex-start;
        gap: 75px;
        padding: 100px 0px;
    }

    footer h4 {
        font-size: 120px;
        line-height: 160px;
    }

    footer .presentation-container {
        flex-direction: row;
        align-self: center;
        margin-bottom: 0;
    }

    footer .social-media-icons {
        margin: 0px;
    }
}



/* LARGE DESKTOP */

@media (min-width:1512px) {

    body, html {
        max-width: 100%;
    }


    /* HEADER */

    header {
        flex-direction: row;
        margin:0;
        padding:0;
        width: 100%;
        height:100vh;
        gap: 0;
        justify-content: flex-start;
        position: relative;
    }

    .header-left {
        display: block;
        width: 50%;
        height: 100%;
        position: relative;
        background-color: var(--primary-color);
    }

    .header-presentation {
        width: 540px;
        height: 431px;
        position: absolute;
        left: calc(50% - 540px/2);
        top: calc(50% - 431px/2);
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .presentation-container {
        display: flex;
        justify-content: flex-start;
        width:100%;
        align-items: center;
        gap: 29px;
        width: 496px;
        align-self: flex-start;
        margin-bottom: 32px;
    }

    .presentation-image {
        display: contents;
    }

    .presentation-titles {
        margin: 0px;
        align-self: center;
    }

    .header-presentation p {
        width: 500px;
        align-self: flex-end;
    }

    .social-media-icons {
        width: 288px;
        margin-left:40px;
        margin-bottom: 58px;
    }

    .header-right {
        display: block;
        width: 50%;
        position: relative; 
        height:100%;
        background-color: var(--primary-container-color);
    }

    .header-side-image {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    header .scroll {
        margin: 0;
    } 

     .scroll {
        position: absolute;
        left: calc(50% - 138px/2);
        top: calc(90% - 138px/2);
        padding: 0;
    }

    .scroll.header-scroll {
        background-color: var(--primary-color);
        border-radius: 50%;
    }

    .scroll.feature-scroll {
        top: calc(98% - 138px/2);
    }

    .scroll.my-words-scroll {
        top: calc(93% - 138px/2);
    }


    /* TECH SECTION */

    .tech-section {
        height:100vh;
        flex-direction: row;
        gap: 143px;
        position: relative;
    }

    .tech-languages {
        max-width: 500px;
    }

    .tech-section p {
        margin: 0;
        height: auto;
    }


    /* FEATURED PROJECTS */

    .featured-projects {
        padding: 120px 346px 200px 346px;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .featured-projects h4 {
        font-size: 80px;
        line-height: 108px;
        margin-bottom: 40px;
        width: 928px;
    }

    .project-article {
        flex-direction: row;
        gap:40px;
    }

    .projects-contaier {
        gap: 120px;
    }

    .feature-image {
        width: 388px;
        height: 280px;
    }

    .article-container {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        max-width: 500px;
    }

    .article-text {
        display: contents;
    }

    article h5 {
        margin-bottom: 12px;
    }

    article p {
        margin-bottom: 24px;
    }

    .article-container p {
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;       
        overflow: hidden;
        text-overflow: ellipsis;
        margin-bottom: 15px;
    }

    .featured-buttons {
        display: flex;
        margin-top: 15px;
        gap: 24px;
    }


    /* MY WORDS SECTION */

    .my-words {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh
    }

    .my-words h4 {
        margin-bottom: 79px;
        font-size: 80px;
        line-height: 108px;
        width: 564px;
    }

    .my-words-conatiner {
        width: 564px;
    }

    .my-words-article img{
        max-width: 100%;
    }

    .my-words-article p {
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }


    /* SKILLS SECTION */

    .skills {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
        padding: 0;
        position: relative;
    }

    .skills-container {
        flex-direction: row;
        justify-content: center;
    }

    .skills h4 {
        margin-bottom: 79px;
    }

    .skills-section {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .skills li {
        text-align: left;
    }

    .scroll.skills-scroll {
        margin: 0;
    }


    /* FOOTER */

    footer {
        height: 100vh;
        padding: 0;
        align-items: center;
        justify-content: flex-start;
        gap: 75px;
        padding: 100px 0px;
        position: relative;
    }

    footer h4 {
        font-size: 120px;
        line-height: 160px;
    }

    footer .presentation-container {
        flex-direction: row;
        align-self: center;
        margin-bottom: 0;
    }

    footer .social-media-icons {
        margin: 0px;
    }
} 