.project-image img {
  height: 300px;
  width: 350px;
  border-bottom: 13px solid #0b24f5;
  border-left: 10px solid #0b24f5;
  object-fit: cover;
  display: flex;
  margin-right: 10px;
}

ul {
  list-style-type: none;
}

@media (min-width: 576px) {
  .project-image img {
    width: 300px;
    height: 280px;
    object-fit: cover;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .project-image img {
    width: 380px;
    height: 280px;
  }
}
