.leadtext-container {
	display: flex;
	width: 100%;
	padding: 128px 0;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: var(--dark-shade);
}

.leadtext-container > h2 {
	color: white;
	text-align: center;
	font-family: "Montserrat", sans-serif;
	font-size: 56px;
	font-weight: 700;
}

.tech-keywords {
	color: #fff;
	font-family: "Hind", sans-serif;
	font-size: 24px;
	font-weight: 500;
	padding: 0 16px;
	text-align: left;
}

@media screen and (min-width: 667px) {
	.tech-keywords {
		padding: 0 85px;
		text-align: center;
	}
}

@media screen and (min-width: 1025px) {
	.leadtext-container {
		flex-direction: row;
	}

	.leadtext-container > h2 {
		margin-left: 161px;
	}

	.tech-keywords {
		margin: 0 161px 0 124px;
		padding: 0;
		text-align: left;
	}
}
