.leadtext-container {
	display: flex;
	width: 100%;
	height: auto;
	padding: 128px 16px;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: var(--dark-shade);
}

.leadtext-container > h2 {
	color: white;
	text-align: center;
	font-family: "Montserrat", sans-serif;
	font-size: 56px;
	font-weight: 700;
	margin: 0 0 64px 0;
}

.tech-keywords {
	color: #fff;
	font-family: "Hind", sans-serif;
	font-size: 24px;
	font-weight: 500;
	padding: 0;
	text-align: left;
	margin: 0;
}

@media screen and (min-width: 745px) {
	.leadtext-container {
		padding: 256px 32px;
	}

	.tech-keywords {
		text-align: center;
	}
}

@media screen and (min-width: 1281px) {
	.leadtext-container {
		flex-direction: row;
	}

	.leadtext-container > h2 {
		margin-left: 161px;
		margin-bottom: 0;
		font-size: 80px;
	}

	.tech-keywords {
		margin: 0 161px 0 124px;
		padding: 0;
		text-align: left;
		align-items: center;
		font-size: 32px;
	}
}
