.leadtext-container {
	display: flex;
	width: 100%;
	padding: 128px 0;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: var(--technigo-blue);
}

.leadtext-container > h2 {
	color: white;
	text-align: center;
	font-family: "Montserrat", sans-serif;
	font-size: 56px;
	font-weight: 700;
}

.tech-keywords {
	color: #fff;
	font-family: "Hind", sans-serif;
	font-size: 24px;
	font-weight: 500;
	padding: 0 16px;
	text-align: left;
}
