.post-image {
  max-width: 100%;
  height: auto;
  border-bottom: 10px solid #ff4575;
  border-left: 15px solid #ff4575;
}

.article-list-wrapper {
  padding: 128px 16px;
  text-align: center;
  background-color: #ffecea;
}

.my-words-title {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 70px;
  color: #ff4575;

  text-align: left;
}

.section-head-container {
  max-width: 600px;
  padding-left: 180px;
  padding-bottom: 100px;
}

.articles-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 32px;
  padding: 0 16px;
  align-items: center;
}

.article-card {
  text-align: center;
  max-width: 500px;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .article-list-wrapper {
    padding: 100px 16px;
    text-align: left;
  }

  .my-words-title {
    font-size: 56px;
    padding-bottom: 80px;
    text-align: center;
  }

  .articles-container {
    gap: 48px;
    padding: 0 32px;
    align-items: center;
    justify-content: center;
  }

  .section-head-container {
    padding: 0;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (max-width: 576px) {
  .articles-container {
    align-items: center;
    justify-content: center;
    padding: 0 10px;
    width: 100%;
  }

  .article-card {
    width: 100%;
  }

  .article-list-wrapper {
    padding: 100px 10px;
  }

  .section-head-container {
    padding: 0;
    margin-bottom: 64px;
  }

  .my-words-title {
    text-align: center;
    justify-content: center;
    font-size: 56px;
  }
}
