h2 {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 80px;
}

h3 {
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 32px;
}

.developer {
    color: pink;
    margin-top: 0px;
}

.app {
    color: blue;
}

.tech {
    color: white;
}