h2 {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 80px;
}

h3 {
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 32px;
}

.intro-heading {
    color: #0B24F5;
    margin: 0px;
}

.tech {
    color: white;
}

.contact-heading {
    color: #0B24F5;
}

.projects-heading {
    color: #0B24F5;
    margin: 0px;
}