.live-demo, .view-live {
    background-color: #F5F5F5;
    color: #333333;
    border-radius: 50px;
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 15px;
    min-width: 120px;
    border: none;
    height: 30px;
}

.live-demo:hover {
    color: white;
    background-color: #0B24F5;
}

.view-live:hover {
    color: white;
    background-color: #EB5577;
}