.about-me {
    display: flex;
    align-items: center;
    font-family: 'Hind';
    font-weight: 400;
    text-align: left;
}

.tech-text {
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 32px;
    color: white;
}

.project-text {
    font-family: 'Hind';
    font-weight: 400;
    margin: 0px;
    text-align: left;
}

.skills-text {
    font-family: 'Hind';
    color: white;
    font-size: 15px;
}