.project-list {
    display: flex;
    flex-direction: column;
    gap: 3em;
    width: 50%;
}

.box-wrapper {
    display: flex;
    flex-direction: row;
    gap: 2em;
}

.project-card {
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 70%;
}

.project-info {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.project-text p {
    color: black;
    font-family: 'Hind';
    font-weight: 400;
}

.project-list {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.project-headings {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.tech-details {
    display: flex;
    flex-direction: row;
    gap: 0.5em;
}

.tech-block {
    background-color: black;
    padding: 0px 2px 0px 2px;
}

.link-buttons {
    display: flex;
    flex-direction: row;
    gap: 0.5em;
}

.img-container {
    background-color: blue;
    width: 10em;
    height: 10em;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}

.project-img {
    max-width: 95%;
}

.view-code:hover {
    fill: #FF4575;
    color: #FFFFFF;
}

.live-demo {
    fill: blue;
    color: #FFFFFF;
}

@media screen and (max-width: 744px) {
    .box-wrapper {
        display: flex;
        flex-direction: column;
    }
}