.project-list {
    display: flex;
    flex-direction: column;
}

.box-wrapper {
    display: flex;
    flex-direction: row;
    gap: 40px;
    /* padding: 100px; */
}

.project-headings {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.project-info {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.link-buttons {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.info-buttons {
    display: flex;
    flex-direction: row;
    gap: 3px;
}

.img-container {
    background-color: blue;
    width: 210px;
    height: 210px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}

.project-img {
    width: 200px;
    height: 200px;
}

@media screen and (max-width: 744px) {
    .box-wrapper {
        display: flex;
        flex-direction: column;
    }
}