.intro-sub {
    margin: 0px;
}

.project-sub {
    margin: 0px;
    text-align: left;
}

.code {
    color: white;
    background-color: #EB5577;
}

.toolbox {
    color: white;
    background-color: #2483E0;
}

.upcoming {
    color: white;
    background-color: #6DB486;
}

.more {
    color: white;
    background-color: #FFDE30;
}