/* tech container */
.tech-container{
    width:100%;
    max-width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tech-title{
    font-family:'Montserrat', sans-serif;
    letter-spacing: 3px;
    color:#445D48;
   
}
.tech-container h1{
    margin:0;
    font-size: 50px;
}
/* Content part */
.tech-content{
    width:100%;
    margin:0 0 15px 0;
    color:#445D48;
    font-style: normal;
  
}
.tech-content-title{
    margin:0;
    font-size:20px;
    line-height: 35px;
    font-style: normal;
}

.tech-content ul{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    font-size: 0.9rem;
    list-style: none;
    padding: 0;
    color:#445D48;
    font-weight: 400;
}
.tech-content li{
    cursor: pointer;
    font-size: 18px;
    color:#001524;
    overflow-wrap: break-word; 
    font-style: normal;
}
.tech-container li:hover{
    text-decoration: underline;
}
/* flyingcat icon */
.flyingcat{
    max-width: 150px;
    max-height:150px;
    position:absolute;
    transform:translate(-50%,-50%);
    border-style:none;
    overflow: clip;
    left:12vw;
    z-index: 1000;
}
@media (min-width:1024px) {
    /* Content part */
    .tech-content{
        padding-left: 10rem;
    }
    .tech-content-title{
        line-height:50px;
        font-size: 28px;
}
    .tech-content li{
        font-size: 22px;
    }
    .flyingcat{
        max-width: 200px;
        max-height:200px;
    }
    
}

@media (min-width:678px) and (max-width:1023px) {
     /* Content part */
     .tech-content{
        padding-left:6rem;
    }
    .tech-content-title{
        line-height:50px;
        font-size: 28px;
}
    .tech-content li{
        font-size: 20px;
    }
    .flyingcat{
        max-width: 200px;
        max-height:200px;
        
    }
}