/* default styles for mobile */

.headerContainer h1,
h2 {
  font-size: 32px;
  text-align: left;
  padding-left: 0.5em;
  color: blue;
}

.nameTxtMobile {
  /* need to adjust these styles inside the typeanimation component */
  display: block;
  text-align: left;
  padding-left: 1em;
}

.nameTxtDesktop {
  display: none;
}

.headerContainer p {
  padding: 1em;
  font-size: 16x;
  text-align: left;
}

.headerContainer img {
  max-width: 164px;
  max-height: 164px;
  border-radius: 50%;
  text-align: center;
}

.stack-img:hover {
  content: url("/Assets/stackoverflow-hover.png");
}

.linkedin-img:hover {
  content: url("/Assets/linkedin-hover.png");
}

.github-img:hover {
  content: url("/Assets/github-hover.png");
}

.mobileLinks {
  display: none;
}

.headerImageDesktop {
  display: none;
}

.headerImageMobile {
  text-align: center;
  padding: 3em 0 1em 0;
}

/* Media query for tablet */
@media screen and (min-width: 667px) and (max-width: 1023px) {
  .mobileLinks {
    display: none;
  }

  .nameTxtDesktop {
    display: block;
  }

  .nameTxtMobile {
    display: none;
  }

  .headerContainer {
    text-align: left;
    display: grid;
    grid-template-columns: 20% 80%;
    padding: 5em 0 0 3em;
  }

  .headerContainer > div:nth-child(1) {
    grid-row: 1 / span 1;
    grid-column: 1 / span 2;
  }

  .headerContainer > div:nth-child(2) {
    grid-row: 2 / span 1;
    grid-column: 1 / span 2;
  }

  .headerContainer > div:nth-child(3),
  .headerContainer > div:nth-child(4) {
    grid-row: 3 / span 1;
    grid-column: span 1;
  }

  .headerContainer > div:nth-child(3),
  .headerContainer > div:nth-child(4) p {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0.5em;
  }

  .headerContainer > div:nth-child(4) {
    align-items: center;
    padding: 0.5em 0 0 4em;
  }

  .headerContainer h1,
  h2 {
    margin: 0;
    padding: 0;
  }

  .headerBox {
    grid-column: span 2;
    margin: 0;
  }

  .headerImageDesktop {
    grid-column: span 2;
    margin: 0;
    display: block;
  }

  .headerImageMobile {
    display: none;
  }

  .headerImageobile .headerContainer h1 {
    font-size: 56px;
    color: blue;
    text-align: left;
  }

  .headerContainer h2 {
    font-size: 24px;
    padding: 0;
  }

  .headerBox p {
    font-size: 18px;
    text-align: left;
  }

  .headerContainer img {
    max-width: 164px;
    max-height: 164px;
    border-radius: 50%;
  }
}

/*media query for desktop - 2 rows */
@media (min-width: 1024px) {
  .mobileLinks {
    display: none;
  }

  .headerContainer {
    text-align: left;
    display: grid;
    grid-template-columns: 20% 80%;
    padding: 18em 19em 10em 19em;
  }

  .headerContainer > div:nth-child(1) {
    grid-row: 1 / span 1;
    grid-column: 1 / span 2;
  }

  .headerContainer > div:nth-child(2) {
    grid-row: 2 / span 1;
    grid-column: 1 / span 2;
  }

  .headerContainer > div:nth-child(3),
  .headerContainer > div:nth-child(4) {
    grid-row: 3 / span 1;
    grid-column: span 1;
  }

  .headerContainer > div:nth-child(3),
  .headerContainer > div:nth-child(4) p {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0.5em;
  }

  .headerContainer > div:nth-child(4) {
    align-items: center;
    padding: 0 3em 0 1em;
    margin-top: 2em;
  }

  .blurb {
    padding: 4em 4em 0 0;
  }

  .headerContainer h1,
  h2 {
    margin: 0;
    padding: 0;
  }

  .nameTxtDesktop {
    display: block;
  }

  .nameTxtMobile {
    display: none;
  }

  .headerBox {
    grid-column: span 2;
    margin: 0;
  }

  .headerImageDesktop {
    grid-column: span 2;
    margin: 0;
    display: block;
  }

  .headerImageMobile {
    display: none;
  }

  .headerContainer h1 {
    font-size: 80px;
    color: blue;
    text-align: left;
  }

  .headerContainer h2 {
    font-size: 32px;
    padding: 0;
  }

  .headerBox p {
    font-size: 18px;
    padding: 0 6em 1em 1em;
    text-align: left;
  }

  .headerContainer img {
    max-width: 164px;
    max-height: 164px;
    border-radius: 50%;
  }
}
