h2{
color: var(--firstly-color);
font-family: Montserrat;
font-size: 32px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
p{
color: var( --text);
font-family: Montserrat;
font-size: 18px;
font-style: normal;
font-weight: 600;
line-height: normal;
}
header{
display: flex;
flex-direction: column;
gap:32px
}
img{
width: 164px;
height: 164px;
border-radius: 164px;
}
.header-paragraph {
color: var( --text);
font-family:var(--default-font-family);
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
align-self: stretch;

}
.arrow{
  display: block;
  margin: auto;
}
@media (min-width: 667px) and (max-width: 1024px){
  p{
    font-size: 24px;
  }
  h2{
    font-size: 56px;
  }
.description-wrapper{
  display: flex;
  flex-direction: row;
  gap:2rem;
  margin-bottom: 128px;
}

}

@media (min-width: 1025px){
p{
  font-size: 32px;
}
h2{
  font-size: 80px;
}
.header-paragraph {
  width: 600px;
}
.description-wrapper{
  display: flex;
  flex-direction: row;
  gap:2rem;
  margin-bottom: 128px;
}
header{
  gap:16px
  }
}

