.contact-container {
  padding: 128px 16px;
  display: flex;
  flex-direction: column;
  gap: 64px;
  align-items: center;
}

.contact-info {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.contact-info h3 {
  color: var(--header-font);
  text-align: center;
  font-size: 22px;
  font-weight: 600;
  word-break: break-all;
}

.contact-info a {
  color: var(--text);
}

.icons {
  display: flex;
  gap: 32px;
}

.icon-box {
  display: flex;
}

@media screen and (min-width: 744px) {
  .contact-container {
    padding: 128px 32px;
  }
}

/* --- Desktop --- */
@media screen and (min-width: 1280px) {
  .contact-container {
    padding: 128px 161px;
  }

  .contact-container h2 {
    margin-bottom: 64px;
  }
}

@media screen and (min-width: 1513px) {
  .contact-container {
    padding: 128px 234px;
  }
}
