.skills-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    grid-column: span 4;
}

.skills-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: solid 2px var(--color-primary);
    padding-bottom: 1.5rem;
}

.skills-card:last-child .skills-box {
    border-bottom: none;
}

.skills-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.list-item {
    padding: 0;
    margin: 0;
}