.skills-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    grid-column: span 4;
}

.skills-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: solid 2px var(--color-primary);
    padding-bottom: 1.5rem;
    padding-top: 1.5rem;
    width: 12.5rem;
}

.skills-card:last-child .skills-box {
    border-bottom: none;
}

.skills-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 1rem;
    list-style-type: none;
}

.list-item {
    padding: 0;
    margin: 0;
}

@media(min-width: 1024px) {
    /* .skills-section {
        display: flex;
        align-items: stretch;
    } */

    .skills-card {
        align-items: flex-start;
        flex-grow: 1;
        height: 100%;
    }

    .skills-box {
        border-bottom: none;
        border-right: solid 2px var(--color-primary);
        height: 100%;
    }
}