.buttons-container {
  display: flex;
  margin-top: 20px;
  flex-direction: row;
  flex-wrap: wrap;
}

.live-demo-button,
.github-button {
  display: flex;
  align-items: flex-start;
  gap: 16px;
  flex-direction: column;
  flex-grow: 1;
  padding: 5px;
}

.live-demo-button a,
.github-button a {
  text-decoration: none;
}

.live-demo-button button,
.github-button button {
  background: #f5f5f5;
  color: #333333;
  border-radius: 40px;
  border: none;
  display: flex;
  align-items: center;
  gap: 7px;
}

.live-demo-button p,
.github-button p {
  padding-right: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  margin: 0;
}

.live-demo-button button svg,
.github-button button svg {
  fill: #333333;
}

.live-demo-button button:hover {
  background: #0b24f5;
  color: white;
  transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
}

.live-demo-button button:hover p {
  color: white;
  transition: color 0.3s ease-in-out;
}

.github-button button:hover {
  background: #eb5577;
  color: white;
  transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
}

.github-button button:hover p {
  color: white;
  transition: color 0.3s ease-in-out;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .project-container {
    padding: 64px 16px;
    margin: 0 auto;
  }

  .project-list {
    gap: 32px;
  }

  .feature-project-title {
    font-size: 40px;
    margin-bottom: 30px;
  }

  .project-card {
    width: 100%;
  }
}

@media screen and (max-width: 576px) {
  .project-card {
    width: 100%;
  }

  .live-demo-button,
  .github-button {
    width: 100%;
    margin-top: 16px;
  }
}
