.project-h3 {
    text-align: left;
}

.article-h3 {
    text-align: left; 
}


/* ------------ Desktop only ------------ */
@media (min-width: 1280px) {
    .project-h3 {
        font-size: 32px; 
    }

    .article-h3{
        font-size: 32px; 
    }
}
