.projectCard {
  display: flex;
  /* width: 343px; */
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}
.projectCard h2 {
  color: #000;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.projectTextWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  align-self: stretch;
}
.projectTextWrapper p {
  font-family: Montserrat, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.projectCard a {
  color: #333333;
  display: flex;
  padding-right: 16px;
  align-items: center;
  gap: 7px;
  text-decoration: none;
}
.projectCard a:hover {
  color: white;
}
/* .projectCard img:hover {
  filter: inherit;
} */
.projectCard button {
  border: none;
  padding-right: 16px;
  border-radius: 40px;
  background: #f5f5f5;
  text-decoration: none;
}

#liveDemoBtn:hover {
  color: white;
  background-color: #9da993;
}
#gitBtn:hover {
  color: white;
  background-color: #eb5577;
}
