.project-card {
  display: flex;
}
.tags {
  text-transform: uppercase;
  background-color: black;
  color: white;
  font-size: 14px;
  padding: 2px;
  font-weight: bold;
}

.buttons {
  display: flex;
}

.project-tags {
  display: flex;
  gap: 5px;
  margin: 15px 0;
}
