.imgArticleWrapper img {
  height: 200px;
  width: 343px;
  object-position: center;
  /* border-bottom: 20px solid #ff4575;
  border-left: 20px solid #ff4575; */
  border-bottom: 20px solid #bca88e;
  border-left: 20px solid #bca88e;
  object-fit: cover;
}
