.contact-info-page {
    height: 100vh;
}

.contact-info-wrapper {
    padding: 128px 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 64px;
}

.contact-information {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    text-align: center;
}

/* button styling */

.contact-info-button-wrapper {
    display: flex;
    align-items: space-between;
    gap: 32px;
}

@media (min-width: 667px) and (max-width: 1024px) {

    .contact-info-page {
        height: 815px;
    }

    .contact-info-wrapper {
        padding: 128px 0;
        width: 310px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 64px;
    }

}

@media (min-width: 1025px) {


    .contact-info-page {
        height: 939px;
    }

    .contact-info-wrapper .big-heading {
        margin-bottom: 64px;
    }


    .contact-info-wrapper {
        width: 413px;
        padding: 128px 0;
        margin: 0 auto;
        gap: 64px;
    }
}