.footer-wrapper {
    background-color: #FF4575;
    height: 114px;
    width: 100%;
    color: #FFF;
    font-family: Montserrat;
     /* font-size: 26.038px; use for animation */
     font-size: 18px;
    font-style: normal;
    font-weight: 600;
    /* line-height: 37.874px; use for animation*/
    line-height: normal;
    display: flex; 
    align-items: center; 
    justify-content: center; /* remove if I choose to add animation */
}