

.my-words-page-wrapper {
    background-color: #FFECEA;
    padding: 128px 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 64px;
  }
  


/*   My Words article card*/
.article-card-image {
    border-bottom: 20px solid #FF4575;
    border-left: 20px solid #FF4575;
    height: 200px;
    /* Set a fixed height */
    object-fit: cover;
    width: 100%;
}