.my-words-page-wrapper {
  background-color: #FFECEA;
}

.my-words-page-wrapper > img {
  z-index: 1;
  position: relative;
  top: -15px;  /* Change this for other devices */
}

.my-words-page-wrapper > div {
  z-index: 10;
  position: relative;
}
/* Wavy divider */

.wavy-divider {
  width:100%;
}

.my-words-article-content {
  padding: 128px 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 64px;
}

/*   My Words article card*/
.article-card-image {
  border-bottom: 20px solid #FF4575;
  border-left: 20px solid #FF4575;
  height: 200px;
  /* Set a fixed height */
  object-fit: cover;
  width: 100%;
}

.my-words-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}

.my-words-heading-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}