

.my-words-page-wrapper {
    background-color: #FFECEA;
    height: 100vh;
  }
  


/*   My Words article card*/
.article-card-image {
    border-bottom: 20px solid #FF4575;
    border-left: 20px solid #FF4575;
}