.text {
  font-family: Montserrat;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  height: fit-content;

  @media (min-width: 744px) {
    font-size: 56px;
  }

  @media (min-width: 1260px) {
    font-size: 80px;
  }
}
