@use "../../../styles/variables.scss" as *;
@use "../../../styles/mixins.scss" as *;

.text {
  font-family: $font-display;
  font-size: 32px;
  font-weight: 700;
  height: fit-content;

  @include sm {
    font-size: 56px;
  }

  @include md {
    font-size: 80px;
  }
}
