.arrow-button {
  display: flex;
  width: 18.9375rem;
  height: 3rem;
  padding: 0rem 1rem;
  align-items: center;
  gap: 1rem;
  border-radius: 0.75rem;
  border: 2px solid var(--color-primary);
  font-size: 1.125rem;
  font-weight: 500;
  text-decoration: none;
  color: var(--color-primary);
}

.arrow-button:hover {
  background-color: #dbdbdb;
}