.arrow-button {
  display: flex;
  width: 18.9375rem;
  height: 3rem;
  padding: 0rem 1rem;
  align-items: center;
  gap: 1rem;
  border-radius: 0.75rem;
  font-size: 1.125rem;
  font-weight: 500;
  text-decoration: none;
  font-weight: 505;
  transition: background-color 0.3s;
}

.arrow-button.black-on-white {
  background-color: var(--color-secondary);
  color: var(--color-primary);
  border: 2px solid var(--color-primary);
}

.arrow-button.white-on-black {
  background-color: var(--color-primary);
  color: var(--color-secondary);
  border: 2px solid var(--color-secondary);
}

.arrow-button:hover {
  background-color: var(--hover-color);
}