.button {
  display: flex;
  align-items: center;
  padding: 0rem 1rem;
  gap: 1rem;
  width: 18.9375rem;
  background-color: var(--color-primary);
  color: var(--color-secondary);
  border: none;
  border-radius: 0.75rem;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s;
  font-weight: 505;
}


.button.black-on-white {
  background-color: var(--color-secondary);
  color: var(--color-primary);
}

.button:hover {
  background-color: #333;
}

.button-icon.inverted {
  filter: brightness(0) invert(1);
}