.introduction-h3 {
  font-size: 18px;
  font-weight: 600;
}

.featured-projects-h3,
.my-words-h3 {
  font-size: 24px;
  font-weight: 600;
}

.skills-h3 {
  font-size: 24px;
  font-weight: 600;
  color: #fff;
}

.code {
  background-color: #eb5577;
}

.toolbox {
  background-color: #2483e0;
}

.upcoming {
  background-color: #6db486;
}

.more {
  background-color: #ffde30;
  color: #0b24f5;
}

.contact-h3 {
  font-size: 18px; /*Otherwise my e-mail can't fit in mobile view*/
  font-weight: 600;
}

@media (min-width: 744px) and (max-width: 1280px) {
  .introduction-h3,
  .contact-h3 {
    font-size: 24px;
  }
}

@media (min-width: 1280px) {
  .introduction-h3,
  .featured-projects-h3,
  .skills-h3,
  .contact-h3 {
    font-size: 32px;
  }
}
