/* ------------------------- WRAPPERS AND ALIGNMENTS ------------------------ */

/* The ul element for the list of cards */
.cards__list {
  display: grid;
  grid-template-columns: 1fr;
  grid-column-gap: 32px;
  grid-row-gap: 32px;
}

/* The div wrapper for each card */
.card {
  display: flex;
  flex-direction: column;
  position: relative;
}

/* Makes sure that cards lists that are not featured are shown inline */
.card__text-inline > * {
  display: block;
}
.card__text-inline--blog > * {
  display: inline;
}

/* ---------------------------------- PILLS --------------------------------- */

/* The ul element for the list of pills in a card */
.card__pills {
  display: flex;
  flex-flow: row wrap;
  margin-top: 10px;
}

/* Styling for each pill item in the pill list */
.card__pills--item {
  background-color: var(--secondary);
  padding: 5px;
  margin: 8px 8px 0 0;
}

/* ----------------------------- FEATURED CARDS ----------------------------- */

/* Styling for the image and header for a card that is featured */
.card__title--featured {
  position: relative;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1em;
}
.card__title--featured img {
  height: 250px;
  width: 100%;
  object-fit: cover;
}
.card__title--featured h2 {
  position: absolute;
  padding: 10px;
  transition: all 0.8s ease-in-out;
}

/* ------------------------------ THE CARD LINK ----------------------------- */

/* Adds a psuedo element to link in header to make the entire card clickable */
.card a::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}

/* Styling for different interaction states of the link */
.card a:focus {
  outline: none;
  text-decoration: underline;
}

.card:hover h2.featured {
  transform: scale(1.1);
}

.card:focus-within > *:not(.card__pills),
.card:hover > *:not(.card__pills) {
  text-decoration: underline;
}

.card:focus-within a:focus {
  text-decoration: none;
}
