@use './variables.scss' as *;
@import url('https://fonts.googleapis.com/css2?family=Hind:wght@400;500;600&family=Montserrat:wght@400;500;600;700&display=swap');
#root {
  min-width: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Hind', monospace;
  color: #000;
}

main {
  min-height: 100vh;
  min-width: 100vw;
  position: relative;
}

button {
  cursor: pointer;
}

html {
  scroll-behavior: smooth;
}

.progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 10px;
  background: $color-secondary;
  transform-origin: 0%;
  z-index: 1000;
}

.text-blue {
  display: inline-block;
  color: #079992;
  transition: all 0.3s ease-in;
  border-bottom: solid 4px transparent;
  font-weight: bold;
  line-height: 1.2;

  &:hover {
    border-bottom: solid 4px #079992;
  }
}

.text-red {
  display: inline-block;
  line-height: 1.2;
  color: #e55039;
  transition: all 0.3s ease-in;
  border-bottom: solid 4px transparent;
  font-weight: bold;
  &:hover {
    border-bottom: solid 4px #e55039;
  }
}
