.hero {
  background-size: cover;
  color: white;
}

.hero__wrapper > picture {
  align-self: flex-end;
}

.hero__avatar {
  width: 180px;
  height: 180px;
  border: 2px solid white;
  border-radius: 90px;
  position: relative;
  top: 20px;
}

/* Changes the hero background image based on webp compatibility test made by the modernizr file */
.no-webp .hero {
  background-image: url("../assets/bkg.png");
}
.webp .hero {
  background-image: url("../assets/bkg.webp");
}
