.hero {
  background-image: url("../assets/bkg.webp");
  background-size: cover;
  color: white;
  display: flex;
  flex-direction: column;
}

.hero__avatar {
  width: 180px;
  height: 180px;
  border: 2px solid white;
  border-radius: 90px;
  align-self: flex-end;
  position: relative;
  top: 20px;
}
