:root {
  --primary: #8f3772;
  --secondary: #d59dc7;
  --light-bkg: #f4f4f4;
}

/* This makes sure that content within each full-wdith section is properly centered and aligned */
.wrapper {
  margin: 0 auto;
  padding: 40px 0;
  max-width: 330px;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
}

/* set the section background colors */
.section--alt-background {
  background-color: var(--light-bkg);
}
.section--footer {
  background-color: var(--primary);
}

/* Other section styles that only have 1 class to style and don't require a seperate file */

.contact-info__wrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: white;
}

.skills__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 1.5rem;
  grid-row-gap: 1.5rem;
  text-align: center;
}
