:root {
  --primary: #8f3772;
  --secondary: #d59dc7;
  --light-bkg: #f4f4f4;
}

header,
section,
footer {
  padding: 40px 24px;
}

/* set the section background colors */
.section--alt-background {
  background-color: var(--light-bkg);
}
