:root {
  --primary: #8f3772;
  --secondary: #d59dc7;
  --light-bkg: #f4f4f4;
}

/* This makes sure that content within each full-wdith section is properly centered and aligned */
.wrapper {
  margin: 0 auto;
  padding: 40px 0;
  max-width: 330px;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
}

/* set the section background colors */
.section--alt-background {
  background-color: var(--light-bkg);
}
.section--footer {
  background-color: var(--primary);
}

/* Other */

.hero__wrapper {
  overflow: visible;
  padding-bottom: 0 !important;
}

.contact-info__wrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: white;
}
