h1 {
  font-size: 82px;
}
h2 {
  font-size: 50px;
}
p {
  font-size: 30px;
}
.hero__wrapper > p {
  font-size: 28px;
}

.wrapper {
  padding: 80px 0;
  max-width: 900px;
}

.hero__avatar {
  width: 333px;
  height: 333px;
  border-radius: 170px;
  top: 50px;
}
