/* New sizing for typography */
h1 {
  font-size: 82px;
}

h1.primary,
h1.secondary {
  font-size: 48px;
  padding: 10px;
  margin-bottom: 80px;
}
h2.featured--blog a {
  font-size: 30px;
}

p,
h2,
li,
small {
  font-size: 25px;
}

p.alt-font {
  font-size: 30px;
}

li.card__pills--item {
  font-size: 16px;
}

/* New sizing for general sections */
.wrapper {
  padding: 80px 0;
  max-width: 900px;
}

/* New sizing for specific elements*/
.hero__wrapper > p {
  font-size: 28px;
}
.hero h2 {
  font-size: 50px;
}
.hero__avatar {
  width: 333px;
  height: 333px;
  border-radius: 170px;
  top: 50px;
}

.cards__list:not(.cards__list--other) {
  grid-template-columns: 1fr 1fr;
}
.cards__list {
  grid-column-gap: 54px;
  grid-row-gap: 54px;
}
.card__text-inline > * {
  display: inline;
}

.link__icon {
  width: 160px;
  height: 160px;
}

.link__icon--small {
  width: 80px;
  height: 80px;
  margin: 5px;
}
.card__title--featured img {
  height: 306px;
}

.skills__wrapper {
  grid-template-columns: 1fr 1fr 1fr;
}

.skills__category {
  line-height: 41px;
}
