@mixin padding-reset {
  padding-top: 128px;
  padding-bottom: 128px;
}

// Small devices
@mixin sm {
  @media (min-width: 744px) {
    @content;
  }
}

// Medium devices
@mixin md {
  @media (min-width: 1260px) {
    @content;
  }
}

// Large devices
@mixin lg {
  @media (min-width: 1512px) {
    @content;
  }
}

@mixin flexCenter {
  display: flex;
  flex-direction: column;
  align-items: center;
}
