.projects__flexbox {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
.projects__flexbox--other {
  flex-flow: column wrap;
}

.project {
  margin: 13px;
}
.project--feature {
  width: 327px;
}

.project__title {
  position: relative;
  text-align: center;
  height: 212px;
  background-size: cover;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  background-image: url("../assets/project-alex.png");
}
.project__title > h2 {
  position: absolute;
}

.project__languages {
  display: flex;
  flex-flow: row wrap;
  margin-top: 10px;
}

.project__languages--item {
  background-color: var(--secondary);
  color: black;
  padding: 5px;
  margin-right: 8px;
}
