.projects__wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
  text-align: center;
}

.project {
  margin: 13px;
}

.project__title {
  position: relative;
  width: 327px;
  height: 212px;
  background-size: cover;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../assets/project-alex.png");
}
.project__title > h2 {
  position: absolute;
}

.projects__flexbox {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
