/* Set global font and font-size */
* {
  font-family: "Montserrat", sans-serif;
  margin: 0;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 24px;
}

p {
  font-weight: normal;
  line-height: 29px;
  font-size: 17px;
}

/* Any bold text should have the primary color */
b {
  color: var(--primary);
}

/* Styles the primary section header 1 titles */
h1.primary {
  background-color: var(--primary);
  font-size: 22px;
  color: white;
  width: fit-content;
  align-self: center;
  margin-bottom: 24px;
  padding: 5px;
  letter-spacing: 0.1em;
}

/* Makes sure that the project titles are always in 24px */
h2.project {
  font-size: 24px !important;
}

/* Adds hero specific styles for the typography */
.hero__wrapper > p {
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  font-weight: normal;
}
.hero__wrapper b {
  color: white;
}
