.profile-pic {
    width: 16.4rem;
    display: block;
    margin: auto;
    border-radius: 50%;
    object-fit: cover;
  }
  
  .title-header {
    font-size: 3.2rem;
    color: var(--primary-color);
    width: 100%;
    text-align: left;
  }

  .icon-container{
    display: flex;
    justify-content: center;
    align-items: center;
    /* position: relative;
    top: 0; */
  }

  .arrow {
    width: 4rem;
    position: relative;
    top: 0;
    animation: arrow-icon 1.7s ease-in alternate infinite;
  }

  @keyframes arrow-icon {
    from {top: -3rem}
    to {top: 0}
  }
  @keyframes arrow-icon-large {
    from {top: -6rem}
    to {top: 0}
  }

  @media (min-width: 700px) {
    .my-words {
      grid-column: 3/11;
    }
    .title-header {
      font-size: 5.4rem;
    }

    .intro .profile-pic {
      grid-row: 3;
    }

    .intro-text {
      grid-row: 3;
      grid-column: 2/span 4;
      margin-left: 2.2rem;
    }

    .icon-container {
      width: 100%;
      margin: 0 auto;
      display: flex;
      place-content: center;
    }
    
  }

  @media (min-width: 1100px) {
    .grid-parent .intro {
      max-width: 65dvw;
      grid-column: 4/11;
    }
  }

  @media (min-width: 1400px) {
    .grid-parent .intro {
      max-width: 55dvw;
      grid-column: 5/10;
    }
    .arrow {
      width: 4.5rem;
      animation: arrow-icon-large 3.4s ease-in alternate infinite;
    }
  }