.profile-pic {
    width: 16.4rem;
    display: block;
    margin: auto;
    border-radius: 50%;
  }
  
  .title-header {
    font-size: 3.2rem;
    color: var(--primary-color);
    width: 100%;
    text-align: left;
  }
  
  .icon {
    position: relative;
    left: 50%;
  }

  .arrow {
    width: 4rem;
  }