.heading-skill {
  color: white;
  display: inline-block;
  padding: 0px 3px;
  /* background-color: #b5958b; */
  background-color: #c5999f;
  /* background-color: #f1a7d0; */
}

/* .heading-skill-code {
  background-color: #2483e0;
}

.heading-skill-toolbox {
  background-color: #2483e0;
}

.heading-skill-upcoming {
  background-color: #2483e0;
}

.heading-skill-more {
  background-color: #2483e0;
} */
