.project-image img {
  height: 300px;
  width: 350px;
  border-bottom: 13px solid #0b24f5;
  border-left: 10px solid #0b24f5;
  object-fit: cover;
  display: flex;
  margin-right: 10px;
}

ul {
  list-style-type: none;
}
