.skill-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: var(--color-1);
    padding: 128px 16px 157px 16px;
    gap: 64px;
}

.skills {
    font-size: 56px;
    font-weight: 700;
    color: var(--color-8);
}

.skill-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 64px;
}

.skillbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px
}

.listbox p {
    font-size: 18px;
    color: var(--color-2);
    font-weight: 400;
    font-family: "Hind", sans-serif;
    line-height: normal;
    text-align: center;
    padding: 2px;
}

.code-head,
.toolbox-head,
.upcoming-head {
    font-size: 24px;
    font-weight: 600;
    color: var(--color-8);
}

.more-head {
    font-size: 24px;
    font-weight: 600;
    color: var(--color-1);
}

.code-head {
    background-color: var(--color-7);

}

.toolbox-head {
    background-color: var(--color-5);
}

.upcoming-head {
    background-color: var(--color-4);
}

.more-head {
    background-color: var(--color-6);
}

@media (min-width:667px) and (max-width:1024px) {
    .skill-wrapper {
        padding: 128px 32px 148px 32px;
        width: auto;
    }

    .skill-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: flex-start;
        gap: 64px;
    }

    .skillbox {
        align-items: flex-start;
    }

    .listbox p {
        text-align: left;
    }
}

@media (min-width:1025px) {
    .skill-wrapper {
        padding: 128px 161px;
        gap: 128px;
    }

    .skill-container {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
    }

    .skills {
        font-size: 80px;
    }

    .listbox p {
        text-align: left;
    }

    .skill-container h4 {
        font-size: 32px;

    }

    .skillbox {
        align-items: flex-start;
        gap: 8px;
    }
}