.btngit {
    border: none;
    background: transparent;
    cursor: pointer;
    transition: transform 0.2s;
}

.github-image {
    transition: transform 0.2s;
    /* Add transition for the image */
}

.btngit:hover .github-image {
    transform: scale(1.1);
    /* Apply the hover effect to the image */
}