.github-button {
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 40px;
    color: #333;
    font-family: Montserrat;
    font-size: 18px;
    padding: 5px;
}

.github-button img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}


.github-button.hovered img {
    content: url('linkedin2.png');
}