.linked-button {
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 40px;
    background: #F5F5F5;
    color: #333;
    font-family: Montserrat;
    font-size: 18px;
    padding: 5px;
}

.linked-button img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.linked-button span {
    font-size: 16px;
    font-weight: bold;
}

.linked-button.hovered img {
    content: url('linkedin2.png');
}

.linked-button.hovered {
    border-radius: 40px;
    background: #0B24F5;
    color: white;
}