.wiggly-line-container {
  background-color: #FFECEA;
  padding-bottom: 30px;
}

.wiggly-line-img {
  width: 100%;

}

.code-img {
  border-left: 20px solid #FF4575;
  border-bottom: 20px solid #FF4575;
  width: 350px;
  height: 200px;
}

.highlighted-text {
  font-weight: bold;
}

@media (min-width: 744px) and (max-width: 1279px) {

  .blog-container {
    padding: 30px 40px;
  }

  .code-img {
    width: 650px;
    height: 350px;
    display: flex;
    justify-content: flex-start;
    align-items: center
  }
}

@media (min-width: 1280px) {
  .blog-container {
    padding: 30px 100px;
  }

  .code-img {
    width: 850px;
    height: 450px;
    display: flex;
    justify-content: flex-start;
    align-items: center
  }
}