.contact-info {
  padding-top: 30px;
  padding-bottom: 30px;
}

.social-links {
  display: flex;
  justify-content: center;
  gap: 30px;
  padding-bottom: 70px;
}

.github-img:hover,
.insta-img:hover {
  filter: brightness(0%);
  transition: filter 0.3s ease-in-out;
}

.tel,
.mail {
  color: black;
}

@media (min-width: 744px) and (max-width: 1279px) {
  .lets-talk {
    text-align: center;
  }

  .about-me-info {
    margin-bottom: 10px;
  }
}

@media (min-width: 1280px) {
  .lets-talk {
    text-align: center;
  }

  .about-me-info {
    margin-bottom: 10px;
  }
}