ul {
  padding: 0;
}

.project-title h4 {
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 10px;
}



.tags {
  display: flex;
  justify-content: start;
  padding-left: 10px;
  margin-bottom: 20px;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 50px;
  max-width: fit-content;
  padding-left: 10px;
}

@media (min-width: 744px) and (max-width: 1279px) {
  .all-projects {
    display: flex;
  }

  .photo {
    padding-right: 30px;
  }

  h1 {
    text-align: start;
  }

  .project-title h4 {
    margin-top: 0;
    margin-bottom: 0;
  }

  .buttons {
    flex-direction: row;
  }

  .project-list {
    padding: 20px;
  }

  .projects-list,
  .all-projects {
    margin-bottom: 20px;
  }
}

@media (min-width: 1280px) {
  .all-projects {
    display: flex;
  }

  .photo {
    padding-right: 30px;
  }

  h1 {
    text-align: start;
  }

  .project-title h4 {
    margin-top: 0;
    margin-bottom: 0;
  }

  .buttons {
    flex-direction: row;
  }

  .project-list {
    padding: 20px;
  }

  .projects-list,
  .all-projects {
    margin-bottom: 20px;
  }
}