@media (min-width: 744px) and (max-width: 1279px) {
  .skills-info {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    margin-bottom: 40px;
  }
}

@media (min-width: 1280px) {
  .skills-info {
    display: flex;
    gap: 60px;
  }
}