h3 {
  padding-left: 20px;
}

@media (min-width: 744px) and (max-width: 1279px) {
  .tech-info {
    margin: 0 0 100px;
    padding: 0px 100px 100px;
  }

  .tech {
    padding-top: 200px;
  }
}

@media (min-width: 1280px) {
  .tech {
    padding: 300px 100px 200px;
  }

  .tech-container {
    display: flex;
  }

  .tech-info {
    padding: 300px 100px 200px;
  }
}