.tech-container h1,
.tech-container h3 {
  margin: 0;
  padding: 0;
}

.tech-container {
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 70px;
}

@media (min-width: 744px) and (max-width: 1279px) {
  .tech-container {
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 70px;
    padding: 0px 100px;
  }

  .tech-info>h3 {
    text-align: center;
  }
}

@media (min-width: 1280px) {
  .tech-container {
    display: flex;
    height: 900px;
    align-items: center;
    flex-direction: row;
    gap: 120px;
  }
}