.header-h2 {
    color: var(--primary);
}

.featured-projects-heading {
    color: var(--primary);
}

.articles-heading {
    color: var(--secondary);
}


.tag-text {
    font-family: var(--heading-font);
    font-size: 16px;
    color: white;
}

.tag-background {
    background-color: var(--text);
    padding: 2px 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
}

.tags {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
}

/* ------------ Desktop only ------------ */
@media (min-width: 1280px) {

    .header-h2 {
        font-size: 75px;
    }

}