.introduction-h1 {
  color: #0b24f5;
  font-size: 32px;
  font-weight: 700;
}

@media (min-width: 744px) and (max-width: 1280px) {
  .introduction-h1 {
    font-size: 56px;
  }
}

@media (min-width: 1280px) {
  .introduction-h1 {
    font-size: 80px;
  }
}
