.tech-h2,
.skills-h2 {
  color: #fff;
  font-size: 56px;
  font-weight: 700;
}

.featured-projects-h2 {
  color: #0b24f5;
  text-align: center;
  align-self: stretch;
  font-size: 56px;
  font-weight: 700;
  line-height: 66px;
}

.my-words-h2 {
  color: #ff4575;
  text-align: center;
  align-self: stretch;
  font-size: 56px;
  font-weight: 700;
}

.contact-h2 {
  color: #0b24f5;
  text-align: center;
  font-size: 56px;
  font-weight: 700;
  line-height: normal;
}

@media (min-width: 650px) and (max-width: 1280px) {
  .featured-projects-h2 {
    text-align: left;
  }
}

@media (min-width: 744px) and (max-width: 1280px) {
  .my-words-h2 {
    text-align: left;
  }
}

@media (min-width: 1280px) {
  .tech-h2,
  .skills-h2 {
    font-size: 80px;
  }

  .featured-projects-h2,
  .my-words-h2 {
    font-size: 80px;
    line-height: normal;
    text-align: left;
  }

  .contact-h2 {
    font-size: 80px;
    margin-bottom: 64px;
  }
}
