.skills-wrapper {
    background: #0B24F5;
    display: inline-flex;
padding: 128px 99px 157px 103px;
flex-direction: column;
align-items: center;
}

.h1-skills {
color: #FFF;
text-align: center;
font-family: Montserrat;
font-size: 80px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.code {
color: #FFF;
font-family: Montserrat;
font-size: 24px;
font-style: normal;
font-weight: 600;
line-height: normal;
background-color: #EB5577;
}

.code-list {
    text-align: center;
}

.toolbox {
color: #FFF;
font-family: Montserrat;
font-size: 24px;
font-style: normal;
font-weight: 600;
line-height: normal;
background-color: #2483E0;
}

.upcoming {
    color: #FFF;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal; 
    background-color: #6DB486;
}

.more {
color: #FFF;
font-family: Montserrat;
font-size: 24px;
font-style: normal;
font-weight: 600;
line-height: normal;
background-color: #FFDE30;
}