.skills-wrapper {
    background: #0B24F5;
    display: flex;
padding: 128px 99px 157px 103px;
flex-direction: column;
align-items: center;
}


.h1-skills {
color: #FFF;
text-align: center;
font-family: Montserrat;
font-size: 80px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.h3-code {
color: #FFF;
font-family: Montserrat;
font-size: 24px;
font-style: normal;
font-weight: 600;
line-height: normal;
background-color: #EB5577;
text-align: center;
}

.code-list {
    color: #FFF;
text-align: center;
font-family: Hind;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.toolbox-list {
    color: #FFF;
text-align: center;
font-family: Hind;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.upcoming-list {
    color: #FFF;
text-align: center;
font-family: Hind;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal; 
}

.more-list {
color: #FFF;
text-align: center;
font-family: Hind;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.h3-toolbox {
color: #FFF;
font-family: Montserrat;
font-size: 24px;
font-style: normal;
font-weight: 600;
line-height: normal;
background-color: #2483E0;
}

.h3-upcoming {
    color: #FFF;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal; 
    background-color: #6DB486;
}

.h3-more {
color: #FFF;
font-family: Montserrat;
font-size: 24px;
font-style: normal;
font-weight: 600;
line-height: normal;
background-color: #FFDE30;
}

.code-wrapper {
    margin-right: 10px;
}