.skill-container {
	display: inline-flex;
	width: 100%;
	padding: 128px 0 157px 0;
	flex-direction: column;
	align-items: center;
	background-color: var(--dark-shade);
}

.skill-container > h2 {
	color: #fff;
	text-align: center;
	font-family: "Montserrat", sans-serif;
	font-size: 56px;
	font-weight: 700;
}

.skills-block {
	display: flex;
	flex-direction: column;
}

/* Had different color for the H3 but changed my mind. 
Not the driest solution. But can still change when need to.*/
.code-container > h3,
.toolbox-container > h3,
.upcoming-container > h3,
.more-container > h3 {
	background-color: var(--dark-accent);
	font-size: 24px;
	font-weight: 600;
	color: var(--light-shade);
}

#skill-container > ul {
	list-style-type: none;
	padding-inline-start: 0;
	color: white;
	font-weight: 400;
	font-size: 18px;
}

@media screen and (min-width: 667px) {
	.skills-block {
		flex-wrap: wrap;
		flex-direction: row;
		padding: 0 105px;
		text-align: center;
		justify-content: space-around;
	}

	#skill-container {
		margin: 0 25px;
	}
}

@media screen and (min-width: 1025px) {
	.skills-block {
		padding: 0 161px;
		justify-content: space-around;
		gap: 26px;
	}
	#skill-container {
		margin: 10px auto;
	}
}
