.skills-section {
  background: #ad7be9;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  /* width: 375px; */
}

.skills-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 64px;
}

.skills-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 64px;
}

.skills-p {
  color: #fff;
  text-align: center;
  font-family: Hind;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

h4 {
  color: #fff;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.code-headline {
  padding: 5px;
  background-color: #eb5577;
}

.toolbox-headline {
  padding: 5px;
  background-color: #2483e0;
}

.upcoming-headline {
  padding: 5px;
  background-color: #6db486;
}

.more-headline {
  padding: 0;
  background-color: rgb(248, 167, 116);
}
