.skills-container {
  background-color: #0b24f5;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 128px 99px 157px 103px;
}

.skills-wrapper {
  display: flex;
  color: #fff;
  flex-direction: column;
  align-items: center;
  gap: 64px;
}

.code-skills-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.skills-list-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
