.divider {
  width: 100%;
  z-index: 1;
  position: relative;
  top: -1px;
  overflow: hidden;
}

.my-words-section {
  background: #ede4ff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 0;
  padding-bottom: 128px;
  z-index: 2;
  position: relative;
}

.my-words-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 64px;
}

.date-title-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;
  margin: 0;
}

.article-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  align-self: stretch;
  width: 343px;
}

.article-date {
  background-color: black;
  color: #fff;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  width: fit-content;
  padding: 3px;
  margin: 0;
}

.article-title {
  color: #000;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin: 0;
}

.article-text {
  margin: 0;
  width: 100%;
  font-family: Hind;
}

.read-article {
  width: 200px;
  display: flex;
  padding-right: 0px;
  align-items: center;
  gap: 7px;
  border: none;
}

.read-article:hover {
  background-color: #ffd338;
}

/* ---- Media queries ------ */

@media (min-width: 667px) {
  .divider {
    top: -3px;
  }

  .article-box {
    width: 750px;
    align-items: flex-start;
  }

  .my-words-section {
    align-items: flex-start;
  }
}

@media (min-width: 1025px) {
  .divider {
    top: -6px;
  }
  .my-words-wrapper {
    grid-template-columns: 1fr 1fr;
    gap: 64px;
  }

  .article-box {
    width: 500px;
    align-items: flex-start;
  }

  .my-words-section {
    align-items: center;
    justify-content: center;
  }

  .heading-wrapper {
    display: flex;
    align-items: flex-start;
  }
}
