.divider {
  height: 20px;
  width: 100%;
  background-image: url(/wavyline-divider.svg);
  background-repeat: repeat-x;
  top: 15px;
  position: relative;
  left: -15px;
}

.mywords-container {
  background-color: #ffecea;
  padding: 128px 16px;
}

.my-wordsh1 {
  color: #ff4575;
  text-align: center;
  font-size: 56px;
  font-weight: 700;
  padding-bottom: 64px;
}

.single-article {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.date-heading {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.date-heading .tag {
  color: #ffffff;
  background-color: #000000;
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
  line-height: 19.5px;
  padding: 2px 6px;
}

.date-heading h2 {
  font-size: 24px;
  font-weight: 600;
}

.single-article p {
  font-size: 18px;
  font-weight: 400;
  line-height: 28.82px;
  color: #000000;
  font-family: "Hind", sans-serif;
}

.button-content-wrapper {
  padding-right: 16px;
}

.button {
  font-size: 20px;
  font-weight: 600;
  line-height: 24.38px;
}

@media (min-width: 744px) {
  .single-article img {
    height: 340px;
    width: 460px;
  }
  .my-wordsh1 {
    font-size: 80px;
    font-weight: 700;
    line-height: 97.52px;
    text-align: left;
  }
  .button .read-article {
    line-height: 24.38px;
  }
  .button .icon {
    size: 48px 48px;
  }
}
