.word-container {
    background: #ffecea;
    width: 1250px;
    height: 980px;
    flex-shrink: 0;
    padding: 50px;
  }
  
  .my-words {
    color: #ff4575;
    font-family: Montserrat;
    font-size: 90px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 100px;
    display: flex;
  }
  
  .articles {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 150px;
    grid-auto-flow: row;
    margin: 0 60px 0 60px
  }
  
  .article {
    background: #ffecea;
  }
  
  .article-title {
    color: #000;
    font-family: Montserrat;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    display: flex;
  }
  
  .article-date {
    color: #fff;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    width: fit-content;
    line-height: normal;
    background-color: black;
    
  }
  
  .article-text {
    color: #000;
    font-family: Hind;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }