/* reusable styling for paragraph */
.custom-paragraph {
  font-size: 18px;
  font-family: var(--paragraph-font);
  font-weight: 400;
  font: 1em sans-serif;
  color: var(--text);
}

/* .tag-background {
    background-color: var(--text);
    padding: 2px 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
} 
.tags {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
}

*/
