/* reusable styling for paragraph */
/* .custom-paragraph {
  font-family: var(--paragraph-font);
  color: var(--text);
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  line-height: normal;
} */


/* ------------ Typography ------------ */

.article-heading {
  color: var(--secondary);
}


/* ------------ Styling labels/tags ------------ */
.tag-text {
  font-family: var(--heading-font);
  font-size: 16px;
  font-weight: 600;
  font-style: normal;
  line-height: normal;
  color: white;
}

.tag-container {
  background-color: var(--text);
  padding: 2px 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 4px;
}

/* ------------ Desktop only ------------ */
@media (min-width: 1280px) {

  .header-h2 {
    font-size: 75px;
  }

}