.introduction-container {
  display: flex;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
  justify-content: center;
  align-items: center;
  text-align: left;
  gap: 32px;
  padding: 16px;
  height: 100vh;
}

.profile-pic {
  border-radius: 50%;
  width: 164px;
  height: 164px;
}

.intro-title {
  font-weight: 700;
  font-size: 50px;
  color: #0b24f5;
}

.intro-title h2 {
  font-weight: 600;
  font-size: 40px;
  color: black;
  margin: 0;
  line-height: normal;
  align-self: stretch;
}

.intro-content {
  display: flex;
  align-items: flex-start;
  align-items: center;
}

.intro-content div {
  margin-left: 20px;
}

.intro-title p {
  font-size: 30px;
  font-weight: 400;
  line-height: normal;
}

@media screen and (max-width: 576px) {
  .intro-title {
    font-size: 28px;
  }

  .intro-title h2 {
    font-size: 24px;
  }

  .intro-content {
    align-items: center;
  }

  .profile-pic {
    width: 100px;
    height: 100px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .introduction-container {
    padding: 30px;
  }

  .intro-title {
    font-size: 30px;
  }

  .intro-title p {
    font-size: 40px;
  }
}
