#intro .page-wrapper {
  padding: 4rem 1rem;
  display: grid;
  row-gap: 2rem;
}

.profile-subtitle {
  font-size: 1.125rem;
  font-weight: 600;
}

.profile-subtitle span {
  color: var(--pink);
}

.profile-title {
  background-image: var(--gradient);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  font-size: 2rem;
}

/*---------- ARROW ANIMATION ----------*/
.arrow-down {
  color: var(--pink);
  font-size: 2rem;
  margin: 0 auto;
  animation: moveUpDown 1s linear infinite;
}

@keyframes moveUpDown {
  0%,
  100% {
    transform: translateY(0);
  }
  25%,
  75% {
    transform: translateY(-10px);
  }
}
/*---------- ARROW ANIMATION END ----------*/

/* For medium devices */
@media (min-width: 744px) {
  #intro .page-wrapper {
    padding: 8rem 4rem 4rem;
  }

  .profile-headings {
    grid-column: 1/3;
    grid-row: 1/2;
  }

  .profile-subtitle {
    font-size: 1.5rem;
  }

  .profile-title {
    font-size: 3.5rem;
  }

  .profile-text {
    grid-column: 2/3;
    grid-row: 2/3;
    margin: auto;
    padding-left: 22px;
  }

  .arrow-down {
    margin-top: 6rem;
    grid-column: 1/3;
  }
}

/* For medium devices */
@media (min-width: 1024px) {
  #intro .page-wrapper {
    padding: 10rem 14rem 4rem;
  }
}
