img {
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.landscape{
    width: 408px;
    height: 280px;
}

.portait{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.purple{
    border-left: 10px solid rebeccapurple;
    border-bottom: 10px solid rebeccapurple;
}

.accent {
    border-color: goldenrod;
}