.articles-container {
  grid-column: span 4 !important;
  display: flex !important;
  flex-direction: column !important;
}

.title {
  color: white !important;
  padding-bottom: 128px !important;
}

.article-wrapper {
  display: flex !important;
  flex-direction: column !important;
  gap: 64px !important;
}

.view-more-container {
  display: flex !important;
  justify-content: center !important;
}

/* Breakpoint for tablet */
@media (min-width: 480px) and (max-width: 768px) {
  .articles-container {
    grid-column: span 8;
   
  }
}
/* breakpoint for small desktop */
@media (min-width: 769px) and (max-width: 1024px) {
  .articles-container {
    grid-column: span 12;
 
  }
}
@media (min-width: 1024px) {
  .articles-container { 
    grid-column: span 12;
   
  }
}