.wrapper {
  transform: translateY(100px);
  opacity: 0;
  transition: all 0.5s;

  div {
    opacity: 0;
    transition: all 0.5s ease-in;
  }
}

.visible {
  transform: translateY(0px);
  opacity: 1;

  div {
    transition-delay: 0.3s;
    opacity: 1;
  }
}
