/*Contact styling*/
.contact p {
    font-size: 16px;
    font-weight: 600;
    text-align: center;
  }

  .contact {
  padding: 128px 33.5px}
  
    .contact-icons {
      display: flex;
      justify-content: center;
      gap: 40px;
      margin-top: 64px;
    color: var(--contact-icon-grey);
    font-size: 25px;
  }
  
  .contact-icons a:hover {
    color: black;
    transition: 0.75s;
  }