/*Intro styling*/
.intro-container {
  padding: 64px 16px 32px 16px;
}

.intro p {
  font-size: 18px;
}

.intro h1 {
  font-size: 32px;
  margin-bottom: 32px;
}

.intro h3 {
  font-size: 18px;
}

.intro a {
  cursor: pointer;
}

.mobile-profpic {
  margin-bottom: 32px;
}

.tablet-layout {
  display: none;
}

.arrow-down {
  display: block;
  margin: 0 auto;
  font-size: 50px;
  color: var(--color-2);
  margin-bottom: 80px;
  animation: moveUpDown 2s linear infinite;
}

@keyframes moveUpDown {
  0%,
  100% {
    transform: translateY(0);
  }
  25%,
  75% {
    transform: translateY(-10px);
  }
}
