/*Intro styling*/
.intro-container {
  margin: 64px 16px;
}

.intro p {
  font-size: 18px;
}

.intro h1 {
  font-size: 32px;
  margin-bottom: 20px;
}

.intro h3 {
  font-size: 18px;
}

.intro a {
  cursor: pointer;
}

/* New layout for tablet
.tablet-layout {
  display: flex;
  flex-wrap: wrap;
}

.tablet-layout > * {
  flex: 1 1 50%;
}

.tablet-layout img {
  display: none;
} */

.arrow-down {
  display: block;
  margin: 0 auto;
  font-size: 50px;
  color: var(--color-2);
  margin-bottom: 30px;
  animation: moveUpDown 2s linear infinite;
}

@keyframes moveUpDown {
  0%,
  100% {
    transform: translateY(0);
  }
  25%,
  75% {
    transform: translateY(-10px);
  }
}
