/*Skills styling*/
.skills {
    text-align: center;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
    font-size: 18px;
  }
  
  .skills h2 {
    margin-bottom: 0;
  }
  
  .skill-container h3 {
    width: fit-content;
    display: inline-block;
    font-size: 24px;
    margin: 30px 0 10px 0;
    padding: 0 3px;
  }
  
  .code-title {
    background-color: var(--color-4);
  }
  
  .toolbox-title {
    background-color: var(--color-5);
  }
  
  .upcoming-title {
    background-color: var(--color-6);
  }
  
  .more-title {
    background-color: var(--color-7);
    color: var(--color-1);
  }
  