@use "../../../styles/variables.scss" as *;
@use "../../../styles/mixins.scss" as *;

.tech_section {
  background-color: $color-primary;
  @include padding-reset;

  @include sm {
    padding-top: 258px;
    padding-bottom: 258px;
  }

  @include md {
    height: 980px;
    padding: 0px 128px 0px 230px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.text {
  color: #fff;
  font-family: $font-text;
  font-size: $font-size-md;
  font-weight: 600;
  padding-left: 8px;

  @include sm {
    text-align: center;
  }

  @include md {
    width: 600px;
    font-size: 32px;
  }
}

.inner_tech {
  display: flex;
  flex-direction: column;
  gap: $gap-xlg;
  min-width: 343px;
  max-width: 450px;
  margin: 0 auto;

  @include md {
    flex-direction: row;
    align-items: center;
    gap: 128px;
    min-width: unset;
    max-width: unset;
    margin: 0 auto;
  }
}
