.project-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}

.project-card-info-wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 64px;
}

.tag-wrapper {
  display: flex;
  align-items: flex-start;
}

.tag {
  color: #fff;
  font-size: 16px;
  background-color: #000;
  padding: 3px 6px;
  margin-right: 3px;
}
