.bio-section {
    grid-column: span 4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--color-secondary);
    margin-top: 4rem;
}

@media(min-width: 667px) {
    .bio-section {
        grid-column: span 8;
        padding: 1.5rem;
    }

    .bio-header {
        grid-column: span 4;
    }
}