.Footer {
  background-color: #810262;
  color: white;
  font-size: 18px;
  padding: 10px;
  width: 100%;
  margin-top: 90px;
  width: 100%;
  position: relative;
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  animation: scroll 10s linear infinite;
}

@keyframes scroll {
  0% {
    transform: translateX(0); /* Start with no translation */
  }
  100% {
    transform: translateX(-100%); /* Move the text to the left */
  }
}
