@import url("https://fonts.googleapis.com/css2?family=Hind:wght@300&family=Montserrat:wght@300;400&display=swap");

h1 {
  font-family: Montserrat;
  font-size: 56px;
  font-weight: 700;
  line-height: 98px;
  letter-spacing: 0em;
  text-align: center;
  color: #810262;
}

@media (min-width: 667px) and (max-width: 1024px) {
  h1 {
    font-size: 56px;
  }
}
@media (min-width: 1025px) {
  h1 {
    font-size: 80px;
  }
}
