.presentation {
  display: grid;
  grid-template-columns: 1fr;
  /* align-items: center; */
  justify-content: space-between;
  padding: 0px;
  font-size: 30px;
}

.image img {
  margin-top: 30px;
  margin-bottom: 60px;
  max-width: 150px;
  border-radius: 45%;
}

.Arrow img {
  margin: 30px;
  animation: jump 1.5s ease-in-out infinite;
}

@keyframes jump {
  0%,
  100% {
    transform: translateY(0); /* Start and end position (no translation) */
  }
  50% {
    transform: translateY(-10px); /* Midway position (move up 10 pixels) */
  }
}
