/* .presentation {
  background-color: rgb(197, 177, 44);
  display: block;
  justify-content: end;
  align-items: end;
} */

.presentation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.image img {
  max-width: 150px; /* Adjust the image size as needed */
  border-radius: 45%; /* Make the image circular (assuming it's a headshot) */
}
