/* PROJECT CARD */
*,
*::before,
*::after {
  box-sizing: border-box;
}

.project-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  gap: 1%;
  justify-content: center;
  align-items: center;
  margin-left: 5%;
  padding-bottom: 5%;
}

.project-card {
  display: flex;
  height: 90%;
  width: 90%;
  display: block;
  background-color: #fcf0f9;
  box-shadow: 0px 12px 20px rgba(66, 2, 52, 0.2);
  margin-bottom: 5%;
  padding-bottom: 20%;
  padding-left: 10%;
  padding-right: 10%;
}

.project-images {
  width: 70%;
  height: 50%;
  justify-content: center;
  margin: 5% 10% 5% 15%;
}

h2 {
  font-size: 32px;
}

p {
  font-size: 18px;
}

/* TAG */

.tag-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.tag {
  color: antiquewhite;
  background-color: #810262;
  min-width: 50px;
  padding: 3px 7px;
  text-align: center;
  /* display: flex; */
  /* flex-direction: row; */
}

/* BUTTONS */

.button-container {
  display: flex;
  gap: 10px;
  margin: 5%;
  justify-content: center;
}

.divider {
  margin-bottom: -10px;
  margin-top: 113px;
  width: 100%;
}

@media (min-width: 300px) and (max-width: 1000px) {
  .project-container {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: space-between;
    gap: 1%;
    justify-content: center;
    align-items: center;
    margin-left: 5%;
    margin-bottom: 80%;
    padding-bottom: 55%;
  }
  .project-card {
    display: flex;
    height: 90%;
    width: 90%;
    display: block;
    background-color: #fcf0f9;
    box-shadow: 0px 12px 20px rgba(66, 2, 52, 0.2);
    margin-bottom: 5%;
    padding-bottom: 50%;
    padding-left: 10%;
    padding-right: 10%;
  }
}
