/* PROJECT CARD */
*,
*::before,
*::after {
  box-sizing: border-box;
}

.project-card {
  display: flex;
  border: 1px solid turquoise;
  height: 300px;
  width: 820px;
}

.project-photo {
  display: flex;
  /* border-left: 20px solid;
    border-bottom: 20px solid;
    border-color: blue; */
  width: 280px;
  height: 290px;
  z-index: 4;
}

.project-photo img {
  width: 280px;
  height: 280px;
  object-fit: cover;
}

h2 {
  font-size: 32px;
}

p {
  font-size: 18px;
}

.project-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  text-align: left;
  padding-left: 40px;
}

/* TAG */

.tag-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.the-tag {
  color: antiquewhite;
  background-color: black;
  min-width: 50px;
  padding: 3px 7px;
  text-align: center;
  /* display: flex; */
  /* flex-direction: row; */
}

/* BUTTONS */

.buttons {
  display: flex;
  gap: 10px;
  margin: 20px 0;
}

.Path {
  margin-bottom: 0px;
  margin-top: 113px;
  width: 100%;
}
