/* PROJECT CARD */
*,
*::before,
*::after {
  box-sizing: border-box;
}

.project-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  gap: 3%;
  justify-content: center;
  align-items: center;
  margin-left: 10%;
  padding-bottom: 20%;
}

.project-card {
  display: flex;
  height: 70%;
  width: 70%;
  display: block;
  background-color: #fcf0f9;
  margin-bottom: 5%;
  padding-bottom: 15%;
  padding-left: 10%;
  padding-right: 10%;
}

h2 {
  font-size: 32px;
}

p {
  font-size: 18px;
}

/* TAG */

.tag-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.the-tag {
  color: antiquewhite;
  background-color: black;
  min-width: 50px;
  padding: 3px 7px;
  text-align: center;
  /* display: flex; */
  /* flex-direction: row; */
}

/* BUTTONS */

.buttons {
  display: flex;
  gap: 10px;
  margin: 20px 0;
}

.Path {
  margin-bottom: 0px;
  margin-top: 113px;
  width: 100%;
}
