.Skills {
  font-size: 30px;
  background-color: rgb(210, 225, 249);
  padding: 100px;
}

/* Define styles for different h2 classes */
.code-heading {
  background-color: #939243;
  color: white;
  width: 25%;
  justify-content: center;
}

/* .column {
} */

.toolbox-heading {
  background-color: #2d6f3a;
  color: white;
  width: 25%;
  justify-content: center;
}

.upcoming-heading {
  background-color: #42357e;
  color: white;
  width: 25%;
  justify-content: center;
}

.more-heading {
  background-color: #a3513f;
  color: white;
  width: 25%;
  justify-content: center;
}

h2,
p {
  display: block;
}
