/* The styling on my skills page  */
.Skills {
  font-size: 30px;
  background-color: rgb(210, 225, 249);
  padding: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  padding: 50px;
}

/* Define styles for different h2 classes */
.code-heading {
  background-color: #939243;
  color: white;
  width: 70%;
  justify-content: center;
  align-items: baseline;
  margin-left: 30px;
}

.toolbox-heading {
  background-color: #2d6f3a;
  color: white;
  width: 90%;
  justify-content: center;
  align-items: baseline;
  margin-left: 30px;
}

.upcoming-heading {
  background-color: #42357e;
  color: white;
  width: 100%;
  justify-content: center;
  align-items: baseline;
  margin-left: 30px;
}

.more-heading {
  background-color: #a3513f;
  color: white;
  width: 70%;
  justify-content: center;
  align-items: baseline;
  margin-left: 50px;
}

/*  How to display the lists */
h2,
p {
  display: block;
}

@media (min-width: 667px) and (max-width: 1024px) {
  .Skills {
    width: 100%;
    font-size: 20px;
  }
}
@media (min-width: 1025px) {
  .Skills {
    width: 100%;
    font-size: 20px;
  }
}

@media (min-width: 480px) and (max-width: 666px) {
  .Skills {
    width: 100%;
  }
}
