/* Styling for the tech part */
.Tech {
  background-color: rgb(210, 225, 249);
  padding: 100px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-size: 30px;
}

.tech-details {
  color: white;
  font-size: 30px;
}

@media (min-width: 300px) and (max-width: 550px) {
  .Tech {
    font-size: 25px;
    display: grid;
    grid-template-columns: 1fr;
  }
}

@media (min-width: 667px) and (max-width: 1024px) {
  .Tech {
    font-size: 25px;
  }
}
@media (min-width: 1025px) {
  .Tech {
    font-size: 30px;
  }
}
