.project-card {
  position: relative;
  display: flex;
  padding: 32px 0;
  justify-content: flex-start;
}

.tags {
  display: flex;
}
.tag {
  font-family: "Montserrat";
  font-size: 16px;
  margin: 0 2px;
  background-color: black;
  color: white;
  padding: 2px 6px 2px 6px;
}

.buttons {
  display: flex;
  align-items: center;
}

.project-info {
  margin: 0 0 0 1rem;
}

.project-card h3 {
  font-size: 32px;
  font-weight: 600;
  margin: 0;
}

/* Tablet */
@media only screen and (max-width: 1280px) {
  .project-card h3 {
    font-size: 24px;
    font-weight: 600;
    margin: 0;
  }
  .project-info {
    width: 100%;
    font-size: 18px;
    margin: 0;
  }
}

/* Phone */
@media only screen and (max-width: 745px) {
  .project-card {
    flex-direction: column;
  }

  .buttons {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1rem;
  }

  .tags {
    margin-bottom: 2rem;
  }
}
