.aboutSection {
  margin: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.aboutHeaderContainer {
  margin: 0 rem;
  text-align: center;
}

.myName {
  font-size: 24px;
  font-weight: 600;
}

.aboutDescriptionText {
  text-wrap: wrap;
  word-wrap: break-word;
  line-height: 32px;
  margin-top: 32px;
}

@media screen and (min-width: 768px) {
  .aboutSection {
    margin: 48px;
  }

  .aboutHeaderContainer {
    margin: 0;
    width: 100%;
    align-items: flex-start;
    text-align: unset;
  }

  .aboutDescription {
    display: flex;
    flex-direction: row;
  }

  .aboutDescriptionText {
    margin: 0 0 0 40px;
  }
}
