.intro-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 30px;
    padding-top: 40px;
}

.intro-title {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: auto;
    margin-right: auto;
}

.title-name {
    margin-bottom: -20px; 
    color: var(--olive);
    margin-left: 10px;
}

.title-desc {
    text-align: left;
    color: var(--wine);
    margin-left: 10px;
    margin-top: 20px;
}

.arrow-seafoam {
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    padding-bottom: 10px;
    width: 40px;
}

.intro-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 30px;
    padding-right: 30px;
    text-align: left;
}


@media (min-width: 500px) AND (max-width: 800px) {
.intro-div {
    padding-top: 60px;
}

.intro-title {
    padding-left: 60px;
    padding-right: 60px;
}

.title-name {
    margin-left: 40px;
}

.title-desc {
    margin-top: 20px;
}

.intro-text {
    flex-direction: row;
    gap: 30px;
    padding-left: 50px;
    padding-right: 50px;
}

.arrow-seafoam {
    padding-top: 50px;
    padding-bottom: 20px;
    width: 60px;
}
}

@media (min-width: 800px) AND (max-width: 1200px) {
.intro-div {
    padding-top: 65px;
}

.intro-title {
    padding-left: 60px;
    padding-right: 60px;
}

.title-name {
    margin-left: 40px;
}

.title-desc {
    margin-top: 20px;
}

.intro-text {
    flex-direction: row;
    gap: 30px;
    padding-left: 150px;
    padding-right: 150px;
}

.arrow-seafoam {
    padding-top: 60px;
    padding-bottom: 25px;
    width: 60px;
}
}

@media (min-width: 1200px) {
.intro-div {
    padding-top: 70px;
}

.intro-title {
    padding-left: 60px;
    padding-right: 60px;
}

.title-name {
    margin-left: 45px;
}

.title-desc {
    margin-top: 20px;
}

.intro-text {
    flex-direction: row;
    gap: 30px;
    padding-left: 250px;
    padding-right: 250px;
}

.arrow-seafoam {
    padding-top: 70px;
    padding-bottom: 30px;
    width: 60px;
}
}