.section {
  margin: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.headerContainer {
  margin: 0 rem;
  text-align: center;
}

.myName {
  font-size: 20px;
  font-weight: 600;
}

.frontend {
  font-size: 48px;
  font-weight: 700;
}

.descriptionText {
  text-wrap: wrap;
  word-wrap: break-word;
  line-height: 32px;
}

@media screen and (min-width: 768px) {
  .section {
    margin: 48px;
  }

  .headerContainer {
    margin: 0;
    width: 100%;
    align-items: flex-start;
    text-align: unset;
  }

  .description {
    display: flex;
    flex-direction: row;
  }

  .descriptionText {
    max-width: 100%;
  }
}
