.divider {
  background-image: url(../../assets/divider.svg);

  width: 375px;
  display: flex;
}

.my-words {
  height: 100vh;
  background: #ffecea;
}

.my-words-title {
  color: #ff4575;
  text-align: center;
  font-family: Montserrat;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
