.contact-container {
  display: flex;
  width: 100%;
  padding: 128px 16px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-content {
  display: flex;
  max-width: 1044px;
  flex-direction: column;
  align-items: center;
  gap: 64px;
}

.contact-heading {
  color: #a367b1;
  text-align: center;
  font-family: "Montserrat";
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 66px;
}

.contact-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  color: #000;
  font-family: "Montserrat";
  font-size: 22px;
  font-weight: 600;
  line-height: normal;
}

.icons-contact {
  display: flex;
  align-items: flex-end;
  gap: 32px;
  margin-top: 64px;
}

.linkedIn:hover {
  filter: invert(1) sepia(1) saturate(5) hue-rotate(250deg);
}

.github:hover {
  filter: invert(1) sepia(1) saturate(5) hue-rotate(250deg);
}

.stackoverflow:hover {
  filter: invert(1) sepia(1) saturate(5) hue-rotate(250deg);
}

@media (min-width: 340px) {
  .contact-info {
    font-size: 24px;
  }
}

@media (min-width: 667px) and (max-width: 1024px) {
  .contact-container {
    padding: 128px 32px;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 64px;
  }
}

@media (min-width: 1025px) {
  .contact-container {
    width: 100%;
    padding: 128px 32px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 64px;
  }

  .contact-content {
    max-width: 1044px;
  }

  .contact-heading {
    font-size: 80px;
    margin-bottom: 64px;
  }

  .contact-info {
    font-size: 32px;
  }
}
