@use "../../../styles/variables.scss" as *;
.text {
  color: #fff;
  font-family: $font-display;
  font-size: $font-size-md;
  font-weight: 600;

  &_box {
    width: fit-content;
    padding: 2px 6px;
    background: #000;
  }
}
