
/* .codeBtn,
.viewBtn{
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 7px;
    background-color: var(--color-8);
    border-radius: 40px;
    padding-right: 16px;
}

.link-btn {
    width: 48px;
    height: 48px;
    color: var(--color-9);
}

 .btnContent{
    color: var(--color-9);
font-family: Montserrat;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: normal;
color: var(--color-9);
}

.viewBtn:hover{
    background-color: var(--color-7);
    .btnContent{
        color: var(--color-8);
    }
}

.codeBtn:hover {
    background-color: var(--color-1);
    .btnContent{
        color: var(--color-8);
    }
}

.viewBtn:hover svg path{
    fill: white;
} */

/* @media (min-width: 320px) and (max-width: 500px) {
    body{
      max-width: 500px;
    }
  }
  
  @media (min-width: 501px) and (max-width: 768px) {
    body{
      max-width: 768px;
    }
  }
  @media (min-width: 769px) and (max-width: 1200px) {
    body{
      max-width: 1200px;
    }
  } */