/* Project card */

.projects-container {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.project-item {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
}

.project-info {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.project-image-border {
  border-bottom: 10px solid var(--yellow);
  border-left: 10px solid var(--yellow);
}
