.grid-section {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* Ändra till 12 kolumner för konsekvent responsivitet */
  gap: 12px;
  justify-items: center;
  padding: 0 12px;
}

@media (min-width: 640px) {
  .grid-section {
    grid-template-columns: repeat(8, 1fr);
  }

  .grid-section h1,
  .grid-section h2,
  .grid-section h3 {
    grid-column: span 8;
  }
}

@media (min-width: 1024px) {
  .grid-section {
    grid-template-columns: repeat(12, 1fr);
  }

  .grid-section h1,
  .grid-section h2,
  .grid-section h3 {
    grid-column: span 12;
  }
}

.grid-section h1,
.grid-section h2,
.grid-section h3 {
  grid-column: span 4;
  text-align: center;
}

.white-background {
  background: white;
}

.black-background {
  background: black;
}