.introduction {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 90%;
  margin: 0 auto;
  /* Center the header horizontally */
  padding: 64px 0;
}

.headings {
  padding: 32px 0;
}

.headings h4 {
  margin: 0 auto;
}

.headings h2 {
  color: var(--primary);
  margin: 0 auto;
}

.intro-text {
  padding-bottom: 32px;
}

.arrow {
  animation: jump 1s infinite;
}

@keyframes jump {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(20px);
  }
}