.techContainer {
    display: flex;
    padding: 40px;
    background-color: rgb(34, 0, 255);
    color: aliceblue;
    align-items: center;
    height: 980px;

}

.header-text {
    display: flex;

}

.header-text h2 {
    margin-left: 20px;
}

.techContainerWidth {
    width: 50%;
    margin: auto;
}

@media (max-width:1024px) {
    .header-text {
        display: block;

    }

    .techContainerWidth {
        text-align: center;
    }


}

@media (max-width:667px) {

    .techContainerWidth {
        text-align: left;
        width: 100%;
    }
}