.techContainer {
    display: flex;
    padding: 40px;
    background-color: rgb(34, 0, 255);
    color: aliceblue;
    align-items: center;
    height: 980px;

}

.header-text {
    display: flex;
}

.techContainerWidth {
    width: 50%;
    margin: auto;
}