.button {
  border-radius: var(--corner-radius);
  background-color: var(--btn-gray);
  color: var(--btn-text);
  font-size: 18px;
  font-weight: 600;
  display: flex;
  align-items: center;
  transition: background-color 0.3s;
  cursor: pointer;
  padding: 0.5rem 1rem;
}
