.button {
  border-radius: var(--corner-radius);
  background-color: var(--btn-gray);
  color: var(--btn-text);
  font-size: 20px;
  font-family: var(--header-font);
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 7px;
  transition: background-color 0.3s;
  cursor: pointer;
  padding: 0.5rem 1rem;
}

.demo-btn:hover {
  background-color: var(--primary);
}

.github-btn:hover {
  background-color: var(--hover-pink);
}
@media screen and (min-width: 745px) {
  .button {
    font-size: 20px;
  }
}
