.tech {
    background-color: var(--primary);
    color: white;
    padding: 128px 16px;
}

.tech-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 64px;
}

.tech p {
    font-family: var(--paragraph-font);
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-align: left;
}

/* ------------ MEDIA QUERIES ------------ */
/* ------------ Tablet only ------------ */
@media (max-width: 1279px) and (min-width: 744px) {
    .tech {
        padding: 256px 64px;
        
    }

    .tech p {
        text-align: center;   
        max-width: 616px;
    }
}

/* ------------ Desktop only ------------ */
@media (min-width: 1280px) {
    .tech {
        padding: 256px 64px;
        display: flex;
        justify-content: center;
    }

    .tech-wrapper {
        max-width: 820px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 124px;
    }

    .tech p {
        text-align: left;
    }
}