.tech .wrapper {
  display: flex;
  background: blue;
  width: 100%;
  height: 616px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tech h1 {
  text-align: center;
  color: #ffffff;
  font-size: 56px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 128px 16px 64px 16px;
}

.tech p {
  color: #ffffff;
  font-size: 24px;
  font-family: Hind;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  width: 343px;
  margin: 0 16px 128px 16px;
}

/* For tablets and above*/
@media (min-width: 744px) and (max-width: 1280px) {
  .tech .wrapper {
    height: 796px;
    padding: 256px 64px;
    gap: 64px;
    grid-column: 1 / 9;
  }

  .tech p {
    width: 616px;
  }
}

/* For desktops and above */
@media (min-width: 1281px) {
  .tech .wrapper {
    flex-direction: row;

    width: auto;
    height: 980px;
    grid-column: 1 / 13;
    display: inline-flex;
    padding: 0px 128px 0px 230px;
    gap: 124px;
    flex-shrink: 0;
  }

  .tech h1 {
    font-size: 80px;
  }

  .tech p {
    font-size: 32px;
    width: 600px;
    height: 255px;
    margin-bottom: 0;
    margin-top: 100px;
  }
}
