.tech {
    background-color: var(--primary);
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 128px 16px;
    gap: 64px;
}

.tech p.large {
    text-align: left;
}

/* ------------ MEDIA QUERIES ------------ */
/* ------------ Tablet only ------------ */
@media (max-width: 1279px) and (min-width: 744px) {
    .tech {
        padding: 256px 64px;
    }

    .tech p.large {
        text-align: center;
        max-width: 616px;
    }
}

/* ------------ Desktop only ------------ */
@media (min-width: 1280px) {
    .tech {
        flex-direction: row;
        justify-content: center;
        padding: 256px 64px;
        gap: 124px;
    }

    .tech p.large {
        text-align: left;
        max-width: 600px;
    }
}