.tech {
  /* height: 100vh; */
  background: #0b24f5;
  display: flex;
  padding: 128px 16px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 64px;
  padding: 128px 16px;
}

.tech-title {
  color: #fff;
  text-align: center;
  font-family: Montserrat;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.tech-list {
  color: #fff;
  font-family: Hind;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

/* @media (min-width: 376px) and (max-width: 744px) {
  .tech {
    background: #0b24f5;
    display: flex;
    padding: 128px 64px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 64px;
  }

  .tech-title {
    color: #fff;

    text-align: center;
    font-family: Montserrat;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  .tech-list {
    color: #fff;

    text-align: center;
    font-family: Hind;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
} */

@media (min-width: 745px) and (max-width: 1280px) {
  .tech {
    flex-direction: column;
    padding: 230px 64px;
    justify-content: center;
    align-items: center;
    gap: 64px;
    /* height: 980px; */
  }

  .tech-title {
    color: #fff;

    text-align: center;
    font-size: 80px;
  }
  .tech-list {
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    max-width: 500px;
  }
}

@media screen and (min-width: 1281px) {
  .tech {
    display: inline-flex;
    flex-direction: row;
    padding: 0px 244px 0px 346px;
    justify-content: flex-end;
    align-items: center;
    gap: 124px;
    flex-shrink: 0;
    height: 980px;
  }

  .tech-title {
    color: #fff;

    font-size: 80px;
  }
  .tech-list {
    text-align: left;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
}
