.tech {
  /* height: 100vh; */
  background: #0b24f5;
  padding: 128px 25px;
}

.tech-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 64px;
}

.tech-title {
  color: #fff;
  text-align: center;
  font-family: Montserrat;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.tech-list {
  color: #fff;
  font-family: Hind;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  max-width: 600px;
}

@media (min-width: 745px) and (max-width: 1280px) {
  .tech-wrapper {
    align-items: center;
  }

  .tech-title {
    color: #fff;

    text-align: center;
    font-size: 80px;
  }
  .tech-list {
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    max-width: 500px;
  }
}

@media screen and (min-width: 1281px) {
  .tech {
    display: flex;
    justify-content: center;
  }

  .tech-wrapper {
    align-items: center;
    width: 840px;
    display: flex;
    flex-direction: row;
  }

  .tech-title {
    color: #fff;

    font-size: 80px;
  }
  .tech-list {
    text-align: left;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    max-width: 550px;
  }
}
