.header {
    width: 100%;
    height: 100%;
    padding-top: 128px;
    padding-bottom: 128px;
    background: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.header h1 {
    color: white;
    font-size: 40px; /* Adjust based on your design requirement */
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    text-align: center;
    line-height: 1.2; /* Ensures better spacing if the text wraps */
}

.header h1 .highlight {
    font-size: 100px; /* This makes the name much larger */
    font-weight: 700;
}

.header p {
    width: 60%; /* or 782px if fixed width is needed */
    color: white;
    font-size: 24px; /* Adjust based on your design requirement */
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    text-align: center;
    line-height: 1.4; /* Adjust line height for better readability */
}
