.image-card {
  height: 200px;
  width: 343px;
  object-fit: cover;
  align-self: stretch;
  margin-bottom: 24px;
  border-bottom: 10px solid #5D3587;
  border-left: 10px solid #5D3587;
  margin-top: 64px;
}

.project-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;
}

.project-title {
  color: #000;
  font-family: "Montserrat";
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.project-description {
  color: #000;
  font-family: "Hind";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.project-buttons {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;
}

.github-button, .netlify-button {
  color: #333;
  font-family: "Montserrat";
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  border-radius: 40px;
  background: #F5F5F5;
}

.netlify-button:hover, .github-button:hover {
  background-color: #5D3587;
  color: #ffff;
}
