.project-card-container {
  display: flex;
  padding: 128px 16px 2608px 16px;
  flex-direction: column;
  align-items: center;
}

.project-card-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 64px;
}

.project-card-wrapper img {
  height: 200px;
  align-self: stretch;
  border-bottom: 10px solid #0b24f5;
  border-left: 10px solid #0b24f5;
  background: lightgray 50% / cover no-repeat;
}
