.about-container {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  max-width: 36.25rem;
}

.about-content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

/* For mobile phones and tablets*/
@media (max-width: 1024px) {

  .about-container {
    max-width: 43.5rem;
  }

}