.contact-h3 {
  font-size: 20px;
}

.project-h3 {
  text-align: left;
}

.article-h3 {
  text-align: left;
}
/*----------Tablet only------------*/
@media (min-width: 744px) and (max-width: 1279px) {
  .contact-h3 {
    font-size: 24px;
  }
}

/* ------------ Desktop only ------------ */
@media (min-width: 1280px) {
  .project-h3 {
    font-size: 32px;
  }

  .article-h3 {
    font-size: 32px;
  }

  .contact-h3 {
    font-size: 24px;
  }
}
