.footer-container {
    background-color: #FF4575;
    max-width: 100%;
    color: white;
    font-family: 'Montserrat';
    font-weight: 700;
    height: 5em;
    display: flex;
    align-items: center;
    justify-content: center;
    text-wrap: nowrap;
    overflow: hidden;
}

.footer-container p {
    font-size: 1.5em;
}

@media screen and (max-width: 667px) {
    .footer-container p {
        font-size: 1em;
    }
}

