.header-container {
    display: flex;
    flex-direction: column;
    gap: 2em;
    justify-content: center;
    align-items: center;
    min-height: 45em;
}

.heading-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.intro-info {
    display: flex;
    flex-direction: row;
    gap: 2em;
    width: 60%;
}

.intro-text {
    display: flex;
    align-items: center;
}

.intro-text p {
    color: black;
}

.about-me {
    font-family: 'Hind';
    font-weight: 400;
}

.arrow-container {
    display: flex;
    justify-content: center;
}

.arrow {
    transition: transform 0.3s ease-in-out;
}

.arrow:hover {
    transform: translateY(20px);
}

@media screen and (max-width: 667px) {
    .header-container {
        min-height: 30em;
    }

    .heading-container, .intro-info {
        max-width: 90%;
        flex-direction: column;
    }
}