header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 150px 220px 150px 220px;
}

.heading-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.intro-info {
    display: flex;
    flex-direction: row;
    gap: 20px;
}