.skills {
    background-color: #0B24F5;
}

.skills-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 70px;
    padding: 100px;
}

.skills-wrapper {
    padding: 150px;
}

.skills-box {
    display: flex;
    flex-direction: column;
}

.heading-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 744px) {
    .skills-container {
        grid-template-columns: repeat(2, 1fr);
    }
    .skills-box {
        align-items: center; 
    }
}

