.tech {
    background-color: #0B24F5;
    padding: 150px;
}

.tech-wrapper {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.tech-skills {
    display: flex;
    text-align: left;
    align-items: center;
}