.tech {
    background-color: #0B24F5;
    padding: 150px;
}

.tech-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 60px;
    padding: 332px 220px 332px 220px;
}

.tech-skills {
    display: flex;
    text-align: left;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 400px) {
    .tech {
        padding: 0;
    }
}

@media screen and (max-width: 744px) {
    .tech {
        padding: 128px 64px 128px 64px;
    }

    .tech-wrapper {
        display: flex;
        flex-direction: column;
    }
}