.portrait {
	width: 164px;
	height: 164px;
	border-radius: 164px;
}

#portrait {
	transition: transform 0.3s ease-in-out;
}

#portrait:hover {
	transform: rotateY(180deg);
	cursor: pointer;
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
}
