.projects-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
}

.projects-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 64px;
  margin: 10px;
}

.projects-text-box {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  width: 343px;
}

.repo-image {
  height: 250px;
  width: 100%;
  align-self: stretch;
  border-bottom: 10px solid #6f1ab6;
  border-left: 10px solid #6f1ab6;
  border-top: 1px solid #ad7be9;
  border-right: 1px solid #ad7be9;
  margin-bottom: 24p;
}

.repo-name {
  align-self: stretch;
  color: #000;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin: 0;
}

.repo-desc {
  color: #000;
  font-family: Hind;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
}

.topics-wrapper {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-bottom: 10px;
}

.topics {
  padding: 2px 6px;
  background: #000;
  color: #fff;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.repo-button-wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.icon-button {
  display: flex;
  align-items: center;
  gap: 7px;
  border: none;
  border-radius: 40px;
  background: #f5f5f5;
  color: #333;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 600px;
  line-height: normal;
  border: none;
  text-decoration: none;
}

.button-text {
  padding: 7px;
  text-wrap: nowrap;
}
.live-demo-button:hover {
  background-color: #0b24f5;
  color: #f5f5f5;
  .icon {
    content: url(/assets/LiveDemoWhite.svg);
  }
}

.github-button:hover {
  background-color: #eb5577;
  color: #f5f5f5;
  .icon {
    content: url(/assets/githubIconWhite.svg);
  }
}

.icon {
  width: 48px;
  height: 48px;
}

@media (min-width: 667px) and (max-width: 1025px) {
  .projects-section {
    align-items: flex-start;
    padding: 80px 0px 128px 0;
  }

  .projects-text-box {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr 430px;
    gap: 20px;
  }

  .all-text-wrapper {
    padding: 10px;
    grid-column: 2;
    grid-row: 1;
    height: 200px;
    width: 550px;
  }

  .repo-name {
    margin-bottom: 20px;
  }

  .repo-desc {
    margin-bottom: 20px;
  }

  .repo-image {
    grid-row: 1 / span 2;
    width: 200px;
    height: 280px;
    flex-shrink: 0;
  }

  .repo-button-wrapper {
    flex-direction: row;
  }
}

@media (min-width: 1025px) {
  .projects-section {
    padding: 80px 0px 128px 0;
    gap: 128px;
  }

  .projects-text-box {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr 430px;
    gap: 20px;
    height: 280px;
  }

  .all-text-wrapper {
    padding: 10px;
    grid-column: 2;
    grid-row: 1;
    height: 200px;
    width: 550px;
  }

  .repo-name {
    margin-bottom: 20px;
  }

  .repo-desc {
    margin-bottom: 20px;
  }

  .repo-image {
    grid-row: 1 / span 2;
    width: 280px;
    height: 280px;
    flex-shrink: 0;
    border-bottom: 20px solid #6f1ab6;
      border-left: 20px solid #6f1ab6;
      margin-right: 25px;
  }

  .repo-button-wrapper {
    flex-direction: row;
  }
}
