.featuredprojects-section {
display: flex;
width: 375px;
padding: 128px 16px 2608px 16px;
flex-direction: column;
align-items: center;
}

.h1-featuredprojects {
    color: #0B24F5;
    text-align: center;
    font-family: Montserrat;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 66px;
}