.projects-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
  width: 100%;
}

.projects-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 64px;
  margin: 10px;
}

.projects-text-box {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  max-width: 343px;
}

.repo-image {
  height: 250px;
  align-self: stretch;
  border-bottom: 10px solid #6f1ab6;
  border-left: 10px solid #6f1ab6;
  border-top: 1px solid #ad7be9;
  border-right: 1px solid #ad7be9;
}

.repo-name {
  align-self: stretch;
  color: #000;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin: 0;
}

.repo-desc {
  color: #000;
  font-family: Hind;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
}

.topics-wrapper {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.topics {
  padding: 2px 6px;
  background: #000;
  color: #fff;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.repo-button-wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: fit-content;
}

.icon-button {
  display: flex;
  align-items: center;
  gap: 7px;
  border: none;
  border-radius: 40px;
  background: #f5f5f5;
  color: #333;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 600px;
  line-height: normal;
  border: none;
  text-decoration: none;
  padding-right: 10px;
}


.live-demo-button:hover {
  background-color: #0b24f5;
  color: #f5f5f5;
  .icon {
    content: url(/assets/LiveDemoWhite.svg);
  }
}

.github-button:hover {
  background-color: #eb5577;
  color: #f5f5f5;
  .icon {
    content: url(/assets/githubIconWhite.svg);
  }
}

.icon {
  width: 48px;
  height: 48px;
}


/* ---- Media query ----- */

@media (min-width: 667px)  {
  .projects-section {
    padding: 80px 0px 128px 0;
  }

  .projects-text-box {
    display: grid;
    gap: 20px;
    max-width: 667px; 
  }

  .all-text-wrapper {
    grid-column: 2;
  }

  .repo-name {
    margin-bottom: 20px;
  }

  .repo-image {
    grid-row: 1 / span 2;
    width: 200px;
    height: 280px;
    flex-shrink: 0;
  }

  .repo-button-wrapper {
    flex-direction: row;
    align-self: end;
    text-wrap: nowrap;
  }
}

 @media (min-width: 1024px) {
  .repo-image {
    width: 280px;
    height: 280px;
    flex-shrink: 0;
    border-bottom: 20px solid #6f1ab6;
      border-left: 20px solid #6f1ab6;
      margin-right: 25px;
  }
} 
