.projects-section {
  display: flex;
  /* width: 375px; */
  flex-direction: column;
  align-items: center;
}

.projects-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 64px;

  margin: 10px;
}

.projects-text-box {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  width: 343px;
}

.repo-image {
  height: 250px;
  width: 100%;
  align-self: stretch;
  border-bottom: 10px solid #ad7be9;
  border-left: 10px solid #ad7be9;
  border-top: 1px solid #ad7be9;
  border-right: 1px solid #ad7be9;
  margin-bottom: 24p;
}

.repo-name {
  align-self: stretch;
  color: #000;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin: 0;
}

.repo-desc {
  color: #000;
  font-family: Hind;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
}

.topics-wrapper {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-bottom: 10px;
}

.topics {
  padding: 2px 6px;
  background: #000;
  color: #fff;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.repo-button-wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.icon-button {
  display: flex;
  align-items: center;
  gap: 7px;
  border-radius: 40px;
  background: #f5f5f5;
  color: #333;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  border: none;
  text-decoration: none;
}

.icon {
  width: 48px;
  height: 48px;
}
