.featured-projects-wrapper {
  display: flex;
  flex-direction: column;
  padding: 128px 16px;
  gap: 64px;
}
/*CSS for the heading for Featured Projects*/
.featured-heading {
  font-size: 56px;
  font-weight: 700;
  color: #0b24f5;
  text-align: center;
  line-height: 66px;
}

@media (min-width: 744px) {
  .featured-projects-wrapper {
    padding: 128px 32px;
  }

  .featured-heading {
    text-align: left;
  }
}
