.featured-projects-wrapper {
  display: flex;
  flex-direction: column;
  padding: 128px 16px;
  gap: 64px;
}
/*CSS for the heading for Featured Projects*/
.featured-heading {
  font-size: 56px;
  font-weight: 700;
  color: #0b24f5;
  text-align: center;
  line-height: 66px;
}

@media (min-width: 744px) and (max-width: 1279px) {
  .featured-projects-wrapper {
    padding: 128px 32px;
  }
}

@media (min-width: 1280px) {
  .featured-projects-wrapper {
    padding: 128px 230px 124px 230px;
  }
  .featured-heading {
    font-size: 80px;
    font-weight: 700;
    line-height: 97.52px;
  }
}
