.color-wrapper-card {
	margin: 0;
	background-color: #195078;
	width: 100vw;
}

.card-h1 {
	font-family: "Montserrat";
	background-color: #195078;
	color: #db938f;
	text-align: center;
	font-size: 56px;
	line-height: 66px;
	display: flex;
	flex-direction: column;
	width: 100vw;
	padding-top: 50px;
	padding-bottom: 50px;
	margin: 0;
}

.card {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 0;
	padding: 10px;
	max-width: 90%;
	height: auto;
}

img {
	display: flex;
	align-items: center;
	max-width: 90%;
	border-left: solid 15px #db938f;
	border-bottom: solid 15px #db938f;
	object-fit: cover;
}

.card-content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	max-width: 310px;
}

.card-content p {
	align-items: flex-start;
	max-width: 90%;
	height: auto;
	padding: 5px;
	font-family: "Montserrat", sans-serif;
	font-size: 12px;
	font-stretch: expanded;
	margin-top: 0;
}

.card-content h3 {
	font-size: 22px;
	font-family: "Montserrat", sans-serif;
	font-weight: 450;
	line-height: 1;
	margin: 5px;
}

.tags {
	display: flex;
	flex-direction: row;
}

.tag {
	background-color: black;
	font-family: "Montserrat", sans-serif;
	font-weight: 500;
	color: white;
	padding: 5px;
	margin: 5px;
}

.button-wrapper {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 0;
}

a {
	text-decoration: none;
}

a button {
	display: flex;
	font-size: 15px;
	align-self: center;
	color: #092d4c;
	background-color: white;
	border-radius: 50px;
	border: none;
	padding: 5px 10px;
}

a button:hover {
	background-color: #f4f4f4;
	color: #7d91ae;
}

.github-btn {
	display: flex;
	font-size: 15px;
	align-items: center;
	color: #db938f;
	background-color: white;
	border-radius: 50px;
	border: none;
	padding: 5px 10px;
}

.github-btn:hover {
	background-color: #f4f4f4;
	color: #fcd0ca;
}

/* tablet */
@media (min-width: 668px ) {
.color-wrapper-card {
	margin: 0;
	background-color: #195078;
	width: 100vw;
}

.card-h1 {
	font-family: "Montserrat";
	background-color: #195078;
	color: #db938f;
	text-align: center;
	font-size: 56px;
	line-height: 66px;
	display: flex;
	flex-direction: column;
	width: 100vw;
	padding-top: 50px;
	padding-bottom: 50px;
	margin: 0;
}

.card {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 0;
	padding: 10px;
	max-width: 90%;
	height: auto;
}
}

@media (min-width: 1025px) {
.color-wrapper-card {
	margin: 0;
	background-color: #195078;
	width: 100vw;
}

.card-h1 {
	font-family: "Montserrat";
	background-color: #195078;
	color: #db938f;
	text-align: center;
	font-size: 56px;
	line-height: 66px;
	display: flex;
	flex-direction: column;
	width: 100vw;
	padding-top: 50px;
	padding-bottom: 50px;
	margin: 0;
}

	.card {
		display: flex;
		flex-direction: row;
		align-items: center;
		margin: 0;
		padding-bottom: 5%;
		max-width: 90%;
		height: auto;
		background-color: #195078;
		color: #db938f;
	}

	img {
		display: grid;
		grid-column: 50%;
		width: 300px;
		height: 200px;
		border-left: solid 15px #db938f;
		border-bottom: solid 15px #db938f;
		margin-right: 15px;
	}

	.card-content {
		display: flex;
		flex-direction: column;
	}

	.card-content h3 {
		display: flex;
		justify-content: flex-start;
		font-size: 20px;
		font-family: "Montserrat", sans-serif;
		color: #db938f;
		font-weight: 600;
		line-height: 1;
		margin-top: 0;
	}

	.card-content p {
		display: flex;
		font-family: "Montserrat", sans-serif;
		font-size: 12px;
		font-stretch: expanded;
		margin-top: 0;
	}

	.tags {
		display: flex;
	}

	.tag {
		background-color: #092d4c;
		font-family: "Montserrat", sans-serif;
		font-weight: 500;
		color: #f4f4f4;
		padding: 5px;
		margin: 5px;
	}

	.button-wrapper {
		display: flex;
	
	}

	a {
		text-decoration: none;
	}

	a button {
		display: flex;
		font-size: 15px;
		align-items: center;
		color: #092d4c;
		background-color: white;
		border-radius: 50px;
		border: none;
		margin-top: 30px;
		padding: 5px 10px;
	}

	a button:hover {
		background-color: #f4f4f4;
		color: #7d91ae;
	}

	.github-btn {
		display: flex;
		font-size: 15px;
		align-items: center;
		color: #db938f;
		background-color: white;
		border-radius: 50px;
		border: none;
		margin-top: 30px;
		padding: 5px 10px;
	}

	.github-btn:hover {
		background-color: #f4f4f4;
		color: #fcd0ca;
	}
}
