/* Contact Icons part */
.contact-icon {
    margin: 1.5em;
    opacity: 0.4;
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out; /* Combine transitions */
  }
.contact-icons-wrapper img {
    width: 40px;
    height: 40px;
    object-fit: cover;
} 

.contact-icon:hover {
    opacity: 1;
    transform: scale(1.2); 
  }

