.footer {
	display: flex;
	justify-content: center;
	border: #195078 1px solid;
	background-color: #195078;
	padding: 20px;
}

.footer p {
	font-family: "Montserrat";
	background-color: #195078;
	color: #73bdcb;
	font-weight: 600;
	font-size: 26.04px;
	line-height: 37.87px;
}

/* @media (max-width: 667px) {
	.footer {
		display: flex;
		justify-content: center;
		border: #195078 1px solid;
		background-color: #195078;
	}

	.footer p {
		font-family: "Montserrat" sans-serif;
		background-color: #195078;
		color: #73bdcb;
		font-weight: 600;
	}
} */

/* @media (min-width: 668px) {
	.footer {
		display: flex;
		justify-content: center;
		border: #195078 1px solid;
		background-color: #195078;
	}

	.footer p {
		font-family: "Montserrat" sans-serif;
		background-color: #195078;
		color: #73bdcb;
		font-weight: 600;
	}
} */
