.introduction {
	height: 720px;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.intro-container {
	width: 343px;
	height: 594px;
	padding-top: 64px;
}

.intro-heading {
	margin-top: 200px;
	margin-bottom: 50px;
}

.intro-heading h2 {
	font-family: "Montserrat", sans-serif;
	color: #73bdcb;
	font-weight: 600;
	font-size: 18px;
	line-height: 21.94px;
}
.intro-heading h1 {
	font-family: "Montserrat", sans-serif;
	color: #db938f;
	font-size: 32px;
	font-weight: 700;
	line-height: 39.01px;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	text-align: left;
	position: relative;
	top: -30px;
}

.intro-image {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	gap: 150px;
}

.intro-image img {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-top: -100%;
	border: none;
	width: 164px;
	height: auto;
	border-radius: 50%;
}

.intro-image p {
	display: flex;
	text-align: left;
	margin-top: -40px;
	font-size: 18px;
	font-weight: 400;
	font-family: "Hind", sans-serif;
	color: #73bdcb;
}

.arrow {
	display: flex;
	justify-content: center;
	font-size: 70px;
	color: #db938f;
	margin: 10% 0 5% 0;
}

@media (min-width: 668px) {
	.introduction {
		display: flex;
		flex-direction: column;
		width: 100%;
		justify-content: center;
		align-items: center;
	}

	.intro-container {
		width: 680px;
		margin: 0 auto;
		position: relative;
		margin-top: -20%;
	}

	.intro-heading h2 {
		font-family: "Montserrat", sans-serif;
		color: #73bdcb;
		font-weight: 600;
		font-size: 32px;
		line-height: 39.01px;
	}

	.intro-heading h1 {
		font-family: "Montserrat", sans-serif;
		color: #db938f;
		font-size: 80px;
		font-weight: 700;
		line-height: 97.52px;
		padding: 0;
		display: flex;
		text-align: left;
		position: relative;
		top: -70px;
	}

	.intro-image {
		width: 688px;
		margin: 0 auto;
		position: relative;
		display: grid;
		grid-template-columns: 20%, 80%;
		gap: 22px;
		place-items: center;
		margin-top: -10%;
	}

	.intro-image img {
		width: 164px;
		height: auto;
		border-radius: 50%;
		margin-right: 20px;
		border: none;
		display: grid;
		grid-column: 1;
		margin-top: -10%;
		margin-bottom: 10%;
	}

	.intro-image p {
		display: grid;
		grid-column: 2;
		font-size: 18px;
		font-weight: 400;
		font-family: "Hind", sans-serif;
		color: #73bdcb;
	}

	.arrow {
		display: flex;
		justify-content: center;
		font-size: 70px;
		color: #db938f;
		margin: 10% 0 5% 0;
	}
}

@media (min-width: 1025px) {
	.introduction {
		display: flex;
		flex-direction: column;
		width: 100%;
		justify-content: center;
		align-items: center;
	}

	.intro-container {
		width: 850px;
		margin: 0 auto;
		position: relative;
		margin-top: -20%;
	}

	.intro-heading h2 {
		font-family: "Montserrat", sans-serif;
		color: #73bdcb;
		font-weight: 600;
		font-size: 32px;
		line-height: 39.01px;
	}

	.intro-heading h1 {
		font-family: "Montserrat", sans-serif;
		color: #db938f;
		font-size: 80px;
		font-weight: 700;
		line-height: 97.52px;
		padding: 0;
		display: flex;
		text-align: left;
		position: relative;
		top: -70px;
	}

	.intro-image {
		width: 850px;
		margin: 0 auto;
		position: relative;
		display: grid;
		grid-template-columns: 20%, 80%;
		gap: 22px;
		place-items: center;
		margin-top: -10%;
	}

	.intro-image img {
		width: 164px;
		height: auto;
		border-radius: 50%;
		margin-right: 20px;
		border: none;
		display: grid;
		grid-column: 1;
		margin-top: -10%;
		margin-bottom: 10%;
	}

	.intro-image p {
		display: grid;
		grid-column: 2;
		font-size: 18px;
		font-weight: 400;
		font-family: "Hind", sans-serif;
		color: #73bdcb;
	}

	.arrow {
		display: flex;
		justify-content: center;
		font-size: 70px;
		color: #db938f;
		margin: 10% 0 5% 0;
	}
}
