.header-container {
	display: inline-flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
	display: flex;
	width: 100%;
	padding: 64px 0;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

h1 {
	font-family: "Montserrat", sans-serif;
	font-size: 32px;
	font-weight: 700;
	font-style: normal;
	line-height: normal;
	color: var(--technigo-blue);
}

.header-titles > p {
	font-family: "Montserrat", sans-serif;
	font-size: 18px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
	color: black;
}

.arrow {
	width: 19px;
	height: 30px;
	flex-shrink: 0;
}

.intro-text {
	align-self: stretch;
	text-wrap: pretty;
}
