.leadtext-container {
	display: flex;
	width: 100%;
	padding: 128px 0;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 64px;
	background-color: var(--technigo-blue);
}

.leadtext-container > h2 {
	color: white;
	text-align: center;
	font-family: "Montserrat", sans-serif;
	font-size: 56px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}

.leadtext-container > p {
	color: #fff;
	font-family: "Hind", sans-serif;
	font-size: 24px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
}
