.myword_container h1{
    font-size: 36px;
    font-family:'Montserrat', sans-serif;
    color:var(--night-flight);
    text-align: center;
}

.myword_container{
    position: relative;
    padding:2rem 0;
}

/*  article part*/
.article_wrapper{

    display: flex;
    flex-direction: column;
    align-items: center;
}

.article_wrapper img{
    width:360px;
    border-radius: 5rem 0 5rem 0;
    border:2px solid var(--night-flight);
}

.article_wrapper p{
    font-size:18px ;
    margin-top: 1rem;
}
.article_wrapper h3{
    color:var(--rose);
    font-size: 22px;
    font-weight: 800;
    text-align: center;
}
.article_wrapper h5{
    width: 80%;
    font-size: 16px;
    font-weight: 100;
    text-align: center;
}
.article_wrapper button{
    border:none;
    border-radius: 6rem;
    width:12rem;
    margin-top: 1rem;
    background-color: var(--rose);
    color:#fff;
    font-size: 18px;
    font-weight: 600;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
.article_wrapper a{
    text-decoration: none;
}

@media (min-width:1024px) {
    .myword_container h1{
        font-size: 48px;
    }
    .frame{
        width:100%;
        padding:2rem 6rem;
    }
    .article_wrapper img{
        width:600px;
        height:400px;
    }
    .article_wrapper h5{
        font-size: 20px;
        width:60%;
    }
    .article_wrapper h3{
        font-size: 26px;
    }
}

@media (min-width:668px) and (max-width:1023px) {
    .article_wrapper img{
        width:500px;
    }
    
}