.tech{
  background-color: var(--night-flight);
 
}
.skills{
  background-color: var(--night-flight);
}
.mywords{
  background-color: var(--pink);
}
.contact{
  background-color: var(--green);
}
  
/* ----------------------------- */
/* Navbar Part */
  .header {
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 3;
    width: 100%;
    height: 5rem;
    background-color: #fdf4ee;
    padding: 0.6rem 1rem;
    box-shadow: 0 0.125rem 0.25rem 0 var(--pink);
  }

  
  .nav__container {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    position: relative;
  }
  
  .nav__container__actions {
    display: inline-flex;
    flex-flow: row nowrap;
    padding-left: 2px;
    flex: 1;
  }
  
  .active {
    font-weight:800;
    color:var(--rose-pearl);
  }
  /* ----------------------------- */
  /* ul, li, li:hover part */
  .nav__container__actions ul {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    font-size: 0.9rem;
    list-style: none;
    padding: 0;
  }
  
  .nav__container__actions li {
    cursor: pointer;
    font-size: 18px;
  }
  
  .nav__container__actions li:hover {
    text-decoration: underline;
  }
  
 