.globe-wrapper,
.github-wrapper {
	display: flex;
	padding: 7px;
}

.globe-btn,
.github-btn {
	display: inline-flex;
	border-radius: 40px;
	height: 48px;
	width: 170px;
	padding: 0;
	align-items: center;
}

button > img {
	width: 48px;
	height: 48px;
}
