/* flyingcat icon */
.flyingcat{
    width: 120px;
    height:120px;
    position:absolute;
    top:-4rem;
    left:0;
}
/* projects-container */
.projects_container{
    width: 100%;
    position: relative;
    margin:4rem 0 3rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title{
    font-size: 36px;
    font-family:'Montserrat', sans-serif;;
    color:var(--night-flight);
    width: 100%;
    margin:2rem 0 2rem 0;
    text-align: center;
}
/* image */

.project_image{
    width:300px;
    height: 310px;
    border-radius: 20px;
    margin-top: 1rem;
    border:1px solid var(--green);
}


/* single project */
.project{
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-bottom:2px dashed var(--rose);
}
.project_text_wrapper{
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 1rem 0 1rem;
}
.project_title{
    width: 100%;
    text-align: center;
    font-size: 28px;
    color: var(--green);
}

.project_content{
    width: 90%;
    display: flex;
    justify-content:center;
    align-items: center;
    text-align:justify;
    margin: 1rem 0 1rem 0;
    font-size: 18px;
}
/* tags part */
.tags{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.tags span{
    background-color: var(--green);
    color: #fff;
    padding: 0.1rem 1rem 0.1rem 1rem;
    font-size: 16px;
    font-weight: 600;
    word-spacing:0.4rem;
}

/* button view code and live demo */
.button_wrapper{
    width:100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin: 1rem 0 1rem 0;
}
.button_wrapper button:hover{
    border:2px solid var(--rose)
}
.button_wrapper a{
    text-decoration: none;
}
.button_wrapper button{
    border:2px solid transparent;
    border-radius: 2rem;
    width:12rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background-color: var(--pink);
    transition: border 0.3s ease; 
}

.button_wrapper button span{
    font-size: 18px;
    font-weight: 600;
}


@media (min-width:1024px) {
    .project_wrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .flyingcat{
        width:160px;
        height:160px;
        left:4rem;
        top:0;
    }
   
    .project_image{
        width:340px;
        height:340px;
    }
    .title{
        font-size: 48px;
    }
    .project_frame{
        width: 80%;
    }
    .project{
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-bottom: 1rem;
    }
  
    .project_content{
        font-size: 20px;
        width:75%;
    }
    .tags{
        width:50%;
        margin:0;
    }
    .project_title{
        font-size: 32px;
    }

}
@media (max-width:1023px) and (min-width:668px) {
    .tags{
        width:40%;
    }
    .project_content{
        width: 60%;
    }
    .button_wrapper{
        width:60%;
    }
}