.skill-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0;
  background-color: #db938f;
  min-height: 100vh;
}

.skill-section h1 {
	font-size: 56px;
	line-height: 68.26px;
	font-family: Montserrat;
	color:#195078;
	margin-top: 10%;
	margin-bottom: 0;
}

.skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; 
	margin-top: 0;
}

.skill-category {
  padding: 40px;
}

.skill-category h2 {
	font-family: Montserrat;
	font-weight: 600;
	font-size: 24px;
	line-height: 29.26px;
	color: whitesmoke;
}

.skill-category p {
  white-space: pre-line; 
	font-family: Hind;
	font-weight: 400;
	font-size: 18px;
	line-height: 28.82px;
	color: whitesmoke;
}

@media (min-width: 1025px) {
	.skill-section h1 {
	font-size: 80px;
	line-height: 97.52px;
	font-weight: 700;
	}

	.skill-category h2 {
	font-family: Montserrat;
	font-weight: 600;
	font-size: 32px;
	line-height: 39.01px;
	color: whitesmoke;
}

.skill-category p {
  white-space: pre-line; 
	font-family: Hind;
	font-weight: 400;
	font-size: 18px;
	line-height: 28.82px;
	color: whitesmoke;
}

}



/* .skills {
		display: grid;
		grid-template-columns: repeat(8, auto);
	}

	.skills ul {
		list-style-type: none;
		color: whitesmoke;
		background-color: #db938f;;
		font-family: 'Montserrat', sans-serif;
		margin-top: 0;
	} 

	.code {
		order: -8;
		color: whitesmoke;
		height: 25px;
		width: auto;
	}

	.toolbox {
		order: -6;
		color: whitesmoke;
		height: 25px;
		width: auto;
	}

	.upcomming {
		order: -4;
		font-size: 30px;
		color: whitesmoke;
		height: 25px;
		width: auto;
	}

	.more {
		order: -2;
		font-size: 30px;
		color: whitesmoke;
		height: 25px;
		width: auto;
	}

	.tech-skills-code {
		order: -7;
	}

	.tech-skills-toolbox {
		order: -5;
	}

	.tech-skills-upcomming {
		order: -3;
	}
}

@media (min-width: 668){
	.skills {
		display: grid;
		grid-template-columns: 25% 25% 25% 25%;
		grid-template-rows: 1fr;
		padding: 0;
		margin: 0 5% 0 5%;
		place-items: center;
		font-weight: 500;
	}
}

@media (min-width: 1025px) {
.skill-section {
	margin: 0;
	background-color: #db938f;
	height: 800px;
	width: 100vw;
}

.skill-section h1 {
	font-size: 80px;
	font-family: "Montserrat";
	font-weight: 700;
	line-height: 97.52px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: #195078;
	background-color: #db938f;
	margin-bottom: 10%;
	margin-top: 0;
	padding-top: 10%;
}

.skills {
	display: grid;
	grid-template-columns: 15% 15% 15% 15%;
	grid-template-rows: 1fr;
	padding: 0;
	margin-left: 10%;
	column-gap: 10%;
	place-items: center;
	font-weight: 500;
	font-family: 'Montserrat', sans-serif;
	background-color: #db938f;
}

.skills ul {
	display: grid;
	padding: 0;
	list-style-type: none;
	color: whitesmoke;
	font-family: 'Montserrat', sans-serif;
	font-size: 18px;
	margin: 0;
	margin-left: 0;
}

.code {
	color: whitesmoke;
	border: solid 1px #db938f;
	background-color: #db938f;
	height: 25px;
	width: 75px;
}
.code p,
.toolbox p,
.upcomming p,
.more p {
	font-size: 25px;
	margin-top: -5px;
	text-align: center;
	background-color: #db938f;
	color: #195078;
}
.toolbox {
	color: whitesmoke;
	height: 25px;
	width: auto;
}
.upcomming {
	color: whitesmoke;
	height: 25px;
	width: auto;
}
.more {
	color: whitesmoke;
	height: 25px;
	width: 75px;
	margin-left: -100px;
}
} */
