.color-wrapper {
	display: grid;
	grid-template-columns: 30% 60%;
	margin: 0;
	background-color: #db938f;
	height: 800px;
	width: 100%;
}

.color-wrapper h1 {
	font-family: 'Montserrat', sans-serif;
	background-color: #db938f;
	color: #092d4c;
	justify-content: flex-start;
	margin-left: 40%;
	align-content: center;
}

.color-wrapper h2 {
	font-family: 'Hind', sans-serif;
	font-size: 25px;
	font-weight: 500;
	background-color: #db938f;
	color: #092d4c;
	justify-content: flex-start;
	margin-left: 20%;
	margin-right: 10%;
	text-align: left;
	align-content: center;
}