.tech-section {
	width: 100%;
	height: 800px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #db938f;
}

.tech-wrapper {
	display: flex;
	flex-direction: column;
	margin: 0;
	background-color: #db938f;
	height: 616px;
	min-width: 100vw;
}

.tech-wrapper h1 {
	font-family: "Montserrat", sans-serif;
	color: #092d4c;
	font-size: 56px;
	font-weight: 700;
	text-align: center;
	line-height: 68.26px;
}

.tech-wrapper h2 {
	font-family: "Hind", sans-serif;
	font-size: 24px;
	font-weight: 600;
	line-height: 38.42px;
	color: #092d4c;
	justify-content: flex-start;
	margin-left: 20%;
	margin-right: 10%;
	text-align: left;
	align-content: center;
}

@media (min-width: 668px) {
	.tech-section {
	height: 800px;
	min-width: 100vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #db938f;
}

.tech-wrapper {
	display: flex;
	flex-direction: column;
	margin: 0;
	background-color: #db938f;
	min-width: 100vw;
}

	.tech-wrapper h1 {
		font-family: "Montserrat", sans-serif;
		color: #092d4c;
		justify-content: flex-start;
		align-content: center;
	}

	.tech-wrapper h2 {
		font-family: "Hind", sans-serif;
		font-size: 24px;
		font-weight: 600;
		color: #092d4c;
		justify-content: flex-start;
		margin-left: 20%;
		margin-right: 10%;
		text-align: left;
		align-content: center;
	}
}

@media (min-width: 1025px) {
	.tech-wrapper {
		display: grid;
		grid-template-columns: 30% 60%;
		margin: 0;
		background-color: #db938f;
		height: 800px;
		width: 100%;
	}

	.tech-wrapper h1 {
		font-family: "Montserrat", sans-serif;
		font-size: 80px;
		line-height: 97.52px;
		font-weight: 700;
		background-color: #db938f;
		color: #092d4c;
		justify-content: flex-start;
		margin-left: 40%;
		align-content: center;
	}

	.tech-wrapper h2 {
		font-family: "Hind", sans-serif;
		font-size: 32px;
		font-weight: 600;
		line-height: 52.23px;
		background-color: #db938f;
		color: #092d4c;
		justify-content: flex-start;
		margin-left: 20%;
		margin-right: 10%;
		text-align: left;
		align-content: center;
	}
}
