.circle-image {
  width: 164px;
  height: 164px;
  border-radius: 50%;
  object-fit: cover;
}

/* --- Tablet --- */

@media (min-width: 744px) and (max-width: 1279px)   {


}

/* --- Desktop ----*/
@media (min-width: 1280px) {

}