.flex-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items:;
    justify-content: ;

}
.header.img {
    position: absolute;
    width: fit-content;
    height: 520px;
    left: 0px;
    top: 0px;  
}
.profile {
    position: absolute;
    width: 550px;
    height: 550px;
    left: 850px;
    top: 500px;
    border: solid 10px white;
    border-radius: 50%;
}

.name {
   display: inline;
   position: absolute;
   font-size: 100px;
   margin: 20% 30% 30% 30%;
   color: #FFFFFF;

}

.bio {
   display: block;
   margin-top: 100px;
   font-size: large;
   color: brown;
   background-color: #F4F4F4;

}
.featured {
   height: 200px;
   background-color: #F4F4F4;
}
.other {
    height: 200px;
    width: unset;
    background-color: #F4F4F4;
}
.thoughts{
    height: 600px;
    width: unset;
    background-color: white;

}
.more {
    height: 200px;
    width: unset;
    background-color: #F4F4F4;

}
.skills {
height: 200px;
width: unset;
background-color: white;

}
.contact {
    margin: 0%;
    height: 400px;
    width: unset;
    background-color: #072BCE;
    

}
