.contact-container {
	padding: 128px 16px;
	width: 100%;
	height: auto;
}

.contact-container > h2 {
	color: var(--dark-accent);
	text-align: center;
	font-family: "Montserrat", sans-serif;
	font-size: 56px;
	font-weight: 700;
	margin: 0 0 64px 0;
	line-height: 1;
}

.contact-container > p {
	font-family: "Montserrat", sans-serif;
	font-size: 24px;
	font-weight: 600;
	color: var(--light-accent);
	margin: 57px 0 64px 0;
}

.icon {
	width: 36px;
	height: 36px;
}

.icon:hover {
	cursor: pointer;
	filter: invert(1);
}

@media all and (min-width: 745px) {
	.contact-container {
		padding: 128px 32px;
	}
}

@media all and (min-width: 1281px) {
	.contact-container {
		padding: 128px 162px;
	}

	.contact-container > h2 {
		font-size: 80px;
	}

	.contact-container > p {
		font-size: 32px;
	}
}
