.contact-section {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 100px 0px 30px 0px;
}

.contact-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 64px;
}

.contact-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.talk-text {
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
