.contact-container {
	margin-bottom: 112px;
}

.contact-container > h2 {
	color: var(--technigo-blue);
	text-align: center;
	font-family: "Montserrat", sans-serif;
	font-size: 56px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}

.contact-container > p {
	font-family: "Montserrat", sans-serif;
	font-size: 24px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
}

.icon {
	width: 32px;
	height: 32px;
}

.icon:hover {
	cursor: pointer;
	filter: invert(1);
}
