.contact-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--olive);
    padding-top: 20px;
    align-items: center;
}

.contact-image {
    padding: 20px;
}

.contact-info {
    font-size: 25px;
    line-height: 50px;
    color: var(--maroon);
}

.contact-name {
    color: var(--wine);
}

.socials {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-top: -10px;
    padding-bottom: 40px;
}
.linkedin {
    opacity: 60%;
}

.linkedin:hover{
    opacity: 100%;
}

.github{
    opacity: 60%;
}

.github:hover{
    opacity: 100%;
}
