.contact-section {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 100px 0px 30px 0px;
  margin-bottom: 40px;
}

.contact-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 64px;
}

.contact-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.talk-text {
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.phone-number {
  color: #000;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.email {
  color: #000;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.icon-link {
  margin-right: 20px;
}

.linkedin-link:hover {
  content: url("/assets/linkedinIconBlack.svg");
}

.github-link:hover {
  content: url("/assets/githubIconBlack.svg");
}
