.contact-section {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: dotted grey;
}

.contact-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 64px;
}

.contact-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  color: #000;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.read-article {
  width: 200px;
  display: flex;
  padding-right: 0px;
  align-items: center;
  gap: 7px;
  border: none;
}
