.contact-container {
	margin-bottom: 112px;
}

.contact-container > h2 {
	color: var(--dark-accent);
	text-align: center;
	font-family: "Montserrat", sans-serif;
	font-size: 56px;
	font-weight: 700;
}

.contact-container > p {
	font-family: "Montserrat", sans-serif;
	font-size: 24px;
	font-weight: 600;
	color: var(--light-accent);
}

.icon {
	width: 36px;
	height: 36px;
}

.icon:hover {
	cursor: pointer;
	filter: invert(1);
}
