.contactSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  text-align: center;
}

.contactHeader {
  margin-bottom: 20px;
}

.profileContainer {
  margin-bottom: 20px;
}

.contactInfo {
  margin-bottom: 20px;
  font-size: 24px;
}

.socialLinks {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 20px;
}

.contactIcon {
  color: var(--black);
}

.contactIcon:hover {
  fill: var(--green)
}

.scrollUpContainer{
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  width: 100%; 
  margin-top: 20px;
}

@media (min-width: 768px) {
  .contactSection {
    padding: 40px;
  }

  .socialLinks {
    gap: 40px;
  }
}
