.project-wrapper{
display: block;
margin: 0 auto;

}
.green-main-heading{
  font-size: 32px;
  padding: 20px;
  color: var(--firstly-color);
}

@media (min-width: 667px) {
  .green-main-heading{
  font-size: 56px;
  }


}

@media (min-width: 1025px){


}

