.projects-container {
  padding: 128px 16px;
  display: flex;
  flex-direction: column;
  gap: 64px;
}


.projects-heading {
  color: var(--primary);
  font-weight: 700;
  line-height: normal;
  text-align: center;
  align-self: baseline;
}

.project-card {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.project-card-heading {}

/* ------------ Styling project img ------------ */

.project-img {
  /*  width: 100%; */
  flex-shrink: 0;
  background: lightgrey 50% / cover no-repeat;
  object-fit: cover;
  border-bottom: 10px solid var(--primary);
  border-left: 10px solid var(--primary);
  align-self: stretch;
}

.project-text-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 16px;
}

.project-paragraph {
  font-family: var(--paragraph-font);
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
}

.button-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;
}


/* ------------ MEDIA QUERIES ------------ */
/* Mobile styles */
@media (max-width: 743px) {
  .project-img {
    width: 343px;
    height: 200px;
  }
}

/* ------------ Tablet only ------------ */
@media (min-width: 744px) and (max-width: 1279px) {
  .projects-container {
    padding: 128px 32px;
    display: flex;
    gap: 64px;
  }

  .project-card {
    display: grid;
    grid-template-columns: auto 1fr;
    /* Two columns for image and content */
    grid-template-rows: auto;
    /* Single row for each item */
    gap: 64px;


    .project-img {
      height: 280px;
    }

    .project-img {
      grid-column: 1 / 2;
      /* Place the image container in the first column */
      grid-row: 1 / 2;
      /* Place the image container in the first row */
      height: 280px;
    }

    .project-text-section {
      grid-column: 2 / 3;
      /* Place the text section in the second column */
      grid-row: 1 / 2;
      /* Place the text section in the first row */
    }

    .button-wrapper {
      grid-column: 2 / 3;
      /* Place the button wrapper in the second column */
      grid-row: 2 / 3;
      /* Place the button wrapper in the second row */
      display: flex;
      align-items: flex-start;
      flex-direction: row;
      width: 100%;
      gap: 32px;
    }
  }
}

/* ------------ Desktop only ------------ */
@media (min-width: 1280px) {
  .projects-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 128px 161px;
    gap: 128px;
  }

  .project-card {
    display: grid;
    grid-template-columns: 1fr 2fr;
    /* Two columns for the image and text section */
    grid-template-rows: auto;
    gap: 40px;
    /*  max-width: 820px; */
  }


  project-img {
    height: 280px;
    width: 408px;
  }

  .project-img {
    grid-column: 1 / 2;
    /* Place the image container in the first column */
    grid-row: 1 / 2;
    /* Place the image container in the first row */
  }

  .project-text-section {
    grid-column: 2 / 3;
    /* Place the text section in the second column */
    grid-row: 1 / 2;
    /* Place the text section in the first row */
  }

  .button-wrapper {
    grid-column: 2 / 3;
    /* Place the button wrapper in the second column */
    grid-row: 1 / 2;
    /* Place the button wrapper in the second row */
    display: flex;
    flex-direction: row;
    width: 100%;
    /* Occupy the full width of the second column */
    gap: 32px;
    align-items: end;
  }
}

@media (min-width: 1513px) {
  .projects-container {
    padding: 128px 234px 124px 234px;
  }
}