.project-wrapper {
  display: flex;
  flex-direction: column;
  padding: 128px 16px;
  justify-content: center;
  align-items: center;
  max-width: 680px;
  margin: 3rem auto;
}
.green-main-heading {
  text-align: center;
  font-family: Montserrat;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 66px; /* 117.857% */
  margin-bottom: 100px;
  color: var(--firstly-color);
}

@media (min-width: 667px) {
  .project-wrapper {
    display: flex;
    align-items: center;
  }
}
.green-main-heading {
  font-size: 56px;
}

@media (min-width: 1025px) {
}
