.projects-section {
  padding: 128px 16px;
}

.singleproject-card {
  display: grid;
  justify-items: start;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 16px;
  row-gap: 16px;
  padding-bottom: 64px;
  grid-template-rows: auto;
  grid-template-areas:
    "image image image image"
    "name name name name"
    "description description description description"
    "tags tags tags tags"
    "demo demo demo demo"
    "git git git git";
}

.project-name {
  grid-area: name;
}

.project-description {
  grid-area: description;
}

.tag-wrapper {
  grid-area: tags;
}

.demo-button {
  grid-area: demo;
}

.git-button {
  grid-area: git;
}

.image-wrapper {
  grid-area: image;
  height: 200px;
  width: 100%;
  align-self: stretch;
  border-bottom: 10px solid var(--color-4);
  border-left: 10px solid var(--color-4);
  overflow: hidden;
}

.project-image {
  width: 343px;
  height: auto;
  max-width: 100%;
}

.heading-wrapper {
  padding-bottom: 64px;
}

.button {
  display: flex;
  padding-right: 16px;
  align-items: center;
  gap: 7px;
  border-radius: 40px;
  background: #f5f5f5;
}

.button:hover {
  cursor: pointer;
}

.button-icon {
  width: 48px;
  height: 48px;
}

.tag-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.tag {
  font-family: Montserrat;
  font-size: 16px;
  color: white;
  background: var(--color-5);
  display: flex;
  padding: 2px 6px;
  margin: 2px;
}
