.article-img {
    box-sizing: border-box; /*Sets the border to an inner border*/
    /* border: rgba(255, 69, 117, 1) solid;  */
    border: #b5958b solid; 
    border-width: 0 0 20px 20px; 
    height: 200px; 
    width: 100%; 
    object-fit: cover;
    
}

@media (max-width: 1279px) and (min-width: 744px) {

    .article-img {
        height: 340px; 
    }
    
    }


@media (min-width: 1280px) {

    .article-img {
        height: 340px; 
     }
        
     }