/* ------------ OVERALL STYLING ------------ */
.button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    font-family: var(--heading-font);
    font-weight: 600;
    background-color: var(--btn-gray);
    border: none;
    border-radius: 40px;
    color: var(--btn-text);
    font-size: 20px;
    padding: 0.5rem 1rem;
    transition: ease 0.3s;
    width: fit-content;
    height: fit-content;
    cursor: pointer;
    margin-bottom: 16px;
}

a {
    text-decoration: none;
}

/* ------------ SPECIFIC BUTTONS ------------ */
.demo-btn:hover {
    background-color: var(--primary);
    color: white;
}

/* Changes the content of the img element in the button */
.demo-btn:hover img {
    content: url("/icons/globe-white.svg");
}

.github-btn:hover {
    background-color: var(--hover-pink);
    color: white;
}

/* Changes the content of the img element in the button */
.github-btn:hover img {
    content: url("/icons/github-white.svg");
}

.read-more-btn:hover {
    background-color: var(--hover-yellow);
    color: var(--text);
}

.read-more-btn {
    background-color: white;
}