.skillSection {
  display: flex;
  padding: 128px 99px 157px 103px;
  flex-direction: column;
  align-items: center;
  background-color: #9da993;
  color: white;
}
.skillSection h1 {
  font-size: 56px;
}
.skillSection h2 {
  color: #fff;
  font-size: 24px;
}
.skillSection p {
  color: #fff;
  text-align: center;
  font-size: 18px;
}
.singleSkillSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}
.skillSectionContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 64px;
}
.codeTitle {
  padding: 5px;
  background-color: #89313c;
}
.toolboxTitle {
  padding: 5px;
  background-color: #175676;
}
.upcomingTitle {
  padding: 5px;
  background-color: #99ccbb;
}
.moreTitle {
  padding: 5px;
  background-color: #cc5500;
}
