.intro-container {
  display: flex;
  padding: 20px;
  background: #FFF;
  align-items: center;
}

.photo-container {
  margin-right: 20px;
}

.photo-container img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.my-name, .info {
  color: #000;
  font-family: Montserrat, sans-serif;
  font-weight: 600;
}

.my-name {
  font-size: 32px;
}

.info {
  font-size: 18px;
}