.skills-container {
  display: flex;
  width: 375px;
  padding: 128px 16px 157px 16px;
  flex-direction: column;
  align-items: center;
  background-color: #392467;
}

.skills-heading {
  color: #ffff;
  text-align: center;
  font-family: "Montserrat";
  font-size: 56px;
  font-weight: 700;
  line-height: normal;
}

.skills-content {
  display: flex;
  width: 343px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 64px;
}

.skills-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.skills-subheading {
  color: #ffff;
  font-family: "Montserrat";
  font-size: 24px;
  font-weight: 600;
  line-height: normal;
  background-color: #9446bb;
}

li {
  font-family: "Hind";
}

.list-box {
  color: #ffff;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: normal;
  list-style: none;
  margin: 0;
  padding: 0;
}

@media (min-width: 667px) and (max-width: 1024px) {
  .skills-container {
    padding: 128px 32px 148px 32px;
    width: auto;
  }

  .skills-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 400px;
    align-items: flex-start;
  }

  .list-box {
    text-align: left;
  }

  .skills-box {
    align-items: flex-start;
  }

  .skills-heading {
    margin-bottom: 64px;
  }
}

@media (min-width: 1025px) {
  .skills-container {
    padding: 128px 161px;
    width: auto;
  }

  .skills-content {
    display: flex;
    width: 958px;
    flex-direction: row;
    align-items: flex-start;
  }

  .list-box {
    text-align: left;
  }

  .skills-box {
    align-items: flex-start;
  }

  .skills-heading {
    margin-bottom: 128px;
    font-size: 80px;
  }

  .skills-subheading {
    font-size: 32px;
  }
}
