.myProjectsBox {
    background: #FFFFFF;
    align-items: center;
    padding: 100px 20px;
}

.projectsWrapper {
    width: 100%;
}

.h1 {
    color: #0B24F5;
    text-align: center;
    font-size: 56px;
    font-weight: 700;
    line-height: 66px;
    margin-bottom: 50px;
}

.h2 {
    font-size: 24px;
    font-weight: 600;
    line-height: 29.26px;
    width: 343px;
}

.eachProject {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        "image"
        "description"
        "links";
    gap: 20px;
    width: 100%;
    position: relative;
}

.projectsList {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

.pDescription {
    color: #000;
    font-family: Hind;
    font-size: 18px;
    font-weight: 400;
    line-height: 28.82px;
    padding-bottom: 20px;
    width: 343px;
}

.eachProjectTextBox {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    width: 343px;
}

.tags {
    grid-area: tags;
}

.tag {
    background-color: black;
    color: #FFF;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 600;
    padding: 5px 10px;
    margin-right: 10px;
    border-radius: 5px;
    display: inline-block;
    line-height: 19.5px;
    margin-top: 5px;
}

.projectLinks {
    grid-area: links;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    margin: 25px 0 40px 0;
}

.projectPicContainer {
    grid-area: image;
    width: 343px;
    height: 200px;
    border-bottom: 10px solid #0B24F5;
    border-left: 10px solid #0B24F5;
    overflow: hidden;
}

.projectPic {
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: center top;
}

@media (min-width: 744px) {
    .myProjectsBox {
        background: #FFFFFF;
        display: inline-flex;
        padding: 128px 32px 64px 32px;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        width: 100%;
    }

    .projectsWrapper {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .projectsWrapper {
        width: fit-content;
    }

    h1 {
        color: #0B24F5;
        text-align: center;
    }

    .eachProject {
        position: relative;
        display: flex;
        align-items: flex-start;
        margin-bottom: 60px;
        width: 100%;
        min-height: 320px;
        gap: 30px;
    }

    .projectsList {
        list-style-type: none;
        padding: 0;
        margin: 0;
        width: fit-content;
    }

    .pDescription {
        width: 430px;
        color: #000;
        font-family: Hind;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        padding-bottom: 5px;
    }

    .eachProjectTextBox {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 16px;
    }

    .tag {
        background-color: black;
        color: #FFF;
        font-family: Montserrat;
        font-size: 16px;
        font-weight: 600;
        padding: 5px 5px;
        margin-right: 10px;
        border-radius: 5px;
        display: inline-block;
    }

    .projectLinks {
        position: absolute;
        bottom: -40px;
        display: flex;
        align-items: center;
        gap: 10px;
        flex-direction: row;
    }

    .projectPicContainer {
        flex-shrink: 0;
        width: 200px;
        height: 320px;
        border-bottom: 10px solid #0B24F5;
        border-left: 10px solid #0B24F5;
        overflow: hidden;
    }

    .projectPic {
        width: 200px;
        height: 320px;
        object-fit: cover;
        object-position: center top;
    }

    /* .projectPicContainer {
        grid-area: image;
        width: 343px;
        height: 200px;
        border-bottom: 10px solid #0B24F5;
        border-left: 10px solid #0B24F5;
        overflow: hidden;
        background-color: hotpink;
    } */
}

@media (min-width: 1280px) {
    .myProjectsBox {
        padding: 128px 230px 230px 230px;
    }

    .projectPicContainer {
        width: 280px;
        height: 280px;
        border-bottom: 20px solid #0B24F5;
        border-left: 20px solid #0B24F5;
    }

    .projectPic {
        width: 280px;
        height: 280px;
    }

    .h1 {
        font-size: 80px;
        font-weight: 700;
        margin: 0 0 80px 0;
    }

    .h2 {
        font-size: 32px;
        font-weight: 600;
        line-height: 39.26px;
        width: 500px;
    }

    .eachProject {
        min-height: 280px;
        gap: 40px;
    }

    .pDescription {
        width: 500px;
        padding-bottom: 5px;
    }

    .projectLinks {
        gap: 30px;
    }
}

@media (min-width: 1285px) {
    .myProjectsBox {
        margin: 0;
        padding: 332px 346px 100px 346px;
        width: 100%;
    }
}