.navbar {
  height: 50px;
  background-color: blue;
  position: sticky;
  top: 0;
  width: 100%;
  border: 1px solid red;
  display: flex;
}

ul {
  display: flex;
  justify-content: space-around;
}
li {
  list-style: none;
}
