.header-container {
	display: inline-block;
	flex-direction: column;
	display: flex;
	width: 100%;
	overflow-x: hidden;
	padding: 64px 0;
	align-items: center;
}

h1 {
	font-family: "Montserrat", sans-serif;
	font-size: 32px;
	font-weight: 700;
	color: var(--dark-accent);
	margin-top: 5px;
	text-wrap: pretty;
	text-align: left;
	line-height: 1.2;
}

.header-titles,
.intro-text {
	padding: 0 16px;
}

.header-titles > p {
	font-family: "Montserrat", sans-serif;
	font-size: 18px;
	font-weight: 600;
	color: black;
	margin: 32px 0 0 0;
	text-align: left;
}

.arrow {
	width: 19px;
	height: 30px;
	flex-shrink: 0;
	margin-top: 48px;
	filter: grayscale(100%);
}

.intro-text {
	align-self: stretch;
	text-align: left;
	text-wrap: pretty;
	font-size: 18px;
	margin: 0;
}

@media screen and (min-width: 667px) {
	.header-container {
		display: grid;
		grid-template-rows: 1fr 164px auto 1fr;
		grid-template-columns: 16px 164px auto 164px 16px;
	}

	.header-titles {
		grid-column: 2 / 5;
		grid-row: 1 / 2;
	}

	.portrait-wrapper {
		grid-column: 2 / 3;
		grid-row: 2 / 3;
	}

	.intro-text {
		grid-column: 3 / 5;
		grid-row: 2 / 3;
	}

	.arrow {
		grid-column: 3 / 4;
		grid-row: 4 / 5;
		justify-self: center;
		align-self: end;
	}

	h1 {
		font-size: 56px;
	}

	.header-titles > p {
		font-size: 24px;
	}
}

@media screen and (min-width: 1025px) {
	.header-container {
		grid-template-columns: 161px 164px auto 164px 161px;
	}
}
