.contact-info-container {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  width: 50%;
}

.contact-info {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

/* For mobile phones and tablets*/
@media (max-width: 1024px) {

  .contact-info-container {
    width: 100%;
  }

}