.tech-section-container {
  background-color: #0b24f5;
  color: #ffffff;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  margin-top: 5em;
  padding: 5em 0 5em 0;
}

.tech-section-heading {
  text-align: center;
  font-size: 56px;
}

.tech-section-text {
  padding: 0 2em 0 2em;
  text-align: center;
  font-size: 24px;
}

/*media query for desktop - 2 rows */
@media (min-width: 1025px) {
  .tech-section-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .tech-section-container {
    background-color: #0b24f5;
    color: #ffffff;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin-top: 5em;
    padding: 5em 0 5em 0;
  }

  .tech-section-heading {
    text-align: center;
    font-size: 56px;
  }

  .tech-section-text {
    padding: 0 2em 0 2em;
    text-align: center;
    font-size: 24px;
  }
}
