/* Component 2 - Tech Section */

.tech-section-container {
  background-color: #0b24f5;
  color: #ffffff;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.tech-section-heading,
.tech-section-text {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3em 0;
  max-width: 50%;
}

/*media query for mobile*/
@media screen and (max-width: 667px) {
  .tech-section-heading,
  .tech-section-text {
    grid-column: span 2;
  }
}
