.header {
  background-color: #ffffff;
  text-align: center;
  width: 100%;
  height: 720px;
  padding: 64px 16px 64px 16px;
  justify-content: center;
}

.wrapper {
  grid-column: 1 / 5;
}

.my-image {
  display: block;
  width: 164px;
  height: 164px;
  border-radius: 50%;
  object-fit: cover;
  margin: 0 auto;
  border: 1px solid #000;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.name-and-title h1 {
  font-family: Montserrat;
  color: black;
  font-size: 18px;
  font-weight: 600;
  line-height: 12px;
  letter-spacing: 0em;
  text-align: left;
  margin: 30px 16px 0 16px;
}

.name-and-title h2 {
  font-family: Montserrat;
  font-size: 30px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0em;
  text-align: left;
  color: #a3bab6;
  padding-bottom: 24px;
  margin: 0 16px;
}

.header .wrapper p {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  color: black;
  margin: 0 16px 32px 16px;
}

.next-section-arrow {
  width: 100vw;
  height: 100%;
  border: none;
  background: transparent;
  cursor: pointer;
}

.arrow-down {
  animation: updown 2s ease-in-out infinite;
}

@keyframes updown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

/* Tablets */
@media (min-width: 745px) and (max-width: 1279px) {
  .header {
    height: 627px;
    padding: 100px 64px 0 64px;
  }

  .wrapper {
    display: grid;
    grid-template-columns: 1fr 420px;
    grid-template-rows: auto;
    height: px;
  }

  .name-and-title {
    grid-column: 1 / span 2;
    grid-row: 1;
    width: auto;
    height: 50px;
  }

  .name-and-title h1 {
    font-size: 24px;
  }

  .name-and-title h2 {
    font-size: 52px;
  }

  .my-image {
    margin: 0;
    grid-row: 2;
  }

  .header .wrapper p {
    margin-left: 10px;
    font-size: 16px;
    width: 100%;
    height: 200px;
    grid-column: span 2;
    grid-row: 2;
    margin: 0 22px 32px 22px;
  }

  .next-section-arrow {
    display: flex;
    align-self: end;
    justify-content: center;
    width: 100%;
    height: auto;
  }

  .arrow-down {
    width: 27px;
    height: 200px;
  }
}

/* For desktops and above */
@media (min-width: 1280px) {
  .header .wrapper {
    grid-column: 3 / 11;
  }

  .header {
    height: 627px;
    padding: 100px 64px 0 64px;
    margin: 30px;
    position: relative;
  }

  .wrapper {
    display: grid;
    grid-template-columns: 1fr 400px;
    grid-template-rows: auto;
  }

  .name-and-title {
    grid-column: 1 / span 2;
    grid-row: 1;
    width: auto;
    height: 50px;
  }

  .name-and-title h1 {
    font-size: 24px;
  }

  .name-and-title h2 {
    font-size: 52px;
  }

  .header .wrapper p {
    margin-left: 10px;
    font-size: 16px;
    width: 100%;
    height: 200px;
    grid-column: span 2;
    grid-row: 2;
    margin: 38px 22px;
  }

  .next-section-arrow {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: auto;
    height: auto;
  }

  .arrow-down {
    width: 27px;
  }

  .my-image {
    width: 180px;
    height: auto;
    margin: 0;
    grid-row: 2;
  }

  .header h1 {
    font-size: 24px;
    line-height: 28px;
  }
}
