header {
    background: #FFF;
}

.intro-content {
    display: inline-flex;
    padding: 160px 220px 64px 220px;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 150px;
}

.half-intro-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;

}

.intro-title {
    padding: 0;
    border: 0;
}

.intro-flex {
    margin: 50px 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.intro-flex p {
    word-wrap: break-word;
    text-align: justify;
}

/* .intro-container>img {

    padding: 0 16px 64px 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* Animation to make the arrow move */
position: relative;
top: 0;
/* Animation is animated here */
animation: arrowMove 1.7s ease-in infinite;
}

*/