.bio-section {
    display: flex;
    padding: 64px 16px;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    align-self: stretch;
    background-color: #000000;
    margin-top: -64px;
}

.bio-heading {
    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 60px;
    font-weight: 700;
    margin: 0;

}

.bio-text {
    color: #FFF;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    align-self: stretch;
    padding: 16px;

}

@media (min-width: 768px) and (max-width: 1023px) {
    .bio-text {
        text-align: center;
        padding: 24px;
    }
}

@media (min-width: 1024px) {
    .bio-heading {
        font-size: 80px;
        margin-top: 64px;

    }

    .bio-text {
        font-size: 16px;
        max-width: 782px;
        text-wrap: pretty;
        display: block;
        margin: 0 auto;
        margin-bottom: 128;
        text-align: center;
        margin-bottom: 128px;

    }

}