.button-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 32px;
    padding-left: 16px;
    margin-bottom: 64px;
}

.button {
    display: flex;
    width: 303px;
    height: 48px;
    padding: 0 16px;
    align-items: center;
    border-radius: 12px;
    background: #000;
    color: #FFFFFF;
    cursor: pointer;
    text-align: left;
}

/* Styles for the icon */
.icon {
    width: 20px;
    height: 20px;
    margin-right: 8px;
}