.lets-talk {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFFFFF;
}

.contact-h2 {
    color: #000;
    text-align: center;
    font-family: Poppins;
    font-size: 60px;
    font-weight: 700;
}

.profile-picture {
    width: 164px;
    height: 164px;
    margin-bottom: 64px;

}

.info p {
    margin: 0;
    line-height: 1;
    font-family: Poppins, sans-serif;
    font-size: 24px;
    color: #000;
}



.icons-container {
    display: flex;
    align-items: center;
    margin: 64px;
    gap: 32px;
}

.icon {
    width: 24px;
    height: 24px;
}