.lets-talk {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Center the profile picture and other content */
    background-color: #FFFFFF;
}

.contact-h2 {
    color: #000;
    text-align: center;
    font-family: Poppins;
    font-size: 60px;
    font-weight: 700;
}

.profile-picture {
    width: 164px;
    height: 164px;
    margin-bottom: 64px;

}

.info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}


.info p {
    margin: 0;
    line-height: 1.2;
}