.MyWords {
	background-color: #000000;
	padding-top: 1px;
}

.MyWords-heading {
	color: #FFF;
	text-align: center;
	font-family: Poppins;
	font-size: 60px;
	font-weight: 700;
	margin-top: 128px;
	margin-bottom: 128px;
}


.article-image {
	height: 200px;
	width: 100%;
	display: block;
	margin-bottom: 64px;
	padding: 0 24px;
	border-radius: 12px;
}

.article-heading {
	color: #FFF;
	font-family: Poppins;
	font-size: 30px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
}

time {
	color: #FFF;
	font-family: Poppins;
	font-size: 16px;
	font-weight: 500;
	border-radius: 4px;
	border: 1px solid #FFF;
	padding: 2px 32px;
	margin-left: 24px;
}


.article-intro {
	color: #FFF;
	font-family: Poppins;
	font-size: 18px;
	font-weight: 400;
	padding: 24px;
}

.read-article-button {
	background-color: white;
	color: black;
	font-size: 18px;

}

/* Responsive design*/


@media (min-width: 768px) and (max-width: 1023px) {
	.article-container {
		display: flex;
		flex-direction: row;
		margin-right: 24px;
		;
	}

	.article-image {
		width: 250px;
		height: 338px;
		margin-left: 24px;
	}

	.article-intro {
		flex: 1;
		text-align: left;
		margin-left: 16px;
		margin-bottom: 16px;
		padding: 0;
	}

	.article-heading {
		text-align: left;
		margin-bottom: 16px;
		margin-left: 16px;
		padding: 0;
		;
	}
}

@media (min-width: 1024px) {
	.article-container {
		display: flex;
		flex-direction: row;
		align-items: flex-start;
		margin-right: 24px;
	}

	.article-image {
		width: 479px;
		height: 311px;
		margin-left: 128px;
		margin-bottom: 64px;
		margin-right: 125px;
	}

	.article-text {
		flex: 1;
		text-align: left;
		margin-right: 128px;
	}

	.article-heading {
		text-align: left;
		margin-bottom: 16px;
		padding: 0;
		margin-top: 16px;
	}

	.article-intro {
		text-align: left;
		margin-bottom: 16px;
		padding: 0;
	}

	time {
		margin-left: 0;

	}
}