.project-image-wrapper {
    text-align: center;
    /* Center the image horizontally */
    padding: 0 16px;
    /* Add 16px padding on both sides */
    margin-top: 64px;
    margin-bottom: 32px;
}

.project-image {
    height: 479px;
    width: 343px;
    border-radius: 12px;
    display: inline-block;
    /* Use inline-block to work with text-align */
}