.project-title {
    color: #000;
    font-family: Poppins;
    font-size: 30px;
    font-weight: 500;
}

p {
    color: #000;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    padding: 16px;
}

.tags-container {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
    padding: 0 16px;
}

.tag {
    padding: 2px 6px;
    align-items: flex-start;
    flex: 1 0 0;
    border-radius: 4px;
    border: 1px solid #000;
    background: #FFF;
    text-align: center;
    margin-top: 32px;
}

.project-image-wrapper {
    display: flex;
    justify-content: center;
    padding: 0 16px;
    margin-top: 64px;

}

.project-image {
    height: 479px;
    width: 100%;
    align-self: stretch;
}

@media (min-width: 768px) and (max-width: 1023px) {

    .project-image {
        height: 479px;
        width: 100%;
        margin: 24px;
    }

    .tag {
        border-radius: 4px;
        border: 1px solid #000;
        background: #FFF;
        text-align: center;
        margin-top: 32px;
    }

    .tags-container {
        margin: 24px;
        margin-bottom: 16px;
    }

    .project-title {
        margin-top: 24px;
        display: flex;
        text-align: left;
        margin-left: 32px;
        padding: 0;
    }

    p {
        margin-top: 6px;
        margin-left: 24px;
    }
}