.project-title {
    color: #000;
    font-family: Poppins;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

p {
    color: #000;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 16px;
}

.tags-container {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
    padding: 0 16px;
}

.tag {
    padding: 2px 6px;
    justify-content: center;
    align-items: flex-start;
    flex: 1 0 0;
    border-radius: 4px;
    border: 1px solid #000;
    background: #FFF;
    text-align: center;
}