.bouncing-arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    animation: bounce 1s infinite alternate;
    margin-bottom: 50px;
    margin-top: 50px;
}

@keyframes bounce {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-10px);
        /* Adjust the value to control the bounce height */
    }
}

.bouncing-arrow img {
    width: auto;
    /* Adjust the width as needed */
    height: auto;
}