.article-heading .tags {
  margin-bottom: 8px;
}

.article-image-border {
  border-bottom: 20px solid #ff4575;
  border-left: 20px solid #ff4575;
}

.article-item img {
  height: 200px;
  align-self: stretch;
  object-fit: cover;
}

.test {
  display: grid;
  gap: 1.5rem;
}

@media (min-width: 744px) {
  .article-item img {
    height: 340px;
  }
}
