.article-card {
  margin-left: 16px;
  margin-right: 16px;
  margin-bottom: 64px;
}

@media (min-width: 744px) {
  .article-photo img {
    width: 100%;
  }

  .article-card {
    margin-left: 32px;
    margin-right: 32px;
  }
}
@media (min-width: 1280px) {
  .article-card {
    margin-left: 230px;
    margin-right: 230px;
  }
}
@media (min-width: 1512px) {
  .article-card {
    margin-left: 230px;
    margin-right: 230px;
  }
}
