.article-square {
  width: 100%;
}

.pink {
  border-bottom: 20px solid #ff4575;
  border-left: 20px solid #ff4575;
}

.date {
  width: 50px;
  background: #000;
  color: white;
  text-align: left;
  padding: 2px 6px;
}

.btn-read {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 11em;
  border: none;
  border-radius: 40px;
  background: #fff;
  cursor: pointer;
}

@media (max-width: 600px) {
  .pink {
    border-bottom: 1em solid #ff4575;
    border-left: 1em solid #ff4575;
    width: 26em;
    height: 15em;
  }
}
