.article-card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
}

.post-image {
    height: 200px;
    align-self: stretch;
    border-bottom: 10px solid #FF4575;
    border-left: 10px solid #FF4575;
}

.article-card h3, .article-card p {
    text-align: left;
    margin: 0;
    padding: 0;
}

.date {
    background-color: #000;
    color: #FFFFFF;
    padding: 2px 6px;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

/********* MEDIA QUERIES *********/
/********* TABLETS *********/
@media (min-width: 376px) {
    .article-card {
        gap: 32px;
    }
    
    .post-image {
        height: 340px;
    }
}

/********* DESKTOP max-width 1280px *********/
@media (min-width: 745px) {

}

/********* DESKTOP max-width 1512px *********/
@media (min-width: 1281px) {

}