.article-card {
  margin-left: 16px;
  margin-right: 16px;
  margin-bottom: 64px;
  width: 90%;
  font-family: Montserrat;
}
.article-info {
  text-align: left;
  width: 90%;
  margin-left: 18px;
}
.tags {
  text-align: left;
  margin-left: 0;
}
.article-text {
  font-family: Hind;
  font-size: 18px;
}

@media (min-width: 744px) {
  .article-photo img {
    width: 100%;
  }

  .article-card {
    margin-left: 32px;
    margin-right: 32px;
  }
}
@media (min-width: 1280px) {
  .article-card {
    margin-left: 230px;
    margin-right: 230px;
  }
}
@media (min-width: 1512px) {
  .article-card {
    margin-left: 230px;
    margin-right: 230px;
  }
}
