/* CSS Style for Avatar.jsx */
.avatarContainer {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  border-color: #0466c8;
  /* border-image: linear-gradient(to bottom right, #00c0ff, #4218b8) 30; */
  border-width: 6px;
  border-style: solid;
  /* background: linear-gradient(#fff 0 0) padding-box,
    linear-gradient(to bottom right, #00c0ff, #4218b8) border-box; */
}

.avatar {
  width: 140px;
  position: absolute;
  top: -80px;
  left: -20px;
}
@media screen and (min-width: 768px) {
  .avatarContainer {
    width: 150px;
    height: 150px;
  }

  .avatar {
    width: 200px;
    top: -100px;
    left: -30px;
  }
}
