.blue, .white, .pink {
    font-family: Montserrat;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 0;
    margin-bottom: 0;
}

.blue {
    color: #0B24F5;
    align-self: stretch;
}

.white {
    color: #FFFFFF;
}

.pink {
    color: #FF4575;
}

/********* MEDIA QUERIES *********/
/********* TABLETS *********/
@media (min-width: 376px) {
    .blue, .white, .pink {
        font-size: 56px;
    }
}

/********* DESKTOP max-width 1280px *********/
@media (min-width: 745px) {

}

/********* DESKTOP max-width 1512px *********/
@media (min-width: 1281px) {

}