.blue {
    color: #0B24F5;
    align-self: stretch;
    /* font-family: Montserrat; */
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 0;
    margin-bottom: 0;
}

.white {
    color: #FFFFFF;
}

.pink {
    color: #FF4575;
}