.button {
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  text-decoration: none;
  color: #e74b7e;
  font-size: 18px;
  border-radius: 20px;
  width: 200px;
  height: 40px;
  gap: 16px;
}
