button {
    display: inline-flex;
    border: none;
    border-radius: 40px;
    padding: 0;
    cursor: pointer;
}

.button-icon, .button-text {
    display: inline-flex;
    align-items: center;
    text-align: center;
    height: 100%;
}

