.button {
    font-family: Montserrat;
    font-weight: 600;
    background-color: #f5f5f5;
    border-radius: 20px;
}

.pink:hover {
    background-color: #eb5578; 
    color: white; 
}

.blue:hover {
    background-color: #0a25f5; 
    color: white; 
}