.buttons {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
}

.live-demo, .github, .read-more {
    background: #F5F5F5;
    color: #333333;
    border-radius: 40px;
    border: none;
    display: flex;
    align-items: center;
    padding-left: 0;
    padding-right: 6px;
    gap: 7px;
}

.buttons a {
    text-decoration: none;
}

.live-demo svg, .github svg, .read-more svg {
    fill: #333333;
}

.live-demo p, .github p, .read-more p {
    font-size: 20px;
    font-family: "Montserrat";
}

.live-demo:hover {
    background: #0B24F5;
    color: white;
}

.github:hover {
    background: #EB5577;
    color: white;
}

.read-more:hover {
    background: #FFD338;
    color: black;
}

/********* MEDIA QUERIES *********/
/********* TABLETS *********/
@media (min-width: 376px) {
    .buttons {
        flex-direction: row;
    }
}

/********* DESKTOP max-width 1280px *********/
@media (min-width: 745px) {

}

/********* DESKTOP max-width 1512px *********/
@media (min-width: 1281px) {

}