.card-h1 {
	padding: 0;
	font-size: 70px;
	display: flex;
	flex-direction: column;
	padding: 0;
	margin: 5% 10% 0 20%;
}

.card {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin: 10% 10% 5% 10%;
	max-width: 90%;
	height: auto;
}

img {
	display: grid;
	grid-column: 50%;
	width: 300px;
	height: 200px;
	border-left: solid 15px #7d91ae;
	border-bottom: solid 15px #7d91ae;
	margin-right: 15px;
}

.card-content {
	display: flex;
	flex-direction: column;
}

.card-content h3 {
	display: flex;
	justify-content: flex-start;
	font-size: 20px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	line-height: 1;
	margin-top: 0;
}

.card-content p {
	display: flex;
	font-family: 'Montserrat', sans-serif;
	font-size: 12px;
	font-stretch: expanded;
	margin-top: 0;
}

.tags {
	display: flex;
}

.tag {
	background-color: #092d4c;
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	color: #f4f4f4;
	padding: 5px;
	margin: 5px;
}

.button-wrapper {
	display: flex;
	gap: 20px;
}

a {
	text-decoration: none;
}

a button {
	display: flex;
	font-size: 15px;
	align-items: center;
	color: #092d4c;
	background-color: #f4f4f4;
	border-radius: 50px;
	border: none;
	margin-top: 30px;
	padding: 5px 10px;
}

a button:hover {
	background-color: #092d4c;
	color: #f4f4f4;
}

.github-btn {
	display: flex;
	font-size: 15px;
	align-items: center;
	color: #db938f;
	background-color: whitesmoke;
	border-radius: 50px;
	border: none;
	margin-top: 30px;
	padding: 5px 10px;
}

.github-btn:hover {
	background-color: #db938f;
	color: whitesmoke;
}

/* mobile */
@media (min-width: 0px) and (max-width: 667px) {
	.card-h1 {
		padding: 0;
		font-size: 70px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		margin: 5% 10% 0 10%;
	}

	.card {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin: 10% 10% 5% 10%;
		max-width: 90%;
		height: auto;
	}

	img {
		display: flex;
		align-items: center;
		max-width: 90%;
		height: auto;
		border-left: solid 15px #2148f5;
		border-bottom: solid 15px #2148f5;
		object-fit: cover;
	}

	.card-content {
		display: flex;
		flex-direction: column;
		justify-content: center;
		max-width: 310px;
	}

	.card-content p {
		align-items: flex-start;
		max-width: 90%;
		height: auto;
		padding: 5px;
		font-family: 'Montserrat', sans-serif;
		font-size: 12px;
		font-stretch: expanded;
		margin-top: 0;
	}

	.card-content h3 {
		font-size: 22px;
		font-family: 'Montserrat', sans-serif;
		font-weight: 450;
		line-height: 1;
		margin: 5px;
	}

	.tags {
		display: flex;
		flex-direction: row;
	}

	.tag {
		background-color: black;
		font-family: 'Montserrat', sans-serif;
		font-weight: 500;
		color: white;
		padding: 5px;
		margin: 5px;
	}

	.button-wrapper {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 0;
	}

	a {
		text-decoration: none;
	}

	a button {
		display: flex;
		font-size: 15px;
		align-self: center;
		color: #333333;
		background-color: whitesmoke;
		border-radius: 50px;
		border: none;
		padding: 5px 10px;
	}

	a button:hover {
		background-color: #2148f5;
		color: whitesmoke;
	}

	.github-btn {
		display: flex;
		font-size: 15px;
		align-items: center;
		color: #333333;
		background-color: whitesmoke;
		border-radius: 50px;
		border: none;
		padding: 5px 10px;
	}

	.github-btn:hover {
		background-color: #e94572;
		color: whitesmoke;
	}
}

/* tablet */
@media (min-width: 668px) and (max-width: 1025px);
