.card {
	display: grid;
	grid-template-columns: 30% 70%;
	border: red solid 1px;
}

img {
	display: grid;
	grid-column: 40%;
	max-width: 100%;
	height: auto;
}

.card-content {
	display: flex;
	flex-direction: column;
	margin-left: 10px;
}

h3 {
	display: flex;
	justify-content: flex-start;
	font-size: 25px;
}

p {
	display: flex;
}

.tags {
	display: flex;
}

.tag {
	background-color: black;
	color: white;
	padding: 5px 15px;
	margin: 5px;
}

.button-wrapper {
	display: flex;
	justify-content: flex-start;
}

a {
	text-decoration: none;
}

a button {
	display: flex;
	align-items: center;
	color: dark gray;
	background-color: lightgray;
	border-radius: 50px;
	border: none;
}
