.card-h1 {
	padding: 0;
	font-size: 70px;
	display: flex;
	flex-direction: column;
	padding: 0;
	margin: 5% 10% 0 20%;
}

.card {
	display: grid;
	grid-template-columns: 40% 60%;
	margin: 5% 20% 5% 20%;
	max-width: 50%;
	height: 300px;
}

img {
	display: grid;
	grid-column: 40%;
	width: 250px;
	height: 280px;
	border-left: solid 20px blue;
	border-bottom: solid 20px blue;
}

.card-content {
	display: flex;
	flex-direction: column;
	margin-left: 10px;
}

h3 {
	display: flex;
	justify-content: flex-start;
	font-size: 25px;
}

p {
	display: flex;
}

.tags {
	display: flex;
}

.tag {
	background-color: black;
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	color: white;
	padding: 5px;
	margin: 5px;
}

.button-wrapper {
	display: flex;
	justify-content: flex-start;
}

a {
	text-decoration: none;
}

a button {
	display: flex;
	align-items: center;
	color: dark gray;
	background-color: lightgray;
	border-radius: 50px;
	border: none;
}
