.contact-section {
	background-color: #ffffff;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.contact-section h1 {
	text-align: center;
	color: #2148f5;
	margin-top: 10%;
	font-family: 'Montserrat', sans-serif;
}

.contact-section img {
	align-self: center;
	height: 200px;
	width: 200px;
	border-radius: 100%;
	border: none;
	margin: 5%;
}

.contact-text h2 {
	text-align: center;
	line-height: 0.5;
	font-family: 'Montserrat', sans-serif;
	font-size: 30px;
	font-weight: 600;
}

.contact-buttons {
	display: flex;
	flex-direction: row;
	justify-content: center;
  margin-bottom: 5%;
}

.link-btn {
	color: #d0d0d0;
	background-color: #ffffff;
	background-color: none;
	font-size: 25px;
}

.link-btn:hover {
	color: #000000;
	background-color: #ffffff;
}
