.contact {
  width: 100vw;
  padding: 128px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #eeeeee;
}

.CVbutton-container button {
  display: inline-block; /* Adjusts width to content */
  padding: 10px 20px; /* Adds spacing inside the button */
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: #ffffff;
  background-color: #474744; 
  border: none;
  border-radius: 15px; /* Slightly rounded corners */
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  margin-top: 0px;
  margin-bottom: 20px;
}




.button-container {
  display: flex;
  justify-content: center; /* Center the buttons horizontally */
  gap: 20px; /* Spacing between buttons */
}

.contact-list {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  display: flex;
  flex-direction: column; /* Stack items vertically */
  align-items: center; /* Center items horizontally */
}

.contact-item {
  margin-bottom: 20px; /* Space between email and button rows */
}

.contact-mail {
  font-family: 'Montserrat', sans-serif;
  color: #000000;
  font-size: 20px;
  font-weight: 600;
}

.classh2contact {
  color: #000000;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 80px;
  font-weight: 700;
}

.profile-image {
  width: 164px;
  height: 164px;
  border-radius: 50%; /* Makes the image rounded */
  background: url('path-to-your-image.jpg') lightgray 50% / cover no-repeat, #D9D9D9;
}

.contact-text {
  font-family: 'Montserrat', sans-serif;
  color: #000000;
  font-size: 32px;
  font-weight: 600;
}

/* Tablet */
@media (min-width: 744px) and (max-width: 1279px) {
  .contact {
    padding: 128px 217px;
  }

  .classh2contact {
    font-size: 56px;
  }

  .CVbutton-container .download-cv {
    padding: 14px 18px; /* Adjusted padding for smaller screen sizes */
    font-size: 16px;
  }
}

/* Mobile */
@media (min-width: 375px) and (max-width: 743px) {
  .contact {
    padding: 60px 0;
  }

  .classh2contact,
  .contact-text {
    font-size: 56px;
  }

  .contact-text {
    font-size: 24px;
  }

  .CVbutton-container .download-cv {
    padding: 12px 16px; /* Adjusted padding */
    font-size: 14px;
    width: 100%; /* Full width on mobile */
    text-align: center;
  }

  .button-container {
    display: flex;
    justify-content: center;
    padding-right: 30px;
  }
}





