.contact-section {
  background-color: #275868;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding-bottom: 128px;
  gap: 64px;
}

.contact-section img {
  margin: 0;
}

.contact-section p {
  font-family: "Futura";
  font-size: 24px;
  color: white;
  text-align: center;
}

.contact-social-icons {
  display: flex;
  flex-direction: row;
  gap: 36px;
}

.contact-social-icons a:hover img {
  filter: invert(1);
}
