.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 70px;
}

.contact h1 {
    color: #0B24F5;
    font-family: 'Montserrat', sans-serif;
    font-size: 70px;
}

.contact p {
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
}

.contact-img {
    width: 15%;
    border-radius: 50%;
}

.contact-buttons {
    display: flex;
    justify-content: row;
}