.title {
    color: blue;
}

.contactContainer {
    align-items: center;
    text-align: center;


}

.soMe button {
    border: none;
    padding: 0;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 50px;
}

.rollingtext-container {
    margin-top: 20px;
    color: white;
    background-color: rgb(255, 69, 117);
    overflow: hidden;
    white-space: nowrap;
}

.rollingtext {
    display: inline-block;
    animation: scroll 80s linear infinite;
    /* Adjust the animation duration as needed */
}

@keyframes scroll {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}