.contact-container {
  width: 100%;
  height: 100%;
  grid-column: span 4;
  align-items: center;
  gap: 16px;
}

.contact-content {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 64px;
}

.contact-image {
  width: 50%;
  height: auto;
  background: linear-gradient(0deg, black 0%, black 100%);
  border-radius: 50%;
}

.contact-details {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 8px;
}

.icons {
  display: flex;
  /* Make sure the buttons are displayed in a row */
  gap: 16px;
  /* Add space between the buttons */
}

.btn-icon {
  background: transparent;
  /* Make the button background transparent */
  border: none;
  /* Remove border */
  padding: 8px;
  /* Add some padding */
  cursor: pointer;
  /* Change cursor on hover */
  transition: transform 0.3s;
  /* Smooth transition for hover effect */
}

.btn-icon:hover {
  transform: scale(1.1);
  /* Slightly enlarge the button on hover */
}

@media (min-width: 640px) {
  .contact-container {
    grid-column: span 8;
  }

  .contact-image {
    width: 35%;
  }
}

@media (min-width: 1024px) {
  .contact-container {
    grid-column: span 12;
  }

  .contact-image {
    width: 30%;
  }
}