/* CSS Style for Contact.jsx */
.section {
  margin: 0 auto;
  padding: 7rem 0;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  background-color: #b4d4ee;
  clip-path: polygon(
    0 50px,
    calc(50% - 50px) 50px,
    50% 0,
    calc(50% + 50px) 50px,
    100% 50px,
    100% 100%,
    0 100%
  );
  margin-top: -40px;
}

.section:target h2 {
  text-decoration: underline #ffdc58 20px;
  text-decoration-skip-ink: none;
  text-underline-offset: -10px;
}

.descr {
  text-align: center;
  padding: 0 10px;
}
.title {
  padding-top: 1rem;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.name {
  font-weight: 600;
  font-size: 24px;
}
.email {
  text-align: center;
  margin-bottom: 10px;
  font-size: 18px;
}

.socialMedia {
  display: flex;
  gap: 1rem;
}

.link {
  text-decoration: none;
  color: black;
}
.toTop {
  width: 60px;
  position: absolute;
  right: 5%;
  bottom: 2%;
  cursor: pointer;
}
