.contact {
    width: 100%;
    padding: 128px 0; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #FFFFFF;
}

.classh2contact {
    font: 'Montserrat', sans-serif;  
    font-size: 100px;
    font-weight: 700;
    line-height: 120px;
    letter-spacing: 0em;
    text-align: center;
    color: blue;
    margin-bottom: 40px; /
}

.profile-image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-bottom: 20px; /* Added some margin to separate from the contact text */
}

.contact-text {
    font: 'Montserrat';  /* Corrected the font-family property */
    font-size: 32px;
    font-weight: 600;
    line-height: 39px;
    letter-spacing: 0em;
    text-align: center;
    color: black;
    margin: 10px 0; /* Added some margin to separate the name, phone, and email */
}

  
