/* CSS Style for Contact.jsx */
.section {
  margin-bottom: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.descr {
  text-align: center;
}
.title,
.subtitle {
  margin: 0;
}

.form {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  background-color: lightgray;
  padding: 20px 0;
}

.submit {
  width: 120px;
  border-radius: 10px;
  border: none;
  padding: 10px 0;
}
