/* ----- Contact section ----- */
.contact-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 128px 0px;
}

.contact-photo {
    margin-top: 128px;
    margin-bottom: 64px;
}

.contact-container p {
    font-family: Montserrat;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 64px;
}

.social-media-wrapper a {
    filter: brightness(1);
    transition: filter 0.3s ease-in-out;
    /* Smooth transition for the filter property */
}

.social-media-wrapper a:hover {
    filter: brightness(0);
}

/* ----- Media queries ----- */
/* Tablet */
@media (max-width: 1279px) {
    .contact-container {
        padding: 128px 217px;
    }
}

/* Mobile */
@media (max-width: 743px) {
    .contact-container {
        padding: 128px 32px;
    }

    .contact-container p {
        font-size: 24px;
    }
}