.contact-section {
  background-color: #275868;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding-bottom: 64px;
  /* gap: 64px; */
}

.contact-section img {
  margin: 0 0 64px 0;
}

.contact-section p {
  font-size: px;
  color: white;
  text-align: center;
}

.contact-social-icons {
  display: flex;
  flex-direction: row;
  gap: 36px;
  margin-top: 64px;
}

.contact-social-icons a:hover img {
  filter: invert(1);
}
