.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 70px;
}

.contact h1 {
    color: #0B24F5;
    font-family: 'Montserrat', sans-serif;
    font-size: 70px;
}

.contact p {
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    font-weight: 600;
}

.contact-img {
    width: 15%;
    border-radius: 50%;
}

.contact-buttons {
    display: flex;
    justify-content: row;
}

/* Mobile */
@media (max-width: 375px) {
    .contact {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 40px;
        margin-bottom: 40px;
    }

    .contact h1 {
        font-size: 56px;
    }

    .contact p {
        font-size: 24px;
    }

    .contact-img {
        width: 40%;
    }

    .contact-buttons {
        display: flex;
        flex-direction: row;
    }
}

/* Tablet */
@media (min-width: 376px) and (max-width: 1024px) {
    .contact {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 50px;
        margin-bottom: 70px;
    }

    .contact h1 {
        font-size: 70px;
    }

    .contact p {
        font-size: 25px;
    }

    .contact-img {
        width: 15%;
        border-radius: 50%;
    }

    .contact-buttons {
        display: flex;
        justify-content: row;
    }
}
