.contact-section {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 128px 0;
  gap: 64px;
}

.contact-section img {
  /* margin: 0 0 64px 0; */
}

.contact-section h1 {
  font-family: "Montserrat";
  font-size: 56px;
  color: #275868;
}

.contact-section p {
  font-size: px;
  color: black;
  text-align: center;
}

.contact-social-icons {
  display: flex;
  flex-direction: row;
  gap: 36px;
  margin-top: 64px;
}

.contact-social-icons a:hover img {
  filter: invert(1);
}
