.featured-projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 128px 50px;
}

.featured-projects-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 128px;
  max-width: 1044px;
}

@media (max-width: 1024px) {
  .featured-projects {
    padding: 128px 32px;
  }
}

@media (max-width: 600px) {
  .featured-projects-box {
    gap: 64px;
  }

  .featured-projects-box h1 {
    text-align: center;
    line-height: 66px;
  }
}
