/* Add this CSS to your footer.css */
.footer-banner {
    background-color: #FF4575;
    color: #fff;
    padding: 40px;
    overflow: hidden;
    /* Hide overflowing content */
    position: relative;
    /* Create a positioning context for absolute positioning */
}

.footer {
    text-align: center;
    margin: 0 auto;
    width: 100%;
    white-space: nowrap;
    /* Prevent text from wrapping */
    animation: roll 40s linear infinite;
    /* Start the animation */
}

.footer p {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 20px;
}

@keyframes roll {
    0% {
        transform: translateX(100%);
        /* Start off-screen to the right */
    }

    100% {
        transform: translateX(-100%);
        /* Move off-screen to the left */
    }
}


/* Specify the width of the rolling banner container */
.rolling-banner {
    width: 100%;
    overflow: hidden;
}

/* Keyframes for the rolling animation */
@keyframes roll {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}

/* Apply the animation to the <h3> element */
.footer-banner h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    margin-bottom: 10px;
    white-space: nowrap;
    overflow: hidden;
    animation: roll 20s linear infinite;
    /* Adjust duration for the speed of the roll */
}