.footer{
  height: 114px;
  width: 100%;
  background-color: #FF4575;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footerText{
  font-size: 26.038px;
  font-weight: 600;
  line-height: 37.874px; 
}