/* CSS Style for Footer.module */

.footer {
  margin-top: 3rem;
  padding-bottom: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: antiquewhite;
}

.socialMedia {
  display: flex;
  gap: 1rem;
}

.link {
  text-decoration: none;
  color: black;
}
