@keyframes swooshText {
  0% {
      transform: translateX(0%);
  }
  100% {
      transform: translateX(-100%);
  }
}

.footer {
    width: 100vw;
    height: 100px;
    background-color: #1B4965;
    position: relative;
    overflow: hidden;
}

.footer-text {
    width: 1480px;
    height: 38px;
    top: 41px;
    left: 13px;
    font: 'Montserrat', sans-serif;
    font-size: 26.038px;
    font-style:normal;
    font-weight: 600;
    line-height: 38px;
    letter-spacing: 0em;
    text-align: left;
    color: white;
    position: absolute;
    animation: swooshText 10s linear infinite;
    white-space: nowrap;
    line-height: 37.874px; /* 145.455% */
}

.footer-text.duplicate {
    animation-delay: 15s; /* Start the second text halfway through the animation */
}



/* Tablet */
@media (min-width: 744px) and (max-width: 1279px) {
  .footer {
      height: 100px; /* Adjusted footer height for tablet */
      width: 100vw;
      padding-left: -400PX;

  }

  .footer-text {
      font-size: 20px; /* Adjusted font size for tablet */
      top: 25px;
      left: 10px;
      width: auto; /* Adjust width to content size */
      animation-duration: 20s; /* Adjust animation speed if necessary */
  }
}
  /* Mobile */
  @media (min-width: 375px) and (max-width: 743px){
    .footer {
        height: 60px; /* Adjusted footer height for mobile */
        width: 100vw;
    }
  
    .footer-text {
        font-size: 16px; /* Adjusted font size for mobile */
        top: 15px;
        left: 5px;
        width: auto; /* Adjust width to content size */
        animation-duration: 10s; /* Adjust animation speed if necessary */
    }
  }