.wrapper {
	display: flex;
	flex-direction: column;
	margin: 20% 0 20% 10px;
	padding: 0;
	position: relative;
}

.heading-name {
	display: flex;
	text-align: left;
	font-size: 20px;
	margin: 0 0 0 10px;
	padding: 0;
	position: relative;
	z-index: 1;
	line-height: 0;
}

.heading-title {
	margin: 0 0 0 10px;
	line-height: 1;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	font-size: 70px;
	text-align: left;
	position: relative;
	top: -90px;
}

.heading-card {
	display: grid;
	grid-template-columns: 30% 70%;
	position: relative;
	top: -90px;
}

/* här måste jag fixa att bilden är responsiv dvs inte lägger sig över texten OBSP  FIXAT */
.my-image {
	display: grid;
	grid-column: 30%;
	max-width: 80%;
	max-height: auto;
	border-radius: 100%;
}

.heading-text {
	display: grid;
	grid-column: 70%;
	font-size: 30px;
	max-width: 80%;
	max-height: auto;
	text-align: left;
	align-items: center;
}


