.heading h2 {
  color: #275868;
  font-family: "Didact Gothic", sans-serif;
  font-size: 56px;
  font-weight: 900;
  /* font-style: bold; */
  /* left: 0; */
  /* letter-spacing: 0; */
  /* line-height: normal; */
  /* position: fixed; */
  text-align: center;
  /* top: 0; */
  margin-top: 128px;
  margin-bottom: 64px;
}
