.header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #275868;
}

.header-img {
  /* display: flex; */
  /* align-items: center; */
  width: 80%;
  border-radius: 50%;
}

.header-name {
  color: white;
  font-family: "Futura";
  font-size: 18px;
  /* font-weight: 700; */
}

.header-title {
  color: #e8998d;
  font-family: "Futura";
  font-size: 32px;
  /* font-weight: 600; */
}
