.headerBody {
    height: 800px;
    max-width: 100%;

}

.HeaderSection {
    width: 900px;
    margin: auto;
    margin-top: 200px;

}

.HeaderSection h1 {
    color: blue;
}


.subPresentation {
    display: flex;
    padding: 10px;
}

.picText {
    width: 50%;
    margin: auto;

}

.picText h1 {
    color: blue;
}

.CvPicUpper img {
    display: none;
}

.CvPic {
    height: 160px;
    border-radius: 100%;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    padding-right: 15px;
}



.arrow {
    margin-top: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: jump 1s infinite alternate;
    /* Adjust duration and timing as needed */
}

@keyframes jump {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-20px);
        /* Adjust the jump height as needed */
    }
}

@media (max-width: 1024px) {
    .HeaderSection {
        width: 90%;
    }

    .HeaderSection h1 {
        font-size: 60px;
    }

    .subPresentation {
        margin-top: 20px;

    }

    .subPresentation p {
        font-size: 20px;
    }

    .picText {
        width: 90%;
        margin: auto;

    }
}

@media (max-width: 667px) {
    .CvPicUpper img {
        display: block;
        width: 50%;
        margin: auto;
    }

    .subPresentation {
        flex-direction: column;
        /* Change the flex direction to stack elements vertically */
    }

    .CvPic {
        display: none;

    }

    .HeaderSection {
        font-size: 20px;
        width: 100%;
        margin: auto;
        margin-top: 100px;
    }

    .HeaderSection h1 {
        font-size: 30px;
        text-align: left;
    }



    .picText {
        width: 100%;

    }

    .arrow {
        margin-top: 20px;
    }
}