.heading h2 {
  color: #275868;
  font-size: 56px;
  font-weight: 700;
  text-align: center;
  margin-top: 128px;
  margin-bottom: 64px;
  text-decoration: underline dotted;
  text-decoration-thickness: from-font;
  text-underline-offset: 5px;
  text-underline-position: under;
}
