.title {
  color: #0b24f5;
  font-size: 70px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

@media (max-width: 768px) {
  .title {
    font-size: 45px;
    margin: 0;
  }
}
