.header-container {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  padding: 64px 16px 64px 16px;
  gap: 32px;
}

.header-image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header-img {
  width: 164px;
  border-radius: 50%;
}

.header-title-name {
  font-size: 25px;
  font-weight: 500;
}

.header-title-title {
  font-size: 27px;
  color: #000000;
}

.header-text {
  font-size: 16px;
}

.arrow-container {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 0;
  animation: arrowJump 1s infinite;
}

.arrow-icon {
  width: 220px;
}

@keyframes arrowJump {
  0%,
  100% {
    transform: translateY(0); /* Start and end position (no movement) */
  }
  50% {
    transform: translateY(-20px); /* Move up by 20px */
  }
}

/* Media Queries for tablet*/
@media screen and (min-width: 667px) {
  .header-container {
    display: grid;
    padding: 128px 32px 138px;
    grid-template-columns: 1fr 430px;
    grid-template-rows: auto;
  }

  .header-image-container {
    grid-row: 2;
  }

  .header-title {
    grid-column: 1 / span 2;
    grid-row: 1;
  }

  .header-title-title {
    font-size: 55px;
  }

  .header-text {
    grid-row: 2;
    grid-column: span 2;
    display: flex;
    align-items: center;
  }
}

/* Media Queries for desktop */
@media screen and (min-width: 1024px) {
  .header-container {
    /* padding: 100px 200px 250px 200px; */
  }
}
