.title {
  color: #0b24f5;
  font-size: 3.5em;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

@media (max-width: 600px) {
  .title {
    font-size: 4em;
  }
}
