.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 80px;
}

.header h2 {
    font-family: 'Montserrat', sans-serif;
    size: 30px;
    color: black;
}