.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 100px;
    margin-left: 320px;
}

.header h1 {
    font-family: 'Montserrat', sans-serif;
    color: #0B24F5;
    font-size: 80px;
    text-align: left;
    margin: 0 auto;

}

.header h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    color: black;
    text-align: left;
    margin: 0 auto;
    margin-left: 5px;
}

/* Mobile */
@media (max-width: 390px) {
    .header {
        margin-top: 40px;
        width: 100%;
        margin-left: 20px;
    }

    .header h1 {
        font-size: 40px;
    }

    .header h2 {
        font-size: 20px;
    }

}

/* Tablet */
@media (min-width: 391px) and (max-width: 1024px) {
    .header {
        margin-left: 50px;
    }

    .header h1 {
        font-size: 60px;
    }

    .header h2 {
        font-size: 30px;
    }
}