.headline {
  background-color: #fff;
  text-align: center;
  padding: 200px;
}

.headline h1 {
  font-size: 2em;
  color: #000;
  margin: 0;
  margin-left: -315px;
  font-family: "Montserrat", sans-serif;
}

.headline h2 {
  font-size: 4em;
  color: #e06969;
  margin: 0;
  margin-left: -100px;
  font-family: "Montserrat", sans-serif;
}

.profile-container {
  display: flex;
  flex-direction: column; 
  align-items: center; 
  justify-content: center; 
  gap: 20px;
}

.profile-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
}

.profile-description {
  font-size: 1em;
  line-height: 1,6;
  color: black;
  max-width: 600px;
  text-align: left;
  font-family: "Hind", sans-serif;
}

.profile-content { 
  display: flex;
  align-items: center; 
  gap: 20px; 
}

/*make the arrow bounce*/
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

.arrow-image {
  width: 100%; 
  max-width: 100px; 
  height: auto; 
  margin-top: 200px; 
  align-self: center; 
  animation: bounce 2s infinite;
}

/* Tablet styles */
@media (max-width: 1024px) {
  .headline {
    padding: 100px 20px;
  }
  .headline h1 {
    font-size: 1,5em; 
  }
  .headline h2 {
    font-size: 1,5em; 
  }
  .profile-image {
    width: 90px; 
    height: 90px; 
  }
  .arrow-image {
    max-width: 80px; 
    margin-top: 50px; 
  }
}

/* Mobile styles */
@media (max-width: 480px) {
  .headline {
    padding: 50px 10px;
  }

  .headline h1,
  .headline h2 {
    font-size: 1.5em; 
    margin: 0;
  }

  .profile-container {
    flex-direction: column; 
    align-items: center; 
  }

  .profile-content {
    flex-direction: column; 
    align-items: center; 
    text-align: center; 
  }

  .profile-image {
    width: 90px; 
    height: 90px; 
    margin-bottom: 20px; 
  }

  .profile-description {
    font-size: 1em; 
    line-height: 1.6; 
    max-width: 100%; 
    margin: 0 10px; 
  }

  .arrow-image {
    width: 50px; 
    height: auto; 
    margin-top: 30px;
    margin-bottom: 50px;
  }
}





