.icon-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icon-button .link-button {
  width: 50px;
}

.icon-button > *:not(:last-child) {
  margin-right: 20px;
}

.github-icon {
  margin-top: 16px;
  transition: background-color 0.3s, color 0.3s;
}

.github-icon:hover {
  background-color: black;
  color: white;
}
.github-icon:hover img {
  filter: brightness(0) invert(1);
}
