.project-image ul {
    list-style: none;
    padding: 0;
}

.project-image img {
    max-width: 317px;
    align-self: stretch;
    border-bottom: 10px solid #0B24F5;
    border-left: 10px solid #0B24F5;
}