.intro-content {
    text-align: left;
    color: white;
    padding-left: 300px;
    width: 830px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 140px;
    margin-top: 20px;
}

.img-me {
    width: 20%;
    border-radius: 50%;
    margin: 20px;
}

.intro p {
    color: black;
    font-family: 'Hind', sans-serif;
}



/* Mobile */
@media (max-width: 375px) {
    .intro-content {
        width: 90%;
        padding-left: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: left;
        margin-left: 12px;
    }

    .img-me {
        width: 50%;
        margin-left: 80px;
    }

    .intro p {
        color: black;
        font-size: 12px;

    }

}

/* Tablet */
@media (min-width: 376px) and (max-width: 1024px) {
    .intro-content {
        width: 100%;
        padding-left: 0;
    }

    .img-me {
        width: 20%;
    }

    .intro p {
        color: black;
        font-size: 12px;
    }
}
