.introduction {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.introduction-box {
  max-width: 1044px;
  margin: 32px;
  display: grid;
  grid-template-columns: 164px auto;
  column-gap: 22px;
}

.introduction-box h1 {
  grid-column: 1 / span 2;
}

.introduction-box h2 {
  grid-column: 1 / span 2;
}

.introduction-text {
  align-self: center;
}

.arrow {
  animation: arrowJump 1.5s infinite alternate-reverse;
  display: block;
  position: absolute;
  bottom: 63px;
}

@keyframes arrowJump {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-30px);
  }
}

/* MEDIA QUERIES */

@media (max-width: 768px) {
  .introduction-box {
    display: flex;
    flex-direction: column;
    margin: 32px;
  }

  .introduction-box h1 {
    font-size: 32px;
  }

  .introduction-box h2 {
    font-size: 18px;
  }

  .introduction-box .profile-picture {
    grid-column: 1;
    margin-bottom: 32px;
  }

  .introduction-text {
    margin-top: 32px;
  }
}

@media (max-width: 480px) {
  .arrow {
    bottom: -20px;
  }
}

/* Media queries for phone : */
@media (max-width: 660px) {
}
