.lets-talk {
  display: flex;
  justify-content: center;
  height: 100vh;
  padding: 16px 32px;
}

.lets-talk-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 128px;
  width: 1044px;
  margin: auto;
}

.lets-talk-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 64px;
}

h1 {
  color: #0b24f5;
}

.contact-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.social-buttons-wrapper {
  display: flex;
  gap: 32px;
}

a {
  color: #d0d0d0;
  font-size: 32px;
  transition: all 0.5s;
}

a:hover {
  color: black;
}

@media (max-width: 1024px) {
  .lets-talk-box {
    gap: 64px;
  }
}

@media (max-width: 600px) {
  .contact-info h2 {
    font-size: 18px;
  }
}
