.project-links {
  display: flex;
  flex-direction: column;
}

.project-links .link-button {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.link-button .icon {
  width: 40px;
  height: 40px;
  /* margin-right: 4px; */
}

.link-button .button-text {
  font-family: Montserrat;
  font-weight: 600;
  font-size: 20px;
  color: black;
}

@media (min-width: 744px) {
  .project-links {
    display: flex;
    flex-direction: row;
  }
  .project-links a + a {
    margin-left: 32px;
  }
}
