.project-links {
  display: flex;
  flex-direction: column;
}

@media (min-width: 744px) {
  .project-links {
    display: flex;
    flex-direction: row;
  }
  .project-links a + a {
    margin-left: 32px;
  }
}
