.link-button {
  background: #fcf4eb;
  width: 200px;
  border: solid rgba(35, 21, 87, 0.7);
  border-radius: 30px;
  cursor: pointer;
  padding: 8px 0;
  height: 48px !important;
  margin-bottom: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center;
  text-decoration: none;
}

.link-button:hover {
  background: rgba(35, 21, 87, 0.7);
}

@media (min-width: 744px) {
  .link-button {
    display: flex;
    flex-direction: row;
  }
}
