.link-button {
  background: none; /* Remove background color */
  border: none; /* Remove borders */
  cursor: pointer;
  padding: 0; /* Remove padding if needed */
  display: inline; /* Display as inline to avoid the button dimensions */
}

.link-button img {
  display: block; /* Ensure the image takes up the full button space */
  width: 160px;
}
