.link-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 8px 0;

  height: 48px !important;
  margin-bottom: 8px;
}

.link-button img {
  display: block;
  border: solid rgba(35, 21, 87, 0.7);
  border-radius: 30px;
}

@media (min-width: 744px) {
  .link-button img {
    display: flex;
    flex-direction: row;
  }
}
