.medium-headline {
    color: #000;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.skill-sets-card h2 {
    color: white
}

#tech-hind-h2 {
    font-family: 'Hind', sans-serif;
}

#smaller-intro-h2 {
    font-size: 18px;
}

.techSkills-page-wrapper h2 {
    color: white
}

.code {
    background-color: #eb5577;
    color: white;
    padding: 2px;
}

.toolbox {
    background-color: #2483e0;
    color: white;
    padding: 2px;
}

.upcoming {
    background-color: #6db486;
    color: white;
    padding: 2px;
}

.more {
    background-color: #ffde30;
    color: #0b24f5;
    padding: 2px;
}

@media (min-width: 667px) and (max-width: 1024px) {
    .medium-headline {
        font-size: 24px;
        text-align: left;
    }

    #smaller-intro-h2 {
        font-size: 24px;
    }

    #tech-hind-h2 {
        text-align: center;
    }
}



@media (min-width: 1025px) {
    .medium-headline {
        font-size: 32px;
        text-align: left;
    }

    #smaller-intro-h2 {
        font-size: 32px;
    }

    #tech-hind-h2 {
        font-size: 32px;
    }
}