.bio-title,
.bio-description,
.tech-title,
.tech-description {
  grid-column: span 4;
  text-align: center;
}

.tech-title,
.bio-title {
  margin-bottom: 16px;
}

@media (min-width: 640px) {

  .bio-title,
  .bio-description,
  .tech-title,
  .tech-description {
    grid-column: span 8;
  }
}

@media (min-width: 1024px) {

  .bio-title,
  .bio-description,
  .tech-title,
  .tech-description {
    grid-column: span 12;
  }
}