.my-projects {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
  }
  
  .project-description {
    font-family: 'Hind', sans-serif;
    line-height: 35px;
    letter-spacing: 0em;
    text-align: left;
    color: black;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
    }
  .project-item {
    display: flex;
    margin: 20px; /* This will vertically center align items if they have different heights */
  }
  .project-thumbnail {
    width: 280px;
height: 280px;
flex-shrink: 0;
    height: auto;
    margin-bottom: 15px;
    border-radius: 5px;
    box-shadow: -10px 10px 0px 0px #0000FF; /* blue shadow */
    transition: 0.3s; /* smooth transition for hover effects, optional */
    margin-right: 20px;
  }
  .project-list {
    display: flex;
    flex-wrap: wrap; /* Allows the projects to wrap to the next line */
    width: 820px;
  height: 3,362px;
  padding: 0px 346px 124px 346px;
  }
  
  .classh2project {
    color: blue;
    font-family: 'Montserrat', sans-serif;
    font-size: 80px;
    font-weight: 700;
line-height: normal;
padding: 128px 346px 124px 346px;
height: 98px;
  }
  
  .project-name {
    color: black;
font-family: 'Montserrat', sans-serif;
font-size: 32px;
font-style: normal;
font-weight: 600;
line-height: normal;
}

  .project-techniques {
    color: #FFF;
    font: 'Montserrat', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    display: flex;
    gap: 8px; 
    flex-wrap: wrap;
    margin-bottom: 16px;
  }
  
  .technique-box {
    background-color: #000;
    color: #FFF;
    border: 1px solid #333;
    padding: 8px 12px;  /* Adjusted padding */
    border-radius: 4px;
    margin-right: 4px; 
    margin-bottom: 4px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);  /* Added box shadow */
  }


/* Tablets */
@media (min-width: 744px) and (max-width: 1279px) {
  .my-projects {
  
      padding: 80px 0;
  }

  .classh2project {
    color: #0B24F5;
font-family: 'Montserrat', sans-serif;
font-size: 80px;
font-style: normal;
font-weight: 700;
line-height: 97,52px; /* 117.857% */
padding: 128px 230px 124px 230px;
align-items: center;
height: 98px;
  }
  .project-name {
    color: #000;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

  .project-list {
      width: 90%;
      padding: 128px 230px 124px 230px;

  }

  .project-description {
    color: #000;
    font-family: 'Hind', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    align-self: stretch;
  }
  
  .project-item {
    flex-direction: row; /* Stack items vertically */
  }
  .project-thumbnail {
    width: 280px;
height: 280px;
flex-shrink: 0;
    height: auto;
    margin-bottom: 15px;
    border-radius: 5px;
    box-shadow: -10px 10px 0px 0px #0000FF; /* blue shadow */
    transition: 0.3s; /* smooth transition for hover effects, optional */
    margin-right: 20px;
  }
}


@media (min-width: 374px) and (max-width: 743px){
  .my-projects {
    width: 100%;
    padding: 40px 0;
  }

  .classh2project {
    color: #0B24F5;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 66px; /* 117.857% */
    align-self: stretch;
  }
  .project-name {
    color: #000;
font-family: 'Montserrat', sans-serif;
font-size: 24px;
font-style: normal;
font-weight: 600;
line-height: normal;
align-self: stretch;
}
  .project-thumbnail {
    height: 200px;
align-self: stretch;
  }

  .project-list {
    width: 100%;
  }

  .project-description {
    color: #000;
    font-family: 'Hind', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    align-self: stretch;
  }

  .project-item {
    flex-direction: column;
  }

  .project-name {
    color: black;
    width: 50%;
} 

.project-techniques {
  display: flex;
  gap: 8px; /* Adjust the gap as needed */
  overflow-x: auto; /* Allows horizontal scrolling if content overflows */
}

.technique-box {
  width: auto; /* Allows the box to grow with the content */
  padding: 8px 12px; /* Adjust padding as needed */
  background-color: #000;
  color: #FFF;
  border: 1px solid #333;
  border-radius: 4px;
  margin-right: 4px; 
  margin-bottom: 4px;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);  /* Added box shadow */
  color: #FFF;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.project-links {
  display: flex;
  flex-direction: column; /* Stack buttons vertically */
  align-items: left; /* Center the buttons */
  gap: 10px; /* Add space between the buttons */
}

/* Adjust the .btn-view and .btn-live styles if needed */
.btn-view,
.btn-live {
  /* Apply any specific mobile styles to the buttons here */
  width: auto; /* Or any specific width you prefer */
}
}