.my-projects {
    width: 100%;
    padding: 128px 0; /* Adjust the padding as needed */
    display: flex;
    flex-direction: column;
    align-items: center; /* This keeps your content centered horizontally */
    background-color: #FFFFFF;
  }
  
  .centered-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    background-color: white;
    height: auto;
  }
  p {
    font: Hind;
    font-size: 22px;
    font-weight: 400;
    line-height: 35px;
    letter-spacing: 0em;
    text-align: left;
    color: black;
    }
  .project-item {
    display: flex;
    align-items: center;
    margin: 20px; /* This will vertically center align items if they have different heights */
  }
  .project-thumbnail {
    width: 100%;
    max-width: 300px;
    height: auto;
    margin-bottom: 15px;
    border-radius: 5px;
    box-shadow: -10px 10px 0px 0px #0000FF; /* blue shadow */
    transition: 0.3s; /* smooth transition for hover effects, optional */
    margin-right: 20px;
  }
  .project-list {
    display: flex;
    flex-wrap: wrap; /* Allows the projects to wrap to the next line */
    justify-content: space-between; /* Evenly spaced projects */
    width: 80%; /* Adjust the width based on your design preference */
  }
  
  .classh2project {
    letter-spacing: 0em;
    color: blue;
    font: 'Montserrat', sans-serif;
    font-size: 80px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 128px;
  }
  
  
  .project-techniques {
    color: #FFF;
    font: 'Montserrat';
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    display: flex;
    gap: 8px; 
    flex-wrap: wrap;
    margin-bottom: 16px;
  }
  
  .technique-box {
    background-color: #000;
    color: #FFF;
    border: 1px solid #333;
    padding: 8px 12px;  /* Adjusted padding */
    border-radius: 4px;
    margin-right: 4px; 
    margin-bottom: 4px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);  /* Added box shadow */
  }
  