.my-projects {
    width: 100vw;
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
  }
  
  .project-description {
    font-family: 'Hind', sans-serif;
    line-height: 35px;
    letter-spacing: 0em;
    text-align: left;
    color: black;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
    }
  .project-item {
    display: flex;
    margin: 20px; /* This will vertically center align items if they have different heights */
  }
  .project-thumbnail {
    width: 280px;
height: 280px;
    margin-bottom: 15px;
    border-radius: 5px;
    box-shadow: -10px 10px 0px 0px #61a0af; /* #61a0af shadow */
    transition: 0.3s; /* smooth transition for hover effects, optional */
    margin-right: 20px;
  }
  .project-list {
    display: flex;
    flex-wrap: wrap; /* Allows the projects to wrap to the next line */
    width: 820px;
  height: 3,362px;
  padding: 0px 346px 124px 346px;
  }
  
  .classh2project {
    color: #61a0af;
    font-family: 'Montserrat', sans-serif;
    font-size: 80px;
    font-weight: 700;
line-height: normal;
padding: 128px 346px 124px 346px;
height: 98px;
  }
  
  .project-name {
    color: black;
font-family: 'Montserrat', sans-serif;
font-size: 32px;
font-style: normal;
font-weight: 600;
line-height: normal;
}

  .project-techniques {
    color: #FFF;
    font: 'Montserrat', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    display: flex;
    gap: 8px; 
    flex-wrap: wrap;
    margin-bottom: 16px;
  }
  
  .technique-box {
    background-color: #000;
    color: #FFF;
    border: 1px solid #333;
    padding: 8px 12px;  /* Adjusted padding */
    border-radius: 4px;
    margin-right: 4px; 
    margin-bottom: 4px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);  /* Added box shadow */
  }


  @media (min-width: 744px) and (max-width: 1279px) {
    .my-projects {
        width: 100vw;
    }

    .classh2project {
        color: #61a0af;
        font-family: 'Montserrat', sans-serif;
        font-size: 56px;
        font-weight: 700;
        line-height: 66px;
        padding: 128px 32px 64px 32px; /* Adjusted left padding to 16px */
        height: 98px;
        width: 522px;
        margin: 50px;
    }

    .project-name {
        color: #000;
        font-family: 'Montserrat', sans-serif;
        font-size: 24px;
        font-weight: 600;
        line-height: normal;
        display: flex;
      flex-wrap: wrap;  
      width: 321px;
height: 29px;

    }

    .project-list {
      display: flex;
      flex-wrap: wrap; 
      justify-content: center; /* Center items horizontally */
      width: 680px; /* Adjust width as needed */
      height: auto; /* Adjust height as needed */
  }
  .project-item {
    display: flex;
    justify-content: center; /* Center the thumbnail within the item */
    align-items: center; /* Align vertically */
    margin: 20px;
}
    .project-description {
        color: #000;
        font-family: 'Hind', sans-serif;
        font-size: 18px;
        font-weight: 400;
        line-height: 29px;
        text-align: left;
        width: 430px;
        height: 116px;
    }


    .project-thumbnail {
        width: 200px; /* Adjust width as needed */
        height: 280px; /* Adjust height as needed */
        flex-shrink: 0;
        box-shadow: -10px 10px 0px 0px #0000FF;
        transition: 0.3s;
    margin: 20px;
    }

    .project-techniques {
        font-size: 16px;
        font-weight: 600;
        line-height: 20px;
        text-align: left;
        width: 45px;
        height: 20px;
        display: flex;
        gap: 8px;
        flex-wrap: wrap;
        width: 430px;
        padding-bottom: 76px;
    }
}



@media (min-width: 375px) and (max-width: 743px){
  .my-projects {
    width: 100vw;
  }

  .classh2project {
    color: #61a0af;
    font-family: 'Montserrat', sans-serif;
    font-size: 56px;
    font-weight: 700;
    line-height: 66px;
    letter-spacing: 0em;
    text-align: center; /* Center the text within the h2 */
    width: 343px;
    height: 132px;
    padding: 128px 16px 128px 16px;
  }
  
  .project-name {
    color: #000;
font-family: 'Montserrat', sans-serif;
font-size: 24px;
font-style: normal;
font-weight: 600;
line-height: 29,26px;
letter-spacing: 0em;
padding: 0px 16px 0px 16px;
}
  .project-thumbnail {
    width: 343px;
    height: 200px;
    border-width: 0 0 10px 10px;
    margin-left: 70px;
    display: flex; /* Enable Flexbox */
    justify-content: center; /* Center content horizontally */
    align-items: center;
  }

  .project-list {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; /* Center items horizontally */
    width: 343px; /* Adjust width as needed */
    height: auto; /* Adjust height as needed */
    padding: 0px 16px 0px 16px;
}

  .project-description {
    color: #000;
    font-family: 'Hind', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
line-height: 29px;
letter-spacing: 0em;
text-align: left;
width: 343px;
padding: 0px 16px 0px 16px;
  }

  .project-item {
    flex-direction: column;
    align-items: center; /* Center items in a column */
    width: 343px;
  }

  .project-name {
    color: black;
    width: 343px;
    padding: 0px 16px 0px 16px;
} 

.project-techniques {
  display: flex;
  flex-wrap: wrap; /* Allows items to wrap onto the next line */
  gap: 8px; /* Adjust the gap to manage spacing between items */
  text-align: left;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0em;
  width: auto; /* Adjust width to accommodate content or set to 100% if it should fill its container */
  height: auto; /* Adjust height or set to auto to accommodate wrapped items */
  padding: 0px 16px 0px 16px;
}
}