.mywords {
    background-color: #FFECEA;
    padding: 70px 0;
}



.mywords-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* Center articles horizontally */
    align-items: center;
    /* Center articles vertically */
}

.mywords-child {
    flex-basis: calc(50% - 20px);
    margin-bottom: 20px;
    /* Reduce the margin to make them more compact */
}

.mywords-details {
    width: 400px;
    /* Adjust the width as needed */
}



.mywords h1 {
    color: #FF4575;
    font-family: Montserrat;
    font-size: 60px;
    text-align: left;
    margin-left: 100px;
    margin-bottom: 80px;
}


.articlesimg {
    width: 350px;
    border-bottom: 15px solid #FF4575;
    border-left: 15px solid #FF4575;
    margin-right: 20px;
    margin-bottom: 20px;
}

.mywords h2 {
    font-family: 'Montserrat', sans-serif;
    color: black;
    font-weight: 400;
    text-align: left;
}

.mywords p {
    text-align: left;
}


.date {
    display: inline-block;
    background-color: black;
    padding: 4px 8px;
    margin: 2px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    text-align: left;

}


.mywords-actions {
    display: inline-block;
    margin-top: 8px;
}