.MyWordsWrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* Two columns per row */
    gap: 20px;
    /* Adjust the gap as needed */
    justify-content: center;
    /* Center the items horizontally */
    color: rgb(189, 109, 109);
    margin-top: 10px;
    margin-bottom: 10px;
}

.MyWordsContainer {
    text-align: center;
    /* Center text within each grid item */
}

.MyWords-img {
    width: 100%;
    /* Ensure the image takes the full width of the grid item */
    border-bottom: 15px solid rgb(226, 9, 255);
    border-left: 15px solid rgb(204, 6, 230);
}