/* Tablet small */
@media (min-width: 391px) and (max-width: 744px) {
    .mywords {
        padding: 0px;
    }

    .mywords-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin: 0 auto;
        padding: 30px;
        padding-bottom: 60px;
    }

    .mywords-child {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
        margin: 0 auto;
    }

    .mywords-details {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-bottom: 30px;
        text-align: center;
    }


    .mywords h1 {
        font-size: 2.8em;
        margin-left: 12px;
        text-align: center;
        padding-top: 80px;

    }

    .articlesimg {
        width: 90%;
        height: auto;
        border-bottom: 10px solid #FF4575;
        border-left: 10px solid #FF4575;
    }

    .mywords h2 {
        font-size: 1.6em;
        text-align: left;
        width: 80%;
    }

    .mywords p {
        font-size: 1.2em;
        text-align: left;
        width: 80%;
    }

    .mywords-actions {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .date {
        width: 20%;
        font-size: 1em;
    }
}

/* Tablet */
@media (min-width: 745px) and (max-width: 1024px) {

    .mywords {
        padding: 0px;
    }

    .mywords-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin: 0 auto;
        padding: 30px;
        padding-bottom: 60px;
    }

    .mywords-child {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
        margin: 0 auto;
    }

    .mywords-details {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-bottom: 30px;
        text-align: center;
    }


    .mywords h1 {
        font-size: 2.8em;
        margin-left: 12px;
        text-align: center;
        padding-top: 80px;

    }

    .articlesimg {
        width: 90%;
        height: auto;
        border-bottom: 15px solid #FF4575;
        border-left: 15px solid #FF4575;
    }

    .mywords h2 {
        font-size: 1.6em;
        text-align: left;
        width: 80%;
    }

    .mywords p {
        font-size: 1.2em;
        text-align: left;
        width: 80%;
    }

    .mywords-actions {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .date {
        width: 20%;
        font-size: 1em;
    }
}

/* Mobile */
@media (max-width: 390px) {

    .mywords {
        padding: 0px;
    }


    .mywords-container {
        width: 100%;
        margin-left: 12px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        text-align: left;
    }

    .mywords-child {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-top: 20px;
    }

    .mywords-details {
        width: 90%;
        display: flex;
        flex-direction: column;
        margin-bottom: 40px;
        text-align: left;
    }

    .mywords h1 {
        font-size: 56px;
        margin-left: 12px;
        text-align: center;
        padding-top: 50px;
        margin-bottom: 20px;
    }

    .articlesimg {
        width: 100%;
        border-bottom: 10px solid #FF4575;
        border-left: 10px solid #FF4575;
    }

    .mywords h2 {
        font-size: 24px;
        text-align: left;
    }

    .mywords p {
        font-size: 18px;
        text-align: left;
    }

    .mywords-actions {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .date {
        width: 27%;
        font-size: 10px;
    }

}