/* Add this CSS for horizontal layout with two items per row */
.MyWords-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: black solid 3px; */

    /* Spacing between items */
}

.MyWords-item {
    border: 4px solid red;
}

/* Your other styles here */

.MyWords-item {
    width: calc(10% - 40px);
    /* Adjust the width and margin as needed */
    margin-bottom: 20px;
    /* Adjust the margin as needed */
    border: 5px solid green
}

@media (min-width:1024px) {
    .MyWords-container {
        display: grid;
        border: 3px solid orange;
    }

    .MyWords-item {
        border: 5px solid black;
        width: 100%;
    }

    .MyWordsMap {
        border: 5px solid pink;
    }

    .myword-header-wrapper {
        border: 5px solid darkcyan;
        display: flex;
        align-items: center;
        justify-content: center;
        align-content: center;

    }

    .myword-card-container {
        border: 5px solid blue;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}