.mywords {
    background-color: #FFECEA;
    padding: 70px 0;
}

.path>img {
    z-index: 1;
    position: relative;
    top: -11px;
}

.mywords-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 900px;
    margin-left: 200px;
}

.mywords-child {
    flex-basis: calc(50% - 20px);
    margin-bottom: 20px;
    display: flex;
    justify-content: space-around;
    column-gap: 50px;
}

.mywords-details {
    width: 400px;
    text-align: left;
}



.mywords h1 {
    color: #FF4575;
    font-family: Montserrat;
    font-size: 60px;
    text-align: left;
    margin-left: 100px;
    margin-bottom: 80px;
}


.articlesimg {
    width: 350px;
    height: 200px;
    border-bottom: 15px solid #FF4575;
    border-left: 15px solid #FF4575;
    margin-right: 20px;
    margin-bottom: 20px;
}

.mywords h2 {
    font-family: 'Montserrat', sans-serif;
    color: black;
    font-weight: 400;
    text-align: left;
}

.mywords p {
    text-align: left;
}


.date {
    display: inline-block;
    background-color: black;
    padding: 4px 8px;
    margin: 2px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    text-align: left;
}


.mywords-actions {
    display: inline-block;
    margin-top: 8px;
}