/* Add this CSS for horizontal layout with two items per row */
.MyWords-container {
    background-color: rgb(235, 212, 236);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.MyWords-img {
    border-left: 20px solid rgb(255, 0, 204);
    border-bottom: 20px solid rgb(255, 0, 204);
}

/* Your other styles here */

.MyWords-item {
    width: calc(10% - 40px);
    /* Adjust the width and margin as needed */
    margin-bottom: 20px;
    /* Adjust the margin as needed */

}

.project-tags span:nth-child(1),
.project-tags span:nth-child(2),
.project-tags span:nth-child(3),
.project-tags span:nth-child(4) {
    background-color: black;
    color: white;
    margin-right: 5px;
    width: auto;
    padding: 2px;
    font-size: 10px;

}

@media (min-width:1024px) {
    .MyWords-container {
        display: grid;
        border: 3px solid orange;
    }

    .MyWords-item {
        width: 100%;
    }

    .MyWordsMap {}


    .myword-header-wrapper {
        border-top: 20px solid rgb(255, 0, 204);
        background-color: rgb(235, 212, 236);
        color: rgb(255, 0, 195);
        display: flex;

    }

    .myword-card-container {
        border: 5px solid blue;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}