.mywords {
    background-color: #FFECEA;
    padding: 100px 0;
}


.mywords-child {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-basis: calc(50% - 20px);
    /* 50% width with some spacing */
    margin-bottom: 20px;
}

.mywords h1 {
    color: #FF4575;
    font-family: Montserrat;
    font-size: 60px;
    text-align: left;
    padding-top: 40px;
    margin-left: 100px;
}


.articlesimg {
    width: 350px;
    border-bottom: 15px solid #FF4575;
    border-left: 15px solid #FF4575;
    margin-right: 20px;
    margin-bottom: 20px;
}

.mywords h2 {
    font-family: 'Montserrat', sans-serif;
    color: black;
    font-weight: 400;
}


.date {
    background-color: black;
    padding: 4px 8px;
    margin: 2px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

.mywords-details {
    display: flex;
    align-items: flex-start;
    /* Align items at the top */
    margin-bottom: 20px;
}

.text-details {
    flex: 1;
    width: 500px;
}

.mywords-actions {
    margin-top: 8px;
}