/* css styles for Navbar.jsx */

.navbar {
  /* display: flex; */
  background-color: white;
  /* justify-content: space-between;
  align-items: center; */
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.1);
  z-index: 3;
  width: 100%;
}

.logo {
  padding: 0.5rem;
  display: block;
  float: left;
  width: 45px;
  object-fit: contain;
}

.menu {
  list-style: none;
  display: flex;
  gap: 1rem;
  padding: 0;
  margin: 0;
  /* position: absolute;
  top: 0;
  right: -250px;
  width: 250px;
  transition: right 0.3 ease; */
  background: #e7dede;
  overflow: hidden;
  max-height: 0;
  /* transition: max-height 0.5s ease-out; */
}

.menu > * {
  place-content: center;
  padding: 20px 20px;
}

.navItem {
  display: block;
  color: black;
  font-size: 16px;
  text-decoration: none;

  &:hover {
    text-decoration: underline wavy #ec930c 3px;
    text-decoration-skip-ink: none;
  }
}

.language {
  display: flex;
  align-items: center;
  gap: 5px;
}

/*hamburger menu*/

.menu {
  clear: both;
  max-height: 0;
  transition: max-height 0.2s ease-out;
}

.toggle {
  display: none;
}

.hamburger {
  display: block;
  cursor: pointer;
  padding: 15px;
  z-index: 2;
  user-select: none;
  float: right;
  position: relative;
  top: 5px;
}

.hamburger span {
  display: block;
  width: 23px;
  height: 3px;
  background: #333;
  margin-bottom: 5px;
  transition: background 0.2s ease-out;
}
.toggle:checked + .hamburger > span:nth-child(1) {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle:checked + .hamburger > span:nth-child(2) {
  opacity: 0;
}

.toggle > span {
  transition: all 0.2s ease-out;
}
.toggle:checked + .hamburger > span:nth-child(3) {
  transform: rotate(45deg) translate(-5px, -6px);
}

.toggle:checked ~ .menu {
  max-height: max-content;
  display: block;
}

@media screen and (min-width: 768px) {
  .navbar {
    display: flex;
    justify-content: space-between;
  }
  .hamburger {
    display: none;
  }
  .menu {
    max-height: 60px;

    width: fit-content;
    display: inline-flex;
    background-color: inherit;
    gap: 2rem;
    margin-right: 10px;
  }
  .menu > * {
    padding: 0;
  }
}
