/* css styles for Navbar.jsx */

.navbar {
  display: flex;
  background-color: white;
  justify-content: space-between;
  padding: 0 1rem;
}

.logo {
  width: 45px;
  object-fit: contain;
}

.navList {
  list-style: none;
  display: flex;
  gap: 1rem;
  padding: 0;
}

.navItem {
  color: black;
  font-size: 16px;
}
