.flex-container {
  display: flex;
}

.profile-img {
  background-image: url("/src/assets/profile.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 164px;
  height: 164px;
  border-radius: 50%; /* Use 50% for a perfect circle */
  overflow: hidden; /* Ensures the image is clipped to the border-radius */
  flex-shrink: 0; /* Prevents the circular frame from shrinking within the flex container */
}

/* Additional styles for demonstration purposes */
.container-with-flex {
  margin: 20px;
}
