.profile-img {
  background-image: url("/src/assets/profile.jpg");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  display: inline-block;
  width: 164px;
  height: 164px;
  border-radius: 50%; /* Use 50% for a perfect circle */
  overflow: hidden; /* Ensures the image is clipped to the border-radius */
}
