.project-card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mockup-image {
  width: 100%;
  height: auto;
  object-fit: cover;
  margin-bottom: 24px;
  max-width: 100%;
}

.project-name {
  font-family: "Montserrat";
  font-size: 24px;
  padding: 0 0 16px 0;
  font-weight: 600;
}

.project-description {
  font-family: "Hind";
  font-size: 18px;
  font-weight: 400px;
  padding: 0 0 16px 0;
}

.project-tags-container {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 4px;
}

.project-tags-container p {
  font-family: "Montserrat";
  font-size: 16px;
  font-weight: 600px;
  background-color: black;
  border: 0;
  color: white;
  padding: 2px 6px;
}

.button-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-top: 24px;
  margin-bottom: 64px;
  gap: 16px;
}

.button-container button {
  display: inline-flex;
  align-items: center;
  align-self: flex-start;
  background-color: #f5f5f5;
  border: none;
  border-radius: 40px;
  font-size: 20px;
  height: 40px;
  width: auto;
  padding-right: 16px;
  gap: 7px;
}

.button-container button:hover {
  background-color: #a6bd9d;
  color: white;
}

.button-container button:hover img {
  filter: brightness(0) invert(1);
}

/* Media Queries for tablet*/
@media screen and (min-width: 745px) {
  .mockup-image {
    height: 280px;
    width: 200px;
    margin-bottom: 0px;
    object-fit: cover;
  }

  .project-card-container {
    flex-direction: row;
    align-items: flex-start;
    max-width: 650px;
    margin-bottom: 64px;
    gap: 20px;
  }

  .button-container {
    flex-direction: row;
  }
}

/* Media Queries for desktop */
@media screen and (min-width: 1281px) {
  .mockup-image {
    height: 280px;
    width: 408px;
  }

  .project-card-container {
    max-width: 950px;
    margin-bottom: 128px;
  }
  .project-name {
    font-size: 32px;
  }
  .button-container {
    margin-bottom: 0;
  }
}
