/* CSS Style for Projects.jsx */
.section {
  margin: 0 auto;
  /* max-width: 1335px; */
  /* background-color: #3d4b9c; */
  /* background: url(../assets/background-3.jpg);
  background-size: cover;
  background-repeat: no-repeat; */
  /* background: rgb(238, 174, 202);
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  ); */
  /* background-color: #fff6d2; */
  padding: 10rem 0;
  clip-path: polygon(
    0 0,
    calc(50% - 4.14px - 50px) 0,
    50% calc(50px + 4.14px),
    calc(50% + 4.14px + 50px) 0,
    100% 0,
    100% 100%,
    0 100%
  );
  margin-top: -40px;
  background-color: #b4d4ee;
  /* background-color: #8696ac; */
  /* border-radius: 20px; */
  /* height: 900px; */
  /* --bottom: radial-gradient(calc(10px + 50px) at 50% -10px, #0000 98%, #000);
  -webkit-mask: var(--bottom);
  mask: var(--bottom);
  margin-top: -40px; */

  /* clip-path: polygon(0 0, 100% 50px, 100% 100%, 0 100%);
  margin-top: -50px; */
  /* --mask: radial-gradient(86.02px at 50% 120px, #000 99%, #0000 101%)
      calc(50% - 100px) 0/200px 100%,
    radial-gradient(86.02px at 50% -70px, #0000 99%, #000 101%) 50% 50px/200px
      100% repeat-x;
  -webkit-mask: var(--mask);
  mask: var(--mask); */
  /* border-radius: 400px 400px 0px 0px;
  -webkit-border-radius: 400px 400px 0px 0px;
  -moz-border-radius: 200px 200px 0px 0px; */
  /* --mask: radial-gradient(78.1px at 50% 110px, #000 99%, #0000 101%)
      calc(50% - 100px) 0/200px 51% repeat-x,
    radial-gradient(78.1px at 50% -60px, #0000 99%, #000 101%) 50% 50px/200px
      calc(51% - 50px) repeat-x,
    radial-gradient(78.1px at 50% calc(100% - 110px), #000 99%, #0000 101%) 50%
      100%/200px 51% repeat-x,
    radial-gradient(78.1px at 50% calc(100% + 60px), #0000 99%, #000 101%)
      calc(50% - 100px) calc(100% - 50px) / 200px calc(51% - 50px) repeat-x;
  -webkit-mask: var(--mask);
  mask: var(--mask); */
}

.section:target h2 {
  text-decoration: underline #ffdc58 20px;
  text-decoration-skip-ink: none;
  text-underline-offset: -10px;
}

.descr {
  text-align: center;
  margin-bottom: 2rem;
}
.title,
.subtitle {
  /* color: white; */

  margin: 0;
}

.subtitle {
  font-size: 20px;
}
.container {
  flex-flow: row wrap;
  justify-content: center;
  display: flex;
  gap: 64px;
  padding: 0 2rem;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .container {
    gap: auto;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1281px) {
  .container {
    gap: 1.8rem;
  }
}
