.project-card-container {
  max-width: 320px;
  background-color: #ffffff;
  height: 100%;
  border: 1px solid green;
  margin: 0 auto; /* This will center the element horizontally */
  display: flex;
  flex-direction: column;
  justify-content: center; /* This will center the content vertically */
}
