.project-card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    padding: 16px;
}

.project-card h3, .project-card p {
    padding: 0;
    margin: 0;
}

.project-card p {
    text-align: left;
}