.square {
  border-bottom: 20px solid #0b24f5;
  border-left: 20px solid #0b24f5;
  width: 18em;
  height: 18em;
}
.repo-name {
  font-size: 12px;
  color: black;
}

.project-container {
  display: flex;
  margin-bottom: 50px;
}

.project-container h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 2em;
  margin-top: 0;
}

.description {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 0;
}

.tag-container {
  display: flex;
  gap: 0.5em;
  margin-bottom: 3em;
}
.tag {
  background: #000;
  color: white;
  text-align: left;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  padding: 2px 6px;
}

.btn-container {
  display: flex;
  gap: 1em;
}

.btn-live,
.btn-github {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  justify-content: center;
  width: 13em;
  padding: 0.5em 0 0.5em 0;
  border: none;
  border-radius: 40px;
  background: #f5f5f5;
  cursor: pointer;
}

.btn-live a,
.btn-github a {
  text-decoration: none;
  margin-left: 1em;
}

.project-content {
  margin-left: 20px;
}
