/* CSS style for ProjectCard.jsx */
.container {
  width: 300px;
  /* margin: 20px; */
  background: #ffffff;
  box-shadow: 2px 2px 100px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
  /* width: 100%; */
  /* flex-basis: 80%; */
}

.imgContainer {
  width: 300px;
  height: calc(300px * 3 / 4);
  overflow: hidden;
  border-radius: 20px 20px 0 0;
  margin-bottom: 12px;
}

.imgContainer > * {
  width: 300px;
  height: calc(300px * 7 / 10);
}

.name {
  font-size: 24px;
  margin-bottom: 16px;
}

.description {
  padding: 0 20px;
  word-wrap: break-word;
  font-size: 18px;
  margin-bottom: 16px;
}
.tags {
  margin-bottom: 2rem;
}

.tag {
  margin: 5px;
  background-color: black;
  color: white;
  padding: 2px 6px;
  font-size: 16px;
}
.reference {
  width: inherit;
  display: flex;
  justify-content: space-around;
  position: relative;
  bottom: 0;
  font-size: 20px;
}

.refItem {
  display: flex;
  place-items: center;
  gap: 8px;
}

@media screen and (min-width: 601px) {
  .container {
    width: 400px;
  }
  .imgContainer {
    width: 400px;
    height: 300px;
  }

  .imgContainer > * {
    width: 400px;
    height: 280px;
  }
  .description {
    height: 200px;
  }
}
