.img {
  width: 164px;
  height: 164px;
}
.repo-name {
  font-size: 12px;
  color: black;
}

.container {
  display: flex;
  margin-bottom: 50px;
}

.description {
  display: flex;
  flex-wrap: wrap;
}

.tag-container {
  display: flex;
}
.tag {
  background: #000;
  color: white;
  text-align: left;
  border: red solid 1px;
  padding: 2px 6px;
  margin-left: 10px;
}

.btn-container {
  display: flex;
  gap: 10px;
}

.btn-live,
.btn-github {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 12em;
  border: none;
  border-radius: 40px;
  background: #f5f5f5;
  cursor: pointer;
}

.btn-live a,
.btn-github a {
  text-decoration: none;
  margin-right: 10px;
}

.project-content {
  margin-left: 20px;
}
