.project-card {
    display: flex; 
 }
 .project-card-img {
     width: 30%; 
 }
 .project-card-info {
     text-align: left;
 }
 .project-card-header{
     font-family: "Montserrat";
 }
 .project-card-tags {
     display: flex;
 }