.repositories-container {
  padding: 128px 16px;
}

.repositories-container h1 {
  color: #a6bd9d;
  font-size: 56px;
  padding-bottom: 64px;
}

/* Media Queries for tablet*/
@media screen and (min-width: 745px) {
  .repositories-container {
    padding: 128px 32px;
    max-width: 745px; /* Adjust the max-width as needed */
    margin: 0 auto;
  }
  .repositories-container h1 {
    text-align: left;
  }
}
