/* CSS Style for Projects.jsx */
.section {
  margin: 3rem auto;
  max-width: 1335px;
}
.section:target h2 {
  text-decoration: underline #ffdc58 20px;
  text-decoration-skip-ink: none;
  text-underline-offset: -10px;
}

.descr {
  text-align: center;
  margin-bottom: 2rem;
}
.title,
.subtitle {
  margin: 0;
}
.container {
  flex-flow: row wrap;
  justify-content: center;
  display: flex;
  gap: 3rem;
  padding: 0 1.5rem;
}

@media screen and (min-width: 768px) {
  .container {
    gap: 2rem;
  }
}
