.projects {
    width: 100%;
    margin-bottom: 70px;
}

.project-child {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
}

.projects h1 {
    color: #0B24F5;
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    margin-top: 80px;
    margin-bottom: 80px;
}

.projectimg {
    width: 300px;
    border-bottom: 20px solid #0025FF;
    border-left: 20px solid #0025FF;
    margin-right: 20px;
    margin-bottom: 20px;
}

.projects h2 {
    font-family: 'Montserrat', sans-serif;
    color: black;
    font-weight: 600;
}

.projects p {
    font-family: 'Hind', sans-serif;
    color: black;
}

.tags {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
}

.tag {
    background-color: black;
    padding: 4px 8px;
    margin: 2px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

.project-details {
    display: flex;
    align-items: flex-start;
    /* Align items at the top */
    margin-bottom: 20px;
}

.text-details {
    flex: 1;
    width: 500px;
}

.project-actions {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 8px;
    gap: 15px;
}

/* 

.tags-and-buttons {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

/* Mobile */
@media (max-width: 375px) {

    .project-child {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: left;
    }

    .project-details {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-bottom: 40px;
        text-align: left;
    }

    .projectimg {
        width: 90%;
        margin: 0 auto;
        border-bottom: 10px solid #0025FF;
        border-left: 10px solid #0025FF;
        margin-bottom: 20px;
    }

    .projects h1 {
        font-size: 56px;
    }

    .projects h2 {
        font-size: 24px;
        margin-left: 12px;
        margin-bottom: 10px;
        text-align: left;
    }

    .projects p {
        font-size: 18px;
        width: 70%;
        margin-left: 12px;
        text-align: left;
    }

    .text-details {
        display: flex;
        flex-direction: column;
        text-align: left;
        margin: 0 auto;
    }

    .project-actions {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        margin-left: 12px;
        margin-bottom: 20px;
    }

    .tags {
        font-size: 12px;
        margin-top: 20px;
        margin-bottom: 20px;
        margin-left: 12px;
    }

}

/* Tablet */
@media (min-width: 376px) and (max-width: 1024px) {
    .projectimg {
        width: 200px;
        /* Adjust image width for tablets */
    }

    .projects h1 {
        font-size: 40px;
        /* Adjust the font size for tablets */
        margin: 60px 0;
        /* Adjust margins as needed */
    }

    .text-details {
        width: 70%;
        /* Adjust text details width for tablets */
    }
}
