.project-wrapper {
    display: flex; 
    flex-direction: column;
}

.project-card-img {
    width: 100%; 
   
}

.project-card-header{
    font-size: 24px;
    font-family: "Montserrat";
}

.project-card-tags {
    display: flex;
}

.project-card-buttons {
    display: flex; 
    flex-direction: column;
  
 }

/*FOR DESKTOP AND TABLET*/
/* .project-wrapper {
    display: flex; 
    flex-direction: column;
}

.project-card {
    display: flex; 
}

 .project-card-img {
     width: 30%; 
    
 }
 .project-card-info {
     text-align: left;
 }
 .project-card-header{
     font-family: "Montserrat";
 }
 .project-card-tags {
     display: flex;
 }

 .project-card-buttons {
    display: flex; 
  
 } */