.tag {
  background-color: black;
  color: white;
  display: inline-block;
  padding: 2px 4px;
  margin: 8px 4px;
  font-family: Montserrat;
  font-weight: 600;
}

.project-card {
  padding-bottom: 64px;
  margin-left: 16px;
  margin-right: 16px;
}

@media (min-width: 744px) {
  .project-card {
    margin-left: 32px;
    display: flex;
    flex-direction: row;
    margin-left: 32px;
    margin-right: 32px;
  }

  .project-card-info {
    display: flex;
    flex-direction: column;
    margin-left: 37px;
  }
  .project-card-info h2 {
    margin-top: 0;
  }
  .project-button {
    display: flex;
    flex-direction: row;
  }
}

@media (min-width: 1280px) {
  .project-card {
    width: 820px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 230px;
    margin-right: 230px;
  }
}

@media (min-width: 1512px) {
  .project-card {
    margin-left: 230px;
    margin-right: 230px;
  }
}
