.projects{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  gap: 60px;
  justify-content: center;
  padding: 68px 20px;
}

.titleFeature{
  color: #0B24F5;
  margin: 0;
  font-size: 56px;
  font-weight: 700;
  line-height: 66px;
  text-align: center;
  max-width: 343px;
}

/* For Tablet Device */
@media (min-width:667px) and (max-width:1024px) {
  .projects{
    gap: 64px;
    padding: 128px 16px;
    max-width: 680px;
  }

  .titleFeature{
    font-size: 56px;
    line-height: 66px;
    text-align: center;
  }
}

/* For laptop and pc */
@media (min-width: 1024px) {
  .projects{
    max-width: 1600px;
    padding: 128px 234px;
    gap: 128px;
    align-items: center;
  }

  .titleFeature{
    font-size: 80px;
    line-height: 98px;
  }
}