.project-card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    width: 100%;
}

.project-description {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    width: 100%;
}

.project-description h2, .project-description p {
    padding: 0;
    margin: 0;
    text-align: left;
}

.project-description h2 {
    font-size: 24px;
    font-family: var(--heading-font);
    font-weight: 600;
}

.project-description p {
    font-size: 18px;
    font-family: var(--paragraph-font);
    font-weight: 400;
}

/********* MEDIA QUERIES *********/
/********* TABLETS *********/
@media (min-width: 376px) {
    .project-card {
        flex-direction: row;
    }
}

/********* DESKTOP max-width 1280px *********/
@media (min-width: 745px) {
    .project-description h2 {
        font-size: 32px;
    }
}
