.repositories-container {
  padding: 128px 16px;
}

.repositories-container h1 {
  color: #a6bd9d;
  font-size: 56px;
  padding-bottom: 64px;
}

/* Media Queries for tablet*/
@media screen and (min-width: 745px) {
  .repositories-container {
    padding: 128px 32px;
    max-width: 745px;
    margin: 0 auto;
  }
  .repositories-container h1 {
    text-align: left;
  }
}

/* Media Queries for desktop */
@media screen and (min-width: 1281px) {
  .repositories-container {
    padding: 128px 161px 124px 161px;
    max-width: 1281px;
  }

  .repositories-container h1 {
    font-size: 80px;
  }
}

/* Media Queries for extra large screens */
@media screen and (min-width: 1513px) {
  .repositories-container {
    padding: 128px 234px 124px 234px;
  }
}
