.projectsContainer {
  display: flex;
  flex-direction: column;
  margin-top: 128px;
}

.project{
  width: 1044px;
  height: 280px;
  display: flex;
  flex-direction: row;
  gap: 12px;
  margin-bottom: 128px;
}

.projectCover{
  flex-shrink: 0;
  width: 388px;
  height: 260px;
  border-bottom: 20px solid #0B24F5;
  border-left: 20px solid #0B24F5;
  object-fit: cover;
}

.projectDetail{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: start;
}

.projectInfo{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: start;
  gap: 16px;
}

.projectTitle{
  font-size: 32px;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 0;
}

.projectIntro{
  font-family: "Hind";
  font-size: 18px;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 0;
}

.techContainer{
  display: inline-flex;
  height: 28px;
  gap: 4px;
}

.technic{
  background-color: black;
  color: white;
  height: 24px;
  padding: 2px 6px;
  font-size: 16px;
  font-weight: 600;
}

.externalLink{
  display: inline-flex;
  height: 48px;
  gap: 32px;
  margin-top: auto;
}

button{
  height: 48px;
  border: none;
  border-radius: 40px;
  background-color: #F5F5F5;
  cursor: pointer;
  font-size: 20px;
  font-weight: 600;
  display: inline-flex;
  gap: 7px;
  padding-right: 16px;
  align-items: center;  
}

.live:hover{
  background-color: #0B24F5;
}

.live:hover img,
.live:hover a,
.viewCodes:hover img,
.viewCodes:hover a{
  filter: invert(1);
}

.viewCodes:hover{
  background-color: #EB5577;
}

a{
  text-decoration: none;
  color: black;
}


/* For Tablet Device */
@media (min-width:667px) and (max-width:1024px) {
  .projectsContainer {
    margin-top: 64px;
  }

  .project{
    width: 680px;
    gap: 37px;
  }
  
  .projectCover{
    width: 200px;
    height: 270px;
    border-bottom: 10px solid #0B24F5;
    border-left: 10px solid #0B24F5;
  }

  .projectTitle{
    font-size: 24px;
  }

  button{
    font-size: 18px;
    font-weight: 500;
  }
}

/* For Mobile Device */
@media (max-width: 667px) {
  .project{
    width: 333px;
    height: 590px;
    flex-direction: column;
    gap: 24px;
    margin-bottom: 64px;
  }
  
  .projectCover{
    width: 100%;
    height: 190px;
    border-bottom: 10px solid #0B24F5;
    border-left: 10px solid #0B24F5;
  }
  
  .projectInfo{
    gap: 16px;
  }

  .projectDetail{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: start;
    width: 100%;
    gap: 24px;
  }
  
  .projectTitle{
    font-size: 24px;
  }
  
  .externalLink{
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  button{
    width: fit-content; 
  }

}



