.projectsContainer {
  display: flex;
  flex-direction: column;
  margin-top: 128px;
}

.project{
  width: 1044px;
  height: 280px;
  display: flex;
  flex-direction: row;
  gap: 12px;
  margin-bottom: 128px;
}

.projectCover{
  flex-shrink: 0;
  width: 388px;
  height: 260px;
  border-bottom: 20px solid #0B24F5;
  border-left: 20px solid #0B24F5;
  object-fit: cover;
}

.projectDetail{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: start;
}

.projectTitle{
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 16px;
  margin-top: 0;
}

.projectIntro{
  font-family: "Hind";
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 16px;
  margin-top: 0;
}

.techContainer{
  display: inline-flex;
  height: 24px;
  gap: 4px;
}

.technich{
  background-color: black;
  color: white;
  height: 24px;
  padding: 2px 6px;
  font-size: 16px;
  font-weight: 600;
}

.externalLink{
  display: inline-flex;
  height: 48px;
  gap: 32px;
  margin-top: auto;
}

button{
  height: 48px;
  border: none;
  border-radius: 40px;
  background-color: #F5F5F5;
  cursor: pointer;
}
