.projects {
    width: 100%;
    margin-bottom: 70px;
}

.project-child {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
}

.projects h1 {
    color: #0B24F5;
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    margin-top: 70px;
}

.projectimg {
    width: 300px;
    border-bottom: 20px solid #0025FF;
    border-left: 20px solid #0025FF;
    margin-right: 20px;
    margin-bottom: 20px;
}

.projects h2 {
    font-family: 'Montserrat', sans-serif;
    color: black;
    font-weight: 400;
}

.tags {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
}

.tag {
    background-color: black;
    padding: 4px 8px;
    margin: 2px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

.project-details {
    display: flex;
    align-items: flex-start;
    /* Align items at the top */
    margin-bottom: 20px;
}

.text-details {
    flex: 1;
    width: 500px;
}

.project-actions {
    display: flex;
    flex-direction: row;
    /* Stack buttons vertically */
    align-items: center;
    /* Align buttons with the top of the image */
    margin-top: 8px;
    /* Adjust the margin for spacing between tags and buttons */
    gap: 15px;
}

.tags-and-buttons {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}