.skills {
    background-color: #0B24F5;
}

.skills-child {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.skills h1 {
    color: white;
    margin: 0px;
    padding: 100px;
    font-size: 60px;
    font-family: 'Montserrat', sans-serif;
}

.skills-content {
    display: flex;
    justify-content: center;
}

.skills-child {
    text-align: center;
    margin: 50px;
}

h2 {
    color: #FFF;
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
    font-size: 27px;
}

.code,
.toolbox,
.upcoming,
.more {
    text-align: left;
}

.code h2 {
    background: #EB5577;
    display: inline-block;
}

.toolbox h2 {
    background: #2483E0;
    display: inline-block;
}

.upcoming h2 {
    background: #6DB486;
    display: inline-block;
}

.more h2 {
    background: #FFDE30;
    display: inline-block;
}

.skills p {
    color: #FFF;
    font-family: 'Hind', sans-serif;
    text-align: left;
    margin-bottom: 80px;
}

/* Mobile */
@media (max-width: 390px) {

    .skills-content {
        display: flex;
        flex-flow: column;
        align-items: center;
    }

    .skills-child {
        width: 80px;
        margin-bottom: 30px;
    }

    .skills h1 {
        font-size: 56px;
        padding-bottom: 20px;
    }

    .code,
    .toolbox,
    .upcoming,
    .more {
        text-align: center;
    }

    h2 {
        font-size: 24px;
        text-align: center;
    }

    .skills p {
        margin-bottom: 4px;
        text-align: center;
    }
}

/* Tablet small */
@media (min-width: 391px) and (max-width: 744px) {
    .skills-content {
        display: flex;
        flex-flow: column;
        align-items: center;
    }

    .skills-child {
        width: 100%;
        margin-bottom: 20px;
    }

    .skills h1 {
        font-size: 2.2em;
        padding-bottom: 10px;
    }

    .code,
    .toolbox,
    .upcoming,
    .more {
        text-align: center;
    }

    h2 {
        font-size: 1.8em;
        text-align: center;
    }

    .skills p {
        margin-bottom: 4px;
        text-align: center;
    }
}


/* Tablet */
@media (min-width: 745px) and (max-width: 1024px) {

    .skills-child {
        width: 100%;
    }

    .skills h1 {
        font-size: 30px;
        /* Further adjust font size for tablets */
    }

    h2 {
        font-size: 18px;
        /* Further adjust font size for tablets */
    }

    .skills p {
        margin-bottom: 10px;
        /* Further reduce the margin for tablets */
    }
}