.skills {
    background-color: #0B24F5;
}

.skills-child {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.skills h1 {
    color: white;
    margin: 0px;
    padding: 100px;
    font-size: 60px;
    font-family: 'Montserrat', sans-serif;
}

.skills-content {
    display: flex;
    justify-content: center;

}

.skills-child {
    text-align: center;
    margin: 50px;
}

h2 {
    color: #FFF;
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
    text-align: left;
}

.code h2 {
    background: #EB5577;
    display: inline-block;
}

.toolbox h2 {
    background: #2483E0;
    display: inline-block;
}

.upcoming h2 {
    background: #6DB486;
    display: inline-block;
}

.more h2 {
    background: #FFDE30;
    display: inline-block;
}

.skills p {
    color: #FFF;
    font-family: 'Hind', sans-serif;
    text-align: left;
    margin-bottom: 80px;
}