
.skills {
  width: 100vw;
  background-color: #0B24F5;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skills-columns {
  display: flex;
  gap: 64px;
  width: 836px;; /* Adjust width as per requirement */
  margin: 0 auto; /* Center the container */
  justify-content: center; /* Center items horizontally in the container */
  padding: 128px 338px; /* Adjusted padding format */
}
  
  .skills-header {
    color: #FFF;
    font: 'Montserrat', sans-serif;
    font-size: 80px;
    font-weight: 700;
    text-align: center;
    line-height: normal;
  }

  
  .skills-column {
    display: flex;
    flex-direction: column;
    gap: 16px;
    color: white;
    flex: 1;
  }
  
  .skills-column ul {
    list-style: none;
    padding-left: 0;
  }
  
  .skills-column ul li {
    margin-bottom: 8px;
  }
  
  .code-header {
    background-color: #EB5577;
    padding: 10px;
    width: 86px;
   height: 39px;
  }
  
  .toolbox-header {
    background-color: #6DB486;
    padding: 10px;
    width: 86px;
    height: 39px;
  }
  
  .more-header {
    background-color: #2483E0;
    padding: 10px;
    width: 86px;
    height: 39px;
  }
  
  .skills-item {
    color: #FFF;
    font: 'Hind', sans-serif;
    font-size: 18px;
    font-style: normal;
font-weight: 400;
line-height: normal;
  }
  

  @media (min-width: 744px) and (max-width: 1279px) {
    .skills {
        width: 100vw;
    }

    .skills-header {
      color: #FFF;
      text-align: center;
      font-family: 'Montserrat', sans-serif;
      font-size: 56px;
      font-weight: 700;
      line-height: 68px; /* Adjusted for clarity */
      letter-spacing: 0em;
      width: 153px;
      padding-top: 128px; /* Corrected the syntax error */
  }

    .skills-columns {
        display: grid;
        grid-template-columns: 1fr 1fr; /* Two columns of equal width */
        grid-template-rows: auto auto; /* Two rows, height adjusts to content */
        gap:64px;
        width: 80%;
        padding: 128px 186px 148px 186px;
    }

    /* Adjust the margins and padding for items for a tighter layout */
    .skills-item {
        margin-bottom: 4px;
    }

    .skills-column:nth-child(3) {
        grid-column: 1 / span 2; /* Make the third column span two columns */
    }
}
  
  
  
 /* Mobile */
 @media (min-width: 375px) and (max-width: 743px){
  .skills {
    width: 100vw;
  }

  .skills-header {
    color: #FFF;
    font-family: 'Montserrat', sans-serif;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 97px;
    width: 153px;
height: 68px;
padding-top: 128px;

  }

  .skills-columns {
    display: flex; /* Enable Flexbox */
  flex-direction: column; /* Stack children vertically */
  justify-content: center; /* Center children vertically */
  align-items: center; /* Center children horizontally */
  text-align: center; /* Center text horizontally */
    width: 140px; /* Full width for mobile */
    gap: 32px;
    padding: 64px 99px 64px 103px; /* Adjusted for symmetry */
    font-family: 'Hind', sans-serif;
font-size: 18px;
font-weight: 400;
line-height: 29px;
letter-spacing: 0em;
  }
 

  .code-header {
    display: flex; /* Enable Flexbox */
  justify-content: center; /* Center children horizontally */
  align-items: center; 
    background-color: #EB5577;
    font-family: 'Montserrat', sans-serif;
font-size: 24px;
font-weight: 600;
line-height: 29px;
letter-spacing: 0em;
width: 103px;
height: auto;
  }
  
  .toolbox-header {
    display: flex; /* Enable Flexbox */
  justify-content: center; /* Center children horizontally */
  align-items: center; 
    background-color: #6DB486;
    font-family: 'Montserrat', sans-serif;
font-size: 24px;
font-weight: 600;
line-height: 29px;
letter-spacing: 0em;
width: 103px;
height: auto;
  }
  
  .more-header {
    display: flex; /* Enable Flexbox */
    justify-content: center; /* Center children horizontally */
    align-items: center; 
    background-color: #2483E0;
    font-family: 'Montserrat', sans-serif;
font-size: 24px;
font-weight: 600;
line-height: 29px;
letter-spacing: 0em;
width: 103px;
height: auto;
margin-left: 10px; 
  }
 }