.skill-section {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	margin: 0;
	background-color: #2148f5;
	height: 800px;
	width: 100%;
}

.skill-section h1 {
	color: whitesmoke;
	margin-top: 10%;
	margin-bottom: 10%;
}

.skill-titles {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	gap: 50px;
}

.code {
	grid-column: ;
}
.toolbox {
	grid-column: 40%;
}
.upcomming {
	grid-column: 40%;
}
.more {
	grid-column: 40%;
}

.tech-skills {
	list-style-type: none;
}
