.skills-list-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 128px;
}

.skills-list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skills-section h3 {
  background-color: #a6bd9d;
  color: white;
  display: inline;
  font-size: 24px;
  padding: 0 3px 0 3px;
  margin-bottom: 16px;
}

.skills-section ul {
  margin-bottom: 16px;
}

.skills-section li {
  text-align: center;
  list-style: none;
  font-size: 18px;
}

/* Media Queries for tablet*/
@media screen and (min-width: 667px) {
  .skills-list-section {
    flex-direction: row;
    justify-content: center;
    margin: 0 auto;
    align-items: flex-start;
    flex-wrap: wrap;
    max-width: 400px;
    gap: 40px;
    margin-bottom: 128px;
  }

  .skills-list-container {
    align-items: flex-start;
  }

  .skills-section li {
    text-align: left;
  }
}

/* Media Queries for desktop */
@media screen and (min-width: 1024px) {
  .skills-list-section {
    flex-wrap: nowrap;
    gap: 60px;
  }
}
