/* CSS Style for Skills.jsx */
.section {
  margin: 3rem auto;
  max-width: 1335px;
}
.section:target h2 {
  text-decoration: underline #ffdc58 20px;
  text-decoration-skip-ink: none;
  text-underline-offset: -10px;
}

.descr {
  text-align: center;
  margin-bottom: 3rem;
}
.title,
.subtitle {
  margin: 0;
}

.skillType {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skillset {
  /* display: flex;
  align-items: flex-start;
  justify-content: center;
  margin: 0 auto;
  flex-flow: row wrap; */

  display: grid;
  /* grid-template-columns: repeat(2, auto); */
  grid-template-columns: 1fr;
  justify-items: center;
  grid-row-gap: 1rem;
}

@media screen and (min-width: 601px) {
  .skillset {
    grid-template-columns: repeat(2, auto);
  }
}

@media screen and (min-width: 1281px) {
  .skillset {
    grid-template-columns: repeat(4, auto);
  }
}
