/* CSS Style for Skills.jsx */
.section {
  margin-bottom: 3rem;
}

.descr {
  text-align: center;
}
.title,
.subtitle {
  margin: 0;
}

.skillType {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skillset {
  display: flex;
  align-items: center;
  justify-content: center;
}

.code {
  background-color: #eb5577;
  color: white;
}

.toolbox {
  background-color: #2483e0;
  color: white;
}

.upcoming {
  background-color: #6db486;
  color: white;
}

.more {
  background-color: #ffde30;
  color: white;
  width: fit-content;
}

.skillType > li {
  list-style: none;
}
