.skill-section {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	margin: 0;
	background-color: #2148f5;
	height: 800px;
	width: 100%;
}

.skill-section h1 {
	color: whitesmoke;
	margin-top: 10%;
	margin-bottom: 10%;
}

.skills {
	display: grid;
	grid-template-columns: 25% 25% 25% 25%;
	grid-template-rows: 100%;
	gap: 70px;
}

.code {
	grid-column: ;
	font-size: 30px;
	color: whitesmoke;
	border: solid 1px #e95577;
	background-color: #e95577;
	height: auto;
	width: 75px;
}
.toolbox {
	grid-column: 1;
	font-size: 30px;
	color: whitesmoke;
	border: solid 1px #2483e0;
	background-color: #2483e0;
	height: auto;
	width: 115px;
}
.upcomming {
	grid-column: 3;
	font-size: 30px;
	color: whitesmoke;
	background-color: #6db486;
	border: solid 1px #6db486;
	height: auto;
	width: 16gita0px;
}
.more {
	grid-column: 4;
	font-size: 30px;
	color: #2148f5;
	margin-left: 60px;
	background-color: #e0c749;
	border: solid 1px #e0c749;
	height: auto;
	width: 70px;
}

.tech-skills-code {
	list-style-type: none;
	grid-row: 1;
}

.tech-skills-toolbox {
	list-style-type: none;
	grid-row: 2;
}

.tech-skills-upcomming {
	list-style-type: none;
	grid-row: 3;
}

.tech-skills-more {
	list-style-type: none;
	grid-row: 4;
}
