/* CSS Style for Skills.jsx */
.section {
  margin: 0 auto;
  padding: 10rem 0;
  background-color: #efebe0;
  clip-path: polygon(
    0 0,
    100% 0,
    100% 100%,
    calc(50% + 4.14px + 50px) 100%,
    50% calc(100% - 50px - 4.14px),
    calc(50% - 4.14px - 50px) 100%,
    0 100%
  );
  place-content: center;
}
.section:target h2 {
  text-decoration: underline #ffdc58 20px;
  text-decoration-skip-ink: none;
  text-underline-offset: -10px;
}

.descr {
  text-align: center;
  margin-bottom: 3rem;
}
.title,
.subtitle {
  margin: 0;
}

.subtitle {
  font-size: 20px;
}

.skillset {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 64px;
}

@media screen and (min-width: 745px) {
  .skillset {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, auto);
    grid-column-gap: 4rem;
  }
}

@media screen and (min-width: 1281px) {
  .skillset {
    display: grid;

    grid-template-columns: repeat(4, auto);
  }
}
