.skills-section {
  background-color: #275868;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 128px 16px 157px 16px;
  gap: 64px;
}

.skills-section h1 {
  color: white;
}

.skills-list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skills-section h3 {
  font-family: "Montserrat";
  background-color: #a6bd9d;
  color: white;
  display: inline;
  font-size: 24px;
  padding: 0 3px 0 3px;
  margin-bottom: 16px;
  font-weight: 600px;
}

.skills-section ul {
  margin-bottom: 16px;
  margin-bottom: 64px;
}

.skills-section li {
  text-align: center;
  list-style: none;
  font-size: 18px;
  font-family: "Hind";
  color: white;
  font-weight: 400;
}

/* Media Queries for tablet*/
@media screen and (min-width: 745px) {
  .skills-section {
    padding: 128px 32px 148px 32px;
    gap: 64px;
  }

  .skills-list-section {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    align-items: flex-start;
    flex-wrap: wrap;
    max-width: 400px;
    gap: 64px;
  }

  .skills-list-container {
    align-items: flex-start;
  }

  .skills-section li {
    text-align: left;
  }
}

/* Media Queries for desktop */
@media screen and (min-width: 1281px) {
  .skills-section {
    padding: 128px 161px;
  }

  .skills-list-section {
    flex-wrap: nowrap;
    max-width: 1000px;
    gap: 84px;
  }

  .skills-section h1 {
    font-size: 80px;
  }

  .skills-section h3 {
    font-size: 32px;
  }
}

/* Media Queries for extra large screens */
@media screen and (min-width: 1513px) {
  .skills-section {
    padding: 128px 234px;
  }
}
