.squiggly-line {
    width: 100wv;
    height: 10px;
    top: 814px;
    left: 328px;
    border: 6px;
    background-image: url('../assets/path.svg');
    background-repeat: repeat-x;
    background-position: 40% 10%;
    background-size: 80px 6px;
}
