.squiggly-line {
    width: 100vw; /* Full width of the viewport */
    height: 11px; /* Height of the squiggly line */
    background-image: url('../assets/path.svg'); /* Path to your SVG file */
    background-repeat: repeat-x; /* Repeat the image horizontally */
    background-position: top; /* Align the background at the top of the div */
    background-size: 144px 11px; /* The size of the SVG image */
    flex-shrink: 0; /* Prevent flex items from shrinking */
  }
  
