

.squiggly-line {
    width: 100vw; /* Full width of the viewport */
    height: 11px; /* Match the height of your SVG paths */
    background-image: url('../assets/path.svg'); /* /* Update with the correct path to your SVG file */
    background-repeat: repeat-x; /* Repeat the image horizontally */
    background-position: top; /* Align the background to the top of the element */
    background-size: 1512px 11px; /* Set to the width and height of your SVG */
  }
  
