.tag {
  align-items: flex-start;
  background-color: #ffffff;
  border: 1px solid;
  border-color: #000000;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  padding: 2px 6px;
  position: relative;
}

.tag .text-wrapper {
  color: #000000;
  font-family: "Poppins-Medium", Helvetica;
  margin-top: -1.00px;
  position: relative;
  width: fit-content;
}