.tags {
    display: flex;
    justify-content: flex-start;
    gap: 5px;
}

.individual-tag {
    background-color: var(--text);
    color: var(--primary-two);
    padding: 2px 6px;
    font-size: 16px;
    font-style: normal;
    font-family: var(--heading-font);
    font-weight: 600;
    line-height: normal;
    white-space: nowrap;
}