.tags {
    display: flex;
    justify-content: flex-start;
    gap: 5px;
}

.individual-tag {
    background-color: #000;
    color: #FFFFFF;
    padding: 2px 6px;
    font-size: 16px;
    font-style: normal;
    font-family: "Montserrat";
    font-weight: 600;
    line-height: normal;
}