.tech-section {
  max-width: 320px;
  background-color: #ffffff;
  height: 616px;
  margin: 0 auto; /* This will center the element horizontally */
  display: flex;
  flex-direction: column;
  justify-content: center; /* This will center the content vertically */
}

.tech-text {
  color: #a6bd9d;
  font-size: 24px;
  font-weight: 600;
  width: auto;
  margin: 0 20px 128px 20px;
}
