.tech{
  display: flex;
  height: 980px;
  align-items: center;
  justify-content: center;
  background-color: #0B24F5;
  color: white;
}

.techContent{
  width: 1044px;
  height: 204px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  padding: 0;
  gap: 124px;
}

.titleWhite{
  width: 198px;
  font-size: 80px;
  font-weight: 700;
  line-height: 98px;
  margin: 0;
}

.techDetails{
  width: 722px;
  font-family: "Hind";
  font-size: 32px;
  font-weight: 600;
  margin: 0;
  text-align: start;
}

@media (min-width:1025px) and (max-width:1280px){  
  .techContent{
    width: 958px;
  }
  .titleWhite{
    font-size: 57px;
  }
}

/* For Tablet Device */
@media (min-width:667px) and (max-width:1024px) {
  .tech{
    height: 50vh;
    width: 100%;
  }
  
  .techContent{
    width: 680px;
    flex-direction: column;
    gap: 64px;
  }
  
  .titleWhite{
    width: 680px;
    font-size: 56px;
    line-height: 68px;
  }
  
  .techDetails{
    width: 680px;
    font-size: 24px;
    text-align: center;
  }
}

/* For Mobile Device */
@media (max-width: 667px) {
  .tech{
    height: 100vh;
    width: 100%;
  }
  
  .techContent{
    width: 375px;
    height: 616px;
  }
  
  .titleWhite{
    width: 139px;
  }
  
  .techDetails{
    width: 343px;
  }

}