.tech-heading {
	color: #FFF;
	text-align: center;
	font-family: Poppins;
	font-size: 60px;
	font-weight: 700;
	margin-top: 64px;
}

.tech {
	display: flex;
	padding: 16px;
	flex-direction: column;
	align-items: center;
	gap: 16px;
	align-self: stretch;
	background-color: #000000;
}

.tech-skills {
	color: #FFF;
	text-align: center;
	font-family: Poppins;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	padding: 16px;
}

/* Responsive design*/

@media (min-width: 768px) and (max-width: 1023px) {
	.tech-heading {
		margin-top: 128px;
	}

	.tech {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.tech-skills {
		text-align: center;
		font-family: Poppins;
		font-size: 16px;
		margin-bottom: 128px;
		margin-left: 128px;
		margin-right: 128px;
	}
}


@media (min-width: 1024px) {
	.tech-skills {
		max-width: 782px;
		text-align: center;
		margin-top: 16px;
		margin-bottom: 128px;
	}
}