/* ------ Tech secion ----- */
.tech-wrap {
    display: flex;
    height: 980px;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 124px;
    background: #00473E;
}

.tech-wrap h1 {
    color: #FFF;
}

.tech-wrap p {
    color: #FFF;
    font-family: Hind;
    font-size: 32px;
    font-weight: 600;
    line-height: normal;
    width: 600px;
}

/* ----- Media queries ----- */
/* Tablet */
@media (max-width: 1279px) {
    .tech-wrap {
        height: 980px;
        display: flex;
        flex-direction: column;
        gap: 64px;
        text-align: center;
    }
}

/* Mobile */
@media (max-width: 743px) {
    .tech-wrap {
        height: 616px;
        flex-direction: column;
        gap: 64px;
    }

    .tech-wrap p {
        font-size: 24px;
        width: 343px;
    }
}