.tech {
  width: 100vw;
  background-color: #5FA8D3;
  display: flex; /* Changed to flex to better control the direction */
  flex-direction: row; /* Align children horizontally */
  justify-content: center; /* Center children horizontally */
  align-items: center; /* Keep vertical alignment */
  height: 700px;
  padding: 0 128 0 128 px; /* Adjusted padding for simplicity */
  gap: 64px;
}

.tech-heading {
  color: #FFF;
  font-family: 'Montserrat', sans-serif;
  font-size: 80px;
  font-weight: 700;
  text-align: center;
  margin-top: -50px; 
  padding-left: 253px;
}

.tech-paragraph {
  color: white;
  width: 600px;
  height: 255px;
  font-family: 'Hind', sans-serif;
  font-size: 32px;
  font-weight: 600;
  line-height: 51.23px;
  text-align: center;
}



/* Tablet */
@media (min-width: 744px) and (max-width: 1279px) {
  .tech {
      flex-direction: column; /* Stack items vertically */
      padding: 80px 32px; /* Adjusted padding for tablet */
        width: 100wv; 
      }
  
  }

  .tech-heading {
      width: 139px; /* Let it resize based on content */
      height: 68px; /* Let it resize based on content */
      margin-bottom: 16px; /* Space between heading and paragraph in a vertical layout */
      color: #FFF;
text-align: center;
font-family: 'Montserrat', sans-serif;
font-size: 56px;
font-style: normal;
font-weight: 700;
line-height: normal;
padding-left: 40px;
padding-bottom: 0px;
  }

  .tech-paragraph {
    width: 616px;
      height: 152px; /* Let it resize based on content */
      text-align: center; /* Center the text */
      padding: 0 32px; /* Padding on sides for better word wrap */
      font-size: 24px;
      color: #FFF;
text-align: center;
font-family: 'Hind', sans-serif;
font-style: normal;
font-weight: 600;
line-height: normal;
padding-top: 0px;
  }


  /* Mobile */
  @media (min-width: 375px) and (max-width: 743px){
    .tech {
        flex-direction: column; /* Stack items vertically */
        padding: 64px 16px 128px 16px; /* Adjusted padding for mobile */
        height: auto; /* Auto height to fit content */
    }
  
    .tech-heading {
      width: 139px; /* Let it resize based on content */
      height: 68px; /* Let it resize based on content */
      text-align: center; /* Center the text */
padding-left: 0px;
padding-bottom: 0px;
font-family: 'Montserrat', sans-serif;
font-size: 56px;
font-style: normal;
font-weight: 700;
line-height: normal;
  }

  .tech-paragraph {
    width: 343px;
    height: 228px;
    color: #FFF;
font-family: 'Hind', sans-serif;
font-size: 24px;
font-style: normal;
font-weight: 600;
line-height: normal;
padding-top: 0px;
  }
}