.tech-container {
  background-color: #e06969;
  color: white;
  display: flex;
  justify-content: center; 
  padding: 200px;
  box-sizing: border-box;
  margin-top: -100px;
}

.tech-title {
  font-size: 4em;
  margin-right: 100px;
  font-family: "Montserrat", sans-serif;
}

.tech-list {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 1.5em;
  line-height: 1.5;
  text-align: left;
  font-family: "Hind", sans-serif;
}

.tech-list li {
  margin-bottom: 10px;
}

/* Tablet styles */
@media (max-width: 1024px) {
  .tech-container {
    padding: 100px; 
    flex-direction: column; 
    align-items: center; 
  }

  .tech-title {
    font-size: 3em; 
    margin-right: 0; 
    margin-bottom: 20px; 
  }

  .tech-list {
    font-size: 1.2em; 
    text-align: center; 
  }
}

/* Mobile styles */
@media (max-width: 480px) {
  .tech-container {
    padding: 50px; 
  }

  .tech-title {
    font-size: 2em; 
    margin-bottom: 15px; 
  }

  .tech-list {
    font-size: 1em; 
    text-align: left;
  }
}


  