/* css style for Tech.jsx */
.section {
  margin: 0 auto;
  padding: 10rem 0;
  background-color: #efebe0;
  clip-path: polygon(
    0 0,
    100% 0,
    100% calc(100% - 50px),
    calc(50% + 50px) calc(100% - 50px),
    50% 100%,
    calc(50% - 50px) calc(100% - 50px),
    0 calc(100% - 50px)
  );
  height: 500px;
  place-content: center;
}

.section:target h2 {
  text-decoration: underline #ffdc58 20px;
  text-decoration-skip-ink: none;
  text-underline-offset: -10px;
}

.descr {
  text-align: center;
  margin-bottom: 2rem;
}
.title,
.subtitle {
  margin: 0;
  color: #01264c;
}
.subtitle {
  font-size: 20px;
}

.techIcons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  justify-items: center;
  grid-row-gap: 1.5rem;
  margin: 0 2rem;
}

.techIcons > * {
  width: 50px;
  height: 50px;
}

@media screen and (min-width: 1281px) {
  .techIcons {
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr 1fr;
    grid-row-gap: 3rem;
  }

  .descr {
    margin-bottom: 3rem;
  }

  .techIcons > * {
    width: 60px;
    height: 60px;
  }
}
