.tech {
    background-color: #0B24F5;
    width: 100%;
}

.tech-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 100px;
}

.tech p {
    color: white;
    margin: 10px;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    text-align: left;
}

.tech h1 {
    color: white;
    margin: 40px;
    font-size: 40px;
    font-family: 'Montserrat', sans-serif;
}