.tech {
    width: 100%; 
    padding: 128px 0;
    height: 980px;
    top: 982px;
    background-color: blue;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  
  .tech-heading {
    color: white;
    width: 198px;
    height: 98px;
    margin-right: 16px; /* Add space between heading and paragraph */
    }
  
  
  .tech-paragraph {
    color: white;
    width: 600px;
    height: 100px;
  }