.tech-section {
  background-color: #275868;
  padding: 128px 16px 128px 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 64px;
}

.heading h1 {
  font-size: 56px;
  color: white;
}

.tech-text {
  color: #a6bd9d;
  font-size: 24px;
  font-weight: 600;
}

/* Media Queries for tablet */
@media screen and (min-width: 745px) {
  .tech-section {
    padding: 256px 32px 256px 32px;
  }

  .tech-text {
    text-align: center;
  }
}

/* Media Queries for desktop */
@media screen and (min-width: 1281px) {
  .tech-section {
    flex-direction: row;
    align-items: center;
    padding: 0px 161px 0 161px;
    height: 980px;
    gap: 124px;
  }

  .heading h1 {
    font-size: 80px;
  }

  .tech-text {
    text-align: left;
    font-size: 32px;
  }
}

/* Media Queries for extra large screens */
@media screen and (min-width: 1513px) {
  .tech-section {
    padding: 0px 234px 0 234px;
  }
}
