.contact {
  margin-bottom: 8rem;
}

.contact-info {
  line-height: 1.5;
  text-align: center;
}

.social-icons {
  display: flex;
  gap: 2rem;
  justify-content: center;
}

.footer-icon {
  color: var(--grey-icon);
  height: 2rem;
  width: 2rem;
  transition: ease 0.5s;
}

.footer-icon:hover {
  color: black;
}
