/* #projects {
    max-width: 820px;
    margin: 0 auto;
}

.project-item {
    display: flex;
    gap: 2.5rem;
    margin-top: 128px;
}

.btns {
    margin-top: 50px;
}

.project-title {
    margin-bottom: 1rem;
} */


