.skills {
  background: var(--bg-gradient);
  color: #fff;
}

.category-title {
  padding: 2px;
  width: fit-content;
  margin: 0 auto 18px;
}

.skill-list {
  text-align: center;
}

.skills-list {
  display: grid;
  gap: 4rem;
  margin: 0 auto;
}

@media (min-width: 744px) {
  .skills-list {
    grid-template-columns: 1fr 1fr;
    width: 23.5rem;
  }

  .skill-list {
    text-align: left;
  }

  .category-title {
    margin: 0 0 18px;
  }
}

@media (min-width: 1280px) {
  .skills-list {
    grid-template-columns: repeat(4, 1fr);
    gap: 4rem;
    max-width: 836px;
    justify-content: center;
  }
}
