.tech {
  background: var(--bg-gradient);
  color: #fff;
}

.tech-text {
  font-family: "Hind", sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  max-width: 37.5rem;
  width: 100%;
}

.tech .bg-page-container {
  align-items: center;
}

@media (min-width: 744px) {
  .tech-text {
    text-align: center;
  }
}

@media (min-width: 1024px) {
  .tech-text {
    font-size: 2rem;
  }
}
@media (min-width: 1280px) {
  .tech .bg-page-container {
    flex-direction: row;

    gap: 7.75rem;
    height: 61.25rem;
    padding: 0 8rem;
  }
  .tech-text {
    text-align: left;
    font-size: 2rem;
  }
}
