.tech {
  background: var(--bg-gradient);
  color: #fff;
}

.tech-text {
  font-family: "Hind", sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
}

@media (min-width: 1024px) {
  .tech-text {
    font-size: 2rem;
  }
}