.tech-container {
  display: flex;
  width: auto;
  padding: 128px 16px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 64px;
  background-color: #392467;
}

.tech-heading {
  color: #fff;
  text-align: center;
  font-family: "Montserrat";
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 64px;
}

.tech-content {
  color: #fff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: "Hind";
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

@media (min-width: 667px) and (max-width: 1024px) {
  .tech-container {
    width: auto;
    height: 796px;
    padding: 0px 161px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
  }

  .tech-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 64px;
    justify-content: center;
  }

  .tech-heading {
    margin: 0;
    font-size: 56px;
  }

  .tech-content {
    font-size: 24px;
  }
}

@media (min-width: 1025px) {
  .tech-container {
    display: flex;
    width: auto;
    height: 980px;
    padding: 0px 161px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
  }

  .tech-section {
    display: flex;
    width: auto;
    max-width: 1044px;
    align-items: center;
    gap: 124px;
    flex-shrink: 0;
  }

  .tech-heading {
    margin: 0;
    font-size: 80px;
  }

  .tech-content {
    font-size: 32px;
  }
}
