.contact_section {
  padding-top: 128px;
  padding-bottom: 128px;
}

.inner_contact {
  margin: 0 auto;
}

.my_card {
  margin: 64px auto 0;
  width: 310px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 64px;
  @media (min-width: 1260px) {
    width: 413px;
  }
}

.my_image {
  width: 164px;
  height: 164px;
  border-radius: 50%;
}

.contact_infos {
  color: #000;
  font-family: Montserrat;
  font-size: 24px;
  text-align: center;
  font-weight: 600;
  display: grid;
  gap: 8px;

  @media (min-width: 1260px) {
    font-size: 32px;
  }
}

.icon {
  width: 32px;
  height: 32px;
  transition: all 0.3s ease-in;
}

.icon:hover {
  filter: brightness(10%);
  transform: translateX(1px);
}

.icons_box {
  margin: 0 auto;
  display: flex;
  gap: 32px;
}
