.wordsContainer {
  background-color: #ffecea;
  color: #ff4575;
  align-items: center;
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wordsContainer {
  background-color: #ffecea;
}

h1.mywordsHeader {
  color: #ff4575;
  padding: 50px 0;
}

.waveLine {
  background: url("./assets/waveline-cropped.png");
  background-repeat: repeat-x;
  width: 100%;
}

.wordsContainer h1 {
  text-align: center;
  font-size: 80px;
}

.mobileLinks {
  display: none;
}

.read-article-button:hover {
  content: url("/Assets/Read-On-Medium-Hover.png");
}

/* Media query for desktop - 2 rows */
@media (min-width: 1025px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .wordsContainer {
    background-color: #ffecea;
  }

  .wordsContainer h1 {
    color: #ff4575;
    padding: 50px 0;
    font-size: 80px;
    text-align: center;
  }

  .waveLine {
    display: grid;
    grid-template-columns: repeat(auto-fill, [col] minmax(auto, 1fr));
    grid-auto-flow: column;
    align-items: center;
    overflow: hidden;
  }

  .waveLine img {
    margin: 0;
    padding: 0;
    border: none;
  }

  .wordsContainer h1 {
    font-size: 80px;
  }

  .wordsContainer h2 {
    font-size: 24px;
    color: black;
  }

  .mobileLinks {
    display: none;
  }

  .read-article-button:hover,
  .articleButton:hover {
    content: url("./assets/Read-On-Medium-Hover.png");
  }

  .wordsBox {
    display: grid;
    padding: 1em 20em;
    width: 100%;
    text-align: center;
    align-items: center;
  }

  .wordsBox img {
    max-width: 50%;
  }
}
