/* Component 4 - My Words */

.my-words-container {
  background-color: #ffecea;
  color: #ff4575;
  padding: 15px;

  /* border-image: url(/assets/mywords-squiggleline.png) 70 round; */
}

.tech-section-heading {
  text-align: center;
  font-size: 56px;
}

.my-word-container h1 {
  text-align: center;
  font-size: 56px;
}

.my-words-box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 3em;
  padding: 1em;
  width: 820px;
  margin: auto;
}

.my-words-column {
  float: left;
  width: 100%;
  padding: 1em;
}

.my-words-column img {
  max-width: 30%;
}

.read-article-button:hover {
  content: url("/Assets/Read-On-Medium-Hover.png");
}
