.tech-wrapper {
  padding: 128px 16px;
  background-color: var(--color-1);
  width: 100%;
}

.tech-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 64px;
}

.tech {
  color: var(--color-2);
  font-size: 56px;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

.tech-details {
  color: var(--color-2);
  font-size: 24px;
  font-weight: 600;
  font-family: "Hind", sans-serif;
  text-align: left;
}

@media (min-width:667px) and (max-width: 1024px) {
  .tech-wrapper {
    padding: 256px 32px;
  }

  .tech-details {
    text-align: center;
  }
}

@media (min-width:1025px) {
  .tech-wrapper {
    padding: 0px 161px;
    height: 980px;
    display: flex;
  }

  .tech-container {
    flex-direction: row;
    gap: 124px;
    justify-content: center;
    align-items: center;
  }

  .tech {
    font-size: 80px;
  }

  .tech-details {
    font-size: 32px;
  }
}