.tech-wrapper{
background-color: var(--color-1);
display: flex;
justify-content: center;
align-items: center;
padding: 388px 234px;
color: var(--color-2);
gap: 90px;
width: 100%;
}

.tech {
    width: auto 198px;
    height: auto 98px;
    font-size: 60px;
    font-weight: 700;
    font-style: "Montserrat", sans-serif;
  }

.tech-details{
    width: 100%;
    max-width: 722px;
    height: auto 204px; 
    font-family: "Hind", sans-serif;
    font-size: 28px;
    font: 500;
    font-style: normal;
    line-height: 1.5;
    word-wrap: break-word;
}

@media (min-width: 320px) and (max-width: 500px) {
  .tech-wrapper{
    padding: 128px 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 64px;
  }
  .tech{
    font-size: 56px;
  }
  .tech-details{
    font-size: 24px;
  }

}

@media (min-width: 501px) and (max-width: 768px) {
  .tech-wrapper{
    padding: 256px 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 64px;
  }
  .tech{
    font-size: 56px;
  }
  .tech-details{
    font-size: 24px;
    word-wrap: break-word;

  }
}
@media (min-width: 769px) and (max-width: 1280px) {
  .tech-wrapper{
   display: grid;
   grid-template-columns: 198px 636px;
    padding: 0 161px;
    height: 980px;
    gap: 80px;

  }
  .tech{
    font-size: 56px;
  }
  .tech-details{
    width: auto 204px;
  }
}