.tag {
    color: #FFF;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    background-color: black;
    padding: 5px 10px; /* Adjust the padding as needed */
    margin: 5px; /* Adjust the margin as needed */
}

.tag-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.tag-wrapper {
    display: flex;
    flex-direction: row;
}
