/* SECTION_____________________________________ */
.card-header-wrapper {
    color: rgb(181, 5, 5);
    display: flex;
    justify-content: center;
    align-content: center;
}

.projectWrapper {
    font-weight: 600;
    color: rgb(181, 5, 5);
    margin-top: 10px;
    margin-bottom: 50px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-content: center;
}

.projectContainer {
    width: 820px;
    display: flex;
    align-items: center;

}


.project-tags span:nth-child(1),
.project-tags span:nth-child(2),
.project-tags span:nth-child(3),
.project-tags span:nth-child(4) {
    background-color: black;
    color: white;
    margin-right: 5px;
    width: auto;
    padding: 2px;
    font-size: 16px;

}

.project-img {
    height: 280px;
    width: 280px;
    margin-right: 30px;
    border-bottom: 20px solid rgb(255, 198, 247);
    border-left: 20px solid rgb(255, 198, 247);
    width: 300px;
}

button {
    border-radius: 40px;
    background: transparent;
    border: none;
    margin-top: 20px;
    width: 110px;
    padding-top: 10px;
    height: 48px;
    width: 179px;

}


.project-buttons img {
    height: 40px;
    width: 160px;
    border: none;
    display: flex;
    transition: filter 0.3s;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
    /* Add a box shadow */
}



.project-buttons img:hover {
    filter: brightness(0.5) !important;

}


@media (max-width: 667px) {
    .card-header-wrapper h1 {
        font-size: 60px;
    }

    .projectContainer {
        width: 100%;
        flex-direction: column;
        align-items: center;
        text-align: left;
        width: 90%;
    }

    .projectContainer h2 {
        font-size: 25px;
    }

    .project-img {
        margin-right: 0;
        margin-bottom: 10px;
        border: none;
        width: 90%;
        border-bottom: 20px solid rgb(255, 198, 247);
        border-left: 20px solid rgb(255, 198, 247);

    }

    .project-buttons {
        margin-top: 10px;

    }

    button {
        margin-right: 0;
        margin-top: 10px;
        width: 100%;

    }
}