/* SECTION_____________________________________ */

.projectWrapper {
    color: rgb(0, 0, 0);
    margin-top: 10px;
    margin-bottom: 10px;
    width: 50%;
    margin: auto;
    padding: 10px;

}

section {
    color: blue;

}

.projectContainer {
    display: flex;
    /* Use flexbox layout */
    align-items: center;
    /* Vertically align items */
}


.project-tags span:nth-child(1),
.project-tags span:nth-child(2),
.project-tags span:nth-child(3),
.project-tags span:nth-child(4) {
    background-color: black;
    color: white;
    margin-right: 5px;
    width: auto;
    padding: 2px;
    font-size: 10px;

}

.project-img {
    margin-right: 30px;
    border-bottom: 15px solid rgb(21, 0, 255);
    border-left: 15px solid blue;
}


.project-buttons img {
    height: 20px;
    display: flex;
}

button {
    border-radius: 50px;
    background: transparent;
    border: solid 1px black;
    margin-right: 10px;
    margin-top: 5px;
}