/* SECTION_____________________________________ */
.card-header-wrapper {
    color: blue;
    display: flex;
    justify-content: center;
    align-content: center;


}

.projectWrapper {
    color: rgb(0, 0, 0);
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-content: center;

}


.projectContainer {
    display: flex;
    width: 700px;
    align-items: center;


}


.project-tags span:nth-child(1),
.project-tags span:nth-child(2),
.project-tags span:nth-child(3),
.project-tags span:nth-child(4) {
    background-color: black;
    color: white;
    margin-right: 5px;
    width: auto;
    padding: 2px;
    font-size: 15px;

}

.project-img {
    margin-right: 30px;
    border-bottom: 20px solid rgb(21, 0, 255);
    border-left: 20px solid rgb(7, 7, 226);
    width: 300px;
}

button {
    border-radius: 40px;
    background: transparent;
    border: none;
    margin-right: 55px;
    margin-top: 20px;
    width: 110px;
    padding-top: 10px;

}

.project-buttons img {
    height: 35px;
    display: flex;
    transition: filter 0.3s;
}

.project-buttons img:hover {
    filter: brightness(1.2) !important;
    mix-blend-mode: soft-light !important;
    color: aqua;
}


@media (max-width: 667px) {
    .card-header-wrapper h1 {
        font-size: 80px;
    }

    .projectContainer {
        width: 100%;
        flex-direction: column;
        align-items: center;
        text-align: center;

    }

    .project-img {
        margin-right: 0;
        margin-bottom: 10px;
        border: none;
        width: 100%;
    }

    .project-buttons {
        margin-top: 10px;

    }

    button {
        margin-right: 0;
        margin-top: 10px;
        width: 100%;

    }
}