.article-wrapper {
    display: flex; 
    flex-direction: column;
    padding: 128px 16px; 
    background-color: #FFECEA;
    gap: 64px; 
}

.article-card {
    display: flex; 
    flex-direction: column;
    gap: 24px;
    align-items: flex-start; 
}