.bio-section {
  width: 100%;
}

.content-section {
  color: white;
  padding: 64px 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}
@media (min-width: 375px) {
  .content-section { 
  text-align: center;
}
}
@media (min-width: 375px) and (max-width: 1024px) {
  .content-section p {
    max-width: 669px;
  }
  .content-section {
    padding-top: 64px;
    padding-bottom: 128px;
    padding-left: 24px;
    padding-right: 24px;
  }
}
@media (min-width: 1025px) {
  .content-section p {
    max-width: 782px;
  }
}