@use "../../../styles/variables" as *;
@use "../../../styles/mixins.scss" as *;

.frame {
  width: fit-content;
  background-position: center;
  background-size: cover;
}

.projects_img {
  width: 343px;
  height: 200px;
  border-bottom: 20px solid $color-primary;
  border-left: 20px solid $color-primary;

  @include sm {
    width: 200px;
    height: 280px;
  }
  @include md {
    width: 280px;
  }
}

.blog_img {
  z-index: inherit;
  height: 200px;
  width: 343px;
  align-self: stretch;
  border-bottom: 20px solid $color-secondary;
  border-left: 20px solid $color-secondary;

  @include sm {
    height: 340px;
    width: 680px;
  }
  @include md {
    width: 460px;
    height: 340px;
  }
  @include lg {
    width: 564px;
    height: 340px;
  }
}
