.ticker-tape {
    background-color: var(--color-7);
    color: var(--color-2);
    height: 114px;
    
    
}
.ticker-tape p {
    display: inline-block;
    white-space: nowrap;
    font-family: Montserrat;
    font-size: 26.038px;
    font-weight: 600;
    padding-top: 41px;
    padding-bottom: 35px;
    animation: moveLeftToRight 60s linear infinite;

}
@keyframes moveLeftToRight {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}