.button {
display: flex; 
  align-items: center;
  gap: 7px; 
  padding: 0px 16px 0px 16px; 
  font-family: Montserrat;
  font-weight: 600;
  font-size: 20px;
  color: black; 
  text-decoration: none; 
  background-color: #f5f5f5;
  border-radius: 40px;
  height: 48px; 
  border: none; 
  cursor: pointer; 
}

.icon {
    height: 2rem;
    width: 2rem;
}

.globe-icon {
    height: 1.6rem;
    width: 1.6rem;
}

.icon:hover {
    color: white; 
}

.article-icon:hover {
    color: white; 
}

.pink:hover {
    background-color: #b5958b;
    color: white; 
}

.blue:hover {
    background-color: #224941;
    color: white; 
}

.yellow:hover {
    background-color: #224941;
    color: white; 
}

.yellow {
    background-color: white;
    gap: 0; 
}

/*How to turn button image white? */
/* .button:hover img {
   filter: grayscale(100%)
} */