.contactContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #ffefe8;
  padding-top: 128px;
}

.contact {
  color: #5f5d9c;
  font-size: 56px;
  font-weight: 700;
  margin: 0 0 64px 0;
}

.myImage {
  margin: 0 auto 128px auto;
}

.contactInfo {
  width: 100%;
  background-color: #5f5d9c;
  padding-top: 50px;
  color: white;
  margin: 0;
}

.contactInfo h2 {
  font-weight: 600;
  margin: 0;
  font-size: 24px;
}

.contactIcons {
  margin: 40px 0;
}

.githubIcon {
  margin-right: 30px;
}

@media (min-width: 1024px) {
  .contact {
    margin-bottom: 128px;
  }
  .contactInfo {
    padding: 80px 0;
  }
}
