.contactContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-family: Montserrat;
  padding-top: 100px;
  background-color: #ffefe8;
}

.contact {
  margin-top: 100px;
  color: #0a25f5;
}

.myImage {
  margin: 10px auto;
}

.contactInfo {
  width: 100%;
  background-color: #5f5d9c;
  padding-top: 50px;
  color: white;
  margin-top: 150px;
}

.contactInfo h2 {
  font-weight: 600;
  margin: 0;
  font-size: 18px;
}

.contactIcons {
  margin: 40px 0;
}

.githubIcon {
  margin-right: 30px;
}

@media (min-width: 1024px) {
  .contactInfo {
    padding: 100px 0 80px 0;
  }
}
