.introContainer {
  padding: 60px 15px 100px 15px;
  font-family: Montserrat;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffefe8;
}

.myImage {
  display: block;
  height: 150px;
  width: 150px;
  object-fit: cover;
  border-radius: 75px;
}

.introPhrase {
  font-size: 16px;
  margin: 30px 0 0 0;
}

.jobTitle {
  font-size: 27px;
  margin: 0 0 30px 0;
  color: #5f5d9c;
}

.introDescription {
  font-size: 16px;
}

/*** Tablet ***/
@media (min-width: 745px) {
  .introContainer {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(2, auto);
    padding: 100px 30px 200px 30px;
  }

  .intro {
    grid-row: 1;
    grid-column: span 2;
  }

  .introImg {
    grid-row: 2;
  }

  .introInfo {
    grid-row: 2;
    padding-left: 30px;
  }

  .introPhrase {
    font-size: 30px;
  }

  .jobTitle {
    font-size: 55px;
  }
}

/*** Desktop ***/
@media (min-width: 1024px) {
  .introContainer {
    padding: 100px 200px 250px 200px;
  }
}

/*** Desktop L ***/
@media (min-width: 1500px) {
  .introContainer {
    padding: 200px 300px 300px 300px;
  }
}
