.introContainer {
  border: 5px solid red;
  margin: 50px 10px 0 10px;
}

.myImage {
  display: block;
  margin: 0 auto;
  height: 150px;
  width: 150px;
  object-fit: cover;
  border-radius: 75px;
}

.introPhrase {
  font-size: 16px;
  margin-top: 20px;
}

.jobTitle {
  text-align: center;
}

.introDescription {
}
