.skillsContainer {
  background-color: #0a25f5;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  font-family: Montserrat;
}

.skills {
  margin: 100px 0 70px 0;
}

.skillsContainer p {
  margin: 0;
}

.skillsContainer h2 {
  font-weight: 500;
  padding: 0 5px;
}

.codeContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}

.code {
  background-color: #eb5578;
}

.toolboxContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}

.toolbox {
  background-color: #2383e0;
}

.upcomingContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}

.upcoming {
  background-color: #6eb486;
}

.moreContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
}

.more {
  background-color: #ffde30;
  color: #0a25f5;
}
