.skillsContainer {
  background-color: #5f5d9c;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  font-family: Montserrat;
}

.skills {
  margin: 100px 0 70px 0;
}

.skillsContainer p {
  margin: 0;
  font-weight: 500;
}

.skillsContainer h2 {
  font-weight: 600;
  padding: 0 5px;
}

.codeContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 70px;
}

.code {
  background-color: #eb5578;
}

.toolboxContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 70px;
}

.toolbox {
  background-color: #2383e0;
}

.upcomingContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 70px;
}

.upcoming {
  background-color: #6eb486;
}

.moreContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
}

.more {
  background-color: #ffde30;
  color: #0a25f5;
}

/*** Tablet ***/

@media (min-width: 745px) {
  .skillsContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: start;
    margin: 0 auto;
    padding: 100px;
  }

  .skills {
    grid-column: span 2;
    text-align: center;
  }
}

/*** Desktop ***/

@media (min-width: 1024px) {
  .skillsContainer {
    grid-template-columns: repeat(4, 1fr);
  }

  .skills {
    grid-column: span 4;
    margin-bottom: 150px;
    font-size: 80px;
  }
}

/*** Desktop L ***/

@media (min-width: 1500px) {
  .skillsContainer {
    padding: 100px 200px;
  }
}
