.techContainer {
  padding: 128px 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #5f5d9c;
  color: white;
  font-family: Montserrat;
}

.tech {
  font-size: 56px;
  font-weight: 700;
  margin: 0 0 64px 0;
}

.techSkills {
  margin: 0;
  font-size: 24px;
  font-weight: 600;
  font-family: hind;
}

/*** Tablet ***/
@media (min-width: 745px) {
  .techContainer {
    padding: 256px 32px;
  }

  .techSkills {
    text-align: center;
  }
}

/*** Desktop ***/
@media (min-width: 1024px) {
  .techContainer {
    flex-direction: row;
    padding: 161px;
    height: 980px;
  }

  .tech {
    font-size: 80px;
    margin-right: 124px;
  }

  .techSkills {
    font-size: 32px;
    text-align: start;
  }
}

/*** Desktop L ***/
@media (min-width: 1500px) {
  .techContainer {
    padding: 234px;
  }
}
