.myword-container {
    width: 100%;
    background-color: #f8f8f8;
    padding-top: 3%;
    padding-bottom: 5%;
}

.divider {
    z-index: 10;
    position: relative;
}

.divider>img {
    z-index: 5;
    position: relative;
    top: -58px;
    width: 100%;
}

.myword-container h1 {
    color: #FF4575;
    text-align: left;
    margin-left: 5%;
}

.article-container h2 {
    font-family: Montserrat;
    margin-top: 10px;
}

.article-container {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 10%;
}

.article-container p {
    text-align: justify;
}

.article-container img {
    height: 340px;
    align-self: stretch;
}

.article-container .article-tag {
    padding: 2px 6px;
    background: #000;
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin: 10px 0 0 0;
    word-wrap: break-word;
}

.article-container a {
    text-decoration: none;
}

.article-container button {
    display: flex;
    padding-right: 10px;
    align-items: center;
    gap: 7px;
    background: #FFECEA;
    border: none;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    margin-bottom: 10px;
}

.article-container .read-article,
.article-container .read-article-hover {
    height: 48px;
}

/* Hover effects */

.article-container .read-article {
    display: block;
}

.article-container .read-article-hover {
    display: none;
}

.article-container button:hover .read-article {
    display: none;
}

.article-container button:hover .read-article-hover {
    display: block;
}

@media (min-width:1024px) {
    .frame {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: flex-start;
        width: 100%;
    }

    .article-container {
        width: 80%
    }

    .article-container img {
        width: 80%;
    }
}

@media (min-width:678px) and (max-width:1023px) {
    .frame {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: flex-start;
        width: 100%;
    }

    .article-container {
        width: 80%;
    }

    .article-container img {
        width: 80%;

    }

}