.articles-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-bottom: 20px;
  margin-left: 0;
  background-color: #ffecea;
  position: relative;
  z-index: 0;
}

.divider-wrapper {
  background-color: #ffecea;
  max-width: 100vw;
  height: 9px;
}

.divider-wrapper img {
  z-index: 1;
  position: relative;
  top: -8px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.divider-wrapper div {
  z-index: 2;
  position: relative;
}

.articles-wrapper h1 {
  margin-top: 50px;
  margin-bottom: 50px;
  font-size: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.articles-grid {
  display: grid;
  grid-template-columns: repeat(1fr);
  gap: 50px;
  padding-bottom: 150px;
}

.article-card {
  max-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow: hidden;
}

.article-card p {
  font-size: 18px;
  font-weight: 400;
}

.article-card h3 {
  margin: 0;
  font-size: 24px;
}

.article-image {
  width: 100%;
  height: auto;
  object-fit: cover;
  margin-bottom: 10px;
}

.publish-date {
  background-color: black;
  color: white;
  padding: 2px 6px;
  border-radius: 4px;
  font-size: 12px;
  margin-bottom: 8px;
}

/* Mobile */
@media (max-width: 600px) {
}

/* Tablets*/
@media (min-width: 601px) and (max-width: 900px) {
  .articles-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    padding-bottom: 50px;
  }

  .article-card {
    min-width: 150px;
    max-width: 250px;
  }

  .articles-wrapper h1 {
    font-size: 50px;
  }

  .article-card h3 {
    font-size: 24px;
  }

  .article-card p {
    font-size: 14px;
  }
}
/* Desktop */
@media (min-width: 901px) and (max-width: 1200px) {
  /* typical desktop breakpoint */

  .articles-wrapper h1 {
    font-size: 80px;
  }

  .articles-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 100px;
    padding-bottom: 50px;
  }

  .article-card {
    max-width: 350px;
  }

  .article-image {
    border-left: 10px solid #ff4575;
    border-bottom: 10px solid #ff4575;
  }
}

/* Large desktops */
@media (min-width: 1201px) {
  /* breakpoint for large screens */
  .articles-wrapper h1 {
    font-size: 80px;
  }

  .articles-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 100px;
    padding-bottom: 50px;
  }

  .article-card {
    max-width: 350px;
  }

  .article-image {
    border-left: 10px solid #ff4575;
    border-bottom: 10px solid #ff4575;
  }
}
