.article-image-card {
  height: 200px;
  width: 280px;
  object-fit: cover;
  align-self: stretch;
  margin-bottom: 24px;
  border-bottom: 10px solid #5d3587;
  border-left: 10px solid #5d3587;
  margin-top: 64px;
}

.article-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: auto;
  gap: 8px;
  align-self: stretch;
}

.article-tag {
  background: #000;
  color: #fff;
  font-family: "Montserrat";
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  padding: 2px 6px;
}

.article-title {
  padding-bottom: 24px;
  color: #000;
  font-family: "Montserrat";
  font-size: 24px;
  font-weight: 600;
  line-height: normal;
}

.article-description {
  color: #000;
  font-family: "Hind";
  font-size: 18px;
  font-weight: 400;
  line-height: normal;
}

.article-btn {
  margin-top: 24px;
  display: flex;
  padding-right: 16px;
  align-items: center;
  gap: 7px;
  border-radius: 40px;
  background: #fff;
  color: #333;
  font-family: "Montserrat";
  font-size: 20px;
  font-weight: 600;
  line-height: normal;
}

.article-btn:hover {
  background-color: #d2b2d8;
}

@media (min-width: 340px) and (max-width: 667px) {
  .article-image-card {
    width: 343px;
  }
}

@media (min-width: 667px) and (max-width: 1024px) {
  .article-image-card {
    height: 340px;
    width: 680px;
  }

  .article-description {
    width: 680px;
  }

}

@media (min-width: 1025px) {
  .Articles {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 958px;
    gap: 64px;
  }

  .article-image-card {
    width: 447px;
    height: 340px;
  }

  .article-card {
    width: 447px;
  }

  .article-title {
    font-size: 32px;
  }
}
