.articles-container {
  position: relative;
  display: flex;
  width: 375px;
  padding: 128px 16px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fcf2e7;
}

.articles-heading {
  color: #392467;
  text-align: center;
  font-family: "Montserrat";
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.wavy-divider {
  background: url("/assets/divider.svg");
  background-repeat: no-repeat;
  width: 100%;
  height: 10px;
  position: relative;
  top: 4px;
  z-index: 1;
}

@media (min-width: 667px) and (max-width: 1024px) {
  .articles-container {
    width: 100%;
  }

  .articles-heading {
    text-align: left;
  }

  .articles-container {
    display: flex;
    width: auto;
    padding: 128px 32px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media (min-width: 1025px) {
  .articles-heading {
    text-align: left;
    font-size: 80px;
    margin-bottom: 68px;
  }

  .articles-container {
    display: flex;
    width: auto;
    padding: 128px 32px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
