.contact-wrapper {
  max-width: 90%;
  margin: 0 auto;
  padding: 64px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contact-wrapper ul {
  font-family: var(--heading-font);
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  list-style: none;
  margin: 0;
  /* Add this to reset the default margin */
  padding: 0;
  /* Add this to reset the default padding */
  text-align: center;
}

.contact-wrapper ul li {
  margin-bottom: 10px; /* Add margin to create space between list items */
}

.contact-heading {
  color: var(--primary);
  padding-bottom: 64px;
}

.contact-info {
  margin: 64px 0;
}

.banner {
  width: 100%;
  /* Make it full width or set a specific width */
  overflow: hidden;
  /* Hide the overflowing content */
  background-color: var(--hover-pink);
}

.scroll-text {
  white-space: nowrap;
  /* Prevent the text from wrapping to the next line */
  animation: marquee 15s linear infinite;
  /* Configure the scrolling animation */
  color: white;
}

@keyframes marquee {
  0% {
    transform: translateX(100%);
    /* Start offscreen to the right */
  }

  100% {
    transform: translateX(-100%);
    /* Move offscreen to the left */
  }
}