/* Styling for the heading in the featured projects section */
.featured-projects-heading {
    color: var(--primary);
}

/* Styling for the heading in the articles section */
.articles-heading {
    color: var(--secondary)
}

/* Styling for tag text */
.tag-text {
    font-family: var(--heading-font);
    font-size: 16px;
    color: white;
}

/* Styling for the tag background */
.tag-background {
    background-color: var(--text);
    padding: 2px 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
}

/* Styling for a group of tags */
.tags {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
}