.project-button {
    width: 100%;
    padding: 1rem;
    border-radius: 0.75rem;
    color: inherit;
}

.primary-background {
    background-color: var(--color-primary);
    color: var(--color-neutral);
}

.neutral-background {
    background-color: var(--color-neutral);
    color: var(--color-primary);
}