.card-container {
  width: 25rem;
  padding-bottom: 0.5rem;
  scroll-snap-align: start;
  /* Snap card to start when scrolling */
}

.card-btn-container {
  display: flex;
  gap: 1rem;
  width: 100%;
}