.image {
  margin-right: 10px;
  margin-bottom: 14px;
}

.icon:hover {
  filter: invert(100%); /* Inverts the color to black on hover */
}

.circle-image {
  width: 164px;
  height: 164px;
  border-radius: 50%;
  object-fit: cover;
}

.square-image {
  max-height: 400px;
  min-width: 200px;
  width: 100%;
  object-fit: cover;
  border-bottom: 10px solid var(--primary);
  border-left: 10px solid var(--primary);
}

/* --- Tablet --- */

@media (min-width: 744px) and (max-width: 1279px) {
}

/* --- Desktop ----*/
@media (min-width: 1280px) {
}
