.contact-info {
  line-height: 1.5;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
}

.social-icons {
  display: flex;
  gap: 2rem;
  justify-content: center;
}

.footer-icon {
  color: var(--grey-icon);
  height: 2rem;
  width: 2rem;
  transition: ease 0.5s;
}

.footer-icon:hover {
  color: var(--black);
}

.visually-hidden {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
  white-space: nowrap;
}

.contact-info a {
  transition: 0.3s;
}
.contact-info a:hover {
  color: var(--grey-icon);
}
