.intro-wrapper {
  display: grid;
  gap: 32px;
  margin: 0 auto;
  padding: 64px 16px;
  width: 100%;
}

.info-text p {
  font-family: Hind;
  font-weight: 400;
  font-size: 18px;
  display: flex;
  align-items: center;
}

.arrow img {
  width: 27px;
  height: 68px;
  margin: 1px auto 0;
  border: 6px;
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}
