.intro-wrapper {
  display: grid;
  gap: 32px;
  margin: 0 auto;
  padding: 64px 16px;
  width: 100%;
}

.info-text h3 {
  font-weight: 600;
  font-size: 18px;
}

.info-text h1 {
  color: #0b24f5;
  font-weight: 700;
  font-size: 32px;
}

.info-text p {
  font-family: Hind;
  font-weight: 400;
  font-size: 18px;
  display: flex;
  align-items: center;
}

.arrow img {
  width: 27px;
  height: 68px;
  margin: 1px auto 0;
}
