.skills {
    display:flex;
    flex-direction: column;
    place-content: center;
    background-color: blue;
    height: 35vh;
    padding: 2rem;
    align-content: center;
    color: white;
}

.subcategories {
    display: flex;
    justify-content: space-around;
}

.skills h2 {
text-align: center;
}

.sub p {
    text-align: left;
    margin: 0;
}

.subCode h3{
    background-color: aqua;
}
.subTools h3{
    background-color: pink;
}
.subUpcoming h3{
    background-color: yellow;
}
.subMore h3{
    background-color: yellowgreen;
}