.skills-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 64px;
  padding: 128px 16px 157px 16px;
  background-color: var(--primary);
}

.skills-wrapper {
  display: grid;
  gap: 64px;
}
.code,
.toolbox,
.upcoming,
.more {
  display: inline-block;
  padding: 2px 6px;
  margin-bottom: 16px;
  color: var(--text);
}

.code {
  background-color: var(--hover-pink);
}

.toolbox {
  background-color: #2483e0;
}

.upcoming {
  background-color: #6db486;
}

.more {
  background-color: #ffde30;
}

@media screen and (min-width: 745px) {
  .skill-list li {
    font-size: 18px;
  }
}
