.contact-links {
  display: flex;
  gap: 32px;
  margin-top: 64px;
}

.introduction-links {
  display: flex;
  justify-content: center;
  gap: 32px;
  margin-bottom: 32px;
}

.linkedin-button,
.github-button,
.slack-button {
  font-size: 32px;
  display: flex;
  align-items: center;
  color: #d0d0d0;
}

.linkedin-button:hover,
.github-button:hover,
.slack-button:hover {
  color: #000000;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
