.section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4rem;
}
.contact-info {
    text-align: center;
}
.contact-info h4 {
    font-size: 2rem;
}
.social-media-buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.social-button {
    opacity: 0.1;
}
.social-button:hover {
    animation: hover-effect 0.2s ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes hover-effect{
    from {
        opacity: 0.1;
        scale: 1;
    }
    to {
        opacity: 0.9;
        scale: 1.1;
    }
}