/* #region MyRegion */

.contact-info {
  display: flex;
  flex-direction: column;
}
/* #endregion  */

a {
  text-decoration: none;
  color: #000;

  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
