.contact-wrapper {
  display: flex;
  padding: 100px 5px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.contact-wrapper h1 {
  text-align: center;
  font-family: Montserrat;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: #0b24f5;
}

.contact-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 64px;
}

.profile-image {
  margin-top: 0;
  border-radius: 50%;
  width: 164px;
}
.contact-text p {
  color: #000;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-align: center;
}

.social-media-icons img {
  width: 40px;
  cursor: pointer;
  transition: opacity 0.3s ease, transform 0.3s ease;
  opacity: 0.4;

  &:hover {
    transform: scale(1.1);
    opacity: 1;
  }
}

/* Tablets */
@media (min-width: 601px) and (max-width: 900px) {
  /* adjust this breakpoint as needed */
}

/* Large desktops */
@media (min-width: 901px) and (max-width: 1200px) {
  /* typical desktop breakpoint */
}

/* Extra large devices (large desktops, 1201px and up) */
@media (min-width: 1201px) {
  /* breakpoint for large screens */
}
