.contact-info-container {
  display: flex;
  padding: 128px 32px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 64px;
}

.contact-me-title {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 70px;
  color: #0b24f5;
}

.contact-info-container p {
  gap: 8px;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  font-size: 32px;
  font-weight: 600;
}
.contact-info-container ul {
  display: flex;
  align-items: space-between;
  gap: 32px;
}

.linkedin-btn,
.github-btn {
  border: none;
  color: #d0d0d0;
  background: transparent;
}

.linkedin-btn :hover,
.github-btn :hover {
  color: black;
  transition: color 0.3s ease-in-out;
}

@media screen and (max-width: 576px) {
  .contact-me-title {
    text-align: center;
  }
}
