/*default styles for mobile*/
.talkContainer {
  text-align: center;
  overflow-x: hidden;
  padding-top: 2em;
}

.talkContainer img {
  max-width: 164px;
  max-height: 164px;
  border-radius: 50%;
}

.talkContainer h1 {
  color: #0b24f5;
  text-align: center;
  font-size: 56px;
  padding: 1.5em 0 1em 0;
}

.talkContainer h2 {
  font-size: 24px;
  color: black;
  margin: 0;
  line-height: 1.5em;
}

.talkTxt {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em 0;
}

.icons {
  text-align: center;
  padding: 1.5em 0 1em 0;
}

/*media query for tablet*/
@media screen and (min-width: 667px) and (max-width: 1023px) {
  .talkContainer {
    text-align: center;
    overflow-x: hidden;
    padding-top: 2em;
  }

  .talkContainer img {
    max-width: 164px;
    max-height: 164px;
    border-radius: 50%;
    padding: 2em 0;
  }

  .talkContainer h1 {
    color: #0b24f5;
    text-align: center;
    font-size: 56px;
    padding-bottom: 0.5em;
    padding-top: 1em;
  }

  .talkContainer h2 {
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 1.5em;

    font-family: "Montserrat", sans-serif;
  }

  .talkTxt {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .icons {
    text-align: center;
    padding: 1em 0;
  }

  .github:hover {
    content: url("./assets/github-hover.png");
  }

  .linked:hover {
    content: url("./assets/linkedin-hover.png");
  }

  .stack:hover {
    content: url("./assets/stackoverflow-hover.png");
  }
}

/*media query for desktop - 2 rows */
@media (min-width: 1024px) {
  .talkContainer {
    text-align: center;
    overflow-x: hidden;
    padding-top: 2em;
  }

  .talkContainer img {
    max-width: 164px;
    max-height: 164px;
    border-radius: 50%;
    padding: 2em 0;
  }

  .talkContainer h1 {
    color: #0b24f5;
    text-align: center;
    font-size: 80px;
    padding-bottom: 1em;
  }

  .talkContainer h2 {
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 1.5em;

    font-family: "Montserrat", sans-serif;
  }

  .talkTxt {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .icons {
    text-align: center;
    padding: 1em 0;
  }

  .github:hover {
    content: url("./assets/github-hover.png");
  }

  .linked:hover {
    content: url("./assets/linkedin-hover.png");
  }

  .stack:hover {
    content: url("./assets/stackoverflow-hover.png");
  }
}
