.tag-background {
    background-color: black;
    display: inline-flex; /* Display tags in a row */
    padding: 2px 6px;
    align-items: flex-start;
    margin-right: 4px; /* Add some space between tags */
}

.tag-text {
    color: white;
}
