.name-container {
    width: 1350px;
    height: 114px;
    flex-shrink: 0;
    background-color: #ff4575;
    color: #ffffff;
    align-items: center;
    position: relative;
    overflow: hidden;
  }
  
  .isaac {
    font-family: Montserrat;
    font-size: 26.038px;
    font-style: normal;
    font-weight: 600;
    line-height: 37.874px;
    padding-top: 35px;
    white-space: nowrap; /* Prevent text from wrapping */
    position: absolute; /* Position absolutely */
    animation: moveRightToLeft 80s linear infinite; /* Use the animation */
  }
  
  @keyframes moveRightToLeft {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  