.footer {
  /* position: relative;
  overflow: hidden; */
}

.footer-section {
  background-color: #ad7be9;
  position: relative;
  overflow: hidden;
}

.footer-text {
  white-space: nowrap;
  animation: moveLeftToRight 20s linear infinite;
  font-family: Montserrat;
  color: #fff;
  font-size: 26.038px;
  font-style: normal;
  font-weight: 600;
  line-height: 37.874px; /* 145.455% */
}

@keyframes moveLeftToRight {
  0% {
    transform: translateX(100%);
    /* Start from the right of the container. */
  }
  100% {
    transform: translateX(-100%);
    /* Move to the left of the container. */
  }
}
