.footer-wrapper {
background-color: #FF4575;
width: 100%;
}

.h1-footer {
    color: white;
    white-space: nowrap;
}

/* Animation for footer */
.h1-footer {
    animation: RightToLeft 10s infinite linear;
  }
  
  @keyframes RightToLeft {
    from {
      transform: translateX(0%);
    }
    to {
      transform: translateX(-50%);
    }
  }
