footer {
  background-color: #FF4575;
  height: 70px;
  overflow: hidden;
  position: relative;
}

.footer-text {
  white-space: nowrap;
  position:absolute;
  top: 50%; 
  left: 100%;
  transform: translateY(-50%);
  font-size: 24px; 
  color: white;

  /* Animation */
  animation: slideText 60s linear infinite; 
}

@keyframes slideText {
  0% {
      left: 0; 
  }
  100% {
      left: -1000%;
  }
}

  