footer {
    background-color: #FF4575;
    height: 70px;
    overflow: hidden; /* ensures the content outside the div boundaries is hidden */
    position: relative;
}

.footer-text {
    white-space: nowrap;
    position:absolute;
    top: 50%; 
    left: 100%; /* start off-screen to the right */
    transform: translateY(-50%);
    font-size: 24px; 
    color: white;

    /* Animation */
    animation: slideText 10s linear infinite; 
}

@keyframes slideText {
    0% {
        left: 0; 
    }
    100% {
        left: -50%; /* Adjust this to control the restart point */
    }
}

/* Small devices (phones, 600px and under) */
@media (max-width: 600px) {

    
     
}

/* Medium devices (tablets, 601px - 900px) */
  @media (min-width: 601px) and (max-width: 900px){  /* adjust this breakpoint as needed */
   
   
  }
  
  
  /* Large devices (desktops, 901px - 1200px) */
  @media (min-width: 901px) and (max-width: 1200px){  /* typical desktop breakpoint */
  
}

  
       


/* Extra large devices (large desktops, 1201px and up) */
@media (min-width: 1201px) {  /* breakpoint for large screens */
    
}
    
