footer {
    background-color: #f88088;
    height: 70px;
    overflow: hidden; /* ensures the content outside the div boundaries is hidden */
    position: relative;
}

.footer-text {
    white-space: nowrap;
    position:absolute;
    top: 50%; 
    left: 100%; /* start off-screen to the right */
    transform: translateY(-50%);
    font-size: 24px; 
    color: white;

    /* Animation */
    animation: slideText 60s linear infinite; 
}

@keyframes slideText {
    0% {
        left: 0; 
    }
    100% {
        left: -1000%; /* Adjust this to control the restart point */
    }
}



