/* Basic styling for the footer */
.rotating-footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px;
}

/* Style the text that rotates */
.rotate p {
  display: none;
}

/* Define the animation */
@keyframes rotateText {
  0%,
  100% {
    opacity: 0;
    transform: rotateY(-180deg);
  }
  5%,
  95% {
    opacity: 1;
    transform: rotateY(0deg);
  }
}

/* Apply the animation to the rotating text */
.rotate p {
  color: #fff;
  animation: rotateText 10s linear infinite;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}
