.footer-container {
  position: relative;
  width: 100%;
  height: 100px;
  background-color: #FF4575;
}

.ticker {
  overflow: hidden;
  width: 100%;
  height: 100%;
  position: relative;
  white-space: nowrap;
}

.ticker-item {
  display: inline-block;
  height: 100%;
  animation: moveTicker 10s linear infinite;
}

@keyframes moveTicker {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}
