@keyframes wave-animation {
  0% {
    transform: rotate(0deg) scaleX(-1);
  }

  10% {
    transform: rotate(-10deg) scaleX(-1);
  }

  20% {
    transform: rotate(12deg) scaleX(-1);
  }

  30% {
    transform: rotate(-10deg) scaleX(-1);
  }

  40% {
    transform: rotate(9deg) scaleX(-1);
  }

  50% {
    transform: rotate(0deg) scaleX(-1);
  }

  to {
    transform: rotate(0deg) scaleX(-1);
  }
}
