@import "./fonts.css";
@import "./reset.css";
@import "./variables.css";

*:focus-visible {
  outline: 2px solid var(--color-headings);
  outline-offset: 2px;
}

body {
  font-family: var(--font-family-body);
  font-weight: var(--font-weight-light);
  line-height: var(--line-height-default);
  color: var(--color-text);
  background-color: var(--color-background-main);
}

/* ***************************************
 Typography
 *************************************** */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-family-headings);
  line-height: var(--line-height-heading);
  color: var(--color-headings);
}

.heading-xl {
  font-size: var(--font-size-heading-xl);
  font-weight: var(--font-weight-light);
  line-height: var(--line-height-compact);
}

h1,
.heading-lg {
  font-size: var(--font-size-heading-lg);
  font-weight: var(--font-weight-regular);
}

h2,
.heading-md {
  font-size: var(--font-size-heading-md);
  font-weight: var(--font-weight-medium);
}

h3,
.heading-sm {
  font-size: var(--font-size-heading-sm);
  font-weight: var(--font-weight-medium);
}

.section-heading {
  font-family: var(--font-family-headings);
  font-size: var(--font-size-heading-xs);
  font-weight: var(--font-weight-medium);
  color: var(--color-headings);
  text-transform: uppercase;
  letter-spacing: 2%;
}

p {
  font-size: var(--font-size-large);
}

/* ***************************************
 Grid classes
 *************************************** */

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 var(--spacing-6);

  .grid-container {
    padding: 0;
  }
}

/* Tablet screens and above */
@media (min-width: 768px) {
  .grid-container {
    grid-template-columns: repeat(4, 1fr);
  }
}

/* Large screens */
@media (min-width: 1025px) {
  .grid-container {
    grid-template-columns: repeat(12, 1fr);
    padding: 0;
    gap: 2rem;
  }
}

/* Column Span Utility Classes */
.col-1 {
  grid-column: span 1;
}
.col-2 {
  grid-column: span 2;
}
.col-3 {
  grid-column: span 3;
}
.col-4 {
  grid-column: span 4;
}
.col-5 {
  grid-column: span 5;
}
.col-6 {
  grid-column: span 6;
}
.col-7 {
  grid-column: span 7;
}
.col-8 {
  grid-column: span 8;
}
.col-9 {
  grid-column: span 9;
}
.col-10 {
  grid-column: span 10;
}
.col-11 {
  grid-column: span 11;
}
.col-12 {
  grid-column: span 12;
}

@media (min-width: 768px) and (max-width: 1025px) {
  .col-md-1 {
    grid-column: span 1;
  }
  .col-md-2 {
    grid-column: span 2;
  }
  .col-md-3 {
    grid-column: span 3;
  }
  .col-md-4 {
    grid-column: span 4;
  }
  .col-md-5 {
    grid-column: span 5;
  }
  .col-md-6 {
    grid-column: span 6;
  }
  .col-md-7 {
    grid-column: span 7;
  }
  .col-md-8 {
    grid-column: span 8;
  }
  .col-md-9 {
    grid-column: span 9;
  }
  .col-md-10 {
    grid-column: span 10;
  }
  .col-md-11 {
    grid-column: span 11;
  }
  .col-md-12 {
    grid-column: span 12;
  }
}

@media (min-width: 1025px) {
  .col-lg-1 {
    grid-column: span 1;
  }
  .col-lg-2 {
    grid-column: span 2;
  }
  .col-lg-3 {
    grid-column: span 3;
  }
  .col-lg-4 {
    grid-column: span 4;
  }
  .col-lg-5 {
    grid-column: span 5;
  }
  .col-lg-6 {
    grid-column: span 6;
  }
  .col-lg-7 {
    grid-column: span 7;
  }
  .col-lg-8 {
    grid-column: span 8;
  }
  .col-lg-9 {
    grid-column: span 9;
  }
  .col-lg-10 {
    grid-column: span 10;
  }
  .col-lg-11 {
    grid-column: span 11;
  }
  .col-lg-12 {
    grid-column: span 12;
  }
}

/* ***************************************
 Spacing classes
 *************************************** */

.section-spacing {
  padding-top: var(--spacing-10);
  padding-bottom: var(--spacing-10);

  @media (min-width: 768px) {
    padding-top: var(--spacing-11);
    padding-bottom: var(--spacing-11);
  }

  @media (min-width: 1025px) {
    padding-top: var(--spacing-12);
    padding-bottom: var(--spacing-12);
  }
}
