@import "./fonts.css";
@import "./reset.css";
@import "./variables.css";

body {
  font-family: var(--font-family-body);
  font-weight: var(--font-weight-300);
  line-height: var(--line-height-default);
  background-color: var(--color-background-main);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-family-headings);
  font-weight: var(--font-weight-500);
  line-height: var(--line-height-heading);
}
