:root {
  /* Color Palette */
  --color-neutral-950: #1d1f21;
  --color-neutral-900: #2b2d31;
  --color-neutral-800: #323437;
  --color-neutral-700: #4a4d53;
  --color-neutral-300: #d5dee6;
  --color-neutral-200: #e9f2f9;
  --color-neutral-50: #fff;
  --color-headings: var(--color-neutral-900);
  --color-text: var(--color-neutral-700);
  --color-text-inverted: var(--color-neutral-50);
  --color-text-footer: var(--color-neutral-50);
  --color-background-main: var(--color-neutral-50);
  --color-background-subtle: var(--color-neutral-200);
  --color-background-subtle-alternative: var(--color-neutral-200);
  --color-background-footer: var(--color-neutral-900);
  --color-border-footer: var(--color-neutral-700);
  --color-border-default: var(--color-neutral-300);

  /* Buttons */
  --color-button-primary-bg: var(--color-neutral-900);
  --color-button-primary-border: var(--color-neutral-900);
  --color-button-primary-text: var(--color-neutral-50);

  --color-button-secondary-text: var(--color-neutral-900);
  --color-button-secondary-border: var(--color-neutral-900);

  --color-button-inverted-text: var(--color-neutral-50);
  --color-button-inverted-border: var(--color-neutral-700);

  /* Body Typography */
  --font-family-body: "Chivo", "Helvetica Neue", Arial, sans-serif;
  --font-size-small: 0.875rem;
  --font-size-medium: 1rem;
  --font-size-large: 1.125rem;
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --line-height-default: 1.5;

  @media (min-width: 744px) {
    --font-size-small: 1rem;
    --font-size-medium: 1.25rem;
    --font-size-large: 1.25rem;
  }

  @media (min-width: 1200px) {
    --font-size-small: 1rem;
    --font-size-medium: 1.25rem;
    --font-size-large: 1.5rem;
  }

  /* Heading Typography */
  --font-family-headings: "Clash Display", "Helvetica Neue", Arial, sans-serif;
  --font-size-heading-xl: 2.25rem;
  --font-size-heading-lg: 1.5rem;
  --font-size-heading-md: 1.25rem;
  --font-size-heading-sm: 1.125rem;
  --font-size-heading-xs: 0.75rem;
  --line-height-heading: 128%;
  --line-height-compact: 105%;

  @media (min-width: 345px) {
    --font-size-heading-xl: 2.875rem;
    --font-size-heading-lg: 1.75rem;
    --font-size-heading-md: 1.5rem;
    --font-size-heading-sm: 1.25rem;
  }

  @media (min-width: 744px) {
    --font-size-heading-xl: 3.5rem;
    --font-size-heading-lg: 2.75rem;
    --font-size-heading-md: 2rem;
    --font-size-heading-sm: 1.5rem;
    --font-size-heading-xs: 1rem;
  }

  @media (min-width: 1200px) {
    --font-size-heading-xl: 6rem;
    --font-size-heading-lg: 4.5rem;
    --font-size-heading-md: 2.75rem;
    --font-size-heading-sm: 1.75rem;
    --font-size-heading-xs: 1.25rem;
  }

  /* Spacing */
  --spacing-1: 0.125rem; /* 2px */
  --spacing-2: 0.25rem; /* 4px */
  --spacing-3: 0.5rem; /* 8px */
  --spacing-4: 0.75rem; /* 12px */
  --spacing-5: 1rem; /* 16px */
  --spacing-6: 1.25rem; /* 20px */
  --spacing-7: 1.5rem; /* 24px */
  --spacing-8: 1.75rem; /* 28px */
  --spacing-9: 2rem; /* 32px */
  --spacing-10: 2.5rem; /* 40px */
  --spacing-11: 3.75rem; /* 60px */
  --spacing-12: 5rem; /* 80px */
  --spacing-13: 6.25rem; /* 100px */

  /* Border-radius */
  --border-radius-sm: var(--spacing-3);
  --border-radius-md: var(--spacing-4);
  --border-radius-lg: var(--spacing-6);
}

[data-theme="dark"] {
  --color-background-main: var(--color-neutral-900);
  --color-background-subtle: var(--color-neutral-800);
  --color-background-subtle-alternative: var(--color-neutral-950);
  --color-background-footer: var(--color-neutral-950);
  --color-headings: var(--color-neutral-50);
  --color-text: var(--color-neutral-200);
  --color-text-inverted: var(--color-neutral-900);
  --color-border-default: var(--color-neutral-700);

  /* Buttons */
  --color-button-primary-bg: var(--color-neutral-200);
  --color-button-primary-border: var(--color-neutral-200);
  --color-button-primary-text: var(--color-neutral-950);

  --color-button-secondary-text: var(--color-neutral-200);
  --color-button-secondary-border: var(--color-neutral-200);
}
