:root {
  /* Color Palette */
  --color-primary: #6be98e;
  --color-neutral-900: #2b2d31;
  --color-neutral-700: #4a4d53;
  --color-neutral-200: #e9f2f9;
  --color-neutral-50: #fff;
  --color-headings: var(--color-neutral-900);
  --color-text: var(var(--color-neutral-700));
  --color-background-main: var(var(--color-neutral-50));

  /* Body Typography */
  --font-family-body: "Chivo", "Helvetica Neue", Arial, sans-serif;
  --font-size-small: 0.875rem;
  --font-size-medium: 1rem;
  --font-size-large: 1.125rem;
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --line-height-default: 1.5;

  /* Heading Typography */
  --font-family-headings: "Clash Display", "Helvetica Neue", Arial, sans-serif;
  --font-size-heading-xl: 2.875rem;
  --font-size-heading-lg: 1.75rem;
  --font-size-heading-md: 1.25rem;
  --font-size-heading-sm: 1rem;
  --line-height-heading: 1.2;

  /* Spacing */
  --spacing-1: 0.125rem; /* 2px */
  --spacing-2: 0.25rem; /* 4px */
  --spacing-3: 0.5rem; /* 8px */
  --spacing-4: 0.75rem; /* 12px */
  --spacing-5: 1rem; /* 16px */
  --spacing-6: 1.25rem; /* 20px */
  --spacing-7: 1.5rem; /* 24px */
  --spacing-8: 1.75rem; /* 28px */
  --spacing-9: 2rem; /* 32px */
  --spacing-10: 2.5rem; /* 40px */
  --spacing-11: 3.75rem; /* 60px */
  --spacing-11: 5rem; /* 80px */
  --spacing-12: 6.25rem; /* 100px */
}

[data-theme="dark"] {
  --color-background-main: var(--color-neutral-900);
}
