.article {
  display: flex;
  flex-direction: column;
  flex: 1 1 100%;
  gap: var(--spacing-6);
  margin-bottom: var(--spacing-6);
  min-width: 17.5rem;

  @media screen and (max-width: 320px) {
    min-width: 15.5rem;
  }

  @media screen and (min-width: 744px) {
    gap: var(--spacing-7);
  }

  @media screen and (min-width: 1200px) {
    margin-bottom: 0;
  }

  .article__text {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-3);
  }

  img {
    width: 100%;
    height: auto;
  }
}
