@import "../../styles/animations.css";

.wave {
  animation-name: wave-animation;
  animation-duration: 2.5s;
  animation-iteration-count: 1;
  animation-delay: 1s;
  transform-origin: 70% 70%;
  transform: scaleX(-1);
  transform-origin: bottom;
  display: inline-block;
}

.hero {
  padding-top: calc(var(--spacing-12) * 1.4);
  padding-bottom: var(--spacing-10);

  @media screen and (min-width: 768px) {
    padding-top: calc(var(--spacing-12) * 1.5);
    padding-bottom: calc(var(--spacing-12) * 1.5);
  }

  @media screen and (min-width: 1200px) {
    padding-top: calc(var(--spacing-12) * 2);
    padding-bottom: calc(var(--spacing-12) * 2);
  }
}

.hero__title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--spacing-8);
  text-wrap: pretty;
}
