@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }

  10% {
    transform: rotate(-10deg);
  }

  20% {
    transform: rotate(12deg);
  }

  30% {
    transform: rotate(-10deg);
  }

  40% {
    transform: rotate(9deg);
  }

  50% {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(0deg);
  }
}

.wave {
  -webkit-animation-name: wave-animation;
  animation-name: wave-animation;
  -webkit-animation-duration: 2.5s;
  animation-duration: 2.5s;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
  transform-origin: 70% 70%;
  display: inline-block;
}

.hero {
  padding: 0;

  @media screen and (min-width: 768px) {
    padding: 0 3rem;
  }

  @media screen and (min-width: 1025px) {
    padding: var(--spacing-12) var(--spacing-11);
  }
}

.hero__title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--spacing-8);
  text-wrap: pretty;
}

.pill {
  display: inline-flex;
  align-items: center;
  gap: var(--spacing-4);
  padding-right: var(--spacing-4);
  background-color: var(--color-neutral-200);
  border: 0.25rem solid var(--color-neutral-200);
  border-radius: 6rem;
  font-size: var(--font-size-heading-sm);
  font-weight: var(--font-weight-regular);

  @media screen and (min-width: 1025px) {
    gap: var(--spacing-8);
    padding-right: var(--spacing-8);
  }
}

.pill__avatar {
  border-radius: 6rem;
  background-color: var(--color-neutral-50);
  border: 0.25rem solid var(--color-neutral-200);

  height: 2.5rem;
  width: 2.5rem;

  @media screen and (min-width: 1025px) {
    height: 4.5rem;
    width: 4.5rem;
  }
}

.pill__text {
  line-height: 1;
}
