.section-projects {
  padding-left: var(--spacing-3);
  padding-right: var(--spacing-3);

  @media screen and (min-width: 768px) {
    padding-left: var(--spacing-10);
    padding-right: var(--spacing-10);
  }

  @media screen and (min-width: 1025px) {
    padding-left: var(--spacing-11);
    padding-right: var(--spacing-11);
  }

  .section-heading {
    margin-bottom: var(--spacing-7);
  }
}

.projects {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-10);
}
