.talk-card {
  width: 100%;
  background-color: white;
}

.talk-card h2 {
  align-self: center;
}

.profile-img {
  height: 164px;
  border-radius: 164px;
  margin-top: 16px;
  align-self: center;

}

.content-card {
  color: black;
  padding: 64px 16px;
  display: flex;
  flex-direction: column;
}

.contact-section {
  margin: 64px 10px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.icons-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 32px;
}