.talk-card {
  width: 100%;
  background-color: white;
}

.talk-card h2 {
  align-self: center;
}

.talk-card img {
  width: 164px;
  height: 164px;
  border-radius: 164px;
  margin-top: 16px;
  align-self: center;

}

.content-card {
  color: black;
  padding: 64px 16px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.contact-section {
  margin: 64px 10px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  text-align: left;
}