.skill-section {
  display: flex;
  flex-direction: column;
  margin: 64px 16px;
  gap: 24px;
}

.skill-category {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.skill-category ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

