.skill-section {
    display: flex;
    flex-direction: column;
    margin: 64px 16px;
}

.skill-section h2 {
    align-self: center;
}

.skill-category {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.skill-category ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.skills-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}