.arrow {
    width: 27px;
    height: 68px;
    flex-shrink: 0;
    animation: bounce 1s ease-in infinite alternate;
}

@keyframes bounce {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }
}