.articles {
  background-color: #ffecea;
  background-image: url("../assets/divider.svg");
  background-repeat: repeat-x;
  background-position: center -5px;
  padding-top: 5px;
  padding-bottom: 64px;
  position: relative;
  z-index: 1;
}

.articles h1 {
  color: #ff4575;
}
