.bio-card {
  background-color: #000;
  max-width: 782px;
  /* Prevents the card from getting too wide */
  width: 100%;
  /* Responsive width */
  margin: 0 auto;
  /* Center the card */
  padding: 64px 0px 128px 0px;

}

.bio-card .bio-heading,
.bio-text {
  color: #FFF;
}

.bio-text {
  text-align: center;
  font-size: 1.125rem;
  /* Keep your current font size */
  font-style: normal;
  font-weight: 400;
  display: block;
  margin-top: 10px;
  overflow-wrap: break-word;

}

/* Media query for smaller screens */
@media (max-width: 768px) {
  .bio-card {
    padding: 4rem 1.5rem 8rem 1.5rem;
    /* Adjust padding */
  }
}


@media (max-width: 480px) {
  .bio-card {
    padding: 4rem 1rem 4rem;
    /* Adjust padding */
  }

  .bio-text {
    font-size: 1rem;
    /* Slightly smaller font size on small screens */
  }
}
