.contact-section {
  display: flex;
  flex-direction: column;
  padding: 4rem 1rem;
  gap: 1rem;
  grid-column: 1 / -1;
}

.contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
  align-self: stretch;
}

.contact-photo-container {
  width: 10.25rem;
  height: 10.25rem;
  border-radius: 10.25rem;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-photo {
  width: 150%;
  height: auto;
  object-fit: cover;
  object-position: bottom;
}

.contact-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
  width: 100%;
  padding-left: 1rem;
}

.contact-info p {
  font-size: 1.5rem;
  font-weight: 500;
}

.social-links {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  gap: 2rem;
}

/* Tablet */
@media (min-width: 768px) and (max-width: 1023px) {
  .contact-section {
    padding: 8rem 0rem;
  }

  .contact-info {
    width: 50%;
    align-items: center;
    padding-left: 0;
  }

  .contact-info p {
    font-size: 1.5rem;
  }
}

/* Desktop */
@media (min-width: 1024px) {
  .contact-section {
    padding: 8rem 0rem;
  }

  .contact-info {
    width: 60%;
    align-items: center;
    padding-left: 0;
  }

  .contact-info p {
    font-size: 1.875rem;
    font-weight: 600;
  }
}
