.contact-info-wrapper {
    display: inline-flex;
    padding: 64px 32px 64px 33px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

.contact-info {
    padding: 0;
}

.socials {
    list-style: none;
    display: flex;
    flex-direction: row;
    padding: 0;
    gap: 32px;
    width: 100%;
}

.socials li svg {
    width: 32px;
    height: 32px
}

.socials li:hover {
    filter: invert(1);
}