.contact-info-wrapper {
    display: flex;
    padding: 128px 32px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 64px;
}

.contact-info {
    padding: 0;
    font-size: 24px;
    font-family: var(--heading-font);
    font-weight: 600;
}

.socials {
    list-style: none;
    display: flex;
    flex-direction: row;
    padding: 0;
    gap: 32px;
    width: 100%;
}

.socials li svg {
    width: 32px;
    height: 32px
}

.socials li:hover {
    filter: invert(1);
}

/********* MEDIA QUERIES *********/
/********* TABLETS *********/
@media (min-width: 376px) {
    .contact-info-wrapper {
        padding: 128px 217px;
        gap: 128px;
    }
}

/********* DESKTOP max-width 1280px *********/
@media (min-width: 745px) {
    .contact-info-wrapper {
        padding: 128px 433px;
    }

    .contact-info {
        font-size: 32px;
    }
}

/********* DESKTOP max-width 1512px *********/
@media (min-width: 1281px) {
    .contact-info-wrapper {
        padding: 128px 500px;
    }
}