 .projects-section {
   background-color: #FFF;
   width: 100%;
   align-items: center;
   display: flex;
   flex-direction: column;
   box-sizing: border-box;
   overflow: hidden;
   /* Prevent any overflow on smaller screens */
   width: 100vw;
   padding-bottom: 128px;
   /* Full viewport width */
 }

 .heading2.projects-heading{
   color: #000;
   max-width: 74rem;
   padding: 8rem 0rem;
   flex-direction: column;
   text-align: center;
 }

 .project-cards {
   display: flex;
   flex-wrap: wrap;
   /* Allow wrapping of project cards */
   justify-content: center;
   /* Center the cards */
   gap: 8rem;
   /* Space between cards */
   width: 100%;
   /* Full width */
 }

 @media (max-width: 768px) {
   .project-cards {
     flex-direction: column;
     /* Stack project cards vertically */
     align-items: center;
     /* Center cards horizontally */
     padding: 2rem 1.5rem 4rem;
     gap: 4rem; 
   }
 

 .heading2.projects-heading {
  padding: 4rem 1.5rem 0rem;
 }
}

 @media (max-width: 480px) {
   .projects-heading2 {
     font-size: 4rem;
     /* Adjust size for mobile */
   }

   .projects-section {
    padding-bottom:4rem;
   }
 }