 .projects-section {
   background-color: #FFF;
   width: 100%;
   align-items: center;
   display: flex;
   flex-direction: column;
   box-sizing: border-box;
   overflow: hidden;
   /* Prevent any overflow on smaller screens */
   width: 100vw;
   padding-bottom: 128px;
   /* Full viewport width */
 }

 .projects-heading {
   color: #000;
   max-width: 74rem;
   padding: 8rem 0rem;
   flex-direction: column;
   text-align: center;
   gap: 8rem;
 }

 .project-cards {
   display: flex;
   flex-wrap: wrap;
   /* Allow wrapping of project cards */
   justify-content: center;
   /* Center the cards */
   gap: 8rem;
   /* Space between cards */
   width: 100%;
   /* Full width */
 }

 @media (max-width: 768px) {
   .project-cards {
     flex-direction: column;
     /* Stack project cards vertically */
     align-items: center;
     /* Center cards horizontally */
   }
 }

 @media (max-width: 480px) {
   .projects-heading {
     font-size: 4rem;
     /* Adjust size for mobile */
     padding: 4rem 0;
     /* Adjust padding if needed */
   }
 }