.footer {
  /* position: fixed; */
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #ff4575;
  color: #fff;
}

.footer-content {
  text-align: center;
  padding: 10px;
  animation: slide 10s linear infinite; /* Add a sliding animation */
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%); /* Move the text from left to right */
  }
}
