.header {
  background-color: #ffffff;

  text-align: center;
  width: 375px;
  height: 592px;
  padding: 64px 16px 64px 16px;
  grid-column: 1 / 4;
}

.my-image {
  max-width: 164px;
  height: auto;
  border-radius: 50%;
  padding-bottom: 20px;
  width: 80%; /* responsive width */
}

.header h1 {
  font-family: Montserrat;
  color: black;
  font-size: 14px;
  font-weight: 600;
  line-height: 12px;
  letter-spacing: 0em;
  text-align: left;
  max-width: 90%; /* responsive width */
}

.header h2 {
  font-family: Montserrat;
  font-size: 30px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0em;
  text-align: left;
  color: #0b24f5;
  max-width: 90%; /* responsive width */
  padding-bottom: auto;
}

.header .wrapper p {
  font-family: "Hind", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  color: black;
}

/* For tablets and above */
@media (min-width: 768px) {
  .header {
    flex-direction: row;
    justify-content: space-between;
  }

  /* .header .wrapper {
    grid-column: 2 / 7;
  } */

  .my-image {
    width: 164px;
    height: 164px;
  }

  .header h1,
  h2 {
    max-width: 60%;
  }

  .header h2 {
    font-size: 32px; /* revert to original size */
    line-height: 39px;
  }
}

/* For desktops and above */
@media (min-width: 1024px) {
  .header .wrapper {
    grid-column: 3 / 11;
  }

  .my-image {
    width: 180px;
    height: 180px;
  }

  .header h1 {
    font-size: 24px;
    line-height: 28px;
  }
}
