@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Amatic+SC:wght@700&family=Hind:wght@300;400;500;600;700&family=Montserrat:wght@300;600;700&family=Quicksand:wght@700&family=Roboto+Mono:ital,wght@1,700&family=Roboto+Serif:ital,opsz,wght@1,8..144,900&display=swap");

h1 {
  font-family: Montserrat;
  font-size: 56px;
  font-weight: 700;
  line-height: 98px;
  letter-spacing: 0em;
  text-align: center;
  color: #0b24f5;
  margin-top: 128px;
  margin-bottom: 64px;
}

@media (min-width: 667px) and (max-width: 1024px) {
  h1 {
    font-size: 56px;
  }
}
@media (min-width: 1025px) {
  h1 {
    font-size: 80px;
  }
}
