.introduction-wrapper {
    display: flex;
    padding: 16px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #FFF;
    gap: 32px;
    text-align: left;
}

.profile-pic {
    border-radius: 50%;
    width: 164px;
    height: 164px;
}

.name-title h3 {
    margin: 0;
    align-self: stretch;
    color: #000;
    /* font-family: "Montserrat"; */
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.introduction-wrapper p {
    align-self: stretch;
    color: #000;
    /* font-family: "Hind"; */
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.arrow {
    width: 27px;
    height: 68px;
    flex-shrink: 0;
    animation: bounce 1s ease-in infinite alternate;
}

@keyframes bounce {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }
}

