.introduction-section {
    padding: 64px 0px; 
    display: flex;
    flex-direction: column;
    gap: 32px; 
}

.dark-h2-introduction {
    font-size: 32px;
    color: blue;
}

@media (min-width: 745px) and (max-width: 1279) {
  
}