@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Amatic+SC:wght@700&family=Montserrat:wght@300;600;700&family=Quicksand:wght@700&family=Roboto+Mono:ital,wght@1,700&family=Roboto+Serif:ital,opsz,wght@1,8..144,900&display=swap");

.intro-container {
  margin-bottom: 64px;
  margin-left: 16px;
  margin-right: 16px;
}

img.centered {
  width: 164px;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
}

.intro-container h2 {
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 600;
  text-align: start;
  margin: 0;
  margin-top: 32px;
}

.intro-container h1 {
  margin: 0;
  margin-bottom: 32px;
  font-family: Montserrat;
  font-size: 32px;
  font-weight: 900;
  text-align: start;
}

.arrow-icon {
  display: block;
  margin: 0 auto;
  text-align: center;
}

.intro-container p {
  margin-bottom: 32px;
}

@media (min-width: 768px) {
  .intro-container h2 {
    order: 1;
  }

  .intro-container h1 {
    order: 2;
  }

  .intro-container img.centered {
    order: 3;
    flex: 1;
  }

  .intro-container p {
    order: 4; /* Set the order to display the paragraph second */
    flex: 2; /* Grow to fill available space */
    display: inline-block;
  }

  /* Optionally, you can use justify-content to control alignment */
}
