.article-list-wrapper {
    display: flex;
    flex-direction: column;
    padding: 128px 16px;
    background: #FFECEA;
    gap: 64px;
}

.article-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 64px;
}

/********* MEDIA QUERIES *********/
/********* TABLETS *********/
@media (min-width: 376px) {
    
}

/********* DESKTOP max-width 1280px *********/
@media (min-width: 745px) {

}

/********* DESKTOP max-width 1512px *********/
@media (min-width: 1281px) {

}