.article-list-wrapper {
    padding: 16px 16px 32px 16px;
    background: #FFECEA;
}

.wavy-divider {
    position: relative;
    top: -29px;
    left: -16px;
    z-index: 1;
    width: 375px;
}

.article-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 64px;
}