.project-card2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 128px;
}

@media (min-width: 744px) {
  .featured-projects {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    padding-left: 32px;
  }

  @media (min-width: 1280px) {
    .featured-projects {
      padding-top: 128px;
      padding-bottom: 124px;
      padding-left: 230px;
      padding-right: 230px;
    }
  }
}
