.tag {
  color: white;
  background-color: black;
  display: flex;
  padding: 2px 6px;
  align-items: flex-start;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
