.project-list-wrapper {
    display: flex;
    padding: 64px 16px;
    flex-direction: column;
    align-items: center;
}

.project-list {
    display: flex;
    flex-direction: column;
    gap: 64px;
    width: 100%;
}

/********* MEDIA QUERIES *********/
/********* TABLETS *********/
@media (min-width: 376px) {
    .project-list-wrapper {
        padding: 128px 32px;
        justify-content: center;
        gap: 64px;
    }
}

/********* DESKTOP max-width 1280px *********/
@media (min-width: 745px) {
    .project-list-wrapper {
        padding: 128px;
        gap: 128px;
    }
}

/********* DESKTOP max-width 1512px *********/
@media (min-width: 1281px) {
    .project-list-wrapper {
        padding: 128px 346px;
    }
}