.project-list-wrapper {
    display: flex;
    padding: 64px 16px;
    flex-direction: column;
    align-items: center;
}

.project-list {
    display: flex;
    flex-direction: column;
    gap: 64px;
}