/* Se.projectGrid {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 128px;
  background-image: url("../assets/path.png");
  background-repeat: repeat-x;
} */

/* .projecttech {
  background-color: blue;
} */

.project-grid {
  margin-left: 16px;
  margin-right: 16px;
}

@media (min-width: 744px) {
  .project-grid {
    margin-left: 32px;
    margin-right: 32px;
  }
}

@media (min-width: 1280px) {
  .project-grid {
    margin-left: 230px;
    margin-right: 230px;
  }
}

@media (min-width: 1512px) {
  .project-grid {
    margin-left: 230px;
    margin-right: 230px;
  }
}
