Se.projectGrid {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 128px;
  background-image: url("../assets/path.png");
  background-repeat: repeat-x;
}

/* .projecttech {
  background-color: blue;
} */

.projectCard {
  height: 280px;
  max-width: 100%;
  border: 1px solid red; /* only for a styling during a practise season */
  gap: 128px;
  padding: 10px;
}
