.skills-section {
  background-color: #fff;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  overflow: hidden;
  /* Prevent any overflow on smaller screens */
  width: 100vw;
  /* Full viewport width */
}

.skills-heading {
  color: #000;
  max-width: 74rem;
  padding-top: 8rem;
  flex-direction: column;
  text-align: center;
  gap: 8rem;
}

.skills-list {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 8rem;
  /* Allows items to wrap to the next row */
}

.skill-item {
  flex: 1;
  /* Adjusts to fill available space */
  margin: 0.5rem;
  /* Space between skill items */
  text-align: center;
  /* Centers the text */
  display: flex;
  flex-direction: column;
  /* Stack the button and list vertically */
  align-items: flex-start;
  /* Align items to the start (left) */
}

.sub-skills {
  display: flex;
  flex-direction: column;
  /* Stacks sub-skills vertically */
  margin-top: 0.5rem;
  /* Space between button and sub-skills */
  list-style-type: none;
  /* Removes the bullets */
  text-align: left;
}

.sub-skill {
  margin: 0.25rem 0;
  /* Space between sub-skills */
}

@media (max-width: 768px) {
.skills-list {
flex-direction: column;
}
}



@media (max-width: 480px) {
.skills-heading {
  padding-top: 4rem;
  gap: 1rem;
}

.skills-list {
  flex-direction: column;
  align-items: flex-start;
  padding-bottom: 4rem;
}
}