.skills-wrapper {
    background: var(--primary-one);
    display: flex;
    padding: 128px 80px 128px 80px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 64px;
}

.skill-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 64px;
}

figcaption {
    color: var(--primary-two);
    font-size: 24px;
    font-style: normal;
    font-family: var(--heading-font);
    font-weight: 600;
    line-height: normal;
}

figure ul {
    list-style: none;
    padding: 0;
}

figure ul li {
    color: var(--primary-two);
    font-size: 18px;
    font-family: var(--paragraph-font);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
    white-space: nowrap;
}

.code {
    background-color: var(--hover-pink);
}

.toolbox {
    background-color: #2483E0;
}

.upcoming {
    background-color: #6DB486;
}

.more {
    background-color: #FFDE30;
    color: var(--primary-one);
}

/********* MEDIA QUERIES *********/
/********* TABLETS *********/
@media (min-width: 376px) {
    .skills-wrapper {
        padding: 128px 186px 148px 186px;
    }

    .skill-details {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    
    figcaption, figure ul li {
        text-align: left;
    }
}

/********* DESKTOP max-width 1280px *********/
@media (min-width: 745px) {
    .skills-wrapper {
        padding: 128px 222px;
        gap: 128px;
    }

    .skill-details {
        grid-template-columns: repeat(4, 1fr);
    }

    figcaption {
        font-size: 32px;
    }

    figcaption, figure ul li {
        text-align: left;
    }
}

/********* DESKTOP max-width 1512px *********/
@media (min-width: 1280px) {
    .skills-wrapper {
        padding: 128px 338px;
    }
}