.tech-container {
  background-color: blue;
  padding-top: 128px;
}

.tech-h1 {
  color: white;
  margin-top: 0;
  margin-bottom: 64px;
}

.tech-container p {
  margin-left: 16px;
  margin-right: 16px;
  color: #fff;
  font-family: Hind;
  font-size: 24px;
  font-weight: 600;
  padding-bottom: 128px;
}

/*tablet*/
@media (min-width: 744px) {
  .tech-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .tech-container p {
    width: 616px;
    text-align: center;
  }
}

/*desktop*/

@media (min-width: 1280px) {
  .tech-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 500px;
  }

  .tech-container .tech-h1 {
    margin-left: 128px;
    margin-right: 124px;
    margin-bottom: 160px;
  }

  .tech-container p {
    width: 600px;
    text-align: left;
    margin-right: 128px;
  }
}

/*bigger desktop*/

/* @media (min-width: 1512px) {
  
} */
