.tech-container {
  background-color: blue;
  padding-top: 128px;
}

.tech-h1 {
  color: white;

  margin-bottom: 64px;
}

.tech-container p {
  margin-left: 16px;
  margin-right: 16px;
  color: #fff;
  font-family: Hind;
  font-size: 24px;
  font-weight: 600;
  padding-bottom: 128px;
}
