.tech-card {
  background-color: #000;
  max-width: 782px;
  /* Prevents the card from getting too wide */
  width: 100%;
  /* Responsive width */
  margin: 0 auto;
  /* Center the card */
  padding: 64px 0px 128px 0px;

}

.tech-heading,
.tech-text {
  color: #FFF;
}

.tech-text {
  text-align: center;
  font-size: 1.125rem;
  /* Keep your current font size */
  font-style: normal;
  font-weight: 400;
  /* line-height: 1.5; */
  display: block;
  margin-top: 10px;
  overflow-wrap: break-word;

}
