.tech {
    display: flex;
    padding: 128px 16px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 64px;
    background: var(--primary-one);
    color: var(--primary-two);
    text-align: left;
    font-family: var(--heading-font);
}

.tech p {
    font-family: var(--paragraph-font);
    font-size: 24px;
}

/********* MEDIA QUERIES *********/
/********* TABLETS *********/
@media (min-width: 376px) {
    .tech {
        padding: 256px 64px;
    }

    .tech p {
        text-align: center;
        font-weight: 600;
    }
}

/********* DESKTOP max-width 1280px *********/
@media (min-width: 745px) {
    .tech {
        flex-direction: row;
        height: 980px;
        padding: 0px 128px;
        align-items: center;
        gap: 124px;
        flex-shrink: 0;
    }

    .tech p {
        font-size: 32px;
        font-weight: 600;
        text-align: left;
    }
}

/********* DESKTOP max-width 1512px *********/
@media (min-width: 1281px) {
    .tech {
        padding: 0px 244px;
    }
}