.tech-container {
  background: linear-gradient(
    -45deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size: 400% 400%;
  animation: gradient 25s ease infinite;

  padding-top: 128px;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.tech-h1 {
  color: #fcf4eb;
  margin-top: 0;
  margin-bottom: 64px;
}

.tech-container p {
  margin-left: 16px;
  margin-right: 16px;
  color: #fcf4eb;
  font-family: Hind;
  font-size: 24px;
  font-weight: 600;
  padding-bottom: 128px;
}

/*tablet*/
@media (min-width: 744px) {
  .tech-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 256px;
    padding-bottom: 256px;
    padding-left: 64px;
    padding-right: 64px;
  }

  .tech-container p {
    width: 616px;
    text-align: center;
  }
}

/*desktop*/

@media (min-width: 1280px) {
  .tech-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .tech-container .tech-h1 {
    margin-left: 128px;
    margin-right: 124px;
    margin-bottom: 160px;
  }

  .tech-container p {
    width: 600px;
    text-align: left;
    margin-right: 128px;
  }
}

/*bigger desktop*/

/* @media (min-width: 1512px) {
  
} */
