.tech {
  display: flex;
  background: blue;
  width: 375px;
  height: 616px;
  gap: 64px;
  padding: 128px 16px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.tech h1 {
  text-align: center;
  color: #ffffff;
  font-size: 56px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.tech .wrapper p {
  color: #ffffff;
  font-size: 24px;
  font-family: Hind;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  width: 343px;
}

/* For tablets and above*/
@media (min-width: 376px) and (max-width: 744px) {
  .tech .wrapper {
    display: flex;
    gap: 20px;
  }
}

/* For desktops and above */
@media (min-width: 1024px) {
  .tech .wrapper {
    display: flex;
    gap: 20px;
  }
}
