.articles-section {
  background-color: #000;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  overflow: hidden;
  /* Prevent any overflow on smaller screens */
  width: 100vw;
  /* Full viewport width */
}

.articles-heading {
  color: #FFF;
  max-width: 74rem;
  padding: 8rem 0rem;
  flex-direction: column;
  text-align: center;
  gap: 8rem;
}

.article-cards {
  display: flex;
  flex-wrap: wrap;
  /* Allow wrapping of project cards */
  justify-content: center;
  /* Center the cards */
  gap: 1rem;
  /* Space between cards */
  width: 100%;
  /* Full width */
}