.tech-section {
background-color: #0B24F5;;
}

.h1-techsection {
color: #FFF;
font-family: Montserrat;
font-size: 80px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.p-techsection {
color: #FFF;
font-family: Hind;
font-size: 32px;
font-style: normal;
font-weight: 600;
line-height: normal;
}