.link-linkedin:hover {
    content: url('public/assets/icons/linkedin_black.svg')
}

.link-github:hover {
    content: url ('public/assets/icons/github_black.svg')
}

.link-instagram:hover {
    content: url ('public/assets/icons/instagram_black.svg')
}