.tech {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #0b24f5;
  color: white;
  font-family: "Montserrat", sans-serif;
  text-align: left;
  gap: 64px
  
}
