.social-links {
  display: flex;
  gap: 2rem;
}

.svg-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  display: inline-block;
}

.svg-button img {
  width: 2rem;
  /* Anpassa storlek */
  height: 2rem;
  /* Anpassa storlek */
  display: block;
}