.social-links {
  display: flex;
  gap: 2rem;
}

.svg-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  display: inline-block;
}

.svg-button img {
  width: 2rem;
  height: 2rem;
  display: block;
  transition: transform 0.3s ease;
}

.svg-button:hover img {
  transform: scale(1.2);
}