.article-img {
    box-sizing: border-box; /*Sets the border to an inner border*/
    border: rgba(255, 69, 117, 1) solid; 
    border-width: 0 0 10px 10px; 
    height: 200px; 
    width: 100%; 
    object-fit: cover;
    margin-bottom: 24px; 
    
}