.introduction-container {
  display: flex;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
  align-items: center;
  text-align: left;
  gap: 32px;
  padding: 16px;
  height: 100vh;
  padding-top: 200px;
}

.profile-pic {
  border-radius: 50%;
  width: 164px;
  height: 164px;
}

.intro-title {
  font-weight: 700;
  font-size: 50px;
  color: #0b24f5;
}

.intro-title h2 {
  font-weight: 600;
  font-size: 40px;
  color: black;
  margin: 0;
  line-height: normal;
  align-self: stretch;
}

.intro-content {
  display: flex;
  align-items: center;
  flex-direction: row;
  align-items: center;
}

.intro-content div {
  margin-top: 20px;
}

.intro-content p {
  font-size: 18px;
  font-weight: 400;
  line-height: normal;
  display: flex;
  max-width: 800px;
  margin: 0 auto;
  margin-left: 30px;
}

@media screen and (max-width: 576px) {
  .introduction-container {
    position: relative;
    justify-content: flex-start;
    padding-top: 260px;
  }

  .profile-pic {
    position: absolute;
    top: 64px;
    left: 50%;
    transform: translateX(-50%);
  }

  .intro-title {
    font-size: 28px;
  }

  .intro-title h2 {
    font-size: 18px;
  }

  .intro-content p {
    align-items: center;
    font-size: 15px;
    max-width: 300px;
    margin-left: 0;
  }

  .homescreen-title {
    font-size: 29px;
  }

  .intro-content {
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .introduction-container {
    padding: 30px;
  }

  .intro-title {
    font-size: 40px;
  }

  .intro-content p {
    font-size: 18px;
    max-width: 500px;
  }

  .intro-title {
    font-weight: 700;
    font-size: 30px;
    color: #0b24f5;
  }

  .intro-title h2 {
    font-size: 18px;
  }
}
