.button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px; /* Gap between icon and text */
    font-family: var(--heading-font);
    font-weight: 600;
    background-color: var(--btn-gray); /* Background color for the button */
    border: none;
    border-radius: 40px;
    color: var(--btn-text);
    font-size: 20px;
    padding: 0.5rem 1rem; /* Padding around the text */
    transition: ease 0.3s; /* Transition effect with ease timing */
    width: fit-content; /* Width adjusts to the content */
    height: fit-content; /* Height adjusts to the content */
    cursor: pointer; /* Cursor on hover */
    margin-bottom: 16px; /* Margin at the bottom */
}

/* Remove underline from links */
a {
    text-decoration: none;
}

/* Styling for the "demo" button when hovering */
.demo-btn:hover {
    background-color: var(--primary);
    color: white; /* Change text color to white on hover */
}

/* Styling for the icon inside the "demo" button when hovering */
.demo-btn:hover img {
    filter: brightness(100);
}

/* Styling for the "GitHub" button when hovering */
.github-btn:hover {
    background-color: var(--hover-pink);
    color: white;
}

/* Styling for the icon inside the "GitHub" button when hovering */
.github-btn:hover img {
    filter: brightness(100);
}

/* Styling for the "Read More" button when hovering */
.read-more-btn:hover {
    background-color: var(--hover-yellow);
    color: var(--text);
}

/* Styling for the "Read More" button */
.read-more-btn {
    background-color: white;
}

/* Styling for the icon inside the "Read More" button when hovering */
.read-more-btn:hover img {
    filter: brightness(0);
}