.tech-container {
  display: grid;
  justify-content: center;
  padding: 128px 16px;
  background-color: #0b24f5;
  gap: 64px;
  color: #ffffff;
}

.tech-wrapper h1 {
  text-align: center;
  font-size: 56px;
  font-weight: 700;
}

.tech-stack p {
  font-family: "Hind", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 38, 42px;
}

@media (min-width: 744px) and (max-width: 1279px) {
  .tech-container {
    padding: 256px 64px;
  }

  .tech-stack p {
    text-align: center;
    padding: 0 64px;
  }
}

@media (min-width: 1280px) and (max-width: 1511px) {
  .tech-container {
    display: inline-flex;
    height: 980px;
    padding: 0px 128px 0px 230px;
    justify-content: flex-end;
    align-items: center;
  }

  .tech-wrapper {
    display: flex;
    flex-direction: row;
    gap: 124px;
  }

  .tech-stack p {
    font-size: 32px;
  }
}

@media (min-width: 1512px) {
  .tech-container {
    display: inline-flex;
    height: 980px;
    padding: 0px 244px 0px 346px;
    justify-content: flex-end;
    align-items: center;
  }

  .tech-wrapper {
    display: flex;
    flex-direction: row;
    gap: 124px;
  }

  .tech-stack p {
    font-size: 32px;
  }
}
