.tech-wrapper {
background-color: blue;
display: flex;
justify-content: center;
}

.tech-content {
    padding: 50px;
    gap: 50px;
    width:90%;
    display: flex;
   align-items: center;
   flex-direction: column;
}

.tech-title {
    color: #FFFFFF;
    font-size: 50px;

}

.tech-text {
    color: #FFF;
    word-wrap: break-word;
    font-family: Hind;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

/* Small devices (phones, 600px and under) */
@media (max-width: 600px) {

    .tech-content {
        max-width: 400px;
    }    

    }
    
    /* Medium devices (tablets, 601px - 900px) */
      @media (min-width: 601px) and (max-width: 900px){  /* adjust this breakpoint as needed */
       
        .tech-content {
            padding: 100px;
            max-width: 400px;
        }
    
        .tech-title {
            font-size: 50px;
        }

        .tech-text {
            font-size: 20px;
        }
      }
      
      
      /* Large devices (desktops, 901px - 1200px) */
      @media (min-width: 901px) and (max-width: 1200px){  /* typical desktop breakpoint */
        
        .tech-content{
            flex-direction: row;
            width: 800px;
            padding: 150px;
        }
     
        .tech-title {
            font-size: 80px;
        }

        .tech-text {
            font-size: 25px;
        }
    }
    
      
           
    
    
    /* Extra large devices (large desktops, 1201px and up) */
    @media (min-width: 1201px) {  /* breakpoint for large screens */
        .tech-content{
            flex-direction: row;
            width: 800px;
            padding: 150px;
        }

        .tech-title {
            font-size: 80px;
        }

        .tech-text {
            font-size: 25px;
        }
      
    }
        
    
    
    
    