.tech-container {
  display: grid;
  justify-content: center;
  padding: 128px 16px;
  background-color: #0b24f5;
  gap: 64px;
  color: #ffffff;
}

.tech-wrapper h1 {
  text-align: center;
  font-size: 56px;
  font-weight: 700;
}

.tech-stack p {
  font-family: "Hind", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 38, 42px;
}
