.tech-wrapper {
display: inline-flex;
justify-content: flex-end;
align-items: center;
gap: 124px;
flex-shrink: 0;
background-color: blue;
}

.tech-title {
    color: #FFFFFF;
}

.tech-text {
    color: #FFF;
    font-family: Hind;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}