.tech-section {
  height: 700px;
  /* background: #ad7be9; */
  background-color: #6f1ab6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.tech-wrapper {
  margin: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 64px;
}

.skills-text {
  color: #fff;
  font-family: Hind;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-align: center;
}

@media (min-width: 667px) and (max-width: 1024px) {
  .tech-wrapper {
    width: 616px;
  }
}

@media (min-width: 1025px) {
  .tech-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .skills-text {
    width: 400px;
  }
}
