.tech-container {
  display: grid;
  justify-content: center;
  padding: 128px 16px;
  background-color: #0b24f5;
  gap: 64px;
  color: #ffffff;
}

.tech-wrapper h2 {
  text-align: center;
  font-size: 56px;
  font-weight: 700;
}

.tech-heading {
  font-size: 56px;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

.tech-stack p {
  font-family: "Hind", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 38.42px;
  max-width: 820px;
}
/* ---------- MEDIA QUERIES ---------- */
/* ---------- Tablet and up ---------- */

/* ---------- Tablet only ---------- */
@media (min-width: 744px) {
  .tech-container {
    padding: 256px 64px;
  }

  .tech-stack p {
    text-align: center;
    padding: 0 64px;
    max-width: 950px;
  }
}

/* ------ Desktop only, from 1280px to 1511px------ */
@media (min-width: 1280px) and (max-width: 1511px) {
  .tech-container {
    display: inline-flex;
    height: 980px;
    padding: 0px 128px 0px 230px;
    justify-content: flex-end;
    align-items: center;
  }

  .tech-wrapper {
    display: flex;
    flex-direction: row;
    gap: 124px;
  }

  .tech-wrapper h2 {
    font-size: 80px;
  }

  .tech-stack p {
    font-size: 32px;
    text-align: left;
    line-height: 51.23px;
    max-width: 950px;
  }
}
/* --------- Desktop only, from 1512px --------- */
@media (min-width: 1512px) {
  .tech-container {
    display: inline-flex;
    height: 980px;
    padding: 0px 244px 0px 346px;
    justify-content: flex-end;
    align-items: center;
  }

  .tech-wrapper {
    display: flex;
    flex-direction: row;
    gap: 124px;
    /* max-width: 950px; */
  }

  .tech-wrapper h2 {
    font-size: 80px;
  }

  .tech-stack p {
    max-width: 950px;
  }
}
