.tech-container {
    display: flex;
    background-color: black;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: 'Poppins', sans-serif;
    padding: 50px 0 80px;
}

.tech-container h2 {
    font-size: 80px;
    font-weight: 700;
    margin-bottom: 20px; 
    text-align: center; 
    word-wrap: break-word;
}

.tech-container p {
    font-size: 18px;
    font-weight: 400;
    text-align: center; 
    max-width: 800px;
    line-height: 1.5; 
    margin: 0;
}
