.h3-topsection {
    font-family: Montserrat;
}

.h1-topsection {
color: #0B24F5;
font-family: Montserrat;
font-size: 80px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.p-topsection {
color: #000;
font-family: Hind;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
}