.article-card {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  padding: 1rem;
  border: 1px solid #ccc;
  align-self: stretch;
  width: 74rem;
  gap: 8rem;
  width: 100%;
  /* Allow full width */
  max-width: 74rem;
  /* Limit width for larger screens */
  box-sizing: border-box;
  /* Ensure padding is included in width */
}

.article-image {
  width: 29.9375rem;
  height: auto;
  border-radius: 0.75rem;
}

.article-content {
  color: #FFF;
  padding-bottom: 8rem;
}

@media (max-width: 768px) {
  .article-card {
    flex-direction: column;
    /* Stack on smaller screens */
    align-items: center;
    /* Center align items */
    text-align: left;
    /* Left-align text */
    padding: 0;
    /* Optional: Remove padding from the project card */
  }

  .article-image {
    width: 100%;
    /* Make the image responsive */
    height: auto;
    /* Maintain aspect ratio */
    margin: 0;
    /* Remove any default margin */
    padding: 0;
    /* Ensure padding is zero */
  }

  .article-content {
    padding-bottom: 8rem;
  }
}