.button {
  border-radius: 0.75rem;
  background: #000;
  color: #FFF;
  display: flex;
  width: 18.9375rem;
  height: 3rem;
  padding: 0rem 1rem;
  align-items: center;
  gap: 1rem;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding-top: 2rem;
  /* This will create space between buttons */
}

.button-icon {
  width: 20px;
  /* Adjust the size as needed */
  height: 20px;
  /* Adjust the size as needed */
  flex-shrink: 0;
  /* Prevent icon from shrinking */
  margin-right: 0.5rem;
  /* Space between icon and text */
}

.button:hover {
  background-color: #d0d0d0;
  /* Darker gray on hover */
}