.project-card {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  padding: 1rem;
  border: 1px solid #ccc;
  align-self: stretch;
  width: 74rem;
  gap: 8rem;
}

.project-image {
  /* width: 100%;
  max-width: 300px;
  /* Adjust as needed */
  /* height: auto;
  border-radius: 8px;
  object-fit: cover; */
  width: 29.9375rem;
  height: 29.9375rem;
  border-radius: 0.75rem;
}