.HeaderSection h3 {
    text-align: left;
}

.HeaderSection {
    width: 50%;
    margin: 0 auto;
    text-align: center;
    color: blue;
    padding: 0;
}

.header-text {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.header-text h1 {
    white-space: nowrap;
}

.subPresentation {
    display: flex;
    padding: 10px;
}

.CvPic {
    height: 160px;
    border-radius: 100%;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}