.HeaderSection {
    width: 50%;
    margin: auto;
    color: blue;
}

.presentationContainer {
    width: 50%;
    margin: auto;
}




.subPresentation {
    display: flex;
    padding: 10px;
}

.CvPic {
    height: 150px;
    padding: 10px;
    border-radius: 100px;
    -webkit-filter: grayscale(100%);
    /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}



.projectContainer {
    border: solid black 1px;
    width: 50%;
    margin: auto;
}

.repoTitle {
    color: blue;
}