.project-img {
  box-sizing: border-box; /*Sets the border to an inner border*/
  border: #224941 solid;
  border: #f0bcc4 solid;
  border-width: 0 0 10px 10px;
  height: 280px;
  width: 100%;
  object-fit: cover;
  margin-bottom: 24px;
}

@media (max-width: 1279px) and (min-width: 744px) {
  .project-img {
    width: 280px;
    height: 280px;
    margin-bottom: 0;
  }
}

@media (min-width: 1280px) {
  .project-img {
    width: 280px;
    height: 280px;
    margin-bottom: 0;
  }
}
