.skills-section {
    background-color: #0B24F5;
    padding-top: 5%;
    padding-bottom: 5%;
}

.skills-section h1,
.skills-section h2 {
    color: #FFF;
}

.skills-section h1 {
    padding-bottom: 100px;
}

/* targeting h2 in the mediumsizedtitle component and skill array */
.more h2 {
    color: #0B24F5;
}

.skills-section ul {
    list-style: none;
    padding: 0;
}

.skills-flex {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: center;
    gap: 64px;
}

li {
    text-align: left;
    margin-top: 5px;
    color: #FFF;
    font-family: Hind;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}