.tech {
    text-align: center;
}
.tech span {
    display: block;
}
.tech h4 {
    display: inline-block;
    padding: 0 0.2rem;
}
.tech div {
    margin-bottom: 4rem;
}

.code-skills-header {
    background-color: var(--code-background);
}
.toolbox-skills-header {
    background-color: var(--toolbox-background);
}
.upcoming-skills-header {
    background-color: var(--upcoming-background);
}
.more-skills-header {
    background-color: var(--more-background);
    color: var(--primary-color);
}
