.skills-section {
    background-color: #0B24F5;
    padding-top: 5%;
    padding-bottom: 5%;
}

.skills-section h1 {
    color: #FFF;
}

.skills-section h2 {
    color: #FFF;
}

.skills-section .code h2 {
    background-color: #EB5577;
}

.skills-section .toolbox h2 {
    background-color: #2483e0;
}

.skills-section .upcoming h2 {
    background-color: #6DB486;
}

.skills-section .more h2 {
    background-color: #FFDE30;
    color: #0B24F5;
}

.skills-section ul {
    list-style: none;
}

.skills-flex {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: center;
    gap: 64px;
}

li {
    text-align: left;
}