.profile-img {
    /* Positioning */
    position: absolute;
    right: 230px;
    top: 150px;
    width: 164px;
    height: 164px;

    /*  Ellipse */
    border-radius: 50%;
    object-fit: cover;
}