.circle-image {
    width: 164px;
    height: 164px;
    border-radius: 50%;
    object-fit: cover;
}

.arrow-divider {
    padding: 0 16px 64px 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* Animation to make the arrow move */
    position: relative;
    top: 0;
    /* Animation is animated here */
    animation: arrowMove 1.7s ease-in infinite;
}