@use "../../styles/variables.scss" as *;
.pagenotfound {
  min-height: 92vh;
  min-width: 100vw;
  background-color: $color-secondary-light;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inner_page {
  border: $color-secondary 0.5px solid;
  padding: 40px 30px;
}

.pagenotfound h2 {
  font-size: 26px;
  font-weight: 600;
  font-family: $font-display;
}
