.myWords-wrapper{
    background-color: var(--words-background);
}

.myWords {
    color: var(--color-7);
    font-family: Montserrat;
    font-size: 80px;
    font-weight: 700;
    line-height: normal;
}