.myWords-wrapper{
    background-color: var(--words-background);
}

.myWords {
    color: var(--color-7);
    font-family: Montserrat;
    font-size: 80px;
    font-weight: 700;
    line-height: normal;
    font-style: normal;
}

#pinkPath{
    width: 1512px;
}

.myWords-wrapper h4 {
    color: #000;
font-family: Montserrat;
font-size: 32px;
font-style: normal;
font-weight: 600;
line-height: normal;
}
.myWords-wrapper p {
    color: #000;
font-family: Hind;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
}