/* Component 3 - Featured Projects */

.featured-projects-container {
  background-color: #ffffff;
  color: #0b24f5;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  padding: 5em 0 5em 0;
}

.projects-child {
  grid-column: span 2;
}

.featured-projects-container h1 {
  text-align: center;
  color: blue;
  font-size: 56px;
}

/* grid parent for featured project */
.projects-parent {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  color: black;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.projects-img {
  width: 100%;
  border-bottom: 10px solid #0025ff;
  border-left: 10px solid #0025ff;
  margin-top: 3em;
}

.projects-child img {
  object-fit: contain;
}

.projects-child h2 {
  font-weight: 600;
  font-size: 32px;
  padding: 0 1em 0 1em;
  text-align: left;
}

.projects-child p {
  font-size: 18px;
  padding: 0 1.5em 0 1.5em;
  text-align: left;
}

.live-demo-button,
.view-code-button {
  margin-top: 0.5em;
}

.live-demo-button:hover {
  content: url("/Assets/Live-Demo-Button-Hover.png");
}

.view-code-button:hover {
  content: url("/Assets/View-Code-Button-Hover.png");
}

/*media query for tablet*/
@media screen and (min-width: 668px) and (max-width: 1024px) {
  .featured-projects-container h1 {
    font-size: 56px;
  }

  .projects-child {
    grid-column: span 2;
  }
}

/*media query for desktop */
@media (min-width: 1025px) {
  .projects-parent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    color: black;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .projects-img {
    height: 260px;
    width: 260px;
    border-bottom: 20px solid #0025ff;
    border-left: 20px solid #0025ff;
  }
}
