/* Component 3 - Featured Projects */

/* grid parent for featured projects */
.featured-projects-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1em;
  width: 820px;
  margin: 1em;
}

/* grid child for featured project */
.projects-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: black;
  border: 1px solid black;

  padding: 1em;
}

.projects-box-text h2 {
  font-weight: 600;
  font-size: 32px;
}

.projects-box-img {
  height: 280px;
  border-left: 1px solid #0b24f5;
  border-bottom: 2px solid #0b24f5;
  object-fit: cover;
}
