/* Component 3 - Featured Projects */

.featured-projects-container {
  padding: 1em;
  width: 820px;
  margin: auto;
}

.featured-projects-container h1 {
  text-align: center;
  color: blue;
}

/* grid parent for featured project */
.projects-parent {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  color: black;
  border: 1px solid black;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.projects-img {
  height: 280px;
  background-color: aqua;
}

.projects-child h2 {
  font-weight: 600;
  font-size: 32px;
}

.projects-child p {
  font-size: 18px;
}

.live-demo-button {
  max-width: 30%;
}

.view-code-button {
  max-width: 36%;
}

/*media query for tablet*/
@media screen and (min-width: 668px) and (max-width: 1024px) {
  .featured-projects-container h1 {
    font-size: 56px;
  }

  .projects-child {
    grid-column: span 2;
  }
}

/*media query for mobile*/
@media screen and (max-width: 667px) {
  .featured-projects-container h1 {
    font-size: 32px;
  }

  .projects-child {
    grid-column: span 2;
  }
}
