.tickertape {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  background-color: #ff4575;
  height: 114px;
  width: 100%;
}

.moving-text {
  white-space: nowrap;
  animation: moveLeftToRight 40s linear infinite;
  font-family: Montserrat;
  font-size: 26.04px;
  font-weight: 600;
  color: #ffffff;
  width: 1512px;
}

@keyframes moveLeftToRight {
  0% {
    transform: translateX(100%);
    /* Start from the right of the container. */
  }
  100% {
    transform: translateX(-100%);
    /* Move to the left of the container. */
  }
}
