#liveDemoBtn,
#viewCodeBtn {
border-radius: 40px;
background-color: var(--color-8);
}

.btn a {
    display: flex;
    flex-direction: row;
    padding-right: 16px;
    align-items: center;
    gap: 7px;
    color: var(--color-9);
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    color: var(--color-9);
    text-decoration: none;
}

#liveDemoBtn:hover {
    background-color: var(--color-1);
}

#viewCodeBtn :hover {
    background-color: var(--color-7);
}

#liveDemoBtn,
#viewCodeBtn {
    :hover{
        color: var(--color-2); 
    }
}

#liveDemoBtn,
#viewCodeBtn{
    :hover svg path {
        fill: var(--color-2);
    }
}