.project-wrapper {
    display: flex;
    padding: 128px 16px 208px 16px;
    flex-direction: column;
    align-items: center;
    gap: 64px;
    background-color: var(--color-2);
}

.project {
    color: var(--color-3);
    font-size: 56px;
    font-family: "Montserrat", sans-serif;
   align-self: center;

}

.project-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 64px;
    align-self: stretch;
}

/* adjust photo size later */
.blue {
    width: 343px;
    height: 200px;
    /* border-bottom: 10px solid var(--color-3);
    border-left: 10px solid var(--color-3); */
    object-fit:cover;
    object-position: top;
    border-radius: 13px;
    border:2px solid var(--color-3);
}

.project-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
}

.detail-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    align-self: stretch;
}

.detail {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
}

.description {
    font-size: 18px;
    font-weight: 400;
    font-family: "Hind", sans-serif;
    color: var(--color-3);
    text-align: left;
    word-wrap: break-word;
}

.tag {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 4px;
}

.btn {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
}

@media (min-width:667px) and (max-width:1024px) {
    .project-wrapper {
        padding: 128px 32px;
    }

    .blue {
        width: 200px;
        height: 280px;
    }

    .project-box {
        flex-direction: row;
    }

    .detail-box {
        justify-content: space-between;
    }

    .btn {
        flex-direction: row;
        gap: 32px;
    }
    .project{
        align-self: self-start;
    }
   
}

@media (min-width: 1025px) {
    .project-wrapper {
        padding: 128px 161px 124px 161px;
    }

    .project {
        font-size: 80px;
    }

    .blue {
        width: 408px;
        height: 280px;
    }

    .project-container {
        gap: 128px;
    }

    .project-box {
        flex-direction: row;
    }

    .detail-box {
        justify-content: space-between;
    }

    .btn {
        flex-direction: row;
        gap: 32px;
    }
    .project{
        align-self: self-start;
    }
}