.project {
    color: #0B24F5;
    font-family: Montserrat;
    font-size: 80px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-bottom: 128px;
    justify-items: left;
 
}

.project-wrapper{
    padding: 128px 234px 124px 234px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.detail-container{
    display: grid;
    grid-template-columns: 428px 620px;
    column-gap: 16px;
    row-gap: 128px;
}

.detail {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    flex: 1 0 0;
    align-self: stretch;
}

.projectName{
    color: var(--color-3);
    font-family: Montserrat;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.description {
    color: var(--color-3);
    font-family: Hind;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: left;
}

.btn {
    display: flex;
    align-items: flex-start;
    gap: 32px;
}