.outer_containerWrapperSkills {
    background-color: #0B24F5;
    max-width: 1512px;
    max-height: 980px;
    padding: 332px 300px 332px 300px;
    display: flex;
    justify-content: center;
}

.wrapper_skills {
    margin: auto;
    display: grid;
    grid-gap: 15px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto auto;
    overflow: hidden;
    grid-template-areas:
        "SectionHeader SectionHeader SectionHeader SectionHeader"
        "SmallHeader1 SmallHeader2 SmallHeader3 SmallHeader4"
        "textCode textToolbox textUpcoming textMore"
}

li {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

h1.skillsHeader {
    color: white;
    grid-area: SectionHeader;
    align-self: center;
    justify-self: center;
    padding: 30px;
}

.smallerHeadingSkills {
    color: white;
    white-space: normal;
    word-wrap: break-word;
    display: inline-block;
    white-space: normal;
    max-width: fit-content;
    padding: 3px;
}

.smallerHeadingCode {
    color: #ffffff;
    background-color: #EB5577;
    grid-area: SmallHeader1;
}

.smallerHeadingToolbox {
    color: #ffffff;
    background-color: #2483E0;
    grid-area: SmallHeader2;
}

.smallerHeadingUpcoming {
    color: #ffffff;
    background-color: #6DB486;
    grid-area: SmallHeader3;
}

.smallerHeadingMore {
    color: #0B24F5;
    background-color: #FFDE30;
    grid-area: SmallHeader4;
}

.textBoxCode {
    grid-area: textCode;
    color: #ffffff;
}

.textBoxToolbox {
    grid-area: textToolbox;
    color: #ffffff;
}

.textBoxUpcoming {
    grid-area: textUpcoming;
    color: #ffffff;
}

.textBoxMore {
    grid-area: textMore;
    color: #ffffff;
}


@media screen and (max-width: 1280px) {
    .outer_containerWrapperTech {
        max-width: 1280px;
        max-height: 980px;
        padding: 332px 220px 64px 220px;
    }
}