/* default styling (moible 375px - figmadesign-mobile) */
.heading1 {
  font-size: 60px;
  font-weight: 700;
  line-height: 133.333%;
  margin: 0;
}

.heading2 {
  font-size: 60px;
  font-weight: 700;
  margin: 0;
  text-align: center;
}

.heading3 {
  font-size: 24px;
  font-weight: 500;
  margin: 0;
}

.bodytext {
  font-size: 16px;
  font-weight: 400;
  margin: 0;
}

.bodytext-medium {
  margin: 0;
  font-size: 18px;
}

.bodytext-large {
  font-size: 24px;
  font-weight: 500;
  margin: 0;
}

/* breakpoint for small mobile */
@media (max-width: 375px){
  .heading1 {
    font-size: 50px;
  }
  .heading2 {
    font-size: 55px;
    text-align: center;
  }
  .heading3 {
    font-size: 20px;
  }
  .bodytext-large {
    font-size: 20px;
  }
}

/* Breakpoint for tablet */
@media (min-width: 480px) and (max-width: 768px) {
  .heading1 {
    font-size: 80px;
    line-height: 125%;
  }
}

/* breakpoint for small desktop */
@media (min-width: 769px) and (max-width: 1024px) {
  .heading1 {
    font-size: 100px;
    line-height: normal;
  }
  .heading2 {
    font-size: 80px;
    text-align: center;
  }
  .heading3 {
    font-size: 30px;
  }
  .bodytext {
    font-size: 18px;
  }
  .bodytext-large {
    font-size: 30px;
    font-weight: 600;
  }
}
@media (min-width: 1024px) {
  .heading1 {
    font-size: 100px;
    line-height: normal;
  }
  .heading2 {
    font-size: 80px;
    text-align: center;
  }
  .heading3 {
    font-size: 30px;
  }
  .bodytext {
    font-size: 18px;
  }
  .bodytext-large {
    font-size: 30px;
    font-weight: 600;
  }
}