.heading1 {
  font-size: 50px;
  font-weight: 700;
  line-height: 80px;
  margin: 0;
}

.heading2 {
  font-size: 60px;
  font-weight: 700;
  margin: 0;
}

.heading3 {
  font-size: 20px;
  font-weight: 500;
  margin: 0;
}

.bodytext {
  font-size: 16px;
  font-weight: 500;
  margin: 0;
}

/* Breakpoints for tablet */
@media (min-width: 481px) and (max-width: 768px) {
  .heading1 {
    font-size: 80px;
    line-height: 100px;
  }

  /* .heading2 {
    font-size: 60px;
    font-weight: 800px;
  } */

  /* .heading3 {
    font-size: 24px;
    font-weight: 500;
  } */

  /* .bodytext {
    font-size: 16px;
    font-weight: 400;
  } */
}

@media (min-width: 769px) {
  .heading1 {
    font-size: 100px;
    line-height: normal;
  }

  .heading2 {
    font-size: 80px;
  }

  .heading3 {
    font-size: 30px;
  }

  .bodytext {
    font-size: 18px;
  }
}