:root {
    --darkblue: #200e3a;
    --midblue: #38419d;
    --lightblue: #3887be;
    --green: #52d3d8;
}

.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 64px 16px 0 16px;
    text-align: center;
}

.profile img {
    margin-bottom: 32px;
    height: 164px;
    border-radius: 50%;
}

.person {
    margin-bottom: 16px;
}

.jonas {
    font-weight: 600;
    font-size: 24px;
    font-family: "Montserrat", sans-serif;
}

.job {
    font-weight: 700;
    font-size: 36px;
    color: var(--midblue);
    font-family: "Montserrat", sans-serif;
}

.description {
    margin-bottom: 32px;
    font-family: "Hind", sans-serif;
    font-size: 18px;
    max-width: 600px;
}

.arrow-box {
    text-align: center;
    margin-bottom: 64px;
}

.arrow {
    font-size: 3em;
    animation: bounce 1.5s infinite;
}

@keyframes bounce {

    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(-10px);
    }

    60% {
        transform: translateY(-5px);
    }
}