@use "../../../styles/variables.scss" as *;
@use "../../../styles/mixins.scss" as *;

.title {
  font-family: $font-display;
  font-size: $font-size-xlg;
  font-weight: 600;

  @include md {
    font-size: 32px;
  }
}
