#tagsContainer {
  color: #fff;
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 4px;
}
#tagsContainer p {
  display: flex;
  padding: 2px 6px;
  align-items: flex-start;
  background: #000;
}
