.button-box {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.button {
  border-radius: 40px;
  border: none;
  padding: 8px 16px 8px 8px;
  font-size: 20px;
  background-color: #d0d0d0;
}

.button-flex {
  display: flex;
  align-items: center;
}
.icon {
  font-size: 35px;
  padding-right: 7px;
}

@media (min-width: 620px) {
  .button-box {
    flex-direction: row;
  }
}
