:root {
  --darkblue: #200e3a;
  --midblue: #38419d;
  --lightblue: #3887be;
  --green: #52d3d8;
}

.project-section {
  margin: 128px 16px;
}

.project-title {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 56px;
  font-weight: 700;
  color: var(--midblue);
  margin-bottom: 64px;
}
