:root {
  --darkblue: #200e3a;
  --midblue: #38419d;
  --lightblue: #3887be;
  --green: #52d3d8;
}

.project {
  margin-top: 64px;
}

.image {
  width: 90vw;
  border-bottom: var(--midblue) solid 10px;
  border-left: var(--midblue) solid 10px;
  height: 200px;
  object-fit: cover;
}

.project-box {
  margin: 24px 0;
}

.project-header {
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-weight: 600;
}

.project-description {
  margin: 16px 0;
  font-family: "Hind", sans-serif;
  font-size: 18px;
}

.tags-box {
  display: flex;
  flex-wrap: wrap;
}

.tags {
  padding: 2px 6px;
  background-color: #000000;
  color: #ffffff;
  margin: 0 6px 6px 0;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 600;
}

@media (min-width: 620px) {
  .project {
    display: flex;
  }
  .image {
    height: 280px;
    width: 200px;
    margin-right: 32px;
  }
  .project-box {
    margin: 0 0 32px 0;
  }
}
