:root {
  --darkblue: #200e3a;
  --midblue: #38419d;
  --lightblue: #3887be;
  --green: #52d3d8;
}

.profile {
  display: flex;
  flex-direction: column;
  margin: 64px 16px;
}

.profile img {
  align-self: center;
  margin-bottom: 32px;
  height: 164px;
  border-radius: 50%;
}

.person {
  margin-bottom: 32px;
}

.linda {
  font-weight: 600;
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
}

.job {
  font-weight: 700;
  font-size: 32px;
  color: var(--midblue);
  font-family: "Montserrat", sans-serif;
}

.description {
  margin-bottom: 32px;
  font-family: "Hind", sans-serif;
}

.arrow-box {
  text-align: center;
  margin-bottom: 32px;
}

.arrow {
  font-size: 3em;
  animation: bounce 1.5s infinite;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}
