.bio-container {
  display: flex;
  padding: 128px 0px 128px 0px;
  flex-direction: column;
  align-items: center;
  background-color: var(--primary-color);
  gap: 16px;
  align-self: stretch; 
  width: 1440px;
  height: 500px;
}

.bio-container h2 {
  color: var(--secondary-color);
  text-align: center;
  font-size: 80px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  width: 782px;
}

body {
  color: var(--secondary-color);
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 782px;
}