.featured-projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 64px;
  max-width: 100%;
  width: 100%;
  margin: 0 auto;
}

.featured-projects h2 {
  text-align: center;
  margin-bottom: 4rem;
  color: black;
}

.projects-grid {
  display: flex;
  max-width: 1200px;
  width: 100%;
  flex-direction: column;
  align-items: center;  
}

.project-wrapper {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: flex-start;
}

.project-wrapper:nth-child(even) {
  justify-content: flex-end;
}

.load-more-button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem auto;
  padding: 0.5rem 1rem;
  border: 1px solid #000;
  border-radius: 4px;
  background-color: transparent;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
}

.load-more-button:hover {
  background-color: #f0f0f0;
}

.button-icon {
  margin-right: 0.5rem; 
}

@media screen and (max-width: 860px) {
  .featured-projects {
    width: 100%; 
    max-width: none; 
    margin: 0 auto; 
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .featured-projects h2 {
    font-size: 32px;
    padding-top: 50px;
    padding-bottom: 50px;
    margin: 0;
  }

  .projects-grid {
    display: flex;
    flex-direction: column;
    align-items: center;  
    justify-content: center;
    max-width: none;
  }

  .project-wrapper {
    width: 100%;
    align-items: center;
    justify-content: center;
  }

  .load-more-button {
    position: relative; 
    z-index: 10; 
    padding: 8px;
    border-radius: 8px;
  }
}