img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 2px solid Black;
  margin: 2rem;
}

p,
h1,
h2 {
  text-align: left;
  margin: 0 2rem;
}

.profile {
  background-color: white;
  height: 75vh;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.profile-title {
  display: flex;
  flex-direction: column;
}

.profile-info {
  display: flex;
  align-items: center;
}
