.project-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  gap: 64px;
}

/* --------------- // RESPONSIVE DESIGN // ---------------- */

@media (min-width: 1281px) {
  .project-list {
    gap: 128px;
  }
}
