.contact-section {
  padding: 128px 16px;
}

.contact-container {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 16px;
  row-gap: 64px;
  grid-template-rows: auto;
  grid-template-areas:
    "heading heading heading heading"
    ". image image ."
    "contact contact contact contact"
    "social social social social";
}

.contact-wrapper {
  grid-area: contact;
}

.social-wrapper {
  grid-area: social;
  display: flex;
  gap: 32px;
}

.social-wrapper img:hover {
  filter: invert(100%);
}

/*Media Queries*/
@media all and (min-width: 668px) {
  .contact-section {
    padding: 128px 32px;
  }

  .contact-container {
    grid-template-columns: repeat(8, 1fr);
    grid-template-areas:
      "heading heading heading heading heading heading heading heading"
      ". . . image image . . ."
      " contact contact contact contact contact contact contact contact"
      "social social social social social social social social";
  }
}

@media all and (min-width: 1024px) {
  .contact-section {
    padding: 128px 61px;
  }

  .contact-container {
    grid-template-columns: repeat(12, 1fr);
    grid-template-areas:
      ". heading heading heading heading heading heading heading heading heading heading ."
      ". . . . . image image . . . . ."
      " . contact contact contact contact contact contact contact contact contact contact ."
      ". social social social social social social social  social social social .";
  }
}
