.card-picture-container {
  width: 25rem;
  height: 18.75rem;
  background-color: rgba(253, 111, 0, 0.3);
}

.card-picture-container img {
  width: 25rem;
  height: 18.75rem;
  object-fit: cover;
  filter: brightness(0.7);
  mix-blend-mode: multiply;
}