section {
  width: 375px;
  margin-bottom: 40px;
}

a {
  text-decoration: none;
}

/* --- Heading text styling ----- */
.heading-text {
  text-align: center;
  font-family: Montserrat;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.intro {
  color: #ad7be9;
}

.tech {
  color: #fff;
  margin-bottom: 0;
}

.projects {
  color: #ad7be9;
}
/*----------------------------------*/

/* ---- Media queries ------ */

@media (min-width: 667px) {
  section {
    width: 100%;
    margin: 0;
  }
}

@media (min-width: 1025px) {
  section {
    width: 100%;
    margin: 0;
  }
}

/* ------------------------------- */
