body {
  margin: 0 auto;
  padding: 0;
  background: black;
  font-family: 'Poppins';
  word-wrap: 'break-word';
}

h1 {
  font-size: 60px;
  margin: 16px 0 16px 0;
}

h2 {
  font-size: 60px;
  margin: 0;
}

h3 {
  font-size: 24px;
  margin: 0;
}

p {
  font-family: 'Poppins';
  font-size: 16px;
  margin: 0;
}

@media (min-width: 640px) {
  .grid-section h2 {
    grid-column: span 8;
  }
}

@media (min-width: 1024px) {
  .grid-section h2 {
    grid-column: span 12;
  }

  h1 {
    font-size: 100px;
  }

  h2 {
    font-size: 80px;
  }

  h3 {
    font-size: 30px;
  }
}