#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0;
  text-align: left;
}

.card {
  padding: 2em;
}

.grid-parent {
  display: grid;
  grid-template-columns: 2rem repeat(10, 1fr) 2rem;
  grid-template-rows: 8rem 1fr 8rem;
  min-height: 100vh;
  align-content: center;
}
.light {
  background-color: var(--background-color);
}
.dark {
  background-color: var(--primary-color);
  color: var(--background-color);
}
.pink {
  background-color: var(--tertiary-color);
}
.dark-pink {
  background: var(--secondary-color);
}
.light h1 {
  color: var(--primary-color)
}
.pink h1 {
  color: var(--secondary-color);
}

.section {
  display: inline-grid;
  grid-column: 2/12;
  grid-row: 2/3;
  align-content: center;
}

@media (min-width: var(--tablet-min-width)) and (max-width: (var(--desktop-min-width)-1)) {
  .light{
    background-color: brown;
  }
  .grid-parent{
    grid-template-columns: 4rem repeat(10, 1fr) 4rem;
  }

}
