@import url('https://fonts.googleapis.com/css2?family=Hind:wght@400;600&family=Montserrat:wght@600;700&display=swap');

/* ------------ OVERALL ------------ */
:root {
    /* General settings */
    font-family: var(--paragraph-font);
    font-weight: 400;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

/* ------------ TYPOGRAPHY ------------ */
p.large {
    font-size: 24px;
}

h1 {
    font-size: 32px;
}

h2 {
    font-size: 56px;
}

h1,
h2 {
    font-family: var(--heading-font);
    font-weight: 700;
}

h3 {
    font-size: 24px;
    font-weight: 600;
}

p.normal {
    font-size: 18px;
}

img,
svg {
  display: block;
  max-width: 100%;
}

.wavy-line-wrapper {
  overflow: hidden;
  position: relative;
  margin-top: -20px;
}

.wavy-line-wrapper > img {
  position: relative;
  top: 15px;
  z-index: 1;
}

.wavy-line-wrapper > div {
  position: relative;
}

.wavy-line {
  max-width: none;
}

/* ------------ MEDIA QUERIES ------------ */
/* ------------ Tablet and up ------------ */
@media (min-width: 744px) {

    h1,
    h2 {
        font-size: 56px;
    }

    p.large {
        font-size: 32px;
    }

}

/* ------------ Tablet only ------------ */
@media (max-width: 1279px) and (min-width: 744px) {

    h1,
    h2 {
        font-size: 56px;
    }

    h3 {
        font-size: 24px;
    }

}

/* ------------ Desktop only ------------ */
@media (min-width: 1280px) {

    h1,
    h2 {
        font-size: 80px;
    }

    h3 {
        font-size: 32px;
    }

}