@import url('https://fonts.googleapis.com/css2?family=Hind:wght@400;600&family=Montserrat:wght@600;700&display=swap');
body {
  font-family: "Hind", sans-serif;
  font-family: "Montserrat", sans-serif;
  margin: 0;
}

section {
  width: 100%;
    margin-bottom: 40px;
}

.main-wrapper {
  max-width: 100vh;
}

a {
  text-decoration: none;
}

/* --- Heading text styling ----- */
.heading-text {
  text-align: center;
  font-family: "Montserrat";
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.intro {
  color: #6f1ab6;
}

.tech {
  color: #fff;
  margin-bottom: 0;
}

.projects {
  color: #6f1ab6;
}

.my-words {
  color: #6f1ab6;
  margin: 0;
  width: fit-content;
}

.skills {
  color: #fff;
  margin-bottom: 0;
}

.lets-talk {
  color: #6f1ab6;
}

/*----------------------------------*/

/* ---- Media queries ------ */

@media (min-width: 667px) and (max-width: 1024px) {
  section {
    /* width: 100%; */
    margin: 0;
  }
}

@media (min-width: 1025px) {
  section {
    /* width: 100%; */
    margin: 0;
  }

  .heading-text {
    font-size: 80px;
  }

  .tech {
    margin: 0;
  }
}

/* ------------------------------- */
