@import url("https://fonts.googleapis.com/css2?family=Hind:wght@300;400;600;700&family=Roboto:wght@300;400;500;700&family=Montserrat:wght@300;400;600;700&display=swap");

code {
  font-family: "Hind", sans-serif;
  font-family: "Montserrat", sans-serif;
  font-family: "Roboto", sans-serif;
}

body,
html {
  width: 100%;
  height: 100%;
  background-color: #ffffff;
}

.grid-parent {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.tech .header .wrapper {
  grid-column: 1 / 5;
}

/* For tablets and above */
@media (min-width: 744px) and (max-width: 1280px) {
  .grid-parent {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
  }
}
@media (min-width: 1281px) {
  .grid-parent {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
  }
}
