/* ------------ CUSTOM PROPERTIES ------------ */
:root {
  /* Colors */
  --primary: #0B24F5;
  --secondary: #FF4575;
  --light-secondary: #FFECEA;
  --btn-gray: #F5F5F5;
  --btn-text: #333;
  --hover-pink: #EB5577;
  --hover-yellow: #FFD338;
  --text: #000000;

  /* Font */
  --heading-font: 'Montserrat', sans-serif;
  --paragraph-font: "Hind", sans-serif;

  /* Other styles */
  --corner-radius: 40px;
}

/* Removes margin on all relevant tags. Body for an edge-to-edge look on sections, and headings/paragraphs to easier follow sketch */
body,
h1,
h2,
h3,
p {
  margin: 0;
}