/*---------- GOOGLE FONTS - MONTSERRAT AND HIND ----------*/
@import url("https://fonts.googleapis.com/css2?family=Hind&family=Montserrat:wght@400;600;700&display=swap");

/*---------- CSS VARIABLES ----------*/
:root {
  /*---------- Colors ----------*/
  --black: #1f1e1c;
  --white50: rgba(255, 255, 255, 0.5);
  --pink: #ed4264;
  --yellow: #ffedbc;
  --grey: #333;
  --grey-icon: #d0d0d0;
  --grey-btn: #f5f5f5;
  --gradient: linear-gradient(15deg, #ed4264 15%, #ffedbc, #ed4264 70%);
  --bg-gradient: linear-gradient(
    15deg,
    #ffedbc -10%,
    #ed4264 40%,
    #ffedbc 110%
  );

  /*---------- Fonts ----------*/
  --body-font: "Montserrat", sans-serif;
  --p-font: "Hind", sans-serif;
}

/*---------- BASE ----------*/
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body,
button,
input,
textarea {
  font-family: var(--body-font);
}

/* Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

a {
  color: inherit;
}

body {
  color: var(--black);
}

h1,
h2 {
  font-weight: 700;
}

h3 {
  font-weight: 600;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

/*---------- REUSABLE CSS CLASSES ----------*/

.page-title {
  font-size: 3.5rem;
  text-align: center;
}

.p-text {
  font-family: "Hind", sans-serif;
  font-size: 1.125rem;
}

/*---------- LAYOUT ----------*/
section {
  margin-left: auto;
  margin-right: auto;
}

.page-wrapper {
  padding: 8rem 1rem;
  display: grid;
  row-gap: 4rem;
}

/*---------- BREAKPOINTS ----------*/
/* For extra large devices */
@media (min-width: 1280px) {
}

/* For large devices */
@media (min-width: 1024px) {
}

/* For medium devices */
@media (min-width: 744px) {
  .page-wrapper {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

/* From mobile and for small devices */
@media (min-width: 576px) {
}
