* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

img,
svg {
  display: block;
  max-width: 100%;
}

body {
  background: #fff;
  font-family: "Montserrat", sans-serif;
}

.main-wrapper {
  margin: 0 auto;
}

h2,
h3,
p {
  line-height: normal;
}

p {
  font-family: "Hind", sans-serif;
  font-size: 18px;
  font-weight: 400;
}

.wavy-line-wrapper {
  overflow: hidden;
}

.wavy-line-wrapper > img {
  position: relative;
  top: 5px;
  z-index: 1;
}

.wavy-line-wrapper > div {
  position: relative;
}

.wavy-line {
  max-width: none;
}
