@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Tenor+Sans&display=swap");

:root {
  --white: #fff;
  --black: #222;
  --green: #7fd8d1;
  --yellow: #fefaef;
  --pink: #ffdfe0;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", Helvetica, Noto Sans JP, 游ゴシック, Yu Gothic,
    Hiragino Sans, Meiryo, sans-serif;
}

h1 {
  font-family: "Tenor Sans";
  font-size: 48px;
}

h2 {
  font-family: "Tenor Sans";
  font-size: 42px;
  margin: 0;
}

p {
  font-size: 16px;
  line-height: 24px;
}

@media screen and (min-width: 768px) {
}
