:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
}

p {
  text-align: start;
  font-size: 18px;
  font-weight: 400;
  font-family: "Hind", sans-serif;
  color: white;
}

/*the biggest titel = tech, featured, my words, skills */
h1 {
  font-size: 56px;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  padding-top: 30px;
}

h2 {
  text-align: start;
  font-size: 32px;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
}

h3 {
  text-align: start;
  font-size: 24px;
  font-weight: 600;
  font-family: "Hind", sans-serif;
}

h4 {
  text-align: start;
  font-size: 24px;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
}


h5 {
  text-align: start;
  font-size: 20px;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  color: black;
}

h6 {
  text-align: start;
  font-size: 18px;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
}

.page {
  margin: 0;
  padding: 30px 5px;
}

@media (min-width: 744px) and (max-width: 1279px) {
  .page {
    padding: 30px 40px;
  }

  h2 {
    font-size: 56px;
    font-weight: 700;
    font-family: "Montserrat", sans-serif;
  }

  h6 {
    text-align: start;
    font-size: 24px;
    font-weight: 600;
    font-family: "Montserrat", sans-serif;
  }

  h3 {
    text-align: start;
    font-size: 24px;
    font-weight: 600;
    font-family: "Montserrat", sans-serif;
  }

  h1 {
    font-size: 56px;
    font-weight: 700;
    font-family: "Montserrat", sans-serif;
    padding-top: 50px;
  }
}

@media (min-width: 1280px) {
  .page {
    padding: 40px 180px;
  }

  h2 {
    font-size: 56px;
    font-weight: 700;
    font-family: "Montserrat", sans-serif;
  }

  h6 {
    text-align: start;
    font-size: 32px;
    font-weight: 600;
    font-family: "Montserrat", sans-serif;
  }

  h3 {
    text-align: start;
    font-size: 24px;
    font-weight: 600;
    font-family: "Montserrat", sans-serif;
  }

  h4 {
    text-align: start;
    font-size: 32px;
    font-weight: 600;
    font-family: "Montserrat", sans-serif;
  }

  h1 {
    font-size: 80px;
    font-weight: 700;
    font-family: "Montserrat", sans-serif;
    padding-top: 50px;
  }

  h3 {
    text-align: start;
    font-size: 32px;
    font-weight: 600;
    font-family: "Hind", sans-serif;
  }
}