/* import fonts */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto:wght@400;700&display=swap");

/* import typography and main layout styles */
@import "./styles/mainLayout.css";
@import "./styles/typography.css";

/* import sections and their specific styles */
@import "./styles/hero.css";
@import "./styles/cards.css";
@import "./styles/iconLinks.css";

/* Import styles specific to large screens */
@import "./styles/mediumDevices.css" (min-width: 860px);
@import "./styles/largeDevices.css" (min-width: 1400px);
