@font-face {
  font-family: SatoshiBold;
  font-weight: bold;
  src: url("./fonts/Satoshi-Bold.otf");
}

@font-face {
  font-family: SatoshiMedium;
  font-weight: medium;
  src: url("./fonts/Satoshi-Medium.otf");
}

@font-face {
  font-family: SatoshiBlack;
  font-weight: bolder;
  src: url("./fonts/Satoshi-Black.otf");
}

@font-face {
  font-family: EBGaramondRegular;
  src: url("./fonts/EBGaramond-Regular.ttf");
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* https://stackoverflow.com/questions/46012482/unwanted-white-space-on-right-side-in-mobile-view */
html,
body {
  overflow-x: hidden;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

.sr-hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

/* SPLASH SECTION */




/* TECH SECTION */



/* PROJECTS SECTION */

.projects-section {

}

.projects-section 

.projects-featured-projects {

}

.projects-project {

}

.projects-project-image 

.projects-project-text {

}

.projects-project-text 

.projects-project-text 

.projects-project-tags {

}

.projects-project-tag {

}

.projects-project-tag 

.projects-project-link-buttons {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.projects-project-link-buttons 

.projects-project-link-buttons 

.projects-project-link-buttons 

.projects-project-link-buttons 

.projects-project-link-buttons 
.projects-project-link-buttons 

.projects-project-link-button-view {


.projects-project-link-button-view

.projects-project-link-button-view

.projects-project-link-button-view
.projects-project-link-button-view

.projects-project-link-button-view

.projects-project-link-button-view

.projects-project-link-button-demo {

}

.projects-project-link-buttons 

.projects-project-link-buttons 

.projects-project-link-button-demo

.projects-project-link-button-demo

.projects-project-link-button-demo
.projects-project-link-button-demo

.projects-project-link-button-demo

.projects-project-link-button-demo

/* WORDS SECTION */

.words-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #fcedea;
  padding-top: 64px;
}

.words-section h1 {
  font-family: "Satoshi";
  font-style: normal;
  font-weight: 700;
  font-size: 72px;
  line-height: 97px;
  color: #eb5577;
  padding-bottom: 64px;
  margin: 0 24px;
}

.words-articles {
  margin: 0 24px;
}

.words-articles-article {
  padding-bottom: 98px;
}

.words-articles-article-image {
  padding-bottom: 40px;
}

.words-articles-article-image img {
  width: 327px;
}

.words-article-date {
  font-family: "Satoshi";
  font-style: normal;
  font-weight: 900;
  font-size: 20px;
  line-height: 27px;
  color: #eb5577;
}

.words-articles-article-text h2 {
  font-family: "Satoshi";
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 43px;
  color: #000000;
  padding-bottom: 24px;
}

.words-articles-article-text p {
  font-family: "EB Garamond";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 29px;

  color: #000000;
  padding-bottom: 24px;
}

.words-articles-article-link-buttons {
  display: flex;
  flex-direction: row;
}

.words-articles-article-link-button-read {
  background: #ffffff;
  border-radius: 40px;
  width: 178px;
  height: 48px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0px 16px 0px 0px;
  cursor: pointer;
}

.words-articles-article-link-button-read:hover {
  background: #ffd338;
}
.words-articles-article-link-button-read:focus {
  background: #ffd338;
}

.words-articles-article-link-button-read p {
  font-family: "Satoshi";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 27px;
  color: #333333;
  text-align: center;
}

.words-articles-article-link-button-read:hover p {
  color: #000000;
}
.words-articles-article-link-button-read:focus p {
  color: #000000;
}

.words-articles-article-link-button-read i {
  padding: 10px;
  color: #333333;
}

.words-articles-article-link-button-read:hover i {
  color: #000000;
}
.words-articles-article-link-button-read:focus i {
  color: #000000;
}

/* SKILLS SECTION */

.skills-section {
  background: #fdf2e4;
  padding-top: 64px;
}

.skills-section h1 {
  font-family: "Satoshi";
  font-style: normal;
  font-weight: 700;
  font-size: 80px;
  line-height: 108px;
  text-align: center;
  color: #0b24f5;
  padding-bottom: 64px;
}

.skills-categories-category {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style-type: none;
  padding: 0;
  font-family: "EB Garamond";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 32px;
  text-align: center;
  color: #000000;
}

.skills-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 16px;
  padding-bottom: 96px;
}

.skills-list h2 {
  display: flex;
  flex-direction: row;
  font-family: "Satoshi";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #ffffff;
  gap: 16px;
}
.skills-list .code {
  background-color: #eb5577;
}
.skills-list .toolbox {
  background-color: #2483e0;
}
.skills-list .more {
  background-color: #0b24f5;
}
.skills-list .upcoming {
  background-color: #6db486;
}

.skills-categories-category-list {
  list-style-type: none;

  font-family: "EB Garamond";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 32px;
  text-align: center;
  color: #000000;
}

/* CONTACT SECTION */

.contact-section {
  padding-top: 64px;
  display: flex;
  flex-direction: column;
  margin: 0 24px;
}

.contact-section h1 {
  font-family: "Satoshi";
  font-style: normal;
  font-weight: 900;
  font-size: 58px;
  line-height: 78px;
  text-align: center;
  color: #eb5577;
}

.contact-title-card {
  padding-top: 55px;
  padding-bottom: 40px;
}

.contact-title-card-picture {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding-bottom: 29px;
}

.contact-title-card-titles h2 {
  font-family: "Satoshi";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 38px;
  color: #0b24f5;
}
.contact-title-card-titles h3 {
  font-family: "Satoshi";
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 43px;
}

.contact-title-card-titles h4 {
  font-family: "Satoshi";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  color: #565656;
}

.contact-title-card-titles {
  display: flex;
  flex-direction: column;
}

.contact-information {
  display: flex;
  flex-direction: row;
  font-family: "Satoshi";
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  color: #000000;
}

.contact-section .link-icons {
  padding-top: 99px;
  padding-bottom: 55px;
}
