/* Marquee styles */
.marquee {
  --gap: 1rem;
  position: relative;
  width: 100%;
  display: flex;
  overflow: hidden;
  user-select: none;
  gap: var(--gap);
  background-color: rebeccapurple;
}

.marquee__content {
  flex-shrink: 0;
  display: flex;
  justify-content: space-around;
  gap: var(--gap);
  min-width: 100%;
  font-family: "Montserrat";
  font-size: 26px;
  font-weight: 600;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% - var(--gap)));
  }
}

/* Pause animation when reduced-motion is set */
@media (prefers-reduced-motion: reduce) {
  .marquee__content {
    animation-play-state: paused !important;
  }
}

/* Enable animation */
.enable-animation .marquee__content {
  animation: scroll 10s linear infinite;
}

/* Pause on hover */
.marquee--hover-pause:hover .marquee__content {
  animation-play-state: paused;
}

@keyframes scroll-abs {
  from {
    transform: translateX(calc(100% + var(--gap)));
  }
  to {
    transform: translateX(0);
  }
}

/* Other page demo styles */
.marquee__content > * {
  flex: 0 0 auto;
  color: white;
  background: rebeccapurple;

  border-radius: 0.25rem;
  text-align: center;
}

.marquee {
  border: 2px dashed lightgray;
}


