/* .blue {
    width: 408px;
    height: 280px;
    border-bottom: 20px solid var(--color-1);
    border-left: 20px solid var(--color-1);  
}

.pink {
    width: 408px;
    height: 280px;
    border-bottom: 20px solid var(--color-7);
    border-left: 20px solid var(--color-7); 
} */