.projects {
    margin-bottom: 64px;
}

.tech-h1 {
    color: white; 
}

.presentation-h1 {
    font-size: 32px; 
}

.article-h1 {
    color: #FF4575;
}

.skills-h1 {
    color: white; 
}


/* ------------ MEDIA QUERIES ------------ */
/* ------------ Tablet only ------------ */
@media (max-width: 1279px) and (min-width: 744px) {
    .presentation-h1 {
       font-size: 56px;
    }
}

/* ------------ Desktop only ------------ */
@media (min-width: 1280px) {
    .presentation-h1 {
       font-size: 80px;
    }

    .tech-h1 {
        font-size: 80px; 
    }
}