.projects {
    margin-bottom: 64px;
}

.tech-h1 {
    color: white; 
}

.presentation-h1 {
    font-size: 32px; 
}


/* ------------ MEDIA QUERIES ------------ */
/* ------------ Tablet only ------------ */
@media (max-width: 1279px) and (min-width: 744px) {
    .presentation-h1 {
       font-size: 56px;
    }
}