.talk {
  display: flex;
  flex-direction: column;
  place-items: center;
}

.talk h2 {
  font-size: 80px;
  font-weight: 700;
  color: rebeccapurple;
}

.talk p {
  font-family: "Montserrat";
  font-size: 32px;
  font-weight: 600;
  margin: 5px;
}

.talk img {
  margin: 3rem 0;
  width: 164px;
  height: 164px;
}

.socialmedia img {
  width: 32px;
  height: 32px;
  margin: 4rem 20px 6rem;
}

/* Tablet */
@media only screen and (max-width: 1280px) {
  .talk h2 {
    font-size: 56px;
  }

  .talk p {
    font-size: 24px;
  }
}

/* Phone */
@media only screen and (max-width: 745px) {
  .talk p {
    font-size: 18px;
    text-wrap: wrap;
    word-wrap: break-word;
  }
}
