.btn-container {}

.card-btn {
    display: flex;
    height: 3rem;
    width: 100%;
    padding: 0rem 1rem;
    justify-content: center;
    align-items: center;
    border-radius: 0.75rem;
    border: 2px solid var(--color-primary);
    background: var(--color-neutral);
    cursor: pointer;
    transition: transform 0.3s ease;
}

.card-btn a {
    color: var(--color-primary);
    text-align: center;
    font-family: Poppins;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 500;
    text-decoration: none;
}

.card-btn:hover {
    transform: scale(1.05);
}

.orange {
    background: var(--color-primary);
}

.orange a {
    color: var(--color-neutral);
}