.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  font-family: var(--font-family-headings);
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size-medium);
  text-decoration: none;

  border: 2px solid transparent;
  border-radius: var(--border-radius-md);

  cursor: pointer;
  padding: var(--spacing-3) var(--spacing-6);
  transition: 0.25s ease-out;
  transition-property: color, border, background;

  @media screen and (min-width: 744px) {
    padding: var(--spacing-3) var(--spacing-7);
  }

  @media screen and (min-width: 1200px) {
    padding: var(--spacing-3) var(--spacing-7) calc(var(--spacing-3) + 0.175rem);
  }

  &.small {
    font-size: var(--font-size-small);
    padding: var(--spacing-2) var(--spacing-5);
  }

  &.large {
    font-size: var(--font-size-large);
    padding: var(--spacing-3) var(--spacing-7);

    @media screen and (min-width: 744px) {
      padding: var(--spacing-4) var(--spacing-8);
    }
  }

  svg {
    width: 0;
    height: 1.5rem;
    transition: all 0.2s ease-out;

    .small & {
      height: 1rem;
    }

    .large & {
      height: 2rem;
    }

    @media screen and (min-width: 744px) {
      height: 1.5rem;

      .small & {
        height: 1rem;
      }

      .large & {
        height: 2rem;
      }
    }

    @media screen and (min-width: 1200px) {
      height: 2rem;

      .small & {
        height: 1.5rem;
      }

      .large & {
        height: 2.5rem;
      }
    }
  }

  &:hover,
  &:focus-visible {
    svg {
      width: 2rem;
      margin-left: 0.5rem;

      .small & {
        width: 1.5rem;
      }

      .large & {
        width: 2.5rem;
      }
    }
  }

  &.primary {
    color: var(--color-button-primary-text);
    background-color: var(--color-button-primary-bg);
    border-color: transparent;

    svg {
      path {
        fill: var(--color-button-primary-text);
      }
    }
  }

  &.secondary {
    color: var(--color-button-secondary-text);
    border-color: var(--color-button-secondary-border);

    svg {
      path {
        fill: var(--color-button-secondary-text);
      }
    }
  }

  &.inverted {
    color: var(--color-button-inverted-text);
    border-color: var(--color-button-inverted-border);

    &:focus-visible {
      outline-color: var(--color-neutral-50);
    }

    svg {
      path {
        fill: var(--color-button-inverted-text);
      }
    }
  }

  &:focus-visible {
    outline: 2px solid var(--color-neutral-900);
    outline-offset: 2px;
  }
}

.button-group {
  display: flex;
  flex-flow: row wrap;
  gap: var(--spacing-4);
}
