.pill {
  position: relative;
  display: inline-flex;
  align-items: center;
  gap: var(--spacing-4);
  padding-right: var(--spacing-4);
  background-color: var(--color-background-subtle-alternative);
  border: 0.25rem solid var(--color-background-subtle-alternative);
  border-radius: 6rem;
  font-size: var(--font-size-heading-sm);
  font-weight: var(--font-weight-regular);

  @media screen and (min-width: 1200px) {
    gap: var(--spacing-8);
    padding-right: var(--spacing-8);
  }
}

.pill__avatar {
  border-radius: 6rem;
  background-color: var(--color-neutral-50);
  border: 0.25rem solid var(--color-background-subtle-alternative);

  height: 2.5rem;
  width: 2.5rem;

  @media screen and (min-width: 1200px) {
    height: 4.5rem;
    width: 4.5rem;
  }

  &:hover {
    + .pill__avatar--hover {
      display: block;
    }
  }
}

.pill__text {
  line-height: 1;
}
