.tech {
    background-color: #0B24F5;
    color: #FFFFFF;
    padding: 310px 500px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    gap: 50px;

}

.tech h1,
.tech h2 {
    color: #FFFFFF;
}

.tech h2 {
    font-family: Hind;
    line-height: 48px;
    text-align: left;
}