.tech {
    height: 100vh;
    display: flex;
    /* padding: 128px 16px; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 64px;
    background-color: blue
}

.tech h2 {
    color: #FFF;
    text-align: center;
    font-family: Montserrat;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.tech p {
    color: #FFF;
    font-family: Hind;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}