* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.tech-container {
    color: white;
    background-color: blue;
}

.tech-wrapper {
    padding: 128px 16px;
}

.tech-heading {
    text-align: center;
    color: #FFF;
    text-align: center;
    font-family: Montserrat;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.tech-knowledge {
    margin-top: 64px;
    color: #FFF;
    font-family: Hind;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}