.tech {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--primary);
    color: white;
}

.tech-wrapper {
    max-width: 90%;
    margin: 0 auto;
    /* Center the header horizontally */
    padding: 64px 0; 
}

.tech-heading {
    padding-bottom: 64px;
}