.contactSection {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contactPic {
  width: 164px;
  height: 164px;
}
.contactSectionContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 64px;
}
.contactInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}
.socialLinks {
  display: flex;
  align-items: flex-end;
  gap: 32px;
  margin-bottom: 15px;
}
.contactInfo a {
  color: #000;
  font-size: 24px;
  font-weight: 600;
  text-decoration: none;
}
.contactSectionContainer h1 {
  color: #3d4436;
  text-align: center;
  font-size: 56px;
  font-weight: 700;
  line-height: 39.01px;
}
.contactSectionContainer h2 {
  font-size: 24px;
}
.socialLinks img:hover {
  filter: invert(100%);
}

.ticker-wrap {
  display: flex;
  width: 100%;
  height: 114px;
  margin: 0 auto;
  overflow: hidden;
  white-space: nowrap;
  background-color: #3d4436;
  flex-direction: row;
  align-items: center;
}
.ticker {
  margin-top: 5px;
  animation: marquee 20s linear infinite;
}
.item-collection-1 {
  animation: swap 20s linear infinite;
}
.item-collection-2 {
  animation: swap 20s linear infinite;
}

.item {
  padding: 0 1rem;
  color: white;
  font-weight: 800;
  font-size: 26.038px;
  line-height: 37.874px;
}
.ticker:hover {
  animation-play-state: paused;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

@media (min-width: 669px) and (max-width: 1024px) {
  .contactPic {
    width: 164px;
    height: 164px;
  }
}
@media (min-width: 1024px) {
  .contactSection {
    padding: 54px 0;
  }
}
