.contactSection {
  box-sizing: border-box;
  display: flex;
  padding: 128px 32px 128px 33px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contactSectionContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 64px;
}
.contactInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}
.socialLinks {
  display: flex;
  align-items: flex-end;
  gap: 32px;
}
.contactInfo a {
  color: #000;
  font-size: 24px;
  font-weight: 600;
  text-decoration: none;
}
.contactSectionContainer h1 {
  color: #9da993;
  text-align: center;
  font-size: 56px;
  font-weight: 700;
}

.socialLinks img:hover {
  filter: invert(100%);
}
footer {
  display: flex;
  /* width: 1512px; */
  height: 114px;
  justify-content: flex-end;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: #e4b4b4;
  color: white;
  white-space: nowrap;
}
.loopName {
  color: #fff;
  font-size: 26.038px;
  line-height: 37.874px;
  animation: moveX 5s linear infinite;
}
@keyframes moveX {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }
  101% {
    transform: translateX(-100%);
  }
}
.loopName:hover {
  animation-play-state: paused;
}
