body {
    margin: 0;
}

.portfolio-section:nth-child(2n) {
    background-color= #f4f4f4;
}

.container {
    width: 320px;
    margin: 0 auto;

}

.portfolio-header-container {
    /* text-align: center; */
    display: flex; 
    justify-content: center;

}

.portfolio-heading {
    background-color: #fa382f;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    width: fit-content;
    padding: 3px;
}
.image-container {
    position:relative;

}

.overlay {
    position: absolute; 
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(156, 166, 197, 0.5);


}

.image {
    display: block;
    width: 100%;
}


@media (min-width: 768px) {
    .container {
        width: 760px;
        margin: 0 auto;
    
    }


}




/* .portfolio-section.nth-child(2n + 1) {
} */