/* Header container */
.header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 90%;
    margin: 64px auto; /* Centered horizontally */
    padding: 64px 16px; /* 64px top and bottom padding, 16px left and right padding */
  }
  
  /* Profile image */
  .profile-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 2px solid whitesmoke;
    overflow: hidden;
    margin: 32px 0; /* 32px margin at the top, centered horizontally */
  }
  
  .profile-img img {
    width: 100%;
  }
  
  /* H2 */
  h2 {
    margin: 32px 0; /* 32px margin at the top, centered horizontally */
  }
  
  /* Heading component */
  .header-heading {
    margin: 32px 0; /* 32px margin at the top, centered horizontally */
  }
  
  /* Paragraph */
  p {
    margin: 32px 0; /* 32px margin at the top, centered horizontally */
  }
  
  /* Arrow animation/icon */
  .arrow-container {
    position: relative;
    animation: moveUpDown 2s linear infinite;
    margin: 32px 0; /* 32px margin at the top, centered horizontally */
  }
  
  @keyframes moveUpDown {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px); /* Adjust the distance the arrow moves */
    }
  }