.image-section {
  display: grid;
  grid-column: span 4;
  position: relative;
  max-width: 100%;
  padding: 1rem;
  box-sizing: border-box;
}

.image-card {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10rem;
  width: 9rem;
  max-width: 100%;
}

.image-card img {
  border-radius: 0.75rem;
  width: 9.83rem;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.left-image {
  grid-column: 1 / span 2;
  justify-self: center;
  transform: rotate(-4.695deg);
}

.center-image {
  width: 9.875rem;
  grid-column: 2 / span 2;
  justify-self: center;
  align-self: center;
  z-index: 2;
  position: absolute;
  top: -1%;
}

.right-image {
  grid-column: 3 / span 2;
  justify-self: center;
  transform: rotate(4.695deg);
}

.image-card:hover {
  transform: scale(1.01);
}

/* Tablet Styling */
@media (min-width: 768px) {
  .image-section {
    grid-column: span 8;
    padding-bottom: 4rem;
  }

  .image-card {
    width: 20rem;
    height: 21.25rem;
  }

  .image-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

/* Desktop Styling */
@media (min-width: 1024px) {
  .image-section {
    grid-column: 3 / span 8;
    justify-content: center;
    padding-bottom: 4rem;
  }

  .image-card {
    width: 22.375rem;
    height: 23.875rem;
  }
}