/* Default (Mobile) */
.project-section {
  display: flex;
  padding: 4rem 1rem;
  flex-direction: column;
  align-items: center;
  align-self: stretch;
  grid-column: 1 / -1;
  gap: 4rem;
}

.project-cards {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}