/* Default (Mobile) */
.skills-section {
  display: flex;
  padding: 4rem 1rem;
  flex-direction: column;
  gap: 1rem;
  grid-column: 1 / -1;
}

.skills-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5rem;
}

/* Tablet */
@media (min-width: 768px) and (max-width: 1023px) {
  .skills-section {
    padding: 8rem 1.5rem;
  }

  .skills-container {
    width: 100%;
    align-items: center;
  }
}

/* Desktop */
@media (min-width: 1024px) {
  .skills-section {
    padding: 8rem 0rem;
    align-items: center;
  }

  .skills-container {
    width: 90%;
    flex-direction: row;
    justify-content: center;
  }
}