.article-container {
  background-color: var(--thirdly-color);
  border-top: 3px solid var(--firstly-color);
}
.purple-main-heading {
  margin-bottom: 20px;
  text-align: center;
  font-family: Montserrat;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.article-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 680px;
  margin: 3rem auto;
}

@media (min-width: 1025px) {
  .article-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
