.article-wrapper{
display: grid;
background-color: var(--thirdly-color);
margin:50px -70px;
padding: 50px;
border-top: 3px solid var( --firstly-color) ;
}


/* @media (min-width: 667px) and (max-width: 1024px){

}

@media (min-width: 1025px){
 
    
} */