
.articles-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%; 
    padding-bottom: 20px;
    padding-left: 0; /* Potentially unnecessary if you're not seeing any effects */
    margin-left: 0;
    background-color: pink;
    padding-top:35px; 
    position: relative;
    z-index: 0;
}

.wavy-line {
    display: block;
    width: 100%;
    overflow: hidden;
   /* background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 176 11' fill='none'><path d='M2 5.2453C8.87266 2.25157 14.5999 2.25157 19.1816 5.2453C23.7634 8.23904 29.4906 8.23904 36.3633 5.2453C43.236 2.25157 48.9632 2.25157 53.5449 5.2453C58.1267 8.23904 63.8539 8.23904 70.7266 5.2453C77.5993 2.25157 83.3265 2.25157 87.9082 5.2453C92.49 8.23904 98.2172 8.23904 105.09 5.2453C111.963 2.25157 117.69 2.25157 122.272 5.2453C126.853 8.23904 132.581 8.23904 139.453 5.2453C146.326 2.25157 152.053 2.25157 156.635 5.2453C161.217 8.23904 166.944 8.23904 173.816 5.2453' stroke='%23FF4575' stroke-width='5.99997'/></svg>");
   
    background-repeat: repeat-x;
    background-size: 176px auto; /* the original width of the SVG and automatic height */
   /* height: 11px; /* the original height of the SVG */
}

.wavy-line svg {
    width: 100%;
    display: block;
}

.articles-wrapper h1 {
    margin-top: 130px;
    margin-bottom: 130px;
}

.articles-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 98px;
    padding-bottom: 150px;   
}

.article-card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
 width: 564px;
 overflow: hidden;
}

.article-card p {
    font-size: 18px;
    font-weight: 400;
}

.article-card h3 {
margin: 0;
}

.article-image {
    width: 100%;
    height: auto;
    object-fit: cover;
    margin-bottom: 10px;
}

.publish-date {
    background-color: black;
    color: white;
    padding: 2px 6px;   /* Adjust as per your preference */
    border-radius: 4px; /* Optional: to round the corners */
    font-size: 12px;    /* Adjust as per your preference */
    margin-bottom: 8px; /* Space between date and title */
}



