.tech-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 128px 16px;
  align-items: center;
  background-color: var(--firstly-color);
  gap: 64px;
  

} 

.white-heading{
  color: #FFF;
  font-family: Montserrat;
  font-size: 80px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.tech-paragraph{
  color: #FFF;
  font-family: Hind;
font-size: 24px;
font-style: normal;
font-weight: 600;
line-height: normal;
}

@media (min-width: 667px) and (max-width: 1024px){
  .tech-paragraph{
  text-align: center;
  }
  .white-heading{
 
    font-size: 56px;
 
  }
}

@media (min-width: 1025px){
 .tech-wrapper{
    display: flex;
    flex-direction: row;
    height: 600px;
    padding: 0px 244px 0px 346px;
    justify-content: flex-end;
    align-items: center;
    gap: 124px;
    flex-shrink: 0;
    background-color: var(--firstly-color);
  
  }
}

