.tech-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 128px 16px;
  align-items: center;
  background-color: var(--firstly-color);
  gap: 64px;
  margin: 0px -70px; 
} 

.white-heading{
  color: #FFF;
  font-family: Montserrat;
  font-size: 80px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.tech-paragraph{
color: #FFF;
font-family: Hind;
font-size: 24px;
font-style: normal;
font-weight: 600;
line-height: normal;
text-align: left;
}

@media (min-width: 667px) and (max-width: 1024px){
  .tech-paragraph{
  text-align: center;
  }
  .white-heading{
 
    font-size: 56px;
 
  }
}

@media (min-width: 1025px){
 .tech-wrapper{
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap:2rem;
background-color: var(--firstly-color);
  
  }

  .white-heading, .tech-paragraph{
    grid-column: span 6;
  }
}

