.tech-section {
  padding: 128px 16px;
  background-image: linear-gradient(
    var(--color-3),
    var(--color-4),
    var(--color-5)
  );
}

.tech-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 16px;
  row-gap: 64px;
  grid-template-rows: auto;
  grid-template-areas:
    "heading heading heading heading"
    "tech tech tech tech";
}

.title-wrapper {
  grid-area: heading;
}

.tech-wrapper {
  grid-area: tech;
}

/*Media Queries*/
@media all and (min-width: 668px) {
  .tech-container {
    grid-template-columns: repeat(8, 1fr);
    grid-template-areas:
      "heading heading heading heading heading heading heading heading"
      " tech tech tech tech tech tech tech tech";
  }

  .tech-section {
    padding: 256px 32px;
  }
}

@media all and (min-width: 1024px) {
  .tech-container {
    grid-template-columns: repeat(12, 1fr);
    grid-template-areas: ". heading heading . tech tech tech tech tech tech tech .";
  }

  .tech-section {
    padding: 256px 32px;
  }
}
