.tech-section {
  background-color: #9cafaa;
  width: 100%;
  height: 550px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tech-container {
  width: 800px;
}

.tech-heading {
  display: flex;
  align-items: center;
}

.tech-heading h1 {
  font-family: "Philosopher", sans-serif;
  font-size: 50px;
  margin-right: 80px;
}

.tech-heading p {
  font-family: "Mulish", sans-serif;
  font-weight: 500;
  font-size: 22px;
}

/* Media query */
/* Screens up to 480px */
@media (max-width: 480px) {
  .tech-container {
    margin-left: 10px;
    margin-right: 10px;
  }

  .tech-heading {
    flex-direction: column;
  }

  .tech-heading p {
    text-align: left;
  }

  .tech-heading h1 {
    margin-right: 0;
    margin-bottom: 10px;
  }
}

/* Screens up to 1000px */
@media (max-width: 1000px) {
  .tech-heading {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .tech-heading h1 {
    margin-right: 0;
    margin-bottom: 10px;
  }
}
