.tech-section {
  background-color: var(--firstly-color);
  color:white;
  padding: 128px 25px;

}
.tech-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 64px;
}
.headings-tech {
  display: flex;
  align-items: center;
  justify-content: center;
  
}
.white-heading{
 color: white;
}
.tech-paragraph{
  font-family: "Hind", sans-serif;
    font-weight: 600;
    font-size: 24px; 
}

@media (min-width: 667px) and (max-width: 1024px){
  .tech-paragraph{
    max-width: 600px ;
    text-align: center;
  }
  .white-heading{
    font-size: 56px;
 
  }
  .tech-wrapper{
    align-items: center;
}
}

@media (min-width: 1025px){
  .tech-section{
    display: flex;
    justify-content: center;

}
.tech-wrapper {
    width: 840px;
    display: flex;
    flex-direction: row;
   
}
.tech-paragraph{
  max-width: 500px;
}
.white-heading{
  font-size: 56px;

}
}

