.tech-section {
  padding: 200px;
  background: var(--primary);
  justify-content: center;
  align-items: center;
}

.tech-wrapper {
  display: flex;
  align-items: center;
  gap: 124px;
}

.tech-heading {
  color: #fff;
  font-family: var(--heading-font);
  font-size: 80px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.tech-paragraph {
  color: #fff;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  font-family: var(--paragraph-font);
}

/* ------------ MEDIA QUERIES ------------ */
/* ------------ Tablet only ------------ */
@media (max-width: 1024px) {
  .tech-section {
    padding: 256px 32px;
  }

  .tech-wrapper {
    flex-direction: column;
    gap: 64px;
  }

  .tech-paragraph {
    max-width: 616px;
  }
}

/* ------------ Desktop only ------------ */
@media (min-width: 1200px) {
  .tech-section {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .tech-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 124px;
  }

  .tech-paragraph {
    text-align: left;
  }
}