/* Component 5 - Skills */

.skills-section {
  background-color: #0b24f5;
  color: #ffffff;
  padding-left: 2em;
}

.skills-section h1 {
  text-align: center;
  padding-top: 1em;
}

/* grid parent for skills */

.skills-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.skills-container ul {
  list-style-type: none;
}
