/*default styles for mobile*/
@media screen and (max-width: 667px) {
  .skillsBox {
    grid-column: span 4;
  }

  .skillsSection {
    background-color: #0b24f5;
    color: #ffffff;
  }

  .skillsSection h1 {
    text-align: center;
    padding-top: 2em;
    padding-bottom: 0.5em;
    color: white;
    font-family: "Montserrat", sans-serif;
    font-size: 56px;
    font-weight: 700;
  }

  .skillsSection h2 {
    font-size: 24px;
    font-weight: 600;
    padding-bottom: 1em;
    text-align: center;
  }

  .skillsSection li {
    font-size: 18px;
    font-weight: 400;
    text-align: center;
  }

  .skillsContainer {
    grid-template-columns: repeat(4, 1fr);
    background-color: #0b24f5;
    color: #ffffff;
    display: grid;
    justify-content: center;
    padding: 0 5em 8em 5em;
  }

  .skillsBox {
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 1em;
  }

  .skillsContainer ul {
    list-style-type: none;
  }
}

/*media query for tablet*/
@media screen and (min-width: 667px) and (max-width: 1023px) {
  .skillsBox {
    grid-column: span 2;
  }

  .skillsSection {
    background-color: #0b24f5;
    color: #ffffff;
  }

  .skillsSection h1 {
    text-align: center;
    padding-top: 2em;
    padding-bottom: 0.5em;
    color: white;
    font-family: "Montserrat", sans-serif;
    font-size: 56px;
    font-weight: 700;
  }

  .skillsSection h2 {
    font-size: 24px;
    font-weight: 600;
    padding-bottom: 1em;
    text-align: left;
  }

  .skillsSection li {
    font-size: 18px;
    font-weight: 400;
    text-align: left;
  }

  .skillsContainer {
    grid-template-columns: repeat(4, 1fr);
    background-color: #0b24f5;
    color: #ffffff;
    display: grid;
    justify-content: center;
    padding: 0 5em 8em 5em;
  }

  .skillsBox {
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 1em;
  }

  .skillsContainer ul {
    list-style-type: none;
  }
}

/*media query for desktop - 2 rows */
@media (min-width: 1024px) {
  .skillsSection {
    background-color: #0b24f5;
    color: #ffffff;
  }

  .skillsSection h1 {
    text-align: center;
    padding-top: 2em;
    padding-bottom: 0.5em;
    color: white;
    font-family: "Montserrat", sans-serif;
    font-size: 80px;
    font-weight: 700;
  }

  .skillsSection h2 {
    font-size: 32px;
    font-weight: 600;
    padding-bottom: 1em;
    text-align: left;
  }

  .skillsSection li {
    font-size: 18px;
    font-weight: 400;
    text-align: left;
  }

  .skillsContainer {
    grid-template-columns: repeat(4, 1fr);
    background-color: #0b24f5;
    color: #ffffff;
    display: grid;
    justify-content: center;
    padding: 0 15em 8em 15em;
  }

  .skillsBox {
    display: flex;
    text-align: center;
    justify-content: center;
  }

  .skillsContainer ul {
    list-style-type: none;
  }
}
