/* Component 5 - Skills */

.skills-section {
  background-color: #0b24f5;
  color: #ffffff;
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.skills-section h1 {
  text-align: center;
  padding-top: 1em;
}

/* grid parent for skills */

.skills-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  max-width: 60%;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  text-align: center;
}

.skills-container ul {
  list-style-type: none;
}
