.skills-container {
  display: grid;
  grid-template-rows: auto auto;
  gap: 20px;
  padding: 20px;
  background-color: #0B24F5;
  color: white;
}

.skills-container h3, 
.skills-container ul {
  margin: 0;
  padding: 0;
}

.skills-container h3[data-title="code"] {
  background-color: #e95778;
}

.skills-container h3[data-title="toolbox"] {
  background-color: #2c85dd;
}

.skills-container h3[data-title="upcoming"] {
  background-color: #6fb387;
}

.skills-container h3[data-title="more"] {
  background-color: #fedd45;
  color: #0B24F5;
}

.skills-container h3 {
  display: inline-block;
  padding: 0 2px;
}

.content {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.content ul {
  list-style-type: none;
}

@media(min-width: 744px) {
  .content {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media(min-width: 1280px) {
  .content {
    grid-template-columns: repeat(4, 1fr);
  }
}
