.article-list-wrapper {
  padding: 128px 16px;
  text-align: left;
  background-color: #ffecea;
}

.my-words-title {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 70px;
  color: #ff4575;
  padding-bottom: 100px;
  text-align: left;
  padding-left: 120px;
}

.section-head-container {
  max-width: 500px;
}

.articles-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 32px;
  padding: 0 16px;
}

.article-card {
  text-align: center;
  width: 500px;
}
