/* src/components/SocialIcons.css */
.social-icons {
  display: flex;
  justify-content: center;
  gap: 32px;
}

.link-github:hover {
  content: url("/src/assets/btn-sociallink-github-hover.svg");
}

.link-linkedin:hover {
  content: url("src/assets/btn-sociallinks-linkedin-hover.svg");
}
