/* src/components/SocialIcons.css */
.social-icons {
  display: flex;
  justify-content: center;
  gap: 32px;
  /* fill: #d0d0d0; */
}

.svg-fill {
  fill: #d0d0d0; /* This will inherit the color from the parent element */
}
.social-icons a {
  margin: 0 10px;
}

.social-icons svg {
  cursor: pointer;
  transition: fill 0.2s; /* Add transition for smooth color change */
}

.svg-fill:hover {
  fill: #000000; /* Change the fill color on hover */
}
