.intro-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 90%;
  margin: 0 auto;
  padding: 64px 0;
  gap: 32px;
}

h4 {
  font-family: var(--heading-font);
  color: var(--text);
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
}

h2 {
  font-size: 80px;
  font-style: normal;
  font-weight: 700;
  color: var(--primary);
}

.profile-content {
  grid-column: 2 / span 2;
  display: flex;
  gap: 22px;
  align-items: center;
}

.profile-text {
  flex: 1;
}

p {
  color: var(--text);
  font-family: var(--paragraph-font);
  font-size: 18px;
  font-weight: 400;
  line-height: 28.82px;
  text-align: left;
}

/* ------------ MEDIA QUERIES ------------ */
/* ------------ Tablet only ------------ */

@media (max-width: 1279px) and (min-width: 744px) {
  .intro-section {
    margin: 0 auto;
    padding: 128px 64px 128px 64px;
    display: grid;
    /*  grid-template-columns: 1fr 430px; */
    grid-template-rows: auto;
  }

  .headings {
    grid-column: 1 / span 2;
    grid-row: 1;
  }

  .profile-image {
    grid-row: 2;
  }

  .intro-text {
    grid-row: 2;
    grid-column: span 2;
  }

  .arrow-container {
    grid-row: 3;
    justify-self: center;
  }
}

/* ------------ Desktop Only ------------ */
@media (min-width: 1280px) {
  .intro-section {
    margin: 0 auto;
    padding: 332px 220px 64px 220px;
    display: grid;
    grid-template-columns: 1fr 600px;
    grid-template-rows: auto 1fr auto;
    max-width: 840px;
  }

  .headings {
    grid-column: 1 / span 2;
    grid-row: 1;
  }

  .profile-image {
    grid-row: 2;
  }

  .intro-text {
    grid-row: 2;
    grid-column: 2;
  }
}