.intro-section {
  width: 100%;
  padding: 64px 16px;
  justify-content: center;
  align-items: center;
}
.intro-container {
  width: 343px;
  gap: 32px;
  align-items: center;
}

.intro-wrapper {
  align-self: stretch;
}

.text-wrapper {
  justify-content: center;
  align-items: center;
  gap: 22px;
  align-self: stretch;
}

.arrow-container {
  padding: 0 16px 64px 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 0;
  animation: arrowJump 1s infinite;
}

/* .intro-image {
  width: 164px;
  height: 164px;
  align-items: center;
  border-radius: 164px;
  background: url(../portrait.jpg) lightgray 50% / cover no-repeat;
} */
