.intro-section {
  position: relative;
  flex-direction: column;
  align-items: center;
  /*   max-width: 90%;
  margin: 0 auto; */
  gap: 32px;
  /*  padding: 332px 234px 63px 234px; */
}


.intro-heading {
  color: var(--text);
  font-size: 32px;
}

.intro-subheading {
  font-family: Montserrat;
  font-size: 80px;
  font-style: normal;
  color: var(--primary);
}

/* ------------ ARROW ------------ */
.arrow-container {
  position: absolute;
  bottom: -32px;
  left: 50%;
  transform: translate(-50%);
  cursor: pointer;
}

@keyframes arrowJump {

  0%,
  100% {
    transform: translateY(0);
    /* move up and down/* (vertically) */
  }

  50% {
    transform: translateY(-20px);
    /* Move up by 20px */
  }
}

.arrow {
  width: 27px;
  height: 68px;
  flex-shrink: 0;
  cursor: pointer;
  animation: arrowJump 1s infinite;
}

/* ------------ MEDIA QUERIES ------------ */
/* ------------ Tablet only ------------ */

@media (max-width: 1279px) and (min-width: 744px) {
  .intro-section {
    margin: 0 auto;
    padding: 128px 64px 128px 64px;
    display: grid;
    /*  grid-template-columns: 1fr 430px; */
    grid-template-rows: auto;
  }

  .headings {
    grid-column: 1 / span 2;
    grid-row: 1;
  }

  .profile-image {
    grid-row: 2;
  }

  .intro-text {
    grid-row: 2;
    grid-column: span 2;
  }
}

/* ------------ Desktop Only ------------ */
@media (min-width: 1280px) {
  .intro-section {
    margin: 0 auto;
    padding: 332px 220px 64px 220px;
    display: grid;
    grid-template-columns: 1fr 600px;
    grid-template-rows: auto 1fr auto;
    max-width: 840px;
  }

  .headings {
    grid-column: 1 / span 2;
    grid-row: 1;
  }

  .profile-image {
    grid-row: 2;
  }

  .intro-text {
    grid-row: 2;
    grid-column: 2;
  }

  .arrow {
    grid-row: 4;
    justify-self: center;
  }

}